XmlSchemaClassGenerator.Tests/xsd/netex/wsdl_model/siri_wsConsumer-Services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com) by Christophe Duquesne (Dryade) -->
<!-- edited with XMLSPY v2011 (http://www.xmlspy.com) by Christophe Duquesne (Aurige- www.aurigetech.com) -->
<xsd:schema xmlns="http://wsdl.siri.org.uk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://wsdl.siri.org.uk" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.3" id="siriWS">
	<xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="../siri.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne, Aurige, Guyancourt FRANCE</Contributor>
				<Contributor>Michel Etienne, Cityway, Paris FRANCE</Contributor>
				<Contributor>Robin Vettier, RATP, Paris FRANCE</Contributor>
				<Contributor>Nicholas Knowles, KIZOOM LTD., London EC4A 1LT</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>&gt;Drafted for version 1.0  CEN TC278 WG3 SG7  Editor Christophe Duquesne, Aurige </Creator>
				<Date>
					<Created>2012-05-29</Created>
				</Date>
				<Description>
					<p>SIRI is a European CEN technical standard for the exchange of real time information.</p>
					<p>SIRI is defined by XMLschemas and  comprises a general protocol for communication, and a modular set of functional services as follows :
                        <ul><li>Production Timetable:  Exchanges planned timetables.</li><li>Estimated Timetable:  Exchanges real-time updates to timetables.</li><li>Stop Timetable: Provides timetable information about stop departures and arrivals.</li><li>Stop Monitoring: Provides real time information about stop departures and arrivals.</li><li>Vehicle Monitoring: Provides real time information about vehicle movements.</li><li>Connection Timetable: Provides timetabled information about feeder and distributor arrivals and departures at a connection point.</li><li>Connection Monitoring: Provides real time information about feeder and distributor arrivals and departures at a a connection point. Can be used to support "Connection protection".</li><li>General Message: Exchanges general information messages between participants</li><li>Facility Monitoring: Provides real time information about facilities.</li><li>SItuation  Monitoring: Provides real time information about Incidents.</li></ul>
					</p>
					<p>SIRI supports both direct request/response and publish subscribe patterns of interaction.</p>
					<p>SIRI includes common mechanisms and messages for system status management.</p>
					<p>SIRI documents can be exchanged using http post, and/or SOAP.  
					This file provides the necessary service XSD structure to have the Document/Literal Wrapped encoding style fully compatible with the RPC/Literal style</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.siri.org.uk/schema/2.0}siri.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.siri.org.uk/schema/2.0/siri_wsCOnsumer-Document.wsdl</Requires>
				</Relation>
				<Rights>Unclassified
                                      <Copyright>CEN, VDV, RTIG  2004-2012</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the VDV, RTIG XML and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 2.0 Draft</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport.
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>XSD elements for WSDL Consumer (Document Wrapped style) interface for SIRI XML schema. Service Interface for Real Time Information relating to Public Transport Operations. </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ProductionTimetable -->
	<xsd:complexType name="WsProductionTimetableNotificationStructure">
		<xsd:sequence>
			<xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Notification" type="siri:ProductionTimetableDeliveriesStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifyProductionTimetable" type="WsProductionTimetableNotificationStructure"/>
	<!-- EstimatedTimetable -->
	<xsd:complexType name="WsEstimatedTimetableNotificationStructure">
		<xsd:sequence>
			<xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Notification" type="siri:EstimatedTimetableDeliveriesStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifyEstimatedTimetable" type="WsEstimatedTimetableNotificationStructure"/>
	<!-- StopTimetable -->
	<xsd:complexType name="WsStopTimetableNotificationStructure">
		<xsd:sequence>
			<xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Notification" type="siri:StopTimetableDeliveriesStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifyStopTimetable" type="WsStopTimetableNotificationStructure"/>
	<!-- StopMonitoring -->
	<xsd:complexType name="WsStopMonitoringNotificationStructure">
		<xsd:sequence>
			<xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Notification" type="siri:StopMonitoringDeliveriesStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifyStopMonitoring" type="WsStopMonitoringNotificationStructure"/>
	<!-- ConnectionTimetable -->
	<xsd:complexType name="WsConnectionTimetableNotificationStructure">
		<xsd:sequence>
			<xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Notification" type="siri:ConnectionTimetableDeliveriesStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifyConnectionTimetable" type="WsConnectionTimetableNotificationStructure"/>
	<!-- ConnectionMonitoring -->
	<xsd:complexType name="WsConnectionMonitoringNotificationStructure">
		<xsd:sequence>
			<xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Notification" type="siri:ConnectionMonitoringDeliveriesStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifyConnectionMonitoring" type="WsConnectionMonitoringNotificationStructure"/>
	<!-- GeneralMessage -->
	<xsd:complexType name="WsGeneralMessageNotificationStructure">
		<xsd:sequence>
			<xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Notification" type="siri:GeneralMessageDeliveriesStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifyGeneralMessage" type="WsGeneralMessageNotificationStructure"/>
	<!-- FacilityMonitoring -->
	<xsd:complexType name="WsFacilityMonitoringNotificationStructure">
		<xsd:sequence>
			<xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Notification" type="siri:FacilityMonitoringDeliveriesStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifyFacilityMonitoring" type="WsFacilityMonitoringNotificationStructure"/>
	<!-- SituationExchange -->
	<xsd:complexType name="WsSituationExchangeNotificationStructure">
		<xsd:sequence>
			<xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Notification" type="siri:SituationExchangeDeliveriesStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifySituationExchange" type="WsSituationExchangeNotificationStructure"/>
	<!-- VehicleMonitoring -->
	<xsd:complexType name="WsVehicleMonitoringNotificationStructure">
		<xsd:sequence>
			<xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Notification" type="siri:VehicleMonitoringDeliveriesStructure" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifyVehicleMonitoring" type="WsVehicleMonitoringNotificationStructure"/>
</xsd:schema>
