XmlSchemaClassGenerator.Tests/xsd/guid/guidtest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:s="http://microsoft.com/wsdl/types/"
>
	<xs:import namespace="http://microsoft.com/wsdl/types/" schemaLocation="guid.xsd"></xs:import>
	<xs:element name="Test">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ElementId" type="s:guid"></xs:element>
			</xs:sequence>
			<xs:attribute name="Id" type="s:guid"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
