XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_localServiceCommercial_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_localServiceCommercial_version">
	<xsd:include schemaLocation="netex_ifopt_localServiceCommercial_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_localService_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2007-06-12</Created>
				</Date>
				<Date>
					<Modified>2007-06-12</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines LOCAL SERVICE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_localServiceCommercial_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - LOCAL SERVICE COMMERCIAL types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>LOCAL SERVICE COMMERCIAL types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="LocalServiceCommercialChoice">
		<xsd:choice>
			<xsd:element ref="CommunicationService"/>
			<xsd:element ref="HireService"/>
			<xsd:element ref="MoneyService"/>
			<xsd:element ref="CateringService"/>
			<xsd:element ref="RetailService"/>
		</xsd:choice>
	</xsd:group>
	<!-- ====COMMUNICATION============================================================ -->
	<xsd:element name="CommunicationService" substitutionGroup="LocalService">
		<xsd:annotation>
			<xsd:documentation>Specialisation of LOCAL SERVICE dedicated to communication services.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CommunicationService_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LocalServiceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CommunicationServiceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CommunicationServiceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CommunicationService_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for Communication Service.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocalService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="CommunicationServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CommunicationServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a COMMUNICATION SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceList" type="CommunicationServiceListOfEnumerations" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>COMMUNICATION SERVICEs available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====Hire=========================================================== -->
	<xsd:element name="HireService" substitutionGroup="LocalService">
		<xsd:annotation>
			<xsd:documentation>Specialisation of LOCAL SERVICE dedicated to hire services (e.g. cycle hire, car hire).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="HireService_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LocalServiceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="HireServiceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="HireServiceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="HireService_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for HIRE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocalService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="HireServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="HireServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a HIRE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceList" type="HireServiceListOfEnumerations" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>HIRE SERVICEs available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==Money======================================================== -->
	<xsd:element name="MoneyService" substitutionGroup="LocalService">
		<xsd:annotation>
			<xsd:documentation>Specialisation of LOCAL SERVICE dedicated to money services.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MoneyService_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LocalServiceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MoneyServiceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MoneyServiceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MoneyService_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for MONEY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocalService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="MoneyServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MoneyServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MONEY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceList" type="MoneyServiceListOfEnumerations" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>MONEY SERVICEs available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====Retail===================================================== -->
	<xsd:element name="RetailService" substitutionGroup="LocalService">
		<xsd:annotation>
			<xsd:documentation>Specialisation of LOCAL SERVICE dedicated to retail services.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RetailService_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LocalServiceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RetailServiceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RetailServiceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RetailService_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for RETAIL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocalService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RetailServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RetailServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a RETAIL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceList" type="RetailServiceListOfEnumerations" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>RETAIL SERVICEs available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===Catering======================================================= -->
	<xsd:element name="CateringService" substitutionGroup="LocalService">
		<xsd:annotation>
			<xsd:documentation>Specialisation of LOCAL SERVICE dedicated to catering service.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CateringService_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LocalServiceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CateringServiceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CateringServiceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CateringService_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for CATERING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocalService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="CateringServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CateringServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CATERING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceList" type="CateringServiceListOfEnumerations" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>CATERING SERVICEs available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
