XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_equipmentWaiting_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_equipmentWaiting_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_equipmentWaiting_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2014-07-01</Modified>
					Add Heating and Airconditioning to ShelterEquipment
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes
						 CD to Add new attribute to LuggageLockerEquipment:  LockingType  with values  	 key, keyboard, mechanicalNumbering, contactless, phoneApp, other,
						 CD to Add new attributes to LuggageLockerEquipment:  BlindAccessible ,WheelchairAccepted,
							 NJSK Review: CorrectTypo on WheelchairAccepted, Change order of new attributes, move LockerTypeEnumeration  and LuggageServiceEnumeration enums   to support file
						 CD to Add new attributes to SeatingEquipment:  Armrest, SeatingHeight,
							 NJSK Review: Correct data type on  SeatingHeight and rename to SeatHeight
 				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines EQUIPMENT base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_equipmentWaiting.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					<Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - WAITING EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>WAITING EQUIPMENT types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="SiteEquipmentList">
		<xsd:annotation>
			<xsd:documentation>List of SITE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LuggageLockerEquipment" minOccurs="0"/>
			<xsd:element ref="ShelterEquipment" minOccurs="0"/>
			<xsd:element ref="TrolleyStandEquipment" minOccurs="0"/>
			<xsd:element ref="WaitingRoomEquipment" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specialisation of WAITING EQUIPMENTfor waiting rooms, classified by TYPE OF WAITING ROOM.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="SiteEquipment" type="SiteEquipment_VersionStructure" abstract="true" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE EQUIPMENT for SITEs (e.g. LUGGAGE LOCKER, WAITING EQUIPMENT, TROLLEY STAND, etc.)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ====ACCESS=================================================================== -->
	<xsd:complexType name="SiteEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a SITE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="LuggageLockerEquipment" abstract="true" substitutionGroup="SiteEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of SITE EQUIPMENT for LUGGAGE LOCKERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LuggageLockerEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LuggageLockerEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LuggageLockerIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LuggageLockerEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a Luggage Locker.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SiteEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="LuggageLockerEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LuggageLockerEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Eements for Luggage Locker EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberOfLockers" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of LOCKERs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockerWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of Locker.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockerHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of Locker.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockerDepth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Depth of Locker.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockerType" type="LockerTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Locker.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockingType" type="LockingTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of lock. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairAccepted" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether a wheelchair may be stored in the locker. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BlindAccessible" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether a visually impaired person may use the mechanism. +v1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="WaitingEquipment" abstract="true" substitutionGroup="SiteEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of SITE EQUIPMENT for WAITING EQUIPMENTs (shelter, waiting room, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="WaitingEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="WaitingEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for waiting rooms and waiting areas.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="WaitingEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WaitingEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for Waiting EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SiteEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="WaitingEquipmentGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for waiting rooms and waiting areas.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="WaitingEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a WAITING Equipment.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Seats" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of seats in Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StepFree" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether area is step free.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairAreaWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of Wheelchair Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairAreaLength" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of Wheelchair Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SmokingAllowed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether smoking is allowed in area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Heated" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether shelter has heating.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AirConditioned" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether shelter has air conditioining.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="WaitingRoomEquipment" substitutionGroup="SiteEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of WAITING EQUIPMENT for WAITING ROOMs, classified by TYPE OF WAITING ROOM.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="WaitingRoomEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="WaitingEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for waiting rooms and waiting areas.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="WaitingRoomGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="WaitingRoomEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WaitingRoomEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a Waiting Room EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="WaitingEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="WaitingRoomGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="WaitingRoomGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a Waiting Room EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FareClass" type="FareClassListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Class of fare needed to use waiting room.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WomenOnly" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether waiting room is only for women.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Sanitary" type="SanitaryFacilityListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sanitary facility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ClassOfUseRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TrolleyStandEquipment" substitutionGroup="SiteEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of SITE EQUIPMENT for TROLLEY STANDs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TrolleyStandEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TrolleyStandGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TrolleyStandEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrolleyStandEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a Trolley Stand EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SiteEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TrolleyStandGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrolleyStandGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a Trolley Stand EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FreeToUse" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Trolley is free or if a payment is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Charge" type="CurrencyAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Charge for using a trolley.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Currency" type="CurrencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Currency of Charge for using the facility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PaymentMethods" type="PaymentMethodListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed methods of payment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ShelterEquipment" substitutionGroup="SiteEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of WAITING EQUIPMENT for a SHELTER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ShelterEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="WaitingEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for waiting rooms and waiting areas.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ShelterEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ShelterEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ShelterEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a SHELTER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="WaitingEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ShelterEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ShelterEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SHELTER EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Enclosed" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether shelter is enclosed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistanceFromNearestKerb" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Distance from Kerb / boarding point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="SeatingEquipment" substitutionGroup="SiteEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of WAITING EQUIPMENT describing the properties of seating.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SeatingEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="WaitingEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for waiting rooms and waiting areas.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SeatingEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SeatingEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SeatingEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a SEATING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="WaitingEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SeatingEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SeatingEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SEATING EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Armrest" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is an armrest. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SeatHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of the seating +v1.1)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
