XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_pointOfInterest_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_pointOfInterest_version">
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_ifopt_pointOfInterest_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_navigationPath_version.xsd"/>
	<!-- ============================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Contributor>Roger Slevin [Roger.Slevin@dft.gsi.gov.uk]</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Created as W3C .xsd schema by Nicholas Knowles. as 1.0 XML schema </Creator>
				<Date>
					<Created>2006-08-10</Created>
				</Date>
				<Date>
					<Modified>2006-09-21</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Description>
					<Title>NeTEx Network Exchange - POINT OF INTEREST types.</Title>
					<p>
					</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_pointOfInterest_versionv1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 SG6 and Department for Transport, Great Minster House, 76 Marsham Street, London SW1P 4DR</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/ifopt/netex_ifopt_PointOfInterestModel.xsd</Requires>
				</Relation>
				<Rights>Unclassified

 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Evolved from NaPTAN, SIRI and other schemas.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange (IFOPT subset) - POINT OF INTEREST Schema Place . </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>IFOPT types for POINT OF INTEREST Model.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:complexType name="pointsOfInterestInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PointOfInterest" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PointOfInterestClassificationInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>POINT OF INTEREST elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pointOfInterestClassifications" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>POINT OF INTEREST CLASSIFICATIONS in frame.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="pointOfInterestClassificationsInFrame_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pointOfInterestClassificationHierarchies" type="pointOfInterestClassificationHierarchiesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>POINT OF INTEREST CLASSIFICATION HIERARCHies in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="pointOfInterestClassificationsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of POINT OF INTEREST CLASSIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PointOfInterestClassification" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="pointOfInterestClassificationHierarchiesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of POINT OF INTEREST CLASSIFICATION Hierarchy.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PointOfInterestClassificationHierarchy" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="PointOfInterestClassification" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Classification of a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PointOfInterestClassification_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointOfInterestClassificationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PointOfInterestClassificationIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of a POINT OF INTEREST CLASSIFICATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PointOfInterestClassification_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for Classification of a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PointOfInterestClassificationGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PointOfInterestClassificationGroup">
		<xsd:annotation>
			<xsd:documentation>Common properties of a Classification of a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="alternativeDescriptors" type="classificationDescriptors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternative descriptors.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="classificationDescriptors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of POINT OF INTEREST CLASSIFICATION DESCRIPTORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element name="ClassificationDescriptor" type="ClassificationDescriptor_VersionStructure" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Alternative descriptor for a POINT OF INTEREST Classification.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ClassificationDescriptor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a Descriptor for a POINT OF INTEREST CLASSIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ClassificationDescriptorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a POINT OF INTEREST CLASSIFICATION descriptor.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString">
				<xsd:annotation>
					<xsd:documentation>Name of Classification.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short name of Classification.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of Classification.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PointOfInterestClassificationHierarchy" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A logical hierarchy for organizing POINT OF INTEREST CLASSIFICATIONs.  A POINT OF INTEREST CLASSIFICATION can belong to more than one hierarchy.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PointOfInterestClassificationHierarchy_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointOfInterestClassificationHierarchyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PointOfInterestHierarchyIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of POINT OF INTEREST  HIERARCHY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PointOfInterestClassificationHierarchy_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for POINT OF INTEREST CLASSIFICATION HIERARCHY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PointOfInterestClassificationHierarchyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PointOfInterestClassificationHierarchyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a POINT OF INTEREST CLASSIFICATION HIERARCHY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="members" type="pointOfInterestClassificationHierarchyMembers_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Members of the POINT OF INTEREST HIERARCHY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="pointOfInterestClassificationHierarchyMembers_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of POINT OF INTEREST CLASSIFICATION HIERARCHY MEMBERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element name="ClassificationHierarchyMember" type="PointOfInterestClassificationHierarchyMemberStructure" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PointOfInterestClassificationHierarchyMemberGroup">
		<xsd:annotation>
			<xsd:documentation>Element of a POINT OF INTEREST CLASSIFICATION HIERARCHY MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PointOfInterestHierarchyRef" minOccurs="0"/>
			<xsd:element name="ParentClassificationRef" type="PointOfInterestClassificationRefStructure">
				<xsd:annotation>
					<xsd:documentation>Parent POINT OF INTEREST CLASSIFICATION for this CLASSIFICATION HIERARCHY member.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PointOfInterestClassificationRef" type="PointOfInterestClassificationRefStructure">
				<xsd:annotation>
					<xsd:documentation>POINT OF INTEREST CLASSIFICATION that is in this classification Hierarchy.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="PointOfInterestClassificationHierarchyMemberStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for POINT OF INTEREST CLASSIFICATION HIERARCHY MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="PointOfInterestClassificationHierarchyMemberGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="PointOfInterest" substitutionGroup="Site">
		<xsd:annotation>
			<xsd:documentation>A type of SITE to or through which passengers may wish to navigate as part of their journey and which is modelled in detail by journey planners.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PointOfInterest_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointOfInterestGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PointOfInterestIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of POINT OF INTEREST.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PointOfInterest_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Site_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PointOfInterestGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PointOfInterestGroup">
		<xsd:annotation>
			<xsd:documentation>Common properties of a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PointOfInterestPropertyGroup"/>
			<xsd:group ref="PointOfInterestTopographicGroup"/>
			<xsd:group ref="SiteAccessGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PointOfInterestTopographicGroup">
		<xsd:annotation>
			<xsd:documentation>Topographic associations of a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="nearTopographicPlaces" type="topographicPlaceRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TOPOGRAPHIC PLACEs that are near to the POINT OF INTEREST or that contain it.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PointOfInterestPropertyGroup">
		<xsd:annotation>
			<xsd:documentation>Detailed properties of a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="classifications" type="pointOfInterestClassificationsViews_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Membership of POI CLASSIFICATIONS.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spaces" type="pointOfInterestSpaces_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>POINT OF INTEREST SPACEs within the POI.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PointOfInterestComponent" type="PointOfInterestComponent_VersionStructure" abstract="true" substitutionGroup="SiteElement">
		<xsd:annotation>
			<xsd:documentation>A part of the physical structure of a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointOfInterestComponent_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a POINT OF INTEREST COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SiteComponent_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="pointOfInterestSpaces_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of POINT OF INTEREST SPACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element name="PointOfInterestSpaceRef" type="SiteComponentRefStructure">
						<xsd:annotation>
							<xsd:documentation>Reference to component defined elsewhere.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PointOfInterestSpace">
						<xsd:annotation>
							<xsd:documentation>An area within a Site. May be connected to Quays by PATH LINKs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PointOfInterestSpace" substitutionGroup="SiteComponent">
		<xsd:annotation>
			<xsd:documentation>A PLACE within a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PointOfInterestSpace_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointOfInterestSpaceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PointOfInterestSpaceIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of POINT OF INTEREST SPACE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PointOfInterestSpace_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a POINT OF INTEREST SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PointOfInterestComponent_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PointOfInterestSpaceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PointOfInterestSpaceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a POINT OF INTEREST SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PointOfInterestSpaceDescriptorGroup">
				<xsd:annotation>
					<xsd:documentation>Elements describing the POINT OF INTEREST SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="ParentPointOfInterestSpaceRef" type="PointOfInterestSpaceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>if Space is a subzone of another POINT OF INTEREST SPACE identifies parent,</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="entrances" type="pointOfInterestEntrances_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Entrances to POINT OF INTEREST SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PointOfInterestSpaceDescriptorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing the POINT OF INTEREST SPACE textually.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AccessSpaceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of ACCESS SPACE.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="AccessSpaceTypeEnumeration">
						<xsd:enumeration value="other"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PointOfInterestSpaceType" type="PointOfInterestSpaceTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of POINT OF INTEREST space.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassageType" type="PassageTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of physical passage space.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="pointOfInterestEntrances_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of POINT OF INTEREST ENTRANCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element name="PointOfInterestEntranceRef" type="SiteComponentRefStructure">
						<xsd:annotation>
							<xsd:documentation>Reference to component defined elsewhere.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PointOfInterestEntrance"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PointOfInterestEntrance" abstract="false" substitutionGroup="Entrance">
		<xsd:annotation>
			<xsd:documentation>Specialisation of ENTRANCE of ENTRANCE for a passenger to a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PointOfInterestEntrance_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SiteEntranceGroup"/>
							<xsd:group ref="ExternalEntranceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PointOfInterestEntranceIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of POINT OF INTEREST ENTRANCE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PointOfInterestEntrance_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a POINT OF INTEREST Passenger ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SiteEntrance_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="PointOfInterestVehicleEntrance" abstract="false" substitutionGroup="Entrance">
		<xsd:annotation>
			<xsd:documentation>A VEHICLE ENTRANCE to a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PointOfInterestVehicleEntrance_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SiteEntranceGroup"/>
							<xsd:group ref="ExternalEntranceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PointOfInterestEntranceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PointOfInterestVehicleEntrance_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a POINT OF INTEREST VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SiteEntrance_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="PointOfInterestView" type="PointOfInterest_DerivedViewStructure" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointOfInterest_DerivedViewStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for POINT OF INTEREST VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="PointOfInterestRef" minOccurs="0"/>
					<xsd:element name="Name" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of POINT OF INTEREST.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="placeTypes" type="typeOfPlaceRefs_RelStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Classification of PLACE. Used for arbitrary documentation.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of POINT OF INTEREST.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="pointOfInterestClassificationsViews_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of POINT OF INTEREST SPACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PointOfInterestClassificationRef"/>
					<xsd:element ref="PointOfInterestClassificationView"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PointOfInterestClassificationView" type="PointOfInterestClassification_DerivedViewStructure" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of POINT OF INTEREST CLASSIFICATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointOfInterestClassification_DerivedViewStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for POINT OF INTEREST CLASSIFICATION VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="PointOfInterestClassificationRef" minOccurs="0"/>
					<xsd:element name="Name" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of POINT OF INTEREST CLASSIFICATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
