XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_taxiPlace_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_taxiPlace_version">
	<xsd:include schemaLocation="netex_taxiPlace_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_stopPlace_version.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_parking_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-05</Created>Add for New Modes
				</Date>
				<Date>
					<Modified>2020-10-05</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the TAXI PLACE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_taxiPlace_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,   standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TAXI PLACE  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>TAXI PLACE data types</xsd:documentation>
	</xsd:annotation>
	<!-- ======TAXI RANK ======================================================== -->
	<xsd:complexType name="taxiRanksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TAXI RANKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TaxiRank" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>TAXI RANK.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TaxiRank" substitutionGroup="StopPlace_Dummy">
		<xsd:annotation>
			<xsd:documentation>A place comprising one or more locations where taxis may stop to pick up or set down passengers. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TaxiRank_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopPlaceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TaxiRankGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TaxiRankIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of TAXI RANK.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TaxiRank_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TAXI RANK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StopPlace_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TaxiRankGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TaxiRankGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TAXI RANK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MaximumStandingDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum time for a vehicle standing in the spot</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taxiStands" type="taxiStands_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Taxis stands in RANK&gt; NB This is a work around as cannout get TAXI STAND to be a Substitution Group for a QUAY. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== TAXI STAND  ============================================================ -->
	<xsd:complexType name="taxiStands_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TAXI STANDs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TaxiStand" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TaxiStand" substitutionGroup="StopPlaceComponent">
		<xsd:annotation>
			<xsd:documentation> A set of spots where any taxi is able to safely stop for a short period of time to load passengers. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TaxiStand_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="placeTypes" type="typeOfPlaceRefs_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Classification of PLACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
							<xsd:element name="AccessModes" type="AccessModeListOfEnumerations" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Allowed MODEs to access SITE ELEMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:group ref="SiteElementNamesGroup"/>
							<xsd:group ref="RelativeLocationGroup">
								<xsd:annotation>
									<xsd:documentation>Properties for naming element with respect to adjacent features.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
							<xsd:group ref="SiteElementPropertiesGroup">
								<xsd:annotation>
									<xsd:documentation>Elements of a SITE ELEMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopPlaceComponentPropertyGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopPlaceSpaceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="QuayGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TaxiStandGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TaxiStandIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TaxiStand_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TAXI STAND.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Quay_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TaxiStandGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TaxiStandGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TAXI STAND.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MaximumStandingDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum time for a vehicle standing in the spot</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== TAXI PARKING AREA  ============================================================ -->
	<xsd:element name="TaxiParkingArea" substitutionGroup="ParkingArea_Dummy">
		<xsd:annotation>
			<xsd:documentation> A specific area where any taxi is able to safely park for a long period. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TaxiParkingArea_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingAreaGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TaxiParkingAreaGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TaxiParkingAreaIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of TAXI PARKING AREA.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TaxiParkingArea_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TAXI PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParkingArea_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TaxiParkingAreaGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TaxiParkingAreaGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TAXI PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
