XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_equipmentParking_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_equipmentParking_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_equipmentParking_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipmentPlace_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date><Modified>2017-05-25</Modified> Definition of CycleStorage number of spaces corrected. Doc change only.
				</Date>
				<Date><Modified>2020-10-05</Modified>New Modes: 
					Add  lockers and freestanding sycle storage enum values.
					Move ReChargingEquiopment  to separate En	ergy equipment
					Add VEHICLE RELEASE EQUIPMENT.
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines PARKING EQUIPMENT base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_equipmentParking_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - PARKING Types of Equipment.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>PARKING EQUIPMENT types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- === CYCLE STORAGE EQUIPMENT ================================================== -->
	<xsd:element name="CycleStorageEquipment" substitutionGroup="PlaceEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE EQUIPMENT for cycle storage.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CycleStorageEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CycleStorageEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CycleStorageEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CycleStorageEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a CYCLE STORAGE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PlaceEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="CycleStorageEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CycleStorageEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for CYCLE STORAGE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberOfSpaces" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of spaces available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CycleStorageType" type="CycleStorageEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of storage.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Cage" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>whether shelter is enclosed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Covered" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether storage is covered.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === VEHICLE CHARGING EQUIPMENT ============================================ -->
	<xsd:element name="VehicleReleaseEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE EQUIPMENT for VEHICLE RELEASE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleReleaseEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleReleaseEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleReleaseEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleReleaseEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE RELEASE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleReleaseEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleReleaseEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VEHICLE RELEASE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RemoteControl" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>whether shelter is enclosed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LocalControl" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether reservation is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockingMechanism" type="LockingMechanismEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of locking mechnaism.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
