XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_localService_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_localService_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2007-06-12</Created>
				</Date>
				<Date>
					<Modified>2007-06-12</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines Local Service types </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_localService_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - EQUIPMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>LOCAL SERVICE identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="LocalServiceRef" type="LocalServiceRefStructure" abstract="true" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a LOCAL SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LocalServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a LOCAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EquipmentRefStructure">
				<xsd:attribute name="ref" type="LocalServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassLocalServiceRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for LocalServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LocalServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LOCAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EquipmentIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TicketingServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TICKETING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="TicketingServiceRef" type="TicketingServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an TICKETING SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TicketingServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an TICKETING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="TicketingServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTicketingServiceRefStructureType" default="TicketingService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TicketingServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AssistanceServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ASSISTANCE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="AssistanceServiceRef" type="AssistanceServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an ASSISTANCE SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AssistanceServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ASSISTANCE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="AssistanceServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ASSISTANCE SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassAssistanceServiceRefStructureType" default="AssistanceService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for AssistanceServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="CustomerServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerServiceRef" type="CustomerServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an CUSTOMER SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an CUSTOMER SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="CustomerServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassCustomerServiceRefStructureType" default="CustomerService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for CustomerServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ComplaintsServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a COMPLAINTS SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CustomerServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="ComplaintsServiceRef" type="ComplaintsServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an COMPLAINTS SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ComplaintsServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an COMPLAINTS SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="ComplaintsServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a COMPLAINTS SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassComplaintsServiceRefStructureType" default="ComplaintsService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ComplaintsServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LostPropertyServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LOST PROPERTY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CustomerServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="LostPropertyServiceRef" type="LostPropertyServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an LOST PROPERTY SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LostPropertyServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an LOST PROPERTY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="LostPropertyServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LOST PROPERTY SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassLostPropertyServiceRefStructureType" default="LostPropertyService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for LostPropertyServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LuggageServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CustomerServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="LuggageServiceRef" type="LuggageServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LuggageServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="LuggageServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LUGGAGE SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassLuggageServiceRefStructureType" default="LuggageService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for LuggageServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LeftLuggageServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LEFT LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CustomerServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="LeftLuggageServiceRef" type="LeftLuggageServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an LEFT LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LeftLuggageServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an LEFT LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="LeftLuggageServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LEFT LUGGAGE SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassLeftLuggageServiceRefStructureType" default="LeftLuggageService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for LeftLuggageServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="MeetingPointServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MEETING POINT SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CustomerServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="MeetingPointServiceRef" type="MeetingPointServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an MEETING POINT SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MeetingPointServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an MEETING POINT SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="MeetingPointServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a MEETING POINT SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassMeetingPointServiceRefStructureType" default="MeetingPointService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for MeetingPointServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
