XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_site_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_site_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_address_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date><Modified>2019-03-25</Modified>Fix #39 by Skinkie from 2019.01.07  Fix typo on ServiceSiteRefStructure 
				</Date>
				<Date><Modified>2020-20-05</Modified>New Modes Fix: add  sportsm transport, government  and culturalAttraction to SiteType enumeration
				</Date>
				<Date><Modified>2023-12-10</Modified>TM v6.2:  Add GROUP OF SITES, SITE STRUCUCTURE and LEVEL IN STRUCTURE
				</Date>
				<Date><Modified>2024-01-15</Modified>PATH DECPLAN REmodularise - move PublicUseEnumeration CoveredEnumeration GatedEnumeration AccessSpaceTypeEnumeration PassageTypeEnumeration  to netex_environment_support
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SITE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_site_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					<Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SITE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: SITE identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ==  GROUP OF SITEs ============================================== -->
	<xsd:element name="GroupOfSitesRef" type="GroupOfSitesRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP OF SITEs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfSitesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a GROUP OF SITEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="GroupOfSitesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF SITEs.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfSitesRefStructureType" default="GroupOfSites">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for GroupOfSitesRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="GroupOfSitesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF SITEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<!-- ===== SITE========================================================== -->
	<xsd:simpleType name="SiteElementIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a SITE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AddressablePlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="SiteElementRef" type="SiteElementRefStructure" substitutionGroup="AddressablePlaceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteElementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a SITE COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AddressablePlaceRefStructure">
				<xsd:attribute name="ref" type="SiteElementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE COMPONENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSiteElementRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SiteElementRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== SITE========================================================== -->
	<xsd:simpleType name="SiteIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteElementIdType"/>
	</xsd:simpleType>
	<xsd:element name="SiteRef" type="SiteRefStructure" substitutionGroup="SiteElementRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteElementRefStructure">
				<xsd:attribute name="ref" type="SiteIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PLACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSiteRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SiteRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="siteRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more SITEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="SiteRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===== SERVICE SITE ==================================================== -->
	<xsd:simpleType name="ServiceSiteIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a SERVICE SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteIdType"/>
	</xsd:simpleType>
	<xsd:element name="ServiceSiteRef" type="ServiceSiteRefStructure" substitutionGroup="SiteRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SERVICE SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceSiteRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SERVICE SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteRefStructure">
				<xsd:attribute name="ref" type="ServiceSiteIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SERVICE SITE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassServiceSiteRefStructureType" default="ServiceSite">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ServiceSiteRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== SITE COMPONENT =============================================== -->
	<xsd:simpleType name="SiteComponentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteElementIdType"/>
	</xsd:simpleType>
	<xsd:element name="SiteComponentRef" type="SiteComponentRefStructure" substitutionGroup="SiteElementRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE COMPONENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteComponentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a SITE COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteElementRefStructure">
				<xsd:attribute name="ref" type="SiteComponentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE COMPONENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSiteComponentRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SiteComponentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====== LEVEL ======================================================== -->
	<xsd:simpleType name="LevelIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LEVEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="LevelRef" type="LevelRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to LEVEL of a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LevelRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a LEVEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="LevelIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LEVEL.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassLevelRefStructureType" default="Level">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for LevelRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== SITE STRUCTURE======================================================== -->
	<xsd:simpleType name="SiteStructureIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a SITE STRUCTURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SiteStructureRef" type="SiteStructureRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE STRUCTURE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteStructureRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE STRUCTURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="SiteStructureIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE STRUCTURE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSiteStructureRefStructureType" default="SiteStructure">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SiteStructureRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="siteStructureRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more SITE STRUCTUREs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="SiteStructureRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====== LEVEL ======================================================== -->
	<xsd:simpleType name="LevelInStructureIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LEVEL IN STRUCTURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="LevelInStructureRef" type="LevelInStructureRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to LEVEL of a LEVEL IN STRUCTURE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LevelInStructureRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a LEVEL IN STRUCTURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="LevelInStructureIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LEVEL IN STRUCTURE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassLevelInStructureRefStructureType" default="LevelInStructure">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for LevelInStructureRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== ENTRANCE ===================================================== -->
	<xsd:simpleType name="EntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="EntranceRef" type="EntranceRefStructure" substitutionGroup="SiteComponentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ENTRANCE to a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to identifier of an ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteComponentRefStructure">
				<xsd:attribute name="ref" type="EntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" default="Entrance">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for EntranceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="entranceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more ENTRANCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="EntranceRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== VEHICLE ENTRANCE ===================================================== -->
	<xsd:simpleType name="VehicleEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleEntranceRef" type="VehicleEntranceRefStructure" substitutionGroup="EntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an VEHICLE ENTRANCE to a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to identifier of an VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EntranceRefStructure">
				<xsd:attribute name="ref" type="VehicleEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleEntranceRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehicleEntranceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== ACCESS ZONE ======================================================= -->
	<xsd:simpleType name="AccessZoneIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for an ACCESS ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ZoneIdType"/>
	</xsd:simpleType>
	<xsd:element name="AccessZoneRef" type="AccessZoneRefStructure" substitutionGroup="ZoneRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccessZoneRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to an ACCESS ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ZoneRefStructure">
				<xsd:attribute name="nameOfRefClass" type="NameOfClassAccessZoneRefStructureType" default="AccessZone">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for AccessZoneRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="GroupOfPointsIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="EntranceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ENTRANCE type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="opening"/>
			<xsd:enumeration value="openDoor"/>
			<xsd:enumeration value="door"/>
			<xsd:enumeration value="swingDoor"/>
			<xsd:enumeration value="revolvingDoor"/>
			<xsd:enumeration value="automaticDoor"/>
			<xsd:enumeration value="ticketBarrier"/>
			<xsd:enumeration value="gate"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EntrancePurposeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ENTRANCE purpose.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="main"/>
			<xsd:enumeration value="side"/>
			<xsd:enumeration value="back"/>
			<xsd:enumeration value="secondary">
				<xsd:annotation>
					<xsd:documentation>Indirect access, e.g., via a shop or restaurant.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="withinStopPlace">
				<xsd:annotation>
					<xsd:documentation>An ENTRANCE for which IsExternal is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="emergencyOnly"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SiteTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Types of SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="school"/>
			<xsd:enumeration value="university"/>
			<xsd:enumeration value="works"/>
			<xsd:enumeration value="office"/>
			<xsd:enumeration value="militaryBase"/>
			<xsd:enumeration value="retail">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="transport">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="sports">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="government">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="culturalAttraction">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
