XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_site_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_site_version">
	<xsd:include schemaLocation="netex_ifopt_site_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipmentPlace_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_accessibility/netex_acsb_accessibility.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_address_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_topographicPlace_version.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_checkConstraint_version.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_equipmentAll.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SITE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_site_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SITE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: SITE types.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="SiteElement" type="SiteElement_VersionStructure" abstract="true" substitutionGroup="Place">
		<xsd:annotation>
			<xsd:documentation>A physical PLACE to which passengers may go. May have ACCESSIBILITY ASSESMENT and other properties to describe it.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteElement_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a SITE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AddressablePlace_VersionStructure">
				<xsd:group ref="SiteElementGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SiteElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a SITE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
			<xsd:element name="AccessModes" type="AccessModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed MODEs to access SITE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="SiteElementNamesGroup"/>
			<xsd:group ref="RelativeLocationGroup">
				<xsd:annotation>
					<xsd:documentation>Properties for naming element with respect to adjacent features.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="SiteElementPropertiesGroup">
				<xsd:annotation>
					<xsd:documentation>Elements of a SITE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SiteElementNamesGroup">
		<xsd:annotation>
			<xsd:documentation>Naming elements of a SITE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NameSuffix" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Further suffix to name that may be used in some contexts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternative names.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SiteElementPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Detailed properties of a SITE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicUse" type="PublicUseEnumeration" default="all" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the component is available for public use or is restricted.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Covered" type="CoveredEnumeration" default="indoors" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the component is Indoors or outdoors. Default is Indoors.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gated" type="GatedEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the component is within a gated area or freely accessible without a pass or ticket.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Lighting" type="LightingEnumeration" default="wellLit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the component is lit or not. Default is well Lit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllAreasWheelchairAccessible" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether all areas of the component are wheelchair accessible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonCapacity" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total number of people that component can contain.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="facilities" type="siteFacilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Facilities available at SITe.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="RelativeLocationGroup">
		<xsd:annotation>
			<xsd:documentation>Properties of a SITE ELEMENT with respect to adjacent features.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CrossRoad" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of a Road that crosses the Road the street near the SITE ELEMENT that can be used to describe its relative location.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Landmark" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of a Landmark near the SITE ELEMENT that can be used to describe its relative location.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="Site" type="Site_VersionStructure" abstract="true" substitutionGroup="SiteElement">
		<xsd:annotation>
			<xsd:documentation>A type of PLACE, such as a STOP PLACE, POINT OF INTEREST or ADDRESS, to which passengers may wish to travel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="Site_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for an identified and data managed element making up a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SiteElement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SiteGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SiteGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is a primary Topographic place.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="TopographicPlaceRef"/>
				<xsd:element ref="TopographicPlaceView"/>
			</xsd:choice>
			<xsd:element name="additionalTopographicPlaces" type="topographicPlaceRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional Topographic Places in which SITE is located.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SiteType" type="SiteTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of SITE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AtCentre" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether SITE is at centre of TOPOGRAPHIC PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Locale" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element ref="OrganisationRef"/>
				<xsd:element name="OperatingOrganisationView" type="Organisation_DerivedViewStructure">
					<xsd:annotation>
						<xsd:documentation>Reference to OPERATOR of SITE - derived details can be included.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:group ref="SiteRelationGroup" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Group of spatial associations of a SITE.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="levels" type="levels_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LEVELs found within SITe.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="entrances" type="siteEntrances_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Entrances to and within SITE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="AllEquipmentGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SiteRelationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a SITE specifying spatial associations.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ParentSiteRef" type="SiteRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to another SITE of which this SITE is deemed to be a subzone.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adjacentSites" type="siteRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Any references to another SITE of which this STOP PLACE is deemed to be a nearby but distinct.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContainedInPlaceRef" type="TopographicPlaceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Most specific TOPOGRAPHIC PLACE within which the SITE lies. The TOPOGRAPHIC model can be used to determine what other places this also implies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="SiteComponent" type="SiteComponent_VersionStructure" abstract="true" substitutionGroup="SiteElement">
		<xsd:annotation>
			<xsd:documentation>An element of a SITE describing part of its structure. SITE COMPONENTs share common properties for accessibility and other features.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteComponent_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A component of a SITE COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SiteElement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SiteComponentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SiteComponentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a SITE COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SiteRef" type="SiteRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to parent of SITE, if any.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="LevelRef" minOccurs="0"/>
			<xsd:element ref="ClassOfUseRef" minOccurs="0"/>
			<xsd:element name="checkConstraints" type="checkConstraints_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Impediments to navigation from processes or barriers. For example security, check in etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="AllEquipmentGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="siteEntrances_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ENTRANCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="EntranceRef"/>
					<xsd:element ref="Entrance">
						<xsd:annotation>
							<xsd:documentation>Entrance to a SITE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Entrance" type="SiteEntrance_VersionStructure" abstract="false" substitutionGroup="SiteComponent">
		<xsd:annotation>
			<xsd:documentation>A physical entrance or exit to/from a SITE. May be a door, barrier, gate or other recognizable point of access.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteEntrance_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for SITE ENTRANCe.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SiteComponent_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SiteEntranceGroup"/>
					<xsd:group ref="ExternalEntranceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SiteEntranceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a SITE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicCode" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternative identifier of ENTRANCE shown to Public.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of ENTRANCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntranceType" type="EntranceEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of ENTRANCE. Use EQUIPMENT element to describe in further detail.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsExternal" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ENTRANCE is external to STOP PLACE. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsEntry" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ENTRANCE can be used for entry. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsExit" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ENTRANCE can be used for exit. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of ENTRANCE in metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Height" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of ENTRANCE In metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ExternalEntranceGroup">
		<xsd:annotation>
			<xsd:documentation>External entrance elements of a SITE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DroppedKerbOutside" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether nearest crossing to ENTRANCE has dropped kerb.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DropOffPointClose" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a drop off point close by to ENTRANCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="vehicleEntrances_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE ENTRANCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleEntranceRef"/>
					<xsd:element ref="VehicleEntrance"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleEntrance" abstract="true" substitutionGroup="Entrance">
		<xsd:annotation>
			<xsd:documentation>A physical entrance or exit to/from a SITE for a VEHICLE. May be a door, barrier, gate or other recognizable point of access.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleEntrance_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SiteEntranceGroup"/>
							<xsd:group ref="ExternalEntranceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleEntranceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleEntranceIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE ENTRANCE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleEntrance_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SiteEntrance_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleEntranceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleEntranceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Public" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether private vehicles can use this entrance.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====Level=========================================================== -->
	<xsd:complexType name="levels_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of LEVELs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="LevelRef"/>
					<xsd:element ref="Level" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Level of a Building or SITE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Level" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An identified storey (ground, first, basement, mezzanine, etc) within an interchange building or SITE on which SITE COMPONENTs reside. A PATH LINK may connect components on different levels.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Level_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LevelGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LevelIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Level_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SITE LEVEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="LevelGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LevelGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a SITE LEVEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of LEVEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of LEVEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of LEVEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublicCode" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Public code for LEVEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublicUse" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether level is for public use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccessibilityAssessment" type="AccessibilityAssessment_VersionedChildStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Accessibility values associated with LEVEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllAreasWheelchairAccessible" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether all areas of the LEVEL are wheelchair accessible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SiteRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="accessZones_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ACCESS ZONEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AccessZoneRef"/>
					<xsd:element ref="AccessZone">
						<xsd:annotation>
							<xsd:documentation>ACCESS ZONE of a building or SITE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AccessZone" substitutionGroup="Zone">
		<xsd:annotation>
			<xsd:documentation>An identified storey (ground, first, basement, mezzanine, etc) within an interchange building or SITE on which SITE COMPONENTs reside. A PATH LINK may connect components on different ACCESS ZONEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AccessZone_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessZoneGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AccessZoneIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AccessZone_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an ACCESS ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Zone_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AccessZoneGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessZoneGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an ACCESS ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AccessibilityAssessment" type="AccessibilityAssessment_VersionedChildStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Accessibility values associated with ACCESS ZONE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllAreasWheelchairAccessible" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether all areas of the ACCESS ZONE are wheelchair accessible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ServiceSite" substitutionGroup="Site">
		<xsd:annotation>
			<xsd:documentation>A sub-type of SITE which is of specific interest for the operator (e.g. where a joint service or a joint fee is proposed).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ServiceSite_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ServiceSiteGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ServiceSiteIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ServiceSite_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for an identified and data managed element making up a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Site_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ServiceSiteGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ServiceSiteGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a SERVICE SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
