XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_parking_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_ifopt_parking_support">
	<xsd:include schemaLocation="netex_ifopt_site_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_utility/netex_utility_types.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date><Modified>2017-05-25</Modified> NPR Request Vehicle Type enum corrected.
				</Date>
				<Date><Modified>2019-04-11</Modified>Correct name of Parking PropertyId to ParkimgPropertiesId
				</Date>
				<Date><Modified>2019-04-25</Modified>Fix to use Parking Passenger Entrances
				</Date>
				<Date><Modified>2020-10-06</Modified>New Modes: Add TYPE OF PARKING. Fix SG on ParkingAreaRef
				</Date>
				<Date><Modified>2021-04-17</Modified>New Modes: Align parking vehicle types with Vehicle vehicleTypes. add values 
					 cycle, eScooter, transporter
					 Add BayGeometryEnumeration, ParkingVisibilityEnumeration
					 Add enclosed, onPavement ParkingLayout enumeration
				</Date>
				<Date><Modified>2020-07-07</Modified>New Modes: Add further enums for PaymentProcessENum,  ParkingUser TYpesENum  
				</Date>
				<Date><Modified>2021-09-01</Modified>New Modes: Add list of bays/areas to enable PoolOfVehicles 
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines PARKING base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_parking_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2021.</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Created for the Ifopt standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - PARKING identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: PARKING identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:complexType name="parkingRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a PARKING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ParkingRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ParkingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingRef" type="ParkingRefStructure" substitutionGroup="SiteRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PARKING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteRefStructure">
				<xsd:attribute name="ref" type="ParkingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassParkingRefStructureType" default="Parking">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ParkingRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingCapacityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingCapacityRef" type="ParkingCapacityRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING CAPACITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingCapacityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PARKING CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="ParkingCapacityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassParkingCapacityRefStructureType" default="ParkingCapacity">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ParkingCapacityRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ParkingPropertiesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING PROPERTIES</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingPropertiesRef" type="ParkingPropertiesRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING PROPERTIES</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingPropertiesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PARKING PROPERTIES</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="ParkingPropertiesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING PROPERTY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassParkingPropertiesRefStructureType" default="ParkingProperties">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ParkingPropertiesRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingEntranceRef" type="ParkingEntranceRefStructure" substitutionGroup="EntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a PARKING ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EntranceRefStructure">
				<xsd:attribute name="ref" type="ParkingEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of PARKING ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingPassengerEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingEntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingPassengerEntranceRef" substitutionGroup="ParkingEntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="ParkingPassengerEntranceRefStructure">
					<xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
						<xsd:annotation>
							<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="ref" type="ParkingPassengerEntranceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
						<xsd:annotation>
							<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ParkingPassengerEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a PARKING ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingEntranceRefStructure">
				<xsd:attribute name="ref" type="ParkingPassengerEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of PARKING ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" use="optional" default="ParkingPassengerEntrance">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingEntranceForVehiclesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingEntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingEntranceForVehiclesRef" type="ParkingEntranceForVehiclesRefStructure" substitutionGroup="ParkingEntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingEntranceForVehiclesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a PARKING VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingEntranceRefStructure">
				<xsd:attribute name="ref" type="ParkingEntranceForVehiclesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING ENTRANCE FOR VEHICLES.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" use="optional" default="ParkingEntranceForVehicles">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="parkingComponentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a PARKING AREA or PARKING BAU.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ParkingAreaRef" maxOccurs="unbounded"/>
					<xsd:element ref="ParkingBayRef" maxOccurs="unbounded"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ParkingAreaIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingAreaRef" type="ParkingAreaRefStructure" substitutionGroup="SiteComponentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING AREA.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingAreaRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteComponentRefStructure">
				<xsd:attribute name="ref" type="ParkingAreaIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING AREA.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassParkingAreaRefStructureType" default="ParkingArea">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ParkingAreaRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="parkingAreaRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ParkingAreaRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingBayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingBayRef" type="ParkingBayRefStructure" substitutionGroup="SiteComponentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING BAY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingBayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteComponentRefStructure">
				<xsd:attribute name="ref" type="ParkingBayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING BAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassParkingBayRefStructureType" default="ParkingBay">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ParkingBayRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="parkingBayRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more a references to a PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ParkingBayRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:group name="ParkingIdentifierGroup">
		<xsd:annotation>
			<xsd:documentation>Alternative identifiers of a PARKING.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short public code for passengers to use when uniquely identifying the stop by SMS and other self-service channels.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingLayoutEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING Layout types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="covered"/>
			<xsd:enumeration value="openSpace"/>
			<xsd:enumeration value="multistorey"/>
			<xsd:enumeration value="underground"/>
			<xsd:enumeration value="roadside"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="onPavement">
				<xsd:annotation>
					<xsd:documentation>Car park at ground level. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="cycleHire">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED - use onPavement instead. -v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="parkAndRide"/>
			<xsd:enumeration value="liftShareParking"/>
			<xsd:enumeration value="urbanParking"/>
			<xsd:enumeration value="airportParking"/>
			<xsd:enumeration value="trainStationParking"/>
			<xsd:enumeration value="exhibitionCentreParking"/>
			<xsd:enumeration value="rentalCarParking"/>
			<xsd:enumeration value="shoppingCentreParking"/>
			<xsd:enumeration value="motorwayParking"/>
			<xsd:enumeration value="roadside"/>
			<xsd:enumeration value="parkingZone"/>
			<xsd:enumeration value="cycleRental"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingPaymentProcessListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of PARKING Payment process types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ParkingPaymentProcessEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingPaymentProcessEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING payment process types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="free"/>
			<xsd:enumeration value="payAtBay"/>
			<xsd:enumeration value="payAndDisplay"/>
			<xsd:enumeration value="payAtExitBoothManualCollection"/>
			<xsd:enumeration value="payAtMachineOnFootPriorToExit"/>
			<xsd:enumeration value="payByPrepaidToken"/>
			<xsd:enumeration value="payByMobileDevice"/>
			<xsd:enumeration value="payByPlate">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="prepayForPermit">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingStayListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of PARKING Stay Term types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ParkingStayEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingStayEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING Stay Term types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="shortStay"/>
			<xsd:enumeration value="midTerm"/>
			<xsd:enumeration value="longTerm"/>
			<xsd:enumeration value="dropoff"/>
			<xsd:enumeration value="unlimited"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingVehicleListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of PARKING VEGICLE types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ParkingVehicleEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingVehicleEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING VEHICLE types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cycle">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="pedalCycle"/>
			<xsd:enumeration value="eCycle">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="moped"/>
			<xsd:enumeration value="motorcycle"/>
			<xsd:enumeration value="motorcycleWithSidecar"/>
			<xsd:enumeration value="motorScooter"/>
			<xsd:enumeration value="twoWheeledVehicle"/>
			<xsd:enumeration value="threeWheeledVehicle"/>
			<xsd:enumeration value="car"/>
			<xsd:enumeration value="microCar">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="miniCar">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="smallCar"/>
			<xsd:enumeration value="passengerCar"/>
			<xsd:enumeration value="largeCar"/>
			<xsd:enumeration value="fourWheelDrive"/>
			<xsd:enumeration value="taxi"/>
			<xsd:enumeration value="camperCar"/>
			<xsd:enumeration value="carWithTrailer"/>
			<xsd:enumeration value="carWithCaravan"/>
			<xsd:enumeration value="minibus"/>
			<xsd:enumeration value="minivan">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="bus"/>
			<xsd:enumeration value="van"/>
			<xsd:enumeration value="transporter">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="largeVan"/>
			<xsd:enumeration value="highSidedVehicle"/>
			<xsd:enumeration value="lightGoodsVehicle"/>
			<xsd:enumeration value="heavyGoodsVehicle"/>
			<xsd:enumeration value="agriculturalVehicle"/>
			<xsd:enumeration value="tanker"/>
			<xsd:enumeration value="truck"/>
			<xsd:enumeration value="tram"/>
			<xsd:enumeration value="articulatedVehicle"/>
			<xsd:enumeration value="vehicleWithTrailer"/>
			<xsd:enumeration value="lightGoodsVehicleWithTrailer"/>
			<xsd:enumeration value="heavyGoodsVehicleWithTrailer"/>
			<xsd:enumeration value="snowmobile">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="allPassengerVehicles"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingUserEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING User types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="allUsers"/>
			<xsd:enumeration value="staff"/>
			<xsd:enumeration value="visitors"/>
			<xsd:enumeration value="customers">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="guests">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="registeredDisabled"/>
			<xsd:enumeration value="impairedMobility">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="registered"/>
			<xsd:enumeration value="rental"/>
			<xsd:enumeration value="doctors"/>
			<xsd:enumeration value="residentsWithPermits"/>
			<xsd:enumeration value="reservationHolders"/>
			<xsd:enumeration value="emergencyServices"/>
			<xsd:enumeration value="taxi">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="vehicleSharing">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="women">
				<xsd:annotation>
					<xsd:documentation>+v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="families">
				<xsd:annotation>
					<xsd:documentation>+v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingUserListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of PARKING User types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ParkingUserEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="BayGeometryEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING Geometry. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unspecified"/>
			<xsd:enumeration value="orthogonal"/>
			<xsd:enumeration value="angled"/>
			<xsd:enumeration value="parallel"/>
			<xsd:enumeration value="freeFormat"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingVisibilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING Visibility. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unmarked"/>
			<xsd:enumeration value="signageOnly"/>
			<xsd:enumeration value="demarcated"/>
			<xsd:enumeration value="docks"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingReservationEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING User types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="reservationRequired"/>
			<xsd:enumeration value="reservationAllowed"/>
			<xsd:enumeration value="noReservations"/>
			<xsd:enumeration value="registrationRequired"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ==== TYPE OF FLEET ================================================== -->
	<xsd:simpleType name="TypeOfParkingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF PARKING. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfParkingRef" type="TypeOfParkingRefStructure" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF PARKING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfParkingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF PARKING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfParkingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF PARKING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfParkingRefStructureType" default="TypeOfParking">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TypeOfParkingRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
