XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_parking_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_parking_support">
	<xsd:include schemaLocation="netex_ifopt_site_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date>
					<Modified>2017-05-25</Modified> NPR Request Vehicle Type enum corrected.
				</Date>
				<Date>
					<Modified>2019-04-11</Modified>Correct name of Parking PropertyId to ParkimgPropertiesId
				</Date>
				<Date>
					<Modified>2019-04-25</Modified>Fix to use  Parking Passenger ENtrances
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines PARKING    base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_parking_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Created for the Ifopt standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - PARKING identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: PARKING identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:complexType name="parkingRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a PARKING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ParkingRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ParkingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingRef" type="ParkingRefStructure" substitutionGroup="SiteRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PARKING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteRefStructure">
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="ParkingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingCapacityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingCapacityRef" type="ParkingCapacityRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING CAPACITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingCapacityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PARKING CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="ParkingCapacityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ParkingPropertiesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING PROPERTIES</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingPropertiesRef" type="ParkingPropertiesRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING PROPERTIES</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingPropertiesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PARKING PROPERTIES</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="ParkingPropertiesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING PROPERTY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingEntranceRef" type="ParkingEntranceRefStructure" substitutionGroup="EntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a PARKING ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EntranceRefStructure">
				<xsd:attribute name="ref" type="ParkingEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of PARKING ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingPassengerEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingEntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingPassengerEntranceRef" substitutionGroup="ParkingEntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="ParkingPassengerEntranceRefStructure"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ParkingPassengerEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a PARKING ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingEntranceRefStructure">
				<xsd:attribute name="ref" type="ParkingPassengerEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of PARKING ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingEntranceForVehiclesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingEntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingEntranceForVehiclesRef" type="ParkingEntranceForVehiclesRefStructure" substitutionGroup="ParkingEntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingEntranceForVehiclesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a PARKING VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingEntranceRefStructure">
				<xsd:attribute name="ref" type="ParkingEntranceForVehiclesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING ENTRANCE FOR VEHICLES.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingAreaIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingAreaRef" type="ParkingAreaRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING AREA.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingAreaRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteComponentRefStructure">
				<xsd:attribute name="ref" type="ParkingAreaIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING AREA.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="parkingAreaRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ParkingAreaRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingBayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="ParkingBayRef" type="ParkingBayRefStructure" substitutionGroup="SiteComponentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PARKING BAY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParkingBayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteComponentRefStructure">
				<xsd:attribute name="ref" type="ParkingBayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PARKING BAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="parkingBayRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more a references to a PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ParkingBayRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingPublicCodeType">
		<xsd:annotation>
			<xsd:documentation>Unique identifier of a parking for SMS and other customer facing delivery channels.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString"/>
	</xsd:simpleType>
	<xsd:group name="ParkingIdentifierGroup">
		<xsd:annotation>
			<xsd:documentation>Alternative identifiers of a PARKING.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicCode" type="ParkingPublicCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short public code for passengers to use when uniquely identifying the stop by SMS and other self-service channels.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ParkingLayoutEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING Layout types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="covered"/>
			<xsd:enumeration value="openSpace"/>
			<xsd:enumeration value="multistorey"/>
			<xsd:enumeration value="underground"/>
			<xsd:enumeration value="roadside"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="cycleHire"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="parkAndRide"/>
			<xsd:enumeration value="liftShareParking"/>
			<xsd:enumeration value="urbanParking"/>
			<xsd:enumeration value="airportParking"/>
			<xsd:enumeration value="trainStationParking"/>
			<xsd:enumeration value="exhibitionCentreParking"/>
			<xsd:enumeration value="rentalCarParking"/>
			<xsd:enumeration value="shoppingCentreParking"/>
			<xsd:enumeration value="motorwayParking"/>
			<xsd:enumeration value="roadside"/>
			<xsd:enumeration value="parkingZone"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="cycleRental"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingPaymentProcessListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of PARKING Payment process types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ParkingPaymentProcessEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingPaymentProcessEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING payment process types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="free"/>
			<xsd:enumeration value="payAtBay"/>
			<xsd:enumeration value="payAndDisplay"/>
			<xsd:enumeration value="payAtExitBoothManualCollection"/>
			<xsd:enumeration value="payAtMachineOnFootPriorToExit"/>
			<xsd:enumeration value="payByPrepaidToken"/>
			<xsd:enumeration value="payByMobileDevice"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingStayListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of PARKING Stay Term types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ParkingStayEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingStayEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING Stay Term types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="shortStay"/>
			<xsd:enumeration value="midTerm"/>
			<xsd:enumeration value="longTerm"/>
			<xsd:enumeration value="dropoff"/>
			<xsd:enumeration value="unlimited"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingVehicleListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of PARKING VEGICLE types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ParkingVehicleEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingVehicleEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING VEHICLE types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="pedalCycle"/>
			<xsd:enumeration value="moped"/>
			<xsd:enumeration value="motorcycle"/>
			<xsd:enumeration value="motorcycleWithSidecar"/>
			<xsd:enumeration value="motorScooter"/>
			<xsd:enumeration value="twoWheeledVehicle"/>
			<xsd:enumeration value="threeWheeledVehicle"/>
			<xsd:enumeration value="car"/>
			<xsd:enumeration value="smallCar"/>
			<xsd:enumeration value="passengerCar"/>
			<xsd:enumeration value="largeCar"/>
			<xsd:enumeration value="fourWheelDrive"/>
			<xsd:enumeration value="taxi"/>
			<xsd:enumeration value="camperCar"/>
			<xsd:enumeration value="carWithTrailer"/>
			<xsd:enumeration value="carWithCaravan"/>
			<xsd:enumeration value="minibus"/>
			<xsd:enumeration value="bus"/>
			<xsd:enumeration value="van"/>
			<xsd:enumeration value="largeVan"/>
			<xsd:enumeration value="highSidedVehicle"/>
			<xsd:enumeration value="lightGoodsVehicle"/>
			<xsd:enumeration value="heavyGoodsVehicle"/>
			<xsd:enumeration value="agriculturalVehicle"/>
			<xsd:enumeration value="tanker"/>
			<xsd:enumeration value="truck"/>
			<xsd:enumeration value="tram"/>
			<xsd:enumeration value="articulatedVehicle"/>
			<xsd:enumeration value="vehicleWithTrailer"/>
			<xsd:enumeration value="lightGoodsVehicleWithTrailer"/>
			<xsd:enumeration value="heavyGoodsVehicleWithTrailer"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="allPassengerVehicles"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingUserEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING User types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="allUsers"/>
			<xsd:enumeration value="staff"/>
			<xsd:enumeration value="visitors"/>
			<xsd:enumeration value="registeredDisabled"/>
			<xsd:enumeration value="registered"/>
			<xsd:enumeration value="rental"/>
			<xsd:enumeration value="doctors"/>
			<xsd:enumeration value="residentsWithPermits"/>
			<xsd:enumeration value="reservationHolders"/>
			<xsd:enumeration value="emergencyServices"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingUserListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of PARKING User types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ParkingUserEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingReservationEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PARKING User types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="reservationRequired"/>
			<xsd:enumeration value="reservationAllowed"/>
			<xsd:enumeration value="noReservations"/>
			<xsd:enumeration value="registrationRequired"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
</xsd:schema>
