XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_equipmentWaiting_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_equipmentWaiting_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2007-06-12</Created>
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes
						 NJSK move LockerTypeEnumeration  and LuggageServiceEnumeration enums   to this file
						 CD to Add new LockingTypeEnumeration with values  	 key, keyboard, mechanicalNumbering, contactless, phoneApp, other,
 				</Date>
 				<Date>
					<Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes
						 NJSK rename LockingType value app to mobileApp 
 				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines WAITING EQUIPMENT types for Site access.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_equipmentTicketing_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - WAITING EQUIPMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>WAITING EQUIPMENT identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ====SITE EQUIPMENT=============================================== -->
	<xsd:simpleType name="SiteEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of SITE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="SiteEquipmentRef" type="SiteEquipmentRefStructure" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an SITE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an SITE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EquipmentRefStructure">
				<xsd:attribute name="ref" type="SiteEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="WaitingEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of WAITING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="WaitingEquipmentRef" type="WaitingEquipmentRefStructure" substitutionGroup="SiteEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an WAITING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WaitingEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an WAITING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteEquipmentRefStructure">
				<xsd:attribute name="ref" type="WaitingEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a WAITING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="WaitingRoomEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of WAITING ROOM EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="WaitingRoomEquipmentRef" type="WaitingRoomEquipmentRefStructure" substitutionGroup="SiteEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an WAITING ROOM EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WaitingRoomEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an WAITING ROOM EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="SiteEquipmentRefStructure"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LuggageLockerIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of LUGGAGE LOCKER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="LuggageLockerEquipmentRef" type="LuggageLockerEquipmentRefStructure" substitutionGroup="SiteEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an LUGGAGE LOCKER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LuggageLockerEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an LUGGAGE LOCKER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteEquipmentRefStructure">
				<xsd:attribute name="ref" type="LuggageLockerIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LUGGAGE LOCKER EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LockerTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Locker Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="leftLuggageOffice"/>
			<xsd:enumeration value="lockers"/>
				<xsd:enumeration value="oversizeLockers"/>
			<xsd:enumeration value="bikeRack"/>
			<xsd:enumeration value="bikeCarriage"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LockingTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for type of locking mechanism.+v1.1.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="key"/>
			<xsd:enumeration value="keyboard"/>
			<xsd:enumeration value="mechanicalNumbering"/>
			<xsd:enumeration value="contactless"/>
			<xsd:enumeration value="mobileApp"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LuggageServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Luggage Service Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="leftLuggage"/>
			<xsd:enumeration value="porterage"/>
			<xsd:enumeration value="freeTrolleys"/>
			<xsd:enumeration value="paidTrolleys"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ShelterEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of SHELTER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="ShelterEquipmentRef" type="ShelterEquipmentRefStructure" substitutionGroup="SiteEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an SHELTER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ShelterEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an SHELTER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteEquipmentRefStructure">
				<xsd:attribute name="ref" type="ShelterEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SHELTER EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="SeatingEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of SEATING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="SeatingEquipmentRef" type="SeatingEquipmentRefStructure" substitutionGroup="SiteEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an SEATING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SeatingEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an SEATING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteEquipmentRefStructure">
				<xsd:attribute name="ref" type="SeatingEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SEATING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TrolleyStandEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of TROLLEY STAND EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrolleyStandEquipmentRef" type="TrolleyStandEquipmentRefStructure" substitutionGroup="SiteEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an TROLLEY STAND EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrolleyStandEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an TROLLEY STAND EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteEquipmentRefStructure">
				<xsd:attribute name="ref" type="TrolleyStandEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TROLLEY STAND EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
