XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_rechargingPointAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_rechargingPointAssignment_support">
	<xsd:include schemaLocation="netex_ifopt_parking_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2024-02-28</Created>YM Extension
				</Date>
				<Date><Modified>2024-10-25</Modified>And RECHARGING BAY, RECHARGING STATION
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the RECHARGING POINT ASSIGNMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_rechargingPointAssignmente_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					<Copyright>CEN, Crown Copyright 2003-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV,   standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx RECHARGING POINT ASSIGNMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: RECHARGING POINT ASSIGNMENT identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===== RECHARGING BAY======================================================= -->
	<xsd:simpleType name="RechargingBayIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a RECHARGING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingBayIdType"/>
	</xsd:simpleType>
	<xsd:element name="RechargingBayRef" type="RechargingBayRefStructure" substitutionGroup="ParkingBayRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a RECHARGING BAY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RechargingBayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a RECHARGING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingBayRefStructure">
				<xsd:attribute name="ref" type="RechargingBayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RECHARGING BAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassRechargingBayRefStructureType" default="RechargingBay">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for RechargingBayRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== RECHARGING BAY======================================================= -->
	<xsd:simpleType name="RechargingStationIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a RECHARGING STATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingIdType"/>
	</xsd:simpleType>
	<xsd:element name="RechargingStationRef" type="RechargingStationRefStructure" substitutionGroup="ParkingRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a RECHARGING STATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RechargingStationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a RECHARGING STATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingRefStructure">
				<xsd:attribute name="ref" type="RechargingStationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RECHARGING STATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassRechargingStationRefStructureType" default="RechargingStation">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for RechargingStationRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== RECHARGING POINT ASSIGNMENT======================================================= -->
	<xsd:simpleType name="RechargingPointAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a RECHARGING POINT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="RechargingPointAssignmentRef" type="RechargingPointAssignmentRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a RECHARGING POINT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RechargingPointAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a RECHARGING POINT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="RechargingPointAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RECHARGING POINT ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassRechargingPointAssignmentRefStructureType" default="RechargingPointAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for RechargingPointAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
