XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_rechargingPointAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_rechargingPointAssignment_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_nm_equipmentEnergy_support.xsd"/>
	<xsd:include schemaLocation="netex_rechargingPointAssignment_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_parking_version.xsd"/>
	<xsd:include schemaLocation="../part1_tacticalPlanning/netex_servicePattern_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2024-02-27</Created>Transmodel extension
				</Date>
				<Date>
					<Modified>2024-02-27</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the RECHARGING POINT ASSIGNMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_rechargingPointAssignment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2023-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV,  standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SITE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: RECHARGING POINT ASSIGNMENT types.</xsd:documentation>
	</xsd:annotation>
	<!-- =========== RECHARGING POINT ASSIGNMENT ============================================== -->
	<xsd:group name="RechargingPointAssignmentInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>RECHARGINGPOINT ASSIGNMENT related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="rechargingPointAssignments" type="rechargingPointAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>RECHARGING POINTs in frame. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="rechargingPointAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a lsit of RECHARGING POINT ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="RechargingPointAssignment" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Can be a STOP PLACE, VEHICLE MEETING POINT, TAXI RANK.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RechargingPointAssignment" type="RechargingPointAssignment_VersionStructure" substitutionGroup="Assignment_Dummy">
		<xsd:annotation>
			<xsd:documentation>The allocation of a TIMING POINT to a SITE COMPONENT such as a PARKING BAY that has VEHICLE CHARGING EQUIPMENT. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RechargingPointAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a RECHARGING POINT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:group ref="RechargingPointAssignmentGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RechargingPointAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a RECHARGING POINT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SiteComponentRef" minOccurs="0"/>
			<xsd:element ref="EquipmentPlaceRef" minOccurs="0"/>
			<xsd:element ref="VehicleChargingEquipmentRef" minOccurs="0"/>
			<xsd:element name="servedScheduledStopPoints" type="scheduledStopPointRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SCHEDULED STOP POINTs served by the RECHARGING POINT</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- =========== RECHARGING STATION  ============================================== -->
	<xsd:complexType name="rechargingStations_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of RECHARGING stations.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="RechargingStation" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Can be a STOP PLACE, VEHICLE MEETING POINT, TAXI RANK.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RechargingStation" substitutionGroup="Parking_Dummy">
		<xsd:annotation>
			<xsd:documentation>A PARKING with bays specifically equipped for recharging VEHICLEs. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RechargingStation_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingGroup"/>
						</xsd:sequence>
						<xsd:group ref="RechargingStationGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RechargingStationIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of RECHARGING STATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RechargingStation_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a RECHARGING Station.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Parking_VersionStructure">
				<xsd:group ref="RechargingStationGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RechargingStationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a RECHARGING Station.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TotalPower" type="WattageType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total power available to all bays in station.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- =========== RECHARGING BAY  ============================================== -->
	<xsd:complexType name="rechargingBays_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a lsit of RECHARGING BAYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="RechargingBay" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Can be a STOP PLACE, VEHICLE MEETING POINT, TAXI RANK.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RechargingBay" substitutionGroup="ParkingBay_Dummy">
		<xsd:annotation>
			<xsd:documentation>A PARKING BAY specifically equipped for recharging VEHICLEs. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RechargingBay_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingBayGroup"/>
						</xsd:sequence>
						<xsd:group ref="RechargingBayGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="ParkingBayIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RechargingBay_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a RECHARGING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParkingBay_VersionStructure">
				<xsd:group ref="RechargingBayGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RechargingBayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a RECHARGING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
