XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_stopPlace_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_stopPlace_support">
	<xsd:include schemaLocation="../../netex_framework/netex_utility/netex_utility_types.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_site_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_path_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date><Modified>2017-06-13</Modified>CR046 Add BusPlatform to enum
				</Date>
				<Date><Modified>2019-03-25</Modified>CR055 CD Change #52 Add new attribute  ___StopPlaceWeight___  to ___StopPlace__ with values _international, national, regional, local_. 
						NJSK Review: Make  values lowerCamelCase consistent with NeTEx conventions.
				</Date>
				<Date><Modified>2017-06-13</Modified>Issue #125 Add Multimodal to QuayType  enums
				</Date>
				<Date><Modified>2023-11-07</Modified>CR0544 Deprecate PrivateCode.
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines STOP PLACE base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_stopPlace_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright></Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - STOP PLACE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>STOP PLACE identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="StopPlaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteIdType"/>
	</xsd:simpleType>
	<xsd:element name="StopPlaceRef" type="StopPlaceRefStructure" substitutionGroup="SiteRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopPlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteRefStructure">
				<xsd:attribute name="ref" type="StopPlaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STOP PLACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassStopPlaceRefStructureType" default="StopPlace">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for StopPlaceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="stopPlaceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="StopPlaceRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="GroupOfStopPlacesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF STOP PLACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="GroupOfStopPlacesRef" type="GroupOfStopPlacesRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP OF STOP PLACEs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfStopPlacesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a GROUP OF STOP PLACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="GroupOfStopPlacesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF STOP PLACEs.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfStopPlacesRefStructureType" default="GroupOfStopPlaces">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for GroupOfStopPlacesRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="StopPlaceSpaceRef" type="StopPlaceSpaceRefStructure" substitutionGroup="SiteComponentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STOP PLACE SPACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopPlaceSpaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference a STOP PLACE SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteComponentRefStructure">
				<xsd:attribute name="nameOfRefClass" type="NameOfClassStopPlaceSpaceRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for StopPlaceSpaceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="SiteComponentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="QuayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a QUAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="QuayRef" type="QuayRefStructure" substitutionGroup="StopPlaceSpaceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a QUAY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="QuayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a QUAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="StopPlaceSpaceRefStructure">
				<xsd:attribute name="ref" type="QuayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a QUAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassQuayRefStructureType" default="Quay">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for QuayRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="quayRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a QUAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="QuayRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccessSpaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ACCESS SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="AccessSpaceRef" type="AccessSpaceRefStructure" substitutionGroup="StopPlaceSpaceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ACCESS SPACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccessSpaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to an ACCESS SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="StopPlaceSpaceRefStructure">
				<xsd:attribute name="ref" type="AccessSpaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ACCESS SPACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassAccessSpaceRefStructureType" default="AccessSpace">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for AccessSpaceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="boardingPositionRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a BOARDING POSITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="BoardingPositionRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="BoardingPositionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a BOARDING POSITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="BoardingPositionRef" type="BoardingPositionRefStructure" substitutionGroup="StopPlaceSpaceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a BOARDING POSITION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BoardingPositionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a BOARDING POSITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="StopPlaceSpaceRefStructure">
				<xsd:attribute name="ref" type="BoardingPositionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a BOARDING POSITION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassBoardingPositionRefStructureType" default="BoardingPosition">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for BoardingPositionRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="StopPlaceEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STOP PLACE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="StopPlaceEntranceRef" type="StopPlaceEntranceRefStructure" substitutionGroup="EntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STOP PLACE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopPlaceEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a STOP PLACE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EntranceRefStructure">
				<xsd:attribute name="ref" type="StopPlaceEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STOP PLACE ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassStopPlaceEntranceRefStructureType" default="StopPlaceEntrance">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for StopPlaceEntranceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="StopPlaceVehicleEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STOP PLACE VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleEntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="StopPlaceVehicleEntranceRef" type="StopPlaceVehicleEntranceRefStructure" substitutionGroup="EntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STOP PLACE VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopPlaceVehicleEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a STOP PLACE VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EntranceRefStructure">
				<xsd:attribute name="ref" type="StopPlaceVehicleEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STOP PLACE VEHICLE ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassStopPlaceVehicleEntranceRefStructureType" default="StopPlaceVehicleEntrance">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for StopPlaceVehicleEntranceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PlateCodeType">
		<xsd:annotation>
			<xsd:documentation>The plate identifier placed on the stop.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString"/>
	</xsd:simpleType>
	<xsd:simpleType name="CleardownCodeType">
		<xsd:annotation>
			<xsd:documentation>Number associated with stop used for wireless cleardown systems. 20 bit number.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger"/>
	</xsd:simpleType>
	<xsd:group name="StopIdentifierGroup">
		<xsd:annotation>
			<xsd:documentation>Alternative identifiers of a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short public code for passengers to use when uniquely identifying the stop by SMS and other self-service channels.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="AliasStructure">
		<xsd:annotation>
			<xsd:documentation>Alternative Private Code for a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PrivateCode">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED - use privateCodes. -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IdentifierType" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="StopPlaceComponentTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Component Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="quay"/>
			<xsd:enumeration value="accessSpace"/>
			<xsd:enumeration value="entrance"/>
			<xsd:enumeration value="boardingPosition"/>
			<xsd:enumeration value="stoppingPlace"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QuayTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for QUAY Component Types. Special is the structure for rail, which allows a hierarchy. railIslandPlatform is the full platform positioned between two tracks, railPlatform is a side platform facing the track and railPlatformSector is a sector of such a railPlatform. A similar hierarchy is defined for a metro station layout.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="airlineGate"/>
			<xsd:enumeration value="railPlatform"/>
			<xsd:enumeration value="railIslandPlatform"/>
			<xsd:enumeration value="railPlatformSector"/>
			<xsd:enumeration value="metroPlatform"/>
			<xsd:enumeration value="metroIslandPlatform"/>
			<xsd:enumeration value="metroIslandPlatformSector"/>
			<xsd:enumeration value="coachStop"/>
			<xsd:enumeration value="busStop"/>
			<xsd:enumeration value="busPlatform"/>
			<xsd:enumeration value="busBay"/>
			<xsd:enumeration value="tramPlatform"/>
			<xsd:enumeration value="tramStop"/>
			<xsd:enumeration value="boatQuay"/>
			<xsd:enumeration value="ferryLanding"/>
			<xsd:enumeration value="telecabinPlatform">
				<xsd:annotation>
					<xsd:documentation>+v1.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="taxiStand"/>
			<xsd:enumeration value="setDownPlace"/>
			<xsd:enumeration value="vehicleLoadingPlace"/>
			<xsd:enumeration value="handicappedLevelBoardingSector"/>
			<xsd:enumeration value="multimodal"/>
			<xsd:enumeration value="busStopWithinRoadwayBoarding">
				<xsd:annotation>
					<xsd:documentation>Bus stop directly on street. This means people waiting to board will literally be standing on the street. The usual elements of a stop (pole, bank, information) usually are present at the road side. Often there are markings on the floor and sometimes also traffic lights stopping the traffic for boarding and alighting. Often the area to wait is on the side of the road and the BOARDING POSITION could indicate, where to board/alight. However, BOARDING POSITIONs are often not modeled. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="tramStopWithinRoadwayBoarding">
				<xsd:annotation>
					<xsd:documentation>Tram stop directly on street. This means people waiting to board will literally be standing on the street. The usual elements of a stop (pole, bank, information) usually are present at the road side. Often there are markings on the floor and sometimes also traffic lights stopping the traffic for boarding and alighting. Often the area to wait is on the side of the road and the BOARDING POSITION could indicate, where to board/alight. However, BOARDING POSITIONs are often not modeled. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BoardingPositionTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for BOARDING POSITION Component Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="doorFromAirlineGate"/>
			<xsd:enumeration value="positionOnRailPlatform"/>
			<xsd:enumeration value="positionOnMetroPlatform"/>
			<xsd:enumeration value="positionAtCoachStop"/>
			<xsd:enumeration value="positionAtBusStop"/>
			<xsd:enumeration value="boatGangway"/>
			<xsd:enumeration value="ferryGangway"/>
			<xsd:enumeration value="telecabinPlatform">
				<xsd:annotation>
					<xsd:documentation>+v1.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="setDownPoint"/>
			<xsd:enumeration value="taxiBay"/>
			<xsd:enumeration value="vehicleLoadingRamp"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EntranceTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ENTRANCE Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="door"/>
			<xsd:enumeration value="doorway"/>
			<xsd:enumeration value="revolvingDoor"/>
			<xsd:enumeration value="slidingDoors"/>
			<xsd:enumeration value="barrier"/>
			<xsd:enumeration value="ticketBarrier"/>
			<xsd:enumeration value="idBarrier"/>
			<xsd:enumeration value="gate"/>
			<xsd:enumeration value="style"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LimitedUseTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Limited use.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="interchangeOnly">
				<xsd:annotation>
					<xsd:documentation>Stop may only be used for interchange, not for entrance or exit.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="noDirectRoadAccess">
				<xsd:annotation>
					<xsd:documentation>Stop may not be reached from Road by a paved path.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="longWalkToAccess">
				<xsd:annotation>
					<xsd:documentation>Stop may only be accessed by a long (&gt;200m) walk from road.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="isolated">
				<xsd:annotation>
					<xsd:documentation>Stop is an island or ferry stop that does not connect to rad network.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="limitedService">
				<xsd:annotation>
					<xsd:documentation>Stop has a very limited service.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="InterchangeWeightingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for INTERCHANGE Weighting.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="noInterchange"/>
			<xsd:enumeration value="interchangeAllowed"/>
			<xsd:enumeration value="recommendedInterchange"/>
			<xsd:enumeration value="preferredInterchange"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="StopPlaceWeightEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for INTERCHANGE classification at a STOP PLACE. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="international"/>
			<xsd:enumeration value="national"/>
			<xsd:enumeration value="regional"/>
			<xsd:enumeration value="local"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
