XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_flexibleStopPlace_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="inetex_ifopt_flexibleStopPlace_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_place_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines STOP PLACE base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_flexibleStopPlace_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - FLEXIBLE STOP PLACE Base types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>FLEXIBLE STOP PLACE types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- Simple Type Definitions -->
	<xsd:simpleType name="FlexibleStopPlaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FLEXIBLE STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="FlexibleStopPlaceRef" type="FlexibleStopPlaceRefStructure" substitutionGroup="PlaceRef_Dummy">
		<xsd:annotation>
			<xsd:documentation>Reference to a FLEXIBLE STOP PLACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FlexibleStopPlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a FLEXIBLE STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PlaceRefStructure">
				<xsd:attribute name="ref" type="FlexibleStopPlaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FLEXIBLE STOP PLACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassFlexibleStopPlaceRefStructureType" default="FlexibleStopPlace">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for FlexibleStopPlaceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="flexibleStopPlaceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a FLEXIBLE STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="FlexibleStopPlaceRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="FlexibleQuayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FLEXIBLE QUAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="FlexibleQuayRef" type="FlexibleQuayRefStructure" substitutionGroup="PlaceRef_Dummy">
		<xsd:annotation>
			<xsd:documentation>Reference to a FLEXIBLE QUAY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FlexibleQuayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a FLEXIBLE QUAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PlaceRefStructure">
				<xsd:attribute name="ref" type="FlexibleQuayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FLIEXIBLE QUAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassFlexibleQuayRefStructureType" default="FlexibleQuay">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for FlexibleQuayRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="FlexibleAreaIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FLEXIBLE AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FlexibleQuayIdType"/>
	</xsd:simpleType>
	<xsd:element name="FlexibleAreaRef" type="FlexibleAreaRefStructure" substitutionGroup="FlexibleQuayRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FLEXIBLE AREA.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FlexibleAreaRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a FLEXIBLE AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FlexibleQuayRefStructure">
				<xsd:attribute name="ref" type="FlexibleAreaIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FLEXIBLE AREa.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassFlexibleAreaRefStructureType" default="FlexibleArea">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for FlexibleAreaRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="HailAndRideAreaIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a HAIL AND RIDE AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FlexibleQuayIdType"/>
	</xsd:simpleType>
	<xsd:element name="HailAndRideAreaRef" type="HailAndRideAreaRefStructure" substitutionGroup="FlexibleQuayRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a HAIL AND RIDE AREA.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="HailAndRideAreaRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Unique Reference to a HAIL AND RIDE AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FlexibleQuayRefStructure">
				<xsd:attribute name="ref" type="HailAndRideAreaIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a HAIL AND RIDE AREA.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassHailAndRideAreaRefStructureType" default="HailAndRideArea">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for HailAndRideAreaRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
