XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_path_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_path_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_path_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_stopPlace_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2007-03-12</Created>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date><Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes
					 CD add CodedTiltEnumeration  with values _strongLeftTilt,   mediumLeftTilt, nearlyFlat, mediumRightTilt, strongRightTilt,  unknown_.
					 Revise name of ___CodedTilt___ to ___TiltType___ to be consistent
 				</Date>
				<Date><Modified>2024-02-05</Modified>Factor out common PATH LINK to generic file shared with DECK PATH
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines PATH types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_path_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - PATH identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: PATH identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ===== SITE PATH LINK ================================================= -->
	<xsd:complexType name="sitePathLinkRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GenericPathLinkRef"/>
					<xsd:element ref="PathLinkRefByValue"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SitePathLinkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GenericPathLinkIdType"/>
	</xsd:simpleType>
	<xsd:element name="SitePathLinkRef" type="SitePathLinkRefStructure" substitutionGroup="GenericPathLinkRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SitePathLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GenericPathLinkRefStructure">
				<xsd:attribute name="ref" type="SitePathLinkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE PATH LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSitePathLinkRefStructureType" default="SitePathLink">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SitePathLinkRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="PathLinkRef" type="SitePathLinkRefStructure" substitutionGroup="GenericPathLinkRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE PATH LINK. DEPRECATED use SitePathLinkRef+v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ====== SITE PATH JUNCTION  =========================================================== -->
	<xsd:simpleType name="SitePathJunctionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE PATH JUNCTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GenericPathJunctionIdType"/>
	</xsd:simpleType>
	<xsd:element name="SitePathJunctionRef" type="SitePathJunctionRefStructure" substitutionGroup="GenericPathJunctionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE PATH JUNCTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SitePathJunctionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SITE PATH JUNCTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GenericPathJunctionRefStructure">
				<xsd:attribute name="ref" type="SitePathJunctionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE PATH JUNCTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassPlaceRefStructureType" use="optional" default="SitePathJunction">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="PathJunctionRef" type="SitePathJunctionRefStructure" substitutionGroup="GenericPathJunctionRef">
		<xsd:annotation>
			<xsd:documentation>Depreceated - use SitePathJunctionRef +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ====== SITE PATH JUNCTION  =========================================================== -->
	<xsd:complexType name="offSitePathLinkRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GenericPathLinkRef"/>
					<xsd:element ref="PathLinkRefByValue"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="OffSitePathLinkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GenericPathLinkIdType"/>
	</xsd:simpleType>
	<xsd:element name="OffSitePathLinkRef" type="OffSitePathLinkRefStructure" substitutionGroup="GenericPathLinkRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OffSitePathLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GenericPathLinkRefStructure">
				<xsd:attribute name="ref" type="OffSitePathLinkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a OFF SITE PATH LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassOffSitePathLinkRefStructureType" default="OffSitePathLink">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for OffSitePathLinkRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- =======SITE NAVIGATION PATH JUNCTION============================================ -->
	<xsd:complexType name="siteNavigationPathRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a SITE NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="GenericNavigationPathRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="SiteNavigationPathIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GenericNavigationPathIdType"/>
	</xsd:simpleType>
	<xsd:element name="SiteNavigationPathRef" type="SiteNavigationPathRefStructure" substitutionGroup="GenericNavigationPathRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteNavigationPathRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a SITE NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GenericNavigationPathRefStructure">
				<xsd:attribute name="ref" type="SiteNavigationPathIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE NAVIGATION PATH.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSiteNavigationPathRefStructureType" default="SiteNavigationPath">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SiteNavigationPathRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="NavigationPathRef" type="SiteNavigationPathRefStructure" substitutionGroup="GenericNavigationPathRef">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED use Reference to a SIteNavigationPath v.20</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ======================================================================= -->
</xsd:schema>
