XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_path_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2007 03 23 Add repeating name -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_path_version">
	<xsd:include schemaLocation="netex_ifopt_path_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_site_version.xsd"/>
	<!-- ============================================== -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Contributor>Roger Slevin [Roger.Slevin@dft.gsi.gov.uk]</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Created as W3C .xsd schema by Nicholas Knowles. as 1.0 XML schema </Creator>
				<Date>
					<Created>2006-08-10</Created>
				</Date>
				<Date>
					<Modified>2006-09-21</Modified>
				</Date>
				<Date>
					<Modified>2007-03-22</Modified>
				</Date>
				<Date><Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes
					 CD add new attributes to PathLink : Width, FlooringType,  RightSideBorder,  LeftSideBordert, TiltAngle, CodedTilt, TactileWarningStrip,  TactileGuidingStrip	
					 NK Review: Reorder so as to place like elements toigether, add sub Groups to organize  
 				</Date>
				<Date><Modified>2019-03-28</Modified>FR49 CD #65  Accessibility changes
					 NJSK Doc rewviewe 
					 Revise name of ___PathLink___   ___Width___ to ___MinimumWidth__, add enw attribute ___MinimumHeight___
					 Revise name of  ___PathLink___  new attribute ___CodedTilt___ to ___TiltType___ to be consistent 				
 				    Also add new attributes ___MaximumGradient___ and MaximumGradientType___ to  ___PathLink___   	
 				</Date>
				<Description>
					<Title>NeTEx Network Exchange - PATH types.</Title>
					<p>
					</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_Ifopt_path_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 SG6 and Department for Transport, Great Minster House, 76 Marsham Street, London SW1P 4DR</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/ifopt/netex_ifopt_xxxxx.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Evolved from NaPTAN, SIRI and other schemas.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange (IFOPT subset) - STOP PLACE Schema Place . </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>IFOPT STOP PLACE Model.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="PathPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Common elements of a PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PathNavigationGroup"/>
			<xsd:group ref="PathDescriptionGroup"/>
			<xsd:element name="MaximumFlowPerMinute" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of passengers who can traverse PATH LINK per minute.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PathNavigationGroup">
		<xsd:annotation>
			<xsd:documentation>Common Navigation elements of a PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Towards" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Direction heading to show for PATH LINK when travelling  in its FROM / TO sense.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Back" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Direction heading to show for PATH LINK when travelling  in its TO / FROM sense.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of steps to take PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum Height of PATH LINK. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum Width of PATH LINK. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllowedUse" type="PathDirectionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed direction of use: one way or two way. Default is two way.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Transition" type="TransitionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether PATH LINK is up down or level in from to direction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gradient" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum gradient in degrees  (in the direction of the PATH LINK way). +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GradientType" type="GradientEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Coded value of the maximum gradient.+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TiltAngle" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum Tilt angle in degrees between -20 and 20 (in the direction of the PATH LINK way). +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TiltType" type="TiltTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Coded value of the maximum  tilt.  See allowed va;ues. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PathDescriptionGroup">
		<xsd:annotation>
			<xsd:documentation>Common Description elements of a PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AccessFeatureType" type="AccessFeatureEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of physical feature of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassageType" type="PassageTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of passage feature of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FlooringType" type="FlooringTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of flooring of the walking surface. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RightSideBorder" type="BorderTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of border on the right side (in the direction of the PATH LINK).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LeftSideBorder" type="BorderTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of border on the left side (in the direction of the PATH LINK). +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileWarningStrip" type="TactileWarningStripEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of the  tactile warning strips (in the direction of the PATH LINK). +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileGuidingStrip" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates whether there are guiding strips. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PathLink" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>A link between any two PLACEs (That is STOP PLACEs, ACCESS SPACEs or QUAYs, BOARDING POSITIONs, POINTs OF INTEREST etc or PATH JUNCTIONs) that represents a step in a possible route for pedestrians, cyclists or other out of vehicle passengers within or between a PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PathLink_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PathLinkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PathLinkIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PathLink_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Link_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PathLinkGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PathLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="From" type="PathLinkEndStructure">
				<xsd:annotation>
					<xsd:documentation>Origin end of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="To" type="PathLinkEndStructure">
				<xsd:annotation>
					<xsd:documentation>Destination end of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="PathLinkElementGroup"/>
			<xsd:group ref="PathPropertiesGroup"/>
			<xsd:group ref="LinkDurationGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LinkDurationGroup">
		<xsd:annotation>
			<xsd:documentation>Duration properties of a LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TransferDuration" type="TransferDurationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timings for the transfer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="PathLinkEndStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PATH LINK ENd.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PlaceRef" type="PlaceRefStructure">
				<xsd:annotation>
					<xsd:documentation>Reference to a PLACE, including QUAY, ACCESS SPACE, BOARDING POSITION or other node of a SITE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LevelRef" type="LevelRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a LEVEL on which SITE COMPONENT is found.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntranceRef" type="EntranceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to an ENTRANCE of a PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="PathLinkElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a PATH SITE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="AccessibilityAssessmentRef"/>
				<xsd:element ref="AccessibilityAssessment" minOccurs="0" maxOccurs="1"/>
			</xsd:choice>
			<xsd:element name="AccessModes" type="AccessModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed MODEs to use in component.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="SiteElementPropertiesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="sitePathLinks_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SITE PATH LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PathLinkRef"/>
					<xsd:element ref="SitePathLink">
						<xsd:annotation>
							<xsd:documentation>PATH LINK for a SITE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SitePathLink" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>A PATH LINK between two nodes that are SITE components, i.e. within a STOP PLACE or POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SitePathLink_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PathLinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
							<xsd:group ref="SitePathLinkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PathLinkIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SitePathLink_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PathLink_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SiteComponentGroup"/>
					<xsd:group ref="SitePathLinkGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SitePathLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional public label for the SITE PATH LINK</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:complexType name="pathJunctions_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PATH JUNCTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PathJunctionRef"/>
					<xsd:element ref="PathJunction">
						<xsd:annotation>
							<xsd:documentation>PATH JUNCTION for a SITE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PathJunction" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation>A designated point, inside or outside of a STOP PLACE or POINT OF INTEREST, at which two or more PATH LINKs may connect or branch.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PathJunction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PathJunctionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PathJunctionIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PathJunction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PATH LINK VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Point_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PathJunctionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PathJunctionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a PATH JUNCTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ParentZoneRef" type="ZoneRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parent ZONE that contains this PATH JUNCTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="SiteElementPropertiesGroup">
				<xsd:annotation>
					<xsd:documentation>Elements of a SITE ELEMENTs.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional Label of PATH JUNCTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SiteComponentRef" type="SiteComponentRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PATH JUNCTION is within the referenced SITE COMPONENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PathLinkView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>A VIEW of a PATH LINK used to select items for presentation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PathLink_DerivedViewStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:element name="HideLink" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether link should be hidden in the PATH LINK VIEW.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="HideDestination" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether destination of PATH LINK should be hidden.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ShowEntranceSeparately" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether ENTRANCE on beginning of PATH LINK should be shown as separate step in view.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ShowExitSeparately" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether exit at end of PATH LINK should be shown as separate step in view.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ShowHeadingSeparately" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether Heading element should be shown as separate step in view e.g. turn left right.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PathLinkIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of Object of which this is a view.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PathLink_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PATH LINK VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element name="HideLink" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether link should be hidden in the PATH LINK VIEW.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="HideDestination" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether destination of PATH LINK should be hidden.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShowEntranceSeparately" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether ENTRANCE on beginning of PATH LINK should be shown as separate step in view.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShowExitSeparately" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether exit at end of PATH LINK should be shown as separate step in view.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShowHeadingSeparately" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether Heading element should be shown as separate step in view e.g. turn left right.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
