XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_equipmentAccess_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_equipmentAccess_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2007-06-12</Created>
				</Date>
				<Date>
					<Modified>2007-06-12</Modified>
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes
					CD add NecessaryForceEnumeration with values noForce, lightForce, mediumForce,  heavyForce, unknown
					CD add LightingMethodEnumeration with values movementDetector, stepDetector, switchOnTheWall, atDoorOpening, onlyAtNight, other
						NJSK Review:  correct typo on stepDetector Add value_alwaysOn_ to LightingMethodEnumeration. Rename to LightinOnMethod.
					CD add TactileWarningStripEnumeration with values tactileStripAtBeginning, tactileStripAtEnd, tactileStripAtBothEnds, noTactileStrip, unknown,
					CD add FlooringTypeEnumeration  with values _carpet, concrete, asphalt, cork, fibreglassGrating, glazedCeramicTiles, plasticMatting, ceramicTiles, rubber, steelPlate, vinyl, wood, stone, grass, dirt, gravel, uneven, unknown, other_
					CD add BorderTypeEnumeration  with values _wall, grass, dirt, barrier, road, cyclingLane, step, rail, plants, trees, mud, solidEdge, water, gravel, noPhysicalBorder, otherPhysicalBorder, unknown, other,_	
							NJSK Review:  Move TactileWarningStripEnumeration,   here from netex_path_support , use lower camel case for values.							
 				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines ACCESS EQUIPMENT types for Place access.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifot_equipmentAccess_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - EQUIPMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>ACCESS EQUIPMENT identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ==ACCESS EQUIPMENT=================================================== -->
	<xsd:simpleType name="AccessEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ACCESS EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InstalledEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="AccessEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an ACCESS EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccessEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ACCESS EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EquipmentRefStructure">
				<xsd:attribute name="ref" type="AccessEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="EntranceEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ACCESS EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="EntranceEquipmentRef" type="EntranceEquipmentRefStructure" substitutionGroup="AccessEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an ENTRANCE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EntranceEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ENTRANCE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessEquipmentRefStructure">
				<xsd:attribute name="ref" type="EntranceEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RampEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a RAMP EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="RampEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an RAMP EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RampEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an RAMP EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessEquipmentRefStructure">
				<xsd:attribute name="ref" type="RampEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="CrossingEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CROSSING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="CrossingEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an CROSSING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CrossingEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an CROSSING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessEquipmentRefStructure">
				<xsd:attribute name="ref" type="CrossingEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LiftEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LIFT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="LiftEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an LIFT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LiftEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an LIFT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessEquipmentRefStructure">
				<xsd:attribute name="ref" type="LiftEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="EscalatorEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ESCALATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="EscalatorEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an ESCALATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EscalatorEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ESCALATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessEquipmentRefStructure">
				<xsd:attribute name="ref" type="EscalatorEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TravelatorEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAVELATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="TravelatorEquipmentRef" type="TravelatorEquipmentRefStructure" substitutionGroup="AccessEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an ENTRANCE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TravelatorEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an TRAVELATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessEquipmentRefStructure">
				<xsd:attribute name="ref" type="TravelatorEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="QueueingEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a QUEUEING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="QueueingEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an QUEUEING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="QueueingEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an QUEUEING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessEquipmentRefStructure">
				<xsd:attribute name="ref" type="QueueingEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="StaircaseEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STAIRCASE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="StaircaseEquipmentRef" type="StaircaseEquipmentRefStructure" substitutionGroup="AccessEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an STAIRCASE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StaircaseEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an STAIRCASE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessEquipmentRefStructure">
				<xsd:attribute name="ref" type="StaircaseEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RoughSurfaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUGH SURFACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="RoughSurfaceRef" type="RoughSurfaceRefStructure" substitutionGroup="AccessEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an ROUGH SURFACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoughSurfaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ROUGH SURFACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessEquipmentRefStructure">
				<xsd:attribute name="ref" type="RoughSurfaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TactileWarningStripEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TactileWarningStrip </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="tactileStripAtBeginning"/>
			<xsd:enumeration value="tactileStripAtEnd"/>
			<xsd:enumeration value="tactileStripAtBothEnds"/>
			<xsd:enumeration value="noTactileStrip"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PlaceLightingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PLACE LIGHTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="PlaceLightingEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an PLACE LIGHTING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PlaceLightingEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an PLACE LIGHTING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessEquipmentRefStructure">
				<xsd:attribute name="ref" type="PlaceLightingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:simpleType name="StairFlighttIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STAIR FLIGHT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LightingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Lighting.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="wellLit"/>
			<xsd:enumeration value="poorlyLit"/>
			<xsd:enumeration value="unlit"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LightingOnMethodEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for lighting method.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="movementDetector"/>
			<xsd:enumeration value="stepDetector"/>
			<xsd:enumeration value="switchOnTheWall"/>
			<xsd:enumeration value="atDoorOpening"/>
			<xsd:enumeration value="onlyAtNight"/>
					<xsd:enumeration value="alwaysOn"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DirectionOfUseEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for direction of use.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="up"/>
			<xsd:enumeration value="down"/>
			<xsd:enumeration value="both"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SurfaceTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for surface.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="asphalt"/>
			<xsd:enumeration value="bricks"/>
			<xsd:enumeration value="cobbles"/>
			<xsd:enumeration value="earth"/>
			<xsd:enumeration value="grass"/>
			<xsd:enumeration value="looseSurface"/>
			<xsd:enumeration value="pavingStones"/>
			<xsd:enumeration value="roughSurface"/>
			<xsd:enumeration value="smooth"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HandrailEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Sides of handrail.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="oneSide"/>
			<xsd:enumeration value="bothSides"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GradientEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Gradient steepness.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="verySteep"/>
			<xsd:enumeration value="steep"/>
			<xsd:enumeration value="medium"/>
			<xsd:enumeration value="gentle"/>
			<xsd:enumeration value="level"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EntranceAttentionEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for entrance attention device.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="doorbell"/>
			<xsd:enumeration value="helpPoint"/>
			<xsd:enumeration value="intercom"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CrossingTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for CROSSING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="levelCrossing"/>
			<xsd:enumeration value="barrowCrossing"/>
			<xsd:enumeration value="roadCrossing"/>
			<xsd:enumeration value="roadCrossingWithIsland"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NecessaryForceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for the necessary force to open a door.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="noForce"/>
			<xsd:enumeration value="lightForce"/>
			<xsd:enumeration value="mediumForce"/>
			<xsd:enumeration value="heavyForce"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
