XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_taxiPlace_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_taxiPlace_support">
	<xsd:include schemaLocation="netex_ifopt_stopPlace_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_parking_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-05</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-05</Modified>Add meeting point and link
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the TAXI PLACE identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_taxiPlace_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TAXI PLACE  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX NM TAXI PLACE identifier  types</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ==== TAXI RANK ================================================== -->
	<xsd:complexType name="taxiRankRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TAXI STANDs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TaxiStandRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TaxiRankIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TAXI RANK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StopPlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="TaxiRankRef" type="TaxiRankRefStructure" substitutionGroup="StopPlaceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TAXI RANK. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TaxiRankRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TAXI RANK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="StopPlaceRefStructure">
				<xsd:attribute name="ref" type="TaxiRankIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TAXI RANK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== TAXI PLACE ============================================ -->
	<xsd:simpleType name="TaxiStandIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TAXI STAND.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="QuayIdType"/>
	</xsd:simpleType>
	<xsd:element name="TaxiStandRef" type="TaxiStandRefStructure" substitutionGroup="QuayRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TAXI STAND. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TaxiStandRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TAXI STAND.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="QuayRefStructure">
				<xsd:attribute name="ref" type="TaxiStandIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of TAXI STAND.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ==== TAXI PARKING ================================================== -->
	<xsd:simpleType name="TaxiParkingAreaIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TAXI PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingAreaIdType"/>
	</xsd:simpleType>
	<xsd:element name="TaxiParkingAreaRef" type="TaxiParkingAreaRefStructure" substitutionGroup="ParkingAreaRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TAXI PARKING AREA. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TaxiParkingAreaRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TAXI PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingAreaRefStructure">
				<xsd:attribute name="ref" type="TaxiParkingAreaIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TAXI PARKING AREA.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
