XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_localServiceCommercial_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_localServiceCommercial_support">
	<xsd:include schemaLocation="netex_ifopt_localService_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2007-06-12</Created>
				</Date>
				<Date>
					<Modified>2007-06-12</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines COMMERCIAL Local Service types </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_localServiceCommecrial_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - EQUIPMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>COMMERCIAL LOCAL SERVICE identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:simpleType name="CommunicationServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a COMMUNICATION SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="CommunicationServiceRef" type="CommunicationServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an COMMUNICATION SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CommunicationServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an COMMUNICATION SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="CommunicationServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a COMMUNICATION SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="HireServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a HIRE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="HireServiceRef" type="HireServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an HIRE SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="HireServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an HIRE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="HireServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a HIRE SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="HireServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for HIRE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cycleHire"/>
			<xsd:enumeration value="motorcycleHire"/>
			<xsd:enumeration value="carHire"/>
			<xsd:enumeration value="recreationalDeviceHire"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HireServiceListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of HIRE SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="HireServiceEnumeration"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="MoneyServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MONEY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="MoneyServiceRef" type="MoneyServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an MONEY SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MoneyServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an MONEY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="MoneyServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a MONEY SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="MoneyServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for MONEY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cashMachine"/>
			<xsd:enumeration value="bank"/>
			<xsd:enumeration value="insurance"/>
			<xsd:enumeration value="bureauDeChange"/>
			<xsd:enumeration value="customsOffice"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MoneyServiceListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of MONEY SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="MoneyServiceEnumeration"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RetailServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a RETAIL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="RetailServiceRef" type="RetailServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an RETAIL SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RetailServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an RETAIL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="RetailServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RETAIL SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RetailServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for RETAIL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="food"/>
			<xsd:enumeration value="healthHygieneBeauty"/>
			<xsd:enumeration value="newspaperTobacco"/>
			<xsd:enumeration value="fashionAccessories"/>
			<xsd:enumeration value="bankFinanceInsurance"/>
			<xsd:enumeration value="tourism"/>
			<xsd:enumeration value="photoBooth"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RetailServiceListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of RETAIL SERVICES.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="RetailServiceEnumeration"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="CateringServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CATERING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="CateringServiceRef" type="CateringServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an CATERING SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CateringServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an CATERING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="CateringServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CATERING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
