XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_flexibleStopPlace_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<!-- 2007 03 23 Add repeating name -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_flexibleStopPlace_version">
	<xsd:include schemaLocation="netex_ifopt_flexibleStopPlace_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_stopPlace_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Contributor>Roger Slevin [Roger.Slevin@dft.gsi.gov.uk]</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Created as W3C .xsd schema by Nicholas Knowles. as 1.0 XML schema </Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2007-03-22</Modified>
				</Date>
				<Description>
					<Title>NeTEx Network Exchange - FLEXIBLE STOP PLACE types.</Title>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_flexibleStopPlace_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 SG6 and Department for Transport, Great Minster House, 76 Marsham Street, London SW1P 4DR</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/ifopt/netex_ifopt_FlexibleStopPlaceModel.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Evolved from NaPTAN, SIRI and other schemas.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange (IFOPT subset) - FLEXIBLE STOP PLACE types</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: FLEXIBLE STOP PLACE types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SITE FRAME)=================================================== -->
	<xsd:complexType name="flexibleStopPlacesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of FLEXIBLE STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="FlexibleStopPlace" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="flexibleStopPlaces_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FLEXIBLE STOP PLACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FlexibleStopPlaceRef"/>
					<xsd:element ref="FlexibleStopPlace" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>A Flexible STOP PLACE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FlexibleStopPlace" substitutionGroup="Place">
		<xsd:annotation>
			<xsd:documentation>A named type of STOP PLACE for DRT comprising one or more flexible zones where vehicles may stop and where passengers may board or leave vehicles.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexibleStopPlace_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteElementNamesGroup"/>
							<xsd:element name="TransportMode" type="VehicleModeEnumeration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Primary MODE of Vehicle transport.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:group ref="FlexibleStopPlaceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexibleStopPlaceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleStopPlace_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FLEXIBLE STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Place_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SiteElementNamesGroup"/>
					<xsd:element name="TransportMode" type="VehicleModeEnumeration" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Primary MODE of Vehicle transport.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="FlexibleStopPlaceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexibleStopPlaceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FLEXIBLE STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="StopIdentifierGroup"/>
			<xsd:group ref="FlexibleAreasGroup"/>
			<xsd:element name="lines" type="lineRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Lines  for  FLEXIBLE STOP PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="FlexibleAreasGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for area of a FLEXIBLE STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="areas" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Areas in FLEXIBLE STOP PLACE.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice maxOccurs="unbounded">
						<xsd:element ref="FlexibleArea">
							<xsd:annotation>
								<xsd:documentation>Zone in which DRT service is available.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="FlexibleAreaRef"/>
						<xsd:element ref="HailAndRideArea">
							<xsd:annotation>
								<xsd:documentation>A section of Road between two points which may be used to board bus by hailing it.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="HailAndRideAreaRef"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="FlexibleSiteElementGroup">
		<xsd:annotation>
			<xsd:documentation>Common Elements for a Flexible SITE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="SiteElementNamesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="flexibleQuays_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FLEXIBLE QUAYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FlexibleQuayRef"/>
					<xsd:element ref="FlexibleQuay"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FlexibleQuay" substitutionGroup="Place">
		<xsd:annotation>
			<xsd:documentation>A ZONE of physical access to public transport vehicles such as a platform.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexibleQuay_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="FlexibleQuayGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexibleQuayIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleQuay_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FLEXIBLE QUAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Place_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FlexibleQuayGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexibleQuayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FLEXIBLE QUAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="FlexibleSiteComponentGroup"/>
			<xsd:element name="BoardingUse" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether space can be used for boarding or en route to boarding. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AlightingUse" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether space can be used for alighting or en route to boarding. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublicCode" type="PublicCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Public identifier code of FLEXIBLE QUAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="FlexibleSiteComponentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SITE COMPONENTs of a FLEXIBLE QUAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="SiteElementNamesGroup">
				<xsd:annotation>
					<xsd:documentation>Name elements of a SITE ELEMENT t.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element ref="FlexibleStopPlaceRef" minOccurs="0"/>
			<xsd:element name="TransportMode" type="VehicleModeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Primary MODE of Vehicle transport.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="FlexibleQuayIdentifierGroup">
		<xsd:annotation>
			<xsd:documentation>Alternative identifiers of a FLEXIBLE QUAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PlateCode" type="PlateCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Plate number for QUAY An arbitrary asset number that may be placed on stop to identify it.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CleardownCode" type="CleardownCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A 20 bit number used for wireless cleardown of stop displays by some AVL systems.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="flexibleAreas_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FLEXIBLE AREAs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FlexibleAreaRef"/>
					<xsd:element ref="FlexibleArea">
						<xsd:annotation>
							<xsd:documentation>Specialisation of a FLEXIBLE QUAY (which is abstract) to identify what is the catchment area for a flexible service (so that a stop finder can find  the nearest available types of transport). It is a named zone visited by a particular mode of transport.  It is part of the SITE data set rather than the service data set, since it can be defined and exists independently of an actual service.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FlexibleArea" substitutionGroup="Place">
		<xsd:annotation>
			<xsd:documentation>Specialisation of a FLEXIBLE QUAY (which is abstract) to identify what is the catchment area for a flexible service (so that a stop finder can find  the nearest available types of transport). It is a named zone visited by a particular mode of transport.  It is part of the SITE data set rather than the service data set, since it can be defined and exists independently of an actual service.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexibleArea_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="FlexibleQuayGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FlexibleAreaGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexibleAreaIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleArea_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FLEXIBLE AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FlexibleQuay_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FlexibleAreaGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexibleAreaGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FLEXIBLE AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="destinations" type="destinationDisplayViews_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destination headings for FLEXIBLE AREa.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="hailAndRideAreas_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of HAIL AND RIDE AREAs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="HailAndRideAreaRef"/>
					<xsd:element ref="HailAndRideArea" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="HailAndRideArea" substitutionGroup="Place">
		<xsd:annotation>
			<xsd:documentation>A section of Road between two points within which one may hail a bus to board it or alight from it or ask it to stop to alight.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="HailAndRideArea_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="FlexibleQuayGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="HailAndRideAreaGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="HailAndRideAreaIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="HailAndRideArea_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a HAIL AND RIDE AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FlexibleQuay_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="HailAndRideAreaGroup">
						<xsd:annotation>
							<xsd:documentation>Elements of a HAIL AND RIDE AREA.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="HailAndRideAreaGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a HAIL AND RIDE AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BearingCompass" type="CompassBearing16Enumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bearing of Road at point in compass octants to North.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BearingDegrees" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bearing of Road in absolute degrees against North.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="destinations" type="destinationDisplayViews_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destination headings for HAIL AND RIDE AREA.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartPointRef" type="PointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Start of HAIL AND RIDE section.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndPointRef" type="PointRefStructure">
				<xsd:annotation>
					<xsd:documentation>End of HAIL AND RIDE section.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="HailAndRideAreaDescriptorGroup">
		<xsd:annotation>
			<xsd:documentation>Descriptor elements for a HAIL AND RIDE AREa.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
