XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_site_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_site_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_address_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>Fix #39 by Skinkie from 2019.01.07  Fix typo on ServiceSiteRefStructure 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SITE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_site_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					<Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SITE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: SITE idenifier types.</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SiteElementIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a SITE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AddressablePlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="SiteElementRef" type="SiteElementRefStructure" substitutionGroup="AddressablePlaceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteElementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a SITE COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AddressablePlaceRefStructure">
				<xsd:attribute name="ref" type="SiteElementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE COMPONENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="SiteIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteElementIdType"/>
	</xsd:simpleType>
	<xsd:element name="SiteRef" type="SiteRefStructure" substitutionGroup="SiteElementRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteElementRefStructure">
				<xsd:attribute name="ref" type="SiteIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PLACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="siteRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more SITEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="SiteRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ServiceSiteIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a SERVICE SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteIdType"/>
	</xsd:simpleType>
	<xsd:element name="ServiceSiteRef" type="ServiceSiteRefStructure" substitutionGroup="SiteRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SERVICE SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceSiteRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SERVICE SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteRefStructure">
				<xsd:attribute name="ref" type="ServiceSiteIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SERVICE SITE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="SiteComponentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteElementIdType"/>
	</xsd:simpleType>
	<xsd:element name="SiteComponentRef" type="SiteComponentRefStructure" substitutionGroup="SiteElementRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE COMPONENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteComponentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a SITE COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteElementRefStructure">
				<xsd:attribute name="ref" type="SiteComponentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE COMPONENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LevelIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LEVEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="LevelRef" type="LevelRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to LEVEL of a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LevelRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a LEVEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="LevelIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LEVEL.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="EntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="EntranceRef" type="EntranceRefStructure" substitutionGroup="SiteComponentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ENTRANCE to a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to identifier of an ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteComponentRefStructure">
				<xsd:attribute name="ref" type="EntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PLACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="entranceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more ENTRANCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="EntranceRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VehicleEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleEntranceRef" type="VehicleEntranceRefStructure" substitutionGroup="EntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an VEHICLE ENTRANCE to a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to identifier of an VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EntranceRefStructure">
				<xsd:attribute name="ref" type="VehicleEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PLACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccessZoneIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for an ACCESS ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ZoneIdType"/>
	</xsd:simpleType>
	<xsd:element name="AccessZoneRef" type="AccessZoneRefStructure" substitutionGroup="ZoneRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccessZoneRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to an ACCESS ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ZoneRefStructure"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PublicUseEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for public use.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="disabledPublicOnly"/>
			<xsd:enumeration value="authorisedPublicOnly"/>
			<xsd:enumeration value="staffOnly"/>
			<xsd:enumeration value="publicOnly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CoveredEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for covered.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="indoors"/>
			<xsd:enumeration value="outdoors"/>
			<xsd:enumeration value="covered"/>
			<xsd:enumeration value="mixed"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GatedEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for gated.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="gatedArea"/>
			<xsd:enumeration value="openArea"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EntranceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for doors status.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="opening"/>
			<xsd:enumeration value="openDoor"/>
			<xsd:enumeration value="door"/>
			<xsd:enumeration value="swingDoor"/>
			<xsd:enumeration value="revolvingDoor"/>
			<xsd:enumeration value="automaticDoor"/>
			<xsd:enumeration value="ticketBarrier"/>
			<xsd:enumeration value="gate"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccessSpaceTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ACCESS SPACE TYPEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="concourse"/>
			<xsd:enumeration value="bookingHall"/>
			<xsd:enumeration value="forecourt"/>
			<xsd:enumeration value="underpass"/>
			<xsd:enumeration value="overpass"/>
			<xsd:enumeration value="passage"/>
			<xsd:enumeration value="passageSection"/>
			<xsd:enumeration value="lift"/>
			<xsd:enumeration value="gallery"/>
			<xsd:enumeration value="garage"/>
			<xsd:enumeration value="shop"/>
			<xsd:enumeration value="waitingRoom"/>
			<xsd:enumeration value="restaurant"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="staircase"/>
			<xsd:enumeration value="wc"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassageTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Passage Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="pathway"/>
			<xsd:enumeration value="corridor"/>
			<xsd:enumeration value="overpass"/>
			<xsd:enumeration value="underpass"/>
			<xsd:enumeration value="tunnel"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SiteTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Types of SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="school"/>
			<xsd:enumeration value="university"/>
			<xsd:enumeration value="works"/>
			<xsd:enumeration value="office"/>
			<xsd:enumeration value="militaryBase"/>
			<xsd:enumeration value="retail"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
