XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_equipmentPassenger_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_equipmentPassenger_version">
	<xsd:include schemaLocation="netex_ifopt_equipmentPassenger_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_equipmentAccess_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_accessibility/netex_acsb_accessibility.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date>
					<Modified>2017-05-25</Modified>NPR make Gender optional 
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>Fix #38 Skinkie. Fix typo on KeyScheme.  NB this will break existing XML. 
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes
					 CD add new attribute to ___PassengerSafetyEquipment___;  ___AcousticAnnouncementsTrigger___  with values _onDemand,   automatic_.	 
					 CD add new attribute to ___PassengerSafetyEquipment___; ___AnnouncementsTriggeringMethod___  with values _presenceDetector,  app, internetPage, specificDevice, pushButton_.	 
					 CD add new attributes to ___SanitaryEquipment___;  ___CallButtonAvailable___ , ___SupportBarHeigth____.	, ___LockedAccess___. 
					 	 NJSK Review: Correct typo on SupportBarHeigth, reorder elements
 				</Date>
				<Date>
					<Modified>2019-03-29</Modified>FR49 CD #65  Accessibility changes
					 NSKK Review: 	Add missing ___ChangeAvailable___ attribute
					 NJSK Review : revises name to be AudioANnouncementsType, AudioTriggerMethod
				</Date>
				<Date>
					<Modified>2019-04-06</Modified>Fix Add back missing attribute to SanitaryEquipment: NumberofToilets 
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines EQUIPMENT base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_equipmentPassenger_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - TICKETING EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>PASSENGER EQUIPMENT types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="PassengerEquipmentChoice">
		<xsd:annotation>
			<xsd:documentation>Choice of Place equipment.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="HelpPointEquipment">
				<xsd:annotation>
					<xsd:documentation>Specialisation of PASSENGER EQUIPMENT for a help point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PassengerSafetyEquipment">
				<xsd:annotation>
					<xsd:documentation>Specialisation of PASSENGER EQUIPMENT for pasenger safety.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RubbishDisposalEquipment">
				<xsd:annotation>
					<xsd:documentation>Specialisation of EQUIPMENT for Rubbish disposal, describing bins, rubbish types, etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SanitaryEquipment">
				<xsd:annotation>
					<xsd:documentation>Specialisation of PASSENGER EQUIPMENT for sanitary facilities. e.g. WC, Shower, baby change.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="SanitaryEquipment" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>A SANITARY FACILITY , e.g. WC, Shower, baby change.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SanitaryEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Fixed" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether the EQUIPMENT is fixed at a place or min a vehicle.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SanitaryEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SanitaryEquipmentIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SanitaryEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a SANITARY FACILITY EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SanitaryEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SanitaryEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SANITARY EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
			<xsd:element name="Gender" type="GenderLimitationEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Gender required to use facility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SanitaryFacilityList" minOccurs="0"/>
			<xsd:element name="NumberOfToilets" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of Toilets</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="SanitaryEquipmentPaymentGroup"/>
			<xsd:element name="WheelchairTurningCircle" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Turning circle radius for a wheelchair.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SupportBarHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of the support bar (when there is one). +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CallButtonAvailable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether a call button is available. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SharpsDisposal" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a facility for the disposal of sharps in toilet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Staffing" type="StaffingEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Staffing of facility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LockedAccess" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether toilet may be locked end thus a key is needed (or an equivalent tool) to access.+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KeyScheme" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Key issuing scheme under which facility is accessible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SanitaryEquipmentPaymentGroup">
		<xsd:annotation>
			<xsd:documentation>PaymentElements for a SANITARY EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FreeToUse" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether toilets are free to use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Charge" type="CurrencyAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Charge for using the facility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Currency" type="CurrencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Currency of Charge for using the facility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PaymentMethods" type="PaymentMethodListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Methods of payment allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChangeAvailable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether chaneg is available. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:element name="PassengerSafetyEquipment" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PASSENGER EQUIPMENT for passenger safety features, e.g. panic button, SOS phone.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerSafetyEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Fixed" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether the EQUIPMENT is fixed at a place or min a vehicle.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerSafetyEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerSafetyEquipmentIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerSafetyEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER SAFETY EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerSafetyEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerSafetyEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER SAFETY EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cctv" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is CCTV.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MobilePhoneCoverage" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether lift there is mobile phone coverage.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PanicButton" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a panic button.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SosPhones" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are SOS phones.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightOfSosPanel" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of SOS panel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Lighting" type="LightingEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Lighting in area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AudioAnnouncements" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are Audio Announcements. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AcousticAnnouncements" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED - Renamed to AudioAnnouncements for consistency.  Old value kept for backwards compatibility - will be dropped in future release. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AudioAnnouncementType" type="AudioAnnouncementTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Triggering type for Audio Announcements. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AudioAnnouncementsTrigger" type="AudioTriggerMethodEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>How to trigger Acoustic Announcements. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="HelpPointEquipment" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PASSENGER EQUIPMENT for HELP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="HelpPointEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Fixed" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether the EQUIPMENT is fixed at a place or min a vehicle.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="HelpPointEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="HelpPointEquipmentIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="HelpPointEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a HELP POINT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="HelpPointEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="HelpPointEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a HELP POINT EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
			<xsd:element name="HeightFromGround" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of HELP POINT from ground.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Phone" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether help point is a phone.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InductionLoop" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is an induction loop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InductionLoopSign" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is an indication that there is an induction loop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StopRequestButton" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a button to request a vehicle to stop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StopRequestTimeout" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timeout for a stop request. After this interval after pressing request button  a request will be ignored and a new request must be made.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RubbishDisposalEquipment" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>Equipment for Passengers relating to a Rubbish disposal.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RubbishDisposalEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Fixed" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether the EQUIPMENT is fixed at a place or min a vehicle.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RubbishDisposalEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RubbishDisposalEquipmentIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RubbishDisposalEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for RUBBISH DISPOSAL EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RubbishDisposalEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RubbishDisposalEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a RUBBISH DISPOSAL EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SharpsDispsal" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is CCTV.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Recycling" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is separation for recycling.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
