XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_navigationPath_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<!-- 2007 03 23 Add repeating name -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_navigationPath_version">
	<!-- ======================================================================= -->
	<!-- ===Global import of all acsb namespace elements neeeded to work around XERCES limitation
	<xsd:include schemaLocation="../acsb/netex_acsb_all.xsd"/> =====-->
	<!--.....These are the actual dependencies...-->
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_place_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_accessibility/netex_acsb_accessibility.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_path_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Contributor>Roger Slevin [Roger.Slevin@dft.gsi.gov.uk]</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Created as W3C .xsd schema by Nicholas Knowles. as 1.0 XML schema </Creator>
				<Date>
					<Created>2006-08-10</Created>
				</Date>
				<Date>
					<Modified>2006-09-21</Modified>
				</Date>
				<Date>
					<Modified>2007-03-22</Modified>
				</Date>
				<Date>
					<Modified>2017-11-08</Modified> Move Dsecription prom Path in Seqyence to supertpe lin k in Sequence
				</Date>
				<Description>
					<Title>NeTEx Network Exchange - NAVIGATION PATH types.</Title>
					<p>
						<ul>
							<li>STOP PLACE Model</li>
							<li>POINT OF INTEREST Model</li>
							<li>Topographic Model</li>
							<li>Administrative Model</li>
						</ul>
					</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_navigationPath_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 SG6 and Department for Transport, Great Minster House, 76 Marsham Street, London SW1P 4DR</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/ifopt/netex_ifopt_xxxxx.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Evolved from NaPTAN, SIRI and other schemas.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange (IFOPT subset) - NAVIGATION PATH types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>IFOPT NAVIGATION PATH Model.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SITEFRAME)=================================================== -->
	<xsd:group name="PathInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>PATH related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="navigationPaths" type="navigationPathsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NAVIGATION PATHs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pathLinks" type="pathLinksInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PATH LINKs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pathJunctions" type="pathJunctionsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PATH JUNCTIONs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="navigationPathsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of NAVIGATION PATHs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="NavigationPath" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A designated path between two PLACEs. May include an Ordered sequence of references to PATH LINKS.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="pathLinksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of PATH LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PathLink" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A designated path between two PLACEs. May include an Ordered sequence of references to PATH LINKS.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="pathJunctionsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of PATH JUNCTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PathJunction" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A designated path between two PLACEs. May include an Ordered sequence of references to PATH LINKS.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SiteAccessGroup">
		<xsd:annotation>
			<xsd:documentation>Group of Access related elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pathLinks" type="sitePathLinks_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PATH LINKs for SITE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pathJunctions" type="pathJunctions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PATH JUNCTIONs within the SITE and or between the SITE elsewhere.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accesses" type="accesses_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ACCESS links for SITE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="navigationPaths" type="navigationPaths_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NAVIGATION PATHs within the SITE and or between the SITE elsewhere.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="navigationPaths_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of NAVIGATION PATHs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="NavigationPathRef"/>
					<xsd:element ref="NavigationPath">
						<xsd:annotation>
							<xsd:documentation>NAVIGATION PATH for a SITE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="NavigationPath" substitutionGroup="LinkSequence">
		<xsd:annotation>
			<xsd:documentation>A designated path between two places. May include an ordered sequence of PATH LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="NavigationPath_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NavigationPathSummaryGroup"/>
							<xsd:group ref="SiteElementPropertiesGroup"/>
							<xsd:group ref="NavigationPathGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="NavigationPathIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NavigationPath_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LinkSequence_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="NavigationPathSummaryGroup"/>
					<xsd:group ref="SiteElementPropertiesGroup"/>
					<xsd:group ref="NavigationPathGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="NavigationPathGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AccessFeatureList" type="AccessFeatureListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of Overall Accessibility of NAVIGATION PATH.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NavigationType" type="NavigationTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of Navigation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="placesInSequence" type="placesInSequence_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered collection of References to STOP PLACE spaces Use for a branch path.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pathLinksInSequence" type="pathLinksInSequence_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered collection of References to PATH LINKs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transfers" type="transferRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Access Links that NAVIGATION PATH serves.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="NavigationPathSummaryGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a NAVIGATION PATH that summarise properties o the set of PATH LINKs. Will state the strictest constraint found . e.g. if any link forbids wheelchair, the NAVIGATION PATH forbids wheelchair.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="From" type="PathLinkEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Origin end of NAVIGATION PATH. Only needed if detailed PATH LINKs are not given.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="To" type="PathLinkEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destination end of NAVIGATION PATH. Only needed if detailed PATH LINKs not given.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
			<xsd:element name="AccessModes" type="AccessModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MODEs of access which may used at associated place, e.g. foot access, bicycle access.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="summaries" type="accessSummaries_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Summaries of access features encountered in path.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransferDuration" type="TransferDurationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total time needed to navigate path (May be derived from links).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="pathLinksInSequence_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more PATH LINKs in SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PathLinkInSequence" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PathLinkInSequence" substitutionGroup="LinkInLinkSequence">
		<xsd:annotation>
			<xsd:documentation>A step in a Navigation PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PathLinkInSequence_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkInLinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PathLinkInSequenceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PathLinkInSequenceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PathLinkInSequence_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a step in NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LinkInLinkSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="PathLinkInSequenceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PathLinkInSequenceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a step in a NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PathLinkRef"/>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Reverse" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether link is navigated in to / from, i.e. reverse direction . Default is false, i.e. from to.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Heading" type="PathHeadingEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether step is left right or forward.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Transition" type="TransitionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether step is up down or level in direction of use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Instruction" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Instruction for following path</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Label On step.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="views" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Instructions on how step view should be presented.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="PathLinkView"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="placesInSequence_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more PLACEs in SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PlaceInSequence" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PlaceInSequence" substitutionGroup="PointInLinkSequence">
		<xsd:annotation>
			<xsd:documentation>Point traversed by  a NAVIGATION PATH  in sequence. May be a PLACE PATH JUNCTION or POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PlaceInSequence_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointInLinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PlaceInSequenceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PlaceInSequenceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PlaceInSequence_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PLACE in SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PointInLinkSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="PlaceInSequenceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PlaceInSequenceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of PLACE in SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PlaceRef" type="PlaceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a Place or Site Component , that is QUAY, ACCESS SPACE or BOARDING POSITION or PATH JUNCTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BranchLevel" type="xsd:NMTOKEN" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Branching level of place.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="onwardLinks" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Onward links from this point.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="pathLinksInSequence_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="accessSummaries_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more ACCESS SUMMARies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="AccessSummary" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AccessSummary">
		<xsd:annotation>
			<xsd:documentation>Summary of a feature used in NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AccessSummary_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessSummaryGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AccessSummaryIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AccessSummary_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ACCESS SUMMARY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="AccessSummaryGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessSummaryGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AccessFeatureType" type="AccessFeatureEnumeration">
				<xsd:annotation>
					<xsd:documentation>Type of access feature, e.g. lift, stairs,</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Count" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>Count of feature, e.g. number of lifts, stairs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Transition" type="TransitionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of access feature transition e.g. up or down.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
