XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_checkConstraint_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_checkConstraint_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date><Modified>2017-10-25</Modified>  Add TYPE OF CONGESTION.
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines common Check types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_checkConstraint_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - CHECK CONSTRAINT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation> CHECK CONSTRAINT types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ===== TYPE OFCONGESTION ======================================== -->
	<xsd:simpleType name="TypeOfCongestionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF CONGESTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfCongestionRef" type="TypeOfCongestionRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF CONGESTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfCongestionRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF CONGESTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfCongestionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF CONGESTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--======CHECK CONSTRAINT ============================================================================-->
	<xsd:simpleType name="CheckConstraintIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CHECK CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="CheckConstraintRef" type="CheckConstraintRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a CHECK CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CheckConstraintRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a CHECK CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="CheckConstraintIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CHECK CONSTRAINT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--======CHECK CONSTRAINT ============================================================================-->
	<xsd:simpleType name="CheckConstraintDelayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CHECK CONSTRAINT DELAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="CheckConstraintDelayRef" type="CheckConstraintDelayRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a CHECK CONSTRAINT DELAY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CheckConstraintDelayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a CHECK CONSTRAINT DELAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="CheckConstraintDelayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CHECK CONSTRAINT DELAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--======Values =============================================================================-->
	<xsd:simpleType name="CheckConstraintThroughputIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CHECK CONSTRAINT THROUGHPUT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="CheckConstraintThroughputRef" type="CheckConstraintThroughputRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a CHECK CONSTRAINT THROUGHPUT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CheckConstraintThroughputRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a CHECK CONSTRAINT THROUGHPUT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="CheckConstraintThroughputIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CHECK CONSTRAINT THROUGHPUT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--======Values =============================================================================-->
	<xsd:simpleType name="CheckProcessTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for a CHECK CONSTRAINT process.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="boarding"/>
			<xsd:enumeration value="alighting"/>
			<xsd:enumeration value="ticketPurchase"/>
			<xsd:enumeration value="ticketCollection"/>
			<xsd:enumeration value="ticketValidation"/>
			<xsd:enumeration value="baggageCheckIn"/>
			<xsd:enumeration value="checkout"/>
			<xsd:enumeration value="oversizeBaggageCheckIn"/>
			<xsd:enumeration value="oversizeBaggageReclaim"/>
			<xsd:enumeration value="baggageReclaim"/>
			<xsd:enumeration value="leftLuggageDeposit"/>
			<xsd:enumeration value="leftLuggageReclaim"/>
			<xsd:enumeration value="firstclassCheckin"/>
			<xsd:enumeration value="specialNeedsCheckin"/>
			<xsd:enumeration value="baggageSecurityCheck"/>
			<xsd:enumeration value="securityCheck"/>
			<xsd:enumeration value="outgoingPassportControl"/>
			<xsd:enumeration value="incomingPassportControl"/>
			<xsd:enumeration value="fasttrackDepartures"/>
			<xsd:enumeration value="fasttrackArrivals"/>
			<xsd:enumeration value="incomingDutyFree"/>
			<xsd:enumeration value="outgoingDutyFree"/>
			<xsd:enumeration value="taxRefunds"/>
			<xsd:enumeration value="outgoingCustoms"/>
			<xsd:enumeration value="incomingCustoms"/>
			<xsd:enumeration value="waitForLift"/>
			<xsd:enumeration value="ingress"/>
			<xsd:enumeration value="egress"/>
			<xsd:enumeration value="queue"/>
			<xsd:enumeration value="vehicleLoading"/>
			<xsd:enumeration value="vehicleUnloading"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CheckServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for a CHECK CONSTRAINT service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="selfService"/>
			<xsd:enumeration value="counterService"/>
			<xsd:enumeration value="anyService"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccessFeatureEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for an access feature.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="lift"/>
			<xsd:enumeration value="escalator"/>
			<xsd:enumeration value="freightElevator"/>
			<xsd:enumeration value="travelator"/>
			<xsd:enumeration value="ramp"/>
			<xsd:enumeration value="stairs"/>
			<xsd:enumeration value="seriesOfStairs"/>
			<xsd:enumeration value="shuttle"/>
			<xsd:enumeration value="crossing"/>
			<xsd:enumeration value="barrier"/>
			<xsd:enumeration value="narrowEntrance"/>
			<xsd:enumeration value="hall"/>
			<xsd:enumeration value="concourse"/>
			<xsd:enumeration value="confinedSpace"/>
			<xsd:enumeration value="queueManagement"/>
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="openSpace"/>
			<xsd:enumeration value="street"/>
			<xsd:enumeration value="pavement"/>
			<xsd:enumeration value="footpath"/>
			<xsd:enumeration value="passage"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccessFeatureListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for a list of access features.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AccessFeatureEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="CongestionEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for a congestion.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="noWaiting"/>
			<xsd:enumeration value="queue"/>
			<xsd:enumeration value="crowding"/>
			<xsd:enumeration value="full"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CheckDirectionEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for CHECK CONSTRAINT direction.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="forwards"/>
			<xsd:enumeration value="backwards"/>
			<xsd:enumeration value="bothWays"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
