XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_path_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2007 03 23 Add repeating name -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_path_version">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_path_version.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_path_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_site_version.xsd"/>
	<!-- ============================================== -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Contributor>Roger Slevin [Roger.Slevin@dft.gsi.gov.uk]</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Created as W3C .xsd schema by Nicholas Knowles. as 1.0 XML schema </Creator>
				<Date>
					<Created>2006-08-10</Created>
				</Date>
				<Date>
					<Modified>2006-09-21</Modified>
				</Date>
				<Date>
					<Modified>2007-03-22</Modified>
				</Date>
				<Date><Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes
					 CD add new attributes to PathLink : Width, FlooringType,  RightSideBorder,  LeftSideBordert, TiltAngle, CodedTilt, TactileWarningStrip,  TactileGuidingStrip
					 NK Review: Reorder so as to place like elements toigether, add sub Groups to organize  
 				</Date>
				<Date><Modified>2019-03-28</Modified>FR49 CD #65  Accessibility changes
					 NJSK Doc rewviewe 
					 Revise name of ___PathLink___   ___Width___ to ___MinimumWidth__, add enw attribute ___MinimumHeight___
					 Revise name of  ___PathLink___  new attribute ___CodedTilt___ to ___TiltType___ to be consistent 				
 				    Also add new attributes ___MaximumGradient___ and MaximumGradientType___ to  ___PathLink___   	
 				</Date>
				<Date><Modified>2024-02-05</Modified>Revise to share common features with DECK PATH LINK, add OffSItePathLink
				</Date>
				<Description>
					<Title>NeTEx Network Exchange - PATH types.</Title>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_Ifopt_path_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 SG6 and Department for Transport, Great Minster House, 76 Marsham Street, London SW1P 4DR</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/ifopt/netex_ifopt_xxxxx.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Evolved from NaPTAN, SIRI and other schemas.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange (IFOPT subset) - STOP PLACE Schema Place . </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>IFOPT PATH LINK Model.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="FixedPathLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="PathLinkElementGroup"/>
			<xsd:group ref="EnvironmentPropertiesGroup"/>
			<xsd:group ref="PathPropertiesGroup"/>
			<xsd:group ref="GenericPathLinkDurationGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="SitePathLinkEndStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OFF SITE PATH LINK END.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="SiteElementRef"/>
				<xsd:element name="PlaceRef" type="PlaceRefStructure">
					<xsd:annotation>
						<xsd:documentation>DEPRECATED: Reference to a PLACE, including QUAY, ACCESS SPACE, BOARDING POSITION or other node of a SITE. Use more specifc SITE COMPONENT. -v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="LevelRef" type="LevelRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a LEVEL on which SITE COMPONENT is found.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntranceRef" type="EntranceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to an ENTRANCE of a PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="SitePathLinkElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a PATH SITE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="AccessibilityAssessmentRef"/>
				<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="AccessModes" type="AccessModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed MODEs to use in component.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="SiteElementPropertiesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== OFF SITE PATH LINK ============================================= -->
	<xsd:element name="OffSitePathLink" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>A link outside of a SITE between any two PLACEs ( PKACES PATH JUNCTIONs) that represents a step in a possible route for pedestrians, cyclists or other out of vehicle passengers within or between a PLACE. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OffSitePathLink_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GenericPathLinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OffSitePathLinkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OffSitePathLinkIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OffSitePathLink_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GenericPathLink_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OffSitePathLinkGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OffSitePathLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="From" type="SitePathLinkEndStructure">
				<xsd:annotation>
					<xsd:documentation>Origin end of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="To" type="SitePathLinkEndStructure">
				<xsd:annotation>
					<xsd:documentation>Destination end of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="FixedPathLinkGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== SITE PATH LINK =============================================== -->
	<xsd:complexType name="sitePathLinks_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SITE PATH LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="SitePathLinkRef"/>
					<xsd:element ref="SitePathLink">
						<xsd:annotation>
							<xsd:documentation>PATH LINK for a SITE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SitePathLink" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>A PATH LINK between two nodes that are SITE components, i.e. within a STOP PLACE or POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SitePathLink_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GenericPathLinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SitePathLinkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SitePathLinkIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SitePathLink_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GenericPathLink_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SitePathLinkGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SitePathLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="From" type="SitePathLinkEndStructure">
				<xsd:annotation>
					<xsd:documentation>Origin end of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="To" type="SitePathLinkEndStructure">
				<xsd:annotation>
					<xsd:documentation>Destination end of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="FixedPathLinkGroup">
				<xsd:annotation>
					<xsd:documentation>Elements of a fixed PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional public label for the SITE PATH LINK</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="SiteComponentGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="PathLink" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED - use SITE PATH LINK</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SitePathLink_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GenericPathLinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SitePathLinkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SitePathLinkIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- ====== SITE PATH JUNCTION  ============================================= -->
	<xsd:complexType name="sitePathJunctions_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SITE PATH JUNCTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GenericPathJunctionRef"/>
					<xsd:element ref="SitePathJunction">
						<xsd:annotation>
							<xsd:documentation>PATH JUNCTION for a SITE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PathJunction">
						<xsd:annotation>
							<xsd:documentation>Preferably use SITE PATH JUNCTION in future.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SitePathJunction" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation>A designated point, inside a SITE ie STOP PLACE or POINT OF INTEREST, at which two or more PATH LINKs may connect or branch.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SitePathJunction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GenericPathJunctionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SitePathJunctionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GenericPathJunctionIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SitePathJunction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SITE PATH JUNCTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GenericPathJunction_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SitePathJunctionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SitePathJunctionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a SITE PATH JUNCTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ParentZoneRef" type="ZoneRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parent ZONE that contains this PATH JUNCTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="SiteElementPropertiesGroup">
				<xsd:annotation>
					<xsd:documentation>Elements of a SITE ELEMENTs.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional Label of PATH JUNCTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SiteComponentRef" type="SiteComponentRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PATH JUNCTION is within the referenced SITE COMPONENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="placeEquipments" type="placeEquipments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Items of fixed EQUIPMENT that may be lused at the spot 0 in a particular SIGN EQUIPMENT and BEACON EQUIPMENT. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="PathJunction" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED: Use SITE PATH JUNCTION. Designated point, inside a SITE ie STOP PLACE or POINT OF INTEREST, at which two or more PATH LINKs may connect or branch. -v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SitePathJunction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SitePathJunctionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GenericPathJunctionIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- ======================================================================= -->
</xsd:schema>
