XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_pointOfInterest_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_pointOfInterest_support">
	<xsd:include schemaLocation="netex_ifopt_site_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date><Modified>2012-16-07</Modified> Add POI ENtrance
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines POINT OF INTEREST base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_pointOfInterest_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2006, 2007, 2008</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - POINT OF INTEREST identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>POINT OF INTEREST identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PointOfInterestIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteIdType"/>
	</xsd:simpleType>
	<xsd:element name="PointOfInterestRef" type="PointOfInterestRefStructure" substitutionGroup="SiteRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointOfInterestRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteRefStructure">
				<xsd:attribute name="ref" type="PointOfInterestIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT OF INTEREST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="pointOfInterestRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more POINTs OF INTEREST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="PointOfInterestRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PointOfInterestClassificationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT OF INTEREST CLASSIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="PointOfInterestClassificationRef" type="PointOfInterestClassificationRefStructure" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Classification of a POINT OF INTEREST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointOfInterestClassificationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a POINT OF INTEREST CLASSIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="PointOfInterestClassificationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT OF INTEREST CLASSIFICATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PointOfInterestClassificationDescriptorIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT OF INTEREST CLASSIFICATION. descriptor.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PointOfInterestHierarchyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT OF INTEREST CLASSIFICATION HIERARCHY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="PointOfInterestHierarchyRef" type="PointOfInterestHierarchyRefStructure" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Classification of a POINT OF INTEREST CLASSIFICATION HIERARCHY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointOfInterestHierarchyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a POINT OF INTEREST CLASSIFICATION HIERARCHY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="PointOfInterestHierarchyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT OF INTEREST CLASSIFICATION HIERARCHY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PointOfInterestSpaceTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for POINT OF INTEREST TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="arena"/>
			<xsd:enumeration value="archeryArena"/>
			<xsd:enumeration value="athleteArea"/>
			<xsd:enumeration value="auditorium"/>
			<xsd:enumeration value="changingRoom"/>
			<xsd:enumeration value="court"/>
			<xsd:enumeration value="downhillSkiingCourse"/>
			<xsd:enumeration value="freestyleSkiingCourse"/>
			<xsd:enumeration value="skiboardingArea"/>
			<xsd:enumeration value="gates"/>
			<xsd:enumeration value="greenRoom"/>
			<xsd:enumeration value="hospitalityZone"/>
			<xsd:enumeration value="iceRink"/>
			<xsd:enumeration value="orchestralPit"/>
			<xsd:enumeration value="playingField"/>
			<xsd:enumeration value="podium"/>
			<xsd:enumeration value="pool"/>
			<xsd:enumeration value="divingPool"/>
			<xsd:enumeration value="pressArea"/>
			<xsd:enumeration value="queuingAreaForEntrance"/>
			<xsd:enumeration value="ridingArea"/>
			<xsd:enumeration value="rowingArea"/>
			<xsd:enumeration value="securityScreeningArea"/>
			<xsd:enumeration value="sledRun"/>
			<xsd:enumeration value="spectatorTerrace"/>
			<xsd:enumeration value="spectatorSeating"/>
			<xsd:enumeration value="spectatorStandingArea"/>
			<xsd:enumeration value="sportsArea"/>
			<xsd:enumeration value="stabling"/>
			<xsd:enumeration value="stage"/>
			<xsd:enumeration value="ring"/>
			<xsd:enumeration value="ticketing"/>
			<xsd:enumeration value="track"/>
			<xsd:enumeration value="trackside"/>
			<xsd:enumeration value="velodrome"/>
			<xsd:enumeration value="warmUpArea"/>
			<xsd:enumeration value="waterside"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PointOfInterestHierarchyMemberIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT OF INTEREST CLASSIFICATION HIERARCHY MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PointOfInterestSpaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT OF INTEREST SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SiteComponentIdType"/>
	</xsd:simpleType>
	<xsd:element name="PointOfInterestSpaceRef" type="PointOfInterestSpaceRefStructure" substitutionGroup="SiteComponentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a POINT OF INTEREST SPACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointOfInterestSpaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a POINT OF INTEREST SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SiteComponentRefStructure">
				<xsd:attribute name="ref" type="PointOfInterestSpaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of POINT OF INTEREST SPACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PointOfInterestEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT OF INTEREST ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="PointOfInterestEntranceRef" type="PointOfInterestEntranceRefStructure" substitutionGroup="EntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a POINT OF INTEREST ENTRANCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointOfInterestEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a POINT OF INTEREST ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EntranceRefStructure">
				<xsd:attribute name="ref" type="PointOfInterestEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PointOfInterestVehicleEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT OF INTEREST ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleEntranceIdType"/>
	</xsd:simpleType>
	<xsd:element name="PointOfInterestVehicleEntranceRef" type="PointOfInterestVehicleEntranceRefStructure" substitutionGroup="EntranceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a POINT OF INTEREST VEHICLEENTRANCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointOfInterestVehicleEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a POINT OF INTEREST VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EntranceRefStructure">
				<xsd:attribute name="ref" type="PointOfInterestVehicleEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an VEHICLE ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
