XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_equipmentAccess_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_equipmentAccess_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_equipmentAccess_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipmentPlace_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date>
					<Modified>2017-05-25</Modified> Integrate NPR documentation correction to lift passable
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes
					CD add new attribute NecessaryForceEnumeration with values noForce, lightForce, mediumForce,  heavyForce, unknown
					CD add new attributeLightingMethod  to PlaceLighting with values movementDetector, stepDetector, switchOnTheWall, atDoorOpening, onlyAtNight, other
						NJSK Review:  correct typo on stepDetector
					CD Add new attribute to AccessEquipmene; SafeForGuideDog.
					CD Add new attribute to StairEquipment; WithoutRiser.
						  NJSK Review:  move order  to be with other  step properties
					CD  Add new attribute to EscalatorEquipment;  EscalatorWithLanding
					CD  Add new attributes to TravellatorEquipment; Length, Slope and IntegratesAnEscalatorPart  
							 NJSK Review:  correct  name of IntegratesAnEscalatorPart
					CD Add new attributs  to EscalatorEquipment: MagneticInductionLoop, GroundMarkAlignedWithButton, TactileGroundFloorButton ExternalFloorSelection
								 NJSK Review:  correct  name of GroundMarkAlignedWithButton
								 NJSK Review:  drop ButtonsHeigt as all ready covered  by CallButtonHeight
								 NJSK Review: change order to group with like properties
					CD Add new attributes  to EntranceEquipment: AudioOrVideoIntercom, Airlock, DoorstepMark AudioPassthroughIndicator, OpeningNecessaryForce
								 NJSK Review: change order to group with like properties
								  NJSK Review: NB AudioOrVideoIntercom overlap with EntranceAttention								  
					CD Add new attributes  to QueuingEquipment:  DisabledPriority QueuingSeatedPossible.
 				</Date>
				<Date>
					<Modified>2019-05-27</Modified>Fix add missing DropKerbOutside value to Entrance Eqeuipment
					Rename Slope to Gradient to be conistent
					Move WIthoutRaiser to be specifc to Staircase.
				</Date>
				<Date>
					<Modified>2019-05-27</Modified>Doc tidy up 
					Rename Accoustic(six)  to AUdio 
					Correct comments
				</Date>				
				
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines EQUIPMENT base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifot_equipmentAccess_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ACCESS EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>ACCESS EQUIPMENT types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="AccessEquipmentChoice">
		<xsd:annotation>
			<xsd:documentation>Choice of ACCESS EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="RoughSurface"/>
			<xsd:element ref="EntranceEquipment"/>
			<xsd:element ref="StaircaseEquipment"/>
			<xsd:element ref="LiftEquipment"/>
			<xsd:element ref="EscalatorEquipment"/>
			<xsd:element ref="TravelatorEquipment"/>
			<xsd:element ref="RampEquipment"/>
			<xsd:element ref="QueueingEquipment"/>
			<xsd:element ref="CrossingEquipment"/>
			<xsd:element ref="PlaceLighting"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="AccessEquipmentListGroup">
		<xsd:annotation>
			<xsd:documentation>List of ACCESS EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CrossingEquipment" minOccurs="0"/>
			<xsd:element ref="EntranceEquipment" minOccurs="0"/>
			<xsd:element ref="EscalatorEquipment" minOccurs="0"/>
			<xsd:element ref="LiftEquipment" minOccurs="0"/>
			<xsd:element ref="PlaceLighting" minOccurs="0"/>
			<xsd:element ref="QueueingEquipment" minOccurs="0"/>
			<xsd:element ref="RampEquipment" minOccurs="0"/>
			<xsd:element ref="RoughSurface" minOccurs="0"/>
			<xsd:element ref="StaircaseEquipment" minOccurs="0"/>
			<xsd:element ref="TravelatorEquipment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====ACCESS=================================================================== -->
	<xsd:element name="AccessEquipment" type="AccessEquipment_VersionStructure" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE EQUIPMENT dedicated to access (e.g. lifts, entrances, stairs, ramps, etc.).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccessEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for an ACCESS EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AccessEquipmentGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for an ACCESS EQUIPMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACCESS EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of EQUIPMENT or entrance to EQUIPMENT (e.g. Lift).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DirectionOfUse" type="DirectionOfUseEnumeration" default="both" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Direction in which EQUIPMENT. can be used. Default is both.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassengersPerMinute" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of passengers per minute that can use EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RelativeWeighting" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Relative weighting to be given to this item of EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SafeForGuideDog" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the access is safe for a guide dog. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RoughSurface" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE EQUIPMENT for rough surfaces, giving properties of surface texture, mainly for impaired person information.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RoughSurfaceStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for an ACCESS EQUIPMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RoughSurfaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a ROUGH SURFACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoughSurfaceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RoughSurfaceStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a ROUGH SURFACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RoughSurfaceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RoughSurfaceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ROUGH SURFACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SurfaceType" type="SurfaceTypeEnumeration">
				<xsd:annotation>
					<xsd:documentation>Type of Surface.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SuitableForCycles" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether equipment is suitable for cycles.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PlaceLighting" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE EQUIPMENT for LIGHTING EQUIPMENT (e.g. lamp post).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PlaceLighting_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for an ACCESS EQUIPMENT type.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PlaceLightingGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for CROSSING EQUIPMENT type.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PlaceLightingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PlaceLighting_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a PLACE LIGHTING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PlaceLightingGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for CROSSING EQUIPMENT type.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PlaceLightingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for PLACE LIGHTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Lighting" type="LightingEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of Lighting.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AlwaysLit" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Place is always lit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LightingOnMethod" type="LightingOnMethodEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Method by which lighting is switched on. v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="StairEquipment" abstract="true" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of ACCESS EQUIPMENT for stairs (stair, escalator, staircase, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="StairEquipment_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="StairEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a STAIR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="StairGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="StairGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for STAIR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Depth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Depth of Stairs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfSteps" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of Steps on Stairs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StepHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Depth of an individual step.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StepColourContrast" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a colour contrast on step nosings.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HandrailType" type="HandrailEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of handrail.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HandrailHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of handrail from step.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LowerHandrailHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of any additional lower handrail from step.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TopEnd" type="StairEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Properties of top of staircase.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BottomEnd" type="StairEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Properties of bottom of staircase.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="EscalatorEquipment" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of STAIR EQUIPMENT for ESCALATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="EscalatorEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for an ACCESS EQUIPMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StairGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for STAIR EQUIPMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EscalatorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="EscalatorEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="EscalatorEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an ESCALATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StairEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="EscalatorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="EscalatorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ESCALATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TactileActuators" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ESCALATOR has a tactile actuator.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EnergySaving" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ESCALATOR is Energy Saving.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DogsMustBeCarried" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether dogs must be carried on ESCALATOR. +v1.1 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EscalatorWithLanding" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ESCALATOR has a landing. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="StaircaseEquipment" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of STAIR EQUIPMENT for stair cases.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="StaircaseEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for an ACCESS EQUIPMENT type.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StairGroup"/>
						</xsd:sequence>
						<xsd:group ref="StaircaseGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="StaircaseEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="StaircaseEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a STAIRCASE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StairEquipment_VersionStructure">
				<xsd:group ref="StaircaseGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="StaircaseGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for STAIRCASE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ContinuousHandrail" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Handrail is continuous across staircase.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WithoutRiser" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether openwork stairs (no riser). +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpiralStair" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Stairs are spiral.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfFlights" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of flights of Stairs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flights" type="stairFlights_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Flight of stairs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="stairFlights_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FLIGHTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="StairFlight" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>FLIGHT of Stairs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="StairFlight" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>SAn individual flight of a STAIR CASE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="StairFlight_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StairGroup"/>
							<xsd:element name="ContinuousHandrail" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether Handrail is continuous from previous stage.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="StairFlighttIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="StairFlight_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Flight of stairs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="StairGroup"/>
					<xsd:element name="ContinuousHandrail" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether Handrail is continuous from previous stage.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StairEndStructure">
		<xsd:annotation>
			<xsd:documentation>End of Flight of stairs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ContinuingHandrail" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a handrail that continues from previous section.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TexturedSurface" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a textured ground surface.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VisualContrast" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a colour contrast.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TravelatorEquipment" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE EQUIPMENT for TRAVELATORs (provides travelator attributes like speed, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TravelatorEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for an ACCESS EQUIPMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TravelatorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TravelatorEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TravelatorEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TRAVELATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TravelatorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TravelatorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRAVELATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TactileActuators" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Travelator has a tactile actuator.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EnergySaving" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Travelator is Energy Saving.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Speed" type="SpeedType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Speed of travelator.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length (integer in meters).+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gradient" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Slope (integer in meters) for inclined moving walks.+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IntegratesAnEscalatorPart" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the moving walk has an escalator part. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="LiftEquipment" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE ACCESS EQUIPMENT for LIFTs (provides lift characteristics like depth, maximum load, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LiftEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for an ACCESS EQUIPMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LiftEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for LIFT EQUIPMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LiftEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LiftEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a LIFT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="LiftEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LiftEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for LIFT EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="LiftDimensionsGroup"/>
			<xsd:group ref="LiftHandrailGroup"/>
			<xsd:group ref="LiftButtonsGroup">
				<xsd:annotation>
					<xsd:documentation>Elements for Lift button.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="LiftPropertiesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LiftHandrailGroup">
		<xsd:annotation>
			<xsd:documentation>Handrail Elements for LIFT EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HandrailType" type="HandrailEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of handrail.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HandrailHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of handrail from floor.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LowerHandrailHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of lower handrail from floor.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LiftDimensionsGroup">
		<xsd:annotation>
			<xsd:documentation>Dimension Elements for LIFT EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Depth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Depth of lift.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumLoad" type="WeightType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum load in Kilos.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairPassable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether lift is judged wheelchair passable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairTurningCircle" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Turning circle within Lift for a wheelchair.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InternalWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Internal width of lift.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LiftButtonsGroup">
		<xsd:annotation>
			<xsd:documentation>Button elements for LIFT EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CallButtonHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of call button from ground.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DirectionButtonHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of direction call button from ground.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RaisedButtons" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether buttons are raised.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BrailleButtons" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether buttons have braille.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileGroundFloorButton" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates whether there is a tactile marker on the go to ground  floor button. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GroundMarkAlignedWithButton" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates a tactile marker on floor under the buttons (or aligned with) +v1.1 .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LiftPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Loft properties for LIFT EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ThroughLoader" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether lift is a through loader.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MirrorOnOppositeSide" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Lift has a mirror on opposite side.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Attendant" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Lift has an attendant.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Automatic" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether lift is automatic.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExternalFloorSelection" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the floor selection is made outside the lift.+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AlarmButton" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether lift has alarm button.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileActuators" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Lift has a tactile actuator.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AudioAnnouncements" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Lift has AudioAnnouncements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccousticAnnouncements" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED - Spelling correction  renamed to audio announcements. THis value will be dropped at  - so</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MagneticInductionLoop" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates existence of a Magnetic Induction Loop. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SignageToLift" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Lift has good signage to find it.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SuitableForCycles" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether equipment is suitable for cycles.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RampEquipment" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE ACCESS EQUIPMENT for ramps (provides ramp characteristics like length, gradient, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RampEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for an ACCESS EQUIPMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RampEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for RAMP EQUIPMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RampEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RampEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a RAMP EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RampEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RampEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RAMP EQUIPMEN/</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of ramp in metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gradient" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Gradient of ramp in degrees.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GradientType" type="GradientEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Gradient of ramp fixed values.+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Pedestal" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ramp is on a pedestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HandrailHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of handrail.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HandrailType" type="HandrailEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of handrail.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileGuidanceStrips" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ramp has tactile guidance strips.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VisualGuidanceBands" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ramp has visual guidance bands or guidance strips.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Temporary" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ramp is temporary or permanent.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SuitableForCycles" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether equipment is suitable for cycles.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="EntranceEquipment" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE ACCESS EQUIPMENT for ENTRANCEs (door, barrier, revolving door, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="EntranceEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntranceEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="EntranceEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="EntranceEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an ENTRANCE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="EntranceEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="EntranceEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ENTRANCE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="EntrancePropertiesGroup"/>
			<xsd:group ref="EntranceUsageGroup"/>
			<xsd:group ref="EntranceAccessibilityGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="EntrancePropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Property lements for ENTRANCE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Door" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a door in the entrance. If false, opening does not have door.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KeptOpen" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the door is kept open.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RevolvingDoor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether door is revolving. Only applies if door is specified.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Barrier" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a physical barrier across the doorway.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfGates" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of gates in barrier or entrance.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Staffing" type="StaffingEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Staffing of entrance or barrier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="EntranceUsageGroup">
		<xsd:annotation>
			<xsd:documentation>Usage elements for ENTRANCE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="EntranceRequiresStaffing" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether entrance requires staff for use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntranceRequiresTicket" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether passage requires ticket.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntranceRequiresPassport" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether passage requires passport.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="EntranceAccessibilityGroup">
		<xsd:annotation>
			<xsd:documentation>Accessibility elements for ENTRANCE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DropKerbOutside" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a drop Kerb outside door. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AcousticSensor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether door has acoustic sensors.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AutomaticDoor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether doors are automatic.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlassDoor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether door is made of glass.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Airlock" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is an airlock. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairPassable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Door can be passed in a wheel chair.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheechairUnaided" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Can be passed in a wheel chair unaided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AudioOrVideoIntercom" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is an audio or video communication needed for access. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntranceAttention" type="EntranceAttentionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of doorbell help point etc needed to operate door.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DoorstepMark" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a tactile doorstep mark. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NecessaryForceToOpen" type="NecessaryForceEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Necessary force to open the door. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AudioPassthroughIndicator" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is an audio signal indicating passing through. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SuitableForCycles" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether equipment is suitable for cycles.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="QueueingEquipment" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE ACCESS EQUIPMENT dedicated to queuing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="QueueingEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for an ACCESS EQUIPMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="QueueingEquipmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a QUEUEING EQUIPMENT type.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="QueueingEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="QueueingEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a QUEUEING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="QueueingEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="QueueingEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a QUEUEING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberOfServers" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of queue server points.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RailedQueue" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether queueing are is controlled by cattle bars.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TicketedQueue" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether queue is controlled by numbered tickets.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DisabledPriority" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is priority access for disabled (no-queue).+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="QueuingSeatedPossible" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether queuing may be done seated.+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="CrossingEquipment" substitutionGroup="AccessEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE ACCESS EQUIPMENT for CROSSING EQUIPMENTs (zebra, pedestrian lights, acoustic device sensors, tactile guide strips, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CrossingEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CrossingEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CrossingEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CrossingEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a CROSSING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="CrossingEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CrossingEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CROSSING EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CrossingType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of CROSSING.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="CrossingTypeEnumeration"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZebraCrossing" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether CROSSING is marked as Zebra.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PedestrianLights" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are lights for pedestrians to cross by.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AcousticDeviceSensors" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether crossing has Acoustic Device sensors.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AcousticCrossingAids" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether crossing has Acoustic Crossing aids.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileGuidanceStrips" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether crossing has tactile guidance strips.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileWarningStrip" type="TactileWarningStripEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether crossing has tactile warning strip. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VisualGuidanceBands" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether crossing has tactile guidance strips.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DroppedKerb" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether crossing has dropped Kerb.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SuitableForCycles" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether equipment is suitable for cycles.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
