XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_equipmentSigns_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_equipmentSigns_version">
	<xsd:include schemaLocation="netex_ifopt_equipmentSigns_support.xsd"/>
	<xsd:include schemaLocation="netex_ifopt_equipmentPassenger_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_line_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2007-06-12</Created>
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes 
						CD add new attribute to SignEquipment; AudioAnnouncementType  with values _cyclicReading, whenSomebodyIsDetected, throughAnApp, throughASpecificDevice, other_
						CD add new attribute to SignEquipment;  FontSize; with values; _verySmall, small, medium, large, veryLarge_						, 						 
						 NJSK Review:  Correct Typos, camelCase values, move SignContentEnumeration   enums   to this file , add _other_ value, zap _xxxx_value. change"big" to "large".
 				</Date>
				<Date> 	
						<Modified>2019-04-08</Modified>FR49 CD #65  Accessibility changes 				, 						 
						 NJSK Review:  Correct Typos, correct PrintPresentation type
 				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines EQUIPMENT types for Place access.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_equipmentSigns_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - SIGN EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SIGN EQUIPMENT types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="SignEquipmentChoice">
		<xsd:annotation>
			<xsd:documentation>Available SIGN EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="PlaceSign" type="PlaceSignStructure">
				<xsd:annotation>
					<xsd:documentation>PLACE SIGN. Sign indicating name of STOP PLACE. t.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeadingSign" type="HeadingSignStructure">
				<xsd:annotation>
					<xsd:documentation>Sign identifying a direction to a PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeneralSign" type="GeneralSignStructure">
				<xsd:annotation>
					<xsd:documentation>PLACE SIGN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="SignEquipmentListGroup">
		<xsd:annotation>
			<xsd:documentation>Available SIGN EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PlaceSign" type="PlaceSignStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PLACE SIGN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeadingSign" type="HeadingSignStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sign identifying a direction Place.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeneralSign" type="GeneralSignStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Other PLACE SIGN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===SIGNS =================================================================== -->
	<xsd:element name="SignEquipment" type="SignEquipment_VersionStructure" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE EQUIPMENT for signs (heading signs, etc.).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SignEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for SIGN EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SignEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SignEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SIGN EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Height" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of SIGN in metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of sign in metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightFromFloor" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of bottom edge of sign from floor in metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Placement" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of location of sign.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BrandGraphic" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Graphic for sign.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SignGraphic" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Graphic or sign.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MachineReadable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether SIGN is machine readable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AsBraille" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether SIGN is readable in Braille. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AudioTriggerMethod" type="AudioTriggerMethodEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>How the display may be read by the audio tool. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrintedPresentation" type="PrintPresentationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Presentatuon characteristics including font size +v1.1 .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Contrast" type="PercentageType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Luminance gap between text and background. A ratio of at least 3 is expected. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PlaceSign" substitutionGroup="SignEquipment">
		<xsd:annotation>
			<xsd:documentation>Sign with Place name for a PLACE. E.g. 'Waterloo'</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PlaceSignStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SignEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="PlaceName" type="MultilingualString">
								<xsd:annotation>
									<xsd:documentation>Name of Stop.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="PlaceRef" minOccurs="0"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PlaceSignIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PlaceSignStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a PLACE SIGN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SignEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:element name="PlaceName" type="MultilingualString">
						<xsd:annotation>
							<xsd:documentation>Name of Stop.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="PlaceRef" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="HeadingSign" substitutionGroup="SignEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of SIGN EQUIPMENT for headings providing information like direction name, line name, etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="HeadingSignStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SignEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="PlaceName" type="MultilingualString">
								<xsd:annotation>
									<xsd:documentation>Name of Stop.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:group ref="HeadingSignGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="HeadingSignIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="HeadingSignStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a HEADING SIGN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SignEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:element name="PlaceName" type="MultilingualString">
						<xsd:annotation>
							<xsd:documentation>Name of Stop.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="HeadingSignGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="HeadingSignGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a HEADING SIGN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element name="LineName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Content of Stop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransportMode" type="VehicleModeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of MODE of LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportSubmode" minOccurs="0"/>
			<xsd:element name="LineMap" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Graphic or sign for schematic map of lien from STOP PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DirectionRef" minOccurs="0"/>
			<xsd:element name="DirectionName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Content of Stop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DestinationDisplayRef" minOccurs="0"/>
			<xsd:element name="LinePublicCode" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Public Code for Line.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="GeneralSign" substitutionGroup="SignEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of SIGN EQUIPMENT sor signs which are not HEADING SIGNs nor PLACE SIGNs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeneralSignStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SignEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeneralSignGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="HeadingSignIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeneralSignStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an GENERAL SIGN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SignEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GeneralSignGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeneralSignGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a GENERAL SIGN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Content" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Content of Sign.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SignContentType" type="SignContentEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of content as standard category.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
