XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_ifopt/netex_ifopt_equipmentParking_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_equipmentParking_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2007-06-12</Created>
				</Date>
				<Date>
					<Modified>2014-06-12</Modified>
				</Date>
				<Date><Modified>2020-10-05</Modified>New Modes: 
					Add  lockers and freestanding sycle storage enum values.
					Move ReChargingEquiopment  to separate En	ergy equipment
					Add VEHICLE RELEASE EQUIPMENT.
				</Date>
				<Date><Modified>2020-11-20</Modified>New Modes: Correct supertypes.
				</Date>
				<Date><Modified>2021-04-15</Modified>New Modes: Add docks to CycleStorage enum
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines PARKING EQUIPMENT types for Place access.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_equipmentParking_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - EQUIPMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>PARKING EQUIPMENT identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== CYCLE STORAGE ========================================= -->
	<xsd:simpleType name="CycleStorageEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of CYCLE STORAGE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InstalledEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="CycleStorageEquipmentRef" type="CycleStorageEquipmentRefStructure" substitutionGroup="InstalledEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an CYCLE STORAGE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CycleStorageEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an CYCLE STORAGE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InstalledEquipmentRefStructure">
				<xsd:attribute name="ref" type="CycleStorageEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CYCLE STORAGE EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CycleStorageEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Cycle Storage.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="racks"/>
			<xsd:enumeration value="docks"/>
			<xsd:enumeration value="bars"/>
			<xsd:enumeration value="railings"/>
			<xsd:enumeration value="cycleScheme"/>
			<xsd:enumeration value="lockers"/>
			<xsd:enumeration value="freestanding"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ==== VEHICLE RELEASE EQUIPMENT =========================================== -->
	<xsd:simpleType name="VehicleReleaseEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of VEHICLE RELEASE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InstalledEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleReleaseEquipmentRef" type="VehicleReleaseEquipmentRefStructure" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an VEHICLE RELEASE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleReleaseEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an VEHICLE RELEASE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InstalledEquipmentRefStructure">
				<xsd:attribute name="ref" type="VehicleReleaseEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE RELEASE EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LockingMechanismEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for LOCKING MECHANISM</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="dock"/>
			<xsd:enumeration value="immobilisingLock"/>
			<xsd:enumeration value="separateLockingDevice"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
