XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_fm/netex_nm_individualTraveller_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.10" id="netex_individualTraveller_version">
	<xsd:include schemaLocation="netex_nm_individualTraveller_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_3/part3_salesTransactions/netex_salesContract_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicle_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-15</Created>New Modes
				</Date>
				<Date><Modified>2020-10-15</Modified>New modes
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the INDIVIDUAL TRAVELLER types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_individualTraveller_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx INDIVIDUAL TRAVELLER types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx INDIVIDUAL TRAVELLER types.</xsd:documentation>
	</xsd:annotation>
	<!-- === ENTIITY IN VERSION IN FRAME= === ================================================== -->
	<xsd:group name="IndividualTravellersInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>INDIVIDUAL TRAVELLERs in FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="individualTravellers" type="individualTravellersInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>INDIVIDUAL TRAVELLERs in Frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="individualTravellersInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of INDIVIDUAL TRAVELLERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="IndividualTraveller" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- === INDIVIDUAL TRAVELLER  ================================================= -->
	<xsd:complexType name="individualTravellers_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of INDIVIDUAL TRAVELLERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="IndividualTravellerRef"/>
					<xsd:element ref="IndividualTraveller"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IndividualTraveller" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Individual travelling person. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="IndividualTraveller_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="IndividualTravellerGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="IndividualTravellerIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IndividualTraveller_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for INDIVIDUAL TRAVELLER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="IndividualTravellerGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="IndividualTravellerGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a INDIVIDUAL TRAVELLER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of Traveller</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CustomerRef" minOccurs="0"/>
			<xsd:element name="IdentityVerified" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the traveller's identify has been verified.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ranking" type="GlobalRankingType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mean rating for traveller</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gender" type="GenderEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Gender of traveller.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Talkative" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether traveller likes to talk.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Smoker" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether traveller likes to talk.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Languages" type="LanguageListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Languages spoken</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehiclePoolingDriverInfos" type="vehiclePoolingDriverInfos_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE POOLING DRIVER INFO for traveller.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="individualPassengerInfos" type="individualPassengerInfos_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>INDIVIDUAL PASSENGER INFO for traveller.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === VEHICLE POOLING DRIVER INFO. ================================================= -->
	<xsd:complexType name="vehiclePoolingDriverInfos_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE POOLING DRIVER INFOs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehiclePoolingDriverInfo" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehiclePoolingDriverInfo" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Information characterising an INDIVIDUAL TRAVELLER as a driver of a VEHICLE POOLING SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehiclePoolingDriverInfo_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehiclePoolingDriverInfoGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehiclePoolingDriverInfoIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingDriverInfo_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE POOLING DRIVER INFO.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VehiclePoolingDriverInfoGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehiclePoolingDriverInfoGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE POOLING DRIVER INFO.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="IndividualTravellerRef" minOccurs="0"/>
			<xsd:element name="Ranking" type="GlobalRankingType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Meanrating for driver.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LastTripDate" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date of last trip.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CommentsAbout" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Comments on driver.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TravellingWithPet" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether driver has pet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DrivingLicenceVerified" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether driving licence has been verified.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InsuranceVerified" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether insurance has been verified.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DrivingStyle" type="DrivingStyleEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Preferrred style of driving.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfProposedTrips" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of trips proposed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfTravellersCarried" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of travellers carried</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="VehicleRef" minOccurs="0"/>
			<xsd:element name="reviews" type="reviews_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reviews associated to the vehicle pooling driver. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === INDIVIDUAL PASSENGER INFO. ================================================= -->
	<xsd:complexType name="individualPassengerInfos_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of INDIVIDUAL PASSENGER INFOs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="IndividualPassengerInfo" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IndividualPassengerInfo" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Information characterising an INDIVIDUAL TRAVELLER as a driver of a VEHICLE POOLING SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="IndividualPassengerInfo_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="IndividualPassengerInfoGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="IndividualPassengerInfoIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IndividualPassengerInfo_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for INDIVIDUAL PASSENGER INFO.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="IndividualPassengerInfoGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="IndividualPassengerInfoGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a INDIVIDUAL PASSENGER INFO.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="IndividualTravellerRef" minOccurs="0"/>
			<xsd:element name="Ranking" type="GlobalRankingType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mean rating for passenger.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LastTripDate" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date of last trip.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CommentsAbout" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Comments on passenger.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TravellingWithPet" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether travelling with Pet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reviews" type="reviews_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reviews associated to the passenger</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====  REVIEWS.  ============================================ -->
	<xsd:element name="Review" type="ReviewStructure">
		<xsd:annotation>
			<xsd:documentation>A review of a diver or of a traveller. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="reviews_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for collection of reviews.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Review" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReviewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Review.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Date" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date of the review</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ranking" type="UserRankingType">
				<xsd:annotation>
					<xsd:documentation>Rating attributed by the reviewer (1 to 5, and the higher is the better)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Comment" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Comment associated with the review</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UserAcronym" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Acronym name of the reviewer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
