XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_fm/netex_nm_usageParameterRental_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_usageParameterRental_support">
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.2.2 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-24</Created>New Modes
				</Date>
				<Date><Modified>2020-10-24</Modified> &gt;Add RentalPenaltyPolicy usage parameter and enumeration values
					Add RentalOption and AdditionalDriverOption
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the RENTAL USAGE PARAMETER   types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterRental_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CENT TC278 EG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/fares/netex_usageParameterRental_support</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel  standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9</Project>
				</Subject>
				<Title>NeTEx RENTAL USAGE PARAMETER identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: RENTAL USAGE PARAMETER identifier types.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../netex_part_3/part3_fares/netex_usageParameter_support.xsd"/>
	<!-- ======================================================================= -->
	<!-- === RENTAL PENALTY POLICY PARAMETER============================================== -->
	<xsd:simpleType name="RentalPenaltyPolicyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a RENTAL PENALTY POLICY usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="RentalPenaltyPolicyRef" type="RentalPenaltyPolicyRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a RENTAL PENALTY POLICY usage parameter. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RentalPenaltyPolicyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a RENTAL PENALTY POLICY usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="RentalPenaltyPolicyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RENTAL PENALTY POLICY PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RentalPenaltyPolicyTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for RENTAL PENALTY POLICY Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="refuelling"/>
			<xsd:enumeration value="vehicleTransfer"/>
			<xsd:enumeration value="lateVehicleReturn"/>
			<xsd:enumeration value="noVehicleReturn"/>
			<xsd:enumeration value="damageToVehicle"/>
			<xsd:enumeration value="damageToEquipment"/>
			<xsd:enumeration value="lossOfEquipment"/>
			<xsd:enumeration value="zoneTransgression"/>
			<xsd:enumeration value="trafficFine"/>
			<xsd:enumeration value="handlingFeeForFine"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === RENTAL PENALTY POLICY PARAMETER============================================== -->
	<xsd:simpleType name="RentalOptionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a RENTAL OPTION usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="RentalOptionRef" type="RentalOptionRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a RENTAL OPTION usage parameter. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RentalOptionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a RENTAL OPTION usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="RentalOptionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RENTAL OPTION PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === RENTAL PENALTY POLICY PARAMETER============================================== -->
	<xsd:simpleType name="AdditionalDriverOptionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ADDITIONAL DRIVER OPTION usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="RentalOptionIdType"/>
	</xsd:simpleType>
	<xsd:element name="AdditionalDriverOptionRef" type="AdditionalDriverOptionRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ADDITIONAL DRIVER OPTION usage parameter. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AdditionalDriverOptionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ADDITIONAL DRIVER OPTION usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="RentalOptionRefStructure">
				<xsd:attribute name="ref" type="AdditionalDriverOptionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ADDITIONAL DRIVER OPTION PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AdditionalDriverTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ADDITIONAL DRIVER   Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="named"/>
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DriverTypeFeeBasisEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for DROVER FEE BASIS  Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="free"/>
			<xsd:enumeration value="perAddtionalDriver"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
