XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_fm/netex_nm_accessCredentialsAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_vehicleAccessCredentialsAssignment_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_3/part3_salesTransactions/netex_travelDocument_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.2.2 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-06</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-06</Modified>Add SERVICE PLACE and link
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE ACCESS CREDENTIALS ASSIGNMENT identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_nm_accessCredentialsAssignment_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE ACCESS CREDENTIALS  ASSIGNMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx  VEHICLE ACCESS CREDENTIALS ASSIGNMENT Identifer types for </xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ====  Service Acess code ASSIGNMENT ============================================ -->
	<xsd:complexType name="serviceAccessCodeRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SERVICE ACCESS CODEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ServiceAccessCodeRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ServiceAccessCodeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SERVICE ACCESS CODE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TravelDocumentIdType"/>
	</xsd:simpleType>
	<xsd:element name="ServiceAccessCodeRef" type="ServiceAccessCodeRefStructure" substitutionGroup="TravelDocumentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SERVICE ACCESS CODE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceAccessCodeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SERVICE ACCESS CODE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TravelDocumentRefStructure">
				<xsd:attribute name="ref" type="ServiceAccessCodeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of SERVICE ACCESS CODE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== VEHICLE ACCESS CREDENTIALS  ASSIGNMENT ============================================ -->
	<xsd:complexType name="vehicleAccessCredentialsAssignmentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE ACCESS CREDENTIALS ASSIGNMENTs. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleAccessCredentialsAssignmentRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="VehicleAccessCredentialsAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE ACCESS CREDENTIALS ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleAccessCredentialsAssignmentRef" type="VehicleAccessCredentialsAssignmentRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE ACCESS CREDENTIALS ASSIGNMENT. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleAccessCredentialsAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE ACCESS CREDENTIALS ASSIGNMENT. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="VehicleAccessCredentialsAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of VEHICLE ACCESS CREDENTIALS ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
