XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_fm/netex_nm_individualTraveller_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_individualTraveller_support">
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.2.2 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-20</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-20</Modified>Add SERVICE PLACE and link
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the INDIVIDUAL TRAVELLER identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_individualTraveller_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx INDIVIDUAL TRAVELLER types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx INDIVIDUAL TRAVELLER Identifer types for</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ====  INDIVIDUAL TRAVELLER ============================================ -->
	<xsd:complexType name="individualTravellerRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of INDIVIDUAL TRAVELLERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="IndividualTravellerRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="IndividualTravellerIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a INDIVIDUAL TRAVELLER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="IndividualTravellerRef" type="IndividualTravellerRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a INDIVIDUAL TRAVELLER. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IndividualTravellerRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a INDIVIDUAL TRAVELLER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="IndividualTravellerIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of INDIVIDUAL TRAVELLER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassIndividualTravellerRefStructureType" default="IndividualTraveller">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for IndividualTravellerRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====  VEHICLE POOLING DRIVER INFO.  ============================================ -->
	<xsd:complexType name="vehiclePoolingDriverInfoRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE POOLING DRIVER INFOs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehiclePoolingDriverInfoRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="VehiclePoolingDriverInfoIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE POOLING DRIVER INFO.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehiclePoolingDriverInfoRef" type="VehiclePoolingDriverInfoRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE POOLING DRIVER INFO. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingDriverInfoRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE POOLING DRIVER INFO.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehiclePoolingDriverInfoIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of VEHICLE POOLING DRIVER INFO.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingDriverInfoRefStructureType" default="VehiclePoolingDriverInfo">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehiclePoolingDriverInfoRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DrivingStyleEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for DrivingStyle. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="sedate"/>
			<xsd:enumeration value="moderate"/>
			<xsd:enumeration value="fast"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ====  INDIVIDUALPASSENGER INFO.  ============================================ -->
	<xsd:complexType name="IndividualPassengerInfoRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of INDIVIDUAL PASSENGER INFOs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="IndividualPassengerInfoRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="IndividualPassengerInfoIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a INDIVIDUAL PASSENGER INFO.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="IndividualPassengerInfoRef" type="IndividualPassengerInfoRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a INDIVIDUAL PASSENGER INFO. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IndividualPassengerInfoRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a INDIVIDUAL PASSENGER INFO.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="IndividualPassengerInfoIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of INDIVIDUAL PASSENGER INFO.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassIndividualPassengerInfoRefStructureType" default="IndividualPassengerInfo">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for IndividualPassengerInfoRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====  USER RANKING  ============================================ -->
	<xsd:simpleType name="UserRankingType">
		<xsd:annotation>
			<xsd:documentation>Individual ranking based on the traditional 5 stars (1 to 5, 5 being the better) ranking which is the most used (note that the Like/Dislike model can be mapped to no-ranking/ranking=1 and the rare 10 stars model, like IMDb, will mapp 1/2 ti 1, 2/3 to 2, etc.)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GlobalRankingType">
		<xsd:annotation>
			<xsd:documentation>Mean ranking based on the traditional 5 stars (1 to 5 better) ranking which is the most used (note that the Like/Dislike model can be mapped to no-ranking/ranking=1 and the rare 10 stars model, like IMDb, will mapp 1/2 ti 1, 2/3 to 2, etc.)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="1.0"/>
			<xsd:maxInclusive value="5.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
