XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_fm/netex_nm_usageParameterRental_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_usageParameterRental_version">
	<xsd:include schemaLocation="netex_nm_usageParameterRental_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_3/part3_fares/netex_usageParameter_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.2,2 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-24</Created>New Modes
				</Date>
				<Date><Modified>2020-10-16</Modified>Add RentalPenaltyPolicy usage parameter and enumeration values.
							addRentalOption
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the RENTAL USAGE PARAMETER    types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/fares_fms}netex_usageParameterRental_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC279 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/fares_fm/netex_usageParameterRental_support</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel  standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9</Project>
				</Subject>
				<Title>NeTEx RENTAL USAGE PARAMETER   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: RENTAL USAGE PARAMETER  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== RENTAL PENALTY POLICY USER PARAMETER ================================================ -->
	<xsd:element name="RentalPenaltyPolicy" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Policy regarding different aspects of RENTAL service penalty charges, for example loss of vehicle.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RentalPenaltyPolicy_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RentalPenaltyPolicyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RentalPenaltyPolicyIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RentalPenaltyPolicy_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RENTAL PENALTY POLICY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RentalPenaltyPolicyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RentalPenaltyPolicyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RENTAL PENALTY POLICY Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RentalPenaltyPolicyType" type="RentalPenaltyPolicyTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of RENTAL PENALTY POLICY type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PenaltyFee" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transgression results in penalty fee.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Immobilisation" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transgression results in Immobilisation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Disbarring" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transgression results in loss of membership.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Suspension" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transgression results in suspension of membership.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== RENTAL OPTION ================================================ -->
	<xsd:element name="RentalOption" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Parameters relating to paying by RentalOption for a product. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RentalOption_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RentalOptionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RentalOptionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RentalOption_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RENTAL OPTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RentalOptionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== RENTAL OPTION ================================================ -->
	<xsd:element name="AdditionalDriverOption" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Parameters relating to paying by AdditionalDriverOption for a product. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AdditionalDriverOption_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RentalOptionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AdditionalDriverOptionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AdditionalDriverOptionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AdditionalDriverOption_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ADDITIONAL DRIVER OPTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="RentalOption_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AdditionalDriverOptionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RentalOptionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RENTAL OPTION Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<xsd:group name="AdditionalDriverOptionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ADDITIONAL DRIVER OPTION Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AdditionalDriver" type="AdditionalDriverTypeEnumeration" default="none" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional driver options.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DriverFeeBasis" type="DriverTypeFeeBasisEnumeration" default="perAddtionalDriver" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional driver options.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOFDrivers" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximimum Number of drivers allwoed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
