XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_fm/netex_nm_usageParameterEligibility_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_usageParameterEligibility_support">
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.2.2 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2020-10-13</Created>
				</Date>
				<Date><Modified>2020-10-135</Modified>Rename
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the NEW MODES ELIGIBILITY USAGE PARAMETER    types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterEligibility_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/fares/netex_nm_usageParameterProduct_support</Requires>
				</Relation>
				<Rights>Unclassified
					<Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9</Project>
				</Subject>
				<Title>NeTEx   NEW MODES  ELIGIBILITY USAGE PARAMETER identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX:  NEW MODES  Eligibility USAGE PARAMETER identifier types.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../netex_part_3/part3_fares/netex_usageParameterEligibility_support.xsd"/>
	<!-- === VEHICLE POOLER PROFILE ======================================= -->
	<xsd:simpleType name="VehiclePoolerProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE POOLER PROFILE usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UserProfileIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehiclePoolerProfileRef" type="VehiclePoolerProfileRefStructure" substitutionGroup="UserProfileRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE POOLER PROFILE usage parameter. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehiclePoolerProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a VEHICLE POOLER PROFILE usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UserProfileRefStructure">
				<xsd:attribute name="ref" type="VehiclePoolerProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE POOLER PROFILE usage parameter</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === COMMERCIAL PROFILE ===================================================== -->
</xsd:schema>
