XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_vehicleService/netex_vehicleRechargingPlan_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_vehicleRechargingPlan_version">
	<xsd:include schemaLocation="netex_vehicleRechargingPlan_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="../part2_journeyTimes/netex_coupledJourney_support.xsd"/>
	<xsd:include schemaLocation="../part2_journeyTimes/netex_vehicleJourney_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicle_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_nm_chargingEquipmentProfile_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 2.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2024-02-17</Created>Created from TM Spec
				</Date>
				<Date>
					<Modified>2024-02-1</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the ECHARGING PLAN. types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_vehicleService}netex_vehicleRechargingPlan_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2023-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx RECHARGING PLAN. types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: VEHICLE SERVICE types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="RechargingPlanInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a RECHARGING PLAN in FRAME. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="rechargingPlans" type="rechargingPlans_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of RECHARGING PLANs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===Block=================================================== -->
	<!-- ======================================================================= -->
	<xsd:complexType name="rechargingPlans_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of RECHARGING PLANs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="RechargingPlan" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RechargingPlan" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A plan for periodically charging a VEHICLE while executing a BLOCK or BLOCKs. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RechargingPlan_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RechargingPlanGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RechargingPlanIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RechargingPlan_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RECHARGING PLAN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="RechargingPlanGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RechargingPlanGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RECHARGING PLAN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of RECHARGING PLAN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of RECHARGING PLAN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RechargingProcessType" type="RechargingProcessEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of recharching process</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalChargeEnergy" type="WattHoursType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Overall quantity of energy for charging in Watt Hours [Wh].</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChargingDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Overall duration of the charging process in seconds, without preparation time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rechargingSteps" type="rechargingSteps_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parts of a RECHARGING PLAN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="blockRefs" type="blockRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Blocks using RECHARGING PLAN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="rechargingSteps_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of RECHARGING STEPs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="RechargingStep" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RechargingStep" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>The planned charging of a VEHICLE at a PARKING POINT on a specific VEHICLE JOURNEY. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RechargingStep_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Name" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Name of RECHARGING STEP.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Description" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Description of RECHARGING STEP.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ChargeEnergy" type="WattHoursType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Quantity of energy for charging in Watt Hours [Wh].</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TargetEnergy" type="WattHoursType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Target energy quantity in the vehicle on departure after charging.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:group ref="RechargingDurationGroup"/>
							<xsd:element ref="JourneyRef" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>VEHICLE JOURNEY where charging takes place</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="PointInJourneyPatternRef" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>POINT IN JOURNEY PATTERN where charging takes place</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="VehicleChargingEquipmentRef" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Equipment used for charging</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="RechargingEquipmentProfileRef" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Profile used for charging</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="vehicleTypes" type="vehicleTypeRefs_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>TYPES OF VEHICLE possibly compatible with this recharging plan and step.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="vehicles" type="vehicleRefs_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>VEHICLEs possibly compatible with this recharging plan and step.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RechargingStepIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RechargingStep_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RECHARGING STEP.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:group ref="RechargingStepGroup"/>
				<xsd:attribute name="order" type="xsd:nonNegativeInteger" use="optional">
					<xsd:annotation>
						<xsd:documentation>-v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RechargingStepGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RECHARGING STEP.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of RECHARGING STEP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of RECHARGING STEP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChargeEnergy" type="WattHoursType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Quantity of energy for charging in Watt Hours [Wh].</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TargetEnergy" type="WattHoursType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Target energy quantity in the vehicle on departure after charging.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="RechargingDurationGroup"/>
			<xsd:element ref="JourneyRef" minOccurs="0"/>
			<xsd:element ref="PointInJourneyPatternRef" minOccurs="0"/>
			<xsd:element ref="VehicleChargingEquipmentRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Equipment used for charging</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RechargingEquipmentProfileRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Profile used for charging</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicleTypes" type="vehicleTypeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPES OF VEHICLE possibly compatible with this recharging plan and step.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicles" type="vehicleRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLEs possibly compatible with this recharging plan and step.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="RechargingDurationGroup">
		<xsd:annotation>
			<xsd:documentation>Durations of RECHARGING STEP phases.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PreparationDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Duration of the setup process.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChargingDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Duration of the charging process without preparation or finishing time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FinalisationDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Duration of the unhooking process.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
