XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_PiQuery/netex_piRequest_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_piRequest_support">
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_support.xsd"/>
	<!-- =============================================================== -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2014-10-04</Created>
				</Date>
				<Date>
					<Modified>2014-10-04</Modified>
					<!-- Name Space changes -->
				</Date>
				<Date><Modified>2017-11-08</Modified> Rename QUery to Request
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the PI REQUEST identifier types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransactions}netex_piRequest_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SALES TRANSACTION  identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: PI REQUEST identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====PASSENGER INFORMATION REQUEST.======================================================== -->
	<xsd:simpleType name="PassengerInformationRequestIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER INFORMATION REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerInformationRequestRef" type="PassengerInformationRequestRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER INFORMATION REQUEST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerInformationRequestRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PASSENGER INFORMATION REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="PassengerInformationRequestIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER INFORMATION REQUEST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TRIP PLAN  REQUEST .======================================================== -->
	<xsd:simpleType name="TripPlanRequestIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRIP PLAN REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerInformationRequestIdType"/>
	</xsd:simpleType>
	<xsd:element name="TripPlanRequestRef" type="TripPlanRequestRefStructure" substitutionGroup="PassengerInformationRequestRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRIP PLAN REQUEST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TripPlanRequestRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TRIP PLAN REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerInformationRequestRefStructure">
				<xsd:attribute name="ref" type="TripPlanRequestIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRIP PLAN REQUEST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SCHEDULE  REQUEST .======================================================== -->
	<xsd:simpleType name="ScheduleRequestIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SCHEDULE REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerInformationRequestIdType"/>
	</xsd:simpleType>
	<xsd:element name="ScheduleRequestRef" type="ScheduleRequestRefStructure" substitutionGroup="PassengerInformationRequestRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SCHEDULE REQUEST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ScheduleRequestRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SCHEDULE REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerInformationRequestRefStructure">
				<xsd:attribute name="ref" type="ScheduleRequestIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SCHEDULE REQUEST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- STOP EVENT REQUEST .======================================================== -->
	<xsd:simpleType name="StopEventRequestIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STOP EVENT REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerInformationRequestIdType"/>
	</xsd:simpleType>
	<xsd:element name="StopEventRequestRef" type="StopEventRequestRefStructure" substitutionGroup="PassengerInformationRequestRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STOP EVENT REQUEST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopEventRequestRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a STOP EVENT REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerInformationRequestRefStructure">
				<xsd:attribute name="ref" type="StopEventRequestIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STOP EVENT REQUEST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SCHEDULE  REQUEST .======================================================== -->
	<xsd:simpleType name="StopFinderRequestIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STOP FINDER REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerInformationRequestIdType"/>
	</xsd:simpleType>
	<xsd:element name="StopFinderRequestRef" type="StopFinderRequestRefStructure" substitutionGroup="PassengerInformationRequestRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STOP FINDER REQUEST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopFinderRequestRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a STOP FINDER REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerInformationRequestRefStructure">
				<xsd:attribute name="ref" type="StopFinderRequestIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STOP FINDER REQUEST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====FARE REQUEST .======================================================== -->
	<xsd:simpleType name="FareRequestIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerInformationRequestIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareRequestRef" type="FareRequestRefStructure" substitutionGroup="PassengerInformationRequestRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE REQUEST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareRequestRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerInformationRequestRefStructure">
				<xsd:attribute name="ref" type="FareRequestIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE REQUEST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SINGLE TRIP FARE REQUEST.======================================================== -->
	<xsd:simpleType name="SingleTripFareRequestIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SINGLE TRIP FARE REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareRequestIdType"/>
	</xsd:simpleType>
	<xsd:element name="SingleTripFareRequestRef" type="SingleTripFareRequestRefStructure" substitutionGroup="FareRequestRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SINGLE TRIP FARE REQUEST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SingleTripFareRequestRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SINGLE TRIP FARE REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareRequestRefStructure">
				<xsd:attribute name="ref" type="SingleTripFareRequestIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SINGLE TRIP FARE REQUEST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====REPEATED TRIP FARE REQUEST.======================================================== -->
	<xsd:simpleType name="RepeatedTripFareRequestIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a REPEATED TRIP FARE REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareRequestIdType"/>
	</xsd:simpleType>
	<xsd:element name="RepeatedTripFareRequestRef" type="RepeatedTripFareRequestRefStructure" substitutionGroup="FareRequestRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a REPEATED TRIP FARE REQUEST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RepeatedTripFareRequestRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a REPEATED TRIP FARE REQUEST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareRequestRefStructure">
				<xsd:attribute name="ref" type="RepeatedTripFareRequestIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a REPEATED TRIP FARE REQUEST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
