XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_PiQuery/netex_piQuery_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_piQuery_support">
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_support.xsd"/>
	<!-- =============================================================== -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2014-10-04</Created>
				</Date>
				<Date>
					<Modified>2014-10-04</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the PI QUERY identifier types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransactions}netex_piQuery_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SALES TRANSACTION  identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: PI QUERY identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====PASSENGER QUERY.======================================================== -->
	<xsd:simpleType name="PassengerQueryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerQueryRef" type="PassengerQueryRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER QUERY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerQueryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PASSENGER QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="PassengerQueryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER QUERY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TRIP PLAN  QUERY .======================================================== -->
	<xsd:simpleType name="TripPlanQueryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRIP PLAN QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerQueryIdType"/>
	</xsd:simpleType>
	<xsd:element name="TripPlanQueryRef" type="TripPlanQueryRefStructure" abstract="false" substitutionGroup="PassengerQueryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRIP PLAN QUERY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TripPlanQueryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TRIP PLAN QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerQueryRefStructure">
				<xsd:attribute name="ref" type="TripPlanQueryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRIP PLAN QUERY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SCHEDULE  QUERY .======================================================== -->
	<xsd:simpleType name="ScheduleQueryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SCHEDULE QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerQueryIdType"/>
	</xsd:simpleType>
	<xsd:element name="ScheduleQueryRef" type="ScheduleQueryRefStructure" abstract="false" substitutionGroup="PassengerQueryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SCHEDULE QUERY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ScheduleQueryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SCHEDULE QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerQueryRefStructure">
				<xsd:attribute name="ref" type="ScheduleQueryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SCHEDULE QUERY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- STOP DEPARTURE QUERY .======================================================== -->
	<xsd:simpleType name="StopDepartureQueryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STOP DEPARTURE QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerQueryIdType"/>
	</xsd:simpleType>
	<xsd:element name="StopDepartureQueryRef" type="StopDepartureQueryRefStructure" abstract="false" substitutionGroup="PassengerQueryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STOP DEPARTURE QUERY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopDepartureQueryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a STOP DEPARTURE QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerQueryRefStructure">
				<xsd:attribute name="ref" type="StopDepartureQueryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STOP DEPARTURE QUERY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SCHEDULE  QUERY .======================================================== -->
	<xsd:simpleType name="StopFinderQueryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STOP FINDER QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerQueryIdType"/>
	</xsd:simpleType>
	<xsd:element name="StopFinderQueryRef" type="StopFinderQueryRefStructure" abstract="false" substitutionGroup="PassengerQueryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STOP FINDER QUERY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopFinderQueryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a STOP FINDER QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerQueryRefStructure">
				<xsd:attribute name="ref" type="StopFinderQueryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STOP FINDER QUERY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====FARE QUERY .======================================================== -->
	<xsd:simpleType name="FareQueryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerQueryIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareQueryRef" type="FareQueryRefStructure" abstract="false" substitutionGroup="PassengerQueryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE QUERY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareQueryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerQueryRefStructure">
				<xsd:attribute name="ref" type="FareQueryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE QUERY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SINGLE TRIP FARE QUERY.======================================================== -->
	<xsd:simpleType name="SingleTripFareQueryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SINGLE TRIP FARE QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareQueryIdType"/>
	</xsd:simpleType>
	<xsd:element name="SingleTripFareQueryRef" type="SingleTripFareQueryRefStructure" abstract="false" substitutionGroup="FareQueryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SINGLE TRIP FARE QUERY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SingleTripFareQueryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SINGLE TRIP FARE QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareQueryRefStructure">
				<xsd:attribute name="ref" type="SingleTripFareQueryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SINGLE TRIP FARE QUERY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====REPEATED TRIP FARE QUERY.======================================================== -->
	<xsd:simpleType name="RepeatedTripFareQueryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a REPEATED TRIP FARE QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareQueryIdType"/>
	</xsd:simpleType>
	<xsd:element name="RepeatedTripFareQueryRef" type="RepeatedTripFareQueryRefStructure" abstract="false" substitutionGroup="FareQueryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a REPEATED TRIP FARE QUERY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RepeatedTripFareQueryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a REPEATED TRIP FARE QUERY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareQueryRefStructure">
				<xsd:attribute name="ref" type="RepeatedTripFareQueryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a REPEATED TRIP FARE QUERY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
