XmlSchemaClassGenerator.Tests/xsd/simple/ng.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://car/1.0"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://car/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:group name="LimitedEditionType">
    <xs:sequence>
      <xs:element nillable="true" name="IsAvailable" type="xs:boolean" />
    </xs:sequence>
  </xs:group>

  <xs:complexType name="PorscheType">
    <xs:sequence>
      <xs:group ref="LimitedEditionType"/>
      <xs:element name="Model" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
