XmlSchemaClassGenerator.Tests/xsd/simple/simplecontent-enum.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/simplecontent" targetNamespace="http://example.com/simplecontent" elementFormDefault="qualified">
  <xs:complexType name="CodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="listID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TransConfirmationCodeType">
    <xs:simpleContent>
      <xs:restriction base="CodeType">
        <xs:enumeration value="Always"/>
        <xs:enumeration value="Never"/>
        <xs:enumeration value="OnError"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="Root" type="TransConfirmationCodeType"/>
</xs:schema>
