XmlSchemaClassGenerator.Tests/xsd/simple/simple.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:notation name="gif" public="image/gif" system="view.exe"/>
  <xs:notation name="jpeg" public="image/jpeg" system="view.exe"/>
  <xs:simpleType name="NotationType">
    <xs:restriction base="xs:NOTATION">
      <xs:enumeration value="gif"/>
      <xs:enumeration value="jpeg"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="defaultDoubleInf" type="xs:double" default="INF" minOccurs="0" />
		<xs:element name="defaultDecimal" type="xs:decimal" default="+3." minOccurs="0" />
        <xs:element name="defaultDateTime" type="xs:dateTime" default="2004-04-12T13:20:00-05:00" />
        <xs:element name="defaultDate" type="xs:date" default="2004-04-12" />
        <xs:element name="defaultTime" type="xs:time" default="09:30:10Z" />
        <xs:element name="defaultHexBinary" type="xs:hexBinary" default="F5FA" />

        <xs:element name="anyURIElement" type="xs:anyURI" />
        <xs:element name="base64BinaryElement" type="xs:base64Binary" />
        <xs:element name="booleanElement" type="xs:boolean" />
        <xs:element name="byteElement" type="xs:byte" />
        <xs:element name="dateElement" type="xs:date" />
        <xs:element name="dateTimeElement" type="xs:dateTime" />
        <xs:element name="decimalElement" type="xs:decimal" />
        <xs:element name="doubleElement" type="xs:double" />
        <xs:element name="DurationElement" type="xs:duration" />
        <!--<xs:element name="ENTITYElement" type="xs:ENTITY" />-->
        <xs:element name="floatElement" type="xs:float" />
        <xs:element name="gDayElement" type="xs:gDay" />
        <xs:element name="gMonthElement" type="xs:gMonth" />
        <xs:element name="gMonthDayElement" type="xs:gMonthDay" />
        <xs:element name="gYearElement" type="xs:gYear" />
        <xs:element name="gYearMonthElement" type="xs:gYearMonth" />
        <xs:element name="hexBinaryElement" type="xs:hexBinary" />
        <xs:element name="IDElement" type="xs:ID" />
        <xs:element name="IDREFElement" type="xs:IDREF" />
        <xs:element name="intElement" type="xs:int" />
        <xs:element name="integerElement" type="xs:integer" />
        <xs:element name="languageElement" type="xs:language" />
        <xs:element name="longElement" type="xs:long" />
        <xs:element name="NameElement" type="xs:Name" />
        <xs:element name="NCNameElement" type="xs:NCName" />
        <xs:element name="negativeIntegerElement" type="xs:negativeInteger" />
        <xs:element name="NMTOKENElement" type="xs:NMTOKEN" />
        <xs:element name="nonNegativeIntegerElement" type="xs:nonNegativeInteger" />
        <xs:element name="nonPositiveIntegerElement" type="xs:nonPositiveInteger" />
        <xs:element name="normalizedStringElement" type="xs:normalizedString" />
        <!--<xs:element name="NOTATIONElement" type="NotationType" />-->
        <xs:element name="positiveIntegerElement" type="xs:positiveInteger" />
        <xs:element name="QNameElement" type="xs:QName" />
        <xs:element name="shortElement" type="xs:short" />
        <xs:element name="stringElement" type="xs:string" />
        <xs:element name="timeElement" type="xs:time" />
        <xs:element name="tokenElement" type="xs:token" />
        <xs:element name="unsignedByteElement" type="xs:unsignedByte" />
        <xs:element name="unsignedIntElement" type="xs:unsignedInt" />
        <xs:element name="unsignedLongElement" type="xs:unsignedLong" />
        <xs:element name="unsignedShortElement" type="xs:unsignedShort" />

        <xs:element name="anyURINullableElement" minOccurs="0" type="xs:anyURI" />
        <xs:element name="base64BinaryNullableElement" minOccurs="0" type="xs:base64Binary" />
        <xs:element name="booleanNullableElement" minOccurs="0" type="xs:boolean" />
        <xs:element name="byteNullableElement" minOccurs="0" type="xs:byte" />
        <xs:element name="dateNullableElement" minOccurs="0" type="xs:date" />
        <xs:element name="dateTimeNullableElement" minOccurs="0" type="xs:dateTime" />
        <xs:element name="decimalNullableElement" minOccurs="0" type="xs:decimal" />
        <xs:element name="doubleNullableElement" minOccurs="0" type="xs:double" />
        <xs:element name="DurationNullableElement" minOccurs="0" type="xs:duration" />
        <!--<xs:element name="ENTITYNullableElement" minOccurs="0" type="xs:ENTITY" />-->
        <xs:element name="floatNullableElement" minOccurs="0" type="xs:float" />
        <xs:element name="gDayNullableElement" minOccurs="0" type="xs:gDay" />
        <xs:element name="gMonthNullableElement" minOccurs="0" type="xs:gMonth" />
        <xs:element name="gMonthDayNullableElement" minOccurs="0" type="xs:gMonthDay" />
        <xs:element name="gYearNullableElement" minOccurs="0" type="xs:gYear" />
        <xs:element name="gYearMonthNullableElement" minOccurs="0" type="xs:gYearMonth" />
        <xs:element name="hexBinaryNullableElement" minOccurs="0" type="xs:hexBinary" />
        <xs:element name="IDNullableElement" minOccurs="0" type="xs:ID" />
        <xs:element name="IDREFNullableElement" minOccurs="0" type="xs:IDREF" />
        <xs:element name="intNullableElement" minOccurs="0" type="xs:int" />
        <xs:element name="integerNullableElement" minOccurs="0" type="xs:integer" />
        <xs:element name="languageNullableElement" minOccurs="0" type="xs:language" />
        <xs:element name="longNullableElement" minOccurs="0" type="xs:long" />
        <xs:element name="NameNullableElement" minOccurs="0" type="xs:Name" />
        <xs:element name="NCNameNullableElement" minOccurs="0" type="xs:NCName" />
        <xs:element name="negativeIntegerNullableElement" minOccurs="0" type="xs:negativeInteger" />
        <xs:element name="NMTOKENNullableElement" minOccurs="0" type="xs:NMTOKEN" />
        <xs:element name="nonNegativeIntegerNullableElement" minOccurs="0" type="xs:nonNegativeInteger" />
        <xs:element name="nonPositiveIntegerNullableElement" minOccurs="0" type="xs:nonPositiveInteger" />
        <xs:element name="normalizedStringNullableElement" minOccurs="0" type="xs:normalizedString" />
        <!--<xs:element name="NOTATIONNullableElement" minOccurs="0" type="NotationType" />-->
        <xs:element name="positiveIntegerNullableElement" minOccurs="0" type="xs:positiveInteger" />
        <xs:element name="QNameNullableElement" minOccurs="0" type="xs:QName" />
        <xs:element name="shortNullableElement" minOccurs="0" type="xs:short" />
        <xs:element name="stringNullableElement" minOccurs="0" type="xs:string" />
        <xs:element name="timeNullableElement" minOccurs="0" type="xs:time" />
        <xs:element name="tokenNullableElement" minOccurs="0" type="xs:token" />
        <xs:element name="unsignedByteNullableElement" minOccurs="0" type="xs:unsignedByte" />
        <xs:element name="unsignedIntNullableElement" minOccurs="0" type="xs:unsignedInt" />
        <xs:element name="unsignedLongNullableElement" minOccurs="0" type="xs:unsignedLong" />
        <xs:element name="unsignedShortNullableElement" minOccurs="0" type="xs:unsignedShort" />

        <xs:element name="anyURIListElement" maxOccurs="unbounded" minOccurs="0" type="xs:anyURI" />
        <xs:element name="base64BinaryListElement" maxOccurs="unbounded" minOccurs="0" type="xs:base64Binary" />
        <xs:element name="booleanListElement" maxOccurs="unbounded" minOccurs="0" type="xs:boolean" />
        <xs:element name="byteListElement" maxOccurs="unbounded" minOccurs="0" type="xs:byte" />
        <xs:element name="dateListElement" maxOccurs="unbounded" minOccurs="0" type="xs:date" />
        <xs:element name="dateTimeListElement" maxOccurs="unbounded" minOccurs="0" type="xs:dateTime" />
        <xs:element name="decimalListElement" maxOccurs="unbounded" minOccurs="0" type="xs:decimal" />
        <xs:element name="doubleListElement" maxOccurs="unbounded" minOccurs="0" type="xs:double" />
        <xs:element name="DurationListElement" maxOccurs="unbounded" minOccurs="0" type="xs:duration" />
        <!--<xs:element name="ENTITYListElement" maxOccurs="unbounded" minOccurs="0" type="xs:ENTITY" />-->
        <xs:element name="floatListElement" maxOccurs="unbounded" minOccurs="0" type="xs:float" />
        <xs:element name="gDayListElement" maxOccurs="unbounded" minOccurs="0" type="xs:gDay" />
        <xs:element name="gMonthListElement" maxOccurs="unbounded" minOccurs="0" type="xs:gMonth" />
        <xs:element name="gMonthDayListElement" maxOccurs="unbounded" minOccurs="0" type="xs:gMonthDay" />
        <xs:element name="gYearListElement" maxOccurs="unbounded" minOccurs="0" type="xs:gYear" />
        <xs:element name="gYearMonthListElement" maxOccurs="unbounded" minOccurs="0" type="xs:gYearMonth" />
        <xs:element name="hexBinaryListElement" maxOccurs="unbounded" minOccurs="0" type="xs:hexBinary" />
        <xs:element name="IDListElement" maxOccurs="unbounded" minOccurs="0" type="xs:ID" />
        <xs:element name="IDREFListElement" maxOccurs="unbounded" minOccurs="0" type="xs:IDREF" />
        <xs:element name="intListElement" maxOccurs="unbounded" minOccurs="0" type="xs:int" />
        <xs:element name="integerListElement" maxOccurs="unbounded" minOccurs="0" type="xs:integer" />
        <xs:element name="languageListElement" maxOccurs="unbounded" minOccurs="0" type="xs:language" />
        <xs:element name="longListElement" maxOccurs="unbounded" minOccurs="0" type="xs:long" />
        <xs:element name="NameListElement" maxOccurs="unbounded" minOccurs="0" type="xs:Name" />
        <xs:element name="NCNameListElement" maxOccurs="unbounded" minOccurs="0" type="xs:NCName" />
        <xs:element name="negativeIntegerListElement" maxOccurs="unbounded" minOccurs="0" type="xs:negativeInteger" />
        <xs:element name="NMTOKENListElement" maxOccurs="unbounded" minOccurs="0" type="xs:NMTOKEN" />
        <xs:element name="nonNegativeIntegerListElement" maxOccurs="unbounded" minOccurs="0" type="xs:nonNegativeInteger" />
        <xs:element name="nonPositiveIntegerListElement" maxOccurs="unbounded" minOccurs="0" type="xs:nonPositiveInteger" />
        <xs:element name="normalizedStringListElement" maxOccurs="unbounded" minOccurs="0" type="xs:normalizedString" />
        <!--<xs:element name="NOTATIONListElement" maxOccurs="unbounded" minOccurs="0" type="NotationType" />-->
        <xs:element name="positiveIntegerListElement" maxOccurs="unbounded" minOccurs="0" type="xs:positiveInteger" />
        <xs:element name="QNameListElement" maxOccurs="unbounded" minOccurs="0" type="xs:QName" />
        <xs:element name="shortListElement" maxOccurs="unbounded" minOccurs="0" type="xs:short" />
        <xs:element name="stringListElement" maxOccurs="unbounded" minOccurs="0" type="xs:string" />
        <xs:element name="timeListElement" maxOccurs="unbounded" minOccurs="0" type="xs:time" />
        <xs:element name="tokenListElement" maxOccurs="unbounded" minOccurs="0" type="xs:token" />
        <xs:element name="unsignedByteListElement" maxOccurs="unbounded" minOccurs="0" type="xs:unsignedByte" />
        <xs:element name="unsignedIntListElement" maxOccurs="unbounded" minOccurs="0" type="xs:unsignedInt" />
        <xs:element name="unsignedLongListElement" maxOccurs="unbounded" minOccurs="0" type="xs:unsignedLong" />
        <xs:element name="unsignedShortListElement" maxOccurs="unbounded" minOccurs="0" type="xs:unsignedShort" />
        <xs:element name="bruksareal" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      </xs:sequence>
      <xs:attribute name="anyURIAttribute" type="xs:anyURI" />
      <xs:attribute name="base64BinaryAttribute" type="xs:base64Binary" />
      <xs:attribute name="booleanAttribute" type="xs:boolean" />
      <xs:attribute name="byteAttribute" type="xs:byte" />
      <xs:attribute name="dateAttribute" type="xs:date" />
      <xs:attribute name="dateTimeAttribute" type="xs:dateTime" />
      <xs:attribute name="decimalAttribute" type="xs:decimal" />
      <xs:attribute name="doubleAttribute" type="xs:double" />
      <xs:attribute name="DurationAttribute" type="xs:duration" />
      <!--<xs:attribute name="ENTITYAttribute" type="xs:ENTITY" />-->
      <xs:attribute name="floatAttribute" type="xs:float" />
      <xs:attribute name="gDayAttribute" type="xs:gDay" />
      <xs:attribute name="gMonthAttribute" type="xs:gMonth" />
      <xs:attribute name="gMonthDayAttribute" type="xs:gMonthDay" />
      <xs:attribute name="gYearAttribute" type="xs:gYear" />
      <xs:attribute name="gYearMonthAttribute" type="xs:gYearMonth" />
      <xs:attribute name="hexBinaryAttribute" type="xs:hexBinary" />
      <!--<xs:attribute name="IDAttribute" type="xs:ID" />-->
      <xs:attribute name="IDREFAttribute" type="xs:IDREF" />
      <xs:attribute name="intAttribute" type="xs:int" />
      <xs:attribute name="integerAttribute" type="xs:integer" />
      <xs:attribute name="languageAttribute" type="xs:language" />
      <xs:attribute name="longAttribute" type="xs:long" />
      <xs:attribute name="NameAttribute" type="xs:Name" />
      <xs:attribute name="NCNameAttribute" type="xs:NCName" />
      <xs:attribute name="negativeIntegerAttribute" type="xs:negativeInteger" />
      <xs:attribute name="NMTOKENAttribute" type="xs:NMTOKEN" />
      <xs:attribute name="nonNegativeIntegerAttribute" type="xs:nonNegativeInteger" />
      <xs:attribute name="nonPositiveIntegerAttribute" type="xs:nonPositiveInteger" />
      <xs:attribute name="normalizedStringAttribute" type="xs:normalizedString" />
      <!--<xs:attribute name="NOTATIONAttribute" type="NotationType" />-->
      <xs:attribute name="positiveIntegerAttribute" type="xs:positiveInteger" />
      <xs:attribute name="QNameAttribute" type="xs:QName" />
      <xs:attribute name="shortAttribute" type="xs:short" />
      <xs:attribute name="stringAttribute" type="xs:string" />
      <xs:attribute name="timeAttribute" type="xs:time" />
      <xs:attribute name="tokenAttribute" type="xs:token" />
      <xs:attribute name="unsignedByteAttribute" type="xs:unsignedByte" />
      <xs:attribute name="unsignedIntAttribute" type="xs:unsignedInt" />
      <xs:attribute name="unsignedLongAttribute" type="xs:unsignedLong" />
      <xs:attribute name="unsignedShortAttribute" type="xs:unsignedShort" />

      <xs:attribute name="anyURIListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:anyURI" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="base64BinaryListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:base64Binary" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="booleanListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:boolean" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="byteListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:byte" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dateListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:date" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dateTimeListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:dateTime" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="decimalListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:decimal" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="doubleListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:double" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DurationListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:duration" />
        </xs:simpleType>
      </xs:attribute>
      <!--<xs:attribute name="ENTITYListAttribute"><xs:simpleType><xs:list itemType="xs:ENTITY" /></xs:simpleType></xs:attribute>-->
      <xs:attribute name="floatListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:float" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="gDayListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:gDay" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="gMonthListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:gMonth" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="gMonthDayListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:gMonthDay" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="gYearListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:gYear" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="gYearMonthListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:gYearMonth" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="hexBinaryListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:hexBinary" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="IDListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:ID" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="IDREFListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:IDREF" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="intListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:int" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="integerListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:integer" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="languageListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:language" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="longListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:long" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="NameListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:Name" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="NCNameListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:NCName" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="negativeIntegerListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:negativeInteger" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="NMTOKENListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:NMTOKEN" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nonNegativeIntegerListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:nonNegativeInteger" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nonPositiveIntegerListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:nonPositiveInteger" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="normalizedStringListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:normalizedString" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="positiveIntegerListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:positiveInteger" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="QNameListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:QName" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="shortListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:short" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="stringListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:string" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="timeListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:time" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="tokenListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:token" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unsignedByteListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:unsignedByte" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unsignedIntListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:unsignedInt" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unsignedLongListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:unsignedLong" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unsignedShortListAttribute">
        <xs:simpleType>
          <xs:list itemType="xs:unsignedShort" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="System" type="xs:string"></xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
