XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_vehicleJourneyTimes_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_vehicleJourneyTimes_version">
	<xsd:include schemaLocation="netex_vehicleJourney_support.xsd"/>
	<xsd:include schemaLocation="netex_vehicleJourneyTimes_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_timeDemandType_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE JOURNEY TIMES types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_journeyTimes}netex_vehicleJourneyTimes_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE JOURNEY  FREQUENCY TIMES types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: VEHICLE JOURNEY TIMEs types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:complexType name="vehicleJourneyWaitTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE JOURNEY WAIT TIMEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleJourneyWaitTime" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleJourneyWaitTime" abstract="false" substitutionGroup="JourneyTiming">
		<xsd:annotation>
			<xsd:documentation>The time for a vehicle to wait at a particular TIMING POINT IN JOURNEY PATTERN on a specified VEHICLE JOURNEY. This wait time will override the JOURNEY PATTERN WAIT TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleJourneyWaitTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyTimingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyWaitTimeGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleJourneyWaitTimeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleJourneyWaitTimeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleJourneyWaitTime_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE JOURNEY WAIT TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyWaitTime_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleJourneyWaitTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleJourneyWaitTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE JOURNEY WAIT TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="VehicleJourneyRef" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ===VehicleJourneyRunTime===================================================== -->
	<xsd:complexType name="vehicleJourneyRunTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE JOURNEY RUN TIMEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleJourneyRunTime" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>VEHICLE JOURNEY RUN TIME for a specified TIME DEMAND TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleJourneyRunTime" abstract="false" substitutionGroup="JourneyTiming">
		<xsd:annotation>
			<xsd:documentation>The time taken to traverse a specified TIMING LINK IN JOURNEY PATTERN on a specified VEHICLE JOURNEY. This gives the most detailed control over times and overrides the DEFAULT SERVICE JOURNEY RUN TIME and JOURNEY PATTERN RUN TIME and the DEFAULT DEAD RUN RUN TIME. There may be different times for different TIME DEMAND TYPES.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleJourneyRunTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyTimingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyRunTimeGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleJourneyRunTimeGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleJourneyRunTimeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleJourneyRunTime_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE JOURNEY RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyRunTime_VersionedChildStructure">
				<xsd:group ref="VehicleJourneyRunTimeGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleJourneyRunTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE JOURNEY RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="VehicleJourneyRef" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ===VehicleJourneyRunTime===================================================== -->
	<xsd:complexType name="vehicleJourneyLayovers_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of for a VEHICLE JOURNEY LAYOVERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleJourneyLayover" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>VEHICLE JOURNEY LAYOVER for a specified TIME DEMAND TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleJourneyLayover" abstract="false" substitutionGroup="JourneyTiming">
		<xsd:annotation>
			<xsd:documentation>A time allowance at the end of a specified VEHICLE JOURNEY. This time supersedes any global layover or JOURNEY PATTERN LAYOVER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleJourneyLayover_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyTimingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyLayoverGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleJourneyLayoverGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleJourneyLayoverIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleJourneyLayover_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE JOURNEY LAYOVER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyLayoverStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleJourneyLayoverGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleJourneyLayoverGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE JOURNEY LAYOVER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="VehicleJourneyRef" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
