XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_deckEntranceAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_deckEntranceAssignment_support">
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_stopAssignment_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2023-02-12</Created>
				</Date>
				<Date><Modified>2024-06-24</Modified>Add TRAIN COMPONENT STOP ASSIGNMENT
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the DECK ENTRANCE ASSIGNMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_deckEntranceAlignment_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>
          Unclassified
          <Copyright>CEN, Crown Copyright 2023-2023</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel  standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx DECK ENTRANCE ALIGNMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: DECK ENTRANCE ASSIGNMENT identifier types</xsd:documentation>
	</xsd:annotation>
	<!-- ==== DECK ENTRANCE ASSIGNMENT==================================================== -->
	<xsd:complexType name="deckEntranceAssignmentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DECK ENTRANCE ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="deckEntranceAssignmentRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="deckEntranceAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DECK ENTRANCE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerBoardingPositionAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="deckEntranceAssignmentRef" type="deckEntranceAssignmentRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DECK ENTRANCE ASSIGNMENT. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="deckEntranceAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DECK ENTRANCE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerBoardingPositionAssignmentRefStructure">
				<xsd:attribute name="ref" type="deckEntranceAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DECK ENTRANCE ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerBoardingPositionAssignmentRefStructureType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TRAIN COMPONENT STOPASSIGNMENT==================================================== -->
	<xsd:complexType name="trainComponentStopAssignmentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRAIN COMPONENT STOP ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TrainComponentStopAssignmentRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TrainComponentStopAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAIN COMPONENT STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerBoardingPositionAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrainComponentStopAssignmentRef" type="TrainComponentStopAssignmentRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAIN COMPONENT STOP ASSIGNMENT. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrainComponentStopAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRAIN COMPONENT STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerBoardingPositionAssignmentRefStructure">
				<xsd:attribute name="ref" type="TrainComponentStopAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRAIN COMPONENT STOP ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTrainComponentStopAssignmentRefStructureType" default="TrainComponentStopAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TrainComponentStopAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
