XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_vehicleJourneyStopAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_vehicleJourney_version">
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_vehicleStopping_support.xsd"/>
	<xsd:include schemaLocation="netex_vehicleJourneyStopAssignment_support.xsd"/>
	<xsd:include schemaLocation="netex_vehicleJourney_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_stopAssignment_version.xsd"/>
	<xsd:include schemaLocation="netex_datedVehicleJourney_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2024-06-26</Created>
				</Date>
				<Date><Modified>2024-06-26</Modified>Split off from Vehicle_journey_support. Make DYNAMIC SYOP ASSIGNMEMT a child of VEHICLE JOURNEY SUPPORT and add DATED VEJICLE JOURNEY Ref
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE JOURNEY STOP ASSIGNMEMT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_journeyTimes}netex_vehicleJourney_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
						 <Copyright>CEN, Crown Copyright 2009-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE JOURNEY types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: VEHICLE JOURNEY types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="vehicleJourneyStopAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of VEHICLE JOURNEY STOP ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleJourneyStopAssignment" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>The allocation of a SCHEDULED STOP POINT (i.e. a SCHEDULED STOP POINT of a SERVICE PATTERN or JOURNEY PATTERN) to a specific STOP PLACE or QUAY, for either a Passenger JOURNEY or VEHICLE SERVICE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======== VEHICLE TYPE STOP ASSIGNMENT ========================== -->
	<xsd:complexType name="vehicleTypeStopAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment of VEHICLE TYPE STOP ASSIGNNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleTypeStopAssignmentRef"/>
					<xsd:element ref="VehicleTypeStopAssignment">
						<xsd:annotation>
							<xsd:documentation>The allocation of a stopping position of a VEHICLE TYPE for a particular VEHICLE JOURNEY.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleTypeStopAssignment" substitutionGroup="StopAssignment">
		<xsd:annotation>
			<xsd:documentation>The allocation of a stopping position of a VEHICLE TYPE for a particular VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleTypeStopAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleTypeStopAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleTypeStopAssignmentIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleTypeStopAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE TYPE STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StopAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleTypeStopAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleTypeStopAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VEHICLE TYPE STOP ASSIGNMENT Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleOrientation" type="VehicleOrientationEnumeration" default="forwards" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Relative orientation of vehicle - Default is forwards.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="VehicleStoppingPositionRef" minOccurs="0"/>
			<xsd:element ref="VehicleJourneyRef" minOccurs="0"/>
			<xsd:element ref="TransportTypeRef"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======= VEHICLE JOURNEY STOP ASSIGNMENT ============================ -->
	<xsd:complexType name="vehicleJourneyStopAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment of VEHICLE JOURNEY STOP ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleJourneyStopAssignmentRef"/>
					<xsd:element ref="StopAssignment"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleJourneyStopAssignment" substitutionGroup="StopAssignment">
		<xsd:annotation>
			<xsd:documentation>Change to a PASSENGER STOP ASSIGNMENT for a specific VEHICLE JOURNEY +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleJourneyStopAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerStopAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleJourneyStopAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleJourneyStopAssignmentIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleJourneyStopAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE JOURNEY STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerStopAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleJourneyStopAssignmentGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a VEHICLE JOURNEY STOP ASSIGNMENT. Original PASSENGER STOP ASSIGNMENT for which this is a change.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleJourneyStopAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE JOURNEY STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="VehicleJourneyRef" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PassengerStopAssignmentRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ===== TRAIN COMPONENT LABEL ASSIGNMENT ==================================== -->
	<xsd:complexType name="trainComponentLabelAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment of TRAIN COMPONENT NUMBER ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TrainComponentLabelAssignmentRef"/>
					<xsd:element ref="TrainComponentLabelAssignment"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TrainComponentLabelAssignment" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>The allocation of an advertised designation for a vehicle or vehicle element for passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TrainComponentLabelAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TrainComponentLabelAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TrainComponentLabelAssignmentIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrainComponentLabelAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TRAIN COMPONENT NUMBER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TrainComponentLabelAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrainComponentLabelAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TRAIN COMPONENT NUMBER ASSIGNMENT Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Label to assign.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="VehicleJourneyRef" minOccurs="0"/>
			<xsd:element ref="TrainComponentRef"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======DYNAMIC STOP ASSIGNMENT.=========================================== -->
	<xsd:element name="DynamicStopAssignment" substitutionGroup="StopAssignment">
		<xsd:annotation>
			<xsd:documentation>Change to a PASSENGER STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DynamicStopAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerStopAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleJourneyStopAssignmentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a VEHICLE JOURNEY STOP ASSIGNMENT. Original PASSENGER STOP ASSIGNMENT for which this is a change.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DynamicStopAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DynamicStopAssignmentIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DynamicStopAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DYNAMIC PASSENGER STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleJourneyStopAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DynamicStopAssignmentGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a DYNAMIC PASSENGER STOP ASSIGNMENT. Original PASSENGER STOP ASSIGNMENT for which this is a change.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DynamicStopAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DYNAMIC PASSENGER STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="JourneyPatternRef" minOccurs="0"/>
			<xsd:element ref="DatedVehicleJourneyRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- =====QUAY ASSIGNMENT GROUP=============================================== -->
	<xsd:group name="QuayAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a QUAY ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="PassengerStopAssignmentRef" minOccurs="0"/>
				<xsd:element ref="QuayAssignmentView" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="DynamicStopAssignment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="QuayAssignmentView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Assignment to a specific QUAY within the STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerStopAssignment_DerivedViewStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DerivedViewGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="PassengerStopAssignmentRef" minOccurs="0"/>
							<xsd:element ref="StopPlaceRef" minOccurs="0"/>
							<xsd:element name="QuayRef" type="QuayRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>QUAY to which SCHEDULED STOP POINT is to be assigned.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="QuayName" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Name of QUAY or platform to which the SCHEDULED STOP POINT is assigned.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Label" type="xsd:normalizedString" minOccurs="0"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerStopAssignmentIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of Object of which this is a view.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
