XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_datedVehicleJourney_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_dateVehicleJourney_version">
	<xsd:include schemaLocation="netex_datedVehicleJourney_support.xsd"/>
	<xsd:include schemaLocation="netex_serviceJourney_version.xsd"/>
	<xsd:include schemaLocation="netex_datedPassingTimes_version.xsd"/>
	<xsd:include schemaLocation="netex_call_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2011-02-05</Modified>Name Space changes  
				</Date>
				<Date><Modified>2020-07-29</Modified>Issue #97 Add NormalDatedJourney and DatedVehicleJourney journeys  in timetableframe
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the DATED VEHICLE JOURNEY types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_journeyTimes}netex_datedVehicleJourney_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx DATED VEHICLE JOURNE   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: DATED VEHICLE JOURNEY types.</xsd:documentation>
	</xsd:annotation>
	<xsd:group name="ServiceJourneyFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Service related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="serviceJourneys" type="journeysInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SERVICE JOURNEYs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfServices" type="groupsOfServicesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPs of SERVICES  in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="passengerJourneysInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  passenger  JOURNEYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="DatedServiceJourney"/>
					<xsd:element ref="ServiceJourney"/>
					<xsd:element ref="SpecialService"/>
					<xsd:element ref="TemplateServiceJourney"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="journeysInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  all JOURNEYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleJourney"/>
					<xsd:element ref="DatedVehicleJourney"/>
					<xsd:element ref="NormalDatedVehicleJourney"/>
					<xsd:element ref="ServiceJourney"/>
					<xsd:element ref="DatedServiceJourney"/>
					<xsd:element ref="DeadRun"/>
					<xsd:element ref="SpecialService"/>
					<xsd:element ref="TemplateServiceJourney">
						<xsd:annotation>
							<xsd:documentation>A VEHICLE JOURNEY with a set of frequencies that may be used to represent a set of similar journeys differing only by their time of departure.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="DatedVehicleJourney" abstract="false" substitutionGroup="Journey_">
		<xsd:annotation>
			<xsd:documentation>A particular journey of a vehicle on a particular OPERATING DAY including all modifications possibly decided by the control staff.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DatedVehicleJourney_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:group ref="JourneyGroup"/>
						<xsd:sequence>
							<xsd:group ref="VehicleJourneyGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DatedVehicleJourneyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DatedVehicleJourneyIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DatedVehicleJourney_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DATED VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleJourney_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DatedVehicleJourneyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DatedVehicleJourneyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for DATED  VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="DatedVehicleJourneyReferencesGroup"/>
			<xsd:element name="datedPassingTimes" type="targetPassingTimes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PASSING TIMEs  for JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datedCalls" type="datedCalls_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DATED CALLs  for JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DatedVehicleJourneyReferencesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for DATED  VEHICLE JOURNEY REFERENCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="JourneyRef" minOccurs="0"/>
			<xsd:element ref="OperatingDayRef"/>
			<xsd:element name="ExternalDatedVehicleJourneyRef" type="ExternalObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An alternative  code that uniquely identifies theDATED  VEHICLE  JOURNEY. Specifically for use in AVMS systems. For VDV compatibility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatedJourneyPatternRef" type="JourneyPatternRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a JOURNEY PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DriverRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====DATED SERVICE JOURNEY====================================-->
	<xsd:element name="DatedServiceJourney" abstract="false" substitutionGroup="ServiceJourney_">
		<xsd:annotation>
			<xsd:documentation>A particular journey of a vehicle on a particular OPERATING DAY including all modifications possibly decided by the control staff. 

The VIEW includes derived ancillary data from referenced entities.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DatedServiceJourney_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:group ref="JourneyGroup"/>
						<xsd:group ref="ServiceJourneyGroup"/>
						<xsd:sequence>
							<xsd:group ref="DatedServiceJourneyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DatedVehicleJourneyIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DatedServiceJourney_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Data type for Planned VEHICLE JOURNEY (Production Timetable Service).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ServiceJourney_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DatedServiceJourneyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DatedServiceJourneyGroup">
		<xsd:annotation>
			<xsd:documentation>If the journey is an alteration to a timetable, indicates the original journey, and the nature of the difference.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="OperatingDayRef"/>
				<xsd:element ref="UicOperatingPeriod"/>
			</xsd:choice>
			<xsd:element ref="DriverRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="NormalDatedVehicleJourney" abstract="false" substitutionGroup="Journey_">
		<xsd:annotation>
			<xsd:documentation>A DATED VEHICLE JOURNEY identical to a long-term planned VEHICLE JOURNEY, possibly updated according to short-term modifications of the PRODUCTION PLAN decided by the control staff.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="NormalDatedVehicleJourney_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:group ref="JourneyGroup"/>
						<xsd:sequence>
							<xsd:group ref="VehicleJourneyGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DatedVehicleJourneyGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NormalDatedVehicleJourneyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="NormalDatedVehicleJourneyIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of NORMAL DATED VEHICLE JORUNEY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NormalDatedVehicleJourney_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for NORMAL DATED VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DatedVehicleJourney_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="NormalDatedVehicleJourneyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="NormalDatedVehicleJourneyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for NORMAL DATED VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceAlterationType" type="ServiceAlterationEnumeration" default="planned" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Service alteration. Default is planned.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="DatedSpecialService" abstract="false" substitutionGroup="Journey_">
		<xsd:annotation>
			<xsd:documentation>A particular journey of a vehicle on a particular OPERATING DAY including all modifications possibly decided by the control staff.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DatedSpecialService_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:group ref="JourneyGroup"/>
						<xsd:sequence>
							<xsd:group ref="SpecialServiceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DatedVehicleJourneyReferencesGroup"/>
								<xsd:element name="datedPassingTimes" type="targetPassingTimes_RelStructure" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>PASSING TIMEs  for JOURNEY.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="datedCalls" type="datedCalls_RelStructure" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>DATED CALLs  for JOURNEY.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DatedSpecialServiceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DatedSpecialService_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DATED SPECIAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SpecialService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DatedVehicleJourneyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
