XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_deckPlanAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_deckPlanAssignment_version">
	<xsd:include schemaLocation="netex_deckPlanAssignment_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_support.xsd"/>
	<xsd:include schemaLocation="netex_coupledJourney_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_deckPlan_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2023-01-30</Created>
				</Date>
				<Date><Modified>2023-01-30</Modified>
          Name Space changes
        </Date>
				<Date><Modified>2023-12-08</Modified>Revise documentation
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the DECK PLAN ASSIGNMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_deckPlanAssignment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>
          Unclassified
          <Copyright>CEN, Crown Copyright  2022-2023</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,   standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx DECK PLAN ASSIGNMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>DECK PLAN ASSIGNMENT data types</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ==== DECK PLAN ASSIGNMENT ==================================================== -->
	<xsd:complexType name="deckPlanAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DECK PLAN ASSIGNMENTs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DeckPlanAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DeckPlanAssignment" substitutionGroup="Assignment_Dummy">
		<xsd:annotation>
			<xsd:documentation>The allocation of a DECK PLAN to all or part of a specific VEHICLE JOURNEY and /or VEHICLE TYPE and/or TRAIN ELEMENT. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckPlanAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckPlanAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckPlanAssignmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of DECK PLAN ASSIGNMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckPlanAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK PLAN ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DeckPlanAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckPlanAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK PLAN ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DeckPlanRef"/>
			<xsd:group ref="DeckPlanAssignToTrainGroup"/>
			<xsd:group ref="DeckPlanAssignToServiceJourneyGroup"/>
			<xsd:element name="configurationConditions" type="validityConditionRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Validity coniditions in effect for JOURNEY or JOURNEY PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DeckPlanAssignToTrainGroup">
		<xsd:annotation>
			<xsd:documentation>Assign to TRAIN elements for a DECK PLAN ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TransportTypeRef" minOccurs="0"/>
			<xsd:element ref="TrainComponentRef" minOccurs="0"/>
			<xsd:element ref="TrainElementTypeRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DeckPlanAssignToServiceJourneyGroup">
		<xsd:annotation>
			<xsd:documentation>Assign to SERVICE JOURNEY elements for a DECK PLAN ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="JourneyRef" minOccurs="0"/>
			<xsd:element ref="JourneyPartRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
