XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_deckEntranceAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_deckEntranceAssignment_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_seatingPlan_support.xsd"/>
	<xsd:include schemaLocation="netex_deckEntranceAssignment_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_deckPlan_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_stopAssignment_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2023-01-30</Created>
				</Date>
				<Date><Modified>2024-06-24</Modified>Add TRAIN COMPONENT STOP ASSIGNMENT
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the DECK ENTRANCE ALIGNMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_deckEntranceAlignment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>
          Unclassified
          <Copyright>CEN, Crown Copyright  2022-2023</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,   standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx DECK ENTRANCE ASSIGNMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTE: DECK ENTRANCE ASSIGNMENT data types</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ==== DECK ENTRANCE ASSIGNMENT ==================================================== -->
	<xsd:complexType name="deckEntranceAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DECK ENTRANCE ASSIGNMENTs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DeckEntranceAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DeckEntranceAssignment" substitutionGroup="PassengerBoardingPositionAssignment_Dummy">
		<xsd:annotation>
			<xsd:documentation>The association of a DECK ENTRANCE of a VEHICLE's DECK PLAN with a TRAIN and TRAIN COMPONENT and a specific STOP PLACE, QUAY and possibly BOARDING POSITION. NOTE: may indicate which side of VEHICLE door is. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckEntranceAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerBoardingPositionAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckEntranceAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="deckEntranceAssignmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of DECK ENTRANCE ASSIGNMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckEntranceAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK ENTRANCE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerBoardingPositionAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DeckEntranceAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckEntranceAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK ENTRANCE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DeckEntranceRef"/>
			<xsd:element name="EntranceSetting" type="EntranceSettingEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default setting for doors when while at stop - are the doors held open, shut or locked shut.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="LocatableSpotRangeGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== TRAIN COMPONENT  ASSIGNMENT ==================================================== -->
	<xsd:complexType name="trainComponentStopAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TRAIN COMPONENT STOP ASSIGNMENTs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TrainComponentStopAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TrainComponentStopAssignment" substitutionGroup="StopAssignment">
		<xsd:annotation>
			<xsd:documentation>The association of a DECK ENTRANCE of a VEHICLE's DECK PLAN with a TRAIN and TRAIN COMPONENT and a specific STOP PLACE, QUAY and possibly BOARDING POSITION. NOTE: may indicate which side of VEHICLE door is. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TrainComponentStopAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TrainComponentStopAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TrainComponentStopAssignmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of TRAIN COMPONENT STOP ASSIGNMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrainComponentStopAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TRAIN COMPONENT STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerBoardingPositionAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TrainComponentStopAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrainComponentStopAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRAIN COMPONENT STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
