XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_datedPassingTimes_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_datedPassingTimes_version">
	<xsd:include schemaLocation="netex_passingTimes_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Date><Modified>2017-06-28</Modified>Add separate Arrival and Departure Day Offsets
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the DATED PASSING TIME types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_journeyTimes}netex_datedPassingTimes_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx DATED PASSING TIME  support types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: DATED PASSING TIME types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="DatedPassingTime" type="DatedPassingTime_VersionedChildStructure" abstract="false" substitutionGroup="PassingTime">
		<xsd:annotation>
			<xsd:documentation>DATED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DatedPassingTime_VersionedChildStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for DATED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassingTime_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="DatedPassingTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DatedPassingTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Dated PASSING TIME elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DatedJourneyRef" type="JourneyRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Dated journey for which this is the  PASSING TIME. If given by context does not need to be restated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === TARGET ================================================ -->
	<xsd:complexType name="targetPassingTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TARGET PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TargetPassingTime" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TargetPassingTime" abstract="false" substitutionGroup="DatedPassingTime">
		<xsd:annotation>
			<xsd:documentation>TARGET PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TargetPassingTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassingTimeGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DatedPassingTimeGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TargetPassingTimeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TargetPassingTimeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TargetPassingTime_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TARGET PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DatedPassingTime_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="TargetPassingTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TargetPassingTimeGroup">
		<xsd:annotation>
			<xsd:documentation>TARGET PASSING TIME  elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:group ref="TargetTimesAtStopGroup">
					<xsd:annotation>
						<xsd:documentation>Aimed Times at stop.</xsd:documentation>
					</xsd:annotation>
				</xsd:group>
				<xsd:group ref="NonStopTimesAtStopGroup"/>
			</xsd:choice>
			<xsd:element name="AimedHeadway" type="HeadwayIntervalStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Aimed Frequency of service.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TargetTimesAtStopGroup">
		<xsd:annotation>
			<xsd:documentation>Times at stop elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AimedArrivalTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Aimed Arrival time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ArrivalDayOffset" type="DayOffsetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Arrival Day Offset from Start of Journey. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AimedDepartureTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Aimed departure time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DepartureDayOffset" type="DayOffsetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DepartureDay Offset from Start of Journey. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AimedWaitingTime" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Aimed waiting interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="NonStopTimesAtStopGroup">
		<xsd:annotation>
			<xsd:documentation>Times at stop elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AimedNonstopPassingTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Aimed PASSING TIME if doesn't stop at TIMING POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassingDayOffset" type="DayOffsetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Passing Day Offset from Start of Journey. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === Simplified============================================ -->
	<!-- ======================================================================= -->
	<xsd:element name="PassingTimeView" substitutionGroup="DataManagedObjectView">
		<xsd:annotation>
			<xsd:documentation>Simplified TARGET PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassingTime_ViewStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="DayOffset" type="DayOffsetType" default="0" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Number of days after the starting time of the journey,  if  not same calendar day. Default is 0 for same day.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassingTime_ViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Simplified  TARGET PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObject_ViewStructure">
				<xsd:sequence>
					<xsd:element name="DayOffset" type="DayOffsetType" default="0" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of days after the starting departure time of the journey if  not same calendar day. Default is 0 for same day.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimetabledPassingTimeView" type="TimetabledPassingTime_ViewStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Simplified TIMETABLED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TimetabledPassingTime_ViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Simplified  TIMETABLED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassingTime_ViewStructure">
				<xsd:sequence>
					<xsd:element name="ArrivalTime" type="xsd:time" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Timetabled Arrival time.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ArrivalDayOffset" type="DayOffsetType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Arrival Day Offset from Start of Journey. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DepartureTime" type="xsd:time" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Timetabled departure time.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DepartureDayOffset" type="DayOffsetType" default="0" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of days after the starting departure time of the journey if  not same calendar day. Default is 0 for same day.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="WaitingTime" type="xsd:duration" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Timetabled waiting interval.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Headway" type="HeadwayIntervalStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Frequency of service.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TargetPassingTimeView" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Simplified TARGET PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="TargetPassingTime_ViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TargetPassingTime_ViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Simplified  TARGET PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassingTime_ViewStructure">
				<xsd:sequence>
					<xsd:group ref="TargetPassingTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
