XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_passengerAtStopTime_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_passengerAtStopTime_support">
	<xsd:include schemaLocation="netex_passingTimes_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2024-02-27</Created> TM 6.2 enhancement to allow 
				</Date>
				<Date>
					<Modified>2024-02-27</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the PASSENGER AT STOP TIMEtypes.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_journeyTimes}netex_ppassengerAtStopTime_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					<Copyright>CEN, Crown Copyright 2023-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx PASSENGER AT STOP TIME identifier  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: PASSENGER AT STOP TIME identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======PASSENGER AT STOP TIME ========================================== -->
	<xsd:simpleType name="PassengerAtStopTimeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER AT STOP TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassingTimeIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerAtStopTimeRef" type="PassengerAtStopTimeRefStructure" substitutionGroup="PassingTimeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER AT STOP TIME. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerAtStopTimeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PASSENGER AT STOP TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassingTimeRefStructure">
				<xsd:attribute name="ref" type="PassengerAtStopTimeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerAtStopTimeRefStructureType" default="PassengerAtStopTime">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for PassengerAtStopTimeRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
