XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_coupledJourney_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_coupledJourney_support">
	<xsd:include schemaLocation="netex_vehicleJourney_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Date>
					<Modified>2017-06-28  CR010 Journey Part - Add Journey Part Position  </Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the COUPLED JOURNEY types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_journeyTimes}netex_coupledJourney_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx COUPLED JOURNEY support types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: COUPLED JOURNEY identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfCouplingListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Type of Coupling.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="TypeOfCouplingEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="TypeOfCouplingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Nature of Coupling.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="serviceFacility">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is considered a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="coupling">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is advertised to public as a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="tariffSection">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is actively managed as a possible connection between journeys and passengers are informed of real-time alterations.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="uncoupled"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ===JOURNEY PART====================================================== -->
	<xsd:simpleType name="JourneyPartIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a JOURNEY PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="JourneyPartRef" type="JourneyPartRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a JOURNEY PART.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyPartRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a JOURNEY PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="JourneyPartIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF ENTITies.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="journeyPartRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEY PARTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyPartRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="CoupledJourneyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a COUPLED JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="CoupledJourneyRef" type="CoupledJourneyRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a COUPLED JOURNEY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CoupledJourneyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a COUPLED JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="CoupledJourneyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a COUPLED JOURNEY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="JourneyPartCoupleIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a JOURNEY PART COUPLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="JourneyPartCoupleRef" type="JourneyPartCoupleRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a JOURNEY PART COUPLE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyPartCoupleRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a JOURNEY PART COUPLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="JourneyPartCoupleIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of JOURNEY PART COUPLE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="JourneyPartEnumeration">
		<xsd:annotation>
			<xsd:documentation>Nature of JOURNEY PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="joiningTo">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is considered a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="splittingFrom">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is advertised to public as a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="splittingTo">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is actively managed as a possible connection between journeys and passengers are informed of real-time alterations.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="joinFrom">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is actively managed as a possible connection between journeys and distributor may be delayed in order to make a transfer possible.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="connectTo"/>
			<xsd:enumeration value="identificationNumberChange"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="JourneyPartPositionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a JOURNEY PART POSITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PurposeOfJourneyPartitionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PURPOSE OF JOURNEY PARTITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="PurposeOfJourneyPartitionRef" type="PurposeOfJourneyPartitionRefStructure" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PURPOSE OF JOURNEY PARTITION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PurposeOfJourneyPartitionRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a PURPOSE OF JOURNEY PARTITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="PurposeOfJourneyPartitionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a PURPOSE OF JOURNEY PARTITION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ====BLOCK======================================================== -->
	<xsd:simpleType name="BlockIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a BLOCK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="BlockRef" type="BlockRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a BLOCK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BlockRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a BLOCK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="BlockIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a BLOCK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TrainBlockIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAIN BLOCK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="BlockIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrainBlockRef" type="TrainBlockRefStructure" substitutionGroup="BlockRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAIN BLOCK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrainBlockRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRAIN BLOCK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="BlockRefStructure">
				<xsd:attribute name="ref" type="TrainBlockIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRAIN BLOCK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:simpleType name="BlockPartIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a BLOCK PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="BlockPartRef" type="BlockPartRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a BLOCK PART.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BlockPartRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a BLOCK PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="BlockPartIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a BLOCK PART.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TrainBlockPartIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAIN BLOCK PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="BlockPartIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrainBlockPartRef" type="TrainBlockPartRefStructure" substitutionGroup="BlockPartRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAIN BLOCK PART.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrainBlockPartRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRAIN BLOCK PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="BlockPartRefStructure">
				<xsd:attribute name="ref" type="TrainBlockPartIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRAIN BLOCK PART.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
