XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_interchange_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_interchange_support">
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_timeDemandType_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the INTERCHANGE. types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_journeyTimes}netex_interchange_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx INTERCHANGE. types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX INTERCHANGE identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===JOURNEY MEETING===================================================== -->
	<xsd:simpleType name="JourneyMeetingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a JOURNEY MEETING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="JourneyMeetingRef" type="JourneyMeetingRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a JOURNEY MEETING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyMeetingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a JOURNEY MEETING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="JourneyMeetingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a JOURNEY MEETING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ReasonForMeetingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for REASON FOR JOURNEY MEETING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="serviceFacility">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is considered a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="joining">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is advertised to public as a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="tariffSection">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is actively managed as a possible connection between journeys and passengers are informed of real-time alterations.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="splitting"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="InterchangeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="InterchangeRef" type="InterchangeRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InterchangeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="InterchangeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an INTERCHANGe.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="DefaultInterchangeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DEFAULT INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InterchangeIdType"/>
	</xsd:simpleType>
	<xsd:element name="DefaultInterchangeRef" type="DefaultInterchangeRefStructure" substitutionGroup="InterchangeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DEFAULT INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DefaultInterchangeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DEFAULT INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InterchangeRefStructure">
				<xsd:attribute name="ref" type="DefaultInterchangeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DEFAULT INTERCHANGe.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ServiceJourneyInterchangeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SERVICE JOURNEY INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InterchangeIdType"/>
	</xsd:simpleType>
	<xsd:element name="ServiceJourneyInterchangeRef" type="ServiceJourneyInterchangeRefStructure" substitutionGroup="InterchangeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SERVICE JOURNEY INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceJourneyInterchangeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SERVICE JOURNEY INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InterchangeRefStructure">
				<xsd:attribute name="ref" type="ServiceJourneyInterchangeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SERVICE JOURNEY INTERCHANGe.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ServiceJourneyPatternInterchangeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SERVICE JOURNEY PATTERN INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InterchangeIdType"/>
	</xsd:simpleType>
	<xsd:element name="ServiceJourneyPatternInterchangeRef" type="ServiceJourneyPatternInterchangeRefStructure" substitutionGroup="InterchangeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SERVICE JOURNEY PATTERN INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceJourneyPatternInterchangeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SERVICE JOURNEY PATTERN INTERCHANGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InterchangeRefStructure">
				<xsd:attribute name="ref" type="ServiceJourneyPatternInterchangeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SERVICE JOURNEY INTERCHANGe.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="InterchangeRuleIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of INTERCHANGE RULE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InterchangeIdType"/>
	</xsd:simpleType>
	<xsd:element name="InterchangeRuleRef" type="InterchangeRuleRefStructure" substitutionGroup="InterchangeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an INTERCHANGE RULE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InterchangeRuleRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an INTERCHANGE RULE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InterchangeRefStructure">
				<xsd:attribute name="ref" type="InterchangeRuleIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an INTERCHANGe.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ConnectionCertaintyEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for  Guaranteed.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="guaranteed">
				<xsd:annotation>
					<xsd:documentation>ERA X01: The connection is guaranteed under any circumstances.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="normallyGuaranteed">
				<xsd:annotation>
					<xsd:documentation>ERA X02: The connection is normally guaranteed, although the connection time available is shorter than the location connection time.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="notGuaranteed">
				<xsd:annotation>
					<xsd:documentation>ERA X03: The connection is not guaranteed, although the connection time available is longer than the location connection time.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="neverGuaranteed">
				<xsd:annotation>
					<xsd:documentation>ERA X04: The connection is never guaranteed, although the connection time available is longer than the location connection time.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="InterchangeRuleTimingIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of INTERCHANGE RULE TIMING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyTimingIdType"/>
	</xsd:simpleType>
	<xsd:element name="InterchangeRuleTimingRef" type="InterchangeRuleTimingRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an INTERCHANGE RULE TIMING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InterchangeRuleTimingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an INTERCHANGE RULE TIMING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="JourneyTimingRefStructure">
				<xsd:attribute name="ref" type="InterchangeRuleTimingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an INTERCHANGe.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
