XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_vehicleJourney_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_vehicleJourney_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_stopAssignment_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>CR 51 CD Add VehiclJourneyStop Assignment
				</Date>
						<Date>
					<Modified>2019-03-26</Modified>NL-27 Add default  TypeOfProductCategory and TypeOfService to Line.
					  Move TypeOfProductCategory amnd TypeOfService from netex_vehicleJourney  to  Framework reusable components netex_travelRights  so they are visible from part 1
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE JOURNEY types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_vehicleJourney_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/2.0/xsd/netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the VDV, RTIG XML and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE JOURNEY identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: VEHICLE JOURNEY types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- =====JOURNEY=== ============================== -->
	<xsd:simpleType name="JourneyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="JourneyRef" type="JourneyRefStructure" abstract="true" substitutionGroup="LinkSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a JOURNEY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkSequenceRefStructure">
				<xsd:attribute name="ref" type="JourneyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a JOURNEY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ===VEHICLE JOURNEY====================================================== -->
	<xsd:simpleType name="VehicleJourneyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleJourneyRef" type="VehicleJourneyRefStructure" substitutionGroup="JourneyRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE JOURNEY. If given by context does not need to be repeated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleJourneyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="JourneyRefStructure">
				<xsd:attribute name="ref" type="VehicleJourneyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of VEHICLE JOURNEY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="vehicleJourneyRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE JOURNEYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleJourneyRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===DEAD RUN====================================================== -->
	<xsd:simpleType name="DeadRunIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DEAD RUN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleJourneyIdType"/>
	</xsd:simpleType>
	<xsd:element name="DeadRunRef" type="DeadRunRefStructure" substitutionGroup="VehicleJourneyRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DEAD RUN.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DeadRunRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DEAD RUN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleJourneyRefStructure">
				<xsd:attribute name="ref" type="DeadRunIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DEAD RUN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DeadRunTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for DEAD RUN. type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="garageRunOut">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is considered a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="garageRunIn">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is advertised to public as a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="turningManoeuvre">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is actively managed as a possible connection between journeys and passengers are informed of real-time alterations.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === TRAIN NUMBER ====================================================== -->
	<xsd:simpleType name="TrainNumberIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAIN NUMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrainNumberRef" type="TrainNumberRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAIN NUMBER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrainNumberRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRAIN NUMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="TrainNumberIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRAIN NUMBER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="trainNumberRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRAIN NUMBERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TrainNumberRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== TRAIN COMPONENT LABEL ASSIGNMENT ================================= -->
	<xsd:simpleType name="TrainComponentLabelAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAIN COMPONENT NUMBER ASSIGNNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrainComponentLabelAssignmentRef" type="TrainComponentLabelAssignmentRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAIN COMPONENT NUMBER ASSIGNNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrainComponentLabelAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRAIN COMPONENT NUMBER ASSIGNNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="TrainComponentLabelAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRAIN COMPONENT NUMBER ASSIGNNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TrainComponentLabelAssignmentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRAIN COMPONENT NUMBER ASSIGNNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TrainComponentLabelAssignmentRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====VEHICLE TYPE STOP ASSIGNMENT================================== -->
	<xsd:simpleType name="VehicleTypeStopAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of VEHICLE TYPE STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StopAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleTypeStopAssignmentRef" type="VehicleTypeStopAssignmentRefStructure" substitutionGroup="StopAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE TYPE STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleTypeStopAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE TYPE STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="StopAssignmentRefStructure">
				<xsd:attribute name="ref" type="VehicleTypeStopAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced a VEHICLE TYPE STOP ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ========== TIMING ALGORITHM  ============================== -->
	<xsd:simpleType name="TimingAlgorithmTypeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TIMING ALGORITHM TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TimingAlgorithmTypeRef" type="TimingAlgorithmTypeRefStructure" abstract="false" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TIMING ALGORITHM TYPE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TimingAlgorithmTypeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TIMING ALGORITHM TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TimingAlgorithmTypeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TIMING ALGORITHM TYPE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====VEHICLE JOURNEY STOP ASSIGNMENT=================================== -->
	<xsd:simpleType name="VehicleJourneyStopAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a VEHICLE JOURNEY STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerStopAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleJourneyStopAssignmentRef" type="VehicleJourneyStopAssignmentRefStructure" substitutionGroup="PassengerStopAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE JOURNEY STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleJourneyStopAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE JOURNEY STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerStopAssignmentRefStructure">
				<xsd:attribute name="ref" type="VehicleJourneyStopAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER STOP ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
