XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_vehicleJourneyStopAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_vehicleJourneyStopAssignment_support">
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_stopAssignment_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2024-06-26</Created>
				</Date>
				<Date><Modified>2024-06-26</Modified>Split off from VejicleJOurney_support
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE JOURNEY STOP ASSIGNMENT IDENTIFIER types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_vehicleJourney_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/2.0/xsd/netex_framework/netex_genericFramework/netex_vehicleJourneyStpAssignment_support.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE JOURNEY identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: VEHICLE JOURNEY STOP ASSIGNMENT types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ====VEHICLE TYPE STOP ASSIGNMENT================================== -->
	<xsd:simpleType name="VehicleTypeStopAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of VEHICLE TYPE STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StopAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleTypeStopAssignmentRef" type="VehicleTypeStopAssignmentRefStructure" substitutionGroup="StopAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE TYPE STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleTypeStopAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE TYPE STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="StopAssignmentRefStructure">
				<xsd:attribute name="ref" type="VehicleTypeStopAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced a VEHICLE TYPE STOP ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleTypeStopAssignmentRefStructureType" default="VehicleTypeStopAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehicleTypeStopAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====VEHICLE JOURNEY STOP ASSIGNMENT=================================== -->
	<xsd:simpleType name="VehicleJourneyStopAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a VEHICLE JOURNEY STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PassengerStopAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleJourneyStopAssignmentRef" type="VehicleJourneyStopAssignmentRefStructure" substitutionGroup="PassengerStopAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE JOURNEY STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleJourneyStopAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE JOURNEY STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PassengerStopAssignmentRefStructure">
				<xsd:attribute name="ref" type="VehicleJourneyStopAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER STOP ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleJourneyStopAssignmentRefStructureType" default="VehicleJourneyStopAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehicleJourneyStopAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== TRAIN COMPONENT LABEL ASSIGNMENT ================================= -->
	<xsd:simpleType name="TrainComponentLabelAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAIN COMPONENT NUMBER ASSIGNNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrainComponentLabelAssignmentRef" type="TrainComponentLabelAssignmentRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAIN COMPONENT NUMBER ASSIGNNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrainComponentLabelAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRAIN COMPONENT NUMBER ASSIGNNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="TrainComponentLabelAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRAIN COMPONENT NUMBER ASSIGNNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTrainComponentLabelAssignmentRefStructureType" default="TrainComponentLabelAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TrainComponentLabelAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TrainComponentLabelAssignmentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRAIN COMPONENT NUMBER ASSIGNNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TrainComponentLabelAssignmentRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- =====DYNAMIC STOP ASSIGNMENT=================================== -->
	<xsd:simpleType name="DynamicStopAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a DYNAMIC STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleJourneyStopAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="DynamicStopAssignmentRef" type="DynamicStopAssignmentRefStructure" substitutionGroup="VehicleJourneyStopAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DYNAMIC STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DynamicStopAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DYNAMIC STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleJourneyStopAssignmentRefStructure">
				<xsd:attribute name="ref" type="DynamicStopAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER STOP ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassDynamicStopAssignmentRefStructureType" default="DynamicStopAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for DynamicStopAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
