XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_passengerAtStopTime_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.-" id="netex_passengerTimeAtStop_version">
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_checkConstraint_support.xsd"/>
	<xsd:include schemaLocation="netex_passingTimes_version.xsd"/>
	<!-- ======================================================================= -->
	<!-- ==CLOSELY COUPLED ===================================================== -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2024-02-28</Created>
				</Date>
				<Date>
					<Modified>2024-02-28</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the PASSENGER AT STOP TIME types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_journeyTimes}netex_passengerTimeAtStop_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx PASSENGER AT STOP TIME types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: PASSENGER AT STOP TIMES types.</xsd:documentation>
	</xsd:annotation>
	<!-- === PASSENGER AT STOP TIME ============================================ -->
	<xsd:complexType name="passengerAtStopTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER AT STOP TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PassengerAtStopTime" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PassengerAtStopTime_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for PASSENGER AT STOP TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassingTime_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerAtStopTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerAtStopTime" substitutionGroup="PassingTime">
		<xsd:annotation>
			<xsd:documentation>Time at which a passenger should be at a stop to commence or finish a process. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerAtStopTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassingTimeGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerAtStopTimeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="PassengerAtStopTimeGroup">
		<xsd:annotation>
			<xsd:documentation>PASSENGER AT STOP TIME elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of PASSENGER AT STOP TIME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EarliestTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Earliest time that passenger should be at stop for specified process, e.g. baggage check in, customs etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EarliestDayOffset" type="DayOffsetType" default="0" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of days after the starting time of the journey if not same calendar day. Default is 0 for same day.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LatestTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Latest time that passenger should be at stop for specified process.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LatestDayOffset" type="DayOffsetType" default="0" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of days after the starting time of the journey.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CheckConstraintRef" minOccurs="0"/>
			<xsd:element name="CheckConstraintProcess" type="CheckProcessTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of process.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
