XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_2/part2_journeyTimes/netex_journeyAccounting_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_journeyAccounting_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibilitySet_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_relationship.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2011-09-04</Created>
				</Date>
				<Date><Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date><Modified>2024-03-01</Modified>Tie in to Contract 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the JOURNEY ACCOUNTING types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_journeyAccounting_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/xsd//netex_framework/netex_responsibility/netex_relationship.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the VDV, RTIG XML and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx JOURNEY ACCOUNTING identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx JOURNEY ACCOUNTING identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="JourneyAccountingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Accounting Coverage.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="contract">
				<xsd:annotation>
					<xsd:documentation>ERA X01: The connection is guaranteed under any circumstances.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="subsidy">
				<xsd:annotation>
					<xsd:documentation>ERA X02: The connection is normally guaranteed, although the connection time available is shorter than the location connection time.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other">
				<xsd:annotation>
					<xsd:documentation>ERA X03: The connection is not guaranteed, although the connection time available is longer than the location connection time.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="JourneyAccountingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a JOURNEY ACCOUNTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="JourneyAccountingRef" type="JourneyAccountingRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a JOURNEY ACCOUNTING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyAccountingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a JOURNEY ACCOUNTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="JourneyAccountingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of JOURNEY ACCOUNTING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassJourneyAccountingRefStructureType" default="JourneyAccounting">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for JourneyAccountingRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="SupplyContractIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a Supplier CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ContractIdType"/>
	</xsd:simpleType>
	<xsd:element name="SupplyContractRef" type="SupplyContractRefStructure" substitutionGroup="ContractRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a Supplier CONTRACT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SupplyContractRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a Supplier CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ContractRefStructure">
				<xsd:attribute name="ref" type="SupplyContractIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of Supplier CONTRACT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassContractRefStructureType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:attribute name="version" type="VersionIdType">
		<xsd:annotation>
			<xsd:documentation>Version number of referenced entity.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:schema>
