XmlSchemaClassGenerator.Tests/xsd/array-order/array-order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="P">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="A" type="xs:string"/>
				<xs:element name="B" type="Q" minOccurs="0"/>
				<xs:element name="C" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Q">
		<xs:sequence>
			<xs:element name="R" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="D" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>

