XmlSchemaClassGenerator.Console/xsd/search/common-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Common schema which will be used within the search API context, so be very careful with incompatible changes. In case of doubt please contact PMI2-A for support. -->
<xs:schema xmlns="http://rest.immobilienscout24.de/schema/search/common/1.0" targetNamespace="http://rest.immobilienscout24.de/schema/search/common/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://rest.immobilienscout24.de/schema/common/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="unqualified" attributeFormDefault="unqualified"
	version="1.0">

	<xs:import namespace="http://rest.immobilienscout24.de/schema/common/1.0"/>
	<xs:import namespace="http://www.w3.org/1999/xlink"/>

	<xs:complexType name="ApartmentRent">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the Apartment-Rent realestate type.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Eigenschaften für den Wohnung-Miete Immobilientyp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseApartmentRentGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HouseRent">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the House-Rent realestate type.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Eigenschaften für den Haus-Miete Immobilientyp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseHouseRentGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ApartmentBuy">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the Apartment-Buy realestate type.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Eigenschaften für den Wohnung-Kauf Immobilientyp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseApartmentBuyGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HouseBuy">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the House-Buy realestate type.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Eigenschaften für den Haus-Kauf Immobilientyp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseHouseBuyGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ShortTermAccommodation">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the Short term accommodation realestate type.
      </xs:documentation>
			<xs:documentation xml:lang="de-DE">Eigenschaften für den Wohnen auf Zeit Immobilientyp.
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseShortTermAccommodationGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HouseType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for all house types like bungalow, villa or multi-family
				house</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für alle Typenhäuser, wie z.B. Bungalows, Villen oder
				Mehrfamilienhäuser</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseHouseTypeGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Office">
		<xs:annotation>
			<xs:documentation xml:lang="en">Office realestate type.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Büro Immobilientyp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseOfficeGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Store">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the retail industry</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für den Einzelhandel</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseStoreGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Gastronomy">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for gastronomy services like hotels, clubs or restaurants
      </xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Gastronomie-Objekte wie z.B. Hotels, Diskotheken oder
				Restaurants</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseGastronomyGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Industry">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for common industries.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Gewerbe-Objekte.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseIndustryGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SpecialPurpose">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for special industries, like farm, repair shop or commercial
				centre.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Spezialgewerbe-Objekte wie z.B. Bauernhof, Werkstatt oder
				Gewerbepark.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseSpecialPurposeGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Investment">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for investment objects, like single family houses, storages
				or housing estates.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Anlageimmobilien-Objekte wie z.B. Einfamilienhäuser,
				Lager oder Wohnanlagen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseInvestmentGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CompulsoryAuction">
		<xs:annotation>
			<xs:documentation xml:lang="en">compulsory auction objects.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Zwangsversteigerungsobjekte.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseCompulsoryAuctionGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LivingBuySite">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for sites to buy (no trading purposes).</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Grundstücke zum Kauf (nicht als Anlageobjekt).
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseLivingBuySiteGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LivingRentSite">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for sites to rent (no trading purposes).</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Grundstücke zur Miete (nicht als Anlageobjekt).
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseLivingRentSiteGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TradeSite">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for sites for trading purposes.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Grundstücke als Anlageobjekte.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseTradeSiteGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GarageBuy">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for garages to buy.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Garagen zum Kauf.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseGarageBuyGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GarageRent">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for garages to rent.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Garagen zur Miete.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseGarageRentGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FlatShareRoom">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for shared apartment.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für WG-Zimmer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseFlatShareRoomGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AssistedLiving">
		<xs:annotation>
			<xs:documentation xml:lang="en">A living arrangement in which people with special needs, especially
				seniors with disabilities, reside in a facility that provides help with everyday tasks.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Seniorenwohnen</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseAssistedLivingGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SeniorCare">
		<xs:annotation>
			<xs:documentation xml:lang="en">Place for old people with medical help.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Altenpflegeeinrichtungen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseSeniorCareGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RealEstateForList" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">General elements for all real estates within the search context.
      </xs:documentation>
			<xs:documentation xml:lang="de-DE">Allgemeine Elemente für alle Immobilienarten.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:AbstractRealEstateForList">
				<xs:sequence>
					<xs:element name="state" type="common:RealEstateState">
						<xs:annotation>
							<xs:documentation xml:lang="en">publication state of the real estate.</xs:documentation>
							<xs:documentation xml:lang="de-DE">Veröffentlichungsstatus der Immobilie.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="titlePicture" type="common:Picture">
						<xs:annotation>
							<xs:documentation xml:lang="en">The first picture attachment of this real estate</xs:documentation>
							<xs:documentation xml:lang="de-DE">Der erste Bildanhang dieser Immobilie</xs:documentation>
						</xs:annotation>
					</xs:element>
		      <xs:element name="floorplan" type="xs:boolean" minOccurs="0">
		        <xs:annotation>
		          <xs:documentation xml:lang="en">has as attachment a floorplan</xs:documentation>
		          <xs:documentation xml:lang="de-DE">Grundriss als Objektbild vorhanden</xs:documentation>
		        </xs:annotation>
		      </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>