XmlSchemaClassGenerator.Tests/xsd/netex/wsdl/NeTEx_wsProducer-WSDL2.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<description xmlns="http://www.w3.org/ns/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:netexWs="http://www.siri.org.uk/siriWS" xmlns:netex="http://www.netex.org.uk/netex" xmlns:ns="http://www.opengis.net/gml/3.2" xmlns:siri="http://www.siri.org.uk/siri" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" targetNamespace="http://www.siri.org.uk/siriWS">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" xmlns:netexWs="http://www.siri.org.uk/siriWS" targetNamespace="http://www.siri.org.uk/siriWS">
			<xsd:include schemaLocation="../wsdl_model/siri_wsProducer-Framework.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" xmlns:netexWs="http://www.siri.org.uk/siriWS" targetNamespace="http://www.siri.org.uk/siriWS">
			<xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="../netex_siri.xsd"/>
			<xsd:element name="GetNeTexService" type="siri:SiriRequestStructure"/>
			<xsd:element name="GetNeTexServiceResponse" type="siri:SiriResponseStructure"/>
			<xsd:element name="ErrorConditionElement" type="siri:ErrorConditionStructure"/>
		</xsd:schema>
	</types>
	<interface name="NetexProducerDocPort">
		<!-- ====PORTS ================================================================================== -->
		<operation name="Subscribe" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input element="netexWs:Subscribe"/>
			<output element="netexWs:SubscribeResponse"/>
			<outfault ref="netexWs:FaultName"/>
		</operation>
		<operation name="DeleteSubscription" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input element="netexWs:DeleteSubscription"/>
			<output element="netexWs:DeleteSubscriptionResponse"/>
			<outfault ref="netexWs:FaultName"/>
		</operation>
		<operation name="DataSupply" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input element="netexWs:DataSupply"/>
			<output element="netexWs:DataSupplyResponse"/>
			<outfault ref="netexWs:FaultName"/>
		</operation>
		<operation name="CheckStatus" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input element="netexWs:CheckStatus"/>
			<output element="netexWs:CheckStatusResponse"/>
			<outfault ref="netexWs:FaultName"/>
		</operation>
		<operation name="GetNetex" pattern="http://www.w3.org/ns/wsdl/in-out">
			<documentation>Single access to any NeTEx Publication</documentation>
			<input element="netexWs:GetNeTexService"/>
			<output element="netexWs:GetNeTexServiceResponse"/>
		</operation>
		<fault name="FaultName" element="netexWs:ErrorConditionElement"/>
	</interface>
	<binding name="NetexProducerDocBinding" interface="netexWs:NetexProducerDocPort" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.1" wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
		<!-- ====BINDINGS  ================================================================================== -->
		<!-- ====general  services ===== -->
		<operation ref="netexWs:Subscribe">
			<input/>
			<output/>
			<outfault ref="netexWs:FaultName"/>
		</operation>
		<operation ref="netexWs:DeleteSubscription">
			<input/>
			<output/>
			<outfault ref="netexWs:FaultName"/>
		</operation>
		<operation ref="netexWs:DataSupply">
			<input/>
			<output/>
			<outfault ref="netexWs:FaultName"/>
		</operation>
		<operation ref="netexWs:CheckStatus">
			<input/>
			<output/>
			<outfault ref="netexWs:FaultName"/>
		</operation>
		<!-- ====NeTEx services ===== -->
		<operation ref="netexWs:GetNetex">
			<input/>
			<output/>
		</operation>
		<fault ref="netexWs:FaultName"/>
	</binding>
	<service name="NetexProducerDocServices" interface="netexWs:NetexProducerDocPort">
		<endpoint name="SiriWSPort" binding="netexWs:NetexProducerDocBinding" address="http://www.netex-service-location.com"/>
	</service>
</description>
