XmlSchemaClassGenerator.Tests/xsd/netex/wsdl/NeTEx_wsProducer-Rpc.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:netexWs="http://www.siri.org.uk/siriWS" xmlns:netex="http://www.netex.org.uk/netex" xmlns:ns="http://www.opengis.net/gml/3.2" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.siri.org.uk/siriWS">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siri.org.uk/siri">
			<xsd:include schemaLocation="../netex_siri.xsd"/>
		</xsd:schema>
	</types>
	<message name="netexRequest">
		<part name="Request" type="siri:SiriRequestStructure"/>
	</message>
	<message name="netexAnswer">
		<part name="Answer" type="siri:SiriResponseStructure"/>
	</message>
	<message name="SubscriptionRequest">
		<part name="SubscriptionRequestInfo" type="siri:AbstractSubscriptionRequestStructure"/>
		<part name="Request" type="siri:SubscriptionRequestStructure"/>
		<part name="RequestExtension" type="siri:ExtensionsStructure"/>
	</message>
	<message name="SubscriptionAnswer">
		<part name="SubscriptionAnswerInfo" type="siri:ResponseEndpointStructure"/>
		<part name="Answer" type="siri:SubscriptionResponseBodyStructure"/>
		<part name="AnswerExtension" type="siri:ExtensionsStructure"/>
	</message>
	<message name="DeleteSubscriptionRequest">
		<part name="DeleteSubscriptionInfo" type="siri:RequestStructure"/>
		<part name="Request" type="siri:TerminateSubscriptionRequestBodyStructure"/>
		<part name="RequestExtension" type="siri:ExtensionsStructure"/>
	</message>
	<message name="DeleteSubscriptionAnswer">
		<part name="DeleteSubscriptionAnswerInfo" type="siri:ResponseEndpointStructure"/>
		<part name="Answer" type="siri:TerminateSubscriptionResponseStructure"/>
		<part name="AnswerExtension" type="siri:ExtensionsStructure"/>
	</message>
	<message name="DataSupplyRequest">
		<part name="DataSupplyRequestInfo" type="siri:ConsumerRequestEndpointStructure"/>
		<part name="Request" type="siri:DataSupplyRequestBodyStructure"/>
		<part name="RequestExtension" type="siri:ExtensionsStructure"/>
	</message>
	<message name="DataSupplyAnswer">
		<part name="DataSupplyAnswerInfo" type="siri:ProducerResponseEndpointStructure"/>
		<part name="Answer" type="siri:ServiceDeliveryBodyStructure"/>
		<part name="AnswerExtension" type="siri:ExtensionsStructure"/>
	</message>
	<message name="CheckStatusRequest">
		<part name="Request" type="siri:RequestStructure"/>
		<part name="RequestExtension" type="siri:ExtensionsStructure"/>
	</message>
	<message name="CheckStatusAnswer">
		<part name="CheckStatusAnswerInfo" type="siri:ProducerResponseEndpointStructure"/>
		<part name="Answer" type="siri:CheckStatusResponseBodyStructure"/>
		<part name="AnswerExtension" type="siri:ExtensionsStructure"/>
	</message>
	<portType name="NetexProducerRpcPort">
		<documentation>Defines all the netex SOAP functional access</documentation>
		<operation name="GetNetex">
			<documentation>Single access to any NeTEx Publication</documentation>
			<input message="netexWs:netexRequest"/>
			<output message="netexWs:netexAnswer"/>
		</operation>
		<operation name="Subscribe">
			<input message="netexWs:SubscriptionRequest"/>
			<output message="netexWs:SubscriptionAnswer"/>
		</operation>
		<operation name="DeleteSubscription">
			<input message="netexWs:DeleteSubscriptionRequest"/>
			<output message="netexWs:DeleteSubscriptionAnswer"/>
		</operation>
		<operation name="DataSupply">
			<input message="netexWs:DataSupplyRequest"/>
			<output message="netexWs:DataSupplyAnswer"/>
		</operation>
		<operation name="CheckStatus">
			<input message="netexWs:CheckStatusRequest"/>
			<output message="netexWs:CheckStatusAnswer"/>
		</operation>
	</portType>
	<binding name="NetexProducerRpcBinding" type="netexWs:NetexProducerRpcPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetNetex">
			<soap:operation soapAction="GetNetexPublication"/>
			<input>
				<soap:body use="literal" namespace="http://www.siri.org.uk/siriWS"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.siri.org.uk/siriWS"/>
			</output>
		</operation>
		<!-- ====general  services ===== -->
		<operation name="Subscribe">
			<soap:operation soapAction="Subscribe"/>
			<input>
				<soap:body use="literal" namespace="http://www.siri.org.uk/siriWS"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.siri.org.uk/siriWS"/>
			</output>
		</operation>
		<operation name="DeleteSubscription">
			<soap:operation soapAction="DeleteSubscription"/>
			<input>
				<soap:body use="literal" namespace="http://www.siri.org.uk/siriWS"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.siri.org.uk/siriWS"/>
			</output>
		</operation>
		<operation name="DataSupply">
			<soap:operation soapAction="DataSupply"/>
			<input>
				<soap:body use="literal" namespace="http://www.siri.org.uk/siriWS"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.siri.org.uk/siriWS"/>
			</output>
		</operation>
		<operation name="CheckStatus">
			<soap:operation soapAction="CheckStatus"/>
			<input>
				<soap:body use="literal" namespace="http://www.siri.org.uk/siriWS"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.siri.org.uk/siriWS"/>
			</output>
		</operation>
	</binding>
	<service name="NetexProducerRpcServices">
		<port name="netexWsPort" binding="netexWs:NetexProducerRpcBinding">
			<soap:address location="http://www.netex-service-location.com"/>
		</port>
	</service>
</definitions>
