XmlSchemaClassGenerator.Tests/xsd/netex/wsdl/NeTEx_wsConsumer-Document.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:netexWs="http://www.siri.org.uk/siriWS" xmlns:netex="http://www.netex.org.uk/netex" xmlns:ns="http://www.opengis.net/gml/3.2" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.siri.org.uk/siriWS">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" xmlns:netexWs="http://www.siri.org.uk/siriWS" targetNamespace="http://www.siri.org.uk/siriWS">
			<xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="../netex_siri.xsd"/>
			<xsd:element name="NotifyNetex">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Request" type="siri:SiriResponseStructure"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" xmlns:netexWs="http://www.siri.org.uk/siriWS" targetNamespace="http://www.siri.org.uk/siriWS">
			<xsd:include schemaLocation="../wsdl_model/siri_wsConsumer-Framework.xsd"/>
		</xsd:schema>
	</types>
	<message name="HeartbeatNotify">
		<part name="HeartbeatNotifyParameters" element="netexWs:NotifyHeartbeat"/>
	</message>
	<message name="DataReadyNotify">
		<part name="DataReadyNotifyParameters" element="netexWs:NotifyDataReady"/>
	</message>
	<message name="NetexNotify">
		<part name="Notification" type="siri:SiriResponseStructure"/>
	</message>
	<portType name="NetexConsumerDocPort">
		<operation name="NotifyDataReady">
			<input message="netexWs:DataReadyNotify"/>
		</operation>
		<operation name="NotifyHeartbeat">
			<input message="netexWs:HeartbeatNotify"/>
		</operation>
		<!-- == Service Specific == -->
		<operation name="NotifyNetex">
			<input message="netexWs:NetexNotify"/>
		</operation>
	</portType>
	<binding name="NetexConsumerDocBinding" type="netexWs:NetexConsumerDocPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="NotifyDataReady">
			<soap:operation soapAction="NotifyDataReady"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk/siri"/>
			</input>
		</operation>
		<operation name="NotifyHeartbeat">
			<soap:operation soapAction="NotifyHeartbeat"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk/siri"/>
			</input>
		</operation>
		<operation name="NotifyNetex">
			<soap:operation soapAction="GetNetex"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk/siri"/>
			</input>
		</operation>
	</binding>
	<service name="NetexConsumerDocServices">
		<port name="NetexiWSPort" binding="netexWs:NetexConsumerDocBinding">
			<soap:address location="http://www.netex-service-location.com"/>
		</port>
	</service>
</definitions>
