XmlSchemaClassGenerator.Tests/xsd/is24/search/common-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Common schema which will be used within the search API context, so be very careful with incompatible changes. In case of doubt please contact PMI2-A for support. -->
<xs:schema xmlns="http://rest.immobilienscout24.de/schema/search/common/1.0" targetNamespace="http://rest.immobilienscout24.de/schema/search/common/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://rest.immobilienscout24.de/schema/common/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="unqualified" attributeFormDefault="unqualified"
	version="1.0">

	<xs:import namespace="http://rest.immobilienscout24.de/schema/common/1.0"/>
	<xs:import namespace="http://www.w3.org/1999/xlink"/>

	<xs:complexType name="ApartmentRent">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the Apartment-Rent realestate type.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Eigenschaften für den Wohnung-Miete Immobilientyp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseApartmentRentGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HouseRent">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the House-Rent realestate type.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Eigenschaften für den Haus-Miete Immobilientyp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseHouseRentGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ApartmentBuy">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the Apartment-Buy realestate type.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Eigenschaften für den Wohnung-Kauf Immobilientyp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseApartmentBuyGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HouseBuy">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the House-Buy realestate type.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Eigenschaften für den Haus-Kauf Immobilientyp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseHouseBuyGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ShortTermAccommodation">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the Short term accommodation realestate type.
      </xs:documentation>
			<xs:documentation xml:lang="de-DE">Eigenschaften für den Wohnen auf Zeit Immobilientyp.
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseShortTermAccommodationGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HouseType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for all house types like bungalow, villa or multi-family
				house</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für alle Typenhäuser, wie z.B. Bungalows, Villen oder
				Mehrfamilienhäuser</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseHouseTypeGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Office">
		<xs:annotation>
			<xs:documentation xml:lang="en">Office realestate type.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Büro Immobilientyp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseOfficeGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Store">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for the retail industry</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für den Einzelhandel</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseStoreGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Gastronomy">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for gastronomy services like hotels, clubs or restaurants
      </xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Gastronomie-Objekte wie z.B. Hotels, Diskotheken oder
				Restaurants</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseGastronomyGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Industry">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for common industries.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Gewerbe-Objekte.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseIndustryGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SpecialPurpose">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for special industries, like farm, repair shop or commercial
				centre.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Spezialgewerbe-Objekte wie z.B. Bauernhof, Werkstatt oder
				Gewerbepark.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseSpecialPurposeGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Investment">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for investment objects, like single family houses, storages
				or housing estates.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Anlageimmobilien-Objekte wie z.B. Einfamilienhäuser,
				Lager oder Wohnanlagen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseInvestmentGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CompulsoryAuction">
		<xs:annotation>
			<xs:documentation xml:lang="en">compulsory auction objects.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Zwangsversteigerungsobjekte.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseCompulsoryAuctionGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LivingBuySite">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for sites to buy (no trading purposes).</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Grundstücke zum Kauf (nicht als Anlageobjekt).
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseLivingBuySiteGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LivingRentSite">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for sites to rent (no trading purposes).</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Grundstücke zur Miete (nicht als Anlageobjekt).
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseLivingRentSiteGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TradeSite">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for sites for trading purposes.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Grundstücke als Anlageobjekte.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseTradeSiteGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GarageBuy">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for garages to buy.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Garagen zum Kauf.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseGarageBuyGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GarageRent">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for garages to rent.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für Garagen zur Miete.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseGarageRentGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FlatShareRoom">
		<xs:annotation>
			<xs:documentation xml:lang="en">Elements for shared apartment.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Elemente für WG-Zimmer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:group ref="common:BaseFlatShareRoomGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AssistedLiving">
		<xs:annotation>
			<xs:documentation xml:lang="en">A living arrangement in which people with special needs, especially
				seniors with disabilities, reside in a facility that provides help with everyday tasks.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Seniorenwohnen</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseAssistedLivingGroup"></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SeniorCare">
		<xs:annotation>
			<xs:documentation xml:lang="en">Place for old people with medical help.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Altenpflegeeinrichtungen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RealEstateForList">
				<xs:sequence>
					<xs:group ref="common:BaseSenior"></xs:group>

                    <!-- maxOccurs makes not sense, but the fucking is24 cxf json fix dreaded the careTypes attribute as array anyway. -->
                    <xs:element name="careTypes" type="common:CareTypes" minOccurs="0" maxOccurs="unbounded"/>

                    <xs:element name="balcony" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">has a balcony</xs:documentation>
                            <xs:documentation xml:lang="de-DE">Balkon</xs:documentation>
                        </xs:annotation>
                    </xs:element>

                </xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="RealEstateForList" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">General elements for all real estates within the search context.
      </xs:documentation>
			<xs:documentation xml:lang="de-DE">Allgemeine Elemente für alle Immobilienarten.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:AbstractRealEstateForList">
				<xs:sequence>
					<xs:element name="state" type="common:RealEstateState">
						<xs:annotation>
							<xs:documentation xml:lang="en">publication state of the real estate.</xs:documentation>
							<xs:documentation xml:lang="de-DE">Veröffentlichungsstatus der Immobilie.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="titlePicture" type="SearchPicture">
						<xs:annotation>
							<xs:documentation xml:lang="en">The first picture attachment of this real estate</xs:documentation>
							<xs:documentation xml:lang="de-DE">Der erste Bildanhang dieser Immobilie</xs:documentation>
						</xs:annotation>
					</xs:element>
                      <xs:element name="floorplan" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">has as attachment a floorplan</xs:documentation>
                          <xs:documentation xml:lang="de-DE">Grundriss als Objektbild vorhanden</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="streamingVideo" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">has a streaming video attached.</xs:documentation>
                          <xs:documentation xml:lang="de-DE">Ein Streaming Video ist vorhanden.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="listingType" type="ListingTypes" minOccurs="1" default="S">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">The VIA-Power listing type. (S, M, L or XL)</xs:documentation>
                          <xs:documentation xml:lang="de-DE">Der VIA-Power Listing Typ. (S, M, L oder XL)</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="showcasePlacementColor" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Color of title bar for showcase. Default: #343434</xs:documentation>
                          <xs:documentation xml:lang="de-DE">Farbe der Titleleiste bei Schaufenster. Default: #343434</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="privateOffer" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">is a property listing by a private person.</xs:documentation>
                          <xs:documentation xml:lang="de-DE">Ist ein Inserat von einer Privatperson.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="realtorLogo" type="xs:anyURI" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">The logo of a realtor.</xs:documentation>
                          <xs:documentation xml:lang="de-DE">Das Logo des Anbieters.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <!--<xs:element name="realtorLogoForResultList">
                          <xs:complexType>
                              <xs:sequence>
                                  <xs:element name="url" minOccurs="1" maxOccurs="unbounded">
                                      <xs:annotation>
                                          <xs:documentation xml:lang="en">URL for the picture.</xs:documentation>
                                          <xs:documentation xml:lang="de-DE">URL des Bildes.</xs:documentation>
                                      </xs:annotation>
                                      <xs:complexType>
                                          <xs:attribute name="scale" type="common:PictureScaleType">
                                              <xs:annotation>
                                                  <xs:documentation xml:lang="en">picture scale</xs:documentation>
                                                  <xs:documentation xml:lang="de-DE">Bildergröße</xs:documentation>
                                              </xs:annotation>
                                          </xs:attribute>
                                          <xs:attribute name="href" type="xs:anyURI">
                                              <xs:annotation>
                                                  <xs:documentation xml:lang="en">URL to scaled picture</xs:documentation>
                                                  <xs:documentation xml:lang="de-DE">URL zum skaliertem Bild</xs:documentation>
                                              </xs:annotation>
                                          </xs:attribute>
                                      </xs:complexType>
                                  </xs:element>
                              </xs:sequence>
                          </xs:complexType>
                      </xs:element>-->
                    <xs:element name="realtorLogoForResultList" minOccurs="0" type="common:Attachment">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">The logo of a realtor.</xs:documentation>
                            <xs:documentation xml:lang="de-DE">Das Logo des Anbieters.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="additionalPictures" minOccurs="0" type="common:Attachments">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Additional pictures for the object. The values floorplan and titlePicture are always false to ensure downward compatibility.</xs:documentation>
                            <xs:documentation xml:lang="de-DE">Weitere Bilder für das Objekt. Die Werte floorplan und titlePicture sind immer false, um die Abwärtskompatibilität zu gewährleisten.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="SearchPicture">
        <xs:annotation>
            <xs:documentation xml:lang="en">A single picture.</xs:documentation>
            <xs:documentation xml:lang="de-DE">Ein Bild</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="common:Attachment">
                <xs:sequence>
                    <xs:element name="floorplan" type="xs:boolean" default="false">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Indicates whether this picture represents a floorplan.
                            </xs:documentation>
                            <xs:documentation xml:lang="de-DE">Gibt an ob dieses Bild einen Grundriss darstellt.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="titlePicture" type="xs:boolean" default="false">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Indicates whether this picture is the titlepicture of this
                                real estate.
                            </xs:documentation>
                            <xs:documentation xml:lang="de-DE">Gibt an, ob dieses Bild das Titelbild dieser Immobilie
                                ist.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- maxOccurs makes not sense, but the fucking is24 cxf json fix dreaded the urls attribute as array anyway. -->
                    <xs:element name="urls" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="url" minOccurs="1" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">URL for the picture.</xs:documentation>
                                        <xs:documentation xml:lang="de-DE">URL des Bildes.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:attribute name="scale" type="common:PictureScaleType">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">picture scale</xs:documentation>
                                                <xs:documentation xml:lang="de-DE">Bildergröße</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute name="href" type="xs:anyURI">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">URL to scaled picture</xs:documentation>
                                                <xs:documentation xml:lang="de-DE">URL zum skaliertem Bild</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:simpleType name="ListingTypes">
        <xs:annotation>
            <xs:documentation xml:lang="de-DE">Enum für die verschiedenen Listing-Typen in der Ergebnisliste.</xs:documentation>
            <xs:documentation xml:lang="en">Enum for the different listing types on the resultlist.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="S">
                <xs:annotation>
                    <xs:documentation xml:lang="de-DE">Listing Typ: S. Das kleinste Listing..</xs:documentation>
                    <xs:documentation xml:lang="en">Listing type: S: The smallest listing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="M">
                <xs:annotation>
                    <xs:documentation xml:lang="de-DE">Listing Typ: M. Das zweit kleinste Listing.</xs:documentation>
                    <xs:documentation xml:lang="en">Listing type: M. The second smallest listing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="L">
                <xs:annotation>
                    <xs:documentation xml:lang="de-DE">Listing Typ: L. Das zweit größte Listing.</xs:documentation>
                    <xs:documentation xml:lang="en">Listing type: L. The second largest listing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XL">
                <xs:annotation>
                    <xs:documentation xml:lang="de-DE">Listing Typ: XL. Das größte Listing.</xs:documentation>
                    <xs:documentation xml:lang="en">Listing type: XL. The largest listing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>