XmlSchemaClassGenerator.Tests/xsd/is24/search/expose-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="http://rest.immobilienscout24.de/schema/search/expose/1.0" targetNamespace="http://rest.immobilienscout24.de/schema/search/expose/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://rest.immobilienscout24.de/schema/common/1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified" version="1.0">
  <xs:import namespace="http://rest.immobilienscout24.de/schema/common/1.0"/>
  <xs:import namespace="http://www.w3.org/1999/xlink"/>

  <xs:element name="expose" type="Expose">
    <xs:annotation>
      <xs:documentation xml:lang="en">Expose</xs:documentation>
      <xs:documentation xml:lang="de-DE">Expose</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="Expose">
    <xs:annotation>
      <xs:documentation xml:lang="en">Expose</xs:documentation>
      <xs:documentation xml:lang="de-DE">Expose</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="realEstate" type="ExposeRealEstate">
        <xs:annotation>
          <xs:documentation xml:lang="en">The expose informations of an real estate.</xs:documentation>
          <xs:documentation xml:lang="de-DE">Die Expose Informationen der Immobilie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactDetails" type="common:ExposeContactDetails">
        <xs:annotation>
          <xs:documentation xml:lang="en">The contact details from the realtor.</xs:documentation>
          <xs:documentation xml:lang="de-DE">Die Kontaktdaten des Anbieters.</xs:documentation>
        </xs:annotation>
      </xs:element>      
      <xs:element name="imprintLink" type="ImprintLink" minOccurs="0" maxOccurs="1"/>
      <xs:element name="cancellationPolicyLink" type="CancellationPolicyLink" minOccurs="0" maxOccurs="1"/>
      <xs:element name="realtorValuationJSONLink" type="realtorValuationJSONLink" minOccurs="0" maxOccurs="1"/>
      <xs:element name="realtorValuationV2JSONLink" type="realtorValuationJSONLink" minOccurs="0" maxOccurs="1"/>
      <xs:element name="realtorValuationV2JSONPLink" type="realtorValuationJSONPLink" minOccurs="0" maxOccurs="1"/>
      <xs:element name="companyWideCustomerId" type="xs:string" minOccurs="0" maxOccurs="1">      
        <xs:annotation>
          <xs:documentation xml:lang="en">Company wide customer ID</xs:documentation>
          <xs:documentation xml:lang="de-DE">unternehmensweite Kunden-ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactFormConfiguration" type="ContactFormConfiguration" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Determines which fields are shown in the contact form.</xs:documentation>
          <xs:documentation xml:lang="de-DE">Definition welche Daten im Kontaktformular angezeigt werden soll.</xs:documentation>
        </xs:annotation>
      </xs:element>
    <xs:element name="propertyDeveloper" type="xs:boolean" minOccurs="0">
         <xs:annotation>
             <xs:documentation xml:lang="en">property Developer</xs:documentation>
             <xs:documentation xml:lang="de-DE">Bautraeger</xs:documentation>
         </xs:annotation>
     </xs:element>
    <xs:element name="adLinkForXMLData" type="SimpleLink" minOccurs="0" maxOccurs="1"/>
    <xs:element name="adLinkForJSONP" type="SimpleLink" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>

    <xs:attributeGroup ref="common:Reference"/>
    <xs:attributeGroup ref="ContactFormType"/>
   
  </xs:complexType>

  <xs:complexType name="ContactFormConfiguration">
    <xs:annotation>
      <xs:documentation xml:lang="en">Determines which fields are shown in the contact form.</xs:documentation>
      <xs:documentation xml:lang="de-DE">Definition welche Daten im Kontaktformular angezeigt werden soll.</xs:documentation>
    </xs:annotation> 
    <xs:all>
      
      <xs:element name="moveInDateField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">moveInDate</xs:documentation>
          <xs:documentation xml:lang="de-DE">gewuenschtes Einzugsdatum</xs:documentation>
        </xs:annotation>        
      </xs:element>

      <xs:element name="petsInHouseholdField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">pets in household</xs:documentation>
          <xs:documentation xml:lang="de-DE">Tiere im Haushalt</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="numberOfPersonsField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">number of persons</xs:documentation>
          <xs:documentation xml:lang="de-DE">Anzahl der Personen im Haushalt</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="employmentRelationshipField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">employment relationship</xs:documentation>
          <xs:documentation xml:lang="de-DE">Beschaeftigungsverhaeltnis</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="incomeField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Monthly Income of household</xs:documentation>
          <xs:documentation xml:lang="de-DE">Monatliches Nettohaushaltseinkommen</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="firstnameField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">firstname</xs:documentation>
          <xs:documentation xml:lang="de-DE">Vorname</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="lastnameField" type="common:MandatoryOptionalType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">lastname</xs:documentation>
          <xs:documentation xml:lang="de-DE">Nachname</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="phoneNumberField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">phone number</xs:documentation>
          <xs:documentation xml:lang="de-DE">Telefonnummer</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="emailAddressField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">email address</xs:documentation>
          <xs:documentation xml:lang="de-DE">Email Adresse</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="addressField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">address</xs:documentation>
          <xs:documentation xml:lang="de-DE">Adresse</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="schufaInformationField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Schufa Information</xs:documentation>
          <xs:documentation xml:lang="de-DE">Schufa Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="salutationField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">salutation</xs:documentation>
          <xs:documentation xml:lang="de-DE">Anrede</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="messageField" type="common:MandatoryOptionalType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">free text message</xs:documentation>
          <xs:documentation xml:lang="de-DE">Freitext Feld</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="ImprintLink">
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation xml:lang="en">Link to the entity entry.</xs:documentation>
        <xs:documentation xml:lang="de-DE">Link zum Element.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="CancellationPolicyLink">
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation xml:lang="en">A link that points to the cancellation policy of the realtor.</xs:documentation>
        <xs:documentation xml:lang="de-DE">Ein Link zur Widerrufsbelehrung des Anbieters.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="SimpleLink">
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation xml:lang="en">A link.</xs:documentation>
        <xs:documentation xml:lang="de-DE">Ein Link.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="realtorValuationJSONLink">
    <xs:attribute ref="xlink:href">
      <xs:annotation>
         <xs:documentation xml:lang="en">URL for realtor valuation service with json as response</xs:documentation>
         <xs:documentation xml:lang="de-DE">URL für die Makler Bewertung mit Ausgabe in JSON Format</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="realtorValuationJSONPLink" >
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation xml:lang="en">URL for realtor valuation service with jsonp as response (JAVASCRIPT)</xs:documentation>
        <xs:documentation xml:lang="de-DE">URL für die Makler Bewertung mit Ausgabe in JSONP Format (JAVASCRIPT)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="webContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reportAFraudURL" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">fraudUrlForExpose</xs:documentation>
            <xs:documentation xml:lang="de-DE">Angebot melden Url</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:anyURI">
              <xs:maxLength value="300"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="exposePrintUrl" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">Print view url for expose</xs:documentation>
            <xs:documentation xml:lang="de-DE">print view url für Expose</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:anyURI">
              <xs:maxLength value="300"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="ContactFormType">
    <xs:attribute name="contactFormType" type="common:ContactFormType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">This attribute provides the selected type of the contact form, specified all fields of them. The kinds of contacts are: EMAIL (quick contact: name and eMail) PHONE (name and phone) LONG (name, eMail, phone and address (including street, number, ZIP and city)).</xs:documentation>
        <xs:documentation xml:lang="de-DE">Dieses Attribut liefert den ausgewaehlten Kontaktformular-Typ, der definiert, welche Felder im Kontaktformular ausgefuellt werden muessen. Kontaktmoeglichkeiten koennen EMAIL (Schnellkontakt: Nachname und E-Mail-Adresse), PHONE (Nachname und Telefonnummer) und LONG (Nachname, E-Mail-Adresse, Telefonnummer und Anschrift (inkl. Strasse, Hausnummer, PLZ und Ort)) sein.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="HouseBuy">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the House-Buy realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Haus-Kauf Immobilientyp</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedHouseBuyGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the House type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Haustypen</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HouseRent">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the House-Rent realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Haus-Miete Immobilientyp</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedHouseRentGroup"></xs:group>
          <xs:element name="builtInKitchen" type="xs:boolean"></xs:element>
          <xs:element name="assistedLiving" type="xs:boolean"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ApartmentRent">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the Apartment-Rent realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Wohnung-Miete Immobilientyp</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedApartmentRentGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ApartmentBuy">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the Apartment-Buy realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Wohnung-Kauf Immobilientyp</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedApartmentBuyGroup"></xs:group>
          <xs:element name="rentSubsidy" type="xs:decimal"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Office">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Elements for the Office realestate type.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">
        Eigenschaften für den Büro/Praxis Immobilientyp.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedOfficeGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Store">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Elements for the store realestate type.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">
        Eigenschaften für den Einzelhandel Immobilientyp.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedStoreGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Gastronomy">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Elements for the gastronomy realestate type.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">
        Eigenschaften für den Gastronomie Immobilientyp.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedGastronomyGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Industry">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Elements for the industry realestate type.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">
        Eigenschaften für den Halle/Produktion Immobilientyp.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedIndustryGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SpecialPurpose">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Elements for the special purpose realestate type.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">
        Eigenschaften fuer den Spezialgewerbe Immobilientyp.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedSpecialPurposeGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ShortTermAccommodation">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Elements for the ShortTermAccommodation realestate type.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">
        Eigenschaften fuer den WAZ Immobilientyp.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedShortTermAccommodationGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HouseType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Elements for the HouseType realestate type.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">
        Eigenschaften fuer den Typenhaus Immobilientyp.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedHouseTypeGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TradeSite">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Elements for the SiteTrade realestate type.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">
        Eigenschaften für das Gewerbe-Grundstueck.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedTradeSiteGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LivingBuySite">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Elements for the LivingBuySite realestate type.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">
        Eigenschaften für das Wohnen-Kauf-Grundstueck.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedLivingBuySiteGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LivingRentSite">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Elements for the LivingRentSite realestate type.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">
        Eigenschaften für das Wohnen-Miete-Grundstueck.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedLivingRentSiteGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InvestmentProperty">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the investment property realestate type.</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für das Anlage Objekt.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedInvestmentGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GarageRent">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the garages to rent realestate type.</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für das Garagen zur Miete Objekt.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedGarageRentGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GarageBuy">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the garages to buy realestate type.</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für das Garagen zum Kauf Objekt.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedGarageBuyGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SeniorCare">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the senior care realestate type.</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für Pflegeheim Objekte.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedSeniorCareGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AssistedLiving">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the assisted living realestate type.</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für Seniorenwohnen Objekte.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedAssistedLivingGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FlatShareRoom">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the flat share room realestate type.</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für WG Zimmer Objekte.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedFlatShareRoomGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CompulsoryAuction">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the compulsory auction realestate type.</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für Zwangsversteigerung Objekte.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExposeRealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedCompulsoryAuctionGroup"></xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExposeRealEstate" abstract="true">
    <xs:annotation>
      <xs:documentation xml:lang="en">General elements for all real estates for the expose.
      </xs:documentation>
      <xs:documentation xml:lang="de-DE">Allgemeine Elemente für alle Immobilienarten im Expose.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:AbstractRealEstate">
        <xs:sequence>
          <xs:element name="state" type="common:RealEstateState">
            <xs:annotation>
              <xs:documentation xml:lang="en">publication state of the real estate.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Veröffentlichungsstatus der Immobilie.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="titlePicture" type="common:Picture" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">The first picture attachment of this real estate
              </xs:documentation>
              <xs:documentation xml:lang="de-DE">Der erste Bildanhang dieser Immobilie</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="floorplan" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="en">has as attachment a floorplan</xs:documentation>
              <xs:documentation xml:lang="de-DE">Grundriss als Objektbild vorhanden</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  

    <xs:simpleType name="EmploymentRelationshipType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Enumeration for Employment Relationships</xs:documentation>
            <xs:documentation xml:lang="de-DE">Aufzaehlung fuer Beschaeftigungsverhaeltnisse</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMPLOYEE">
                <xs:annotation>
                    <xs:documentation xml:lang="en">employee</xs:documentation>
                    <xs:documentation xml:lang="de-DE">Angestellter</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FREELANCER">
                <xs:annotation>
                    <xs:documentation xml:lang="en">freelancer</xs:documentation>
                    <xs:documentation xml:lang="de-DE">Selbststaendig</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OFFICIAL">
                <xs:annotation>
                    <xs:documentation xml:lang="en">official</xs:documentation>
                    <xs:documentation xml:lang="de-DE">Beamter</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PENSIONER">
                <xs:annotation>
                    <xs:documentation xml:lang="en">pensioner</xs:documentation>
                    <xs:documentation xml:lang="de-DE">Rentner</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEEKING_EMPLOYMENT">
                <xs:annotation>
                    <xs:documentation xml:lang="en">seekingEmployment</xs:documentation>
                    <xs:documentation xml:lang="de-DE">Arbeitssuchend</xs:documentation>
                </xs:annotation>
            </xs:enumeration>            
            <xs:enumeration value="WORKER">
                <xs:annotation>
                    <xs:documentation xml:lang="en">worker</xs:documentation>
                    <xs:documentation xml:lang="de-DE">Arbeiter</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APPRENTICE">
                <xs:annotation>
                    <xs:documentation xml:lang="en">apprentice</xs:documentation>
                    <xs:documentation xml:lang="de-DE">Auszubildender</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STUDENT">
                <xs:annotation>
                    <xs:documentation xml:lang="en">student</xs:documentation>
                    <xs:documentation xml:lang="de-DE">Studierender</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOUSEKEEPER">
                <xs:annotation>
                    <xs:documentation xml:lang="en">housekeeper</xs:documentation>
                    <xs:documentation xml:lang="de-DE">Hausfrau/mann</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHER">
                <xs:annotation>
                    <xs:documentation xml:lang="en">other</xs:documentation>
                    <xs:documentation xml:lang="de-DE">Sonstiges</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
  
    <xs:simpleType name="IncomeRangeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Monthly income of household</xs:documentation>
            <xs:documentation xml:lang="de-DE">Monatliches Nettohaushaltseinkommen</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RANGE_0_1000">
                <xs:annotation>
                    <xs:documentation xml:lang="en">&lt; 1000 Euro</xs:documentation>
                    <xs:documentation xml:lang="de-DE">&lt; 1000 Euro</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RANGE_1000_2000">
                <xs:annotation>
                    <xs:documentation xml:lang="en">1000 up to 2000 Euro</xs:documentation>
                    <xs:documentation xml:lang="de-DE">1000 bis 2000 Euro</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RANGE_2000_3000">
                <xs:annotation>
                    <xs:documentation xml:lang="en">2000 up to 3000 Euro</xs:documentation>
                    <xs:documentation xml:lang="de-DE">2000 bis 3000 Euro</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RANGE_3000_4000">
                <xs:annotation>
                    <xs:documentation xml:lang="en">3000 up to 4000 Euro</xs:documentation>
                    <xs:documentation xml:lang="de-DE">3000 bis 4000 Euro</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RANGE_4000_5000">
                <xs:annotation>
                    <xs:documentation xml:lang="en">4000 up to 5000 Euro</xs:documentation>
                    <xs:documentation xml:lang="de-DE">4000 bis 5000 Euro</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RANGE_5000_MAX">
                <xs:annotation>
                    <xs:documentation xml:lang="en">&gt; 5000 Euro</xs:documentation>
                    <xs:documentation xml:lang="de-DE">&gt; 5000 Euro</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

  <xs:complexType name="ContactForm">
    <xs:annotation>
      <xs:documentation xml:lang="en">contact form request to contact an realtor</xs:documentation>
      <xs:documentation xml:lang="de-DE">Kontakt Request zum kontaktieren eines Anbieters</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstname" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">firstname</xs:documentation>
          <xs:documentation xml:lang="de-DE">Vorname</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="common:TextField">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="lastname" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">lastname</xs:documentation>
          <xs:documentation xml:lang="de-DE">Nachname</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="common:TextField">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="phoneNumber" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">phone number</xs:documentation>
          <xs:documentation xml:lang="de-DE">Telefonnummer</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="common:TextField">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="emailAddress" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">email address</xs:documentation>
          <xs:documentation xml:lang="de-DE">Email Adresse</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="common:Email">
            <xs:maxLength value="150"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="appointmentRequested" type="common:YesNotApplicableType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">appointment request</xs:documentation>
          <xs:documentation xml:lang="de-DE">Besichtigungstermin erwünscht</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="message" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">message</xs:documentation>
          <xs:documentation xml:lang="de-DE">Anmerkung</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="common:TextField">
            <xs:maxLength value="2000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="address" type="common:Address" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">address</xs:documentation>
          <xs:documentation xml:lang="de-DE">Adresse</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactMailCustomStyle" type="common:ContactMailCustomStyle" minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="en">customized style of contact mails</xs:documentation>
            <xs:documentation xml:lang="de-DE">kundenspezifischer Style der Kontaktanfrage</xs:documentation>
        </xs:annotation>
      </xs:element>

        <xs:element name="moveInDate" minOccurs="0">
            <xs:annotation>
                <xs:documentation xml:lang="en">moveInDate</xs:documentation>
                <xs:documentation xml:lang="de-DE">gewuenschtes Einzugsdatum</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="common:TextField">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>

        <xs:element name="petsInHousehold" minOccurs="0">
            <xs:annotation>
                <xs:documentation xml:lang="en">pets in household</xs:documentation>
                <xs:documentation xml:lang="de-DE">Tiere im Haushalt</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="common:TextField">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        
        <xs:element name="numberOfPersons" minOccurs="0">
            <xs:annotation>
                <xs:documentation xml:lang="en">number of persons</xs:documentation>
                <xs:documentation xml:lang="de-DE">Anzahl der Personen im Haushalt</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="common:TextField">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>

        <xs:element name="employmentRelationship" type="EmploymentRelationshipType" minOccurs="0">
            <xs:annotation>
                <xs:documentation xml:lang="en">employment relationship</xs:documentation>
                <xs:documentation xml:lang="de-DE">Beschaeftigungsverhaeltnis</xs:documentation>
            </xs:annotation>
        </xs:element>        
      
        <xs:element name="income" type="IncomeRangeType" minOccurs="0">
            <xs:annotation>
                <xs:documentation xml:lang="en">Monthly Income of household</xs:documentation>
                <xs:documentation xml:lang="de-DE">Monatliches Nettohaushaltseinkommen</xs:documentation>
            </xs:annotation>
        </xs:element>       
        
        <xs:element name="salutation" type="common:SalutationType" minOccurs="0">
            <xs:annotation>
                <xs:documentation xml:lang="en">Salutation of this contact</xs:documentation>
                <xs:documentation xml:lang="de-DE">Anrede des Kontakts</xs:documentation>
            </xs:annotation>
        </xs:element>

        <xs:element name="schufaInformationProvided" type="xs:boolean" minOccurs="0">
            <xs:annotation>
                <xs:documentation xml:lang="en">whether the requester has any schufa information that he will provide to the realtor</xs:documentation>
                <xs:documentation xml:lang="de-DE">Gibt an, ob der Anfragende Schufa Informationen bereit stellt.</xs:documentation>
            </xs:annotation>
        </xs:element>

        <xs:element name="schufaVerificationCode" minOccurs="0">
            <xs:annotation>
                <xs:documentation xml:lang="en">a verification code that allows the realtor to access the schufa information of the requester</xs:documentation>
                <xs:documentation xml:lang="de-DE">Der Verifikations-Code mit dessen Hilfe der Anbieter die Schufa Informationen des Anfragenden einsehen kann.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="common:TextField">
                    <xs:maxLength value="40"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>


    </xs:sequence>
    <xs:attributeGroup ref="ContactFormType">
      <xs:annotation>
        <xs:documentation xml:lang="en">The level of the requested quality of that contact (received within the expose).</xs:documentation>
        <xs:documentation xml:lang="de-DE">Der Qualitätslevel der Kontaktanfrage die vom Anbieter erbeten wurde (Ist im Expose enthalten).</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>

  <xs:element name="contactForm" type="ContactForm">
    <xs:annotation>
      <xs:documentation xml:lang="en">contact form request to contact an realtor</xs:documentation>
      <xs:documentation xml:lang="de-DE">Kontakt Request zum kontaktieren eines Anbieters</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="SendAFriendForm">
    <xs:annotation>
      <xs:documentation xml:lang="en">form request to forward to an also interested customer</xs:documentation>
      <xs:documentation xml:lang="de-DE">Formular zur Weiterleitung an weitere Interessierte</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="recipientName" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">name of recipient</xs:documentation>
          <xs:documentation xml:lang="de-DE">Name des Empfängers</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="common:TextField">
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="recipientEmail" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">email address of recipient</xs:documentation>
          <xs:documentation xml:lang="de-DE">Email Adresse des Empfängers</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="common:Email">
            <xs:maxLength value="150"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="senderName" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">name of sender</xs:documentation>
          <xs:documentation xml:lang="de-DE">Name des Versenders</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="common:TextField">
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="senderEmail" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">email address of sender</xs:documentation>
          <xs:documentation xml:lang="de-DE">Email Adresse des Versenders</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="common:Email">
            <xs:maxLength value="150"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="comment" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">comment</xs:documentation>
          <xs:documentation xml:lang="de-DE">Anmerkung</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="common:TextField">
            <xs:maxLength value="2000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="sendAFriendForm" type="SendAFriendForm">
    <xs:annotation>
      <xs:documentation xml:lang="en">form request to forward to an also interested customer</xs:documentation>
      <xs:documentation xml:lang="de-DE">Formular zur Weiterleitung an weitere Interessierte</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="imprint" type="common:Imprint">
    <xs:annotation>
      <xs:documentation xml:lang="en">Impressum/Imprint of the expose realtor.</xs:documentation>
      <xs:documentation xml:lang="de-DE">Impressum vom Exposeanbieter.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="address" type="common:Address">
    <xs:annotation>
      <xs:documentation xml:lang="en">address</xs:documentation>
      <xs:documentation xml:lang="de-DE">Adresse</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="video">
    <xs:annotation>
      <xs:documentation xml:lang="en">screen9 streaming video urls</xs:documentation>
      <xs:documentation xml:lang="de-DE">streaming video urls von screen9</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="videoUrlList" type="videoUrlList" minOccurs="1" maxOccurs="2">
          <xs:annotation>
            <xs:documentation xml:lang="en">screen9 streaming video url list</xs:documentation>
            <xs:documentation xml:lang="de-DE">streaming video url Liste von screen9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:long" name="duration" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">Video duration in ms</xs:documentation>
            <xs:documentation xml:lang="de-DE">Video Abspieldauer in ms</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:anyURI" name="teaserUrl" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">Picture teaser for this video</xs:documentation>
            <xs:documentation xml:lang="de-DE">Teaser Bild für das gegebene Video</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="common:TextField" name="title" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">Title of the video</xs:documentation>
            <xs:documentation xml:lang="de-DE">Titel vom Video</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="videoUrlList">
    <xs:annotation>
      <xs:documentation xml:lang="en">screen9 single entity for one url</xs:documentation>
      <xs:documentation xml:lang="de-DE">eine Entität einer screen9 streaming video url mit dem video Format</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element type="xs:string" name="format"/>
      <xs:element type="xs:string" name="url"/>
    </xs:all>
  </xs:complexType>


</xs:schema>
