XmlSchemaClassGenerator.Tests/xsd/aixm/aixm-5.1.1/extensions/ADR-23.5.0/ADR_Features.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ====================================================================-->
<!-- AIXM 5.1.1 - ADR extension Schema for NM Version 23.5.0 -->
<!-- Released:  September 2019 -->
<!-- ====================================================================-->
<!-- Copyright (c) 2014-2019, EUROCONTROL -->
<!-- =============================== -->
<!--   All rights reserved.-->
<!--   Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: -->
<!--     * Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. -->
<!--     * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. -->
<!--     * Neither the names of EUROCONTROL or FAA nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission. -->
<!-- -->
<!--   THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. -->
<!--   ========================================== -->
<!--   Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative: http://www.opensource.org/licenses/bsd-license.php -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:adr="http://www.aixm.aero/schema/5.1.1/extensions/EUR/ADR" xmlns:aixm="http://www.aixm.aero/schema/5.1.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.aixm.aero/schema/5.1.1/extensions/EUR/ADR" version="1.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../../xlink/xlink.xsd"/>
  <import namespace="http://www.aixm.aero/schema/5.1.1" schemaLocation="../../AIXM_Features.xsd"/>
  <include schemaLocation="./ADR_DataTypes.xsd"/>
  <element name="AircraftCharacteristicExtension" substitutionGroup="aixm:AbstractAircraftCharacteristicExtension" type="adr:AircraftCharacteristicExtensionType"/>
  <complexType name="AircraftCharacteristicExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:AircraftCharacteristicExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="AircraftCharacteristicExtensionPropertyGroup">
    <sequence>
      <element minOccurs="0" name="aircraftAddresses" nillable="true" type="adr:AircraftAddressesType"/>
      <element minOccurs="0" name="aircraftRegistrations" nillable="true" type="adr:AircraftRegistrationsType"/>
    </sequence>
  </group>
  <element name="AirportHeliportExtension" substitutionGroup="aixm:AbstractAirportHeliportExtension" type="adr:AirportHeliportExtensionType"/>
  <complexType name="AirportHeliportExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:AirportHeliportExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="AirportHeliportExtensionPropertyGroup">
    <sequence>
      <element minOccurs="0" name="defaultTaxiTime" nillable="true" type="aixm:ValDurationType"/>
      <element minOccurs="0" name="nmDesignator" nillable="true" type="adr:CodeAirportHeliportNMDesignatorType"/>
    </sequence>
  </group>
  <complexType name="AirportHeliportSetPropertyType">
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AirportHeliportSet" substitutionGroup="aixm:AbstractAIXMFeature" type="adr:AirportHeliportSetType"/>
  <complexType name="AirportHeliportSetType">
    <complexContent>
      <extension base="aixm:AbstractAIXMFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="timeSlice" type="adr:AirportHeliportSetTimeSlicePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirportHeliportSetTimeSlicePropertyType">
    <sequence>
      <element ref="adr:AirportHeliportSetTimeSlice"/>
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AirportHeliportSetTimeSlice" substitutionGroup="gml:AbstractTimeSlice" type="adr:AirportHeliportSetTimeSliceType"/>
  <complexType name="AirportHeliportSetTimeSliceType">
    <complexContent>
      <extension base="aixm:AbstractAIXMTimeSliceType">
        <sequence>
          <group ref="adr:AirportHeliportSetPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <sequence>
                <element ref="adr:AbstractAirportHeliportSetExtension"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="AirportHeliportSetPropertyGroup">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="airportHeliport" nillable="true" type="aixm:AirportHeliportPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="airportHeliportSetPattern" nillable="true" type="adr:AirportHeliportSetPatternPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
      <element minOccurs="0" name="airportHeliportSetId" nillable="true" type="aixm:TextNameType"/>
    </sequence>
  </group>
  <element abstract="true" name="AbstractAirportHeliportSetExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="AirportHeliportSetPattern" type="adr:AirportHeliportSetPatternType"/>
  <complexType name="AirportHeliportSetPatternType">
    <complexContent>
      <extension base="aixm:AbstractAIXMObjectType">
        <sequence>
          <group ref="adr:AirportHeliportSetPatternPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="adr:AbstractAirportHeliportSetPatternExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="AirportHeliportSetPatternPropertyGroup">
    <sequence>
      <element minOccurs="0" name="pattern" nillable="true" type="aixm:TextNameType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <complexType name="AirportHeliportSetPatternPropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:AirportHeliportSetPattern"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractAirportHeliportSetPatternExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="AirspaceExtension" substitutionGroup="aixm:AbstractAirspaceExtension" type="adr:AirspaceExtensionType"/>
  <complexType name="AirspaceExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:AirspaceExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="AirspaceExtensionPropertyGroup">
    <sequence>
      <element minOccurs="0" name="flexibleUse" nillable="true" type="aixm:CodeYesNoType"/>
      <element minOccurs="0" name="level1" nillable="true" type="aixm:CodeYesNoType"/>
      <element minOccurs="0" name="level2" nillable="true" type="aixm:CodeYesNoType"/>
      <element minOccurs="0" name="level3" nillable="true" type="aixm:CodeYesNoType"/>
      <element minOccurs="0" name="usage" nillable="true" type="adr:CodeFeatureUsageType"/>
      <element maxOccurs="1" minOccurs="0" name="responsibleAMC" nillable="true" type="aixm:UnitPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="nearby" nillable="true" type="aixm:RoutePortionPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="offload" nillable="true" type="aixm:RoutePortionPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="notAffected" nillable="true" type="aixm:RoutePortionPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="rsaActivation" nillable="true" type="aixm:AirspaceActivationPropertyType"/>
      <element minOccurs="0" name="isFBZ" nillable="true" type="aixm:CodeYesNoType"/>
      <element minOccurs="0" name="defaultForActivation" nillable="true" type="aixm:CodeYesNoType"/>
      <element maxOccurs="1" minOccurs="0" name="ownerRSA" nillable="true" type="aixm:AirspacePropertyType"/>
    </sequence>
  </group>
  <element name="AirspaceActivationExtension" substitutionGroup="aixm:AbstractAirspaceActivationExtension" type="adr:AirspaceActivationExtensionType"/>
  <complexType name="AirspaceActivationExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:AirspaceActivationExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="AirspaceActivationExtensionPropertyGroup">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="requestor" nillable="true" type="aixm:UnitPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="hostAirspace" nillable="true" type="aixm:AirspacePropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="fuaRestriction" nillable="true" type="adr:FUARestrictionActivationPropertyType"/>
      <element minOccurs="0" name="isP3" nillable="true" type="aixm:CodeYesNoType"/>
    </sequence>
  </group>
  <element name="AirspaceBorderCrossingObject" type="adr:AirspaceBorderCrossingObjectType"/>
  <complexType name="AirspaceBorderCrossingObjectType">
    <complexContent>
      <extension base="aixm:AbstractAIXMObjectType">
        <sequence>
          <group ref="adr:AirspaceBorderCrossingObjectPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="adr:AbstractAirspaceBorderCrossingObjectExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="AirspaceBorderCrossingObjectPropertyGroup">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="exitedAirspace" nillable="true" type="aixm:AirspacePropertyType"/>
      <element maxOccurs="1" minOccurs="0" name="enteredAirspace" nillable="true" type="aixm:AirspacePropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <complexType name="AirspaceBorderCrossingObjectPropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:AirspaceBorderCrossingObject"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractAirspaceBorderCrossingObjectExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <complexType name="ApproachLegPropertyType">
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ApproachLeg" substitutionGroup="aixm:AbstractApproachLeg" type="adr:ApproachLegType"/>
  <complexType name="ApproachLegType">
    <complexContent>
      <extension base="aixm:AbstractApproachLegType">
        <sequence>
          <element maxOccurs="unbounded" name="timeSlice" type="adr:ApproachLegTimeSlicePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ApproachLegTimeSlicePropertyType">
    <sequence>
      <element ref="adr:ApproachLegTimeSlice"/>
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ApproachLegTimeSlice" substitutionGroup="gml:AbstractTimeSlice" type="adr:ApproachLegTimeSliceType"/>
  <complexType name="ApproachLegTimeSliceType">
    <complexContent>
      <extension base="aixm:AbstractAIXMTimeSliceType">
        <sequence>
          <group ref="adr:ApproachLegPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
          <complexType>
            <choice>
              <element ref="adr:AbstractApproachLegExtension"/>
              <element ref="aixm:AbstractApproachLegExtension"/>
              <element ref="aixm:AbstractSegmentLegExtension"/>
            </choice>
            <attributeGroup ref="gml:OwnershipAttributeGroup"/>
          </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="ApproachLegPropertyGroup">
    <sequence>
      <group minOccurs="0" ref="aixm:ApproachLegPropertyGroup"/>
    </sequence>
  </group>
  <element abstract="true" name="AbstractApproachLegExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="DesignatedPointExtension" substitutionGroup="aixm:AbstractDesignatedPointExtension" type="adr:DesignatedPointExtensionType"/>
  <complexType name="DesignatedPointExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:DesignatedPointExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="DesignatedPointExtensionPropertyGroup">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="pointUsage" nillable="true" type="adr:PointUsagePropertyType"/>
    </sequence>
  </group>
  <element name="FlightCharacteristicExtension" substitutionGroup="aixm:AbstractFlightCharacteristicExtension" type="adr:FlightCharacteristicExtensionType"/>
  <complexType name="FlightCharacteristicExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:FlightCharacteristicExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="FlightCharacteristicExtensionPropertyGroup">
    <sequence>
      <element minOccurs="0" name="flightPlanSource" nillable="true" type="adr:CodeFlightPlanSourceType"/>
    </sequence>
  </group>
  <element name="FlightConditionElementExtension" substitutionGroup="aixm:AbstractFlightConditionElementExtension" type="adr:FlightConditionElementExtensionType"/>
  <complexType name="FlightConditionElementExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:FlightConditionElementExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="FlightConditionElementExtensionPropertyGroup">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="borderCrossingCondition" nillable="true" type="adr:AirspaceBorderCrossingObjectPropertyType"/>
      <element maxOccurs="1" minOccurs="0" name="airportHeliportSetCondition" nillable="true" type="adr:AirportHeliportSetPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <element name="FlightRestrictionExtension" substitutionGroup="aixm:AbstractFlightRestrictionExtension" type="adr:FlightRestrictionExtensionType"/>
  <complexType name="FlightRestrictionExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:FlightRestrictionExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="FlightRestrictionExtensionPropertyGroup">
    <sequence>
      <element minOccurs="0" name="processingIndicator" nillable="true" type="adr:CodeProcessingIndicatorType"/>
      <element minOccurs="0" name="enabled" nillable="true" type="aixm:CodeYesNoType"/>
      <element minOccurs="0" name="usage" nillable="true" type="adr:CodeFeatureUsageType"/>
      <element minOccurs="0" name="isFUA" nillable="true" type="aixm:CodeYesNoType"/>
      <element minOccurs="0" name="fuaDefaultActive" nillable="true" type="aixm:CodeYesNoType"/>
      <element minOccurs="0" name="verticalLimitReference" nillable="true" type="adr:CodeVerticalLimitReferenceType"/>
      <element minOccurs="0" name="dependentVerticalLimits" nillable="true" type="aixm:CodeYesNoType"/>
    </sequence>
  </group>
  <complexType name="FlowPropertyType">
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Flow" substitutionGroup="aixm:AbstractAIXMFeature" type="adr:FlowType"/>
  <complexType name="FlowType">
    <complexContent>
      <extension base="aixm:AbstractAIXMFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="timeSlice" type="adr:FlowTimeSlicePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FlowTimeSlicePropertyType">
    <sequence>
      <element ref="adr:FlowTimeSlice"/>
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FlowTimeSlice" substitutionGroup="gml:AbstractTimeSlice" type="adr:FlowTimeSliceType"/>
  <complexType name="FlowTimeSliceType">
    <complexContent>
      <extension base="aixm:AbstractAIXMTimeSliceType">
        <sequence>
          <group ref="adr:FlowPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <sequence>
                <element ref="adr:AbstractFlowExtension"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="FlowPropertyGroup">
    <sequence>
      <element minOccurs="0" name="flowName" nillable="true" type="aixm:TextNameType"/>
      <element minOccurs="0" name="flowId" nillable="true" type="aixm:TextNameType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="downstreamFlowElement" nillable="true" type="adr:FlowLocationElementPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="upstreamFlowElement" nillable="true" type="adr:FlowLocationElementPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <element abstract="true" name="AbstractFlowExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="FlowLocationElement" type="adr:FlowLocationElementType"/>
  <complexType name="FlowLocationElementType">
    <complexContent>
      <extension base="aixm:AbstractAIXMObjectType">
        <sequence>
          <group ref="adr:FlowLocationElementPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="adr:AbstractFlowLocationElementExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="FlowLocationElementPropertyGroup">
    <sequence>
      <element minOccurs="0" name="index" nillable="true" type="aixm:NoSequenceType"/>
      <choice>
        <element minOccurs="0" name="locationChoice_airportHeliport" nillable="true" type="aixm:AirportHeliportPropertyType"/>
        <element minOccurs="0" name="locationChoice_airportHeliportSet" nillable="true" type="adr:AirportHeliportSetPropertyType"/>
        <element minOccurs="0" name="locationChoice_airspace" nillable="true" type="aixm:AirspacePropertyType"/>
        <element minOccurs="0" name="locationChoice_designatedPoint" nillable="true" type="aixm:DesignatedPointPropertyType"/>
        <element minOccurs="0" name="locationChoice_navaid" nillable="true" type="aixm:NavaidPropertyType"/>
      </choice>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <complexType name="FlowLocationElementPropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:FlowLocationElement"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractFlowLocationElementExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="FUARestrictionActivation" type="adr:FUARestrictionActivationType"/>
  <complexType name="FUARestrictionActivationType">
    <complexContent>
      <extension base="aixm:AbstractAIXMObjectType">
        <sequence>
          <group ref="adr:FUARestrictionActivationPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="adr:AbstractFUARestrictionActivationExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="FUARestrictionActivationPropertyGroup">
    <sequence>
      <element minOccurs="0" name="active" nillable="true" type="aixm:CodeYesNoType"/>
      <element minOccurs="0" name="remark" nillable="true" type="aixm:TextRemarkType"/>
      <element minOccurs="0" name="theFlightRestriction" type="aixm:FlightRestrictionPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
      <element minOccurs="0" name="isP3" nillable="true" type="aixm:CodeYesNoType"/>
    </sequence>
  </group>
  <complexType name="FUARestrictionActivationPropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:FUARestrictionActivation"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractFUARestrictionActivationExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="IntermediateSignificantPoint" type="adr:IntermediateSignificantPointType"/>
  <complexType name="IntermediateSignificantPointType">
    <complexContent>
      <extension base="aixm:AbstractAIXMObjectType">
        <sequence>
          <group ref="adr:IntermediateSignificantPointPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="adr:AbstractIntermediateSignificantPointExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="IntermediateSignificantPointPropertyGroup">
    <sequence>
      <choice>
        <element minOccurs="0" name="pointChoice_fixDesignatedPoint" nillable="true" type="aixm:DesignatedPointPropertyType"/>
        <element minOccurs="0" name="pointChoice_navaidSystem" nillable="true" type="aixm:NavaidPropertyType"/>
        <element minOccurs="0" name="pointChoice_position" nillable="true" type="aixm:PointPropertyType"/>
        <element minOccurs="0" name="pointChoice_runwayPoint" nillable="true" type="aixm:RunwayCentrelinePointPropertyType"/>
        <element minOccurs="0" name="pointChoice_aimingPoint" nillable="true" type="aixm:TouchDownLiftOffPropertyType"/>
        <element minOccurs="0" name="pointChoice_airportReferencePoint" nillable="true" type="aixm:AirportHeliportPropertyType"/>
      </choice>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <complexType name="IntermediateSignificantPointPropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:IntermediateSignificantPoint"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractIntermediateSignificantPointExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="NavaidExtension" substitutionGroup="aixm:AbstractNavaidExtension" type="adr:NavaidExtensionType"/>
  <complexType name="NavaidExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:NavaidExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="NavaidExtensionPropertyGroup">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="pointUsage" nillable="true" type="adr:PointUsagePropertyType"/>
    </sequence>
  </group>
  <element name="PointUsage" substitutionGroup="aixm:AbstractPropertiesWithSchedule" type="adr:PointUsageType"/>
  <complexType name="PointUsageType">
    <complexContent>
      <extension base="aixm:AbstractPropertiesWithScheduleType">
        <sequence>
          <group ref="aixm:PropertiesWithSchedulePropertyGroup"/>
          <group ref="adr:PointUsagePropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="aixm:AbstractPropertiesWithScheduleExtension"/>
                <element ref="adr:AbstractPointUsageExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="PointUsagePropertyGroup">
    <sequence>
      <element minOccurs="0" name="relativeLocation" nillable="true" type="aixm:CodeAirspacePointPositionType"/>
      <element minOccurs="0" name="reportingATC" nillable="true" type="aixm:CodeATCReportingType"/>
      <element minOccurs="0" name="role" nillable="true" type="adr:CodePointUsageType"/>
      <choice minOccurs="0" maxOccurs="unbounded">
        <element minOccurs="0" name="reference_airspace" nillable="true" type="aixm:AirspacePropertyType"/>
        <element minOccurs="0" name="reference_airportHeliport" nillable="true" type="aixm:AirportHeliportPropertyType"/>
        <element minOccurs="0" name="reference_airportHeliportSet" nillable="true" type="adr:AirportHeliportSetPropertyType"/>
        <element minOccurs="0" name="reference_border" nillable="true" type="adr:AirspaceBorderCrossingObjectPropertyType"/>
      </choice>
      <element maxOccurs="unbounded" minOccurs="0" name="levels" nillable="true" type="aixm:AirspaceLayerPropertyType"/>
    </sequence>
  </group>
  <complexType name="PointUsagePropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:PointUsage"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractPointUsageExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="ProcedureExtension" substitutionGroup="aixm:AbstractProcedureExtension" type="adr:ProcedureExtensionType"/>
  <complexType name="ProcedureExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:ProcedureExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="ProcedureExtensionPropertyGroup">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="hasSynonym" nillable="true" type="adr:SynonymPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <complexType name="ReferenceLocationPropertyType">
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ReferenceLocation" substitutionGroup="aixm:AbstractAIXMFeature" type="adr:ReferenceLocationType"/>
  <complexType name="ReferenceLocationType">
    <complexContent>
      <extension base="aixm:AbstractAIXMFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="timeSlice" type="adr:ReferenceLocationTimeSlicePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReferenceLocationTimeSlicePropertyType">
    <sequence>
      <element ref="adr:ReferenceLocationTimeSlice"/>
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ReferenceLocationTimeSlice" substitutionGroup="gml:AbstractTimeSlice" type="adr:ReferenceLocationTimeSliceType"/>
  <complexType name="ReferenceLocationTimeSliceType">
    <complexContent>
      <extension base="aixm:AbstractAIXMTimeSliceType">
        <sequence>
          <group ref="adr:ReferenceLocationPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <sequence>
                <element ref="adr:AbstractReferenceLocationExtension"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="ReferenceLocationPropertyGroup">
    <sequence>
      <element minOccurs="0" name="category" nillable="true" type="aixm:CodeFlightDestinationType"/>
      <element minOccurs="0" name="referenceLocationId" nillable="true" type="aixm:TextNameType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="associatedFlow" nillable="true" type="adr:FlowPropertyType"/>
      <element maxOccurs="1" minOccurs="0" name="airspaceLayer" nillable="true" type="aixm:AirspaceLayerPropertyType"/>
      <choice>
        <element minOccurs="0" name="locationChoice_airportHeliport" nillable="true" type="aixm:AirportHeliportPropertyType"/>
        <element minOccurs="0" name="locationChoice_airportHeliportSet" nillable="true" type="adr:AirportHeliportSetPropertyType"/>
        <element minOccurs="0" name="locationChoice_airspace" nillable="true" type="aixm:AirspacePropertyType"/>
        <element minOccurs="0" name="locationChoice_designatedPoint" nillable="true" type="aixm:DesignatedPointPropertyType"/>
        <element minOccurs="0" name="locationChoice_navaid" nillable="true" type="aixm:NavaidPropertyType"/>
      </choice>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <element abstract="true" name="AbstractReferenceLocationExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="RouteExtension" substitutionGroup="aixm:AbstractRouteExtension" type="adr:RouteExtensionType"/>
  <complexType name="RouteExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:RouteExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="RouteExtensionPropertyGroup">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <element name="RouteAvailabilityExtension" substitutionGroup="aixm:AbstractRouteAvailabilityExtension" type="adr:RouteAvailabilityExtensionType"/>
  <complexType name="RouteAvailabilityExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:RouteAvailabilityExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="RouteAvailabilityExtensionPropertyGroup">
    <sequence>
      <element minOccurs="0" name="conditionalRouteType" nillable="true" type="adr:CodeConditionalRouteType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="hostAirspace" nillable="true" type="aixm:AirspacePropertyType"/>
      <element minOccurs="0" name="isP3" nillable="true" type="aixm:CodeYesNoType"/>
    </sequence>
  </group>
  <element name="RoutePortionExtension" substitutionGroup="aixm:AbstractRoutePortionExtension" type="adr:RoutePortionExtensionType"/>
  <complexType name="RoutePortionExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:RoutePortionExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="RoutePortionExtensionPropertyGroup">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="intermediatePoint" nillable="true" type="adr:IntermediateSignificantPointPropertyType"/>
      <element maxOccurs="1" minOccurs="0" name="referencedProcedure" nillable="true" type="aixm:ProcedurePropertyType"/>
      <element maxOccurs="1" minOccurs="0" name="range" nillable="true" type="aixm:AirspaceLayerPropertyType"/>
    </sequence>
  </group>
  <element name="RouteSegmentExtension" substitutionGroup="aixm:AbstractRouteSegmentExtension" type="adr:RouteSegmentExtensionType"/>
  <complexType name="RouteSegmentExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:RouteSegmentExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="RouteSegmentExtensionPropertyGroup">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="verticalLimit" nillable="true" type="adr:RouteSegmentVerticalLimitPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="cdrUpdate" nillable="true" type="aixm:RouteAvailabilityPropertyType"/>
    </sequence>
  </group>
  <element name="RouteSegmentVerticalLimit" substitutionGroup="aixm:AbstractPropertiesWithSchedule" type="adr:RouteSegmentVerticalLimitType"/>
  <complexType name="RouteSegmentVerticalLimitType">
    <complexContent>
      <extension base="aixm:AbstractPropertiesWithScheduleType">
        <sequence>
          <group ref="aixm:PropertiesWithSchedulePropertyGroup"/>
          <group ref="adr:RouteSegmentVerticalLimitPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="aixm:AbstractPropertiesWithScheduleExtension"/>
                <element ref="adr:AbstractRouteSegmentVerticalLimitExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="RouteSegmentVerticalLimitPropertyGroup">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="range" nillable="true" type="aixm:AirspaceLayerPropertyType"/>
    </sequence>
  </group>
  <complexType name="RouteSegmentVerticalLimitPropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:RouteSegmentVerticalLimit"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractRouteSegmentVerticalLimitExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="StandardInstrumentArrivalExtension" substitutionGroup="aixm:AbstractStandardInstrumentArrivalExtension" type="adr:StandardInstrumentArrivalExtensionType"/>
  <complexType name="StandardInstrumentArrivalExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:StandardInstrumentArrivalExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="StandardInstrumentArrivalExtensionPropertyGroup">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="connectingPoint" nillable="true" type="aixm:TerminalSegmentPointPropertyType"/>
      <element maxOccurs="1" minOccurs="0" name="initialApproachFix" nillable="true" type="aixm:TerminalSegmentPointPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <element name="StandardInstrumentDepartureExtension" substitutionGroup="aixm:AbstractStandardInstrumentDepartureExtension" type="adr:StandardInstrumentDepartureExtensionType"/>
  <complexType name="StandardInstrumentDepartureExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:StandardInstrumentDepartureExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="StandardInstrumentDepartureExtensionPropertyGroup">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="connectingPoint" nillable="true" type="aixm:TerminalSegmentPointPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <element name="SunriseSunsetRow" type="adr:SunriseSunsetRowType"/>
  <complexType name="SunriseSunsetRowType">
    <complexContent>
      <extension base="aixm:AbstractAIXMObjectType">
        <sequence>
          <group ref="adr:SunriseSunsetRowPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="adr:AbstractSunriseSunsetRowExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="SunriseSunsetRowPropertyGroup">
    <sequence>
      <element minOccurs="0" name="sunrise" nillable="true" type="gml:TimePositionType"/>
      <element minOccurs="0" name="sunset" nillable="true" type="gml:TimePositionType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <complexType name="SunriseSunsetRowPropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:SunriseSunsetRow"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractSunriseSunsetRowExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <complexType name="SunriseSunsetTablePropertyType">
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SunriseSunsetTable" substitutionGroup="aixm:AbstractAIXMFeature" type="adr:SunriseSunsetTableType"/>
  <complexType name="SunriseSunsetTableType">
    <complexContent>
      <extension base="aixm:AbstractAIXMFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="timeSlice" type="adr:SunriseSunsetTableTimeSlicePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SunriseSunsetTableTimeSlicePropertyType">
    <sequence>
      <element ref="adr:SunriseSunsetTableTimeSlice"/>
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SunriseSunsetTableTimeSlice" substitutionGroup="gml:AbstractTimeSlice" type="adr:SunriseSunsetTableTimeSliceType"/>
  <complexType name="SunriseSunsetTableTimeSliceType">
    <complexContent>
      <extension base="aixm:AbstractAIXMTimeSliceType">
        <sequence>
          <group ref="adr:SunriseSunsetTablePropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <sequence>
                <element ref="adr:AbstractSunriseSunsetTableExtension"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="SunriseSunsetTablePropertyGroup">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="airportHeliport" nillable="true" type="aixm:AirportHeliportPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="row" nillable="true" type="adr:SunriseSunsetRowPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <element abstract="true" name="AbstractSunriseSunsetTableExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="Synonym" type="adr:SynonymType"/>
  <complexType name="SynonymType">
    <complexContent>
      <extension base="aixm:AbstractAIXMObjectType">
        <sequence>
          <group ref="adr:SynonymPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="adr:AbstractSynonymExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="SynonymPropertyGroup">
    <sequence>
      <element minOccurs="0" name="synonymId" nillable="true" type="aixm:TextNameType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <complexType name="SynonymPropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:Synonym"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractSynonymExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="TimesheetExtension" substitutionGroup="aixm:AbstractTimesheetExtension" type="adr:TimesheetExtensionType"/>
  <complexType name="TimesheetExtensionType">
    <complexContent>
      <extension base="aixm:AbstractExtensionType">
        <sequence>
          <group ref="adr:TimesheetExtensionPropertyGroup"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="TimesheetExtensionPropertyGroup">
    <sequence>
      <element ref="gml:validTime" minOccurs="0"/>
      <element maxOccurs="unbounded" minOccurs="0" name="exclude" nillable="true" type="aixm:TimesheetPropertyType"/>
    </sequence>
  </group>
  <complexType name="TrafficVolumePropertyType">
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="TrafficVolume" substitutionGroup="aixm:AbstractAIXMFeature" type="adr:TrafficVolumeType"/>
  <complexType name="TrafficVolumeType">
    <complexContent>
      <extension base="aixm:AbstractAIXMFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="timeSlice" type="adr:TrafficVolumeTimeSlicePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficVolumeTimeSlicePropertyType">
    <sequence>
      <element ref="adr:TrafficVolumeTimeSlice"/>
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TrafficVolumeTimeSlice" substitutionGroup="gml:AbstractTimeSlice" type="adr:TrafficVolumeTimeSliceType"/>
  <complexType name="TrafficVolumeTimeSliceType">
    <complexContent>
      <extension base="aixm:AbstractAIXMTimeSliceType">
        <sequence>
          <group ref="adr:TrafficVolumePropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <sequence>
                <element ref="adr:AbstractTrafficVolumeExtension"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="TrafficVolumePropertyGroup">
    <sequence>
      <element minOccurs="0" name="tvId" nillable="true" type="aixm:TextNameType"/>
      <element minOccurs="0" name="tvName" nillable="true" type="aixm:TextNameType"/>
      <element maxOccurs="1" minOccurs="0" name="referenceLocation" nillable="true" type="adr:ReferenceLocationPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="activation" nillable="true" type="adr:TrafficVolumeActivationPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="linkedFlow" nillable="true" type="adr:TrafficVolumeLinkedFlowPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <element abstract="true" name="AbstractTrafficVolumeExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="TrafficVolumeActivation" substitutionGroup="aixm:AbstractPropertiesWithSchedule" type="adr:TrafficVolumeActivationType"/>
  <complexType name="TrafficVolumeActivationType">
    <complexContent>
      <extension base="aixm:AbstractPropertiesWithScheduleType">
        <sequence>
          <group ref="aixm:PropertiesWithSchedulePropertyGroup"/>
          <group ref="adr:TrafficVolumeActivationPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="aixm:AbstractPropertiesWithScheduleExtension"/>
                <element ref="adr:AbstractTrafficVolumeActivationExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="TrafficVolumeActivationPropertyGroup">
    <sequence/>
  </group>
  <complexType name="TrafficVolumeActivationPropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:TrafficVolumeActivation"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractTrafficVolumeActivationExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <element name="TrafficVolumeLinkedFlow" type="adr:TrafficVolumeLinkedFlowType"/>
  <complexType name="TrafficVolumeLinkedFlowType">
    <complexContent>
      <extension base="aixm:AbstractAIXMObjectType">
        <sequence>
          <group ref="adr:TrafficVolumeLinkedFlowPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <choice>
                <element ref="adr:AbstractTrafficVolumeLinkedFlowExtension"/>
              </choice>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="TrafficVolumeLinkedFlowPropertyGroup">
    <sequence>
      <element minOccurs="0" name="role" nillable="true" type="adr:CodeFlowCombinationRoleType"/>
      <element minOccurs="0" name="theFlow" type="adr:FlowPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <complexType name="TrafficVolumeLinkedFlowPropertyType">
    <complexContent>
      <extension base="aixm:AbstractAIXMPropertyType">
        <sequence>
          <element ref="adr:TrafficVolumeLinkedFlow"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractTrafficVolumeLinkedFlowExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
  <complexType name="TrafficVolumeSetPropertyType">
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="TrafficVolumeSet" substitutionGroup="aixm:AbstractAIXMFeature" type="adr:TrafficVolumeSetType"/>
  <complexType name="TrafficVolumeSetType">
    <complexContent>
      <extension base="aixm:AbstractAIXMFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="timeSlice" type="adr:TrafficVolumeSetTimeSlicePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficVolumeSetTimeSlicePropertyType">
    <sequence>
      <element ref="adr:TrafficVolumeSetTimeSlice"/>
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TrafficVolumeSetTimeSlice" substitutionGroup="gml:AbstractTimeSlice" type="adr:TrafficVolumeSetTimeSliceType"/>
  <complexType name="TrafficVolumeSetTimeSliceType">
    <complexContent>
      <extension base="aixm:AbstractAIXMTimeSliceType">
        <sequence>
          <group ref="adr:TrafficVolumeSetPropertyGroup"/>
          <element maxOccurs="unbounded" minOccurs="0" name="extension">
            <complexType>
              <sequence>
                <element ref="adr:AbstractTrafficVolumeSetExtension"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <group name="TrafficVolumeSetPropertyGroup">
    <sequence>
      <element minOccurs="0" name="tvSetId" nillable="true" type="aixm:TextNameType"/>
      <element minOccurs="0" name="tvSetName" nillable="true" type="aixm:TextNameType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="trafficVolume" nillable="true" type="adr:TrafficVolumePropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="annotation" nillable="true" type="aixm:NotePropertyType"/>
    </sequence>
  </group>
  <element abstract="true" name="AbstractTrafficVolumeSetExtension" substitutionGroup="aixm:AbstractExtension" type="aixm:AbstractExtensionType"/>
</schema>
