XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_equipment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_equipment_version">
	<xsd:include schemaLocation="../netex_utility/netex_utility_types.xsd"/>
	<xsd:include schemaLocation="netex_equipment_support.xsd"/>
	<xsd:include schemaLocation="../netex_responsibility/netex_typeOfValue_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2010-11-05</Modified>
				</Date>
				<Date>
					<Modified>2019-04-05</Modified>Add back missing infolinks
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines EQUIPMENT base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_equipment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>EQUIPMENT types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in RESOURCE FRAME)=================================================== -->
	<xsd:group name="EquipmentInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an EQUIPMENT in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="equipments" type="equipmentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EQUIPMENTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="equipmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Equipment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="equipments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>List of VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="EquipmentRef"/>
					<xsd:element ref="Equipment" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="Equipment" type="Equipment_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An item of EQUIPMENT of a particular type actually available at a location within a PLACE, such as QUAY, ACCESS SPACE or STOP PATH LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="Equipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="EquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="EquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PublicCode" type="PrivateCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A Public code which may be displayed on equipment to identify it.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Image" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default image for EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfEquipmentRef" minOccurs="0"/>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Further description or other comment for EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Note" type="MultilingualString" default="false." minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Further description or other comment for internal use by OPERATOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="infoLinks" type="infoLinks_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>INFO LINKs associated with EQUIPMENT +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OutOfService" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the EQUIPMENT is out of service for protracted time. A separate Real time services should be used for short term outages. e.g. SIRI FM.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="InstalledEquipment" type="InstalledEquipment_VersionStructure" abstract="true" substitutionGroup="Equipment">
		<xsd:annotation>
			<xsd:documentation>INSTALLED EQUIPMENT describes the different types of LOCATED EQUIPMENT that may be associated with the SITE COMPONENTs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InstalledEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for INSTALLED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Equipment_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== PASSENGER================================================ -->
	<xsd:complexType name="passengerEquipments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of LOCAL SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerEquipmentRef"/>
					<xsd:element ref="PassengerEquipment"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerEquipment" type="PassengerEquipment_VersionStructure" abstract="true" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Equipment for passengers that may be in a fixed within a STOP PLACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure">
				<xsd:group ref="PassengerEquipmentGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Fixed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the EQUIPMENT is fixed at a place or min a vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="placeEquipments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of LOCAL SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="InstalledEquipmentRef"/>
					<xsd:element ref="InstalledEquipment" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PlaceEquipment" type="PlaceEquipment_VersionStructure" abstract="true" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>An item of equipment of a particular type actually available at a location within a PLACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PlaceEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a PLACE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OtherPlaceEquipment" type="PlaceEquipment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Equipment that may be in a fixed within a SITE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ======================================================================= -->
	<xsd:complexType name="typesOfEquipment_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF Equipment.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfEquipmentRef"/>
					<xsd:element ref="TypeOfEquipment"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfEquipment" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of a EQUIPMENT according to its functional purpose.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfEquipment_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfEquipment_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
