XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_spotAffinity_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_sspotAffinity_version">
	<xsd:include schemaLocation="netex_spotAffinity_support.xsd"/>
	<xsd:include schemaLocation="netex_seatingPlan_support.xsd"/>
	<xsd:include schemaLocation="../netex_responsibility/netex_responsibility_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2023-03-01</Created>
				</Date>
				<Date><Modified>2024-02-18</Modified>Norway review comment - Revise AIsle /Window to use enumeration. Add  TableType enum.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SPOT AFFINITY types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_spotffinity_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
				  <Copyright>CEN, Crown Copyright  2022-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,   standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SPOT AFFINITY types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: SPOT AFFINITY types.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== SPOT AFFINITY  ======================================================= -->
	<xsd:complexType name="spotAffinities_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SPOT AFFINITies</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="SpotAffinity" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SpotAffinity" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A group of proximate seats suitable for selection for use by a group of travellers, for example, as being side by side, face to face, around a table, near a wheelchair spot, etc.
 +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SpotAffinity_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SpotAffinityGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a SPOT AFFINITY.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SpotAffinityIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SpotAffinity_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SPOT AFFINITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="SpotAffinityGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a SPOT AFFINITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SpotAffinityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an SPOT AFFINITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of SPOT AFFINITY..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of SPOT AFFINITY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpotAffinityType" type="SpotAffinityTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of SPotAFfinity</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumSpots" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of spots in affinity</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="members" type="locatableSpotRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>:ocatable SPOTs for element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
