XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_nm_chargingEquipmentProfile_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_chargingEquipmentProfile_version">
	<xsd:include schemaLocation="netex_nm_chargingEquipmentProfile_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_equipmentEnergy_support.xsd"/>
	<xsd:include schemaLocation="netex_vehicleType_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2021-09-02</Created>
				</Date>
				<Date>
					<Modified>2021-09-02</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines RECHARGING EQUIPMENT PROFILE base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_nm_equipmentEnergy_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2020-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - RECHARGING EQUIPMENT PROFILE Types of Equipment.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>RECHARGING EQUIPMENT PROFILE types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- === VEHICLE RECHARGING EQUIPMENT PROFILE ============================================ -->
	<xsd:element name="RechargingEquipmentProfile" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Specialisation of VEHICLE EQUIPMENT PROFILE describing vehicle charging features.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RechargingEquipmentProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleEquipmentProfileGroup"/>
						<xsd:sequence>
							<xsd:group ref="RechargingEquipmentProfileGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RechargingEquipmentProfileIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of RECHARGING EQUIPMENT PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RechargingEquipmentProfile_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a RECHARGING EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleEquipmentProfile_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RechargingEquipmentProfileGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RechargingEquipmentProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RECHARGING EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PowerCouplingType" type="PowerCouplingTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of coupling. See allowed values.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlugType" type="PlugTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Plug. See allowed values.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfPlugRef" minOccurs="0"/>
			<xsd:element name="CurrentType" type="CurrentTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of current. See allowed values.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChargingVoltage" type="VoltageType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Charging voltage in volts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumChargingPower" type="WattageType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum charging power in watts, determining how long charging will take.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PreparationDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Typical time period needed to set up the charging process.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FinalisationDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Normal time to decouple after charging.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="compatibleWith" type="compatibleEquipmentRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Compatible equipment. +V2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
