XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_environment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2007 03 23 Add repeating name -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_navigationPath_version">
	<!-- ======================================================================= -->
	<!-- ===Global import of all acsb namespace elements neeeded to work around XERCES limitation
	<xsd:include schemaLocation="../acsb/netex_acsb_all.xsd"/> =====-->
	<!--.....These are the actual dependencies...-->
	<xsd:include schemaLocation="netex_environment_support.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_path_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Contributor>Roger Slevin [Roger.Slevin@dft.gsi.gov.uk]</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Created as W3C .xsd schema by Nicholas Knowles. as 1.0 XML schema </Creator>
				<Date><Created>2024-01-06</Created>Factored ot soas to shaer common PTAH LINK featres with DECK PATH LINK
				</Date>
				<Date>
					<Modified>2024-01-06</Modified>
				</Date>
				<Description>
					<Title>NeTEx Network Exchange - Shared  PATH types.</Title>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_environment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 SG6 and Department for Transport, Great Minster House, 76 Marsham Street, London SW1P 4DR</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/ifopt/netex_ifopt_xxxxx.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Evolved from NaPTAN, SIRI and other schemas.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange (IFOPT subset) - NAVIGATION PATH types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>Shared PATH features Model.</xsd:documentation>
	</xsd:annotation>
	<!-- ======ACCESS SUMMARY ================================================== -->
	<xsd:complexType name="accessSummaries_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more ACCESS SUMMARies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="AccessSummary" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AccessSummary">
		<xsd:annotation>
			<xsd:documentation>Summary of a feature used in NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AccessSummary_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessSummaryGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AccessSummaryIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AccessSummary_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ACCESS SUMMARY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="AccessSummaryGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessSummaryGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AccessFeatureType" type="AccessFeatureEnumeration">
				<xsd:annotation>
					<xsd:documentation>Type of access feature, e.g. lift, stairs,</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Count" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>Count of feature, e.g. number of lifts, stairs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Transition" type="TransitionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of access feature transition e.g. up or down.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- =====NAVIGATION PATH SUMMARY================================================== -->
	<xsd:group name="NavigationPathSummaryGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a NAVIGATION PATH that summarise properties o the set of PATH LINKs. Will state the strictest constraint found . e.g. if any link forbids wheelchair, the NAVIGATION PATH forbids wheelchair.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
			<xsd:element name="AccessModes" type="AccessModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MODEs of access which may used at associated place, e.g. foot access, bicycle access.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="summaries" type="accessSummaries_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Summaries of access features encountered in path.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransferDuration" type="TransferDurationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total time needed to navigate path (May be derived from links).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
