XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_transportOrganisation_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_transportOrganisation_version">
	<xsd:include schemaLocation="netex_transportOrganisation_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_modeOfOperation_support.xsd"/>
	<xsd:include schemaLocation="../netex_reusableComponents/netex_mode_version.xsd"/>
	<xsd:include schemaLocation="netex_address_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2014-03-31</Modified>
				</Date>
				<Date><Modified>2019-02-23</Modified>Make TransportOrganisation_ abstract
				</Date>
				<Date><Modified>2019-03-08</Modified>Improve _Network_  etc for large tariff definitions: 		Add UseToExclude flag to GroupOfOperators
				</Date>
				<Date><Modified>2020-10-05</Modified> New Modes: Add mode of operation to operator.
					 Allow selfdrive and taximodes
					 Insert TransportOrganisation and PublicTransportOrganisation in hierarch
					 Add additional modes relationship to PublicTransportOperator
					 Add AlternativeTransportOperator
					 Add selfDrive and Taxi  TransportMode
				</Date>
				<Date><Modified>2020-11-06</Modified>NewModes (Norway) Allow reusable contact details.
				</Date>
				<Date><Modified>2020-11-27</Modified>NewModes: Drop  PublicTransportOperator,   alternativeTransportOperator.
						  Revis TransportAdministrativeZone to apply to list of all mdo0es rather than just vehicle modes.
				</Date>
				<Date><Modified>2023-11-07</Modified>CR0544 Deprecate PrivateCode.
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines  NetEX:TRANSPORT  ORGANISATION    types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_transportOrganisation_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - NetEX:TRANSPORT  ORGANISATION  identifier  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NetEX:TRANSPORT ORGANISATION types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:include schemaLocation="../netex_genericFramework/netex_organisation_version.xsd"/>
	<xsd:group name="OrganisationInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>ORGANISATION elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="contacts" type="contacts_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reusable CONTACTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="organisations" type="organisationsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ORGANISATIONs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfOperators" type="groupsOfOperatorsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPs OF OPERATORs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="operationalContexts" type="operationalContextsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OPERATIONAL CONTEXTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="controlCentres" type="controlCentresInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CONTROL CENTREs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="groupsOfOperatorsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of GROUP OF OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfOperators" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="transportOperatorsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TRANSPORT OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="Authority"/>
					<xsd:element ref="Operator"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="operationalContextsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of OPERATIONAL CONTEXTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="OperationalContext" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Characterization of a set of operational objects, such as timing or links determined either by a DEPARTMENT or by an ORGANISATIONAL UNIT.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="controlCentresInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of CONTROL CENTREs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ControlCentre" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Characterization of a set of operational objects, such as timing or links determined either by a DEPARTMENT or by an ORGANISATIONAL UNIT.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TransportOrganisation_Dummy" type="Organisation_VersionStructure" abstract="true" substitutionGroup="Organisation_Dummy">
		<xsd:annotation>
			<xsd:documentation>A company providing public transport services.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ==== PUBLIC TRANSPORT ORGANISATION ================================================== -->
	<xsd:element name="TransportOrganisation" abstract="true" substitutionGroup="TransportOrganisation_Dummy">
		<xsd:annotation>
			<xsd:documentation>A company providing transport services.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TransportOrganisation_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransportOrganisationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TransportOrganisationIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of TRANSPORT ORGANISATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TransportOrganisation_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for an TRANSPORT ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Organisation_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TransportOrganisationGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TransportOrganisationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an TRANSPORT ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CountryRef" minOccurs="0"/>
			<xsd:element name="Address" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Address of TRANSPORT ORGANISATION.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="PostalAddress_VersionStructure">
							<xsd:sequence>
								<xsd:sequence>
									<xsd:group ref="GroupOfEntitiesGroup"/>
								</xsd:sequence>
								<xsd:sequence>
									<xsd:group ref="ZoneGroup"/>
								</xsd:sequence>
								<xsd:group ref="PlaceGroup"/>
								<xsd:sequence>
									<xsd:group ref="AddressGroup"/>
								</xsd:sequence>
								<xsd:sequence>
									<xsd:group ref="PostalAddressGroup"/>
									<xsd:element name="RoadAddressRef" type="AddressRefStructure" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Road on which address lies.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:group ref="TransportOrganisationModeGroup"/>
			<xsd:element name="OperatorActivities" type="ListOfOperatorActivities" default="passenger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Activities undertaken by OPERATOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerServiceContactDetails" type="ContactStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact details for Customer service use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="departments" type="departments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Departments of OPERATOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="otherModes" type="modeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional transport MODEs for OPERATOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TransportOrganisationModeGroup">
		<xsd:annotation>
			<xsd:documentation>MODE elements of an TRANSPORT ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PrimaryMode" type="AllModesEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Primary MODE of TRANSPORT ORGANISATION</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="AllSubmodeChoiceGroup" minOccurs="0"/>
			<xsd:element ref="ModeOfOperationRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== OPERATOR ========================================================= -->
	<xsd:element name="Operator" substitutionGroup="TransportOrganisation_Dummy">
		<xsd:annotation>
			<xsd:documentation>A company providing public transport services.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Operator_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransportOrganisationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OperatorIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of OPERATOR.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Operator_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TransportOrganisation_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OperatorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ===== AUTHORITY ========================================================== -->
	<xsd:element name="Authority" substitutionGroup="TransportOrganisation_Dummy">
		<xsd:annotation>
			<xsd:documentation>The ORGANISATION under which the responsibility of organising the transport service in a certain area is placed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Authority_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransportOrganisationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AuthorityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AuthorityIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of AUTHORITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Authority_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an AUTHORITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TransportOrganisation_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AuthorityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AuthorityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an AUTHORITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="authorityTypes" type="typeOfOrganisationRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of AUTHORITY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ==== GROUP OF OPERATORs ========================================================== -->
	<xsd:element name="GroupOfOperators" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A grouping of OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfOperatorsStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfOperatorsGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfOperatorsIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of GROUP OF OPERATORs.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfOperatorsStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a GROUP OF OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfOperatorsGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfOperatorsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for GROUP OF OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="UseToExclude" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether contents of Group should be used to exclude (true) from a large list . The default is include (i.e.false)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="members" type="transportOrganisationRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Operators in group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== OPERATIONAL CONTEXT ======================================================= -->
	<xsd:element name="OperationalContext" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Characterization of a set of operational objects, such as timing or links determined either by a DEPARTMENT or by an ORGANISATIONAL UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OperationalContext_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OperationalContextGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OperationalContextIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of OPERATIONAL CONTEXT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OperationalContext_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATIONAL CONTEXT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="OperationalContextGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OperationalContextGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OPERATIONAL CONTEXT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name of the OPERATIONAL CONTEXT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A short name of the OPERATIONAL CONTEXT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED - use privateCodes. -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OrganisationPartRef" minOccurs="0"/>
			<xsd:element name="VehicleMode" type="AllPublicTransportModesEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PT MODE to which context applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportSubmode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== OPERATOR DEPARTMENT t========================================================= -->
	<xsd:element name="OperatingDepartment" substitutionGroup="OrganisationPart_Dummy">
		<xsd:annotation>
			<xsd:documentation>A specific DEPARTMENT which administers certain LINEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OperatingDepartment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationPartGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DepartmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OperatingDepartmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OperatingDepartmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of OPERATING DEPARTMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OperatingDepartment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATING DEPARTMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Department_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OperatingDepartmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OperatingDepartmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OPERATING DEPARTMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operationalContexts" type="operationalContexRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OPERATIONAL CONTEXTs for OPERATING DEPARTMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="OperatorView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of OPERATOR. All data except the identifier will be derived through the relationship.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Operator_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Operator_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATOR VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="OperatorRef" minOccurs="0"/>
					<xsd:group ref="OrganisationNameGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- === CONTROL CENTRE ====================================================== -->
	<xsd:complexType name="ControlCentres_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A list of CONTROL CENTREs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ControlCentreRef"/>
					<xsd:element ref="ControlCentre"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ControlCentre" substitutionGroup="OrganisationPart_Dummy">
		<xsd:annotation>
			<xsd:documentation>An ORGANISATION PART for an operational team who are responsible for issuing commands to control the services.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ControlCentre_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationPartGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ControlCentreGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ControlCentreIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of CONTROL CENTRE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ControlCentre_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for CONTROL CENTRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OrganisationPart_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ControlCentreGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ControlCentreGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CONTROL CENTRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number used to identify CONTROL CENTRE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ControlCentreCode" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Unique alphanumeric identification of CONTROL CENTRE used to identify source of request to external systems.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DepartmentRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ===== TRANSPORT ADMINISTRATIVE ZONE ================================================ -->
	<xsd:element name="TransportAdministrativeZone" substitutionGroup="AdministrativeZone_Dummy">
		<xsd:annotation>
			<xsd:documentation>A ZONE relating to the management responsibilities of an ORGANISATION. For example to allocate bus stop identifiers for a region.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TransportAdministrativeZone_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AdministrativeZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransportAdministrativeZoneGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TransportAdministrativeZoneIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of TRANSPORT ADMINISTRATIVE ZONE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TransportAdministrativeZone_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an TRANSPORT ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AdministrativeZone_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TransportAdministrativeZoneGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TransportAdministrativeZoneGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an TRANSPORT ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleModes" type="AllPublicTransportModesListOfEnumerations" default="all" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PUBLIC TRANSPORT MODEs for which this zone applies. Default is all.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
