XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_nm_fleetEquipment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_fleetEquipment_version">
	<xsd:include schemaLocation="netex_nm_fleetEquipment_support.xsd"/>
	<xsd:include schemaLocation="../netex_utility/netex_units.xsd"/>
	<xsd:include schemaLocation="../netex_responsibility/netex_responsibility_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.2.2 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2020-10-07</Created>
				</Date>
				<Date><Modified>2020-10-07</Modified>New Modes add profiles 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FLEET EQUIPMENT Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_nm_fleetEquipment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx  FLEET EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>FLEET EQUIPMENT types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ===== MODEL PROFILE ======================================================== -->
	<!-- ======  MODEL PROFILE ====================================== -->
	<xsd:complexType name="vehicleModelProfilesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of VEHICLE MODEL PROFILEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="CarModelProfile">
						<xsd:annotation>
							<xsd:documentation>+v1.2.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CycleModelProfile">
						<xsd:annotation>
							<xsd:documentation>+v1.2.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleModelProfile" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A set of characteristics of equipment installed on-board and characterising a VEHICLE MODEL PROFILE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleModelProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleModelProfileGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleModelProfileIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of MODEL PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleModelProfile_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleModelProfileGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleModelProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHICLE MODEL PROFILE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfGears" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of gears.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChildSeat" type="ChildSeatEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Child seat.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RangeBetweenRefuelling" type="DistanceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum range between refuelling for vehicles of the MODEL PROFILE..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsPortable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle can be carried easily, e.g., scooter, skateboard, collapsible bicycle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- =======CAR MODEL PROFILE================================================== -->
	<xsd:element name="CarModelProfile" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A set of characteristics of equipment installed on-board and characterising a CAR MODEL PROFILE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CarModelProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleModelProfileGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CarModelProfileGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CarModelProfileIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of CAR MODEL PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CarModelProfile_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a CAR MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleModelProfile_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="CarModelProfileGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CarModelProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CAR MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Seats" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of seats.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Doors" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of doors on VEHICLE of VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Transmission" type="TransmissionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of gear transmission</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CruiseControl" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is cruise-control</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SatNav" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE has satellite navigation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AirConditioning" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE has removable chains.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Convertible" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle is convertible</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UsbPowerSockets" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE has UsbPowerSockets.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WinterTyres" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE has winter tyres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Chains" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicel has remopvable chains.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TrailerHitch" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE has a trailer hitch.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RoofRack" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>WHether VEHICLE has a roof rack.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CycleRack" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE has a cycle rack.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SkiRack" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE has a ski rack.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======= CYCLE MODEL PROFILE================================================== -->
	<xsd:element name="CycleModelProfile" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A set of characteristics of equipment installed on-board and characterising a CYCLE MODEL PROFILE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CycleModelProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleModelProfileGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CycleModelProfileGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CycleModelProfileIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of CYCLE MODEL PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CycleModelProfile_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a CYCLE MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleModelProfile_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="CycleModelProfileGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CycleModelProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CYCLE MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GearTypeDescriotion" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of gearing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Battery" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a Battery</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Lamps" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are lights.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Helmet" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a helmet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Pump" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a pump.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Locker" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a lockable luggafe container.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Basket" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a basket.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Lock" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a lock,</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
