XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_nm_chargingEquipmentProfile_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_chargingEquipmentProfile_support">
	<xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>021-09-02</Created>
				</Date>
				<Date><Modified>2021-09-02</Modified>Split out from Parking Equipoment
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines CHARGING PROFILE types for Place access.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_nm_chargingProfile_support</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Added for NExTex new modes.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange -  RECHARGING EQUIPMENT PROFILE  identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>RECHARGING EQUIPMENT PROFILE identifier types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ====   RECHARGING EQUIPMENT PROFILE =========================================== -->
	<xsd:simpleType name="RechargingEquipmentProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of RECHARGING EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleEquipmentProfileIdType"/>
	</xsd:simpleType>
	<xsd:element name="RechargingEquipmentProfileRef" type="RechargingEquipmentProfileRefStructure" substitutionGroup="VehicleEquipmentProfileRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a RECHARGING EQUIPMENT PROFILE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RechargingEquipmentProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an RECHARGING EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleEquipmentProfileRefStructure">
				<xsd:attribute name="ref" type="RechargingEquipmentProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RECHARGING EQUIPMENT PROFILE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassRechargingEquipmentProfileRefStructureType" default="RechargingEquipmentProfile">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for RechargingEquipmentProfileRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
