XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_nm_fleetEquipment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_fleetEquipment_support">
	<xsd:include schemaLocation="../netex_responsibility/netex_responsibility_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.2.2 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2020-10-07</Created>
				</Date>
				<Date><Modified>2020-10-07</Modified>New Modes add profiles 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FLEET EQUIPMENT identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_nm_fleetEquipment_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx  FLEET EQUIPMENTtypes.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation> FLEET EQUIPMENT types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ===== MODEL PROFILE ======================================================== -->
	<xsd:simpleType name="VehicleModelProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleModelProfileRef" type="VehicleModelProfileRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE MODEL PROFILE +V1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleModelProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleModelProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CAR VEHICLE PROFILE ======================================================== -->
	<xsd:simpleType name="CarModelProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CAR MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleModelProfileIdType"/>
	</xsd:simpleType>
	<xsd:element name="CarModelProfileRef" type="CarModelProfileRefStructure" substitutionGroup="VehicleModelProfileRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CAR MODEL PROFILE. +V1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CarModelProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a CAR MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleModelProfileRefStructure">
				<xsd:attribute name="ref" type="CarModelProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CAR VEHICLE PROFILE ======================================================== -->
	<xsd:simpleType name="CycleModelProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CYCLE MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleModelProfileIdType"/>
	</xsd:simpleType>
	<xsd:element name="CycleModelProfileRef" type="CycleModelProfileRefStructure" substitutionGroup="VehicleModelProfileRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CYCLE MODEL PROFILE. +V1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CycleModelProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a CYCLE MODEL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleModelProfileRefStructure">
				<xsd:attribute name="ref" type="CycleModelProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TransmissionEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Vehicle Transmission. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="automatic"/>
			<xsd:enumeration value="automatic4WheelDrive"/>
			<xsd:enumeration value="manual"/>
			<xsd:enumeration value="manual4WheelDrive"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChildSeatEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ChildSeat. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="baby"/>
			<xsd:enumeration value="smallChild"/>
			<xsd:enumeration value="olderChild"/>
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
