XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_environment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_environment_support">
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="../netex_utility/netex_utility_xml.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_path_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date><Created>2024-02-05</Created>PATH  Factored  generic enums out of Ifopt paths and other files ast to share with DECK PATH LINK etc 
				</Date>
				<Date>
					<Modified>2024-02-05</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines  common access enumeration types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_environent_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TRANSMODEL  standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - PATH identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>Environment enumerations for Generic PATH and PLACE and SITE models</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- Simple Type Definitions -->
	<!-- ======================================================================= -->
	<xsd:group name="PathPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Common elements of a PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PathNavigationGroup"/>
			<xsd:group ref="PathDescriptionGroup"/>
			<xsd:element name="MaximumFlowPerMinute" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of passengers who can traverse PATH LINK per minute.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PathNavigationGroup">
		<xsd:annotation>
			<xsd:documentation>Common Navigation elements of a PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Towards" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Direction heading to show for PATH LINK when travelling in its FROM / TO sense.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Back" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Direction heading to show for PATH LINK when travelling in its TO / FROM sense.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of steps to take PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum Height of PATH LINK. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum Width of PATH LINK. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllowedUse" type="PathDirectionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed direction of use: one way or two way. Default is two way.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Transition" type="TransitionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether PATH LINK is up down or level in from to direction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gradient" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum gradient in degrees (in the direction of the PATH LINK way). +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GradientType" type="GradientEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Coded value of the maximum gradient.+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TiltAngle" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum Tilt angle in degrees between -20 and 20 (in the direction of the PATH LINK way). +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TiltType" type="TiltTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Coded value of the maximum tilt. See allowed va;ues. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PathDescriptionGroup">
		<xsd:annotation>
			<xsd:documentation>Common Description elements of a PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AccessFeatureType" type="AccessFeatureEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of physical feature of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassageType" type="PassageTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of passage feature of PATH LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FlooringType" type="FlooringTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of flooring of the walking surface. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FlooringStatus" type="FlooringStatusEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Status of the flooring. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RightSideBorder" type="BorderTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of border on the right side (in the direction of the PATH LINK).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LeftSideBorder" type="BorderTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of border on the left side (in the direction of the PATH LINK). +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileWarningStrip" type="TactileWarningStripEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of the tactile warning strips (in the direction of the PATH LINK). +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileWarningStripContrast" type="xsd:boolean" minOccurs="0" default="true">
				<xsd:annotation>
					<xsd:documentation>Indicates whether the color of the possible warning strip is sufficiently contrasted with the color of the floor. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileGuidingStrip" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates whether there are guiding strips. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TactileGuidingStripStatus" type="TactileGuidingStripStatusEnumeration" minOccurs="0" default="goodAndContrasted">
				<xsd:annotation>
					<xsd:documentation>Provides additional details on possible guiding strip. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="EnvironmentPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Environmental properties of a SITE ELEMENT or DECK ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicUse" type="PublicUseEnumeration" default="all" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the component is available for public use or is restricted.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Covered" type="CoveredEnumeration" default="indoors" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the component is Indoors or outdoors. Default is Indoors.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gated" type="GatedEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the component is within a gated area or freely accessible without a pass or ticket.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Lighting" type="LightingEnumeration" default="wellLit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the component is lit or not. Default is well Lit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllAreasWheelchairAccessible" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether all areas of the component are wheelchair accessible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonCapacity" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total number of people that component can contain.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- =====PATH  related====================================================== -->
	<xsd:simpleType name="NavigationTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Navigation type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="hallToQuay"/>
			<xsd:enumeration value="hallToStreet"/>
			<xsd:enumeration value="quayToHall"/>
			<xsd:enumeration value="quayToQuay"/>
			<xsd:enumeration value="quayToStreet"/>
			<xsd:enumeration value="streetToHall"/>
			<xsd:enumeration value="streetToQuay"/>
			<xsd:enumeration value="streetToSpace"/>
			<xsd:enumeration value="spaceToStreet"/>
			<xsd:enumeration value="spaceToHall"/>
			<xsd:enumeration value="hallToSpace"/>
			<xsd:enumeration value="spaceToSpace"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GradientEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Gradient steepness.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="verySteep"/>
			<xsd:enumeration value="steep"/>
			<xsd:enumeration value="medium"/>
			<xsd:enumeration value="gentle"/>
			<xsd:enumeration value="level"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TiltTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for tilt. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="strongLeftTilt"/>
			<xsd:enumeration value="mediumLeftTilt"/>
			<xsd:enumeration value="nearlyFlat"/>
			<xsd:enumeration value="mediumRightTilt"/>
			<xsd:enumeration value="strongRightTilt"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FlooringTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for flooring.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="carpet"/>
			<xsd:enumeration value="concrete"/>
			<xsd:enumeration value="asphalt"/>
			<xsd:enumeration value="cork"/>
			<xsd:enumeration value="fibreglassGrating"/>
			<xsd:enumeration value="glazedCeramicTiles"/>
			<xsd:enumeration value="plasticMatting"/>
			<xsd:enumeration value="ceramicTiles"/>
			<xsd:enumeration value="rubber"/>
			<xsd:enumeration value="steelPlate"/>
			<xsd:enumeration value="vinyl"/>
			<xsd:enumeration value="wood"/>
			<xsd:enumeration value="stone"/>
			<xsd:enumeration value="grass"/>
			<xsd:enumeration value="earth"/>
			<xsd:enumeration value="gravel"/>
			<xsd:enumeration value="uneven"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BorderTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for border types</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="wall"/>
			<xsd:enumeration value="grass"/>
			<xsd:enumeration value="earth"/>
			<xsd:enumeration value="barrier"/>
			<xsd:enumeration value="road"/>
			<xsd:enumeration value="cyclingLane"/>
			<xsd:enumeration value="step"/>
			<xsd:enumeration value="rail"/>
			<xsd:enumeration value="plants"/>
			<xsd:enumeration value="trees"/>
			<xsd:enumeration value="mud"/>
			<xsd:enumeration value="solidEdge"/>
			<xsd:enumeration value="water"/>
			<xsd:enumeration value="gravel"/>
			<xsd:enumeration value="handrail"/>
			<xsd:enumeration value="noPhysicalBorder"/>
			<xsd:enumeration value="otherPhysicalBorder"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FlooringStatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for the status of the flooring.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="good"/>
			<xsd:enumeration value="worn"/>
			<xsd:enumeration value="discomfortable"/>
			<xsd:enumeration value="hazardous"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TactileWarningStripEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TactileWarningStrip.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="tactileStripAtBeginning"/>
			<xsd:enumeration value="tactileStripAtEnd"/>
			<xsd:enumeration value="tactileStripAtBothEnds"/>
			<xsd:enumeration value="noTactileStrip"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TactileGuidingStripStatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for the status of the Tactile Guiding Strip.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="goodAndContrasted">
				<xsd:annotation>
					<xsd:documentation>When the guiding strip has the expected quality level.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="primitive">
				<xsd:annotation>
					<xsd:documentation>When there is no guiding strip as such but a decorative element or ledge can be used for this purpose.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="incorrect">
				<xsd:annotation>
					<xsd:documentation>When there is a guiding strip but it does not correspond to a path that can actually be used (passes through the middle of an obstacle without going around it for example).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="bad">
				<xsd:annotation>
					<xsd:documentation>When the guiding strip is degraded and difficult to interpret.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccessFeatureEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for an access feature.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="lift"/>
			<xsd:enumeration value="escalator"/>
			<xsd:enumeration value="freightElevator"/>
			<xsd:enumeration value="travelator"/>
			<xsd:enumeration value="ramp"/>
			<xsd:enumeration value="stairs"/>
			<xsd:enumeration value="seriesOfStairs"/>
			<xsd:enumeration value="ladder"/>
			<xsd:enumeration value="shuttle"/>
			<xsd:enumeration value="crossing"/>
			<xsd:enumeration value="barrier"/>
			<xsd:enumeration value="narrowEntrance"/>
			<xsd:enumeration value="hall"/>
			<xsd:enumeration value="concourse"/>
			<xsd:enumeration value="confinedSpace"/>
			<xsd:enumeration value="queueManagement"/>
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="openSpace"/>
			<xsd:enumeration value="street"/>
			<xsd:enumeration value="pavement"/>
			<xsd:enumeration value="footpath"/>
			<xsd:enumeration value="passage"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccessFeatureListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for a list of access features.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AccessFeatureEnumeration"/>
	</xsd:simpleType>
	<!-- =====Site related ==================================================== -->
	<xsd:simpleType name="LightingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Lighting.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="wellLit"/>
			<xsd:enumeration value="poorlyLit"/>
			<xsd:enumeration value="unlit"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PublicUseEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for public use.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="disabledPublicOnly"/>
			<xsd:enumeration value="authorisedPublicOnly"/>
			<xsd:enumeration value="staffOnly"/>
			<xsd:enumeration value="publicOnly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CoveredEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for covered.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="indoors"/>
			<xsd:enumeration value="outdoors"/>
			<xsd:enumeration value="covered"/>
			<xsd:enumeration value="mixed"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="true">
				<xsd:annotation>
					<xsd:documentation>Value to be used, if covered is used as a "boolean". Equals covered. Deprecated. -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="false">
				<xsd:annotation>
					<xsd:documentation>Value to be used, if covered is used as a "boolean". Equals outdoors. Deprecated. -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GatedEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for gated.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="gatedArea"/>
			<xsd:enumeration value="openArea"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccessSpaceTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ACCESS SPACE TYPEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="concourse"/>
			<xsd:enumeration value="bookingHall"/>
			<xsd:enumeration value="forecourt"/>
			<xsd:enumeration value="underpass"/>
			<xsd:enumeration value="overpass"/>
			<xsd:enumeration value="passage"/>
			<xsd:enumeration value="passageSection"/>
			<xsd:enumeration value="lift"/>
			<xsd:enumeration value="gallery"/>
			<xsd:enumeration value="garage"/>
			<xsd:enumeration value="shop"/>
			<xsd:enumeration value="waitingRoom"/>
			<xsd:enumeration value="restaurant"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="staircase"/>
			<xsd:enumeration value="wc"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassageTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Passage Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="pathway"/>
			<xsd:enumeration value="corridor"/>
			<xsd:enumeration value="overpass"/>
			<xsd:enumeration value="underpass"/>
			<xsd:enumeration value="tunnel"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
