XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_modeOfOperation_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_modeOfOperation_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs"><Aggregation>main schema</Aggregation><Audience>e-service developers</Audience><Coverage>Europe</Coverage><Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator><Date><Created>2020-10-03</Created></Date><Date><Modified>2021-07-09</Modified>Revise name sto allign with TM 
							VehicleRentalOperation --&gt; VehicleRental, VehicleSharingOperation --&gt; VehicleSharing, VehiclePoolingOperation --&gt; VehiclePooling
				</Date><Description><p>NeTEx - Network Exchange. This subschema defines common MODE OF OPERATION types.</p></Description><Format><MediaType>text/xml</MediaType><Syntax>http://www.w3.org/2001/XMLSchema</Syntax><Description>XML schema, W3C Recommendation 2001</Description></Format>m
			<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_modeOfOperation_version.xsd</Identifier><Language>[ISO 639-2/B] ENG</Language><Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher><Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights><Source><ul><li>Derived from the Transmodel standards.</li></ul></Source><Status>Version 1.0</Status><Subject><Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category><Project>CEN TC278 WG3 SG9.</Project></Subject><Title>NeTEx Network Exchange - MODE OF OPERATION types.</Title><Type>Standard</Type></Metadata>
		</xsd:appinfo>
		<xsd:documentation>MODE OF OPERATION types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_modeOfOperation_support.xsd"/>
	<xsd:include schemaLocation="netex_mode_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:group name="VehicleModeCharacterisationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements characterising a PUBLIC TRANSPORT MODE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration">
				<xsd:annotation>
					<xsd:documentation>A PUBLIC TRANSPORT MODE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="AllSubmodeChoiceGroup"/>
			<xsd:element ref="ModeOfOperation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ModesInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>MODE elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="openModes" type="openModesRelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OPEN MODES in FRAME. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modesOfOperation" type="modesOfOperationRelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MODES OF OPERATION in frame. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== MODES OF OPERATION =================================================== -->
	<xsd:complexType name="modesOfOperationRelStructure">
		<xsd:annotation>
			<xsd:documentation>SUBMODEs associated with entity.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ModeOfOperation_Dummy" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ModeOfOperation_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Dummy type to work around SG limitations.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ModeOfOperation" abstract="true" substitutionGroup="ModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>The use of any kind of vehicle to perform a trip using any mode of operation, this can be a CONVENTIONAL, ALTERNATIVE or a PERSONAL MODE OF OPERATION. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ModeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ModeOfOperationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ModeOfOperationIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ModeOfOperation_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ModeOfOperationGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ModeOfOperationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfModeOfOperationRef" minOccurs="0"/>
			<xsd:element name="submodes" type="submodes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SUBMODEs associated with MODE OF OPERATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ===== CONVENTIONAL MODEs ================================================= -->
	<xsd:element name="ConventionalModeOfOperation_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="ModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>Dummy type to work around SG limitations.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConventionalModeOfOperation" abstract="true" substitutionGroup="ModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>Legacy mode of operation which is provided as a scheduled and/or flexible publicly advertised transport offer. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ConventionalModeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ModeOfOperationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ConventionalModeOfOperationIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ConventionalModeOfOperation_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a CONVENTIONAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ModeOfOperation_ValueStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ScheduledOperation" substitutionGroup="ConventionalModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>The operation of a transportation using any kind of vehicle with a predefined time table. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ScheduledModeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ModeOfOperationGroup"/>
						</xsd:sequence>
						<xsd:group ref="ScheduledModeOfOperationGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="ScheduledModeOfOperationIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ScheduledModeOfOperation_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SCHEDULED MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ConventionalModeOfOperation_ValueStructure">
				<xsd:group ref="ScheduledModeOfOperationGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ScheduledModeOfOperationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SCHEDULED MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ScheduledOperationType" type="ScheduledOperationTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed values for SCHEDULED MODE OF OPERATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="FlexibleOperation" substitutionGroup="ConventionalModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>Passenger transport operation linked to a fixed network/schedule but offering flexibility, in order for instance, to optimise the service or to satisfy passenger demand. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexibleModeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ModeOfOperationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FlexibleModeOfOperationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexibleModeOfOperationIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleModeOfOperation_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FLEXIBLE MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ConventionalModeOfOperation_ValueStructure">
				<xsd:group ref="FlexibleModeOfOperationGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexibleModeOfOperationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FLEXIBLE MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FlexibleOperationType" type="FlexibleOperationTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed values for FLEXIBLE MODE OF OPERATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ====== ALTERNATIVE MODEs =================================================== -->
	<xsd:element name="AlternativeModeOfOperation_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="ModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>Dummy type to work around SG limitations.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternativeModeOfOperation" substitutionGroup="ModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>Any publicly advertised mode of operation different from the CONVENTIONAL MODE OF OPERATION, for example: VEHICLE SHARING, VEHICLE RENTAL, VEHICLE POOLING. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AlternativeModeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ModeOfOperationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AlternativeModeOfOperationIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AlternativeModeOfOperation_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a ALTERNATIVE MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ModeOfOperation_ValueStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="VehicleRental" substitutionGroup="AlternativeModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>An ALTERNATIVE MODE OF OPERATION of a vehicle, part of a FLEET (in general privately owned), available for use for a certain period of time and fee, with the constraint to bring it back at specified agencies. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleRentalModeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ModeOfOperationGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleRentalModeOfOperationGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleRentalIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE RENTAL MODE OF OPERATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleRentalModeOfOperation_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE RENTAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AlternativeModeOfOperation_ValueStructure">
				<xsd:group ref="VehicleRentalModeOfOperationGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleRentalModeOfOperationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE RENTAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleRentalType" type="VehicleRentalTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed values for VEHICLE RENTAL MODE.OF OPERATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="VehicleSharing" substitutionGroup="AlternativeModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>Short term VEHICLE RENTAL where the vehicle can be taken from and parked at different places in the urban area, possibly without the constraint to bring back the vehicle to a specific location. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleSharingModeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ModeOfOperationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="VehicleSharingType" type="VehicleSharingTypeEnumeration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Allowed values for VEHICLE SHARING MODE.OF OPERATION.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleSharingIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleSharingModeOfOperation_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE SHARING MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AlternativeModeOfOperation_ValueStructure">
				<xsd:group ref="VehicleSharingModeOfOperationGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleSharingModeOfOperationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE SHARING MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleSharingType" type="VehicleSharingTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed values for VEHICLE SHARING MODE.OF OPERATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="VehiclePooling" substitutionGroup="AlternativeModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>An ALTERNATIVE MODE OF OPERATION of a privately-owned vehicle consisting in sharing the vehicle for a trip between the driver who is at the same time performing a trip and at least another traveller. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehiclePoolingModeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ModeOfOperationGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehiclePoolingModeOfOperationGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehiclePoolingIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="changed" type="xsd:dateTime" use="optional">
						<xsd:annotation>
							<xsd:documentation>Date ENTITY or version was last changed.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingModeOfOperation_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE POOLING MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AlternativeModeOfOperation_ValueStructure">
				<xsd:group ref="VehiclePoolingModeOfOperationGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehiclePoolingModeOfOperationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE POOLING MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehiclePoolingType" type="VehiclePoolingTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed values for VEHICLE POOLING MODE.OF OPERATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ====== PERSONAL MODEs  ============================================ -->
	<xsd:element name="PersonalModeOfOperation" substitutionGroup="ModeOfOperation_Dummy">
		<xsd:annotation>
			<xsd:documentation>A non-advertised mode of operation of vehicles by persons using their own vehicle. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PersonalModeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ModeOfOperationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="PersonalOperationType" type="PersonalOperationTypeEnumeration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Allowed values for PERSONAL MODE. OF OPERATION</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PersonalModeOfOperationIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PersonalModeOfOperation_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PERSONAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ModeOfOperation_ValueStructure">
				<xsd:group ref="PersonalModeOfOperationGroup">
					<xsd:annotation>
						<xsd:documentation>Elements for a PERSONAL MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:group>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PersonalModeOfOperationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE POOLING MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PersonalOperationType" type="PersonalOperationTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed values for PERSONAL MODE OF OPERATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!--====== TYPES OF MODE=======================================================-->
	<xsd:element name="TypeOfModeOfOperation" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification for a MODE OF OPERATION. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfModeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfModeOfOperationIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfModeOfOperation_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
