XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_dayType_propertiesOfDay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_dayType_propertiesOfDay">
	<xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
	<xsd:include schemaLocation="../netex_utility/netex_utility_xml.xsd"/>
	<xsd:include schemaLocation="netex_country_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date>
					<Modified>2019-03-12</Modified>Eura-63 Add  DayOfMonth option to cover fares that are only available from 1st of the emonth 
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines PROPERTIES OF DAY </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_dayType_propertiesOfDay.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - Properties OF Day  as types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>Properties of Day types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="propertiesOfDay_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of properties of day.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PropertyOfDay" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PropertyOfDay">
		<xsd:annotation>
			<xsd:documentation>A property which a day may possess, such as school holiday, weekday, summer, winter etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="PropertyOfDayStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PropertyOfDayStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Property of Day.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of PROPERTY OF DAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of PROPERTY OF DAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="PropertyOfDayGroup">
				<xsd:annotation>
					<xsd:documentation>Elements of PROPERTY OF DAY. Logically ANDed Together.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="PropertyOfDayGroup">
		<xsd:annotation>
			<xsd:documentation>Properties of Day. Logically ANDed Together.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DaysOfWeek" type="DaysOfWeekListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Days of week Monday to Sunday, Everyday. Up to seven allowed. Default is Everyday.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WeeksOfMonth" type="WeeksOfMonthListOfEnumerations" default="EveryWeek" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Week of Month. (Default is EveryWeek)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="MonthOfYear" type="xsd:gMonth" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>For those day types that occur on the same month every year; a  month as a number.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DayOfMonth" type="xsd:gDay" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>For those day types that occur on the same day of the month every year; a  a as a number.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DayOfYear" type="xsd:gMonthDay" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>For those day types that occur on the same day every year, month and day,</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="CountryRef" type="CountryRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to COUNTRY for Holiday.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HolidayTypes" type="HolidayTypesListOfEnumerations" default="AnyDay" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of holiday. Default is Any day.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Seasons" type="SeasonsListOfEnumerations" default="Perennially" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Seasons (Default is Perennially)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Tides" type="TidesListOfEnumerations" default="AllTides" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Tides. Default is All Tides.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayEvent" type="DayEventEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Events happening on day.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Crowding" type="CrowdingEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Relative busyness of day.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:simpleType name="DaysOfWeekListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for List of Days of the Week.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="DayOfWeekEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="DayOfWeekEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Day of the Week.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Monday"/>
			<xsd:enumeration value="Tuesday"/>
			<xsd:enumeration value="Wednesday"/>
			<xsd:enumeration value="Thursday"/>
			<xsd:enumeration value="Friday"/>
			<xsd:enumeration value="Saturday"/>
			<xsd:enumeration value="Sunday"/>
			<xsd:enumeration value="Everyday"/>
			<xsd:enumeration value="Weekdays"/>
			<xsd:enumeration value="Weekend"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WeeksOfMonthEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Weeks of the Month.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="EveryWeek"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WeeksOfMonthListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for List of Weeks of the month.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="WeekOfMonthEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="WeekOfMonthEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Week of the Month.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="EveryWeek"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HolidayTypesListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Weeks of the month.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="HolidayTypeEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="HolidayTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Holiday types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AnyDay"/>
			<xsd:enumeration value="WorkingDay"/>
			<xsd:enumeration value="SchoolDay"/>
			<xsd:enumeration value="NotHoliday"/>
			<xsd:enumeration value="NotWorkingDay"/>
			<xsd:enumeration value="NotSchoolDay"/>
			<xsd:enumeration value="AnyHoliday"/>
			<xsd:enumeration value="LocalHoliday"/>
			<xsd:enumeration value="RegionalHoliday"/>
			<xsd:enumeration value="NationalHoliday"/>
			<xsd:enumeration value="HolidayDisplacementDay"/>
			<xsd:enumeration value="EveOfHoliday"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SeasonsListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for List of Seasons.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="SeasonEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="SeasonEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Season.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Spring"/>
			<xsd:enumeration value="Summer"/>
			<xsd:enumeration value="Autumn"/>
			<xsd:enumeration value="Winter"/>
			<xsd:enumeration value="Perennially"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TidesListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for List of Tides.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="TideEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="TideEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Tides.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HighTide"/>
			<xsd:enumeration value="LowTide"/>
			<xsd:enumeration value="NeapTide"/>
			<xsd:enumeration value="AllTides"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CrowdingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Crowdedness.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="veryQuiet"/>
			<xsd:enumeration value="quiet"/>
			<xsd:enumeration value="normal"/>
			<xsd:enumeration value="busy"/>
			<xsd:enumeration value="veryBusy"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DayEventEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for DAY EVENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="anyDay"/>
			<xsd:enumeration value="normalDay"/>
			<xsd:enumeration value="marketDay"/>
			<xsd:enumeration value="matchDay"/>
			<xsd:enumeration value="eventDay"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ====Time zone======================================================= -->
</xsd:schema>
