XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_trainElementType_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_trainElementType_support">
	<xsd:include schemaLocation="netex_trainElement_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2024-02-11</Created>Transmodel revision of TRAINN ELEMENT TYPES - add specifc subtype PoweredTrain, UnpoweredTrain, Tractiveelement TrailingElement
				</Date>
				<Date>
					<Modified>2025-04-26</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE TYPE identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_trainElement_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,  standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TRAIN ELEMENT TYPE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>TYPES for TRAIN ELEMENT TYPES</xsd:documentation>
	</xsd:annotation>
	<!-- ====== POWERED TRAIN ELEMENT  =================================================== -->
	<xsd:simpleType name="PoweredTrainIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POWERED TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TrainIdType"/>
	</xsd:simpleType>
	<xsd:element name="PoweredTrainRef" type="PoweredTrainRefStructure" substitutionGroup="TrainRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a POWERED TRAIN. v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PoweredTrainRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a POWERED TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TrainRefStructure">
				<xsd:attribute name="ref" type="PoweredTrainIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POWERED TRAIN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassPoweredTrainRefStructureType" default="PoweredTrain">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for PoweredTrainRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====== UNPOWERED TRAIN ELEMENT  =================================================== -->
	<xsd:simpleType name="UnpoweredTrainIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a UNPOWERED TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TrainIdType"/>
	</xsd:simpleType>
	<xsd:element name="UnpoweredTrainRef" type="UnpoweredTrainRefStructure" substitutionGroup="TrainRef" default="false">
		<xsd:annotation>
			<xsd:documentation>Reference to a UNPOWERED TRAIN. v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UnpoweredTrainRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a UNPOWERED TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TrainRefStructure">
				<xsd:attribute name="ref" type="UnpoweredTrainIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a UNPOWERED TRAIN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassUnpoweredTrainRefStructureType" default="UnpoweredTrain">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for UnpoweredTrainRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====== TRACTIVE  ELEMENT  =================================================== -->
	<xsd:simpleType name="TractiveElementTypeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRACTIVE ELEMENT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TrainElementTypeIdType"/>
	</xsd:simpleType>
	<xsd:element name="TractiveElementTypeRef" type="TractiveElementTypeRefStructure" substitutionGroup="TrainElementTypeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRACTIVE ELEMENT TYPE. v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TractiveElementTypeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRACTIVE ELEMENT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TrainElementTypeRefStructure">
				<xsd:attribute name="ref" type="TractiveElementTypeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRACTIVE ELEMENT TYPE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTractiveElementTypeRefStructureType" default="TractiveElementType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TractiveElementTypeRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====== TRAILING  ELEMENT  =================================================== -->
	<xsd:simpleType name="TrailingElementTypeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAILING ELEMENT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TrainElementTypeIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrailingElementTypeRef" type="TrailingElementTypeRefStructure" substitutionGroup="TrainElementTypeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAILING ELEMENT TYPE. v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrailingElementTypeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRAILING ELEMENT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TrainElementTypeRefStructure">
				<xsd:attribute name="ref" type="TrailingElementTypeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRAILING ELEMENT TYPE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTrailingElementTypeRefStructureType" default="TrailingElementType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TrailingElementTypeRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
