XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_sensorEquipment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_sensorEquipment_support">
	<xsd:include schemaLocation="netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2023-02-08</Created>
				</Date>
				<Date><Modified>2023-02-08</Modified>
          Split out from Charging  Equipoment
        </Date>
				<Date><Created>2023-02-08</Created>Split out from Charging  Equipoment
				</Date>
				<Date><Modified>2023-12-08</Modified>Move SENSOR IN SPOT declarations to DECK PLAN,  adn SEATING PLAN
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines SENSOR EQUIPMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_sensorEquipment_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Rights>
          Unclassified
          <Copyright>CEN, Crown Copyright 2009-2023</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Added fro NExTex new modes.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - SENSOR EQUIPMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SENSOR EQUIPMENT identifier types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== SENSOR EQUIPMENT =========================================== -->
	<xsd:simpleType name="SensorEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of SENSOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InstalledEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="SensorEquipmentRef" type="SensorEquipmentRefStructure" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SENSOR EQUIPMENT. +V2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SensorEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SENSOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InstalledEquipmentRefStructure">
				<xsd:attribute name="ref" type="SensorEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SENSOR EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSensorEquipmentRefStructureType" default="SensorEquipment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SensorEquipmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SensorCommunicationsEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Sensor Communications.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="cable"/>
			<xsd:enumeration value="wifi"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ===== SPOT SENSOR =================================================== -->
	<xsd:simpleType name="SpotSensorIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of SPOT SENSOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SensorEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="SpotSensorRef" type="SpotSensorRefStructure" substitutionGroup="SensorEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SPOT SENSOR. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SpotSensorRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SPOT SENSOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SensorEquipmentRefStructure">
				<xsd:attribute name="ref" type="SpotSensorIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SPOT SENSOR.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSpotSensorRefStructureType" default="SpotSensor">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SpotSensorRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== ENTRANCE SENSOR =================================================== -->
	<xsd:simpleType name="EntranceSensorIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of ENTRANCE SENSOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SensorEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="EntranceSensorRef" type="EntranceSensorRefStructure" substitutionGroup="SensorEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an ENTRANCE SENSOR. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EntranceSensorRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ENTRANCE SENSOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SensorEquipmentRefStructure">
				<xsd:attribute name="ref" type="EntranceSensorIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ENTRANCE SENSOR.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceSensorRefStructureType" default="EntranceSensor">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for EntranceSensorRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== SENSOR IN SPOT  =========================================== -->
	<xsd:simpleType name="SensorInSpotIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of SENSOR IN SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SensorInSpotRef" type="SensorInSpotRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SENSOR IN SPOT. +V2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SensorInSpotRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SENSOR IN SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="SensorInSpotIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SENSOR IN SPOT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSensorInSpotRefStructureType" default="SensorInSpot">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SensorInSpotRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== SENSOR IN ENTRANCE  =========================================== -->
	<xsd:simpleType name="SensorInEntranceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of SENSOR IN ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SensorInEntranceRef" type="SensorInEntranceRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SENSOR IN ENTRANCE. +V2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SensorInEntranceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SENSOR IN ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="SensorInEntranceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SENSOR IN ENTRANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSensorInEntranceRefStructureType" default="SensorInEntrance">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SensorInEntranceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
