XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_modeOfOperation_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_modeOfOperation_support">
	<xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>MODE OF OPERATION</Created>
				</Date>
				<Date>
					<Modified>MODE OF OPERATION</Modified>
				</Date>
				<Date><Modified>2021-07-09</Modified>Revise name sto allign with TM 
							VehicleRentalOperation --&gt; VehicleRental, VehicleSharingOperation --&gt; VehicleSharing, VehiclePoolingOperation --&gt; VehiclePooling
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines common MODE OF OPERATION identifier  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_modeOfOperation_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CENTC278WG3 </Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - MODE OF OPERATION identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NetEX: MODE OF OPERATION identifier types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:simpleType name="ModeOfOperationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="ModeOfOperationRef" type="ModeOfOperationRefStructure" abstract="true" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MODE OF OPERATION. +V1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ModeOfOperationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="ModeOfOperationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassModeOfOperationRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ModeOfOperationRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ConventionalModeOfOperationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CONVENTIONAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ModeOfOperationIdType"/>
	</xsd:simpleType>
	<xsd:element name="ConventionalModeOfOperationRef" type="ConventionalModeOfOperationRefStructure" abstract="true" substitutionGroup="ModeOfOperationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CONVENTIONAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ConventionalModeOfOperationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a CONVENTIONAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ModeOfOperationRefStructure">
				<xsd:attribute name="ref" type="ConventionalModeOfOperationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CONVENTIONAL MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassModeOfOperationRefStructureType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ScheduledModeOfOperationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SCHEDULED MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ConventionalModeOfOperationIdType"/>
	</xsd:simpleType>
	<xsd:element name="ScheduledModeOfOperationRef" type="ScheduledModeOfOperationRefStructure" substitutionGroup="ConventionalModeOfOperationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SCHEDULED MODE OF OPERATION. +V1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ScheduledModeOfOperationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SCHEDULED MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ConventionalModeOfOperationRefStructure">
				<xsd:attribute name="ref" type="ScheduledModeOfOperationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SCHEDULED MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassModeOfOperationRefStructureType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ScheduledOperationTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ScheduledOperationModeOfOperation.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="scheduledService"/>
			<xsd:enumeration value="eventBasedService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="FlexibleModeOfOperationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FLEXIBLE MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ConventionalModeOfOperationIdType"/>
	</xsd:simpleType>
	<xsd:element name="FlexibleModeOfOperationRef" type="FlexibleModeOfOperationRefStructure" substitutionGroup="ConventionalModeOfOperationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FLEXIBLE MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FlexibleModeOfOperationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a FLEXIBLE MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ConventionalModeOfOperationRefStructure">
				<xsd:attribute name="ref" type="FlexibleModeOfOperationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FLEXIBLE MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassModeOfOperationRefStructureType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="FlexibleOperationTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for FlexibleModeOfOperation.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="flexibleRoute"/>
			<xsd:enumeration value="flexibleArea"/>
			<xsd:enumeration value="demandResponsive"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AlternativeModeOfOperationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ALTERNATIVE MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ModeOfOperationIdType"/>
	</xsd:simpleType>
	<xsd:element name="AlternativeModeOfOperationRef" type="AlternativeModeOfOperationRefStructure" abstract="true" substitutionGroup="ModeOfOperationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ALTERNATIVE MODE OF OPERATION. +V1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AlternativeModeOfOperationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ALTERNATIVE MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ModeOfOperationRefStructure">
				<xsd:attribute name="ref" type="AlternativeModeOfOperationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ALTERNATIVE MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassAlternativeModeOfOperationRefStructureType" default="AlternativeModeOfOperation">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for AlternativeModeOfOperationRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VehicleRentalIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE RENTAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AlternativeModeOfOperationIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleRentalRef" type="VehicleRentalModeOfOperationRefStructure" substitutionGroup="AlternativeModeOfOperationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE RENTAL MODE OF OPERATION. +V1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleRentalModeOfOperationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE RENTAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AlternativeModeOfOperationRefStructure">
				<xsd:attribute name="ref" type="VehicleRentalIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE RENTAL MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassAlternativeModeOfOperationRefStructureType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="VehicleRentalTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for VehiclePRentalModeOfOperation.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="vehicleHire"/>
			<xsd:enumeration value="vehicleLease"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VehicleSharingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE SHARING MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AlternativeModeOfOperationIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleSharingRef" type="VehicleSharingModeOfOperationRefStructure" substitutionGroup="AlternativeModeOfOperationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE SHARING MODE OF OPERATION. +V1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleSharingModeOfOperationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE SHARING MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AlternativeModeOfOperationRefStructure">
				<xsd:attribute name="ref" type="VehicleSharingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE SHARING MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassAlternativeModeOfOperationRefStructureType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="VehicleSharingTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for VehicleSharingModeOfOperation.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="carSharingClub"/>
			<xsd:enumeration value="peerToPeerCarSharing"/>
			<xsd:enumeration value="vehicleSharing"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VehiclePoolingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE POOLING MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AlternativeModeOfOperationIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehiclePoolingRef" type="VehiclePoolingModeOfOperationRefStructure" substitutionGroup="AlternativeModeOfOperationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE POOLING MODE OF OPERATION. +V1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingModeOfOperationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE POOLING MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AlternativeModeOfOperationRefStructure">
				<xsd:attribute name="ref" type="VehiclePoolingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE POOLING MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassAlternativeModeOfOperationRefStructureType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="VehiclePoolingTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for VehiclePoolingModeOfOperation.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="taxi"/>
			<xsd:enumeration value="appBookedTaxi"/>
			<xsd:enumeration value="sharedTaxi"/>
			<xsd:enumeration value="prebookedTaxi"/>
			<xsd:enumeration value="chaffeuredVehicle"/>
			<xsd:enumeration value="dynamicCarPooling"/>
			<xsd:enumeration value="longDistanceCarPooling"/>
			<xsd:enumeration value="commuterCarPooling"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PersonalModeOfOperationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PERSONAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ModeOfOperationIdType"/>
	</xsd:simpleType>
	<xsd:element name="PersonalModeOfOperationRef" type="PersonalModeOfOperationRefStructure" substitutionGroup="ModeOfOperationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PERSONAL MODE OF OPERATION. +V1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PersonalModeOfOperationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PERSONAL MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ModeOfOperationRefStructure">
				<xsd:attribute name="ref" type="PersonalModeOfOperationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PERSONAL MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassPersonalModeOfOperationRefStructureType" default="PersonalModeOfOperation">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for PersonalModeOfOperationRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PersonalOperationTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for VehiclePoolingModeOfOperation.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="ownCar"/>
			<xsd:enumeration value="privateLift">
				<xsd:annotation>
					<xsd:documentation>+v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfModeOfOperationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfModeOfOperationRef" type="TypeOfModeOfOperationRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfModeOfOperationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF MODE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfModeOfOperationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF MODE OF OPERATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfModeOfOperationRefStructureType" default="TypeOfModeOfOperation">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TypeOfModeOfOperationRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
