XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_country_version.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_topographicPlace_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. Topographic Model subschema.</p>
				</Description>
				<Format>
					<Mediape>text/xml</Mediape>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_topographicPlace_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 0.4 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - TOPOGRAPHIC types.</Title>
				<pe>Standard</pe>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>TOPOGRAPHIC types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===IFOPT Name Space includes (Which also may Reference SIRI) ============================================================== -->
	<xsd:include schemaLocation="netex_address_version.xsd"/>
	<xsd:include schemaLocation="netex_access_version.xsd"/>
	<xsd:include schemaLocation="netex_topographicPlace_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:complexType name="topographicPlacesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TOPOGRAPHIC PLACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TopographicPlace" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="topographicPlaces_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Collection of TOPOGRAPHIC PLACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence maxOccurs="unbounded">
					<xsd:element ref="TopographicPlaceRef"/>
					<xsd:element ref="TopographicPlace" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="groupsOfPlacesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of GROUP OF PLACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfPlaces" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TopographicPlace" substitutionGroup="Place">
		<xsd:annotation>
			<xsd:documentation>A town, city, village, suburb, quarter or other name settlement within a country. Provides a Gazetteer of Transport related place names.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TopographicPlace_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="TopographicDescriptiveGroup"/>
							<xsd:group ref="TopographicRelationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TopographicPlaceIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of TOPOGRAPHIC PLACE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TopographicPlace_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TOPOGRAPHIC PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Place_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TopographicDescriptiveGroup"/>
					<xsd:group ref="TopographicRelationGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TopographicDescriptiveGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a TOPOGRAPHIC PLACE DESCRIPTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsoCode" type="SubdivisionIdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ISO 3166-2 code for subdivision of a country if relevant. E.g. GB-CAM.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Descriptor" type="TopographicPlaceDescriptor_VersionedChildStructure">
				<xsd:annotation>
					<xsd:documentation>Structured text descriptor of TOPOGRAPHIC PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alternativeDescriptors" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Collection of aliases for the TOPOGRAPHIC PLACE.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="topographicPlaceDescriptors_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TopographicPlaceType" type="TopographicPlaceTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of the TOPOGRAPHIC PLACE as a settlement. Enumerated value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlaceCentre" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the TOPOGRAPHIC PLACE is considered to be at the centre of a town. Default is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostCode" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Post code or partial post code associated with area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TopographicRelationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing the relation of a TOPOGRAPHIC PLACE to other places.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CountryRef" minOccurs="0"/>
			<xsd:element name="otherCountries" type="countryRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>For TOPOGRAPHIC PLACEs thats span borders,  references to additional  COUNTRY or COUNTRIEs  that place lies in.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ParentTopographicPlaceRef" type="TopographicPlaceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parent TOPOGRAPHIC PLACE. Reference to another TOPOGRAPHIC PLACE that contains the child TOPOGRAPHIC PLACE completely. Must not be cyclic.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adjacentPlaces" type="topographicPlaceRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TOPOGRAPHIC PLACEs which are adjacent to the TOPOGRAPHIC PLACE. or which partially overlay. 
						N.B. this should not be used for spatial containment. Instead the Parent Site should be used the TOPOGRAPHIC PLACE which completely contain the TOPOGRAPHIC PLACE, and on child TOPOGRAPHIC PLACEs for localities completely contained in the TOPOGRAPHIC PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="containedIn" type="topographicPlaceRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TOPOGRAPHIC PLACEs other than then parent in which the place can be regarded as contained. a.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accesses" type="accesses_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Access Links to other PLACEs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TOPOGRAPHIC PLACE========================================= -->
	<xsd:complexType name="topographicPlaceDescriptors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment of TOPOGRAPHIC PLACE DESCRIPTORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element name="TopographicPlaceDescriptor" type="TopographicPlaceDescriptor_VersionedChildStructure" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TopographicPlaceDescriptor_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TOPOGRAPHIC PLACE DESCRIPTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:element name="Name" type="MultilingualString">
						<xsd:annotation>
							<xsd:documentation>Name of the TOPOGRAPHIC PLACE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Short name for TOPOGRAPHIC PLACE to be used when qualifying children.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Qualify" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Qualifier to use when presenting name to distinguish it from other similarly named elements.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="QualifierName" type="MultilingualString">
									<xsd:annotation>
										<xsd:documentation>Qualifying name. Place name characters only allowed.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element ref="TopographicPlaceRef" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==GROUP OF PLACEs=========================================================== -->
	<xsd:element name="GroupOfPlaces" abstract="false" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A grouping of PLACEs which will be commonly referenced for a specific purpose.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfPlaces_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPlacesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfPlacesIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of  GROUP OF PLACES.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfPlaces_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GROUP OF PLACES.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfPlacesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfPlacesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for GROUP OF PLACES.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="members" type="placeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PLACEs in GROUP OF PLACEs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CountryRef" minOccurs="0"/>
			<xsd:element name="MainPlaceRef" type="PlaceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Primary PLACE in GROUP OF PLACEs, if relevant.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TopographicPlaceView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of TOPOGRAPHIC PLACE. Data is derived through the relationship.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="TopographicPlace_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TopographicPlace_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TOPOGRAPHIC PLACE VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="TopographicPlaceRef" minOccurs="0"/>
					<xsd:element name="Name" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of the TOPOGRAPHIC PLACE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Short name for TOPOGRAPHIC PLACE to be used when qualifying children.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QualifierName" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Qualifying name. Place name characters only allowed.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CountryRef" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
