XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_mode_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_mode_support">
	<xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2014-03-31</Modified>Add cableway and lift
				</Date>
				<Date><Modified>2019-02-20</Modified>CR50 CD add SnowAndIce mode and submodes
				</Date>
				<Date><Modified>2019-03-25</Modified>NJSK  Revise - correct camel casing of snowAndIce,
								Add snowAndIce to AllModes
								Add ski and skate as access submodes and continuous submodes 
				</Date>
				<Date><Modified>2020-10-05</Modified>New Modes;
								Add scooter and motorcycle to AccessModes and AllModes
								Add independent mode for self drive, taxi etc 
								Add scooter and motorcycle to ContinuousModes
								FIX: add taxiRank for stopPlace types
				</Date>
				<Date><Modified>27-11-26</Modified>New Modes;
								Drop ContinuousModes 
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines common MODE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_mode_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
							 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - MODE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>MODE  identifier types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!--======Out of Vehicle==================================================================================-->
	<xsd:element name="AccessMode" type="AccessModeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Access MODE for SITEs and VEHICLE MEETING POINTs. Also used for TRANSFER and if in OTHER LEG of the TRIP a monomodal non-public transport is used.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AccessModeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Access MODEs for SITEs, VEHICLE MEETING POINTS and TRANSFER and for monomodal non-public transport OTHER LEG in TRIP.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="foot"/>
			<xsd:enumeration value="bicycle"/>
			<xsd:enumeration value="boat"/>
			<xsd:enumeration value="car"/>
			<xsd:enumeration value="taxi">
				<xsd:annotation>
					<xsd:documentation>Taxi can now be modeled as VEHICLE MODE as well.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="shuttle"/>
			<xsd:enumeration value="ski"/>
			<xsd:enumeration value="skate"/>
			<xsd:enumeration value="motorcycle"/>
			<xsd:enumeration value="scooter"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccessModeListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for List of MODES of transport applicable to timetabled public transport.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AccessModeEnumeration"/>
	</xsd:simpleType>
	<!--======Vehicle===================================================================================-->
	<xsd:element name="VehicleMode" type="AllModesEnumeration">
		<xsd:annotation>
			<xsd:documentation>VEHICLE MODE: a characterisation of the operation according to the means of transport (bus, tram, metro, train, ferry, ship).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="VehicleModeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for MODES of Public Transport applicable to timetabled public transport.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="air"/>
			<xsd:enumeration value="bus"/>
			<xsd:enumeration value="coach"/>
			<xsd:enumeration value="ferry"/>
			<xsd:enumeration value="metro"/>
			<xsd:enumeration value="rail"/>
			<xsd:enumeration value="trolleyBus"/>
			<xsd:enumeration value="tram"/>
			<xsd:enumeration value="water"/>
			<xsd:enumeration value="cableway"/>
			<xsd:enumeration value="funicular"/>
			<xsd:enumeration value="lift"/>
			<xsd:enumeration value="snowAndIce"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VehicleModeListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for List of PT MODES of transport applicable to timetabled public transport.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="VehicleModeEnumeration"/>
	</xsd:simpleType>
	<!--======Modes===================================================================================-->
	<!--======Modes===================================================================================-->
	<xsd:element name="RoadVehicleMode" type="AllModesEnumeration">
		<xsd:annotation>
			<xsd:documentation>Road Vehicle MODE: a characterisation of the operation according to the means of transport (bus, tram, coach).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="RoadVehicleModeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for MODES of Public Transport applicable to timetabled public transport.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="bus"/>
			<xsd:enumeration value="coach"/>
			<xsd:enumeration value="trolleyBus"/>
			<xsd:enumeration value="tram"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RoadVehicleModeListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for List of Road MODES of transport applicable to timetabled public transport.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="RoadVehicleModeEnumeration"/>
	</xsd:simpleType>
	<!--======Modes===================================================================================-->
	<xsd:element name="AllVehicleModes" type="AllVehicleModesOfTransportEnumeration">
		<xsd:annotation>
			<xsd:documentation>All MODEs including vehicle transport and self drive.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AllModesEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for r MODES: TPEG pti_table 01.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="anyMode"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="air"/>
			<xsd:enumeration value="bus"/>
			<xsd:enumeration value="trolleyBus"/>
			<xsd:enumeration value="tram"/>
			<xsd:enumeration value="coach"/>
			<xsd:enumeration value="rail"/>
			<xsd:enumeration value="intercityRail"/>
			<xsd:enumeration value="urbanRail"/>
			<xsd:enumeration value="metro"/>
			<xsd:enumeration value="water"/>
			<xsd:enumeration value="ferry"/>
			<xsd:enumeration value="cableway"/>
			<xsd:enumeration value="funicular"/>
			<xsd:enumeration value="lift"/>
			<xsd:enumeration value="snowAndIce"/>
			<xsd:enumeration value="taxi"/>
			<xsd:enumeration value="selfDrive">
				<xsd:annotation>
					<xsd:documentation>See pti12_x.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="foot"/>
			<xsd:enumeration value="bicycle"/>
			<xsd:enumeration value="motorcycle"/>
			<xsd:enumeration value="scooter"/>
			<xsd:enumeration value="car"/>
			<xsd:enumeration value="shuttle"/>
			<!-- NOT IN tpeg -->
			<!-- NOT IN tpeg -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AllModesListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for List of ALL MODES of transport.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AllModesEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="AllVehicleModesListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for List of PT MODES of transport applicable to timetabled public transport.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AllVehicleModesOfTransportEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="AllVehicleModesOfTransportEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for MODES of Transport : roughly based on TPEG pti_table 01. AllVehicleModesOfTransportEnumeration is the master list of Vehicle Modes in Transmodel. If a specific value applies, then general values like "other" are not to be used.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="all">
				<xsd:annotation>
					<xsd:documentation>If all modes are meant.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="unknown">
				<xsd:annotation>
					<xsd:documentation>Use only when no other entry applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="bus"/>
			<xsd:enumeration value="trolleyBus">
				<xsd:annotation>
					<xsd:documentation>Special type of bus with two overhead wires using spring-loaded trolley poles.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="tram"/>
			<xsd:enumeration value="coach">
				<xsd:annotation>
					<xsd:documentation>Bus for longer-distance service. This value specialises from bus through regulation, that the cross multiple metropolitan regions and that all passenger area seating. Also the seating layout is different.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="rail"/>
			<xsd:enumeration value="intercityRail">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED. Use mode rail with RailSubmode longDistance.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="urbanRail">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED. Use mode metro with MetroSubmode urbanRail (or in some few cases rail with RailSubmode local).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="metro">
				<xsd:annotation>
					<xsd:documentation>Within an urban area. For underground and railway.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="air">
				<xsd:annotation>
					<xsd:documentation>All air related mode. No special distinction is made.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="water">
				<xsd:annotation>
					<xsd:documentation>Most water related modes. The only specialisation is the mode ferry. In Transmodel also ship was used for this mode.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="cableway">
				<xsd:annotation>
					<xsd:documentation>Can be only two cabines or multiple.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="funicular">
				<xsd:annotation>
					<xsd:documentation>Cable railway on steep slope using two counterbalanced carriages.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="snowAndIce">
				<xsd:annotation>
					<xsd:documentation>A collection for all modes involving snow and ice.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="taxi"/>
			<xsd:enumeration value="ferry">
				<xsd:annotation>
					<xsd:documentation>Ferry can be passenger ferries and/or car ferries. The specialisation from water is the detailed schedule and usually the very rigid pattern with only a few stops on the route.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="lift">
				<xsd:annotation>
					<xsd:documentation>General Mode for elevators and for Modes moved by cable. Especially lifts are not only vertical elevators. If a better specialisation applies (like cableway) use that.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="selfDrive">
				<xsd:annotation>
					<xsd:documentation>For all alternative modes where a vehicle is driven by the user. See pti12_x.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="anyMode">
				<xsd:annotation>
					<xsd:documentation>To be avoided.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other">
				<xsd:annotation>
					<xsd:documentation>Use only when no other entry applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!--========================================================================================-->
	<!--======Modes - Open values===================================================================================-->
	<xsd:complexType name="openTransportModeRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRANSPORT MODE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="OpenTransportModeRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="OpenTransportModeIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a TRANSPORT MODE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="OpenTransportModeRef" type="OpenTransportModeRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRANSPORT MODE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OpenTransportModeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRANSPORT MODE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="OpenTransportModeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of MODe.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--======Modes===================================================================================-->
	<xsd:simpleType name="SubmodeIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SUBMODE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SubmodeRef" type="SubmodeRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SUBMODE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SubmodeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SUBMODE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="SubmodeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of SUBMODe.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--======Modes===================================================================================-->
	<xsd:complexType name="modeRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRANSPORT MODEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ModeRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ModeRef" type="ModeRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MODE and SUBMODE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ModeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a MODE and SUBMODE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SubmodeRefStructure">
				<xsd:attribute name="mode" type="AllVehicleModesOfTransportEnumeration" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--======STOP PLACE Types for different modes ======================================================================================-->
	<xsd:simpleType name="StopTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Types of STOP PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="onstreetBus"/>
			<xsd:enumeration value="onstreetTram"/>
			<xsd:enumeration value="airport"/>
			<xsd:enumeration value="railStation"/>
			<xsd:enumeration value="metroStation"/>
			<xsd:enumeration value="busStation"/>
			<xsd:enumeration value="coachStation"/>
			<xsd:enumeration value="tramStation"/>
			<xsd:enumeration value="harbourPort"/>
			<xsd:enumeration value="ferryPort"/>
			<xsd:enumeration value="ferryStop"/>
			<xsd:enumeration value="liftStation"/>
			<xsd:enumeration value="vehicleRailInterchange"/>
			<xsd:enumeration value="taxiRank"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
