XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_dayType_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by christophe duquesne (Dryade SARL) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_day_type_version">
	<xsd:include schemaLocation="netex_dayType_propertiesOfDay.xsd"/>
	<xsd:include schemaLocation="netex_dayType_support.xsd"/>
	<xsd:include schemaLocation="../netex_responsibility/netex_responsibility_version.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_grouping_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2014-03-16</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines DAY TYPE types </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_dayType_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - Properties OF Day  as types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: Day types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="dayTypesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DAY TYPEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DayType_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="timebandsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TIME BANDs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Timeband" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="groupOfTimebandsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  GROUP OF TIME BANDs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfTimebands" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="dayTypes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DAY TYPEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="DayTypeRef"/>
					<xsd:element ref="DayType_">
						<xsd:annotation>
							<xsd:documentation>A type of day characterized by one or more properties which affect public transport operation. For example: weekday in school holidays.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DayType_" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Dummy Supertype for DAY TYPE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DayType" substitutionGroup="DayType_">
		<xsd:annotation>
			<xsd:documentation>A type of day characterized by one or more properties which affect public transport operation. For example: weekday in school holidays.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DayType_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DayTypeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DayTypeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DayType_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="DayTypeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DayTypeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of DAY TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short name of DAY TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of DAY TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:group ref="DaySpanGroup">
				<xsd:annotation>
					<xsd:documentation>DAY TYPE length.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="properties" type="propertiesOfDay_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Properties of the DAY TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timebands" type="timebands_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIMEBANDs for the DAY TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DaySpanGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a Day Time Range.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="EarliestTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Earliest time that day starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayLength" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of day. Used to work out Latest time that day runs to.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==Timeband ========================================================= -->
	<xsd:complexType name="timebands_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIMEBANDs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TimebandRef"/>
					<xsd:element name="Timeband" type="Timeband_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A period in a day, significant for some aspect of public transport, e.g. similar traffic conditions or fare category.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Timeband" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A period in a day, significant for some aspect of public transport, e.g. similar traffic conditions or fare category.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Timeband_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Name" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Name of TIMEBAND.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:group ref="TimeSpanGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimebandIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Timeband_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TIMEBAND.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:element name="Name" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of TIMEBAND.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="TimeSpanGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a TIMEBAND.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeSpanGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StartTime" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>The (inclusive) start time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="EndTime" type="xsd:time">
						<xsd:annotation>
							<xsd:documentation>The (inclusive) end time.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DayOffset" type="DayOffsetType" default="0" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of days after start time that end time is.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="Duration" type="xsd:duration" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Interval from start at which TIME BAND ends. If omitted, the TIME BAND ends at the end of day.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- ==GroupOfTimebands ========================================================= -->
	<xsd:complexType name="groupOfTimebands_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GROUP OF TIMEBANDS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GroupOfTimebandsRef"/>
					<xsd:element name="GroupOfTimebands" type="GroupOfTimebands_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A period in a day, significant for some aspect of public transport, e.g. similar traffic conditions or fare category.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GroupOfTimebands" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A period in a day, significant for some aspect of public transport, e.g. similar traffic conditions or fare category.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfTimebands_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="timebands" type="timebandRefs_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The (inclusive) start time.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfTimebandsIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfTimebands_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a GROUP OF TIMEBANDS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:group ref="GroupOfTimebandsGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfTimebandsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timebands" type="timebandRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The (inclusive) start time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
</xsd:schema>
