XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_submode_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_submode_version">
	<xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2012-09-10</Modified> add Train Tram
				</Date>
				<Date>
					<Modified>2017-05-25</Modified> correctspelling of international for  Rail submode.  Add CharterTaxi submode
				</Date>
				<Date>
					<Modified>2017-08-17</Modified>.no Add AirportLinkRail as rail submode
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>Fix #42 by Seime from 2019.01.07  move  _canalBarge_ value from air to water modes.
						   NB this will break existing XML that uses _canalBarge_ value. 
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>CR #50  NJSK ntegrate with other changes     NJSK - revise capitalisation of canalBarge to use camelcase 
				</Date>
				<Date>
					<Modified>2019-02-20</Modified>CR50 CD add SnowAndIce mode and submodes	 unknown, undefined,  snowmobile,  snowcCat,  snowcoach,  terraBus, windsled, 
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>NJSK  Revise 
						(a) correct camel casing of snowAndIce,  
						(b) correct camel casing of  submodes 	 unknown, undefined,  snowMobile,  snowCat,  snowCoach,  terraBus, windSled,  
						(c) add snowAdnIce to submode choice
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines common SUB MODE types that qualify Mode types. These are based on TPEG values</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netx_reusableComponents}netex_submode_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - MODE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SUBMODE types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!--======Modes===================================================================================-->
	<xsd:complexType name="AllSubmodeStructure">
		<xsd:annotation>
			<xsd:documentation>Type for all Sub modes.</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="AllSubmodeChoiceGroup"/>
	</xsd:complexType>
	<xsd:group name="AllSubmodeChoiceGroup">
		<xsd:annotation>
			<xsd:documentation>All Sub Modes.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:group ref="PtSubmodeChoiceGroup"/>
			<xsd:group ref="PrivateSubmodeChoiceGroup"/>
		</xsd:choice>
	</xsd:group>
	<xsd:element name="TransportSubmode" type="TransportSubmodeStructure">
		<xsd:annotation>
			<xsd:documentation>A submode of a Public Transport MODE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TransportSubmodeStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Transport Sub mode.</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="PtSubmodeChoiceGroup">
			<xsd:annotation>
				<xsd:documentation>One of the PT Transport Submodes.</xsd:documentation>
			</xsd:annotation>
		</xsd:group>
	</xsd:complexType>
	<xsd:group name="PtNetworkSubodeChoiceGroup">
		<xsd:annotation>
			<xsd:documentation>Submode of PT Network modes.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AirSubmode"/>
			<xsd:element ref="BusSubmode"/>
			<xsd:element ref="CoachSubmode"/>
			<xsd:element ref="MetroSubmode"/>
			<xsd:element ref="RailSubmode"/>
			<xsd:element ref="TramSubmode"/>
			<xsd:element ref="WaterSubmode"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="PtSubmodeChoiceGroup">
		<xsd:annotation>
			<xsd:documentation>PT Transport Sub Modes.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AirSubmode"/>
			<xsd:element ref="BusSubmode"/>
			<xsd:element ref="CoachSubmode"/>
			<xsd:element ref="FunicularSubmode"/>
			<xsd:element ref="MetroSubmode"/>
			<xsd:element ref="TramSubmode"/>
			<xsd:element ref="TelecabinSubmode"/>
			<xsd:element ref="RailSubmode"/>
			<xsd:element ref="WaterSubmode"/>
			<xsd:element ref="SnowAndIceSubmode">
				<xsd:annotation>
					<xsd:documentation>Extra: Snow and Ice Submode. +v1.1s</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="PrivateSubmodeChoiceGroup">
		<xsd:annotation>
			<xsd:documentation>Non PT Road Submodes.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="TaxiSubmode"/>
			<xsd:element ref="SelfDriveSubmode"/>
		</xsd:choice>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RailSubmode" type="RailSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti02 Rail submodes loc13.
			See also See ERA B.4.7009 - Name: Item description code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="RailSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Rail MODEs of TRANSPORT: TPEG pti_table_02, train link loc_table_13.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="local"/>
			<xsd:enumeration value="highSpeedRail">
				<xsd:annotation>
					<xsd:documentation>See ERA B.4.7009 - Name: Item description code: (8 high speed train).
Long distance train formed by a unit capable for high speed running on high speed or normal lines most modern train unit</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="suburbanRailway">
				<xsd:annotation>
					<xsd:documentation>See ERA B.4.7009 - Name: Item description code: . (12 suburban)
Regional train organised by the regional government public transport in and around cities, running on its own freeways underground or overground, operational running with signals</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="regionalRail">
				<xsd:annotation>
					<xsd:documentation>See ERA B.4.7009 - Name: Item description code. (11 Regional)
Regional train organised by the regional government even if formed by a unit capable for high speed running on high speed lines</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="interregionalRail">
				<xsd:annotation>
					<xsd:documentation>See ERA B.4.7009 - Name: Item description code: (10 Interregional)
Regional train running in more than one region.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="longDistance">
				<xsd:annotation>
					<xsd:documentation>See ERA B.4.7009 - Name: Item description code: (9 Intercity).
Long distance train formed by a unit capable for high speed or not running on high speed or normal lines modern train unit high quality service restricted stopping pattern</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="international"/>
			<xsd:enumeration value="sleeperRailService"/>
			<xsd:enumeration value="nightRail"/>
			<xsd:enumeration value="carTransportRailService">
				<xsd:annotation>
					<xsd:documentation>See ERA B.4.7009 - Name: Item description code: (14 Motor rail)
Service transporting passenger's motor vehicle passengers are admitted either with vehicle only or with or without vehicle
Service mode</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="touristRailway">
				<xsd:annotation>
					<xsd:documentation>See ERA B.4.7009 - Name: Item description code: (16 Historic train).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="airportLinkRail"/>
			<xsd:enumeration value="railShuttle"/>
			<xsd:enumeration value="replacementRailService"/>
			<xsd:enumeration value="specialTrain"/>
			<xsd:enumeration value="crossCountryRail"/>
			<xsd:enumeration value="rackAndPinionRailway">
				<xsd:annotation>
					<xsd:documentation>See ERA B.4.7009 - Name: Item description code: (15 Mountain train)
Local train adapted for running in mountain railway lines.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="CoachSubmode" type="CoachSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti03 Coach submodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="CoachSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Coach MODEs of TRANSPORT: TPEG pti_table_03.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="internationalCoach"/>
			<xsd:enumeration value="nationalCoach"/>
			<xsd:enumeration value="shuttleCoach"/>
			<xsd:enumeration value="regionalCoach"/>
			<xsd:enumeration value="specialCoach"/>
			<xsd:enumeration value="schoolCoach"/>
			<xsd:enumeration value="sightseeingCoach"/>
			<xsd:enumeration value="touristCoach"/>
			<xsd:enumeration value="commuterCoach"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="MetroSubmode" type="MetroSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti04 Metro submodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="MetroSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Metro MODEs of TRANSPORT: TPEG pti_table_04.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="metro"/>
			<xsd:enumeration value="tube"/>
			<xsd:enumeration value="urbanRailway"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="BusSubmode" type="BusSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti05 Bus submodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="BusSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Bus MODEs of TRANSPORT: TPEG pti_table_05, col_table_10.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="localBus"/>
			<xsd:enumeration value="regionalBus"/>
			<xsd:enumeration value="expressBus"/>
			<xsd:enumeration value="nightBus"/>
			<xsd:enumeration value="postBus"/>
			<xsd:enumeration value="specialNeedsBus"/>
			<xsd:enumeration value="mobilityBus"/>
			<xsd:enumeration value="mobilityBusForRegisteredDisabled"/>
			<xsd:enumeration value="sightseeingBus"/>
			<xsd:enumeration value="shuttleBus"/>
			<xsd:enumeration value="highFrequencyBus"/>
			<xsd:enumeration value="dedicatedLaneBus"/>
			<xsd:enumeration value="schoolBus"/>
			<xsd:enumeration value="schoolAndPublicServiceBus"/>
			<xsd:enumeration value="railReplacementBus"/>
			<xsd:enumeration value="demandAndResponseBus"/>
			<xsd:enumeration value="airportLinkBus"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="TramSubmode" type="TramSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti06 Tram submodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="TramSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Tram MODEs of TRANSPORT: TPEG pti_table_06, col_table_12.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="cityTram"/>
			<xsd:enumeration value="localTram"/>
			<xsd:enumeration value="regionalTram"/>
			<xsd:enumeration value="sightseeingTram"/>
			<xsd:enumeration value="shuttleTram"/>
			<xsd:enumeration value="trainTram"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="WaterSubmode" type="WaterSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti07 Water submodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="WaterSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Water MODEs of TRANSPORT: TPEG pti_table_07.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="internationalCarFerry"/>
			<xsd:enumeration value="nationalCarFerry"/>
			<xsd:enumeration value="regionalCarFerry"/>
			<xsd:enumeration value="localCarFerry"/>
			<xsd:enumeration value="internationalPassengerFerry"/>
			<xsd:enumeration value="nationalPassengerFerry"/>
			<xsd:enumeration value="regionalPassengerFerry"/>
			<xsd:enumeration value="localPassengerFerry"/>
			<xsd:enumeration value="postBoat"/>
			<xsd:enumeration value="trainFerry"/>
			<xsd:enumeration value="roadFerryLink"/>
			<xsd:enumeration value="airportBoatLink"/>
			<xsd:enumeration value="highSpeedVehicleService"/>
			<xsd:enumeration value="highSpeedPassengerService"/>
			<xsd:enumeration value="sightseeingService"/>
			<xsd:enumeration value="schoolBoat"/>
			<xsd:enumeration value="cableFerry"/>
			<xsd:enumeration value="riverBus"/>
			<xsd:enumeration value="scheduledFerry"/>
			<xsd:enumeration value="shuttleFerryService"/>
			<xsd:enumeration value="canalBarge">
				<xsd:annotation>
					<xsd:documentation source="Not in TPEG"/>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="AirSubmode" type="AirSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti08 Air submodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AirSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Air MODEs of TRANSPORT: TPEG pti_table_08.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="internationalFlight"/>
			<xsd:enumeration value="domesticFlight"/>
			<xsd:enumeration value="intercontinentalFlight"/>
			<xsd:enumeration value="domesticScheduledFlight"/>
			<xsd:enumeration value="shuttleFlight"/>
			<xsd:enumeration value="intercontinentalCharterFlight"/>
			<xsd:enumeration value="internationalCharterFlight"/>
			<xsd:enumeration value="roundTripCharterFlight"/>
			<xsd:enumeration value="sightseeingFlight"/>
			<xsd:enumeration value="helicopterService"/>
			<xsd:enumeration value="domesticCharterFlight"/>
			<xsd:enumeration value="SchengenAreaFlight"/>
			<xsd:enumeration value="airshipService"/>
			<xsd:enumeration value="shortHaulInternationalFlight"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="TelecabinSubmode" type="TelecabinSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti09 Telecabin submodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="TelecabinSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Telecabin MODEs of TRANSPORT: TPEG pti_table_09, col_table_14.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="telecabin"/>
			<xsd:enumeration value="cableCar"/>
			<xsd:enumeration value="lift"/>
			<xsd:enumeration value="chairLift"/>
			<xsd:enumeration value="dragLift"/>
			<xsd:enumeration value="telecabinLink"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="FunicularSubmode" type="FunicularSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti10 Funicular submodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="FunicularSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Funicular MODEs of TRANSPORT: TPEG pti_table_10.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="funicular"/>
			<xsd:enumeration value="streetCableCar"/>
			<xsd:enumeration value="allFunicularServices"/>
			<xsd:enumeration value="undefinedFunicular"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="TaxiSubmode" type="TaxiSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti11 Taxi submodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="TaxiSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Taxi MODEs of TRANSPORT: TPEG pti_table_11.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="communalTaxi"/>
			<xsd:enumeration value="charterTaxi"/>
			<xsd:enumeration value="waterTaxi"/>
			<xsd:enumeration value="railTaxi"/>
			<xsd:enumeration value="bikeTaxi"/>
			<xsd:enumeration value="blackCab"/>
			<xsd:enumeration value="miniCab"/>
			<xsd:enumeration value="allTaxiServices"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="SelfDriveSubmode" type="SelfDriveSubmodeEnumeration" default="unknown">
		<xsd:annotation>
			<xsd:documentation>TPEG pti12 SelfDrive submodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="SelfDriveSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for SelfDrive MODEs of TRANSPORT: TPEG pti_table_12.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="hireCar"/>
			<xsd:enumeration value="hireVan"/>
			<xsd:enumeration value="hireMotorbike"/>
			<xsd:enumeration value="hireCycle"/>
			<xsd:enumeration value="allHireVehicles"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="SnowAndIceSubmode" type="SnowAndIceSubmodeEnumeration" default="unknown"/>
	<xsd:simpleType name="SnowAndIceSubmodeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Snow and Ice SUBMODEs of TRANSPORT</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="snowMobile"/>
			<xsd:enumeration value="snowCat"/>
			<xsd:enumeration value="snowCoach"/>
			<xsd:enumeration value="terraBus"/>
			<xsd:enumeration value="windSled"/>
			<!--offroad bus-->
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
</xsd:schema>
