XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_securityList_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_securityList_support">
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.1 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2017-06-20</Created>
				</Date>
				<Date>
					<Modified>2017-06-205</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SECURTY LIST types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_securityList_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Steam Intellect, London N1 1JS </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 ``````````````````````````<Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the NeTEX 1.1 standard.</li>
					</ul>
				</Source>
				<Status>Version 1.1 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx  SECURITY LIST identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx SECURITY LIST identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- =====SECURITY LIST =========================================== -->
	<xsd:complexType name="securitylistRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SECURITY LIST.s.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="SecurityListRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SecurityListIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SECURITY LIST..</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SecurityListRef" type="SecurityListRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SECURITY LIST..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SecurityListRefStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SECURITY LIST..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="SecurityListIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SECURITY LIST..</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== BLACK LIST ============================================== -->
	<xsd:complexType name="blacklistRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of BLACKLISTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="BlacklistRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="BlacklistIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a BLACKLIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SecurityListIdType"/>
	</xsd:simpleType>
	<xsd:element name="BlacklistRef" type="BlacklistRefStructure" abstract="false" substitutionGroup="SecurityListRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a BLACKLIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BlacklistRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a BLACKLIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SecurityListRefStructure">
				<xsd:attribute name="ref" type="BlacklistIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a BLACKLIST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====WHITE LIST ============================================== -->
	<xsd:complexType name="whitelistRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of WHITELISTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="WhitelistRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="WhitelistIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a WHITELIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SecurityListIdType"/>
	</xsd:simpleType>
	<xsd:element name="WhitelistRef" type="WhitelistRefStructure" abstract="false" substitutionGroup="SecurityListRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a WHITELIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WhitelistRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a WHITELIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SecurityListRefStructure">
				<xsd:attribute name="ref" type="WhitelistIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a WHITELIST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =============================================================== -->
	<!-- ====CUSTOMER.======================================================== -->
	<xsd:complexType name="SecurityListingRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="SecurityListingRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SecurityListingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SecurityListingRef" type="SecurityListingRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SecurityListingRefStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="SecurityListingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SECURITY LISTING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF SECURITY LIST.  -->
	<xsd:complexType name="typeOfSecurityListRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF SECURITY LIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfSecurityListRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfSecurityListIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF SECURITY LIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfSecurityListRef" type="TypeOfSecurityListRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF SECURITY LIST.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfSecurityListRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF SECURITY LIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfSecurityListIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF SECURITY LIST.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
