XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_noticeAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_noticeAssignment_version">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_pointAndLink_support.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_section_support.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_assignment_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_notice_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2014-03-31</Modified>
				</Date>
				<Date><Modified>2017-05-09</Modified>Allow Notices to be inlined within   an assigment - packaging improvement
				</Date>
				<Date><Modified>2017-07-03</Modified>Generalise COMMON SECTION TO SECTION REF
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines common NOTICE identifier  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_noticeAssignment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - NOTICE ASSIGNMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NetEX: NOTICE ASSIGNMENT types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:complexType name="noticeAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of NOTICE ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="NoticeAssignment_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="NoticesInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for use of NOTICEs in a frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="notices" type="noticesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noticeAssignments" type="noticeAssignmentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICE ASSIGNMENTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="noticeAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of NOTICE ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="NoticeAssignment_" maxOccurs="1"/>
					<xsd:element ref="NoticeAssignmentView"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="NoticeAssignment_" type="DataManagedObjectStructure" abstract="true" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>Dummy abstract NOTICE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NoticeAssignment" abstract="false" substitutionGroup="NoticeAssignment_">
		<xsd:annotation>
			<xsd:documentation>The assignment of a NOTICE showing an exception in a JOURNEY PATTERN, a COMMON SECTION, or a VEHICLE JOURNEY, possibly specifying at which POINT IN JOURNEY PATTERN the validity of the NOTICE starts and ends respectively.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="NoticeAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NoticeAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="NoticeAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NoticeAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for NOTICE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="NoticeAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="NoticeAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a NOTICE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="NoticeRef"/>
				<xsd:element name="GroupOfNoticesRef" type="GeneralGroupOfEntitiesRefStructure">
					<xsd:annotation>
						<xsd:documentation>A group of Notiices.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Notice"/>
			</xsd:choice>
			<xsd:element name="NoticedObjectRef" type="VersionOfObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Object with which NOTICE is associated. If given by context can be omitted.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="NoticeLinkAssignmentGroup">
				<xsd:annotation>
					<xsd:documentation>Link assigbment Elements for a NOTICE ASSIGNMENT. That restrict NOTICE to a specific pattern or partial pattern.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="NoticeAssignmentPropertiesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="NoticeLinkAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Link assignment Elements for a NOTICE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LinkSequenceRef" minOccurs="0"/>
			<xsd:element ref="SectionRef" minOccurs="0"/>
			<xsd:element name="StartPointInPatternRef" type="PointInSequenceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>POINT at which applicability of NOTICE starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndPointInPatternRef" type="PointInSequenceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>POINT at which applicabiity of NOTICE endsIf absent same as Start Point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="NoticeAssignmentPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Property Elements for NOTICE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Mark" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mark associated with NOTICE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MarkUrl" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>URL for image associated with NOTICE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublicityChannel" type="PublicityChannelEnumeration" default="all" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>How NOTICE is to be publicised. Default is all.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Advertised" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether NOTICE is advertised to public.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:complexType name="noticeAssignmentViews_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of NOTICE ASSIGNMENT VIEWs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="NoticeAssignmentView" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="NoticeAssignmentView" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>View of a NOTICE ASSIGNMENT. for use in a specific context such as a CALL. This can be used to embed the notice itself in the context.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="NoticeAssignment_DerivedViewStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DerivedViewGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="NoticeRef" minOccurs="0"/>
							<xsd:group ref="NoticeAssignmentPropertiesGroup"/>
							<xsd:group ref="NoticePropertiesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="NoticeAssignmentIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of Object of which this is a view.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NoticeAssignment_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for NOTICE ASSIGNMENT View.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element name="Name" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of ASSIGNMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="NoticeRef" minOccurs="0"/>
					<xsd:group ref="NoticeAssignmentPropertiesGroup"/>
					<xsd:group ref="NoticePropertiesGroup"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:integer">
					<xsd:annotation>
						<xsd:documentation>Order of Assignment.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
