XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_trainElement_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_trainElement">
	<xsd:include schemaLocation="netex_vehicleType_version.xsd"/>
	<xsd:include schemaLocation="netex_trainElement_support.xsd"/>
	<xsd:group name="ServiceRequirementTypeGroup">
		<xsd:annotation>
			<xsd:documentation>SERVICE REQUIEMENTS for  SERVICE JOURNEY. These are the normal planned values, not necessarily the ACTUAL VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Required Minimum  capacity for service. Note actual Capacity is given by vehicle type.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="PassengerCarryingRequirementRef"/>
				<xsd:element ref="PassengerCarryingRequirementsView"/>
			</xsd:choice>
			<xsd:element ref="TrainSize" minOccurs="0"/>
			<xsd:element name="equipments" type="vehicleEquipments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE EQUIPMENT available on service.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date>
					<Modified>2017-04-27</Modified>1.1 CR0039 Add Width to TRAIN ELEMENT
				</Date>
				<Date>
					<Modified>2019-02-21</Modified>Make ValidityCondition etc visible on TrainElement
				</Date>
				<Date>
					<Modified>2019-03-27</Modified>Fix add missing TrainSize attribute to TrainElement
				</Date>
				<Date>
					<Modified>2019-04-18</Modified>Fix add missing orientation to  TrainComponent
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the TRAIN ELEMENT types </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_trainElement_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TRAIN ELEMENT Types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx Train specifcation</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)======================= -->
	<xsd:group name="VehicleTypeInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE TYPEs in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="vehicleTypes" type="vehicleTypesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE TYPEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLEs in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="vehicleTypes" type="vehicleTypesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE TYPEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicleModels" type="vehicleModelsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE MODELs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicleEquipmentProfiles" type="vehicleEquipmenProfilesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE EQUIPMENT PROFILEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicles" type="vehiclesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="vehicleTypesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of VEHICLE TYPEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="CompoundTrain"/>
					<xsd:element ref="Train"/>
					<xsd:element ref="VehicleType"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="vehicleModelsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of VEHICLE MODELs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleModel" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="vehiclesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of VEHICLE TYPEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TrainElement"/>
					<xsd:element ref="Vehicle"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="vehicleEquipmenProfilesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of VEHICLE EQUIPMENT PROFILEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleEquipmentProfile" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="Train" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A vehicle composed of TRAIN ELEMENTs in a certain order, i.e. of wagons assembled together and propelled by a locomotive or one of the wagons.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Train_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleTypeGroup"/>
						</xsd:sequence>
						<xsd:group ref="TrainGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="TrainIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Train_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleType_VersionStructure">
				<xsd:group ref="TrainGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrainGroup">
		<xsd:annotation>
			<xsd:documentation>Element for TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TrainSize" minOccurs="0"/>
			<xsd:element name="components" type="trainComponents_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered collection of TRAIN COMPONENTs making up TRAIN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TrainSize" type="TrainSizeStructure">
		<xsd:annotation>
			<xsd:documentation>Requirements for TRAIN SIZe.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrainSizeStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TRAIN SIZE REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberOfCars" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of cars needed in TRAIN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TrainSizeType" type="TrainSizeEnumeration" default="normal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of Train Size., Short, long, normal. Default is normal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="CompoundTrain" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A vehicle composed of COMPOUND TRAIN ELEMENTs in a certain order, i.e. of wagons assembled together and propelled by a locomotive or one of the wagons.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CompoundTrain_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleTypeGroup"/>
						</xsd:sequence>
						<xsd:group ref="CompoundTrainGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="CompoundTrainIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CompoundTrain_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for COMPOUND TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleType_VersionStructure">
				<xsd:group ref="CompoundTrainGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CompoundTrainGroup">
		<xsd:annotation>
			<xsd:documentation>Element for COMPOUND TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="components" type="trainsInCompoundTrain_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered collection of TRAIN in COMPOUND TRAINs making up COMPOUND TRAIN. Each references a TRAIN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TrainElement" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An elementary component of a TRAIN (e.g. wagon, locomotive).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TrainElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TrainElementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a VEHICLE TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TrainElementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrainElement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TRAIN ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TrainElementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrainElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRAIN ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of TRAIN ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of TRAIN ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TrainElementType" type="TrainElementTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of TRAIN ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="FareClasses" minOccurs="0"/>
			<xsd:element name="PassengerCapacity" type="PassengerCapacityStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total Number of passengers that TRAIN ELEMENT. can carry.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capacities" type="passengerCapacities_RelStructure" minOccurs="0"/>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The length of a TRAIN ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The width of a TRAIN ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TrainSize" minOccurs="0"/>
			<xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0"/>
			<xsd:element name="equipments" type="equipments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Actual EQUIPMENT on element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="trainComponents_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRAIN COMPONENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TrainComponentRef"/>
					<xsd:element ref="TrainComponent">
						<xsd:annotation>
							<xsd:documentation>An area within a Site. May be connected to Quays by PATH LINKs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TrainComponent" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A specification of the order of TRAIN ELEMENTs in a TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TrainComponent_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="TrainComponentGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="TrainComponentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrainComponent_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TRAIN COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="TrainComponentGroup"/>
				<xsd:attribute name="order" type="xsd:positiveInteger">
					<xsd:annotation>
						<xsd:documentation>Order of TRAIN COMPONENT within TRAIN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrainComponentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRAIN COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Label for TRAIN COMPONENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of TRAIN COMPONENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TrainRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a TRAIN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element ref="TrainElementRef">
					<xsd:annotation>
						<xsd:documentation>Reference to a TRAIN ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="TrainElement"/>
			</xsd:choice>
			<xsd:element name="OperationalOrientation" type="VehicleOrientationEnumeration" default="forwards" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Orientation of the  TRAIN ELEMENT within the TRAIN. +v1.1. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="trainsInCompoundTrain_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRAIN IN COMPOUND TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element name="TrainInCompoundTrain" type="TrainInCompoundTrain_VersionedChildStructure" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>An instance of a TRAIN making up a COMPOUND TRAIN.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TrainInCompoundTrain_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TRAIN IN COMPOUND TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:group ref="TrainInCompoundTrainGroup">
					<xsd:annotation>
						<xsd:documentation>Elements for a TRAIN IN COMPOUND TRAIN.</xsd:documentation>
					</xsd:annotation>
				</xsd:group>
				<xsd:attribute name="order" type="xsd:positiveInteger">
					<xsd:annotation>
						<xsd:documentation>
					 Order of TRAIN IN COMPOUND TRAIN within TRAIN.
				</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrainInCompoundTrainGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRAIN IN COMPOUND TRAIN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of TRAIN IN COMPOUND TRAIN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CompoundTrainRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a TRAIN ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element ref="TrainRef">
					<xsd:annotation>
						<xsd:documentation>Reference to a TRAIN.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Train"/>
			</xsd:choice>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Label for TRAIN IN COMPOUND TRAIN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperationalOrientation" type="VehicleOrientationEnumeration" default="forwards" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Orientation of the  TRAIN IN COMPOUND TRAIN</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReversedOrientation" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the component order of the TRAIN IN COMPOUND TRAIN is reversed compared to the order in the TRAIN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:element name="TrainComponentView" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of TRAIN COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="TrainComponent_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrainComponent_DerivedViewStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for TRAIN COMPONENT VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:group ref="TrainComponentViewGroup"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:positiveInteger">
					<xsd:annotation>
						<xsd:documentation>Order of TRAIN COMPONENT within TRAIN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrainComponentViewGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRAIN COMPONENT VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TrainComponentRef" minOccurs="0"/>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Label for TRAIN COMPONENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of TRAIN COMPONENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="TrainElementViewGroup">
				<xsd:annotation>
					<xsd:documentation>Elements for a TRAIN ELEMENT derived.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="TrainElementViewGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRAIN ELEMENT VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TrainElementRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a TRAIN ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="FareClasses" minOccurs="0"/>
			<xsd:element name="TrainElementType" type="TrainElementTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of TRAIN ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
