XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_facility_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_facility_support">
	<xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date>
					<Modified>2013-01-07</Modified>No Pull request correct spelling of coffeeShop, nofoodavailable  enum value 
				</Date>
				<Date>
					<Modified>2017-05-25</Modified>Add buggy and umbrella to accessibility tools
				</Date>
				<Date>
					<Modified>2017-11-10</Modified>Update Nuiaance list to match UML
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>Fix #43 by Skinkie from 2019.01.07  Fix typo on _tactilePlatformEdges. 
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>NL32 CD #61 Add new values  to (Site)  AccessFacility enum;  wheelchairLift, automaticRamp and slidingStep.
					 NJSK Review: Keep Site and Service aspects separate; add separate VehicleAccessFacility enum with values   unknown, wheelchairLift,  manualRamp, automaticRamp,  steps, slidingStep,  narrowEntrance,  lowFloorAccess, validator.
				</Date>
 					<Date>
					<Modified>2019-04-14</Modified>Fix Add new values ti PassengerInfromation LienStatus and realTimeDIsruption
				</Date>		
				
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FACILITY subtypes </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_facility_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FACILITY identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: FACILITY identifier types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccessibilityInfoFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Accessibility Info.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="audioInformation"/>
			<xsd:enumeration value="audioForHearingImpaired"/>
			<xsd:enumeration value="visualDisplays"/>
			<xsd:enumeration value="displaysForVisuallyImpaired"/>
			<xsd:enumeration value="largePrintTimetables"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MobilityFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Mobility Facility: TPEG pti_table 23.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown">
				<xsd:annotation>
					<xsd:documentation>pti255_4</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="lowFloor">
				<xsd:annotation>
					<xsd:documentation>pti23_16_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="stepFreeAccess">
				<xsd:annotation>
					<xsd:documentation>pti23_16_3</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="suitableForWheelchairs">
				<xsd:annotation>
					<xsd:documentation>pti23_16_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="suitableForHeaviliyDisabled"/>
			<xsd:enumeration value="boardingAssistance">
				<xsd:annotation>
					<xsd:documentation>pti23_16_2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="onboardAssistance"/>
			<xsd:enumeration value="unaccompaniedMinorAssistance"/>
			<xsd:enumeration value="tactilePlatformEdges"/>
			<xsd:enumeration value="tactileGuidingStrips"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassengerInformationFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Passenger information facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="nextStopIndicator"/>
			<xsd:enumeration value="stopAnnouncements"/>
			<xsd:enumeration value="passengerInformationDisplay"/>
			<xsd:enumeration value="realTimeConnections"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SafetyFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for SAFETY Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="ccTv"/>
			<xsd:enumeration value="mobileCoverage"/>
			<xsd:enumeration value="sosPoints"/>
			<xsd:enumeration value="staffed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccessFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Site Access Facility. NB. These are the properties of access to a fixed SITE, not to a VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="lift"/>
			<xsd:enumeration value="wheelchairLift"/>
			<xsd:enumeration value="escalator"/>
			<xsd:enumeration value="travelator"/>
			<xsd:enumeration value="ramp"/>
			<xsd:enumeration value="automaticRamp"/>
			<xsd:enumeration value="steps"/>
			<xsd:enumeration value="stairs"/>
			<xsd:enumeration value="slidingStep"/>
			<xsd:enumeration value="shuttle"/>
			<xsd:enumeration value="narrowEntrance"/>
			<xsd:enumeration value="barrier"/>
			<xsd:enumeration value="lowFloorAccess"/>
			<xsd:enumeration value="validator"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VehicleAccessFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Vehicle Access Facility. NB. These are the  properties of access to a VEHICLE. +1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="wheelchairLift"/>
			<xsd:enumeration value="manualRamp"/>
			<xsd:enumeration value="automaticRamp"/>
			<xsd:enumeration value="steps"/>
			<xsd:enumeration value="slidingStep"/>
			<xsd:enumeration value="narrowEntrance"/>
			<xsd:enumeration value="validator"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccessibilityToolEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Accessibility Tools.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="wheelchair"/>
			<xsd:enumeration value="walkingstick"/>
			<xsd:enumeration value="audioNavigator"/>
			<xsd:enumeration value="visualNavigator"/>
			<xsd:enumeration value="passengerCart"/>
			<xsd:enumeration value="pushchair"/>
			<xsd:enumeration value="umbrella"/>
			<xsd:enumeration value="buggy"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccommodationAccessEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Accommodation Access.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="freeSeating"/>
			<xsd:enumeration value="reservation">
				<xsd:annotation>
					<xsd:documentation>pti23_3</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="standing"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccommodationFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Accommodation Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="seating"/>
			<xsd:enumeration value="sleeper"/>
			<xsd:enumeration value="singleSleeper"/>
			<xsd:enumeration value="doubleSleeper"/>
			<xsd:enumeration value="specialSleeper"/>
			<xsd:enumeration value="couchette"/>
			<xsd:enumeration value="singleCouchette"/>
			<xsd:enumeration value="doubleCouchette"/>
			<xsd:enumeration value="specialSeating"/>
			<xsd:enumeration value="recliningSeats"/>
			<xsd:enumeration value="babyCompartment"/>
			<xsd:enumeration value="familyCarriage"/>
			<xsd:enumeration value="recreationArea"/>
			<xsd:enumeration value="panoramaCoach"/>
			<xsd:enumeration value="pullmanCoach"/>
			<xsd:enumeration value="standing"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AssistanceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Assistance Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="personalAssistance"/>
			<xsd:enumeration value="boardingAssistance"/>
			<xsd:enumeration value="wheechairAssistance"/>
			<xsd:enumeration value="unaccompaniedMinorAssistance"/>
			<xsd:enumeration value="wheelchairUse"/>
			<xsd:enumeration value="conductor"/>
			<xsd:enumeration value="information"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="any"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AssistanceAvailabilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for  Assistance Availability.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none">
				<xsd:annotation>
					<xsd:documentation>Assistance is not  available.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="available">
				<xsd:annotation>
					<xsd:documentation>Assistance is nornally available.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="availableIfBooked">
				<xsd:annotation>
					<xsd:documentation>Assistance is  available if booked.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="availableAtCertainTimes">
				<xsd:annotation>
					<xsd:documentation>Assistance is   available at certain times.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="unknown">
				<xsd:annotation>
					<xsd:documentation>Not known if assistance is available.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BerthFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Berth Facility:</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="upper"/>
			<xsd:enumeration value="lower"/>
			<xsd:enumeration value="both"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BoardingPermissionEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values or Boarding Permission Facility: UIc.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="normal"/>
			<xsd:enumeration value="earlyBoardingPossibleBeforeDeparture"/>
			<xsd:enumeration value="lateAlightingPossibleAfterArrival"/>
			<xsd:enumeration value="overnightStayOnboardAllowed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CouchetteFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values  for Couchette Facility: UIc.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="T2"/>
			<xsd:enumeration value="T3"/>
			<xsd:enumeration value="C1"/>
			<xsd:enumeration value="C2"/>
			<xsd:enumeration value="C4"/>
			<xsd:enumeration value="C5">
				<xsd:annotation>
					<xsd:documentation>pti23_4_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C6"/>
			<xsd:enumeration value="wheelchair"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmergencyServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Emergency Service Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="police"/>
			<xsd:enumeration value="fire"/>
			<xsd:enumeration value="firstAid"/>
			<xsd:enumeration value="sosPoint"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FamilyFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Family Accommodation.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="servicesForChildren"/>
			<xsd:enumeration value="servicesForArmyFamilies"/>
			<xsd:enumeration value="nurseryService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GenderEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Gender.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="female"/>
			<xsd:enumeration value="male"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HireFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Hire Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="carHire"/>
			<xsd:enumeration value="motorCycleHire"/>
			<xsd:enumeration value="cycleHire"/>
			<xsd:enumeration value="taxi"/>
			<xsd:enumeration value="recreationDeviceHire"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LuggageCarriageEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Luggage Carriage Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="noBaggageStorage"/>
			<xsd:enumeration value="baggageStorage"/>
			<xsd:enumeration value="luggageRacks"/>
			<xsd:enumeration value="extraLargeLuggageRacks"/>
			<xsd:enumeration value="baggageVan"/>
			<xsd:enumeration value="noCycles"/>
			<xsd:enumeration value="cyclesAllowed"/>
			<xsd:enumeration value="cyclesAllowedInVan"/>
			<xsd:enumeration value="cyclesAllowedInCarriage"/>
			<xsd:enumeration value="cyclesAllowedWithReservation"/>
			<xsd:enumeration value="vehicleTransport"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LuggageLockerFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Luggage Locker Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="lockers">
				<xsd:annotation>
					<xsd:documentation>pti23_17</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="oversizeLockers"/>
			<xsd:enumeration value="leftLuggageCounter"/>
			<xsd:enumeration value="bikeRack"/>
			<xsd:enumeration value="cloakroom"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LuggageServiceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Luggage Service Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="leftLuggage"/>
			<xsd:enumeration value="porterage"/>
			<xsd:enumeration value="freeTrolleys"/>
			<xsd:enumeration value="paidTrolleys"/>
			<xsd:enumeration value="collectAndDeliverToStation"/>
			<xsd:enumeration value="baggageCheckInCheckOut"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeetingPointEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for MEETING POINT Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="meetingPoint"/>
			<xsd:enumeration value="groupMeeting"/>
			<xsd:enumeration value="schoolMeetingPoint"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MoneyFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Money Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="cashMachine"/>
			<xsd:enumeration value="bank"/>
			<xsd:enumeration value="insurance"/>
			<xsd:enumeration value="bureauDeChange"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MealFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Meal Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="breakfast"/>
			<xsd:enumeration value="lunch"/>
			<xsd:enumeration value="dinner"/>
			<xsd:enumeration value="snack"/>
			<xsd:enumeration value="drinks"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NuisanceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Nuisance Facility: TPEG pti_table 23.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="smoking"/>
			<xsd:enumeration value="noSmoking"/>
			<xsd:enumeration value="familyArea"/>
			<xsd:enumeration value="childfreeArea"/>
			<xsd:enumeration value="noAnimals"/>
			<xsd:enumeration value="breastfeedingFriendly"/>
			<xsd:enumeration value="mobilePhoneUseZone"/>
			<xsd:enumeration value="mobilePhoneFreeZone"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Parking Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="carPark"/>
			<xsd:enumeration value="parkAndRidePark"/>
			<xsd:enumeration value="motorcyclePark"/>
			<xsd:enumeration value="cyclePark"/>
			<xsd:enumeration value="rentalCarPark"/>
			<xsd:enumeration value="coachPark"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CarServiceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Car Service Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="carWash"/>
			<xsd:enumeration value="valetPark"/>
			<xsd:enumeration value="carValetClean"/>
			<xsd:enumeration value="oilChange"/>
			<xsd:enumeration value="engineWarming"/>
			<xsd:enumeration value="petrol"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MedicalFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Medical  Service Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="defibrillator"/>
			<xsd:enumeration value="alcoholTest"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassengerCommsFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PASSENGER COMMUNICATIONS FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="freeWifi"/>
			<xsd:enumeration value="publicWifi"/>
			<xsd:enumeration value="powerSupplySockets"/>
			<xsd:enumeration value="telephone">
				<xsd:annotation>
					<xsd:documentation>pti23_21</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="audioEntertainment">
				<xsd:annotation>
					<xsd:documentation>pti23_14</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="videoEntertainment">
				<xsd:annotation>
					<xsd:documentation>pti23_15</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="businessServices">
				<xsd:annotation>
					<xsd:documentation>pti23_25</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="internet"/>
			<xsd:enumeration value="postOffice"/>
			<xsd:enumeration value="postBox"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassengerInformationEquipmentEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Passenger Information Equipment.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="timetablePoster"/>
			<xsd:enumeration value="fareInformation"/>
			<xsd:enumeration value="lineNetworkPlan"/>
			<xsd:enumeration value="lineTimetable"/>
			<xsd:enumeration value="stopTimetable"/>
			<xsd:enumeration value="journeyPlanning"/>
			<xsd:enumeration value="interactiveKiosk"/>
			<xsd:enumeration value="informationDesk"/>
			<xsd:enumeration value="networkStatus"/>
			<xsd:enumeration value="realTimeDisruptions"/>
			<xsd:enumeration value="realTimeDepartures"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CateringFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Catering Facility: TPEG pti_table 23.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="bar">
				<xsd:annotation>
					<xsd:documentation>pti23_18</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="bistro">
				<xsd:annotation>
					<xsd:documentation>pti23_26</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="buffet"/>
			<xsd:enumeration value="noFoodAvailable">
				<xsd:annotation>
					<xsd:documentation>pti23_19</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="noBeveragesAvailable">
				<xsd:annotation>
					<xsd:documentation>pti23_20</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="restaurant">
				<xsd:annotation>
					<xsd:documentation>pti23_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="firstClassRestaurant"/>
			<xsd:enumeration value="trolley">
				<xsd:annotation>
					<xsd:documentation>pti23_23</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="coffeeShop"/>
			<xsd:enumeration value="hotFoodService"/>
			<xsd:enumeration value="selfService"/>
			<xsd:enumeration value="snacks">
				<xsd:annotation>
					<xsd:documentation>pti23_2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="foodVendingMachine"/>
			<xsd:enumeration value="beverageVendingMachine"/>
			<xsd:enumeration value="miniBar">
				<xsd:annotation>
					<xsd:documentation>pti23_18_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="breakfastInCar"/>
			<xsd:enumeration value="mealAtSeat"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReservedSpaceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Reserved Space Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="lounge"/>
			<xsd:enumeration value="hall"/>
			<xsd:enumeration value="meetingPoint"/>
			<xsd:enumeration value="groupPoint"/>
			<xsd:enumeration value="reception"/>
			<xsd:enumeration value="shelter"/>
			<xsd:enumeration value="seats"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RetailFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Retail Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="food"/>
			<xsd:enumeration value="newspaperTobacco"/>
			<xsd:enumeration value="recreationTravel"/>
			<xsd:enumeration value="hygieneHealthBeauty"/>
			<xsd:enumeration value="fashionAccessories"/>
			<xsd:enumeration value="bankFinanceInsurance"/>
			<xsd:enumeration value="cashMachine"/>
			<xsd:enumeration value="currencyExchange"/>
			<xsd:enumeration value="tourismService"/>
			<xsd:enumeration value="photoBooth"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StaffingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Staffing.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="fullTime"/>
			<xsd:enumeration value="partTime"/>
			<xsd:enumeration value="unmanned"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TicketingFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Ticketing Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="ticketMachines"/>
			<xsd:enumeration value="ticketOffice"/>
			<xsd:enumeration value="ticketOnDemandMachines"/>
			<xsd:enumeration value="mobileTicketing"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScopeOfTicketEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Scope of Ticket.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="localTicket"/>
			<xsd:enumeration value="nationalTicket"/>
			<xsd:enumeration value="internationalTicket"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VehicleLoadingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Vehicle Loading Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="loading"/>
			<xsd:enumeration value="unloading"/>
			<xsd:enumeration value="additionalLoading"/>
			<xsd:enumeration value="additionaUnloading"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ==== ===================================================== -->
	<!-- ==== FACILITY========================================-->
	<xsd:simpleType name="FacilityIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FacilityRef" type="FacilityRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a FACILITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="FacilityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====FACILITY SET==================================== -->
	<xsd:simpleType name="FacilitySetIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FacilitySetRef" type="FacilitySetRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a FACILITY SET.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilitySetRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="FacilitySetIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SITE FACILITY SET=========================== -->
	<xsd:element name="SiteFacilitySetRef" type="SiteFacilitySetRefStructure" substitutionGroup="FacilitySetRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a SITE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteFacilitySetRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SITE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FacilitySetRefStructure">
				<xsd:attribute name="ref" type="SiteFacilitySetIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SiteFacilitySetIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SITE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FacilitySetIdType"/>
	</xsd:simpleType>
	<!-- ====SERVICE FACILITY SET================================================================ -->
	<xsd:simpleType name="ServiceFacilitySetIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SERVICE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FacilitySetIdType"/>
	</xsd:simpleType>
	<xsd:element name="ServiceFacilitySetRef" type="ServiceFacilitySetRefStructure" substitutionGroup="FacilitySetRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a SERVICE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceFacilitySetRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SERVICE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FacilitySetRefStructure">
				<xsd:attribute name="ref" type="ServiceFacilitySetIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== ===================================================== -->
	<xsd:simpleType name="AccommodationIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a ACCOMMODATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="AccommodationRef" type="AccommodationRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a ACCOMMODATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccommodationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ACCOMMODATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="AccommodationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== ===================================================== -->
	<xsd:element name="OnboardStayRef" type="OnboardStayRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a ONBOARD STAY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OnboardStayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ONBOARD STAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="OnboardStayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="OnboardStayIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a ONBOARD STAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<!--=============================================================================-->
	<xsd:complexType name="typeOfFacilityRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfFacilityRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfFacilityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfFacilityRef" type="TypeOfFacilityRefStructure" abstract="false" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF FACILITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfFacilityRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfFacilityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF FACILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
