XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_spotEquipment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_spotEquipment_support">
	<xsd:include schemaLocation="netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2023-02-06</Created>
				</Date>
				<Date><Modified>2023-02-01</Modified>Split out from Charging  Equipoment
				</Date>
				<Date><Modified>2024-01-24</Modified>Add btype of bed
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines SPOT EQUIPMENT types</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_spotEquipment_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Rights>
          Unclassified
          <Copyright>CEN, Crown Copyright 2009-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Added fro NExTex new modes.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - SPOT EQUIPMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SPOT EQUIPMENT identifier types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== SPOT EQUIPMENT =========================================== -->
	<xsd:simpleType name="SpotEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of SPOT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InstalledEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="SpotEquipmentRef" type="SpotEquipmentRefStructure" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SPOT EQUIPMENT. +V2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SpotEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SPOT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InstalledEquipmentRefStructure">
				<xsd:attribute name="ref" type="SpotEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SPOT EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSpotEquipmentRefStructureType" default="SpotEquipment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SpotEquipmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== SEAT EQUIPMENT =================================================== -->
	<xsd:simpleType name="SeatEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of SEAT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SpotEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="SeatEquipmentRef" type="SeatEquipmentRefStructure" substitutionGroup="SpotEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SEAT EQUIPMENT. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SeatEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SEAT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SpotEquipmentRefStructure">
				<xsd:attribute name="ref" type="SeatEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SEAT EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassSeatEquipmentRefStructureType" default="SeatEquipment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for SeatEquipmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BED EQUIPMENT =================================================== -->
	<xsd:simpleType name="BedEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of BED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SpotEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="BedEquipmentRef" type="BedEquipmentRefStructure" substitutionGroup="SpotEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a BED EQUIPMENT. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BedEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a BED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SpotEquipmentRefStructure">
				<xsd:attribute name="ref" type="BedEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a BED EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassBedEquipmentRefStructureType" default="BedEquipment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for BedEquipmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="BedTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TYPE OF BED. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="singleBed"/>
			<xsd:enumeration value="doubleBed"/>
			<xsd:enumeration value="bedForChild"/>
			<xsd:enumeration value="cot"/>
			<xsd:enumeration value="bottomBunk"/>
			<xsd:enumeration value="middleBunk"/>
			<xsd:enumeration value="topBunk"/>
			<xsd:enumeration value="hammock"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ===== LUGGAGE SPOT EQUIPMENT =================================================== -->
	<xsd:simpleType name="LuggageSpotEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of LUGGAGE SPOT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SpotEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="LuggageSpotEquipmentRef" type="LuggageSpotEquipmentRefStructure" substitutionGroup="SpotEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of a LUGGAGE SPOT EQUIPMENT. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LuggageSpotEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a LUGGAGE SPOT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SpotEquipmentRefStructure">
				<xsd:attribute name="ref" type="LuggageSpotEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LUGGAGE SPOT EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassLuggageSpotEquipmentRefStructureType" default="LuggageSpotEquipment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for LuggageSpotEquipmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LuggageSpotTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TYPE OF LUGGAGE SPOT +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="rackAboveSeats"/>
			<xsd:enumeration value="spaceUnderSeat"/>
			<xsd:enumeration value="luggageBay"/>
			<xsd:enumeration value="luggageCompartment"/>
			<xsd:enumeration value="luggageVan"/>
			<xsd:enumeration value="cycleRack"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
