XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_sensorEquipment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_sensorEquipment_version">
	<xsd:include schemaLocation="netex_deckPlan_support.xsd"/>
	<xsd:include schemaLocation="netex_sensorEquipment_support.xsd"/>
	<xsd:include schemaLocation="netex_equipment_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2023-02-06</Created>
				</Date>
				<Date><Modified>2023-02-06</Modified>
          Definition of CycleStorage number of spaces corrected. Doc change only.
        </Date>
				<Date><Modified>2023-12-08</Modified>Move SENSOR IN SPOT declarations to DECK PLAN,  adn SEATING PLAN
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines SENSOR EQUIPMENT base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_sensorEquipment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>
          Unclassified
          <Copyright>CEN, Crown Copyright 2009-2023</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - SENSOR Types of Equipment.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SENSOR EQUIPMENT types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- === SENSOR EQUIPMENT ============================================ -->
	<xsd:element name="SensorEquipment_Dummy" abstract="true" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Dummy type for +V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="InstalledEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SensorEquipmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SensorEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>An EQUIPMENT used to monitor use of a space or entrance. +V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SensorEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SensorEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SensorEquipmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SensorEquipment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SENSOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SensorEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SensorEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SENSOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CommunicationMethod" type="SensorCommunicationsEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>How sensor communicates with onboard hub.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === SPOT SENSOR ============================================ -->
	<xsd:element name="SpotSensor" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>An EQUIPMENT used to monitor use of a LOCATABLE SPOT such as a passenger seat. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SpotSensor_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SensorEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SpotSensorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SpotSensorIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SpotSensor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SPOT SENSOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SensorEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SpotSensorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SpotSensorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SPOT SENSOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- === ENTRANCE SENSOR ============================================ -->
	<xsd:element name="EntranceSensor" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>AN EQUIPMENT used to monitor or count passengers using a PASSENGER ENTRANCE. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="EntranceSensor_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SensorEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntranceSensorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="EntranceSensorIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="EntranceSensor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a ENTRANCE SENSOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SensorEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="EntranceSensorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="EntranceSensorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ENTRANCE SENSOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ====== SENSOR IN SPOT =================================== -->
	<xsd:complexType name="sensorsInSpot_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SENSORs in SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="SensorInSpot" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SensorInSpot">
		<xsd:annotation>
			<xsd:documentation>Use of a specific SPOT SENSOR to monitor a specific LOCATABLE SPOT. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SensorInSpot_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SensorInSpotGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SensorInSpotIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of SENSOR IN SPOT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SensorInSpot_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SENSOR IN SPOT</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="SensorInSpotGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SensorInSpotGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SENSOR IN SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LocatableSpotRef" minOccurs="0"/>
			<xsd:element ref="SpotSensorRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== SENSOR IN ENTRANCE =================================== -->
	<xsd:complexType name="sensorsInEntrance_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SENSORs in ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="SensorInEntrance" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SensorInEntrance">
		<xsd:annotation>
			<xsd:documentation>Use of a specific ENTRANCE SENSOR to monitor a specific DECK ENTRANCE. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SensorInEntrance_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SensorInEntranceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SensorInEntranceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of SENSOR IN ENTRANCE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SensorInEntrance_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SENSOR IN ENTRANCE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="SensorInEntranceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SensorInEntranceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SENSOR IN ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DeckEntranceRef" minOccurs="0"/>
			<xsd:element ref="EntranceSensorRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
