XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_otherOrganisation_version.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_otherOrganisation_version">
	<xsd:include schemaLocation="netex_otherOrganisation_support.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_organisation_version.xsd"/>
	<xsd:include schemaLocation="netex_serviceCalendar_version.xsd"/>
	<xsd:include schemaLocation="netex_address_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2014-03-31</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines  OTHER ORGANISATION    types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_otherOrganisation_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - OTHER ORGANISATION   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NetEX:OTHER ORGANISATION  types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="OtherOrganisation" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>Generic ORGANISATION being neither an AUTHORITY, neither a public transport OPERATOR (TRAVEL AGENT, MANAGEMENT AGENT, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OtherOrganisation_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OtherOrganisation_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Organisation_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OtherOrganisationGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OtherOrganisationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Address" type="PostalAddress_VersionStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Address of ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TravelAgent" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>A travel agent who can retail travel products.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TravelAgent_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup">
								<xsd:annotation>
									<xsd:documentation>Details for TRAVEL AGENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OtherOrganisationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TravelAgentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of TRAVEL AGENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TravelAgent_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OtherOrganisation_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ManagementAgent" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>ORGANISATION that manages data or a SITE or FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ManagementAgent_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup">
								<xsd:annotation>
									<xsd:documentation>Details for MANAGEMENT AGENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OtherOrganisationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ManagementAgentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of MANAGEMENT AGENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ManagementAgent_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OtherOrganisation_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="GeneralOrganisation" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>Any type of GENERAL ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeneralOrganisation_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OtherOrganisationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeneralOrganisationIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of  GENERAL ORGANISATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeneralOrganisation_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an GENERAL ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OtherOrganisation_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ServicedOrganisation" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>ORGANISATION for which Service is provided, e.g. school college.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ServicedOrganisation_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup">
								<xsd:annotation>
									<xsd:documentation>Details for ORGANISATION.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OtherOrganisationGroup"/>
						</xsd:sequence>
						<xsd:group ref="ServicedOrganisationGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="ServicedOrganisationIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of  SERVICED ORGANISATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ServicedOrganisation_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OtherOrganisation_VersionStructure">
				<xsd:group ref="ServicedOrganisationGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ServicedOrganisationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ServiceCalendarRef" minOccurs="0"/>
			<xsd:element name="ServicedOrganisationType" type="ServicedOrganisationTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of serviced ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="OrganisationDayType" substitutionGroup="DayType_">
		<xsd:annotation>
			<xsd:documentation>DAY TYPE defined as being available on days when ORGANISATION is open and requires service.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OrganisationDayType_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DayTypeGroup"/>
						</xsd:sequence>
						<xsd:group ref="OrganisationDayTypeGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="DayTypeIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of  ORGANISATION DAY TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OrganisationDayType_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an ORGANISATION. DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DayType_VersionStructure">
				<xsd:group ref="OrganisationDayTypeGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OrganisationDayTypeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an ORGANISATION. DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsServiceDay" type="xsd:boolean" minOccurs="0"/>
			<xsd:element ref="ServicedOrganisationRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
