XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_transportOrganisation_version">
	<xsd:include schemaLocation="../netex_genericFramework/netex_organisation_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2014-03-31</Modified>
				</Date>
				<Date>
					<Modified>2019-03-08</Modified>UK-44 Add additional  groupsOfOperatorss  to Network.   
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines  NetEX:TRANSPORT  ORGANISATION identifier  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_transportOrganisation_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - NetEX:TRANSPORT  ORGANISATION  identifier  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NetEX:TRANSPORT ORGANISATION identifier  types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== TRANSPORT OPERATOR ========================================== -->
	<xsd:element name="TransportOrganisationRef" type="OrganisationRefStructure" abstract="true" substitutionGroup="OrganisationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an  TRANSPORT ORGANISATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="transportOrganisationRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to an OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TransportOrganisationRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AllTransportOrganisationsRef" type="AllTransportOrganisationsRefStructure" substitutionGroup="AllOrganisationsRef">
		<xsd:annotation>
			<xsd:documentation>Reference to all  TRANSPORT ORGANISATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AllTransportOrganisationsRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to  all TRANSPORT ORGANISATIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AllOrganisationsRefStructure">
				<xsd:attribute name="ref" type="OrganisationIdType" use="required" fixed="All">
					<xsd:annotation>
						<xsd:documentation>Identifier of an OPERATOR.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:group name="OneOrAllTransportOperatorsRefGroup">
		<xsd:annotation>
			<xsd:documentation>One or all TRANSPORT ORGANISATIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AllTransportOrganisationsRef"/>
			<xsd:element ref="TransportOrganisationRef"/>
		</xsd:choice>
	</xsd:group>
	<!-- ====  OPERATOR ======================================================= -->
	<xsd:simpleType name="OperatorIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="OrganisationIdType"/>
	</xsd:simpleType>
	<xsd:element name="OperatorRef" type="OperatorRefStructure" substitutionGroup="TransportOrganisationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an OPERATOR.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OperatorRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="OrganisationRefStructure">
				<xsd:attribute name="ref" type="OperatorIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an OPERATOR.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="AllOperatorsRef" type="AllTransportOrganisationsRefStructure" substitutionGroup="AllTransportOrganisationsRef">
		<xsd:annotation>
			<xsd:documentation>Reference to all OPERATORs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:group name="OneOrAllOperatorsRefGroup">
		<xsd:annotation>
			<xsd:documentation>One or all OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AllOperatorsRef"/>
			<xsd:element ref="OperatorRef"/>
		</xsd:choice>
	</xsd:group>
	<!-- ===== AUTHORITY ========================================================= -->
	<xsd:simpleType name="AuthorityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an AUTHORITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="OrganisationIdType"/>
	</xsd:simpleType>
	<xsd:element name="AuthorityRef" type="AuthorityRefStructure" substitutionGroup="TransportOrganisationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an AUTHORITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AuthorityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an AUTHORITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="OrganisationRefStructure">
				<xsd:attribute name="ref" type="AuthorityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="AllAuthoritiesRef" type="AllTransportOrganisationsRefStructure" substitutionGroup="AllTransportOrganisationsRef">
		<xsd:annotation>
			<xsd:documentation>Reference to all AUTHORITIies.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:group name="OneOrAllAuthoritiesRefGroup">
		<xsd:annotation>
			<xsd:documentation>One or all AUTHORITIies.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AllAuthoritiesRef"/>
			<xsd:element ref="AuthorityRef"/>
		</xsd:choice>
	</xsd:group>
	<!-- ===== AUTHORITY ========================================================= -->
	<xsd:complexType name="groupsOfTransportOrganisationsRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to list of GROUPs OF TRANSPORT ORGANISATIONS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfOperatorsRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==GROUP OF OPERATORss============================================================ -->
	<xsd:simpleType name="GroupOfOperatorsIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF OPERATORs. (In fact TRNASPORT ORGANISATION)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="GroupOfOperatorsRef" type="GroupOfOperatorsRefStructure" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP OF OPERATORs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfOperatorsRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a GROUP OF OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="GroupOfOperatorsIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF OPERATORs.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== OPERATIONAL CONTEX ======================================================= -->
	<xsd:simpleType name="OperationalContextIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an OPERATIONAL CONTEXT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="OperationalContextRef" type="OperationalContextRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an OPERATIONAL CONTEXT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OperationalContextRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an OPERATIONAL CONTEXT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="OperationalContextIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an OPERATIONAL CONTEXT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="operationalContexRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to an OPERATIONAL CONTEXT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="OperationalContextRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== OPERATING DEPARTMENT======================================================= -->
	<xsd:simpleType name="OperatingDepartmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an OPERATING DEPARTMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DepartmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="OperatingDepartmentRef" type="OperatingDepartmentRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an OPERATING DEPARTMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OperatingDepartmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an OPERATING DEPARTMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="DepartmentRefStructure">
				<xsd:attribute name="ref" type="OperatingDepartmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an OPERATING DEPARTMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== CONTROL CENTRE ================================================== -->
	<xsd:simpleType name="ControlCentreIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CONTROL CENTRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="OrganisationPartIdType"/>
	</xsd:simpleType>
	<xsd:element name="ControlCentreRef" type="ControlCentreRefStructure" substitutionGroup="OrganisationPartRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CONTROL CENTRE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ControlCentreRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a CONTROL CENTRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="OrganisationPartRefStructure">
				<xsd:attribute name="ref" type="ControlCentreIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CONTROL CENTRE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== CONTROL CENTRE ================================================== -->
	<xsd:simpleType name="TransportAdministrativeZoneIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRANSPORT ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AdministrativeZoneIdType"/>
	</xsd:simpleType>
	<xsd:element name="TransportAdministrativeZoneRef" substitutionGroup="ZoneRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRANSPORT ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="TransportAdministrativeZoneRefStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TransportAdministrativeZoneRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRANSPORT ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AdministrativeZoneRefStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== Activities================================================= -->
	<xsd:simpleType name="ListOfOperatorActivities">
		<xsd:annotation>
			<xsd:documentation>List of Allowed values for Operator Activities.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="OperatorActivitiesEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="OperatorActivitiesEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Operator Activities.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="passenger"/>
			<xsd:enumeration value="freight"/>
			<xsd:enumeration value="infrastructure"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
