XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_availabilityCondition_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_availabilityCondition_version">
	<xsd:include schemaLocation="netex_availabilityCondition_support.xsd"/>
	<xsd:include schemaLocation="netex_serviceCalendar_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2007-03-12</Created>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines AVAILABILITY CONDITION   types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_availabilityCondition_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange -  AVALABILITY CONDITION   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: AVALABILITY CONDITION types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:complexType name="availabilityConditions_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more AVAILABILITY CONDITIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AvailabilityConditionRef"/>
					<xsd:element ref="AvailabilityCondition"/>
					<xsd:element ref="ValidDuring">
						<xsd:annotation>
							<xsd:documentation> OPTIMISATION: Simple version  of an AVAILABILITY CONDITION    Comprises a simple period and DAY TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="ValidBetween"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="containedAvailabilityConditions_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more AVAILABILITY CONDITIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="AvailabilityCondition" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="AvailabilityCondition" substitutionGroup="ValidityCondition_">
		<xsd:annotation>
			<xsd:documentation>VALIDITY CONDITION stated in terms of DAY TYPES and  PROPERTIES OF DAYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AvailabilityCondition_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Name" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Name of VALIDITY CONDITION.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Description" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Description of VALIDITY CONDITION.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ConditionedObjectRef" type="VersionOfObjectRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Entity to which condition specifically attaches.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WithConditionRef" type="ValidityConditionRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>CONDITION with which this rule is logically ANDed.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="FromDate" type="xsd:dateTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Start date of AVAILABILITY CONDITION.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ToDate" type="xsd:dateTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>End of AVAILABILITY CONDITION. Date is INCLUSIVE.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AvailabilityConditionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AvailabilityConditionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AvailabilityCondition_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an AVAILABILITY CONDITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ValidBetween_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AvailabilityConditionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AvailabilityConditionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an AVAILABILITY CONDITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsAvailable" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether condition makes resource available or not available. Default is available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dayTypes" type="dayTypes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DAY TYPEs for AVAILABILITY CONDITION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ValidDayBits" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>For UIC style encoding of day types String of bits, one for each day in period: whether valid or not valid on the day.  Normally there will be a bit for every day between start and end date.  If bit is missing, assume available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timebands" type="timebands_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME BANDs for AVAILABILITY CONDITION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="operatingDays" type="operatingDays_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OPERATING DAYs for AVAILABILITY CONDITION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===A simple availability condition==================================================================== -->
	<xsd:element name="ValidDuring" abstract="false" substitutionGroup="ValidityCondition_">
		<xsd:annotation>
			<xsd:documentation> OPTIMISATION: Sversion  of an AVAILABILITY CONDITION    Comprises a simple period and DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ValidDuring_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Name" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Name of VALIDITY CONDITION.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Description" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Description of VALIDITY CONDITION.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ConditionedObjectRef" type="VersionOfObjectRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Entity to which condition specifically attaches.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WithConditionRef" type="ValidityConditionRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>CONDITION with which this rule is logically ANDed.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="FromDate" type="xsd:dateTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Start date of AVAILABILITY CONDITION.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ToDate" type="xsd:dateTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>End of AVAILABILITY CONDITION. Date is INCLUSIVE.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ValidDuringGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AvailabilityConditionIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ValidDuring_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a  SIMPLE TIMEBAND AVAILABILITY CONDITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ValidBetween_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ValidDuringGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ValidDuringGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SIMPLE TIMEBAND AVAILABILITY CONDITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="DayTypeRef"/>
				<xsd:element name="DaysOfWeek" type="DaysOfWeekListOfEnumerations">
					<xsd:annotation>
						<xsd:documentation>Days of the week.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Days">
					<xsd:annotation>
						<xsd:documentation>OPTIMIZATION week matrix Y | N,   NNNNNNN.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:normalizedString">
							<xsd:minLength value="7"/>
							<xsd:maxLength value="7"/>
							<xsd:pattern value="([Y | N])*"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="timebands" type="timebands_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME BANDs for AVAILABILITY CONDITION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===ALIAS As (DEPRECATED)======================================================== -->
	<xsd:element name="SimpleAvailabilityCondition" abstract="false" substitutionGroup="ValidityCondition_">
		<xsd:annotation>
			<xsd:documentation>Simple version of an  AVAILABILITY CONDITION used in order to characterise a given VERSION of a VERSION FRAME.  Comprises a simple period and DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ValidDuring_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
