XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_serviceCalendar_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com) by Christophe Duquesne (Dryade) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_serviceCalendar_version">
	<xsd:include schemaLocation="netex_serviceCalendar_support.xsd"/>
	<xsd:include schemaLocation="netex_dayType_version.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_assignment_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2014-03-31</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines  SERVICE CALENDAR    types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_serviceCalendar_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - SERVICE CALENDAR    types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NetEX:SERVICE CALENDAR  types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="ServiceCalendarFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SERVICE CALENDAR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ServiceCalendar" minOccurs="0"/>
			<xsd:element name="dayTypes" type="dayTypesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reusable DAY TYPE  in SERVICE CALENDAR FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timebands" type="timebandsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reusable TIMEBANDs used in SERVICE CALENDAR FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupOfTimebands" type="groupOfTimebandsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPs OF TIMEBANDs   in SERVICE CALENDAR FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="operatingDays" type="operatingDaysInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Days found in Calendar between start and end date. Dates must fall between the start and end date of the calendar.  There is a day for every date in the calendar validity period. Days do not have to be explicitly declared if there is no additional information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="operatingPeriods" type="operatingPeriodsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OPERATING PERIODs belonging to calendar. Named periods. Must fall within the overall validity period of the calendar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dayTypeAssignments" type="dayTypeAssignmentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Assignments of DAY TYPEs to specific OPERATING DAYs. The same DAY TYPE may be assigned to multiple Operating dates, and vice versa.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="operatingDaysInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of OPERATING DAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="OperatingDay" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="operatingPeriodsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of OPERATING PERIODs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="OperatingPeriod">
						<xsd:annotation>
							<xsd:documentation>An operating period.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="UicOperatingPeriod"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="dayTypeAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DAY TYPE ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DayTypeAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ServiceCalendar" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A SERVICE CALENDAR. A collection of DAY TYPE ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ServiceCalendar_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ServiceCalendarGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ServiceCalendarIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ServiceCalendar_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SERVICE CALENDAR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="ServiceCalendarGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ServiceCalendarGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SERVICE CALENDAR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of SERVIC CALENDAR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of SERVIC CALENDAR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FromDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start date of Calendar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End date of SERVICE CALENDAR. Date is INCLUSIVE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="DayTimesGroup"/>
			<xsd:group ref="ServiceCalendarContentGroup">
				<xsd:annotation>
					<xsd:documentation>Content for a Calendar.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ServiceCalendarContentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SERVICE CALENDAR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dayTypes" type="dayTypes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reusable DAY TYPE used in calendar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timebands" type="timebands_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reusable Time bands used in calendar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="operatingDays" type="operatingDays_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Days found in Calendar between start and end date. Dates must fall between the start and end date of the calendar.  There is a day for every date in the calendar validity period. Days do not have to be explicitly declared if there is no additional information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="operatingPeriods" type="operatingPeriods_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OPERATING PERIODs belonging to calendar. Named periods. Must fall within the overall validity period of the calendar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dayTypeAssignments" type="dayTypeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Assignments of DAY TYPEs to specific OPERATING DAYs. The same DAY TYPE may be assigned to multiple Operating dates, and vice versa.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DayTimesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a Day Time Range.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="EarliestTime" type="xsd:time" default="00:00:00" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Earliest time that day starts. Default is 00:00</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayLength" type="xsd:duration" default="PT24H" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of day. Used to work out latest time that day runs to. Default is 24hourse.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ==== OPERATING PERIOD ================================================== -->
	<xsd:complexType name="operatingDays_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of OPERATING DAYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="OperatingDayRef"/>
					<xsd:element ref="OperatingDay"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OperatingDay" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A day of public transport operation in a specific calendar. An OPERATING DAY may last more than 24 hours.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OperatingDay_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OperatingDayGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OperatingDayIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OperatingDay_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATING DAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="OperatingDayGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OperatingDayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an OPERATING DAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CalendarDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Actual Date of OPERATING DAY. Unique within  SERVICE CALENDAR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ServiceCalendarRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to parent  SERVICE CALENDAR. If given by context, does not need to be given.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of OPERATING DAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short name of OPERATING DAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayNumber" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Day Number if different from Id.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:group ref="DaySpanGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====OPERATING PERIOD================================== -->
	<xsd:complexType name="operatingPeriods_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of OPERATING PERIODs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="OperatingPeriodRef"/>
					<xsd:element ref="OperatingPeriod" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>An Named operating period.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="UicOperatingPeriod"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OperatingPeriod" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A continuous interval of time between two OPERATING DAYs which will be used to define validities.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OperatingPeriod_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OperatingPeriodGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OperatingPeriodIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OperatingPeriod_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATING PERIOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="OperatingPeriodGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OperatingPeriodGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an OPERATING PERIOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ServiceCalendarRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to parent Calendar. If given by context, does not need to be given.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of  OPERATING PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name  of  OPERATING PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="FromOperatingDayRef" type="OperatingDayRefStructure">
					<xsd:annotation>
						<xsd:documentation>Start date of OPERATING PERIOD.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FromDate" type="xsd:dateTime">
					<xsd:annotation>
						<xsd:documentation>Start date of OPERATING PERIOD.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:element name="ToOperatingDayRef" type="OperatingDayRefStructure">
					<xsd:annotation>
						<xsd:documentation>End Date  of  OPERATING PERIOD.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ToDate" type="xsd:dateTime">
					<xsd:annotation>
						<xsd:documentation>End date of OPERATING PERIOD. Date is INCLUSIVE.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="HolidayType" type="HolidayTypeEnumeration" default="AnyDay" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Whether days of OPERATING PERIOD are all in a holiday.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Season" type="SeasonEnumeration" default="Perennially" minOccurs="0" maxOccurs="5">
				<xsd:annotation>
					<xsd:documentation>Season in which OPERATING PERIOD falls.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="UicOperatingPeriod" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An OPERATING PERIOD coded in UIC style as a bit string between two dates.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="UicOperatingPeriod_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OperatingPeriodGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UicOperatingPeriodGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OperatingPeriodIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="UicOperatingPeriod_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATING DAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OperatingPeriod_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="UicOperatingPeriodGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="UicOperatingPeriodGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a UIC OPERATING Period.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ValidDayBits" type="xsd:normalizedString">
				<xsd:annotation>
					<xsd:documentation>String of bits, one for each day in period: whether valid or not valid on the day.  Normally there will be a bit for every day between start and end date.  If bit is missing, assume available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DaysOfWeek" type="DaysOfWeekListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Days of week to which bits correspond.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====DAY TYPE ASSIGNMENT============================= -->
	<xsd:complexType name="dayTypeAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of  DAY TYPE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DayTypeAssignment" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>An operating period.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DayTypeAssignment" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>Associates a DAY TYPE with an OPERATING DAY within a specific Calendar. A specification of a particular DAY TYPE which will be valid during a TIME BAND on an OPERATING DAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DayTypeAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DayTypeAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DayTypeAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DayTypeAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DAY TYPE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DayTypeAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DayTypeAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a  DAY TYPE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ServiceCalendarRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to parent Calendar. If given by context does not need to be given.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element ref="OperatingPeriodRef"/>
				<xsd:element ref="OperatingDayRef"/>
				<xsd:element name="Date" type="xsd:date">
					<xsd:annotation>
						<xsd:documentation>Calendar date of assignment.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element ref="DayTypeRef"/>
			<xsd:element ref="TimebandRef" minOccurs="0" maxOccurs="5"/>
			<xsd:element name="isAvailable" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether availabel on assigned day</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
