XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_deckPlan_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_deckPlan_version">
	<xsd:include schemaLocation="netex_deckPlan_support.xsd"/>
	<xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="netex_seatingPlan_version.xsd"/>
	<xsd:include schemaLocation="netex_spotAffinity_version.xsd"/>
	<xsd:include schemaLocation="netex_deckPath_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2023-01-30</Created>
				</Date>
				<Date><Modified>2023-01-30</Modified>
          Name Space changes
        </Date>
				<Date><Modified>2023-12-08</Modified>Move SENSOR IN ENTRANCE to here
				</Date>
				<Date><Modified>2024-02-09</Modified>Add locatbale spot range for usage.
				</Date>
				<Date><Modified>2024-02-18</Modified>Norway review comment - Add Window types.
				</Date>
				<Date><Modified>2025-04-26</Modified>Rename EquipableSpace to  OnboardSpace.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the DECK PLAN types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_deckPlan_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>
          Unclassified
          <Copyright>CEN, Crown Copyright  2022-2023</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,   standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx DECK PLAN types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>DECK PLAN data types</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="DeckPlanInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK PLAN in Frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="deckPlans" type="deckPlans_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A List OF DECK PLANs. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== DECK PLAN ==================================================== -->
	<xsd:complexType name="deckPlans_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DECK PLANs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DeckPlan" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DeckPlan" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A plan for the layout of seating and other areas of use of an entire VEHICLE (train, coach, vessel etc.) or individual TRAIN ELEMENT for all or part of a journey. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckPlan_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckPlanGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckPlanIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of DECK PLAN.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckPlan_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK PLAN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="DeckPlanGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckPlanGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK PLAN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of DECK PLAN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of DECK PLAN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Orientation" type="VehicleOrientationEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of DECK PLAN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="configurationConditions" type="validityConditions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY CONDITIONs used to configure DECK PLAN</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deckLevels" type="deckLevels_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DECK LEVELs in DECK PLAN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="decks" type="decks_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DECKs in DECK PLAN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======= DECK ================================================== -->
	<xsd:complexType name="decks_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DECKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Deck" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Deck" substitutionGroup="Zone">
		<xsd:annotation>
			<xsd:documentation>An area within a VEHICLE (i.e. bus, boat, coach, car, plane, etc.) or TRAIN ELEMENT made up of one or more DECK SPACEs. A subdivision of a DECK PLAN. +V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Deck_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="GroupOfEntitiesGroup"/>
						<xsd:group ref="GroupOfPointsGroup"/>
						<xsd:group ref="ZoneGroup"/>
						<xsd:group ref="DeckGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Deck_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Zone_VersionStructure">
				<xsd:group ref="DeckGroup">
					<xsd:annotation>
						<xsd:documentation>Elements for an DECK.</xsd:documentation>
					</xsd:annotation>
				</xsd:group>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of DECK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DeckLevelRef" minOccurs="0"/>
			<xsd:element name="deckSpaces" type="deckSpaces_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DECK SPACEs in DECK PLAN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spotRows" type="spotRows_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Rows on DECK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spotColumns" type="spotColumns_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>COLUMNs on DECK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="DeckPathGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== DECK COMPONENT ======================================================= -->
	<xsd:element name="DeckComponent" type="DeckComponent_VersionStructure" abstract="true" substitutionGroup="OnboardSpace">
		<xsd:annotation>
			<xsd:documentation>An abstract element providing common features for spatially located elements within the DECK PLAN. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DeckComponent_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OnboardSpace_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DeckComponentGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a DECK COMPONENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckComponentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK COMPONENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicUse" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether DECK COMPONENT is for public use. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DeckLevelRef" minOccurs="0"/>
			<xsd:element ref="ClassOfUseRef" minOccurs="0"/>
			<xsd:element name="FareClass" type="FareClassEnumeration" default="any" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Edit care class for which capacity is specifyed. Default is any, i.e. capacity is for all classes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== DECK SPACE =================================== -->
	<xsd:complexType name="deckSpaces_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DECK SPACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="DeckSpaceRef"/>
					<xsd:element ref="DeckSpace_Dummy"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DeckSpace_Dummy" type="DeckComponent_VersionStructure" abstract="true" substitutionGroup="DeckComponent">
		<xsd:annotation>
			<xsd:documentation>Dummy type to work around SG limitations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeckSpace" abstract="true" substitutionGroup="DeckComponent">
		<xsd:annotation>
			<xsd:documentation>An area within a VEHICLE (i.e. bus, boat, coach, car) or TRAIN ELEMENT delimiting a particular use such as seating, WC, bar, gangway, etc. May be specialised, e.g. as PASSENGER SPACE; may contain other spaces. Different types of space may overlap. +v2.0.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckSpace_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="GroupOfEntitiesGroup"/>
						<xsd:group ref="GroupOfPointsGroup"/>
						<xsd:group ref="ZoneGroup"/>
						<xsd:sequence>
							<xsd:group ref="OnboardSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a ONBOARD SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckComponentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckSpaceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckSpaceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of DECK SPACE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckSpace_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DeckComponent_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DeckSpaceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckSpaceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Covered" type="CoveredEnumeration" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether DECK SPACE is indoors, outdoors, or covered. Default is indoors.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AirConditioned" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether DECK SPACE is airconditioned.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SmokingAllowed" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether smoking is allowed in DECK SPACE. Defaukts is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfDeckSpaceRef" minOccurs="0"/>
			<xsd:element name="ParentDeckSpaceRef" type="DeckSpaceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Deck space containing this deck space</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="DeckSpaceEntranceGroup"/>
			<xsd:element name="TotalCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The total capacity of people for the DECK SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deckSpaceCapacities" type="deckSpaceCapacities_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Capacities of DECK SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DeckSpaceEntranceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="deckEntrances" type="deckEntrances_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DECK ENTRANCEs to DECK SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deckEntranceCouples" type="deckEntranceCouples_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DECK ENTRANCE COUPLEs for DECK SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deckEntranceUsages" type="deckEntranceUsages_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DECK ENTRANCE USAGEs for DECK SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deckWindows" type="deckWindows_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DECK WINDOWs on DECK SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== PASSENGER  SPACE =================================== -->
	<xsd:complexType name="passengerSpaces_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER SPACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerSpaceRef"/>
					<xsd:element ref="PassengerSpace"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerSpace" substitutionGroup="DeckSpace_Dummy">
		<xsd:annotation>
			<xsd:documentation> A specialisation of DECK SPACE defining an area within a VEHICLE (i.e. bus, boat, coach, car) or TRAIN ELEMENT for use by passengers. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerSpace_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="GroupOfEntitiesGroup"/>
						<xsd:group ref="GroupOfPointsGroup"/>
						<xsd:group ref="ZoneGroup"/>
						<xsd:sequence>
							<xsd:group ref="OnboardSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a ONBOARD SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckComponentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckSpaceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerSpaceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerSpaceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of PASSENGER SPACE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerSpace_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DeckSpace_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerSpaceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerSpaceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PassengerSpaceType" type="PassengerSpaceTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of PASSENGER SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StandingAllowed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether standing is allowed in DECK SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="passengerSpots" type="passengerSpots_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PASSENGER SPOTs, i.e. seats in PASSENGER SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="luggageSpots" type="luggageSpots_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LUGGAGE SPOTS in PASSENGER SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="passengerVehicleSpots" type="passengerVehicleSpots_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PASSENGER VEHICLE SPOTs in PASSENGER SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spotAffinities" type="spotAffinities_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SPOT AFFINITies in PASSENGER SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== OTHER DECK  SPACE =================================== -->
	<xsd:complexType name="otherDeckSpaces_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of OTHER DECK SPACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="OtherDeckSpaceRef"/>
					<xsd:element ref="OtherDeckSpace"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OtherDeckSpace" substitutionGroup="DeckSpace_Dummy">
		<xsd:annotation>
			<xsd:documentation>A specialisation of DECK SPACE defining an area within a VEHICLE (i.e. bus, boat, coach, car) or TRAIN ELEMENT for restricted use, such as a crew area. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OtherDeckSpace_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="GroupOfEntitiesGroup"/>
						<xsd:group ref="GroupOfPointsGroup"/>
						<xsd:group ref="ZoneGroup"/>
						<xsd:sequence>
							<xsd:group ref="OnboardSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a ONBOARD SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckComponentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckSpaceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OtherDeckSpaceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OtherDeckSpaceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of OTHER DECK SPACE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OtherDeckSpace_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a OTHER DECK SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DeckSpace_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OtherDeckSpaceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OtherDeckSpaceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a OTHER DECK SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ====== DECK ENTRANCE =================================== -->
	<xsd:element name="DeckEntrance_Dummy" type="DeckComponent_VersionStructure" abstract="true" substitutionGroup="DeckComponent">
		<xsd:annotation>
			<xsd:documentation>Dummy type to work around SG limitations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="deckEntrances_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DECK ENTRANCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="DeckEntranceRef"/>
					<xsd:element ref="DeckEntrance_Dummy"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DeckEntrance" abstract="true" substitutionGroup="DeckComponent">
		<xsd:annotation>
			<xsd:documentation>An entrance to or within a DECK. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckEntrance_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="GroupOfEntitiesGroup"/>
						<xsd:group ref="GroupOfPointsGroup"/>
						<xsd:group ref="ZoneGroup"/>
						<xsd:sequence>
							<xsd:group ref="OnboardSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a ONBOARD SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckComponentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a DECK COMPONENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckEntranceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckEntranceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of DECK ENTRANCE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckEntrance_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DeckComponent_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DeckEntranceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckEntranceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="DeckEntrancePositionGroup"/>
			<xsd:group ref="DeckEntranceClassificationGroup">
				<xsd:annotation>
					<xsd:documentation>Classification elements for a DECK ENTRANCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="sensorsInEntrance" type="sensorsInEntrance_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ENTRANCE SENSORS in the DECK ENTRANCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DeckEntrancePositionGroup">
		<xsd:annotation>
			<xsd:documentation>Positional ements for a DECK ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleSide" type="VehicleSideEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Side of ENTRANCE relative to forward orientation of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistanceFromFront" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Distance of forward edge of door from front of Vehicle..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SequenceFromFront" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Positional sequence of door from front (orr left side end) of VEHICLE. 1 - forward,</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightFromGround" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of ENTRANCE from ground.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DeckEntranceClassificationGroup">
		<xsd:annotation>
			<xsd:documentation>EClassification lements for a DECK ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DeckEntranceType" type="DeckEntranceTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of DECK ENTRANCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfDeckEntranceUsageRef" minOccurs="0"/>
			<xsd:element name="IsEmergencyExit" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the door is an emergency Exit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasDoor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the door is automatic.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsAutomatic" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the door is automatic.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== PASSENGER  ENTRANCE =================================== -->
	<xsd:element name="PassengerEntrance" substitutionGroup="DeckEntrance_Dummy">
		<xsd:annotation>
			<xsd:documentation> A normal entrance for passengers to or within a DECK. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerEntrance_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="GroupOfEntitiesGroup"/>
						<xsd:group ref="GroupOfPointsGroup"/>
						<xsd:group ref="ZoneGroup"/>
						<xsd:sequence>
							<xsd:group ref="OnboardSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a ONBOARD SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckComponentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckEntranceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerEntranceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerEntranceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of PASSENGER ENTRANCE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerEntrance_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DeckEntrance_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerEntranceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerEntranceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ====== DECK VEHICLE  ENTRANCE =================================== -->
	<xsd:element name="DeckVehicleEntrance" substitutionGroup="DeckEntrance_Dummy">
		<xsd:annotation>
			<xsd:documentation>A normal entrance for passengers to or within a DECK. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckVehicleEntrance_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="GroupOfEntitiesGroup"/>
						<xsd:group ref="GroupOfPointsGroup"/>
						<xsd:group ref="ZoneGroup"/>
						<xsd:sequence>
							<xsd:group ref="OnboardSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a ONBOARD SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckComponentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckEntranceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckVehicleEntranceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckVehicleEntranceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of DECK VEHICLE ENTRANCE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckVehicleEntrance_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DeckEntrance_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DeckVehicleEntranceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckVehicleEntranceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK VEHICLE ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="vehicleTypes" type="vehicleTypeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPES OF VEHICLE that may use VEHICLE ENTRANCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VehicleCategories" type="AllRoadVehicleCategoriesListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Vehicle categories that may use VEHICLE ENTRANCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== OTHER DECK ENTRANCE =================================== -->
	<xsd:element name="OtherDeckEntrance" substitutionGroup="DeckEntrance_Dummy">
		<xsd:annotation>
			<xsd:documentation>An entrance to or within a DECK for use for other purposes than normal passenger access. E.g. crew, emergency exit, etc. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OtherDeckEntrance_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="GroupOfEntitiesGroup"/>
						<xsd:group ref="GroupOfPointsGroup"/>
						<xsd:group ref="ZoneGroup"/>
						<xsd:sequence>
							<xsd:group ref="OnboardSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a ONBOARD SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckComponentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckEntranceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OtherDeckEntranceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OtherDeckEntranceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of OTHER DECK ENTRANCE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OtherDeckEntrance_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a OTHER DECK ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DeckEntrance_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OtherDeckEntranceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OtherDeckEntranceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a OTHER DECK ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======DECK ENTRANCE USAGE. ====================================================== -->
	<xsd:complexType name="deckEntranceUsages_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DECK ENTRANCE USAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DeckEntranceUsage" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DeckEntranceUsage" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Permitted usage of a specific PASSENGER ENTRANCE to access a particular DECK SPACE. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckEntranceUsage_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:group ref="DeckEntranceUsageGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckEntranceUsageIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE EQUIPMENT PROILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckEntranceUsage_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK ENTRANCE USAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:group ref="DeckEntranceUsageGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckEntranceUsageGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK ENTRANCE USAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of DECK ENTRANCE USAGE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of DECK ENTRANCE USAGE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntranceUsageType" type="EntranceUsageEnumeration" default="entryAndExit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of usage: entry, exit etc. See allowed values. Default is entryAndExit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfDeckEntranceUsageRef" minOccurs="0"/>
			<xsd:element name="EntranceSetting" type="EntranceSettingEnumeration" default="shut" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether door is kept open, shut or locked. See allowed values. Default is shut.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ControlledLocking" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether door is normally locked for safety when in motiion. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DeckEntranceRef" minOccurs="0"/>
			<xsd:group ref="LocatableSpotRangeGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======DECK ENTRANCE COUPLE. ====================================================== -->
	<xsd:complexType name="deckEntranceCouples_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DECK ENTRANCE COUPLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DeckEntranceCouple" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DeckEntranceCouple" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Explicit linking of a pair of DECK ENTRANCEs, e.g. between train carriages. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckEntranceCouple_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:group ref="DeckEntranceCoupleGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckEntranceCoupleIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of DECK ENTRANCE COUPLE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckEntranceCouple_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK ENTRANCE COUPLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:group ref="DeckEntranceCoupleGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckEntranceCoupleGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK ENTRANCE COUPLE..</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of DECK ENTRANCE COUPLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FromDeckEntranceRef" type="DeckEntranceRefStructure">
				<xsd:annotation>
					<xsd:documentation>DECK ENTRANCE from which couple links..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToDeckEntranceRef" type="DeckEntranceRefStructure">
				<xsd:annotation>
					<xsd:documentation>DECK ENTRANCE to which couple links..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== DECK WINDOW =================================== -->
	<xsd:complexType name="deckWindows_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DECK WINDOWs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="DeckWindowRef"/>
					<xsd:element ref="DeckWindow"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DeckWindow" substitutionGroup="DeckComponent">
		<xsd:annotation>
			<xsd:documentation>A window onto a DECK SPACE. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckWindow_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="GroupOfEntitiesGroup"/>
						<xsd:group ref="GroupOfPointsGroup"/>
						<xsd:group ref="ZoneGroup"/>
						<xsd:sequence>
							<xsd:group ref="OnboardSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a ONBOARD SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckComponentGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckWindowGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckWindowIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of DECK WINDOW.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckWindow_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK WINDOW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DeckComponent_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DeckWindowGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckWindowGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK WINDOW.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SequenceFromFront" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sequence of window from the front of the DECK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistanceFromFront" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Distance of Window from front of DECK</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightFromFloor" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of Window from floor of of DECK</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VehicleSide" type="VehicleSideEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Side of WINDOW relative to forward orientation of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DeckWindowType" type="DeckWindowTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of DECK WINDOW.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasBlind" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether window has blind.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CanBeOpened" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether window can be opened.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== DECK LEVEL =================================== -->
	<xsd:complexType name="deckLevels_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DECK LEVELs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DeckLevel" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DeckLevel" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An identified level (1, 2 , 3, etc.) within the DECK PLAN of a VEHICLE (boat, train, airplane, etc.) +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckLevel_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckLevelGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckLevelIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of DECK LEVEL.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckLevel_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK LEVEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="DeckLevelGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckLevelGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK LEVEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Label of DECK LEVEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of DECK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of DECK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublicUse" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether DECK is for public use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== DECK SPACE CAPACITY =================================== -->
	<xsd:complexType name="deckSpaceCapacities_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DECK SPACE CAPACITies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DeckSpaceCapacity" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DeckSpaceCapacity">
		<xsd:annotation>
			<xsd:documentation>The capacity of a DECK SPACE for passengers and other payload in terms of TYPES OF LOCATABLE SPOTs. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DeckSpaceCapacity_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DeckSpaceCapacityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DeckSpaceCapacityIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of DECK SPACE CAPACITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DeckSpaceCapacity_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DECK SPACE CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="DeckSpaceCapacityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeckSpaceCapacityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DECK SPACE CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of capacity,</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LocatableSpotType" type="TypeOfLocatableSpotEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Locatable Spot for which this is the capacity.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfLocatableSpotRef" minOccurs="0"/>
			<xsd:element name="Capacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The total capacity for passengers or vehciles of the type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ========= TYPE OF DECK SPACE ============================================ -->
	<xsd:element name="TypeOfDeckSpace" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Classification for DECK SPACE, e.g. as WC, Restaurant, luggage area, etc. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfDeckSpace_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfDeckSpaceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of TYPE OF DECK SPACE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfDeckSpace_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF DECK SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- =========TYPE OF DECK ENTRANCE. ============================================ -->
	<xsd:element name="TypeOfDeckEntrance" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Classification for TYPE OF DECK ENTRANCE . +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfDeckEntrance_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfDeckEntranceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of TYPE OF DECK ENTRANCE,</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfDeckEntrance_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF DECK ENTRANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- =========TYPE OF DECK ENTRANCE USAGE. ============================================ -->
	<xsd:element name="TypeOfDeckEntranceUsage" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Open classification for DECK USAGE. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfDeckEntranceUsage_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfDeckEntranceUsageIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of TYPE OF DECK ENTRANCE USAGE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfDeckEntranceUsage_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF DECK ENTRANCE USAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
