XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_vehicleType_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_vehicleType_version">
	<xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="netex_transportOrganisation_support.xsd"/>
	<xsd:include schemaLocation="netex_equipmentVehiclePassenger_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date>
					<Modified>2017-03-27</Modified>CR0001 - Vehicle Dimensions added.
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>NL31 CD #60 Add new attributes BoardingHeight and GapToPlatform attributes to VehicleType. 
					 NJSK Review correct data types of new attributes to be of LengthType
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE TYPE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_vehicleType_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE TYPE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>VEHICLE TYPE data types</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="VehicleType" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Type of VEHICLe.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleType_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleTypeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleTypeIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleType_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE. TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleTypeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleTypeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE. TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHICLE TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of VEHICLE TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of VEHICLE TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:group ref="VehicleTypePropertiesGroup"/>
			<xsd:element name="IncludedIn" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Included in definition of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ClassifiedAsRef" type="VehicleModelRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of type as being of a particular VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Facilities of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VehicleRequirementsGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleTypePropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Prooprty Elements for a VEHICLE. TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReversingDirection" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicles of the type have a reversing direction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SelfPropelled" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicles of the type are self-propelled.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TypeOfFuel" type="TypeOfFuelEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The type of fuel used by a vehicle of the type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EuroClass" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Euroclass of the vehicle type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassengerCapacity" type="PassengerCapacityStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total Number of passengers that VEHICLE TYPE. can carry.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capacities" type="passengerCapacities_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Break down of Capacities by FARE CLASS.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VehicleAccessibilityRequirementsGroup"/>
			<xsd:group ref="VehicleDimensionsGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleDimensionsGroup">
		<xsd:annotation>
			<xsd:documentation>DimensionElements for a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The length of a VEHICLE of the type.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The width of a VEHICLE of the type. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Height" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The length of a VEHICLE of the type. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Weight" type="WeightType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The weight of a VEHICLE of the type. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleRequirementsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements specifying Requirement properties of VEHICLE TYPE. Vehicle should satisfy all of these requirements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="canCarry" type="passengerCarryingRequirements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Capacity that VEHICLE TYPE should meet - indicates minimum number of seats of each type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="canManoeuvre" type="vehicleManoeuvringRequirements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Manoeuvring capabilities that VEHICLE TYPE should meet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="satisfiesFacilityRequirements" type="facilityRequirements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FACILITIES requirements that VEHICLE TYPE should meet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleAccessibilityRequirementsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements specifying Requirement properties of VEHICLE TYPE. Vehicle should satisfy these requirements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LowFloor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Vehicle is low floor to facilitate access by the mobility impaired.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasLiftOrRamp" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle has lift or ramp to facilitate wheelchair access.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasHoist" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle has hoist for wheelchair access.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BoardingHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum step height to board. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GapToPlatform" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Expected maximal gap between VEHICLE and platform. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="VehicleRequirement" type="VehicleRequirement_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Requirements for service.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleRequirement_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleRequirementGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE REQUIREMENT relevant for passenger systems.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of FACILITY REQUIREMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="passengerCarryingRequirements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER CARRYING Requirements.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerCarryingRequirementRef"/>
					<xsd:element ref="PassengerCarryingRequirement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerCarryingRequirement" substitutionGroup="VehicleRequirement">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers on a service.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerCarryingRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleRequirementGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerCarryingRequirementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerCarryingRequirementIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerCarryingRequirement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleRequirement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerCarryingRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerCarryingRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PassengerCapacity" minOccurs="0"/>
			<xsd:group ref="VehicleAccessibilityRequirementsGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="passengerCapacities_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER CAPACITY REQUIREMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerCapacityRef"/>
					<xsd:element ref="PassengerCapacity" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerCapacity">
		<xsd:annotation>
			<xsd:documentation>Capacity for a VEHICLE TYPE and Class.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerCapacityStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerCapacityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerCapacityIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of PASSENGER CAPACITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerCapacityStructure">
		<xsd:annotation>
			<xsd:documentation>Capacity for a VEHICLE TYPE and Class.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerCapacityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerCapacityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER CAPACITY REQUIREMENT. relevant for passenger systems.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FareClass" type="FareClassEnumeration" default="any" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Edit care class for which capacity is specifyed. Default is any, i.e. capacity is for all classes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="CapacityGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="CapacityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER CAPACITY REQUIREMENT. relevant for passenger systems.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TotalCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The total capacity of vehicles of the type.  For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SeatingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The seating capacity of vehicles of the type. For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StandingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The standing capacity of vehicles of the type.  For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpecialPlaceCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of special places on vehicles of the type, e.g. seats for the disabled. For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PushchairCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of push chair places on vehicles of the type. For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairPlaceCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of wheelchairs places on vehicles of the type. For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PassengerCarryingRequirementsView" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerCarryingRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleRequirementGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerCarryingRequirementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerCarryingRequirementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerCarryingPassengerCarrying_ViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerCarryingRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="vehicleManoeuvringRequirements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER CARRYING REQUIREMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleManoeuvringRequirementRef"/>
					<xsd:element ref="VehicleManoeuvringRequirement">
						<xsd:annotation>
							<xsd:documentation>An area within a Site. May be connected to Quays by PATH LINKs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleManoeuvringRequirement" substitutionGroup="VehicleRequirement">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleManoeuvringRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleManoeuvringRequirementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleManoeuvringRequirementIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE MANOEVRING REQUIREMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleManoeuvringRequirement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE Manoeuvring REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleRequirement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleManoeuvringRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleManoeuvringRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MANOEUVRING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Reversible" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle must be reversible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumTurningCircle" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum distance needed to turn vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumOvertakingWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum distance needed to overtake.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumLength" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum distance needed to accommodate vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleManoeuvringRequirementCapacityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MANOEUVRING REQUIREMENT. relevant for passenger systems.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SeatingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The seating capacity of vehicles of the type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StandingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The standing capacity of vehicles of the type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpecialPlaceCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of special places on vehicles of the type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="facilityRequirements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FACILITY REQUIREMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FacilityRequirementRef"/>
					<xsd:element ref="FacilityRequirement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FacilityRequirement" substitutionGroup="VehicleRequirement">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FacilityRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a FACILITY REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FacilityRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a FACILITY REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FacilityRequirementIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of FACILITY REQUIREMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FacilityRequirement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FACILITY REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleRequirement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FacilityRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FacilityRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FACILITY REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="facilitySets" type="serviceFacilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Facilities required for VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="Vehicle" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A public transport vehicle used for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Vehicle_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Vehicle_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegistrationNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Licence plate of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VehicleCodeGroup"/>
			<xsd:element ref="OperatorRef" minOccurs="0"/>
			<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
			<xsd:element name="actualVehicleEquipments" type="equipments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ACTUAL EQUIPMENT found in VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleCodeGroup">
		<xsd:annotation>
			<xsd:documentation>Alternative Code Elements for VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OperationalNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Operational Number of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="VehicleModel" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A classification of public transport vehicles according to the vehicle scheduling requirements in MODE and capacity (e.g. standard bus, double-deck, ...).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleModel_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleModelGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleModelIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE MODEL.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleModel_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="VehicleModelGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleModelGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHCILE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Manufacturer" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Manufacturer of VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="VehicleEquipmentProfile" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Each instantiation of this ENTITY gives the number of items of one TYPE OF EQUIPMENT a VEHICLE MODEL should contain for a given PURPOSE OF EQUIPMENT PROFILE. The set of instantiations for one VEHICLE MODEL and one purpose gives one complete 'profile'.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleEquipmentProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleEquipmentProfileGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleEquipmentProfileIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE EQUIPMENT PROILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleEquipmentProfile_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="VehicleEquipmentProfileGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleEquipmentProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="EquipmentRef" minOccurs="0"/>
			<xsd:element name="Units" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of units of EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Manufacturer" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Manufacturer VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PurposeOfEquipmentProfileRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PurposeOfEquipmentProfile" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A functional purpose which requires a certain set of EQUIPMENT of different types put together in a VEHICLE EQUIPMENT PROFILE or STOP POINT EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PurposeOfEquipmentProfile_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PurposeOfEquipmentProfileIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of PURPOSE OF EQUIMENT PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PurposeOfEquipmentProfile_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a PURPOSE OF EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
