XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_nm_equipmentEnergy_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_equipmentEnergy_support">
	<xsd:include schemaLocation="netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2007-06-12</Created>
				</Date>
				<Date><Modified>2020-10-07</Modified>Split out from PArking Equipoment
				</Date>
				<Date><Modified>2021-09-02</Modified>NewMO)DEs: Add Battery and TypeOfBatteryChemistry, PlugType etc
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines ENERGY EQUIPMENT types for Place access.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_nm_equipmentEnergy_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Added fro NExTex new modes.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ENERGY EQUIPMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>ENERGY EQUIPMENT identifier types for  NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== VEHICLE CHARGING EQUIPMENT =========================================== -->
	<xsd:simpleType name="VehicleChargingEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of VEHICLE CHARGING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleChargingEquipmentRef" type="VehicleChargingEquipmentRefStructure" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an VEHICLE CHARGING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleChargingEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an VEHICLE CHARGING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EquipmentRefStructure">
				<xsd:attribute name="ref" type="VehicleChargingEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE CHARGING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====REFUELLING EQUIPMENT =================================================== -->
	<xsd:simpleType name="RefuellingEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of REFUELLING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="RefuellingEquipmentRef" type="RefuellingEquipmentRefStructure" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an REFUELLING EQUIPMENT. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RefuellingEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an REFUELLING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EquipmentRefStructure">
				<xsd:attribute name="ref" type="RefuellingEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a REFUELLING EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====BATTERY EQUIPMENT =================================================== -->
	<xsd:simpleType name="BatteryEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of BATTERY EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="BatteryEquipmentRef" type="BatteryEquipmentRefStructure" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an BATTERY EQUIPMENT. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BatteryEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an BATTERY EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EquipmentRefStructure">
				<xsd:attribute name="ref" type="BatteryEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a BATTERY EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====TYPE OF BATTERY CHEMISTRY =================================================== -->
	<xsd:simpleType name="TypeOfBatteryChemistryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF BATTERY CHEMISTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfBatteryChemistryRef" type="TypeOfBatteryChemistryRefStructure" abstract="false" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF BATTERY CHEMISTRY. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfBatteryChemistryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF BATTERY CHEMISTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfBatteryChemistryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF BATTERY CHEMISTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====TYPE OF  PLUG =================================================== -->
	<xsd:simpleType name="TypeOfPlugIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF PLUG.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfPlugRef" type="TypeOfPlugRefStructure" abstract="false" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF PLUG. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfPlugRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF PLUG.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfPlugIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF PLUG.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PlugTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Plug Types +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="type1"/>
			<xsd:enumeration value="type2"/>
			<xsd:enumeration value="type3"/>
			<xsd:enumeration value="typeE"/>
			<xsd:enumeration value="typeF"/>
			<xsd:enumeration value="typeG"/>
			<xsd:enumeration value="typeJ"/>
			<xsd:enumeration value="combinedChargingSystem"/>
			<xsd:enumeration value="ccsCombo1Plug"/>
			<xsd:enumeration value="ccsCombo2Plug"/>
			<xsd:enumeration value="tesla"/>
			<xsd:enumeration value="nema5-20"/>
			<xsd:enumeration value="avcon"/>
			<xsd:enumeration value="CHAdeMO"/>
			<xsd:enumeration value="shockproof"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CouplingTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Coupling Types +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="plug"/>
			<xsd:enumeration value="pantographAbove">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED. Will be panthograph.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="pantograph">
			</xsd:enumeration>
			<xsd:enumeration value="induction"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CurrentTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Current Types +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="1-PhaseAC"/>
			<xsd:enumeration value="3-PhaseAC"/>
			<xsd:enumeration value="DC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
