XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_vehicleType_support">
	<xsd:include schemaLocation="netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes  
				</Date>
				<Date>
					<Modified>2012-04-15</Modified>Revise Passenger Capacity 
				</Date>
		     	<Date>
					<Modified>2019-04-09</Modified>Add list of vehicle type refs for PARKING and general use
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE TYPE identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_vehicleType_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE TYPE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:complexType name="vehicleTypeRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE TYPEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleTypeRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="VehicleTypeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleTypeRef" type="VehicleTypeRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleTypeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleTypeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE TYPE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VehicleRequirementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleRequirementRef" type="VehicleRequirementRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleRequirementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleRequirementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PassengerCarryingRequirementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleRequirementIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerCarryingRequirementRef" type="PassengerCarryingRequirementRefStructure" substitutionGroup="VehicleRequirementRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerCarryingRequirementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleRequirementRefStructure">
				<xsd:attribute name="ref" type="PassengerCarryingRequirementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PassengerCapacityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerCapacityRef" type="PassengerCapacityRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER CAPACITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerCapacityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PASSENGER CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="PassengerCapacityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VehicleManoeuvringRequirementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE MANOEUVRING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleRequirementIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleManoeuvringRequirementRef" type="VehicleManoeuvringRequirementRefStructure" substitutionGroup="VehicleRequirementRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE MANOEUVRING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleManoeuvringRequirementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleRequirementRefStructure">
				<xsd:attribute name="ref" type="VehicleManoeuvringRequirementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="FacilityRequirementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FACILITY REQUIRMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleRequirementIdType"/>
	</xsd:simpleType>
	<xsd:element name="FacilityRequirementRef" type="FacilityRequirementRefStructure" substitutionGroup="VehicleRequirementRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FACILITY REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilityRequirementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a FACILITY REQUIRMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleRequirementRefStructure">
				<xsd:attribute name="ref" type="FacilityRequirementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VehicleIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleRef" type="VehicleRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VehicleModelIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleModelRef" type="VehicleModelRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleModelRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleModelIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE MODEL.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VehicleEquipmentProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleEquipmentProfileRef" type="VehicleEquipmentProfileRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleEquipmentProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleEquipmentProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfFuelEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for type of fuel.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="petrol"/>
			<xsd:enumeration value="diesel"/>
			<xsd:enumeration value="naturalGas"/>
			<xsd:enumeration value="biodiesel"/>
			<xsd:enumeration value="electricity"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VehicleOrientationEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Vehicle Orientation.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="forwards"/>
			<xsd:enumeration value="backwards"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--=============================================================================-->
	<xsd:simpleType name="PurposeOfEquipmentProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PURPOSE OF EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="PurposeOfEquipmentProfileRef" type="PurposeOfEquipmentProfileRefStructure" abstract="false" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PURPOSE OF EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PurposeOfEquipmentProfileRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PURPOSE OF EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="PurposeOfEquipmentProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a PURPOSE OF EQUIPMENT PROFILE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
