XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_nm_equipmentEnergy_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_equipmentEnergy_version">
	<xsd:include schemaLocation="../netex_utility/netex_units.xsd"/>
	<xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_equipmentEnergy_support.xsd"/>
	<xsd:include schemaLocation="netex_equipmentPlace_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date><Modified>2017-05-25</Modified> Definition of CycleStorage number of spaces corrected. Doc change only.
				</Date>
				<Date><Modified>2021-09-02</Modified>Add Battery and TypeOfBatteryChemistry
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines ENERGY EQUIPMENT base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_nm_equipmentEnergy_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ENERGY Types of Equipment.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>ENERGY EQUIPMENT types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- === VEHICLE CHARGING EQUIPMENT ============================================ -->
	<xsd:element name="VehicleChargingEquipment" substitutionGroup="PlaceEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE EQUIPMENT for vehicle charging.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleChargingEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleChargingEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleChargingEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleChargingEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE CHARGING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PlaceEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleChargingEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleChargingEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VEHICLE CHARGING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FreeRecharging" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>whether shelter is enclosed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReservationRequired" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether reservation is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReservationUrl" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of storage.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumPower" type="WattageType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum charging power of the grid
supply [W]. The sum of the current
power of all connected charging
points cannot exceed this value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GridVoltage" type="VoltageType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Grid Voltage to the equipment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === VEHICLE REFUELLING EQUIPMENT ============================================ -->
	<xsd:element name="RefuellingEquipment" substitutionGroup="PlaceEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PLACE EQUIPMENT for REFUELLING. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RefuellingEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RefuellingEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RefuellingEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RefuellingEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a REFUELLING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PlaceEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RefuellingEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RefuellingEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for REFUELLING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FuelType" type="FuelTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The type of fuel used by a vehicle of the type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === BATTERY EQUIPMENT ============================================ -->
	<xsd:element name="BatteryEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of INSTALLED EQUIPMENT for BATTERY. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="BatteryEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="BatteryEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="BatteryEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BatteryEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a BATTERY EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PlaceEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="BatteryEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="BatteryEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for BATTERY EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BatteryCapacity" type="WattHoursType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Battery capacity stated by the manufacturer in Watt Hours [Wh]
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BatteryUsableCapacity" type="WattHoursType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Usable battery capacity stated in Watt Hours [Wh]

</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NominalVoltage" type="VoltageType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Voltage for battery in volts.
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumChargingPower" type="WattageType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum charging power of the grid
supply [W]. The sum of the current
power of all connected charging
points cannot exceed this value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfBatteryChemistryRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TYPE OF BATTERY CHEMISTRY ======================================================== -->
	<xsd:element name="TypeOfBatteryChemistry" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of a BATTERY CHEMISTRY  +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfBatteryChemistry_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfBatteryChemistryIdType"/>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional" fixed="BatteryChemistry">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfBatteryChemistry_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF BATTERY CHEMISTRY. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====TYPE OF BATTERY CHEMISTRY ======================================================== -->
	<xsd:element name="TypeOfPlug" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of a PLUG  +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfPlug_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfPlugIdType"/>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional" fixed="Plug">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfPlug_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF PLUG. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
