XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_vehicleType_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_vehicleType_version">
	<xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_fleetEquipment_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_fleet_support.xsd"/>
	<xsd:include schemaLocation="netex_mode_support.xsd"/>
	<xsd:include schemaLocation="netex_transportOrganisation_support.xsd"/>
	<xsd:include schemaLocation="../netex_reusableComponents/netex_mode_support.xsd"/>
	<xsd:include schemaLocation="netex_equipmentVehiclePassenger_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2011-02-05</Modified>
          Name Space changes
        </Date>
				<Date><Modified>2017-03-27</Modified>
          CR0001 - Vehicle Dimensions added.
        </Date>
				<Date><Modified>2019-03-25</Modified>
          NL31 CD #60 Add new attributes BoardingHeight and GapToPlatform attributes to VehicleType.
          NJSK Review correct data types of new attributes to be of LengthType
        </Date>
				<Date><Modified>2021-07-07</Modified>
          NewModes-Power Description attribute to NVehicleEquipmentProfile
        </Date>
				<Date><Modified>2020-10-05</Modified>
          New Modes: Add Vehicle mode to VehicleType
          Refactor VehicleType into TarnsportType, VehicleType and PesonalVehicleType
          Replace Vehicle OperatorRef with TransportOrganisationRef.
          Add
          VehicleModelRef to Vehicle.
          Add ModelProfileRef to VehicleModel
          Add Description to Vehicle.
          Add PropulsionType . and MaximumRange to TransportType
        </Date>
				<Date><Modified>2021-07-08</Modified>
          NewModes: Correction Add missing VehicleEquipmentProfile relationship to VehicleModel
        </Date>
				<Date><Modified>2023-01-30</Modified>
          TM CR: EnhancementL Add Accepted Driver Permit  
        </Date>
				<Date><Modified>2023-01-30</Modified>
          TM CR: EnhancementL Add Vehicle Equipment Profile Members
        </Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE TYPE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_vehicleType_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>
          Unclassified
          <Copyright>CEN, Crown Copyright 2009-2023</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE TYPE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>VEHICLE TYPE data types</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:complexType name="vehicleModelsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of VEHICLE MODELs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleModel" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== TRANSPORT TYPE ==================================================== -->
	<xsd:element name="TransportType_" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Dummy type to work around SG limitations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransportType" substitutionGroup="TransportType_">
		<xsd:annotation>
			<xsd:documentation>A classification of any type of VEHICLE according to its properties.
      </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TransportType_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransportTypeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TransportTypeIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of TRANSPORT TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TransportType_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TRANSPORT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TransportTypeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TransportTypeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRANSPORT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of TRANSPORT TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of TRANSPORT TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of TRANSPORT TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:group ref="TransportTypePropertiesGroup"/>
			<xsd:element name="TransportMode" type="AllVehicleModesOfTransportEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MODE of Vehicle transport associated with VEHICLE TYPE. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VehicleTypeTotalCapacityGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TransportTypePropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Property Elements for a TRANSPORT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="EuroClass" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Euroclass of the vehicle type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReversingDirection" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicles of the type have a reversing direction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SelfPropelled" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicles of the type are self-propelled.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PropulsionType" type="PropulsionTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of power used +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="FuelType" type="FuelTypeEnumeration" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The type of fuel used by a vehicle of the type. +1.2.2</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TypeOfFuel" type="FuelTypeEnumeration" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The type of fuel used by a vehicle of the type. DEPRECATED NAME v1.2.2</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="MaximumRange" type="DistanceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum range between refuelling. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== VEHICLE TYPE ==================================================== -->
	<xsd:element name="VehicleType" substitutionGroup="TransportType_">
		<xsd:annotation>
			<xsd:documentation>A classification of public transport vehicles according to the vehicle scheduling requirements in mode and capacity (e.g. standard bus, double-deck, ...).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleType_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransportTypeGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleTypeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleTypeIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleType_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TransportType_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleTypeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleTypeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="VehicleTypePropertiesGroup"/>
			<xsd:element name="IncludedIn" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Included in definition of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ClassifiedAsRef" type="VehicleModelRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of type as being of a particular VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Facilities of VEHICLE TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VehicleRequirementsGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleTypeTotalCapacityGroup">
		<xsd:annotation>
			<xsd:documentation>Total Capacity elements for a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PassengerCapacity" type="PassengerCapacityStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total Number of passengers that VEHICLE TYPE can carry.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleTypePropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Property elements for a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="capacities" type="passengerCapacities_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Break down of Capacities by FARE CLASS.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VehicleAccessibilityRequirementsGroup"/>
			<xsd:group ref="VehicleDimensionsGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleDimensionsGroup">
		<xsd:annotation>
			<xsd:documentation>Dimension elements for a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The length of a VEHICLE of the type.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The width of a VEHICLE of the type. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Height" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The height of a VEHICLE of the type. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Weight" type="WeightType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The weight of a VEHICLE of the type. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FirstAxleHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The height of the first axle of a VEHICLE of the type.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleRequirementsGroup">
		<xsd:annotation>
			<xsd:documentation>General Requirement properties of VEHICLE TYPE. Vehicle should satisfy all of these requirements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="canCarry" type="passengerCarryingRequirements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Capacity that VEHICLE TYPE should meet - indicates minimum number of seats of each type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="canManoeuvre" type="vehicleManoeuvringRequirements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Manoeuvring capabilities that VEHICLE TYPE should meet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="satisfiesFacilityRequirements" type="facilityRequirements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FACILITIES requirements that VEHICLE TYPE should meet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleAccessibilityRequirementsGroup">
		<xsd:annotation>
			<xsd:documentation>Accessibility Requirement properties of VEHICLE TYPE. Vehicle should satisfy these requirements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LowFloor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Vehicle is low floor to facilitate access by the mobility impaired.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasLiftOrRamp" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle has lift or ramp to facilitate wheelchair access.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasHoist" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle has hoist for wheelchair access.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BoardingHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum step height to board. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GapToPlatform" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Expected maximal gap between VEHICLE and platform. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== VEHICLE TYPE ==================================================== -->
	<xsd:element name="SimpleVehicleType" substitutionGroup="TransportType_">
		<xsd:annotation>
			<xsd:documentation>A classification of personal use vehicles according to their properties, +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SimpleVehicleType_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransportTypeGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SimpleVehicleTypeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SimpleVehicleTypeIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of PERSONAL TRANSPORT TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SimpleVehicleType_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PERSONAL TRANSPORT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TransportType_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SimpleVehicleTypeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SimpleVehicleTypeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PERSONAL TRANSPORT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="VehicleDimensionsGroup"/>
			<xsd:element name="LicenceRequirements" type="LicenceRequirementsEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Licence requirements to use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VehicleCategory" type="SimpleVehicleCategoryEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Category of vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumAge" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minumum age to use TRANSPORT TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Portable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle can be carried easily, e.g. scooter, skateboard, foldable bicycle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="acceptedDriverPermits" type="acceptedDriverPermits_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Types of driver licence that are accepted for simple vehicle type.  +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- =======ACCEPTED DRIVER PERMIT ================================================= -->
	<xsd:complexType name="acceptedDriverPermits_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ACCEPTED DRIVER PERMITs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="AcceptedDriverPermit" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AcceptedDriverPermit" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Accepted TYPE OF DRIVER PERMIT for a given SIMPLE VEHICLE TYPE. +V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AcceptedDriverPermit_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="AcceptedDriverPermitGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="AcceptedDriverPermitIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AcceptedDriverPermit_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an ACCEPTED DRIVER PERMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="AcceptedDriverPermitGroup">
					<xsd:annotation>
						<xsd:documentation>Elements for an ACCEPTED DRIVER PERMIT.</xsd:documentation>
					</xsd:annotation>
				</xsd:group>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AcceptedDriverPermitGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACCEPTED DRIVER PERMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of an ACCEPTED DRIVER PERMIT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfDriverPermitRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== VEHICLE REQUIREMENT ======================================================= -->
	<xsd:element name="VehicleRequirement" type="VehicleRequirement_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Requirements for service.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleRequirement_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleRequirementGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE REQUIREMENT relevant for passenger systems.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of FACILITY REQUIREMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== PASSENGER CARRYING REQUIREMENTs =================================== -->
	<xsd:complexType name="passengerCarryingRequirements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER CARRYING Requirements.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerCarryingRequirementRef"/>
					<xsd:element ref="PassengerCarryingRequirement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerCarryingRequirement" substitutionGroup="VehicleRequirement">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers on a service.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerCarryingRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleRequirementGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerCarryingRequirementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerCarryingRequirementIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerCarryingRequirement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleRequirement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerCarryingRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerCarryingRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PassengerCapacity" minOccurs="0"/>
			<xsd:group ref="VehicleAccessibilityRequirementsGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="passengerCapacities_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER CAPACITY REQUIREMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerCapacityRef"/>
					<xsd:element ref="PassengerCapacity" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerCapacity">
		<xsd:annotation>
			<xsd:documentation>Capacity for a VEHICLE TYPE and Class.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerCapacityStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerCapacityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerCapacityIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of PASSENGER CAPACITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerCapacityStructure">
		<xsd:annotation>
			<xsd:documentation>Capacity for a VEHICLE TYPE and Class.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerCapacityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerCapacityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER CAPACITY REQUIREMENT. relevant for passenger systems.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FareClass" type="FareClassEnumeration" default="any" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Edit care class for which capacity is specifyed. Default is any, i.e. capacity is for all classes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="CapacityGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="CapacityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER CAPACITY REQUIREMENT. relevant for passenger systems.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TotalCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The total capacity of vehicles of the type. For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SeatingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The seating capacity of vehicles of the type. For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StandingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The standing capacity of vehicles of the type. For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpecialPlaceCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of special places on vehicles of the type, e.g. seats for the disabled. For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PushchairCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of push chair places on vehicles of the type. For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairPlaceCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of wheelchairs places on vehicles of the type. For a requirement this is the minimum needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======= PASSENGER CARRYING REQUIREMENTs============================== -->
	<xsd:element name="PassengerCarryingRequirementsView" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerCarryingRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleRequirementGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerCarryingRequirementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerCarryingRequirementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerCarryingPassengerCarrying_ViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerCarryingRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===== VEHICLE MANOEUVRING REQUIREMENTS================================== -->
	<xsd:complexType name="vehicleManoeuvringRequirements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER CARRYING REQUIREMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleManoeuvringRequirementRef"/>
					<xsd:element ref="VehicleManoeuvringRequirement">
						<xsd:annotation>
							<xsd:documentation>An area within a Site. May be connected to Quays by PATH LINKs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleManoeuvringRequirement" substitutionGroup="VehicleRequirement">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleManoeuvringRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a PASSENGER CARRYING REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleManoeuvringRequirementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleManoeuvringRequirementIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE MANOEVRING REQUIREMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleManoeuvringRequirement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE Manoeuvring REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleRequirement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleManoeuvringRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleManoeuvringRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MANOEUVRING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Reversible" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle must be reversible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumTurningCircle" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum distance needed to turn vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumOvertakingWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum distance needed to overtake.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumLength" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum distance needed to accommodate vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleManoeuvringRequirementCapacityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MANOEUVRING REQUIREMENT. relevant for passenger systems.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SeatingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The seating capacity of vehicles of the type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StandingCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The standing capacity of vehicles of the type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpecialPlaceCapacity" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of special places on vehicles of the type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===== FACILITY REQUIREMENTS ========================================= -->
	<xsd:complexType name="facilityRequirements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FACILITY REQUIREMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FacilityRequirementRef"/>
					<xsd:element ref="FacilityRequirement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FacilityRequirement" substitutionGroup="VehicleRequirement">
		<xsd:annotation>
			<xsd:documentation>Requirements for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FacilityRequirement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a FACILITY REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FacilityRequirementGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a FACILITY REQUIREMENT TYPE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FacilityRequirementIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of FACILITY REQUIREMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FacilityRequirement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FACILITY REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleRequirement_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FacilityRequirementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FacilityRequirementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FACILITY REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="facilitySets" type="serviceFacilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Facilities required for VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- =====VEHICLE ===================================================== -->
	<xsd:complexType name="vehicles_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleRef"/>
					<xsd:element ref="Vehicle">
						<xsd:annotation>
							<xsd:documentation>An area within a Site. May be connected to Quays by PATH LINKs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Vehicle" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A public transport vehicle used for carrying passengers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Vehicle_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Vehicle_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description +V1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegistrationNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Licence plate of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegistrationDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date of registration or commissioning - may be used to determine age of the vehice.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VehicleCodeGroup"/>
			<xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
			<xsd:element ref="TransportTypeRef" minOccurs="0"/>
			<xsd:element ref="VehicleModelRef" minOccurs="0"/>
			<xsd:element ref="VehicleModelProfileRef" minOccurs="0"/>
			<xsd:element name="actualVehicleEquipments" type="equipments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ACTUAL EQUIPMENT found in VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleCodeGroup">
		<xsd:annotation>
			<xsd:documentation>Alternative Code Elements for VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OperationalNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Operational Number of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== VEHICLE MODEL ====================================================== -->
	<xsd:element name="VehicleModel" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A classification of public transport vehicles according to the vehicle scheduling requirements in MODE and capacity (e.g. standard bus, double-deck, ...).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleModel_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleModelGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleModelIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE MODEL.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleModel_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="VehicleModelGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleModelGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Manufacturer" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Manufacturer of VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportTypeRef" minOccurs="0"/>
			<xsd:sequence>
				<xsd:element name="equipmentProfiles" type="vehicleEquipmentProfileRefs_RelStructure" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Equipment profiles assoicated with model +v1.2.2</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:element ref="VehicleModelProfileRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- =======VEHICLE EQUIPMENT ================================================== -->
	<xsd:element name="VehicleEquipmentProfile" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Each instantiation of this ENTITY gives the number of items of one TYPE OF EQUIPMENT a VEHICLE MODEL should contain for a given PURPOSE OF EQUIPMENT PROFILE. The set of instantiations for one VEHICLE MODEL and one purpose gives one complete 'profile'.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleEquipmentProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleEquipmentProfileGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleEquipmentProfileIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleEquipmentProfile_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="VehicleEquipmentProfileGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleEquipmentProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="EquipmentRef" minOccurs="0"/>
			<xsd:element name="Units" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of units of EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Manufacturer" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Manufacturer VEHICLE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfEquipmentRef" minOccurs="0"/>
			<xsd:element ref="PurposeOfEquipmentProfileRef" minOccurs="0"/>
			<xsd:element name="vehicleEquipmentProfileMembers" type="vehicleEquipmentProfileMembers_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Members of Vehicle Profile.  +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======VEHICLE EQUIPMENT PROFILE MEMBER ====================================================== -->
	<xsd:complexType name="vehicleEquipmentProfileMembers_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE EQUIPMENT PROFILE MEMBERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleEquipmentProfileMember" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleEquipmentProfileMember" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>A element within a VEHICLE EQUIPMENT PROFILE specifying the number of units of a given a TYPE OF EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleEquipmentProfileMember_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleEquipmentProfileMemberGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleEquipmentProfileMemberIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE EQUIPMENT PROILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleEquipmentProfileMember_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE EQUIPMENT PROFILE MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:group ref="VehicleEquipmentProfileMemberGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleEquipmentProfileMemberGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE EQUIPMENT PROFILE MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHICLE EQUIPMENT PROFILE MEMBER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of VEHICLE EQUIPMENT PROFILE MEMBER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumUnits" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of units of EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfEquipmentRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ========= PURPOSE OF EQUIPMENT ============================================ -->
	<xsd:element name="PurposeOfEquipmentProfile" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A functional purpose which requires a certain set of EQUIPMENT of different types put together in a VEHICLE EQUIPMENT PROFILE or STOP POINT EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PurposeOfEquipmentProfile_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PurposeOfEquipmentProfileIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of PURPOSE OF EQUIMENT PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PurposeOfEquipmentProfile_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a PURPOSE OF EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- =========TYPE OF DRIVER PERMIT. ============================================ -->
	<xsd:element name="TypeOfDriverPermit" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A type of driving license (e.g. https://en.wikipedia.org/wiki/European_driving_licence ). +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfDriverPermit_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfDriverPermitIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of PURPOSE OF EQUIPMENT PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfDriverPermit_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF DRIVER PERMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
