XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_reusableComponents/netex_equipmentVehiclePassenger_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_equipmentVehiclePassenger_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>

				<Description>
					<p>NeTEx - Network Exchange. This subschema defines passenger vehicle EQUIPMENT </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2				<Date>
					<Modified>2019-03-25</Modified>Fix #41 by Skinkie from 2019.01.07. Fix typo on MobilityList. 
				</Date>001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_equipmentVehiclePassenger_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - TICKETING EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>VEHICLE PASSENGER EQUIPMENT types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../netex_framework/netex_utility/netex_units.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_accessibility/netex_acsb_accessibility.xsd"/>
	<xsd:include schemaLocation="netex_equipmentVehiclePassenger_support.xsd"/>
	<xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
	<xsd:group name="VehicleEquipmentChoice">
		<xsd:annotation>
			<xsd:documentation>Choice of VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AccessVehicleEquipment"/>
			<xsd:element ref="WheelchairVehicleEquipment"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="vehicleEquipments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>List of VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AccessVehicleEquipment"/>
					<xsd:element ref="WheelchairVehicleEquipment"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====ACCESS=================================================================== -->
	<xsd:element name="ActualVehicleEquipment" type="ActualVehicleEquipment_VersionStructure" abstract="true" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>An item of EQUIPMENT of a particular type actually available in an individual VEHICLE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ActualVehicleEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Abstract Type for an ACTUAL VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ActualVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ActualVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACTUAL VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Units" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Units of EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
			<xsd:element ref="EquipmentRef" minOccurs="0"/>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="AccessVehicleEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of VEHICLE EQUIPMENT for ACCESS providing information such as low floor, ramp, access area dimensions, etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AccessVehicleEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Fixed" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether the EQUIPMENT is fixed at a place or min a vehicle.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActualVehicleEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessVehicleEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AccessVehicleEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AccessVehicleEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an ACCESS VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ActualVehicleEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AccessVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACCESS VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="AccessVehicleEquipmentBoardingGroup"/>
			<xsd:group ref="AccessVehicleEquipmentDoorGroup"/>
			<xsd:group ref="AccessVehicleEquipmentAdditionalGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessVehicleEquipmentGroup2">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACCESS VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="AccessVehicleEquipmentBoardingGroup"/>
			<xsd:group ref="AccessVehicleEquipmentDoorGroup"/>
			<xsd:group ref="AccessVehicleEquipmentAdditionalGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessVehicleEquipmentBoardingGroup">
		<xsd:annotation>
			<xsd:documentation>Borading Elements for an ACCESS VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LowFloor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Low floor VEHICLES can use stop and be accessible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HighFloor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>High floor VEHICLES can use stop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Hoist" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE Hoist can be used at VEHICLE has a hoist or lift  for wheelchairs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HoistOperatingRadius" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Distance from VEHICLE needed to operate hoist.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ramp" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether  a ramp may be used to access VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RampBearingCapacity" type="WeightType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum weight that ramp can bear.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of steps to board or alight from VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BoardingHeight" type="TypeOfEntity_VersionStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum step height to board.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GapToPlatform" type="TypeOfEntity_VersionStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Normal gap between VEHICLE and platform.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessVehicleEquipmentDoorGroup">
		<xsd:annotation>
			<xsd:documentation>Door Elements for an ACCESS VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="WidthOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of access area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of access area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AutomaticDoors" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are automatic doors.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessVehicleEquipmentAdditionalGroup">
		<xsd:annotation>
			<xsd:documentation>Additional Elements for an ACCESS VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SuitableFor" type="MobilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mobility needs for which access is suitable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssistanceNeeded" type="AssistanceNeededEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of assistance needed to board - level Access allows self-boarding.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssistedBoardingLocation" type="AssistedBoardingLocationEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether special position on platform  is needed for boarding.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GuideDogsAllowed" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether a Guide Dog is allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="WheelchairVehicleEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of VEHICLE EQUIPMENT for Wheel chair accessibility on board a VEHICLE providing information such as the number of wheel chair areas and the access dimensions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="WheelchairVehicleEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Fixed" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether the EQUIPMENT is fixed at a place or min a vehicle.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActualVehicleEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="WheelchairVehicleEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="WheelchairVehicleEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WheelchairVehicleEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a WHEELCHAIR VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ActualVehicleEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="WheelchairVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="WheelchairVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an WHEELCHAIR VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HasWheelChairSpaces" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are any wheelchair spaces. Should be true if Number of Wheelchair spaces is greater than zero.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfWheelchairAreas" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of wheelchair places on vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WidthOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LengthOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairTurningCircle" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CompanionSeat" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a companion seat.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
