XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_frames/netex_nm_mobilityServiceFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_mobilityServiceFrame_version">
	<xsd:include schemaLocation="../../netex_framework/netex_frames/netex_commonFrame_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_nm_fleetEquipment_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_modeOfOperation_version.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_taxiPlace_version.xsd"/>
	<xsd:include schemaLocation="../part5_rc/netex_nm_mobilityService_version.xsd"/>
	<xsd:include schemaLocation="../part5_rc/netex_nm_onlineService_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_nm_fleet_version.xsd"/>
	<xsd:include schemaLocation="../part5_nd/netex_nm_vehicleMeetingPlace_version.xsd"/>
	<xsd:include schemaLocation="../part5_nd/netex_nm_vehicleMeetingPoint_version.xsd"/>
	<xsd:include schemaLocation="../part5_nd/netex_nm_vehicleMeetingPointAssignment_version.xsd"/>
	<xsd:include schemaLocation="../part5_nd/netex_nm_vehicleServicePlaceAssignment_version.xsd"/>
	<xsd:include schemaLocation="../part5_nd/netex_nm_mobilityServiceConstraintZone_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Created as W3C .xsd schema by Nicholas Knowles. as 1.0 XML schema </Creator>
				<Date><Created>2020-10-08</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-15</Modified>Add MobilityServiceElement and VehiclMeetingLink, MobilityServiceCOnstraint
				</Date>
				<Date><Modified>2021-01-08</Modified>Drop MobilityServiceElement  
				</Date>
				<Date><Modified>2021-09-01</Modified>Add PoolOfVehicles 
				</Date>
				<Description>
					<p>NeTEx Network Exchange MOBILITY SERVICE FRAME</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_frames}netex_mobilityServiceFrame_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 SG6 and Department for Transport, Great Minster House, 76 Marsham Street, London SW1P 4DR</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/ifopt/netex_xxxxx.xsd</Requires>
				</Relation>
				<Rights>Unclassified
                                        <Copyright>CEN, Crown Copyright 2020-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Evolved from NaPTAN, SIRI and other schemas.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange (IFOPT subset) - MOBILITY SERVICE FRAME types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NewModes MOBILITY SERVICE FRAME types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="MobilityServiceFrameIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MOBILITY SERVICE FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VersionFrameIdType"/>
	</xsd:simpleType>
	<xsd:element name="MobilityServiceFrameRef" type="MobilityServiceFrameRefStructure" abstract="false" substitutionGroup="VersionFrameRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MOBILITY SERVICE FRAME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MobilityServiceFrameRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a MOBILITY SERVICE FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionFrameRefStructure">
				<xsd:attribute name="ref" type="MobilityServiceFrameIdType" use="required"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="MobilityServiceFrame" abstract="false" substitutionGroup="CommonFrame">
		<xsd:annotation>
			<xsd:documentation>A coherent set of MOBILITY SERVICE data to which the same frame VALIDITY CONDITIONs have been assigned. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MobilityService_VersionFrameStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionFrameGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MobilityServiceFrameGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MobilityServiceFrameIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MobilityService_VersionFrameStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a MOBILITY SERVICE FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Common_VersionFrameStructure">
				<xsd:sequence>
					<xsd:group ref="MobilityServiceFrameGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MobilityServiceFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MOBILITY SERVICE FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="VehiclesInFrameGroup"/>
			<xsd:group ref="MobilityServicesInFrameGroup"/>
			<xsd:group ref="MeetingPointsInFrameGroup"/>
			<xsd:group ref="MobilityServiceConstraintsInFrameGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="VehiclesInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>VEHICLE related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fleets" type="fleets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FLEETs in Frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="poolsOfVehicles" type="poolOfVehicles_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>POOLs OF VEHICLEs in Frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="MobilityServicesInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>MOBILITY SERVICE related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="modesOfOperation" type="modesOfOperationRelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MODEs of OPERATION</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mobilityServices" type="mobilityServices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MOBILITY SERVICEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="onlineServices" type="onlineServices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ONLINE  SERVICEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="MeetingPointsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>MEETING POINT  related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="vehicleMeetingPoints" type="vehicleMeetingPointsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE MEETING POINTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicleMeetingLinks" type="vehicleMeetingLinksInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE MEETING POINTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicleMeetingPointAssignments" type="vehicleMeetingPointAssignmentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE MEETING POINT ASSIGNMENTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicleMeetingPlaces" type="vehicleMeetingPlaces_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE MEETIN.G PLACES  in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicleMeetingPlaceAssignments" type="vehicleServicePlaceAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE SERVICE PLACE ASSIGNMENTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
