XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_frames/netex_nm_mobilityJourneyFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_mobilityJourneyFrame_version">
	<xsd:include schemaLocation="../../netex_framework/netex_frames/netex_commonFrame_version.xsd"/>
	<xsd:include schemaLocation="../part5_rc/netex_nm_onlineService_version.xsd"/>
	<xsd:include schemaLocation="../part5_sj/netex_nm_singleJourneyPath_version.xsd"/>
	<xsd:include schemaLocation="../part5_sj/netex_nm_singleJourneyService_version.xsd"/>
	<xsd:include schemaLocation="../part5_fm/netex_nm_individualTraveller_version.xsd"/>
	<xsd:include schemaLocation="../part5_fm/netex_nm_accessCredentialsAssignment_version.xsd"/>
	<xsd:include schemaLocation="../part5_nd/netex_nm_vehicleParkingAreaInformation_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Created as W3C .xsd schema by Nicholas Knowles. as 1.0 XML schema </Creator>
				<Date><Created>2020-10-08</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-21</Modified>Add Individual Travellers
				</Date>
				<Date><Modified>2021-07-03</Modified>Add PARKING BAY CONDITION and RENTAL AVAILABILITY 
				</Date>
				<Date><Modified>2021-09-01</Modified>Correct  PARKING BAY CONDITION and RENTAL AVAILABILITY to be just enties.
				</Date>
				<Description>
					<p>NeTEx Network Exchange MOBILITY JOURNEY FRAME
										</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_frames}netex_mobilityJourneyFrame_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 SG6 and Department for Transport, Great Minster House, 76 Marsham Street, London SW1P 4DR</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/ifopt/netex_xxxxx.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Evolved from NaPTAN, SIRI and other schemas.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange (IFOPT subset) - MOBILITY JOURNEY FRAME types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NewModes MOBILITY JOURNEY FRAME types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="MobilityJourneyFrameIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MOBILITY JOURNEY FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VersionFrameIdType"/>
	</xsd:simpleType>
	<xsd:element name="MobilityJourneyFrameRef" type="MobilityJourneyFrameRefStructure" abstract="false" substitutionGroup="VersionFrameRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MOBILITY JOURNEY FRAME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MobilityJourneyFrameRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a MOBILITY JOURNEY FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionFrameRefStructure">
				<xsd:attribute name="ref" type="MobilityJourneyFrameIdType" use="required"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="MobilityJourneyFrame" abstract="false" substitutionGroup="CommonFrame">
		<xsd:annotation>
			<xsd:documentation>A coherent set of MOBILITY JOURNEY data to which the same frame VALIDITY CONDITIONs have been assigned.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MobilityJourney_VersionFrameStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionFrameGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MobilityJourneyFrameGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MobilityJourneyFrameIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MobilityJourney_VersionFrameStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a MOBILITY JOURNEY FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Common_VersionFrameStructure">
				<xsd:sequence>
					<xsd:group ref="MobilityJourneyFrameGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MobilityJourneyFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MOBILITY JOURNEY FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="SingleJourneysInFrameGroup"/>
			<xsd:group ref="IndividualTravellersInFrameGroup"/>
			<xsd:group ref="ServiceInformationInFrameGroup"/>
			<xsd:group ref="ParkingStatusInFrameGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="SingleJourneysInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>SINGLE  JOURNEY related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="singleJourneyPaths" type="singleJourneyPaths_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SINGLE JOURNEY PATHss in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfSingleJourneys" type="groupsOfSingleJourneys_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPS OF SINGLE JOURNEYs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="singleJourneys" type="singleJourneys_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SINGLE JOURNEYs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="ServiceInformationInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Service Information related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="vehicleAccessCredentials" type="vehicleAccessCredentialAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE MEETING POINTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="ParkingStatusInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Rental Parking status elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="parkingLogEntries" type="parkingLogEntriesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE MEETING POINTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
