XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_genericFramework/netex_pointAndLinkSequence_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_pointAndLinkSequence_version">
	<xsd:include schemaLocation="netex_pointAndLinkSequence_support.xsd"/>
	<xsd:include schemaLocation="netex_section_version.xsd"/>
	<xsd:include schemaLocation="netex_grouping_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2010-11-05</Modified>
				</Date>
				<Date><Modified>2010-11-30</Modified> Add projections, revise for revised Section Mode
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines POINT AND LINK SEQUENCE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_genericFramework}netex_pointAndLinkSequence_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - POINT AND LINK SEQUENCE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>POINT AND LINK SEQUENCE T types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="LinkSequence" type="LinkSequence_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An LINK SEQUENCE of Links and Nodes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LinkSequence_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for an Abstract LINK SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="LinkSequenceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LinkSequenceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LINK SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of LINK SEQUENCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of LINK SEQUENCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Further Description of a LINKSEQUENCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Distance" type="DistanceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Overall distance of LINK SEQUENCE. Can be derived from component LINKs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element name="projections" type="projections_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PROJECTIONs of LINK SEQUENCE onto another ENTITY or layer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="infoLinks" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Hyperlinks associated with JOURNEY.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="infoLinks_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sectionsInSequence" type="sectionsInSequence_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SECTIONS that make up route.  Can be used as an alternative to  points in Seqnece. POINTS and LINKS must be of same type as sequence, eg ROUTE, ROUTE POINT, ROUTE LINK</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PointInLinkSequence" type="PointInLinkSequence_VersionedChildStructure" abstract="true" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>An node of an abstract LINK SEQUENCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointInLinkSequence_VersionedChildStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a POINT IN LINK SEQUENCE i.e. a Node of a graph.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="PointInLinkSequenceGroup"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:positiveInteger">
					<xsd:annotation>
						<xsd:documentation>Order of POINT within parent.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PointInLinkSequenceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a POINT IN LINK SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LinkSequenceRef" minOccurs="0"/>
			<xsd:element name="projections" type="projections_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PROJECTIONs of POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Further Description of a POINT IN LINK SEQUENCE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="LinkInLinkSequence" type="LinkInLinkSequence_VersionedChildStructure" abstract="true" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>An edge of an abstract LINK SEQUENCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LinkInLinkSequence_VersionedChildStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a LINK IN LINK SEQUENCE. I.e. an Edge of a graph.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="LinkInLinkSequenceGroup"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:positiveInteger">
					<xsd:annotation>
						<xsd:documentation>Order of LINK in sequence.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LinkInLinkSequenceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LINK IN LINK SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LinkSequenceRef" minOccurs="0"/>
			<xsd:element name="projections" type="projections_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PROJECTIONs of POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Further Description of a POINT IN LINK SEQUENCE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfLinkSequence" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of LINK SEQUENCEs according to their functional purpose.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfLinkSequence_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfLinkSequenceIdType"/>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional" fixed="LinkSequence">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfLinkSequence_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF LINK SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="groupOfLinkSequences_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GROUPs OF LINK SEQUENCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfLinkSequences" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GroupOfLinkSequences" abstract="false" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A grouping of LINK SEQUENCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfLinkSequences_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfLinkSequencesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfLinkSequencesIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfLinkSequences_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GROUP OF LINK SEQUENCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfLinkSequencesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfLinkSequencesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a GROUP OF LINK SEQUENCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="members" type="linkSequenceRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LINK SEQUENCEs in GROUP OF LINK SEQUENCEs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====CommonSectionSequenceMember=================================================================== -->
</xsd:schema>
