XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_genericFramework/netex_projection_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01." id="netex_projection_support">
	<xsd:include schemaLocation="netex_spatialFeature_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2010-11-05</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines PROJECTION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_genericFramework}netex_projection_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - PROJECTION identifier types. </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>PROJECTION identifier types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:simpleType name="ProjectionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="ProjectionRef" type="ProjectionRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PROJECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ProjectionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="ProjectionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PROJECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PointProjectionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ProjectionIdType"/>
	</xsd:simpleType>
	<xsd:element name="PointProjectionRef" type="PointProjectionRefStructure" substitutionGroup="ProjectionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PROJECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointProjectionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a POINT PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ProjectionRefStructure">
				<xsd:attribute name="ref" type="PointProjectionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT PROJECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LinkProjectionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LINK PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ProjectionIdType"/>
	</xsd:simpleType>
	<xsd:element name="LinkProjectionRef" type="LinkProjectionRefStructure" substitutionGroup="ProjectionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PROJECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LinkProjectionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a LINK PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ProjectionRefStructure">
				<xsd:attribute name="ref" type="LinkProjectionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LINK PROJECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ZoneProjectionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ZONE PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ProjectionIdType"/>
	</xsd:simpleType>
	<xsd:element name="ZoneProjectionRef" type="ZoneProjectionRefStructure" substitutionGroup="ProjectionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PROJECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ZoneProjectionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ZONE PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ProjectionRefStructure">
				<xsd:attribute name="ref" type="ZoneProjectionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ZONE PROJECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="LinkSequenceProjectionRef" type="LinkSequenceProjectionRefStructure" substitutionGroup="ProjectionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a LINK SEQUENCE PROJECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="LinkSequenceProjectionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LINK SEQUENCE PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ProjectionIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="LinkSequenceProjectionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a LINK SEQUENCE PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ProjectionRefStructure">
				<xsd:attribute name="ref" type="LinkSequenceProjectionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PROJECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ComplexFeatureProjectionRef" type="ComplexFeatureProjectionRefStructure" substitutionGroup="ProjectionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a COMPLEX FEATURE PROJECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ComplexFeatureProjectionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a COMPLEX FEATURE PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ProjectionIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="ComplexFeatureProjectionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a COMPLEX FEATURE PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ProjectionRefStructure">
				<xsd:attribute name="ref" type="ComplexFeatureProjectionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PROJECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LineShapeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LINE SHAPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ProjectionIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfProjectionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfProjectionRef" type="TypeOfProjectionRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF PROJECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfProjectionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF PROJECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfProjectionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF PROJECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
