XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_genericFramework/netex_spatialFeature_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_spatialFeature_version">
	<xsd:include schemaLocation="netex_spatialFeature_support.xsd"/>
	<xsd:include schemaLocation="netex_zone_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2010-11-05</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines SPATIAL FEATURE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_genericFramework}netex_spatialFeature_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - SPATIAL FEATURE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SPATIAL FEATURE elements for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="SpatialFeaturesInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>SPATIAL FEATUREs in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="spatialFeatures" type="spatialFeaturesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TARIFF ZONEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="spatialFeaturesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TSPATIAL FEATURe.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="SimpleFeature"/>
					<xsd:element ref="ComplexFeature"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="SpatialFeature" type="GroupOfPoints_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Abstract SPATIAL FEATURE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ==SIMPLE FEATURE============================================================ -->
	<xsd:element name="SimpleFeature" abstract="false" substitutionGroup="SpatialFeature">
		<xsd:annotation>
			<xsd:documentation>An abstract representation of elementary objects related to the spatial representation of the network POINTs (0-dimensional objects), LINKs (1-dimensional objects) and ZONEs (2-dimensional objects) may be viewed as SIMPLE FEATUREs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SimpleFeature_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="ZoneRef" minOccurs="0"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SimpleFeatureIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SimpleFeature_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SIMPLE FEATURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfPoints_VersionStructure">
				<xsd:sequence>
					<xsd:element ref="ZoneRef" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ComplexFeature" abstract="false" substitutionGroup="SpatialFeature">
		<xsd:annotation>
			<xsd:documentation>An aggregate of SIMPLE FEATUREs and/or other COMPLEX FEATUREs; e.g. a STOP AREA : combination of STOP POINTs ; a train station : combination of SIMPLE FEATUREs (POINTs, LINKs) and COMPLEX FEATUREs (STOP AREAs).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ComplexFeature_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ComplexFeatureGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ComplexFeatureIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ComplexFeature_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a COMPLEX FEATURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfPoints_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ComplexFeatureGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ComplexFeatureGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a COMPLEX FEATURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="GroupOfEntitiesRef" minOccurs="0"/>
			<xsd:element name="featureMembers" type="complexFeatureMembers_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Simple features making up COMPLEX FEATURE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="complexFeatureMembers_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more VALIDITY TRIGGERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element name="ComplexFeatureMember" type="ComplexFeatureMember_VersionedChildStructure" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Member of a COMPLEX FEATURE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplexFeatureMember_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a Member of COMPLEX FEATURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractGroupMember_VersionedChildStructure">
				<xsd:sequence>
					<xsd:element name="ComplexFeatureRef" type="ComplexFeatureRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Parent of Simple Feature: if given by context, ignore.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice>
						<xsd:element ref="SimpleFeatureRef">
							<xsd:annotation>
								<xsd:documentation>Reference to a SIMPLE FEATURe.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="VersionOfObjectRef"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfFeature" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>TYPE OF FEATURe.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfFeature_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfFeatureIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfFeature_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF FEATURE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
