XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_genericFramework/netex_organisation_version.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_organisation_version">
	<xsd:include schemaLocation="../netex_utility/netex_utility_contact.xsd"/>
	<xsd:include schemaLocation="../netex_responsibility/netex_responsibilitySet_version.xsd"/>
	<xsd:include schemaLocation="netex_alternativeName_version.xsd"/>
	<xsd:include schemaLocation="netex_organisation_support.xsd"/>
	<xsd:include schemaLocation="netex_zone_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2020-07-12</Modified>Fix for Issue OrganisationalUnit #100
					 Correct the Susbtitution group on OrganisationUnit to be OrganizationPart_
				</Date>
				<Date>
					<Modified>2017-03-28 CR0031  Organisation  and OrganisationalPart Add  OwnResponsibilitySets and delegatedResponsibilitySets </Modified>
					<Modified>2017-03-28 CR0032   Add Codespace range and TypeOf Assignment Value .   add PrivateCode to AdministrativeZone.  Add Subzones</Modified>
					<Modified>2017-05-06 CR0032   Add Maximum Length to Codespace</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines ORGANISATION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_genericFramework}netex_organisation_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ORGANISATION. types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>ORGANISATION types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="organisationsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Organisation_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="departmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DEPARTMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Department" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="Organisation_" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Dummy supertype for ORGANISATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Organisation" abstract="true" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>An legally incorporated body associated with any aspect of the transport system.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Organisation_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup">
								<xsd:annotation>
									<xsd:documentation>Details for Organisation.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OrganisationIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Organisation_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="OrganisationGroup">
						<xsd:annotation>
							<xsd:documentation>Details for Organisation.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OrganisationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="OrganisationCodeGroup"/>
			<xsd:group ref="OrganisationNameGroup"/>
			<xsd:group ref="OrganisationPropertiesGroup"/>
			<xsd:element name="Status" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the ORGANISATION is active. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ValidityPeriod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Period when the ORGANISATION is valid.[NOTE COULD DROP THis NOW that have VALIDITY PERIOD on base.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="ValidBetween_VersionStructure">
							<xsd:sequence>
								<xsd:sequence>
									<xsd:element name="FromDate" type="xsd:dateTime" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Start date of AVAILABILITY CONDITION.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ToDate" type="xsd:dateTime" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>End of AVAILABILITY CONDITION. Date is INCLUSIVE.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="parts" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parts of the ORGANISATION.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="organisationParts_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:group ref="OrganisationDelegationGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="OrganisationCodeGroup">
		<xsd:annotation>
			<xsd:documentation>Code details for an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicCode" type="PrivateCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Public code to use for ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element name="CompanyNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Company registration number including Country prefix.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExternalOperatorRef" type="ExternalObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An alternative  code that uniquely identifies the OPERATOR. Specifically for use in AVMS systems. For VDV compatibility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="OrganisationNameGroup">
		<xsd:annotation>
			<xsd:documentation>Name details for an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name of the ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A short name of the ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LegalName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The legal name of the ORGANISATION, if different from Name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TradingName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The Trading name of the ORGANISATION given to the Public - If different from Name or Legal Name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternativie names for ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="OrganisationPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Properties for an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Remarks" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Further remarks about ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Locale" minOccurs="0"/>
			<xsd:element name="ContactDetails" type="ContactStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact details for ORGANISATION for Public use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrivateContactDetails" type="ContactStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact details for ORGANISATION Private use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OrganisationType" type="OrganisationTypeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typesOfOrganisation" type="typeOfOrganisationRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of OPERATOR. Used for arbitrary documentation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="OrganisationDelegationGroup">
		<xsd:annotation>
			<xsd:documentation>Delegations for an ORGANISATION. NX 1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ownResponsibilitySets" type="responsibilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Own RESPONSIBILITY SETs V1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="delegatedResponsibilitySets" type="responsibilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Delegated responsibility SETS. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="delegatedFrom" type="organisationRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Other Organisations that delegate to this Organisation  ORGANISATION. (TAP TSI B1.)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="organisationParts_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ORGANISATION PARTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="OrganisationPartRef"/>
					<xsd:element ref="OrganisationPart_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OrganisationPart_" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Dummy supertype for ORGANISATION PART.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganisationPart" abstract="false" substitutionGroup="OrganisationPart_">
		<xsd:annotation>
			<xsd:documentation>A named subdivision of an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OrganisationPart_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationPartGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OrganisationPartIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OrganisationPart_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an ORGANISATION PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="OrganisationPartGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OrganisationPartGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ORGANISATION PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of ORGANISATION PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of DEPARTMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of ORGANISATIONAL UNIT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublicCode" type="PrivateCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional public code used for department.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element name="ContactDetails" type="ContactStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact details for ORGANISATION PART for Public use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Location" type="LocationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Coordinates of ORGANISATIONAL UNIT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OrganisationRef" minOccurs="0"/>
			<xsd:element ref="TypeOfOrganisationPartRef" minOccurs="0"/>
			<xsd:element name="administrativeZones" type="administrativeZones_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Zones managed by ORGANISATION PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="OrganisationDelegationGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="departments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DEPARTMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="DepartmentRef"/>
					<xsd:element ref="Department"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Department" abstract="false" substitutionGroup="OrganisationPart_">
		<xsd:annotation>
			<xsd:documentation>Department of an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Department_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationPartGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DepartmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DepartmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Department_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a DEPARTMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OrganisationPart_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DepartmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DepartmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DEPARTMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfOperationRef" minOccurs="0"/>
			<xsd:element name="units" type="organisationalUnitRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of DEPARTMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="organisationalUnits_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ORGANISATIONAL UNITs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="OrganisationalUnitRef"/>
					<xsd:element ref="OrganisationalUnit"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OrganisationalUnit" abstract="false" substitutionGroup="OrganisationPart_">
		<xsd:annotation>
			<xsd:documentation>OrganisationalUnit of an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OrganisationalUnit_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationPartGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationalUnitGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OrganisationalUnitIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OrganisationalUnit_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a ORGANISATIONAL UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OrganisationPart_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OrganisationalUnitGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OrganisationalUnitGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a ORGANISATIONAL UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DepartmentRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="administrativeZones_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ADMINISTRATIVE ZONEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AdministrativeZoneRef"/>
					<xsd:element ref="AdministrativeZone_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AdministrativeZone_" type="Zone_VersionStructure" abstract="true" substitutionGroup="Zone">
		<xsd:annotation>
			<xsd:documentation>Dummy supertype for ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AdministrativeZone" abstract="false" substitutionGroup="AdministrativeZone_">
		<xsd:annotation>
			<xsd:documentation>A ZONE relating to the management responsibilities of an ORGANISATION. For example to allocate bus stop identifiers for a region.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AdministrativeZone_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AdministrativeZoneGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AdministrativeZoneIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AdministrativeZone_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Zone_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AdministrativeZoneGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AdministrativeZoneGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ADMINISTRATIVE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicCode" type="PrivateCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Public Code assosociated with Zone</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OrganisationRef" minOccurs="0"/>
			<xsd:element name="responsibilities" type="responsibilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>RESPONSIBILITY SETs allocated to ADMINISTRATIVE ZONE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codespaceAssignments" type="codespaceAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CODESPACEs belonging to ADMINISTRATIVE ZONE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subzones" type="administrativeZones_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Subzones of  ADMINISTRATIVE Zone; ie. strict subzones that are administrative subdivisions of the parent.  These should not contradict Parent ZONE references..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="codespaceAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of CODESPACE  ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence maxOccurs="1">
					<xsd:element name="CodespaceAssignment" type="CodespaceAssignment_VersionedChildStructure" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Assignment of use of a CODESPACE with responsibility for managing data within a given ZONE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CodespaceAssignment" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Assignment of use of a CODESPACE to identify data within a given ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CodespaceAssignment_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CodespaceAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CodespaceAssignmentIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CodespaceAssignment_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a CODESPACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="CodespaceAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CodespaceAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CODESPACE  ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="CodespaceRef"/>
				<xsd:element ref="Codespace"/>
			</xsd:choice>
			<xsd:element ref="AdministrativeZoneRef" minOccurs="0"/>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start date for effectiveness of CODESPACE ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End date for effectiveness of CODESPACE ASSIGNMENT. Date is INCLUSIVE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameOfClass" type="NameOfClass" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of class whose names are being assigned.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CodePrefix" type="xsd:normalizedString" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Code prefix assigned uniquely to zone. Used to allocate new ids If CODESPACE also specified, used within CODESPACE. Only this ADMINISTRATIVE ZONE may allocate codes beginning with these prefixes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:group ref="CodeRangeGroup">
					<xsd:annotation>
						<xsd:documentation>Elements for a CODESPACE  RANGE. +v1.1</xsd:documentation>
					</xsd:annotation>
				</xsd:group>
			</xsd:choice>
			<xsd:element name="MaximumLength" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum Length for code. +V1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of CODESPACE ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfCodespaceAssignmentRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="CodeRangeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CODESPACE  RANGE</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StartValue" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start range for codes allocateed by Organisation under this CODESPACE ASSIGNMENT. +V1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndValue" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End range for codes allocateed by Organisation under this CODESPACE ASSIGNMENT. +V1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfCodespaceAssignment" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Classification of an CODESPACE  ASSIGNMENT </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfCodespaceAssignment_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfCodespaceAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfCodespaceAssignment_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF CODESPACE ASSIGNMENT </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfOrganisation" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>Classification of an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfOrganisation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfOrganisationIdType"/>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional" fixed="Organisation">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfOrganisation_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfOrganisationPart" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>Classification of an ORGANISATION PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfOrganisationPart_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfOrganisationPartIdType"/>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional" fixed="OrganisationPart">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfOrganisationPart_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF ORGANISATION PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfOperation" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>Classification of an OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfOperation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfOperationIdType"/>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional" fixed="Operation">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfOperation_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF OPERATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="OrganisationTypeListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Allowed values for ORGANISATION TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="OrganisationTypeEnumeration"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="OrganisationView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of ORGANISATION. All data except the identifier will be derived through the referenced to the Organisation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Organisation_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Organisation_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an ORGANISATION VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="OrganisationRef" minOccurs="0"/>
					<xsd:group ref="OrganisationNameGroup"/>
					<xsd:element name="ContactDetails" type="ContactStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Contact details for ORGANISATION for Public use.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
