XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_tacticalPlanning/netex_routingConstraint_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_routingConstraint_support_version">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_place_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2011-02-05</Modified>Name Space changes   
				</Date>
				<Date><Modified>2020-10-25</Modified>New Modes	add ROutingConstraint enum values "mustBoardInZone" and "cannotBoardInZone" "passThroughUseOnly" "forbiddenZone"
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the ROUTING CONSTRAINT identifier types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_routingConstraint_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx ROUTING CONSTRAINT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: ROUTING CONSTRAINT identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ServiceExclusionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SERVICE EXCLUSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="ServiceExclusionRef" type="ServiceExclusionRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SERVICE EXCLUSION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceExclusionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SERVICE EXCLUSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="ServiceExclusionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SERVICE EXCLUSION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassServiceExclusionRefStructureType" default="ServiceExclusion">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ServiceExclusionRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TransferRestrictionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRANSFER RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="TransferRestrictionRef" type="TransferRestrictionRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRANSFER RESTRICTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TransferRestrictionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRANSFER RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="TransferRestrictionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRANSFER RESTRICTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTransferRestrictionRefStructureType" default="TransferRestriction">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TransferRestrictionRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RoutingConstraintZoneIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUTING CONSTRAINT ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ZoneIdType"/>
	</xsd:simpleType>
	<xsd:element name="RoutingConstraintZoneRef" type="RoutingConstraintZoneRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUTING CONSTRAINT ZONE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoutingConstraintZoneRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ROUTING CONSTRAINT ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ZoneRefStructure">
				<xsd:attribute name="nameOfRefClass" type="NameOfClassRoutingConstraintZoneRefStructureType" default="RoutingConstraintZone">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for RoutingConstraintZoneRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="GroupOfPointsIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TransferConstraintTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Transfer Constraint.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="canTransfer"/>
			<xsd:enumeration value="cannotTransfer"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ZoneUseEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for zone use.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="forbiddenZone">
				<xsd:annotation>
					<xsd:documentation>Zone may not be entered. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="cannotBoardAndAlightInSameZone">
				<xsd:annotation>
					<xsd:documentation>Cannot board and alight within the same zone.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="cannotBoardInZone">
				<xsd:annotation>
					<xsd:documentation>May not board in zone. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="cannotAlightInZone">
				<xsd:annotation>
					<xsd:documentation>May not alight in zone. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="mustBoardInZone">
				<xsd:annotation>
					<xsd:documentation>Must board in Zone. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="mustAlightInZone">
				<xsd:annotation>
					<xsd:documentation>Must alight in zone. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="passThroughUseOnly">
				<xsd:annotation>
					<xsd:documentation>May only pass through zone. +v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other">
				<xsd:annotation>
					<xsd:documentation>Other rule.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
