XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_tacticalPlanning/netex_stopAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_stopAssignment_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2010-11-05</Modified>
				</Date>
				<Date><Modified>2024-06-24</Modified>Rename train stop assignment (deprectaed) to passenger boarding assignment
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines common STOP ASSIGNMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_stopAssignment_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - STOP ASSIGNMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>STOP ASSIGNMENT identifier types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- =========================================================== -->
	<xsd:simpleType name="StopAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="StopAssignmentRef" type="StopAssignmentRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="StopAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STOP ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassStopAssignmentRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for StopAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====PASSENGER STOP ASSIGNMENT ====================================================== -->
	<xsd:simpleType name="PassengerStopAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of PASSENGER STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StopAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerStopAssignmentRef" type="PassengerStopAssignmentRefStructure" substitutionGroup="StopAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerStopAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PASSENGER STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="StopAssignmentRefStructure">
				<xsd:attribute name="ref" type="PassengerStopAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER STOP ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerStopAssignmentRefStructureType" default="PassengerStopAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for PassengerStopAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======DEPRECATED TRAIN STOP BOARDING POSITION ASSIGNMENT.================================= -->
	<xsd:simpleType name="TrainStopAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED - Use PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StopAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrainStopAssignmentRef" type="TrainStopAssignmentRefStructure" substitutionGroup="StopAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED - Use PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrainStopAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED - Use PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="StopAssignmentRefStructure">
				<xsd:attribute name="ref" type="TrainStopAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>DEPRECATED - Use PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTrainStopAssignmentRefStructureType" default="TrainStopAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TrainStopAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======PASSENGER BOARDING POSITION ASSIGNMENT.================================= -->
	<xsd:simpleType name="PassengerBoardingPositionAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StopAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerBoardingPositionAssignmentRef" type="PassengerBoardingPositionAssignmentRefStructure" substitutionGroup="StopAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerBoardingPositionAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="StopAssignmentRefStructure">
				<xsd:attribute name="ref" type="PassengerBoardingPositionAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerBoardingPositionAssignmentRefStructureType" default="PassengerBoardingPositionAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for PassengerBoardingPositionAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======Path ASSIGNMENT=================================================== -->
	<xsd:simpleType name="PathAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of PATH ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StopAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="PathAssignmentRef" type="PathAssignmentRefStructure" substitutionGroup="StopAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PATH ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PathAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PATH ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="StopAssignmentRefStructure">
				<xsd:attribute name="ref" type="PathAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER STOP ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassStopAssignmentRefStructureType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
