XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_tacticalPlanning/netex_timingPattern_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_timingPattern_version">
	<xsd:include schemaLocation="../part1_networkDescription/netex_route_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_noticeAssignment_version.xsd"/>
	<xsd:include schemaLocation="netex_journeyPatternTimings_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Date><Modified>2017-05-09</Modified> FIX Make Route Ref optional 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the TIMING PATTERN types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_timingPattern_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TIMING PATTERN types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: TIMING PATTERN types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="TimingPatternInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIMING PATTERN in a frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timingPoints" type="timingPointsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIMING POINTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timingLinks" type="timingLinksInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIMING LINKs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timingPatterns" type="timingPatternsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIMING PATTERNs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="timingPointsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TIMING POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TimingPoint" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="timingLinksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TIMING LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TimingLink" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="timingPatternsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TIMING PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TimingPattern" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="groupOfTimingLinksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of GROUP OF TIMING LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfTimingLinks" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====TIMING POINT==================================================== -->
	<xsd:complexType name="timingPoints_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIMING POINTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TimingPoint" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>TIMING POINT.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimingPoint_" type="Point_VersionStructure" abstract="true" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation>A POINT against which the timing information necessary to build schedules may be recorded.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TimingPoint" abstract="false" substitutionGroup="TimingPoint_">
		<xsd:annotation>
			<xsd:documentation>A POINT against which the timing information necessary to build schedules may be recorded.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimingPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimingPointIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimingPoint_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for TIMING POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Point_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TimingPointGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimingPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIMING POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TimingPointStatus" type="TimingPointStatusEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default Nature of TIMING POINT. Default is primary TIMING POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllowedForWaitTime" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default WAIT TIME associated with TIMING POINT. May be overridden on specific POINTs in JOURNEY PATTERNs for POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== TIMING LINK =================================================== -->
	<xsd:complexType name="timingLinks_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIMING LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TimingLink" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimingLink" abstract="false" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>An ordered pair of TIMING POINTs for which run times may be recorded.  Timing links are directional - there will be separate links for each direction of a route.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimingLink_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingLinkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimingLinkIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of TIMING LINK.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimingLink_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TIMING LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Link_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TimingLinkGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimingLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIMING LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromPointRef" type="TimingPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of TIMING POINT from which LINK starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToPointRef" type="TimingPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of TIMING POINT at which LINK ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="VehicleMode" minOccurs="0"/>
			<xsd:element ref="OperationalContextRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ===TIMING PATTERN===================================================== -->
	<xsd:element name="TimingPattern" abstract="false" substitutionGroup="LinkSequence">
		<xsd:annotation>
			<xsd:documentation>The subset of a JOURNEY PATTERN made up only of TIMING POINTs IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimingPattern_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingPatternGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimingPointIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimingPattern_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TIMING PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LinkSequence_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TimingPatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimingPatternGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIMING PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RouteRef" type="RouteRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Route that TIMING PATTERN describes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DirectionType" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time demand at start of pattern.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="TimeDemandTypeRef"/>
				<xsd:element ref="TimebandRef"/>
			</xsd:choice>
			<xsd:element name="pointsInSequence" type="timingPointsInJourneyPattern_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered List of points used in TIMING PATTERN. specific to TIMING PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="points" type="timingPoints_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of points used in TIMING PATTERN. May also be defined elsewhere. Can be used to encapsulate TIMING PATTERN with its component POINTS.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="links" type="timingLinks_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of links used in TIMING PATTERN. May also be defined elsewhere. Can be used to encapsulate TIMING PATTERN with its component Link.s.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===== Point in pattern ================================================= -->
	<xsd:complexType name="timingPointsInJourneyPattern_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIMING POINTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TimingPointInJourneyPattern" minOccurs="2" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>TIMING POINT.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimingPointInJourneyPattern" abstract="false" substitutionGroup="PointInLinkSequence">
		<xsd:annotation>
			<xsd:documentation>A NODE in a JOURNEY PATTERN which is a TIMING POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimingPointInJourneyPattern_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointInLinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingPointInJourneyPatternGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimingPointInJourneyPatternIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimingPointInJourneyPattern_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for TIMING POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PointInLinkSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="TimingPointInJourneyPatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimingPointInJourneyPatternGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIMING POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimingPointRef"/>
			<xsd:element name="OnwardTimingLinkRef" type="TimingLinkRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Used to disambiguate if multiple links between the same points.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="TimingPointWaitGroup"/>
			<xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICEs for TIMING POINT IN JOURNEY PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======Link in pattern ========================================================= -->
	<xsd:element name="TimingLinkInJourneyPattern" abstract="false" substitutionGroup="LinkInLinkSequence">
		<xsd:annotation>
			<xsd:documentation>The position of a TIMING LINK in a JOURNEY PATTERN. This ENTITY is needed if a TIMING LINK is repeated in the same JOURNEY PATTERN, and separate information is to be stored about each iteration of the TIMING LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimingLinkInJourneyPattern_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkInLinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingLinkInJourneyPatternGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimingLinkIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimingLinkInJourneyPattern_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for TIMING LINK IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LinkInLinkSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="TimingLinkInJourneyPatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimingLinkInJourneyPatternGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIMING LINK IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimingLinkRef"/>
			<xsd:element name="runTimes" type="journeyRunTimes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>run times for this TIMING LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==GROUP OF OPERATORss============================================================ -->
	<xsd:element name="GroupOfTimingLinks" abstract="false" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A set of TIMING LINKs grouped together according to the similarity of TIME BANDs which are relevant to them. There may be a GROUP OF TIMING LINKS which covers all TIMING LINKs, for use when different GROUPs OF TIMING LINKS are not needed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfTimingLinks_RelStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfTimingLinksGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfTimingLinksIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfTimingLinks_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GROUP OF TIMING LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfTimingLinksGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfTimingLinksGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for GROUP OF TIMING LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="members" type="timingLinkRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIMING LINKs in group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="OnwardTimingLinkView" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Information about onwards TIMING LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OnwardTimingLink_DerivedViewStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="TimingLinkRef" minOccurs="0"/>
							<xsd:element name="ToPointRef" type="TimingPointRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Identifier of POINT at which LINK ends.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RunTime" type="xsd:duration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Run time for TIMING LINK - TIME BAND given by context.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimingLinkIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of TIMING LINK of which this is a view.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OnwardTimingLink_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Information about onwards TIMING LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="TimingLinkInJourneyPatternRef" minOccurs="0"/>
					<xsd:element ref="TimingLinkRef" minOccurs="0"/>
					<xsd:element name="ToPointRef" type="TimingPointRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Identifier of POINT at which LINK ends.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RunTime" type="xsd:duration" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Run time for TIMING LINK - TIME BAND given by context.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
