XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_tacticalPlanning/netex_servicePattern_version.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com) by Christophe Duquesne (Dryade) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_servicePattern_version">
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_servicePattern_support.xsd"/>
	<xsd:include schemaLocation="../part1_tacticalPlanning/netex_fareZone_support.xsd"/>
	<xsd:include schemaLocation="netex_journeyPattern_version.xsd"/>
	<xsd:include schemaLocation="netex_timingPattern_version.xsd"/>
	<xsd:include schemaLocation="netex_siteConnection_version.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_flexibleNetwork_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Date>
					<Modified>2017-05-19</Modified>CRT040
				     	Allow type  attribute on Public and ShortCode.   Backwards compatible.  Add NameSuffix to SchedueldStopPoint
				</Date>
				<Date>
					<Modified>2017-06-11</Modified>CRT023 Add BookingArrangements to StopPointInPattern nt
				</Date>
				<Date>
					<Modified>2017-05-25</Modified>Text on for alighting/boarding corrected. Doc change only.
				</Date>
				<Date>
					<Modified>2019-02-21</Modified>Remove commented out old Section code
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>Merge in Corrections to comments as per SBB20 #55 Correct camel case on StopPoinInXXX groups. 
				</Date>
				<Date>
					<Modified>2019-03-25</Modified> NL48  CD #64  Add new attributes for   advertising of stop; Print and Dynamic to StopPointInPattern.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SERVICE PATTERN types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_servicePattern_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
						<Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SERVICE PATTERN types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NetEx: SERVICE PATTERN types.</xsd:documentation>
	</xsd:annotation>
	<!--CLOSE COUPLED WITH JourneyPattern_version-->
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="ServiceInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Service related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="scheduledStopPoints" type="scheduledStopPointsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SCHEDULED STOP POINTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceLinks" type="serviceLinksInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SERVICE LINKs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="servicePatterns" type="servicePatternsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SERVICE PATTERNs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stopAreas" type="stopAreasInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>STOP AREAS in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="connections" type="transfersInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CONNECTIONs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tariffZones" type="tariffZonesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TARIFF ZONEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="scheduledStopPointsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of SCHEDULED STOP POINTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ScheduledStopPoint" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="serviceLinksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of SERVICE LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ServiceLink" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="stopAreasInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of STOP AREAs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="StopArea" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="servicePatternsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of SERVICE PATTERNs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ServicePattern"/>
					<xsd:element ref="JourneyPatternView"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ScheduledStopPoint" abstract="false" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation> A POINT where passengers can board or alight from vehicles.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ScheduledStopPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingPointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ScheduledStopPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ScheduledStopPointIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ScheduledStopPoint_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for SCHEDULED STOP POINT restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TimingPoint_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ScheduledStopPointGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ScheduledStopPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SCHEDULED STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="StopPointReferencesGroup"/>
			<xsd:group ref="StopPointDescriptionGroup">
				<xsd:annotation>
					<xsd:documentation>Descriptive Elements for a SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="StopPointPropertiesGroup">
				<xsd:annotation>
					<xsd:documentation>Property Elements for a SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="StopPointPlaceGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointPlaceGroup">
		<xsd:annotation>
			<xsd:documentation>Topographic Place element for description of a SCHEDULED STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CountryRef" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element ref="TopographicPlaceRef"/>
				<xsd:element ref="TopographicPlaceView"/>
			</xsd:choice>
			<xsd:element name="AtCentre" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether STOP POINT can be considered as being at the centre of a TOPOGRAPHIC PLACE.  Default is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointDescriptionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for description of a SCHEDULED STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameSuffix" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optiona l Suffix for Name of SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Further description of SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Label of SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="StopPointCodesGroup"/>
			<xsd:element name="Url" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>URL for SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StopType" type="StopTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Categorisation of SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CompassBearing" type="AbsoluteBearingType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Heading of STOP relative to street. Degrees  from North. This should be considered as a derived value that can be used for presentation purposes when information about the physical stop is not available. . The definitive value is the compass bearing found on the QUAY (i.e. physical stop) to which a SCHEDULED STOP POINT is assigned.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Presentation" type="PresentationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Presentation values to use when rendering STOP POINT such as a colour. and font.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointCodesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for additional identifiers of a SCHEDULED STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ShortStopCode" type="PrivateCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An alternative short code that t identifies the STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublicCode" type="PrivateCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A PUBLIC code that uniquely identifies the STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element name="ExternalStopPointRef" type="ExternalObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An alternative  code that uniquely identifies the STOP POINT. pecifically for use in AVMS systems that require an alias, if. For VDV compatibility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for properties of a SCHEDULED STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleModes" type="VehicleModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRANSPORT MODE or MODES of STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForAlighting" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default for whether SCHEDULED STOP POINT may be used for alighting. May be overridden on specific services.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForBoarding" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default for whether SCHEDULED STOP POINT may be used for boarding. May be overridden on specific services.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequestStop" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether stop is by default a request stop in the timetable. May be overridden in specific SERVICE PATTERNs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequestMethodType" type="RequestMethodTypeEnumeration" default="noneRequired" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Method of request stop. Default is noneRequired. + v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointReferencesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for references of a SCHEDULED STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="stopAreas" type="stopAreaRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether by default a passenger can alight at SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tariffZones" type="tariffZoneRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TARIFF ZONEs for SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ServiceLink" abstract="false" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>A LINK between an ordered pair of STOP POINTs.  Service links are directional - there will be separate links for each direction of a route.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ServiceLink_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ServiceLinkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ServiceLinkIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ServiceLink_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for SERVICE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Link_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ServiceLinkGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ServiceLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SERVICE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromPointRef" type="ScheduledStopPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of SCHEDULED STOP POINT from which Link starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToPointRef" type="ScheduledStopPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of SCHEDULED STOP POINT at which Link ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="VehicleMode" minOccurs="0"/>
			<xsd:element ref="OperationalContextRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="StopArea" abstract="false" substitutionGroup="Zone">
		<xsd:annotation>
			<xsd:documentation>A group of STOP POINTs close to each other.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="StopArea_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopAreaGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="StopAreaIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="StopArea_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a STOP AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Zone_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="StopAreaGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="StopAreaGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a STOP AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicCode" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternative public facing Code that uniquely identifies the STOP AREA.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ParentStopAreaRef" type="StopAreaRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to any parent STOP AREA of the STOP AREA.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element ref="TopographicPlaceRef"/>
				<xsd:element ref="TopographicPlaceView"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="Connection" abstract="false" substitutionGroup="Transfer">
		<xsd:annotation>
			<xsd:documentation>The physical (spatial) possibility for a passenger to change from one public transport vehicle to another to continue the trip. Different times may be necessary to cover this link, depending on the kind of passenger.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Connection_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransferGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ConnectionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ConnectionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Connection_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a CONNECTION link restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Transfer_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ConnectionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ConnectionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CONNECTION link.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ExternalConnectionLinkRef" type="ExternalObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An alternative  code that uniquely identifies the CONNECTION link Specifically for use in AVMS systems that require an alias, if. For VDV compatibility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="From" type="ConnectionEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Origin end of CONNECTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="To" type="ConnectionEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destination end of  CONNECTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransferOnly" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether  connecting at this stop passengers may only transfer. If true, then they may not enter or exit at the station.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="ConnectionEnd" type="ConnectionEndStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>One end of a CONNECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ConnectionEndStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a CONNECTION END.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TransportMode" type="AllVehicleModesOfTransportEnumeration" default="all" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MODE of end Point of CONNECTION. Default is all modes. Can be derived.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ScheduledStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of  specific SCHEDULED STOP POINT at end of CONNECTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===SERVICE PATTERN===================================================== -->
	<xsd:element name="ServicePattern" abstract="false" substitutionGroup="LinkSequence">
		<xsd:annotation>
			<xsd:documentation>The subset of a JOURNEY PATTERN made up only of STOP POINTs IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ServicePattern_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ServicePatternGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ServicePatternIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ServicePattern_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a SERVICE PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LinkSequence_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ServicePatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ServicePatternGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SERVICE PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="JourneyPatternProperties"/>
			<xsd:group ref="JourneyPatternTimesGroup"/>
			<xsd:element name="journeyPatterns" type="journeyPatternRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>JOURNEY PATTERNs that make up SERVICE PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="ServiceJourneyPatternSequencesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ServicePatternSequenceGroup">
		<xsd:annotation>
			<xsd:documentation>Point and Link elements in sequence for a SERVICE PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pointsInSequence" type="stopPointsInJourneyPattern_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered collection of POINTs making up the SERVICE PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="linksInSequence" type="serviceLinksInJourneyPattern_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered collection of LINKS  making up the SERVICE PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ServiceJourneyPattern" abstract="false" substitutionGroup="JourneyPattern_">
		<xsd:annotation>
			<xsd:documentation>The JOURNEY PATTERN for a (passenger carrying) SERVICE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ServiceJourneyPattern_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyPatternGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ServiceJourneyPatternGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ServiceJourneyPatternIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ServiceJourneyPattern_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SERVICE JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyPattern_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ServiceJourneyPatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ServiceJourneyPatternGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SERVICE JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceJourneyPatternType" type="ServiceJourneyPatternTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of SERVICE JOURNEY PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ServiceJourneyPatternSequencesGroup">
		<xsd:annotation>
			<xsd:documentation>Sequence elements for a SERVICE JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pointsInSequence" type="stopPointsInJourneyPattern_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered collection of POINTs making up the SERVICE PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="linksInSequence" type="serviceLinksInJourneyPattern_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered collection of LINKS  making up the SERVICE PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="stopPointsInJourneyPattern_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of STOP POINTs IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="StopPointInJourneyPattern" minOccurs="2" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="StopPointInJourneyPattern" abstract="false" substitutionGroup="PointInLinkSequence">
		<xsd:annotation>
			<xsd:documentation>The use of a SCHEDULED STOP POINT in a specified order. within a JOURNEY PATTERN or SERVICE PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="StopPointInJourneyPattern_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:element ref="LinkSequenceRef" minOccurs="0"/>
								<xsd:element name="projections" type="projections_RelStructure" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>PROJECTIONs of POINT.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Description" type="MultilingualString" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Further Description of a POINT IN LINK SEQUENCE</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopPointInJourneyPatternGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="StopPointInJourneyPatternIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="StopPointInJourneyPattern_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a STOP POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PointInLinkSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="StopPointInJourneyPatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="StopPointInJourneyPatternGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a STOP POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="StopPointInJourneyPatternTimingGroup"/>
			<xsd:element name="OnwardServiceLinkRef" type="ServiceLinkRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Link that connects this to the next point. Allows to disambiguate if there are multiple SERVICE LINKs between two SERVICE POINTs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForAlighting" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether alighting is allowed at the stop. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForBoarding" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether boarding is allowed at the stop. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="StopPointInPatternPropertiesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointInJourneyPatternTimingGroup">
		<xsd:annotation>
			<xsd:documentation>TiingPoint Elements for a STOP POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ScheduledStopPointRef"/>
			<xsd:element name="OnwardTimingLinkRef" type="TimingLinkRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Onward link - used to disambiguate if there are multiple links from the same stop, e.g. as for cloverleaf route topology. If not given explicitly assume there is only one link that connects the two.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="TimingPointWaitGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointInPatternPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements describing common properties of visit to stop.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PointInPatternPropertiesGroup"/>
			<xsd:element name="RequestStop" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether stop is a request stop for this journey. Default is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequestMethod" type="RequestMethodTypeEnumeration" default="noneRequired" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Method to Request Stop in this particular service pattern; if none specified, as as per stop.  +V1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StopUse" type="StopUseEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of use of stop, e.g. access, interchange only, or pass through. Default is Access.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BookingArrangements" type="BookingArrangementsStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Booking Arrangements for stop if different from those for SERVICE JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="StopPointInPatternAdvertisementGroup">
				<xsd:annotation>
					<xsd:documentation>Advertisement Elements for info about publicising STOP POINT IN JOURNEY PATTERN. +V1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointInPatternAdvertisementGroup">
		<xsd:annotation>
			<xsd:documentation>Advertisement Elements for info about publicising STOP POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Print" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the stop is included in printed media. Default is true. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Dynamic" type="DynamicAdvertisementEnumeration" default="always" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>When STOP POINT IN JOURNEY PATTERN is to be publicised in dynamic media. Default is always. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======Link in pattern ========================================================= -->
	<!-- ======================================================================= -->
	<xsd:complexType name="serviceLinksInJourneyPattern_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SERVICE LINKs IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ServiceLinkInJourneyPattern" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ServiceLinkInJourneyPattern" type="ServiceLinkInJourneyPattern_VersionedChildStructure" abstract="false" substitutionGroup="LinkInLinkSequence">
		<xsd:annotation>
			<xsd:documentation>The use of a SERVICE LINK in a specified order. within a JOURNEY PATTERN or SERVICE PATTERN.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceLinkInJourneyPattern_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a SERVICE LINK IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LinkInLinkSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="TimingLinkInJourneyPatternGroup" minOccurs="0"/>
					<xsd:group ref="ServiceLinkInJourneyPatternGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ServiceLinkInJourneyPatternGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SERVICE LINK IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ServiceLinkRef"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ScheduledStopPointView" type="ScheduledStopPoint_DerivedViewStructure" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of SCHEDULED STOP POINT. Includes derived some propertries of a stop.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ScheduledStopPoint_DerivedViewStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for SCHEDULED STOP POINT VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="ScheduledStopPointRef" minOccurs="0"/>
					<xsd:element name="Name" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of Stop Point.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TypeOfPointRef" minOccurs="0"/>
					<xsd:group ref="StopPointDescriptionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="OnwardServiceLinkView" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Information about an onwards SERVICE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OnwardServiceLink_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OnwardServiceLink_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for information about onwards SERVICE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="ServiceLinkInJourneyPattern" minOccurs="0"/>
					<xsd:element ref="ServiceLinkRef" minOccurs="0"/>
					<xsd:element name="ToPointRef" type="ScheduledStopPointRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Identifier of POINT at which LINK ends.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Distance" type="DistanceType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distance for SERVICE LINK.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RunTime" type="xsd:duration" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>RUN TIME for SERVICE LINK.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="StopPointInJourneyPatternView" type="StopPointInJourneyPattern_DerivedViewStructure" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified STOP POINT IN JOURNEY PATTERN. Assumes single time demand.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopPointInJourneyPattern_DerivedViewStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for STOP POINT IN JOURNEY PATTERN VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="PointInJourneyPatternRef" minOccurs="0"/>
					<xsd:group ref="StopPointInJourneyPatternViewPropertiesGroup"/>
					<xsd:group ref="StopPointInJourneyPatternViewTimingGroup">
						<xsd:annotation>
							<xsd:documentation>Time related elements from a STOP POINT IN JOURNEY PATTERN.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:positiveInteger">
					<xsd:annotation>
						<xsd:documentation>Order of CALL within Journey.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="StopPointInJourneyPatternViewPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements from a STOP POINT IN JOURNEY PATTERN VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VisitNumber" type="xsd:positiveInteger" default="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Count of number of visits to this stop - as per SIRI use. Default is 1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:annotation>
					<xsd:documentation>Restrict just to SCHEDULED STOP POINTs.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="ScheduledStopPointRef"/>
				<xsd:element ref="ScheduledStopPointView" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="OnwardTimingLinkView" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element name="OnwardServiceLinkRef" type="ServiceLinkRefStructure">
					<xsd:annotation>
						<xsd:documentation>reference to onwards SERVICE LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="OnwardServiceLinkView"/>
			</xsd:choice>
			<xsd:element name="TimingPointStatus" type="TimingPointStatusEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of TIMING POINT. Default is primary.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopPointInJourneyPatternViewTimingGroup">
		<xsd:annotation>
			<xsd:documentation>Timing elements from a STOP POINT IN JOURNEY PATTERN VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsWaitPoint" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether point is a wait point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element ref="TimeDemandTypeRef" minOccurs="1"/>
				<xsd:element ref="TimebandRef" minOccurs="1"/>
			</xsd:choice>
			<xsd:element name="WaitTime" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Wait time as interval. OPTIMISATION assuming default Time Demand. Use this to declare a single time. on a specific journey Other wise a list of times for different time demands for a JOURNEY PATTERN used in many different times.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="HeadwayIntervalGroup"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
