XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_tacticalPlanning/netex_journeyPattern_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_journeyPattern_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the JOURNEY PATTERN types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_journeyPattern_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx JOURNEY PATTERN types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: JOURNEY PATTERN identfier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===JOURNEY PATTERN====================================================== -->
	<xsd:complexType name="journeyPatternRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyPatternRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="JourneyPatternIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="JourneyPatternRef" type="JourneyPatternRefStructure" substitutionGroup="LinkSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyPatternRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkSequenceRefStructure">
				<xsd:attribute name="ref" type="JourneyPatternIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a JOURNEY PATTERN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="DeadRunJourneyPatternIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DEAD RUN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyPatternIdType"/>
	</xsd:simpleType>
	<xsd:element name="DeadRunJourneyPatternRef" type="DeadRunJourneyPatternRefStructure" substitutionGroup="JourneyPatternRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DEAD RUN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DeadRunJourneyPatternRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DEAD RUN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="JourneyPatternRefStructure">
				<xsd:attribute name="ref" type="DeadRunJourneyPatternIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DEAD RUN JOURNEY PATTERN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PointInJourneyPatternIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PointInSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="PointInJourneyPatternRef" type="PointInJourneyPatternRefStructure" substitutionGroup="PointInSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a POINT IN JOURNEY PATTERN. If Given by Context does not need to stated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointInJourneyPatternRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PointInSequenceRefStructure">
				<xsd:attribute name="ref" type="PointInJourneyPatternIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT IN JOURNEY PATTERN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LinkInJourneyPatternIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LINK IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkInSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="LinkInJourneyPatternRef" type="LinkInJourneyPatternRefStructure" substitutionGroup="LinkInSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a LINK IN JOURNEY PATTERN. If Given by Context does not need to stated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LinkInJourneyPatternRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a LINK IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkInSequenceRefStructure">
				<xsd:attribute name="ref" type="LinkInJourneyPatternIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LINK IN JOURNEY PATTERN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfJourneyPatternIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfJourneyPatternRef" type="TypeOfJourneyPatternRefStructure" abstract="false" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfJourneyPatternRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfJourneyPatternIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF JOURNEY PATTERN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:simpleType name="TimingPointInJourneyPatternIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TIMING POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PointInJourneyPatternIdType"/>
	</xsd:simpleType>
	<xsd:element name="TimingPointInJourneyPatternRef" type="TimingPointInJourneyPatternRefStructure" substitutionGroup="PointInJourneyPatternRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TIMING POINT IN JOURNEY PATTERN. If given by context does not need to be stated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TimingPointInJourneyPatternRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a TIMING POINT JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PointInJourneyPatternRefStructure">
				<xsd:attribute name="ref" type="TimingPointInJourneyPatternIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TIMING POINT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TimingLinkInJourneyPatternIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TIMING LINK IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkInJourneyPatternIdType"/>
	</xsd:simpleType>
	<xsd:element name="TimingLinkInJourneyPatternRef" type="TimingLinkInJourneyPatternRefStructure" substitutionGroup="LinkInJourneyPatternRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TIMING LINK IN JOURNEY PATTERN. If given by context does not need to be stated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TimingLinkInJourneyPatternRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a TIMING LINK JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkInJourneyPatternRefStructure">
				<xsd:attribute name="ref" type="TimingLinkInJourneyPatternIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TIMING LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TimingPointStatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TYPE OF TIMING POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="timingPoint"/>
			<xsd:enumeration value="secondaryTimingPoint"/>
			<xsd:enumeration value="notTimingPoint"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
