XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_tacticalPlanning/netex_stopAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_stopAssignment_version">
	<xsd:include schemaLocation="../part1_ifopt/netex_ifopt_stopPlace_version.xsd"/>
	<xsd:include schemaLocation="netex_stopAssignment_support.xsd"/>
	<xsd:include schemaLocation="netex_servicePattern_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_version.xsd"/>
	<xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_deckEntranceAssignment_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date><Modified>2012-03-04</Modified>Revise attributes of StopAssignment MODEL CHANGE
				</Date>
				<Date><Modified>2017-06-03</Modified>CR0040 Allow inlining of STOP POINT, STOP PLACE, QUAY etc so as to iimprove packaging (no semantic change)
				</Date>
				<Date><Modified>2017-06-03</Modified>CR0051 CD Allow reference to JOURNEY PATTERN on DYNAMIC STOP ASSIGNMENT.
				</Date>
				<Date><Modified>2023-11-07</Modified>CR0544 Deprecate PrivateCode.
				</Date>
				<Date><Modified>2023-12-12</Modified>Add DECK ENTRANCE ASSIGNMENT
				</Date>
				<Date><Modified>2024-02-08</Modified>Add Directional attributes as per MS suggestions:  ArrivesForwards, DpeartsForwards  ArrivesFrom, Left DepartsToRight .  corrected name of passengerBoardingPositionAssignments
				</Date>
				<Date><Modified>2024-06-24</Modified>Rename train stop assignment (deprectaed) to passenger boarding assignment
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines common STOP ASSIGNMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_stopAssignment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					<Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - STOP ASSIGNMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>STOP ASSIGNMENT types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="StopAssignmentInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>STOP ASSIGNMENT related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="stopAssignments" type="stopAssignmentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>STOP ASSIGNMENTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="stopAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of STOP ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="StopAssignment" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>The allocation of a SCHEDULED STOP POINT (i.e. a SCHEDULED STOP POINT of a SERVICE PATTERN or JOURNEY PATTERN) to a specific STOP PLACE, for either a Passenger JOURNEY or VEHICLE SERVICE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====== STOP ASSIGNMENT.=========================================== -->
	<xsd:element name="StopAssignment" type="StopAssignment_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Assignment of a SCHEDULED STOP POINT to a STOP PLACE and QUAY, etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StopAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="StopAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="StopAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BoardingUse" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether alignment is for boarding use. Default is 'true'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AlightingUse" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether alignment is for alighting use. Default is 'true'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED - use privateCodes. -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference or inline declaration of SCHEDULED STOP POINT which is being assigned.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="ScheduledStopPointRef"/>
				<xsd:element ref="ScheduledStopPoint"/>
			</xsd:choice>
			<xsd:group ref="StopAssignmentDirectionGroup">
				<xsd:annotation>
					<xsd:documentation>Directional elements for a STOP ASSIGNMENT. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StopAssignmentDirectionGroup">
		<xsd:annotation>
			<xsd:documentation>Directional elements for a STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ArrivesForwards" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE or TRAIN arrives at stop travelling in a forwards direction, i.e. operational orientation. Default is true. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DepartsForwards" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE or TRAIN departs from stop travelling in a forwards direction, i.e. operational orientation. Default is true.. Default is true. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ArrivesFromLeft" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE or TRAIN is expected to arrive at the QUAY from the left of a bystander facing the track edge of the platform. Default is true. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DepartsToRight" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether VEHICLE or TRAIN is expected to depart from the QUAY to the right of a bystander facing the track edge of the platform. Default is true. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======PASSENGER STOP ASSIGNMENT.=========================================== -->
	<xsd:element name="PassengerStopAssignment" substitutionGroup="StopAssignment">
		<xsd:annotation>
			<xsd:documentation>The default allocation of a SCHEDULED STOP POINT to a specific STOP PLACE, and also possibly a QUAY and BOARDING POSITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerStopAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerStopAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerStopAssignmentIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerStopAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER STOP ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StopAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerStopAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerStopAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER STOP ASSIGNMENT. Either StopPlace(Ref) or Quay(Ref) must at least be present. Best practice is to always have at least the StopPlace(Ref). It is also prefered that the Ref are used and the Quay/StopPlace are defined on their own in the appropriate Frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>STOP PLACE to which SCHEDULED STOP POINT is to be assigned.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="StopPlaceRef"/>
				<xsd:element ref="StopPlace"/>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>QUAY to which SCHEDULED STOP POINT is to be assigned.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="QuayRef"/>
				<xsd:element ref="Quay"/>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>BOARDING POSITION to which SCHEDULED STOP POINT is to be assigned.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="BoardingPositionRef"/>
				<xsd:element ref="BoardingPosition"/>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:element name="passengerBoardingPositionAssignments" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Train stop assignments elements to use for which SCHEDULED STOP POINT is to be assigned. +v2.0</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="passengerBoardingPositionAssignments_RelStructure"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="trainElements" type="trainStopAssignments_RelStructure" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Train elements to which SCHEDULED STOP POINT is to be assigned. DEPRECATED -v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- ======PASSENGER BOARDING POSITION ASSIGNMENT============================================ -->
	<xsd:element name="PassengerBoardingPositionAssignment_Dummy" type="PassengerBoardingPositionAssignment_VersionStructure" abstract="true" substitutionGroup="StopAssignment">
		<xsd:annotation>
			<xsd:documentation>Assignment of a SCHEDULED STOP POINT to a STOP PLACE and QUAY, etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="passengerBoardingPositionAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a PASSENGER BOARDING POSITION ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerBoardingPositionAssignmentRef"/>
					<xsd:element ref="PassengerBoardingPositionAssignment"/>
					<xsd:element ref="PassengerBoardingPositionAssignment_Dummy"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerBoardingPositionAssignment" substitutionGroup="StopAssignment">
		<xsd:annotation>
			<xsd:documentation>The default allocation of a SCHEDULED STOP POINT to a specific STOP PLACE, and also possibly a QUAY and BOARDING POSITION. NB Rebmed from TRAIN STOP ASSIGNMENT in v2.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerBoardingPositionAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerBoardingPositionAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerBoardingPositionAssignmentIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerBoardingPositionAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER BOARDING POSITION ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StopAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerBoardingPositionAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerBoardingPositionAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER BOARDING POSITION ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PassengerStopAssignmentRef" minOccurs="0"/>
			<xsd:element ref="TrainRef" minOccurs="0"/>
			<xsd:choice>
				<xsd:element ref="TrainComponentRef" minOccurs="0"/>
				<xsd:element ref="TrainComponentView" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="PositionOfTrainElement" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Relative position of TRAIN ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BoardingPositionRef" type="BoardingPositionRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>BOARDING POSITION to which TRAIN COMPONENT at SCHEDULED STOP POINT is to be assigned.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsAllowed" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether assigment permits or forbids any use of TRAIN COMPONENT at specifed stop. Default is true. +V2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntranceToVehicle" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Text description of A specific ENTRANCE to the VEHICLE. E.g. Front, rear. NB DECK ENTRANCE ASSIGNMENT can be used to make structured reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deckEntranceAssignments" type="deckEntranceAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DECK ENTRANCE assigned. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======DEPRECATED - Use PASSENGER BOARDING POSITION ASSIGNMENT.============================================ -->
	<xsd:complexType name="trainStopAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED - Use PASSENGER BOARDING POSITION ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TrainStopAssignment">
						<xsd:annotation>
							<xsd:documentation>DEPRECATED - Use PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TrainStopAssignmentRef"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TrainStopAssignment" substitutionGroup="StopAssignment">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED - Use PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TrainStopAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StopAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerBoardingPositionAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TrainStopAssignmentIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrainStopAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED - Use PASSENGER BOARDING POSITION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StopAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerBoardingPositionAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======PASSENGER STOP ASSIGNMENT VIEW================================================== -->
	<xsd:element name="PassengerStopAssignmentView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>View of an assignment of a SCHEDULED STOP POINT to a STOP PLACE and quay. etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerStopAssignment_DerivedViewStructure">
					<xsd:sequence>
						<xsd:element ref="PassengerStopAssignmentRef" minOccurs="0"/>
						<xsd:element ref="StopPlaceRef" minOccurs="0"/>
						<xsd:element name="QuayRef" type="QuayRefStructure" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>QUAY to which SCHEDULED STOP POINT is to be assigned.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="QuayName" type="MultilingualString" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Name of QUAY or platform to which the SCHEDULED STOP POINT is assigned.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerStopAssignmentIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of Object of which this is a view.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerStopAssignment_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER STOP POINT ASSIGNMENT VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="PassengerStopAssignmentRef" minOccurs="0"/>
					<xsd:element ref="StopPlaceRef" minOccurs="0"/>
					<xsd:element name="QuayRef" type="QuayRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>QUAY to which SCHEDULED STOP POINT is to be assigned.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QuayName" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of QUAY or platform to which the SCHEDULED STOP POINT is assigned.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Label" type="xsd:normalizedString" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:positiveInteger" use="optional">
					<xsd:annotation>
						<xsd:documentation>Order of Assignment. -v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
