XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_tacticalPlanning/netex_fareZone_version.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_fareZone_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd"/>
	<xsd:include schemaLocation="netex_fareZone_support.xsd"/>
	<xsd:include schemaLocation="../part1_tacticalPlanning/netex_servicePattern_version.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_route_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2013-04-10</Created>
				</Date>
				<Date>
					<Modified>2013-01-11</Modified>
				</Date>
				<Date>
					<Modified>2018-10-01</Modified>NK: Correct  substitution group on FarePointInPattern  to PointInLinkSequence
				</Date>
				<Date>
					<Modified>2019-10-01</Modified>UK-20 Add contains relationship
				</Date>
				<Date>
					<Modified>2019-02-25</Modified>UK-05 Fix: Introduce a dummy Tariffzone  so that Fare zone can be a specialisation of TariffZone. Workaround to XMLSPY issue.
				</Date>
				<Date>
					<Modified>20109-02-25</Modified>UK-14  Add extra  ScopingMethod  attribute to FareZone with enum values   explicitStops,   implicitSpatialProjection, implicitSpatialProjection
							UK-18  Specify  fare stages  ona   pattern: Add extra attributes to FarePointInPattern     IsFareStage   
							EURA  Allow stops to be excluded from a routing    Add extra attributes to FarePointInPattern      _IsForbidden_ 
						</Date>
				<Date>
					<Modified>2019-03-09</Modified>EURA-43 Add extra relationships to FareZone:AuthorityRef / OperatorRef,   GroupOfOperatorsRef, 
				</Date>
							<Date>
					<Modified>2019-05-17</Modified>Fix case in isFareSTage and isForbidden 
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. FARE ZONE types.</p>
				</Description>
				<Format>
					<Mediape>text/xml</Mediape>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_fareZone_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN SWG 9 , 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TAP TSI B1 Document.</li>
					</ul>
				</Source>
				<Status>Version 0.4 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - FARE ZONE types.</Title>
				<pe>Standard</pe>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>FARE ZONE types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="FareRoutingInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Additional descriptive properties of a FARE FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="borderPoints" type="borderPointsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>BORDER POINTs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fareScheduledStopPoints" type="fareScheduledStopPointsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FARE SCHEDULED STOP POINTs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fareZones" type="fareZonesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FARE ZONEs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fareSections" type="fareSectionsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FARE SECTIONs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="borderPointsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of BORDER POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="BorderPoint" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fareScheduledStopPointsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  FARE SCHEUDLED STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ScheduledStopPoint"/>
					<xsd:element ref="FareScheduledStopPoint">
						<xsd:annotation>
							<xsd:documentation> A POINT where passengers can board or alight from vehicles and that is designated fare  point.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fareZonesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of FARE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="FareZone" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fareSectionsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of FARE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="FareSection" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="FareScheduledStopPoint" abstract="false" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation> A POINT where passengers can board or alight from vehicles.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareScheduledStopPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingPointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ScheduledStopPointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareScheduledStopPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareScheduledStopPointIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareScheduledStopPoint_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for FARE SCHEDULED STOP POINT restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ScheduledStopPoint_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FareScheduledStopPointGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareScheduledStopPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE SCHEDULED STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="SiteFacilitySetRef"/>
				<xsd:element ref="SiteFacilitySet"/>
			</xsd:choice>
			<xsd:element name="NameOnRouting" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name to use to indicate station on routings and itineraries.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccountingStopPointRef" type="FareScheduledStopPointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Station to use for accounting (TAP TSi B1)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="BorderPointRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="BorderPoint" abstract="false" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation>Designated BORDER POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="BorderPoint_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingPointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Short Name of BORDER POINT.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Description" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Description of BORDER POINT.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:choice minOccurs="0">
								<xsd:element ref="GroupOfOperatorsRef"/>
								<xsd:element ref="GroupOfOperators"/>
							</xsd:choice>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="BorderPointIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BorderPoint_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a BORDER POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TimingPoint_VersionStructure">
				<xsd:group ref="BorderPointGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="BorderPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for BORDER POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of BORDER POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of BORDER POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element ref="GroupOfOperatorsRef"/>
				<xsd:element ref="GroupOfOperators"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- ====FARE POINT IN JOURNEY PATTERN ====================-->
	<xsd:complexType name="farePointsInPattern_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE POINT IN JOURNEY PATTERNs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FarePointInPatternRef"/>
					<xsd:element ref="FarePointInPattern"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FarePointInPattern" substitutionGroup="PointInLinkSequence">
		<xsd:annotation>
			<xsd:documentation>A POINT IN PATTERN which represents the start or end of a FARE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FarePointInPattern_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointInLinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointInJourneyPatternGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="ScheduledStopPointView" minOccurs="0"/>
							<xsd:element name="AbridgementRanking" type="xsd:integer" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Relative ranking for omitting this FARE POINT IN JOURNEY PATTERN when presenting an abridged verson of the series as an itinerary. 1=High, i.e.  omit first.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PresentationPosition" type="SeriesPresentationEnumeration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Relative position for showing this FARE POINT IN JOURNEY PATTERN in an itinerary when there is a choice according to rail conventions. For example, (A /B) * C versus (B/A) * C. See allowed values below.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="IsForbidden" type="xsd:boolean" default="false" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether use of  fare point is forbidden- can be used to  explicitly exclude certain routings  Default is false.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="InterchangeAllowed" type="xsd:boolean" default="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether interchange to another service is allowed at this point.
 Default is true.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="IsFareStage" type="xsd:boolean" default="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether stop is considered to be a fare stage. +v1.1</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FarePointInPatternIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FarePointInPattern_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PointInJourneyPattern_VersionedChildStructure">
				<xsd:group ref="FarePointInPatternGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FarePointInPatternGroup">
		<xsd:annotation>
			<xsd:documentation>Time Elements for FARE POINT IN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ScheduledStopPointView" minOccurs="0"/>
			<xsd:element name="AbridgementRanking" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Relative ranking for omitting this FARE POINT IN JOURNEY PATTERN when presenting an abridged verson of the series. 1=High.- omit first.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PresentationPosition" type="SeriesPresentationEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Relative positiion to be given to name of point when presenting it in a list of stops (Left, right etc). Allows TAP itinerary to be constructed. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsForbidden" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether use of  fare point is forbidden- can be used to  explicitly exclude certain routings  Default is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InterchangeAllowed" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether interchange to another service is allowed at this point.
 Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsFareStage" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether stop is considered to be a fare stage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====FARE SECTION  ====================-->
	<xsd:complexType name="fareSections_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE SECTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareSectionRef"/>
					<xsd:element ref="FareSection"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareSection" abstract="false" substitutionGroup="Section_">
		<xsd:annotation>
			<xsd:documentation>A subdivision of a JOURNEY PATTERN consisting of consecutive POINTs IN JOURNEY PATTERN, used to define an element of the fare structure.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareSection_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SectionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeneralSectionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareSectionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareSectionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareSection_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GeneralSection_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FareSectionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareSectionGroup">
		<xsd:annotation>
			<xsd:documentation>Time Elements for FARE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="JourneyPatternRef" minOccurs="0"/>
				<xsd:element ref="JourneyPattern" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="FromPointInPatternRef" type="FarePointInPatternRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FARE POINT IN JOURNEY PATTERN at which FARE SECTION begins.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToPointInPatternRef" type="FarePointInPatternRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FARE POINT IN JOURNEY PATTERN at which FARE SECTION ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="FareZone" abstract="false" substitutionGroup="TariffZone_">
		<xsd:annotation>
			<xsd:documentation>A specialization of TARIFF ZONE to include FARE SECTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareZone_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TariffZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="ParentFareZoneRef" type="FareZoneRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Parent FARe ZONE that contains this ZONE.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ZoneTopology" type="ZoneTopologyEnumeration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Classification of zone topology.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ScopingMethod" type="ScopingMethodEnumeration" default="explicitStops" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Indication of how member stops of a FARE ZONE are specified (ExplicitStops, ImplicitSpatialProjection etc) .  Default is ExplicitStops</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
							<xsd:element ref="GroupOfOperatorsRef" minOccurs="0"/>
							<xsd:element name="fareSections" type="fareSections_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>FARE SECTIONS in FARE ZONE.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="contains" type="tariffZoneRefs_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Other fare zone that are wholly  included in the  FARE ZONE.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="neighbours" type="fareZoneRefs_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Adjacent FARE ZONEs.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareZoneIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareZone_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a FARE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TariffZone_VersionStructure">
				<xsd:group ref="FareZoneGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareZoneGroup">
		<xsd:annotation>
			<xsd:documentation>Time Elements for FARE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ParentFareZoneRef" type="FareZoneRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parent FARe ZONE that contains this ZONE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ZoneTopology" type="ZoneTopologyEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of zone topology.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ScopingMethod" type="ScopingMethodEnumeration" default="explicitStops" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indication of how member stops of a FARE ZONE are specified (ExplicitStops, ImplicitSpatialProjection etc) .  Default is ExplicitStops</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
			<xsd:element ref="GroupOfOperatorsRef" minOccurs="0"/>
			<xsd:element name="fareSections" type="fareSections_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FARE SECTIONS in FARE ZONE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contains" type="tariffZoneRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Other fare zone that are wholly  included in the  FARE ZONE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="neighbours" type="fareZoneRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Adjacent FARE ZONEs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
