XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_tacticalPlanning/netex_passengerInformationEquipment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_passengerInformationEquipment_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_support.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_line_support.xsd"/>
	<xsd:include schemaLocation="../part1_ifopt/netex_ifopt_stopPlace_support.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_route_support.xsd"/>
	<xsd:include schemaLocation="netex_passengerInformationEquipment_support.xsd"/>
	<xsd:include schemaLocation="netex_servicePattern_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>

				<Date>
					<Modified>2019-04-15</Modified>Add missing element from TypeofPassengerInformationEquipment
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines PASSENGER INFORMATION EQUIPMENT  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_passengerInformationEquipment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - PASSENGER INFORMATION EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>PASSENGER INFORMATION EQUIPMENT types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="PassengerInformationEquipmentInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>PASSENGER INFORMATION EQUIPMENT related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="logicalDisplays" type="logicalDisplaysInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LOGICAL DISPLAYs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="displayAssignments" type="displayAssignmentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DISPLAY ASSIGNMENTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="passengerInformationEquipments" type="passengerInformationEquipmentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PASSENGER INFORMATION EQUIPMENT in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="logicalDisplaysInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of LOGICAL DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="LogicalDisplay" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="passengerInformationEquipmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of PASS ENGER INFORMATION EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PassengerInformationEquipment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="displayAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in DISPLAY ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DisplayAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="LogicalDisplay" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Represents a set of data that can be assembled for assignment to a physical PASSENGER INFORMATION EQUIPMENT or to a logical channel such as web or media. It is independent of any physical embodiment 

LOGICAL DISPLAY corresponds to a SIRI STOP MONITORING point.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LogicalDisplay_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LogicalDisplayGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LogicalDisplayIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LogicalDisplay_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a LOGICAL DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="LogicalDisplayGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LogicalDisplayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LOGICAL DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of LOGICAL DISPLAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of LOGICAL DISPLAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="displayAssignments" type="displayAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DISPLAY ASSIGNMENTs for LOGICAL DISPLAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PassengerInformationEquipment" abstract="false" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>A public transport information facility, as for instance terminals (on street, at information desks, telematic, ...) or printed material (leaflets displayed at stops, booklets, ...).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerInformationEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Fixed" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether the EQUIPMENT is fixed at a place or min a vehicle.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerInformationEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerInformationEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerInformationEquipment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER INFORMATION EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerInformationEquipmentGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a PASSENGER INFORMATION EQUIPMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerInformationEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER INFORMATION EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LogicalDisplayRef" minOccurs="0"/>
			<xsd:element ref="StopPlaceRef" minOccurs="0"/>
			<xsd:element ref="SiteComponentRef" minOccurs="0"/>
			<xsd:element ref="TypeOfPassengerInformationEquipmentRef" minOccurs="0"/>
			<xsd:element ref="PassengerInformationFacilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of predefined Passenger Info EQUIPMENT f.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AccessibilityInfoFacilityList" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="displayAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DISPLAY ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="DisplayAssignmentRef"/>
					<xsd:element ref="DisplayAssignment">
						<xsd:annotation>
							<xsd:documentation>The assignment of one SCHEDULED STOP POINT and one JOURNEY PATTERN to a PASSENGER INFORMATION EQUIPMENTI  specifying that information on the SCHEDULED STOP POINT and the JOURNEY PATTERN will be provided (e.g. displayed, printed).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DisplayAssignment" abstract="false" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>The assignment of one STOP POINT and one JOURNEY PATTERN to a PASSENGER INFORMATION EQUIPMENT, specifying that information on this STOP POINT and this JOURNEY PATTERN will be provided (e.g. displayed, printed).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DisplayAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DisplayAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="nameOfClass" type="NameOfClass" use="optional">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="dataSourceRef" type="DataSourceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Name of source of the data.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="created" type="xsd:dateTime" use="optional">
						<xsd:annotation>
							<xsd:documentation>Date ENTITY was first created.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="changed" type="xsd:dateTime" use="optional">
						<xsd:annotation>
							<xsd:documentation>Date ENTITY or version was last changed.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="modification" type="ModificationEnumeration" use="optional" default="new">
						<xsd:annotation>
							<xsd:documentation>Nature of last modification: new, revise, delete (default is new).</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="version" type="VersionIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Version number of entity.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="status" type="StatusEnumeration" use="optional" default="active">
						<xsd:annotation>
							<xsd:documentation>Whether ENTITY is currently in use. Default is "released"</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="derivedFromVersionRef" type="VersionIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Version of this object from which this version of ENTITY was derived.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="compatibleWithVersionFrameVersionRef" type="VersionIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Version of frame from with which this version of ENTITY is compatible. Assumes Frame of the same Id as current frame.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="derivedFromObjectRef" type="ObjectIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identity of object from which this object of ENTITY was derived. Normally the same.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="responsibilitySetRef" type="ResponsibilitySetIdType">
						<xsd:annotation>
							<xsd:documentation>Reference to RESPONSIBILITY SET for managing the object. If absent, then responsibility is same as for containing context of this object.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="order" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation>Order in which to show  ASSIGNMENT,</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="id" type="DisplayAssignmentIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of DISPLAY ASSIGNMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DisplayAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DISPLAY ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DisplayAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DisplayAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DISPLAY ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LogicalDisplayRef" minOccurs="0"/>
			<xsd:group ref="DisplayAssignmentReferencesGroup"/>
			<xsd:element name="DisplayAssignmentType" type="DisplayAssignmentTypeEnumeration" default="all" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of data to display.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfJourneysToShow" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of journeys to show, default is all.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DisplayPriority" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Relative priority of display assignment, vis a vis other assignments</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DisplayAssignmentReferencesGroup">
		<xsd:annotation>
			<xsd:documentation>Reference Elements for a DISPLAY ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ScheduledStopPointRef"/>
			<xsd:element ref="VehicleMode" minOccurs="0"/>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element ref="DirectionRef" minOccurs="0"/>
			<xsd:element ref="JourneyPatternRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfPassengerInformationEquipment" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>Classification of a PASSENGER INFORMATION EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfPassengerInformationEquipment_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfPassengerInformationEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfPassengerInformationEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfPassengerInformationEquipment_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF PASSENGER INFORMATION EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TypeOfPassengerInformationEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TypeOfPassengerInformationEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TYPE OF PASSENGER INFORMATION EQUIPMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BroadType" type="MultilingualString" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
