XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_tacticalPlanning/netex_timeDemandType_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_timeDemandType_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLink_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
	<xsd:include schemaLocation="netex_journeyTiming_version.xsd"/>
	<!--CLOSE COUPLED WITH JOURNEY TIMINGS-->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the TIME DEMAND TYPE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_tacticalPlanning}netex_timeDemandType_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TIME DEMAND TYPE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: TIME DEMAND TYPE types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="TimeDemandTypeInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for use of TIME DEMAND TYPE in a frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timeDemandTypes" type="timeDemandTypesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME DEMAND TYPEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeDemandTypeAssignments" type="timeDemandTypeAssignmentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME DEMAND TYPE ASSIGNMENTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timingLinkGroups" type="groupOfLinksInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIMING LINK GROUPs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TimeDemandOnlyInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for use of TIME DEMAND TYPE in a frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timeDemandTypes" type="timeDemandTypesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME DEMAND TYPEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="timeDemandTypesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TIME DEMAND TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TimeDemandType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="timeDemandTypeAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TIME DEMAND TYPE ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TimeDemandTypeAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- === TIME DEMAND TYPE ========================================================= -->
	<xsd:element name="TimeDemandType" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An indicator of traffic conditions or other factors which may affect vehicle run or wait times. It may be entered directly by the scheduler or defined by the use of TIME BANDs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeDemandType_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeDemandTypeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeDemandTypeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimeDemandType_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TIME DEMAND TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TimeDemandTypeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeDemandTypeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIME DEMAND TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of TIME DEMAND TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of TIME DEMAND TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element ref="TypeOfTimeDemandTypeRef" minOccurs="0"/>
			<xsd:element name="Presentation" type="PresentationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The presentation colours to use for this demand type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="TimeDemandTypeTimingsGroup" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TimeDemandTypeTimingsGroup">
		<xsd:annotation>
			<xsd:documentation>Timing Elements for a TIME DEMAND TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="runTimes" type="journeyRunTimes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>RUN TIMEs for TIME DEMAND TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="waitTimes" type="journeyWaitTimes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>WAIT TIMEs for TIME DEMAND TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="layovers" type="journeyLayovers_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LAYOVERs for TIME DEMAND TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="headways" type="journeyHeadways_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HEADWAYs for TIME DEMAND TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehiclePreferences" type="vehicleTypePreferences_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VWHICLE PREFERENCEs for TIME DEMAND TYPE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TimeDemandTypeAssignment" abstract="false" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>The assignment of a TIME DEMAND TYPE to a TIME BAND depending on the DAY TYPE and GROUP OF TIMING LINKS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeDemandTypeAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeDemandTypeAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeDemandTypeAssigmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimeDemandTypeAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TIME DEMAND TYPE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TimeDemandTypeAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeDemandTypeAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIME DEMAND TYPE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimeDemandTypeRef" minOccurs="0"/>
			<xsd:element ref="TimebandRef" minOccurs="0"/>
			<xsd:element ref="GroupOfTimingLinksRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfTimeDemandType" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>Classification of a TIME DEMAND TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfTimeDemandTypeStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfTimeDemandTypeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfTimeDemandTypeStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF TIME DEMAND TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===VehicleTypePreference===================================================== -->
	<xsd:complexType name="vehicleTypePreferences_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE TYPE PREFERENCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleTypePreference" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleTypePreference" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>The preference for the use of a particular VEHICLE TYPE for a SERVICE JOURNEY PATTERN, depending on the DAY TYPE and TIME DEMAND TYPE. The rank of preferences must be recorded. Different VEHICLE TYPEs may be given the same rank.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleTypePreference_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyTimingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleTypePreferenceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleTypePreferenceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleTypePreference_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE TYPE PREFERENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyTiming_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleTypePreferenceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleTypePreferenceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE TYPE PREFERENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Rank" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Relative ranking of this preference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DayTypeRef" minOccurs="0"/>
			<xsd:element ref="VehicleTypePreferenceRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
