XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_responsibility/netex_versionFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by christophe duquesne (Dryade SARL) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_versionFrame_version">
	<xsd:include schemaLocation="netex_versionFrame_support.xsd"/>
	<xsd:include schemaLocation="netex_typeOfValue_version.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_layer_support.xsd"/>
	<xsd:include schemaLocation="../netex_utility/netex_location_types.xsd"/>
	<xsd:include schemaLocation="../netex_responsibility/netex_versionDelta_version.xsd"/>
	<xsd:include schemaLocation="../netex_utility/netex_units.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2014-03-31</Modified>
				</Date>
				<Date>
					<Modified>2019-03-05</Modified>UK-96 Add  prerequisites to VersionFrame
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>UK-8 add LayerRef toVersionFrame and to TypeOfFrame.
				</Date>
				<Date>
					<Modified>2019-03-11</Modified>UK-31 Change data type on ClassAttributeInFrame and ClassRelationshipnFrame  / Name attributes   from NCName to QNAME.
				</Date>
				<Date>
					<Modified>2019-04-15</Modified>Fix Add missing typesO to enable type of Frame
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines VERSION FRAME types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_responsibility}netex_versionFrame_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Created for NeTEx.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ENTITY types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: VERSION FRAME types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ====VERSION FRAME TYPES ======================================= -->
	<xsd:element name="VersionFrame" type="VersionFrame_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation> A set of VERSIONS referring to a same DATA SYSTEM and belonging to the same TYPE OF FRAME.  A FRAME may be restricted by VALIDITY CONDITIONs.  Container for a coherent set of versions of objects.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VersionFrame_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VersionFrameGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VersionFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VERSION FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of VERSION FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfFrameRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a TYPE OF VERSION FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BaselineVersionFrameRef" type="VersionRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prerequisite Baseline VERSION FRAME  that all objects in this VERSION require.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codespaces" type="codespaces_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CODE SPACES used in this frame. Normally there will be at least one.  A default may be specified in the Frame defaults.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FrameDefaults" type="VersionFrameDefaultsStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default values to use on elements in the frame  that do not explicitly state a value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="versions" type="versions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Formal definitions of VERSIONs included in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prerequisites" type="versionFrameRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prerequisite VERSION FRAMEs containing elements  that this frame depends on.  +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="traces" type="traces_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRACEs recording changes to ENTITIES in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VersionFrameValiditiesGroup">
				<xsd:annotation>
					<xsd:documentation>Content VALIDITY CONDITION elements of a VERSION FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="layers" type="layerRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>layers included in frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VersionFrameValiditiesGroup">
		<xsd:annotation>
			<xsd:documentation>VALIDITY CONDITION elements of a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="contentValidityConditions" type="validityConditions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Common VALIDITY CONDITIONs used by elements in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VersionFrameDefaultsGroup">
		<xsd:annotation>
			<xsd:documentation>Default Elements of a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DefaultDataSourceRef" type="DataSourceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default DATA SOURCE. Assume this value as the DATA SOURCE for content if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultResponsibilitySetRef" type="ResponsibilitySetRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default RESPONSIBILITY SET. Assume this value as the RESPONSIBILITY SET  for content elements  if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultBrandingRef" type="BrandingRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default BRANDING . Assume this value as the BRANDING for content elements if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultLocale" type="LocaleStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default LOCAL for frame elements. Assume this value for     timezone and language of elements if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultLocationSystem" type="SrsNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default spatial coordinate system (srsName).  E.g.  WGS84 Value to use for   location elements using coordinates if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultSystemOfUnits" type="SystemOfUnits" default="SiMetres" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Units of measurement for all dimension values in Frame. Default System  is Si Metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultCurrency" type="CurrencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default Currency type to use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="VersionFrameDefaultsStructure">
		<xsd:annotation>
			<xsd:documentation>Type for frame defaults.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DefaultCodespaceRef" type="CodespaceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default CODESPACE to assume for an identifiers that do not have an explicit CODESPACE specified..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultDataSourceRef" type="DataSourceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default DATA SOURCE. Assume this value as the DATA SOURCE for content if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultResponsibilitySetRef" type="ResponsibilitySetRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default RESPONSIBILITY SET. Assume this value as the DATA SOURCE for content if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultLocale" type="LocaleStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default LOCAL for frame elements. Assume this value for     timezone and language of elements if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultLocationSystem" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default spatial coordinate system (srsName).  E.g.  WGS84 Value to use for   location elements using coordinates if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultSystemOfUnits" type="SystemOfUnits" default="SiMetres" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Units of measurement for all dimension values in Frame. Default System  is Si Metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultCurrency" type="CurrencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default Currency type to use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="codespaces_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more CODESPACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="CodespaceRef"/>
					<xsd:element ref="Codespace"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====== TypeofFrame ================================================ -->
	<xsd:complexType name="typesOfFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more TYPEs OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfFrameRef"/>
					<xsd:element ref="TypeOfFrame"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfFrame" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>Classification of TYPE OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfFrame_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="TypeOfValidityRef" minOccurs="0"/>
							<xsd:element name="FrameClassRef" type="ClassRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Class of VERSION FRAME to contain classes.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="classes" type="classesInRepository_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Classes that should  be present  in FRAME.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="typesOfEntity" type="typeOfEntityRefs_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>TYPES OF ENTITY to include in frame.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="includes" type="typesOfFrame_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Types of frame included in frame.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="LocatingSystemRef" type="SrsNameType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Required spatial coordinate system (srsName).  E.g.  WGS84 Value to use for   location elements using coordinates if not specified on individual elements.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ModificationSet" type="ModificationSetEnumeration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether contained elements must be whole set or can be just a Delta.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="LayerRef" minOccurs="0"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfFrameIdType">
						<xsd:annotation>
							<xsd:documentation>Reference to a TYPE OF FRAME.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional" fixed="VersionFrame">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfFrame_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure">
				<xsd:group ref="TypeOfFrameGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TypeOfFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TYPE OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfValidityRef" minOccurs="0"/>
			<xsd:element name="FrameClassRef" type="ClassRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Class of VERSION FRAME to contain classes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classes" type="classesInRepository_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classes that should  be present  in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typesOfEntity" type="typeOfEntityRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPES OF ENTITY to include in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="includes" type="typesOfFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Types of frame included in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LocatingSystemRef" type="SrsNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Required spatial coordinate system (srsName).  E.g.  WGS84 Value to use for   location elements using coordinates if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ModificationSet" type="ModificationSetEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether contained elements must be whole set or can be just a Delta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="LayerRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="classesInRepository_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of Classe Filter referencess.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ClassInFrameRef"/>
					<xsd:element ref="ClassInFrame"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== TypeOfValidity================================================ -->
	<xsd:element name="TypeOfValidity" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A classification of the validity of TYPEs OF FRAME. E.g. frames for schedules designed for DAY TYPEs, for specific OPERATING DAYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfValidity_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:group ref="TypeOfValidityGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfValidityIdType">
						<xsd:annotation>
							<xsd:documentation>Reference to a TYPE OF VALIDITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfValidity_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF VALIDITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:group ref="TypeOfValidityGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TypeOfValidityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TYPE OF VALIDITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Periodicity" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Periodicity of data in frames of this type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Nature" type="FrameNatureEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of presence of data in  Frames of this type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classes" type="classRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classes that should  be present  in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== Entity MetaClass =================================================================== -->
	<xsd:element name="ClassInFrame" type="ClassInFrameStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Class of an entity in a VERSION FRAME. This is a metaclass that allows services to specify whether a class must or must not be present.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ClassInFrameStructure">
		<xsd:annotation>
			<xsd:documentation>Type for CLASS IN FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="ClassInFrameGroup"/>
		</xsd:sequence>
		<xsd:attribute name="nameOfClass" type="NameOfClass">
			<xsd:annotation>
				<xsd:documentation>Name of ENTITY CLASS i.e. TYPE.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:group name="ClassInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CLASS IN FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ClassRefType" type="ClassRefTypeEnumeration" default="members" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of reference: Members | Member References | All.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TypeOfFrameRef" type="TypeOfFrameIdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of FrAMe containing CLass.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Mandatory" type="MandatoryEnumeration" default="optional" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether element is required, optional or not allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="attributes" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Requirements for attributes in class.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="ClassAttributeInFrame" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Attribute of Class of ENTITY. This is a metaclass that allows services to specify whether an attribute for a class must be present in a given frame.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="relationships" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Requirements for attributes in class.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="ClassRelationshipInFrame" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Attribute of Class of ENTITY. This is a metaclass that allows services to specify whether an attribute for a class must be present in a given frame.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== Entity MetaClass Attribute =================================================================== -->
	<xsd:element name="ClassAttributeInFrame">
		<xsd:annotation>
			<xsd:documentation>Attribute of Class of ENTITY. This is a metaclass that allows services to specify whether an attribute must or must not be present for a class in a given frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ClassAttributeInFrameStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ClassAttributeInFrameStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Attribute of Class of Entity.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Type" type="xsd:QName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Class of attribute.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Mandatory" type="MandatoryEnumeration" default="optional" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether element is required, optional or not allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:QName">
			<xsd:annotation>
				<xsd:documentation>Name of attribute in CLASS IN REPOSITORY.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!-- ==== Entity MetaClass Attribute =================================================================== -->
	<xsd:element name="ClassRelationshipInFrame" type="ClassRelationshipInFrameStructure">
		<xsd:annotation>
			<xsd:documentation>Relationship of Class of ENTITY. This is a metaclass that allows services to specify whether a  Relationship must or must not be present for a class in a given frame.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ClassRelationshipInFrameStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Relationship of Class of Entity.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RelationshipRef"/>
			<xsd:element name="Mandatory" type="MandatoryEnumeration" default="optional" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether relationship is required, optional or not allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Containment" type="ContainmentEnumeration" default="both" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether reference elements can be inline or by reference.  This is constrained by schema usage.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ModificationSet" type="ModificationSetEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether contained elements must be whole set or can be just a Delta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:QName">
			<xsd:annotation>
				<xsd:documentation>Name of attribute in CLASS IN REPOSITORY.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
