XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_responsibility/netex_version_support.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- 2207 04 11 recode x,llang to work arround spy bug -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_version_support">
	<xsd:include schemaLocation="netex_entity_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2017-04-16 CR0015 Add  modification type change </Modified>
				</Date>
				<Date>
					<Modified>2017-05-25 NPR  Integrate documentation correction </Modified>
				</Date>
				<Date>
					<Modified>2019-05-15 Add TyopeOfVErsion</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines version attribute base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_responsibility}netex_version_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - Version Attribute types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx Data Version attribute types.</xsd:documentation>
	</xsd:annotation>
	<!--==== VERSION=======================================================================-->
	<xsd:simpleType name="VersionIdType">
		<xsd:annotation>
			<xsd:documentation>A revision identifier (e.g. a number) that should be updated (e.g. increased) each time the unit that is refers to is modified.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<!--====Version Enumerations =================================================================== -->
	<xsd:simpleType name="StatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the ENTITY this annotates is available for use. Use of this attribute allows entities to be retired without deleting the details from the dataset.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="active">
				<xsd:annotation>
					<xsd:documentation>Entity is active.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="inactive">
				<xsd:annotation>
					<xsd:documentation>Entity is inactive.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other">
				<xsd:annotation>
					<xsd:documentation>Entity is still active but is in the process of being made inactive.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ModificationEnumeration">
		<xsd:annotation>
			<xsd:documentation>Classification of modification as addition, deletion or revision. Enumerated value.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="new">
				<xsd:annotation>
					<xsd:documentation>This is a definition of a new entity.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="delete">
				<xsd:annotation>
					<xsd:documentation>This is a deletion of an existing entity.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="revise">
				<xsd:annotation>
					<xsd:documentation>This is a revision to an existing entity. All values are replaced.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="unchanged">
				<xsd:annotation>
					<xsd:documentation>This is a repeat of the values to an entity that has not change since the previous version.  All values are replaced.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="delta">
				<xsd:annotation>
					<xsd:documentation>This is  just the changes to a previous version of an entity. Optional values are only provided if they have changed.  
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VersionStatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Statuses of VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="draft"/>
			<xsd:enumeration value="versioned"/>
			<xsd:enumeration value="deprecated"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VersionTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Types of VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="point"/>
			<xsd:enumeration value="baseline"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ==== Modification Detail Definitions =================================================================== -->
	<xsd:attributeGroup name="BasicModificationDetailsGroup">
		<xsd:annotation>
			<xsd:documentation>Grouping for modifications metadata.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="created" type="xsd:dateTime" use="optional">
			<xsd:annotation>
				<xsd:documentation>Date ENTITY was first created.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="changed" type="xsd:dateTime" use="optional">
			<xsd:annotation>
				<xsd:documentation>Date ENTITY or version was last changed.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="modification" type="ModificationEnumeration" use="optional" default="new">
			<xsd:annotation>
				<xsd:documentation>Nature of last modification: new, revise, delete, unchanged (default is new).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="version" type="VersionIdType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Version number of entity.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="status" type="StatusEnumeration" use="optional" default="active">
			<xsd:annotation>
				<xsd:documentation>Whether ENTITY is currently in use. Default is "released"</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="derivedFromVersionRef" type="VersionIdType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Version of this object from which this version of ENTITY was derived.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="compatibleWithVersionFrameVersionRef" type="VersionIdType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Version of frame from with which this version of ENTITY is compatible. Assumes Frame of the same Id as current frame.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="derivedFromObjectRef" type="ObjectIdType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Identity of object from which this object of ENTITY was derived. Normally the same.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="ReferenceModificationDetailsGroup">
		<xsd:annotation>
			<xsd:documentation>Grouping for Reference modifications metadata.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="created" type="xsd:dateTime" use="optional">
			<xsd:annotation>
				<xsd:documentation>Date reference was first created.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="changed" type="xsd:dateTime" use="optional">
			<xsd:annotation>
				<xsd:documentation>Date reference was last changed.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="version" type="VersionIdType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Version number of referenced entity.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="DocumentModificationDetailsGroup">
		<xsd:annotation>
			<xsd:documentation>Grouping for modifications metadata for a document.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="lang" type="xsd:language" use="optional"/>
		<xsd:attribute name="created" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Date Document was first created.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="lastUpdated" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Date Document was last changed.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="modification" type="ModificationEnumeration" use="required"/>
		<xsd:attribute name="version" type="VersionIdType" use="required"/>
		<xsd:attribute name="baseVersionRef" type="VersionIdType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Base version. if any. on which document depends.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="fileName" type="xsd:normalizedString" use="required">
			<xsd:annotation>
				<xsd:documentation>The name of the file containing the instance document.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<!-- ==== TYPE OF VERSION =================================================================== -->
	<xsd:simpleType name="TypeOfVersionIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for a TYPE OF VERSION</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
</xsd:schema>
