XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_responsibility/netex_responsibility_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_responsibility_support">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2017-04-27 Add FareManagement Stakeholder Role and Subroles</Modified>
				</Date>
				<Date>
					<Modified>2017-12-01 Add FareManagement Data Roles and   SecurityManagement, Data Regfistrat secures etc</Modified>
				</Date>
				<Date><Modified>2020-10-04</Modified>NewModes: Add DataRoleType and StakholderRole enum values 				</Date>
				<Date><Modified>2024-03-01</Modified>TM Contract - split into ResponsibilitySet_support
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines RESPONSIBILITY data administration base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_responsibility}netex_responsibility_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,   NaPTAN,  standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - RESPONSIBILITY identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>RESPONSIBILITY i.e. Data administration identifier types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="netex_relationship.xsd"/>
	<!-- ===== RESPONSIBILITY SET ========================================== -->
	<xsd:simpleType name="ResponsibilitySetIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a RESPONSIBILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="ResponsibilitySetRef" type="ResponsibilitySetRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to RESPONSIBILITY SET for managing the object. If absent, then responsibility is same as for containing context of this object.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ResponsibilitySetRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a RESPONSIBILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="ResponsibilitySetIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RESPONSIBILITY SET.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassResponsibilitySetRefStructureType" default="ResponsibilitySet">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ResponsibilitySetRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====AdministrativeRole Identifiers=============================================================== -->
	<!-- ===== ADMINISTRATIVE ROLE =========================================================== -->
	<xsd:simpleType name="StakeholderRoleTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for stakeholder roles.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="planning"/>
			<xsd:enumeration value="operation"/>
			<xsd:enumeration value="control"/>
			<xsd:enumeration value="reservation"/>
			<xsd:enumeration value="entityLegalOwnership"/>
			<xsd:enumeration value="fareManagement"/>
			<xsd:enumeration value="financing"/>
			<xsd:enumeration value="securityManagement"/>
			<xsd:enumeration value="customerService"/>
			<xsd:enumeration value="dataRegistrar"/>
			<xsd:enumeration value="tenant"/>
			<xsd:enumeration value="facilityManagement"/>
			<xsd:enumeration value="lessor"/>
			<xsd:enumeration value="other"/>
			<!-- DEPRECATED Upper case values kept for the time being. -v.2.0  -->
			<xsd:enumeration value="Planning"/>
			<xsd:enumeration value="Operation"/>
			<xsd:enumeration value="Control"/>
			<xsd:enumeration value="Reservation"/>
			<xsd:enumeration value="EntityLegalOwnership"/>
			<xsd:enumeration value="FareManagement"/>
			<xsd:enumeration value="Financing">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SecurityManagement"/>
			<xsd:enumeration value="CustomerService">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DataRegistrar"/>
			<xsd:enumeration value="Tenant"/>
			<xsd:enumeration value="FacilityManagement"/>
			<xsd:enumeration value="Lessor"/>
			<xsd:enumeration value="DataRegistrar"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StakeholderRoleTypeListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Allowed values for Stakeholder Roles.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="StakeholderRoleTypeEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="DataRoleTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Administrative Roles.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="creates"/>
			<xsd:enumeration value="augments"/>
			<xsd:enumeration value="validates"/>
			<xsd:enumeration value="collects"/>
			<xsd:enumeration value="aggregates"/>
			<xsd:enumeration value="distributes"/>
			<xsd:enumeration value="secures"/>
			<xsd:enumeration value="redistributes"/>
			<xsd:enumeration value="supports">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="owns"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DataRoleTypeListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Allowed values for Data e Roles.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="DataRoleTypeEnumeration"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfResponsibilityRoleIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an TYPE OF RESPONSIBILITY ROLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfResponsibilityRoleRef" type="TypeOfResponsibilityRoleRefStructure" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an TYPE OF RESPONSIBILITY ROLE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfResponsibilityRoleRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an TYPE OF RESPONSIBILITY ROLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfResponsibilityRoleIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an TYPE OF RESPONSIBILITY ROLE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfResponsibilityRoleRefStructureType" default="TypeOfResponsibilityRole">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TypeOfResponsibilityRoleRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="organisationRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="OrganisationRef_Dummy" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="OrganisationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="OrganisationRef_Dummy" type="OrganisationRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganisationRef" type="OrganisationRefStructure" substitutionGroup="OrganisationRef_Dummy">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED reference to any ORGANISATION meeting the substitutiongroup. -v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OrganisationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="nameOfRefClass" type="NameOfClassOrganisationRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for OrganisationRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="ObjectIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="AllOrganisationsRef" type="AllOrganisationsRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to all ORGANISATIONs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AllOrganisationsRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to all ORGANISATIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="OrganisationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ORGANISATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:group name="OneOrAllOrganisationsRefGroup">
		<xsd:annotation>
			<xsd:documentation>One or all ORGANISATIONs. Revised +V1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AllOrganisationsRef"/>
			<xsd:element ref="OrganisationRef_Dummy"/>
		</xsd:choice>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:simpleType name="OrganisationPartIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ORGANISATION PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="OrganisationPartRef" type="OrganisationPartRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ORGANISATION PART.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OrganisationPartRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ORGANISATION PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="OrganisationPartIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ORGANISATION PART.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassOrganisationPartRefStructureType" default="OrganisationPart">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for OrganisationPartRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BRANDING==================================================== -->
	<xsd:simpleType name="BrandingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of BRANDING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="BrandingRef" type="BrandingRefStructure" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a BRANDING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BrandingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a BRANDING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="nameOfRefClass" type="NameOfClassBrandingRefStructureType" default="Branding">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for BrandingRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="TypeOfValueIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
