XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_responsibility/netex_responsibilitySet_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_responsibilitySet">
	<xsd:include schemaLocation="netex_typeOfValue_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2017-03-27  CR0038 Correct ResponsibiltySet to be a substitutiongroup for DataManagedObject so it can appear in a General Frame.
					
					</Modified>
				</Date>
				<Date>
					<Modified>2017-03-27   Change to use responsibility  1.1 with AlternativeText</Modified>
					<Modified>2017-04-27   CR0038 Add missing TypeOfREsponsibilityRole as Type of Value</Modified>
					<Modified>2017-04-27   CR0038 Add  REsponsibilityRole as Abstract entity , add general Role </Modified>
					<Modified>2017-04-27   CR0038 Add  PrivateCOde to ResponsibilitySet </Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines data administration base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_responsibility}netex_responsibilitySet_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - RESPONSIBILITY SET types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>RESPONSIBILITY SET types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="codespacesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of CODESPACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Codespace" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="responsibilitySetsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of RESPONSIBILITY SETs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ResponsibilitySet" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- =====Responsibility============================================ -->
	<xsd:complexType name="responsibilitySets_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of RESPONSIBILITY SETs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ResponsibilitySetRef"/>
					<xsd:element ref="ResponsibilitySet"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ResponsibilitySet" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A set of responsibility roles assignments that can be associated with a DATA MANAGED OBJECT. A Child ENTITY has the same responsibilities as its parent.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ResponsibilitySet_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="ResponsibilitySetGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="ResponsibilitySetIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of RESPONSIBILITY SET.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ResponsibilitySet_VersionStructure">
		<xsd:annotation>
			<xsd:documentation> Type for a set of RESPONSIBILITY ROLEs that can be associated with a DATA MANAGED OBJECT. A Child ENTITY has the same responsibilities as its parent.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="ResponsibilitySetGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ResponsibilitySetGroup">
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Explanation of RESPONSIBILITY SET.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element name="roles" type="responsibilityRoleAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Roles defined by this RESPONSIBILITY SET.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- =====Responsibility Role============================================ -->
	<xsd:complexType name="ResponsibilityRoles_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of RESPONSIBILITY ROLEs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ResponsibilityRoleRef"/>
					<xsd:element ref="ResponsibilityRole"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ResponsibilityRole" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A particular role an ORGANISATION or an ORGANISATION PART is playing.  +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ResponsibilityRole_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="ResponsibilityRoleGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="ResponsibilityRoleIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of RESPONSIBILITY SET.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ResponsibilityRole_VersionStructure">
		<xsd:annotation>
			<xsd:documentation> Type for a  RESPONSIBILITY ROLE  that can be associated with a DATA MANAGED OBJECT. A Child ENTITY has the same responsibilities as its parent.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="ResponsibilityRoleGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ResponsibilityRoleGroup">
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Explanation of RESPONSIBILITY ROLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Explanation of REsponsibility RoleSET.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfResponsibilityRoleRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- =====Assignments of Roles============================================================= -->
	<xsd:element name="ResponsibilityRoleAssignment" type="ResponsibilityRoleAssignment_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Assignment of a specific RESPONSIBILITY ROLE to a specific organisation and/or subdivision.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ResponsibilityRoleAssignment_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation> Type for RESPONSIBILITY ROLE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:element ref="ResponsibilitySetRef" minOccurs="0"/>
					<xsd:element name="Description" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Description of RESPONSIBILITY ROLE ASSIGNMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="ResponsibilityRolesGroup"/>
					<xsd:group ref="ResponsiblePartiesGroup">
						<xsd:annotation>
							<xsd:documentation>Identification of holder of responsibility. May be specified to different levels of specificity.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ResponsibilityRolesGroup">
		<xsd:annotation>
			<xsd:documentation>Responsibility holders.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DataRoleType" type="DataRoleTypeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Data roles which this assignment assigns.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StakeholderRoleType" type="StakeholderRoleTypeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Stakeholder roles which this assignment assigns.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element ref="TypeOfResponsibilityRoleRef" minOccurs="0"/>
				<xsd:element ref="ResponsibilityRoleRef" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ResponsiblePartiesGroup">
		<xsd:annotation>
			<xsd:documentation>Responsibility holders.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ResponsibleOrganisationRef" type="OrganisationRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Responsible ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ResponsiblePartRef" type="OrganisationPartRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Responsible ORGANISATION PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ResponsibleAreaRef" type="VersionOfObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Administrative area to which this RESPONSIBILITY SET is assigned.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="responsibilityRoleAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of RESPONSIBILITY ROLE ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ResponsibilityRoleAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfResponsibilityRole" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>Classification of a RESPONSIBILITY ROLE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfResponsibilityRole_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ResponsibilityRoleIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfResponsibilityRole_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF RESPONSIBILITY ROLE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
