XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_responsibility/netex_responsibilitySet_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_responsibilitySet_support">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2023-11-06</Modified>CR0530 Add ContractTypeEnum, LegalStatusEnum.
				</Date>
				<Date><Modified>2024-03-01</Modified>Split off from responsibilyu_support, add CONTRACT
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines RESPONSIBILITY data administration base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_responsibility}netex_responsibility_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - RESPONSIBILITY SET identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>RESPONSIBILITY i.e. Data administration identifier types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="netex_relationship.xsd"/>
	<!-- ======  RESPONSIBILITY ROLE ========================================== -->
	<xsd:simpleType name="ResponsibilityRoleIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a RESPONSIBILITY ROLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="ResponsibilityRoleRef" type="ResponsibilityRoleRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a RESPONSIBILITY ROLE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ResponsibilityRoleRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a RESPONSIBILITY ROLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="ResponsibilityRoleIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RESPONSIBILITY ROLE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassResponsibilityRoleRefStructureType" default="ResponsibilityRole">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ResponsibilityRoleRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================ -->
	<xsd:simpleType name="ResponsibilityRoleAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a RESPONSIBILITY ROLE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<!--======  CONTRACT ===================================== -->
	<xsd:simpleType name="ContractIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="ContractRef" type="ContractRefStructure">
		<xsd:annotation>
			<xsd:documentation>Reference to a CONTRACT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ContractRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="ContractIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CONTRACT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassContractRefStructureType" default="Contract">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ContractRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ContractTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TYPE OF CONTRACT. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="formal"/>
			<xsd:enumeration value="informal"/>
			<xsd:enumeration value="written"/>
			<xsd:enumeration value="oral"/>
			<xsd:enumeration value="plainUnderstood"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LegalStatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Legal Status of a CONTRACT. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="binding"/>
			<xsd:enumeration value="nonBinding"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ===================================================================== -->
</xsd:schema>
