XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_responsibility/netex_relationship_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_relationship_support">
	<xsd:include schemaLocation="netex_version_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2010-11-05</Modified>
				</Date>
				<Date>
					<Modified>2017-03-28</Modified>CR0012 Add VersionRef for external version refs.  
							 Add 'modification' value  to version refs to support delta exchange.
				</Date>
				<Date>
					<Modified>2019-06-14</Modified>Add TYPE OF VERSION
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines version attribute base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_responsibility}netex_relationship_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - Version Attribute types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx Relationship attribute types. to core framework entities.</xsd:documentation>
	</xsd:annotation>
	<!--====Version =======================================================================-->
	<xsd:element name="SimpleObjectRef" type="SimpleObjectRefStructure">
		<xsd:annotation>
			<xsd:documentation>Simple unversioned reference to a NeTEx ENTITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SimpleObjectRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a simple object reference.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="ObjectIdType">
				<xsd:attribute name="ref" type="ObjectIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--====Version =======================================================================-->
	<xsd:element name="VersionOfObjectRef" type="VersionOfObjectRefStructure">
		<xsd:annotation>
			<xsd:documentation>Reference to a NeTEx Object .  i.e. concrete instance of an ENTITY  may include a version. Implements a one to one relationship by reference.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VersionOfObjectRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a versioned reference to a NeTEx Object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="ObjectIdType">
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, undchanged;</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="ObjectIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of  eferenced entity. For use when refenece is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="OrderedVersionOfObjectRef" type="OrderedVersionOfObjectRefStructure">
		<xsd:annotation>
			<xsd:documentation>Reference to a NeTEx Object .  i.e. concrete instance of an ENTITY  may include a version. Implements a one to one relationship by reference.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OrderedVersionOfObjectRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a versioned reference to a NeTEx Object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="VersionOfObjectRefStructure">
				<xsd:attribute name="order" type="xsd:integer">
					<xsd:annotation>
						<xsd:documentation>Order of element.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--====Version =======================================================================-->
	<xsd:element name="VersionRef" type="VersionRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VERSION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VersionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VERSION reference.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VersionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of VERSION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--==== DATA SOURCE  =======================================================================-->
	<xsd:element name="DataSourceRef" type="DataSourceRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference  to a DATA SOURCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DataSourceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a Reference  to a DATA SOURCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="DataSourceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--==== DATA SOURCE =======================================================================-->
	<xsd:element name="TypeOfVersionRef" type="TypeOfVersionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF VERSION. +v1.1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfVersionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="ObjectIdType">
				<xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of Class of the referenced entity. Allows reflection. Fixed for each entity type.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, undchanged;</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="ObjectIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of  eferenced entity. For use when refenece is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--====External Obect Reference =======================================================================-->
	<xsd:complexType name="ExternalObjectRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference.to an external object.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="type" type="xsd:normalizedString">
					<xsd:annotation>
						<xsd:documentation>Type of reference.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="xsd:normalizedString" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to an entity in an external system.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
