XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_responsibility/netex_validityCondition_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_validityCondition_support">
	<xsd:include schemaLocation="netex_relationship.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2019-03-01</Modified>UK-54 Add an additional SelectionType functional operator to GenericParameterAssignment  to clarify use of groups :  oneOf /  someOf/  allOf
							Also correct documentation on relational operator
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines Time base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_responsibility}netex_validityCondition_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - VALIDITY CONDITION identifier types. </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx VALIDITY CONDITION identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ValidityConditionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VALIDITY CONDITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="ValidityConditionRef" type="ValidityConditionRefStructure" abstract="false" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VALIDITY CONDITION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ValidityConditionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VALIDITY CONDITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="ValidityConditionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VALIDITY CONDITION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="validityConditionRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more VALIDITY CONDITIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ValidityConditionRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="BooleanOperatorEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Boolean operations.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="AND">
				<xsd:annotation>
					<xsd:documentation>Successive elements are logically ANDed together; comparison must satisfy all specified values.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OR">
				<xsd:annotation>
					<xsd:documentation>Successive elements are logically ORed together; comparison must satisfy at least one  specified value.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NOT">
				<xsd:annotation>
					<xsd:documentation>Specified elements  must be different from the given value.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XOR">
				<xsd:annotation>
					<xsd:documentation>Successive elements are logically ORed together; comparison must satisfy only one  specified value.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SetOperatorEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for set operations.where there are one or more GROUPs OF ENTITTies of a given type - used to distinguish between selection of a whole group or of an item in the group).  Used  in a  product description  to indicate the range from which a choice may be made and in a sales transaction to record the nature of a choice that has been made.
			              member                                              Set
           AND         AllMembersAllSets                             AllMembersAllSets
           OR           OneItem 											AllMembers Of OnSet
           XOR         OnlyOneItem from AnyGroup               	AllMembers Of OnlySet      - AllOfOneSet
            NOT			None
 
						</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="oneOfAnyOneSet">
				<xsd:annotation>
					<xsd:documentation>Only one item from all  referenced GROUPs OF ENTITTies of a given type may be selected/has been selected.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="oneOfEachSet">
				<xsd:annotation>
					<xsd:documentation>One item from each specified   referenced GROUP OF ENTITTies of a given type must be selected/has been selected..</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="someOfAnySet">
				<xsd:annotation>
					<xsd:documentation>Multiple  items from any referenced GROUP OF ENTITTies of a given type  may be selected/have been selected.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="allOfOneSet">
				<xsd:annotation>
					<xsd:documentation>All  items from one specified  referenced GROUP OF ENTITTies of a given type  may be selected/have been selected.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="allOfAllSets">
				<xsd:annotation>
					<xsd:documentation>All  items from all  referenced GROUPs OF ENTITTies of a given type   may be selected/have been selected.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RelativeOperatorEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Comparison operations.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="EQ">
				<xsd:annotation>
					<xsd:documentation>Parameter value must have same identity, or have value equal  to a quantitative value associated with specified item.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NE">
				<xsd:annotation>
					<xsd:documentation>Parameter value must not have same identity, or have value different from  a quantitative value associated with specified item.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GE">
				<xsd:annotation>
					<xsd:documentation>Parameter value must be greater  than  or equal to a quantitative value associated with specified item.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GT">
				<xsd:annotation>
					<xsd:documentation>Parameter value must be greater than a quantitative value associated with specified item.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LE">
				<xsd:annotation>
					<xsd:documentation>Parameter value must be less  than  or equal to a quantitative value associated with specified item.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LT">
				<xsd:annotation>
					<xsd:documentation>Parameter value must be less  than a quantitative value associated with specified item.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ValidityTriggerIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for VALIDITY TRIGGER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ValidityConditionIdType"/>
	</xsd:simpleType>
	<xsd:element name="ValidityTriggerRef" type="ValidityTriggerRefStructure" substitutionGroup="ValidityConditionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VALIDITY TRIGGER An External event defining a VALIDITY CONDITION. E.g. exceptional flow of a river, bad weather, Road closure for works.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ValidityTriggerRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VALIDITY TRIGGER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ValidityConditionRefStructure">
				<xsd:attribute name="ref" type="ValidityTriggerIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VALIDITY TRIGGER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="validityTriggerRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more VALIDITY TRIGGERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ValidityTriggerRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ValidityRuleParameterIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier for VALIDITY PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ValidityConditionIdType"/>
	</xsd:simpleType>
	<xsd:element name="ValidityRuleParameterRef" type="ValidityRuleParameterRefStructure" substitutionGroup="ValidityConditionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VALIDITY RULE PARAMETER. A user defined VALIDITY CONDITION used by a rule for selecting versions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ValidityRuleParameterRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VALIDITY RULE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ValidityConditionRefStructure">
				<xsd:attribute name="ref" type="ValidityRuleParameterIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VALIDITY RULE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="validityRuleParameterRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more VALIDITY RULE PARAMETERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="ValidityRuleParameterRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
