XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_responsibility/netex_versionDelta_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by christophe duquesne (Dryade SARL) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_versionDelta_version">
	<xsd:include schemaLocation="netex_relationship_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2014-03-31</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines DELTA  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_responsibility}netex_versionDelta_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Created for NeTEx.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ENTITY types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: DELTA types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- == NeTEX Entities for holding differences between versions of an ENTITY In VERSION=============================================================== -->
	<xsd:simpleType name="TraceIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a TRACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="traces_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more TRACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Trace" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A way to record the context of the changes occurred in a given ENTITY instance, as regards the authors, the causes of the changes, etc., possibly accompanied by a descriptive text.he next one.  A TRACE contains pairs of attributes' old values - new values.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Trace">
		<xsd:annotation>
			<xsd:documentation>A  record of the detailed changes of a given ENTITY IN VERSION from one VERSION to the next one.  A TRACE contains pairs of attributes' old values - new values.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="TraceStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TraceStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF TRACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="TraceGroup"/>
		<xsd:attribute name="id" type="TraceIdType">
			<xsd:annotation>
				<xsd:documentation>Identifier of TRACE.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="created" type="xsd:dateTime" use="optional">
			<xsd:annotation>
				<xsd:documentation>Date TRACE was first created.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:group name="TraceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TYPE OF TRACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectRef" type="VersionOfObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of ENTITY IN VERSION that has been created or  modiifed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChangedAt" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Timestamp of when ENTITY IN VERSION was Changed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChangedBy" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Who made change.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of change.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Delta" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:simpleType name="DeltaIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a DELTA.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="deltas_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more DELTAs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Delta" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Delta" type="DeltaStructure">
		<xsd:annotation>
			<xsd:documentation>A  record of the detailed changes of a given ENTITY IN VERSION from one VERSION to the next one.  A DELTA contains pairs of attributes' old values - new values.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DeltaStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DELTA.</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="DeltaGroup"/>
		<xsd:attribute name="id" type="DeltaIdType">
			<xsd:annotation>
				<xsd:documentation>Identifier of DELTA.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="created" type="xsd:dateTime" use="optional">
			<xsd:annotation>
				<xsd:documentation>Date reference was first created.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:group name="DeltaGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DELTA.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SimpleObjectRef" minOccurs="0"/>
			<xsd:element name="FromVersionRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Base version against which DELTA is made.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="SimpleObjectRefStructure">
							<xsd:attribute name="ref" type="VersionIdType" use="required">
								<xsd:annotation>
									<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ToVersionRef">
				<xsd:annotation>
					<xsd:documentation>Version being compared against baseline by DELTA.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="SimpleObjectRefStructure">
							<xsd:attribute name="ref" type="VersionIdType" use="required">
								<xsd:annotation>
									<xsd:documentation>Identifier of referenced ENTITY.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Modification" type="ModificationEnumeration" default="revise" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of change.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deltaValues" type="deltaValues_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Values for changes to ENTITY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:simpleType name="DeltaValueIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a DELTA VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="deltaValues_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more DELTA VALUEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DeltaValue" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DeltaValue" type="DeltaValueStructure">
		<xsd:annotation>
			<xsd:documentation>A  record of the detailed changes of a given ENTITY IN VERSION from one VERSION to the next one.  A DELTA contains pairs of attributes' old values - new values.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DeltaValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DELTA VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="DeltaValueGroup">
			<xsd:annotation>
				<xsd:documentation>Elements for a DELTA VALUE.</xsd:documentation>
			</xsd:annotation>
		</xsd:group>
		<xsd:attribute name="id" type="DeltaValueIdType">
			<xsd:annotation>
				<xsd:documentation>Identifier of DELTA.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:group name="DeltaValueGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DELTA VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DeltaRef" type="DeltaIdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of DELTA of which this is part.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Modification" type="ModificationEnumeration" default="revise" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of change made by DELTA.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ValueName" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VALUE altered by DELTA.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OldValue" type="xsd:anyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Previous value for attribute.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NewValue" type="xsd:anyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>New value for attribute set by DELTA.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
