XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_responsibility/netex_version_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_version_version">
	<xsd:include schemaLocation="../netex_utility/netex_utility_contact.xsd"/>
	<xsd:include schemaLocation="netex_version_support.xsd"/>
	<xsd:include schemaLocation="netex_entity_version.xsd"/>
	<xsd:include schemaLocation="netex_typeOfValue_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2014-03-31</Modified>
				</Date>
				<Date>
					<Modified>2017-12-04   Change to use responsibility  1.1 with AlternativeText</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines VERSION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_responsibility}netex_version_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Created for NeTEx.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ENTITY types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: VERSION types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in RESOURCE FRAME)=================================================== -->
	<!--CLOSE COUPLED WITH  netex_responsibility_version-->
	<xsd:complexType name="versionsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Version" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======ENTITY IN VERSION =============================================== -->
	<xsd:complexType name="entitiesInVersion_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in ENTITY of ENTITY In VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="EntityInVersion" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EntityInVersion" type="EntityInVersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>The ENTITies associated to a given VERSION. ENTITY IN VERSION is restricted by ENTITY IN FRAME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EntityInVersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ENTITY IN VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="EntityStructure">
				<xsd:sequence>
					<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="dataSourceRef" type="DataSourceIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of source of the data.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="BasicModificationDetailsGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="EntityInVersionGroup">
		<xsd:annotation>
			<xsd:documentation>Common Properties of an ENTITY IN VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element name="validityConditions" type="validityConditions_RelStructure">
					<xsd:annotation>
						<xsd:documentation>VALIDITY CONDITIONs conditioning entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ValidBetween" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:element name="alternativeTexts" type="alternativeTexts_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional Translations of text  elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== VERSION ====================================================== -->
	<xsd:complexType name="versions_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment of a VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VersionRef"/>
					<xsd:element ref="Version"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Version" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A group of operational data instances which share the same VALIDITY CONDITIONs. A VERSION belongs to a unique VERSION FRAME and is characterized by a unique TYPE OF VERSION. E.g.  NETWORK VERSION for Line 12 starting from 2000-01-01.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Version_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Date of start of VERSION currency.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="EndDate" type="xsd:dateTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Date of end of VERSION currency. Date is INCLUSIVE.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Status" type="VersionStatusEnumeration" default="versioned" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Status of VERSION.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
							<xsd:element name="VersionType" type="VersionTypeEnumeration" default="point" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>VERSION type: Point or Baseline.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="TypeOfVersionRef" minOccurs="0"/>
							<xsd:element name="DerivedFromVersionRef" type="VersionRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Reference to VERSION from which this VERSION was derived.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VersionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Version_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Date of start of VERSION currency.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="EndDate" type="xsd:dateTime" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Date of end of VERSION currency. Date is INCLUSIVE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Status" type="VersionStatusEnumeration" default="versioned" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Status of VERSION.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
					<xsd:element name="VersionType" type="VersionTypeEnumeration" default="point" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Version type: Point or Baseline.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TypeOfVersionRef" minOccurs="0"/>
					<xsd:element name="DerivedFromVersionRef" type="VersionRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Reference to VERSION from which this VERSION was derived.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ==== TYPE OF VERSION ============================================= -->
	<xsd:element name="TypeOfVersion" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A classification of the VERSIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfVersion_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:group ref="TypeOfVersionGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfVersionIdType">
						<xsd:annotation>
							<xsd:documentation>Reference to a TYPE OF VERSION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfVersion_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:group ref="TypeOfVersionGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TypeOfVersionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TYPE OF VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
