XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_sj/netex_nm_singleJourneyService_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_singleJourneyService_version">
	<xsd:include schemaLocation="netex_nm_singleJourneyPath_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_singleJourneyService_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="../part5_rc/netex_nm_mobilityService_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_journey_version.xsd"/>
	<xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_datedPassingTimes_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceCalendar_version.xsd"/>
	<xsd:include schemaLocation="../part5_nd/netex_nm_vehicleMeetingPointAssignment_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.2.2 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-05</Created>Add for New Modes
				</Date>
				<Date>
					<Modified>2020-10-05</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SINGLE JOURNEY SERVICE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/part5_sj}netex_nm_singleJourneyService_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SINGLE JOURNEY SERVICE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SINGLE JOURNEY SERVICE data types</xsd:documentation>
	</xsd:annotation>
	<!-- ===== SINGLE JOURNEY ========================================= -->
	<xsd:complexType name="singleJourneys_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a SINGLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="SingleJourney" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SingleJourney" abstract="false" substitutionGroup="Journey_" id="SingleJourney">
		<xsd:annotation>
			<xsd:documentation>The planned movement of a public transport vehicle on a DAY TYPE from the start point to the end point of a JOURNEY PATTERN on a specified ROUTE.  +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SingleJourney_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:group ref="JourneyGroup"/>
						<xsd:sequence>
							<xsd:group ref="SingleJourneyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SingleJourneyIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SingleJourney_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SINGLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Journey_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SingleJourneyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SingleJourneyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SINGLE JOURNEY. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="SingleJourneyReferencesGroup"/>
			<xsd:element name="DepartureTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Departure time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DepartureDayOffset" type="DayOffsetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Departure Time Day Offset</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OperatingDayRef" minOccurs="0"/>
			<xsd:element name="datedPassingTimes" type="targetPassingTimes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DATED PASSING TIMEsfor SINGLE JOURNEY</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="meetingPointAssignments" type="vehicleMeetingPointAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MEETING POINT ASSIGNMENTS for SINGLE JOURNEY</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SingleJourneyReferencesGroup">
		<xsd:annotation>
			<xsd:documentation>Reference Elements for SINGLE JOURNEY. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CommonVehicleServiceRef" minOccurs="0"/>
			<xsd:element ref="VehicleRef" minOccurs="0"/>
			<xsd:element ref="SingleJourneyPathRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- === GROUP OF SINGLE JOURNEYs ============================================================ -->
	<xsd:complexType name="groupsOfSingleJourneys_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to GROUPs OF SINGLE JOURNEYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfSingleJourneys" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GroupOfSingleJourneys" abstract="false" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A GROUP OF SINGLE JOURNEYs, often known to its users by a name or a number. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfSingleJourneys_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfSingleJourneysGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfSingleJourneysIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfSingleJourneys_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a GROUP OF SINGLE JOURNEYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfSingleJourneysGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfSingleJourneysGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a GROUP OF SINGLE JOURNEYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="members" type="singleJourneyRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Services in GROUP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICEs  relevant for the whole GROUP OF SINGLE JOURNEYs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
