XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_sj/netex_nm_singleJourneyPath_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_singleJourneyPath_support">
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_journeyPattern_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.2.2 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-05</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-05</Modified>Add SINGLE JOURNEY PATH
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SINGLE JOURNEY SERVICE identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/part5_sj}netex_nm_singleJourneyPath_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SINGLE JOURNEY PATH types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx SINGLE JOURNEY PATH data types</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ==== SINGLE JOURNEY  PATH  ============================================ -->
	<xsd:complexType name="singleJourneyPathRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SINGLE JOURNEY PATHs. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="SingleJourneyPathRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SingleJourneyPathIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SINGLE JOURNEY PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="SingleJourneyPathRef" type="SingleJourneyPathRefStructure" substitutionGroup="LinkSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SINGLE JOURNEY PATH. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SingleJourneyPathRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SINGLE JOURNEY PATH. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkSequenceRefStructure">
				<xsd:attribute name="ref" type="SingleJourneyPathIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of SINGLE JOURNEY PATH.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== POINT IN SINGLE JOURNEY  PATH  ============================================ -->
	<xsd:complexType name="PointInSingleJourneyPathRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of POINT IN SINGLE JOURNEY PATHs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="PointInSingleJourneyPathRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="PointInSingleJourneyPathIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT IN SINGLE JOURNEY PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PointInJourneyPatternIdType"/>
	</xsd:simpleType>
	<xsd:element name="PointInSingleJourneyPathRef" type="PointInSingleJourneyPathRefStructure" substitutionGroup="PointInJourneyPatternRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a POINT IN SINGLE JOURNEY PATH. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointInSingleJourneyPathRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a POINT IN SINGLE JOURNEY PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PointInJourneyPatternRefStructure">
				<xsd:attribute name="ref" type="PointInSingleJourneyPathIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of POINT IN SINGLE JOURNEY PATH.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
