XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_sj/netex_nm_singleJourneyPath_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_singleJourneyPath_version">
	<xsd:include schemaLocation="netex_nm_singleJourneyPath_support.xsd"/>
	<xsd:include schemaLocation="../part5_nd/netex_nm_vehicleMeetingPoint_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_route_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.2.2 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-05</Created>Add for New Modes
				</Date>
				<Date>
					<Modified>2020-10-05</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SINGLE JOURNEY PATH types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/part5_sj}netex_nm_singleJourneyPath_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmode Standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SINGLE JOURNEY PATH types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SINGLE JOURNEY PATH data types</xsd:documentation>
	</xsd:annotation>
	<!-- ===== SINGLE JOURNEY PATH========================================= -->
	<xsd:complexType name="singleJourneyPaths_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a SINGLE JOURNEY PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="SingleJourneyPath" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SingleJourneyPath" abstract="false" substitutionGroup="LinkSequence" id="SingleJourneyPath">
		<xsd:annotation>
			<xsd:documentation>The planned movement of a public transport vehicle on a DAY TYPE from the start point to the end point of a JOURNEY PATTERN on a specified ROUTE.  +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SingleJourneyPath_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SingleJourneyPathGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SingleJourneyPathIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SingleJourneyPath_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SINGLE JOURNEY PATH. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LinkSequence_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SingleJourneyPathGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SingleJourneyPathGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SINGLE JOURNEY PATH. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RouteRef" minOccurs="0"/>
			<xsd:element name="pointsInSequence" type="vehicleMeetingPointsInSequence_RelStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ===== VEHICLE MEETING POINT IN  SINGLE JOURNEY PATH ==================== -->
	<xsd:complexType name="vehicleMeetingPointsInSequence_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of a VEHICLE MEETING POINTS in Sequence</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleMeetingPointInPath" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A group of VEHICLE JOURNEYs following the same JOURNEY PATTERN having the same HEADWAY INTERVAL between a specified start and end time (for example, every 10 min). This is especially useful for passenger information.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleMeetingPointInPath" abstract="false" substitutionGroup="PointInLinkSequence" id="VehicleMeetingPointInPath">
		<xsd:annotation>
			<xsd:documentation>The planned movement of a public transport vehicle on a DAY TYPE from the start point to the end point of a JOURNEY PATTERN on a specified ROUTE.  +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleMeetingPointInPath_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointInLinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointInJourneyPatternGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleMeetingPointInPathGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PointInSingleJourneyPathIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleMeetingPointInPath_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE MEETING POINT IN SINGLE JOURNEY PATH .</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PointInJourneyPattern_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleMeetingPointInPathGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleMeetingPointInPathGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VEHICLE MEETING POINT IN SINGLE JOURNEY PATH . </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="OnwardVehicleMeetingLinkRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
