XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_route_version.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_route_version">
	<xsd:include schemaLocation="netex_line_version.xsd"/>
	<xsd:include schemaLocation="netex_routeInstruction_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified> Name Space changes 
				</Date>
				<Date>
					<Modified>2017-03-28</Modified>  CR_038  Add missing type of value substitution group for DIRECTION 
				</Date>
				<Date>
					<Modified>2019-03-05</Modified>Fix - make alt name, validity date etc visible
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>Fix #37 by Skinkie: Correct Typo:  rename OppositeDIrectionRef to OppositeDirectionRef NB this will break existing XML
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the ROUTE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_route_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.1</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx ROUTE subschema.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx ROUTE types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="RouteInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>ROUTE elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="directions" type="directionsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DIRECTIONs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="routePoints" type="routePointsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ROUTE POINTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="routeLinks" type="routeLinksInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ROUTE LINKs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="routes" type="routesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ROUTEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="directionsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Direction" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="routesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Route_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="routePointsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of ROUTE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="RoutePoint" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="routeLinksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of ROUTE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="RouteLink" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===Direction========================================================== -->
	<xsd:element name="Direction" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A classification for the general orientation of ROUTEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Direction_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DirectionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DirectionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Direction_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DirectionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DirectionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ExternalDirectionRef" type="ExternalObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An alternative  code that uniquely identifies the DIRECTION specifically for use in AVMS systems. For VDV compatibility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DirectionType" minOccurs="0"/>
			<xsd:element name="OppositeDirectionRef" type="DirectionRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Opposite Direction to this direction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==Route============================================================ -->
	<xsd:complexType name="routes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ROUTEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="RouteRef"/>
					<xsd:element ref="Route" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Route_" type="LinkSequence_VersionStructure" abstract="true" substitutionGroup="LinkSequence">
		<xsd:annotation>
			<xsd:documentation>Dummy supertype for Route.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Route" abstract="false" substitutionGroup="Route_">
		<xsd:annotation>
			<xsd:documentation>An ordered list of located POINTs defining one single path through the Road (or rail) network. A ROUTE may pass through the same POINT more than once.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Route_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RouteGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RouteIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Route_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LinkSequence_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RouteGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RouteGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element ref="DirectionType" minOccurs="0"/>
			<xsd:element ref="DirectionRef" minOccurs="0"/>
			<xsd:element name="pointsInSequence" type="pointsOnRoute_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered set of points making up a ROUTE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InverseRouteRef" type="RouteRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to the corresponding matching ROUTE in the  oppositte direction, if any.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="pointsOnRoute_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of POINTs ON ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PointOnRoute" minOccurs="2" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PointOnRoute" abstract="false" substitutionGroup="PointInLinkSequence">
		<xsd:annotation>
			<xsd:documentation>A reference to a ROUTE POINT used to define a ROUTE with its order on that ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PointOnRoute_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:element ref="Extensions" minOccurs="0"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:element ref="LinkSequenceRef" minOccurs="0"/>
								<xsd:element name="projections" type="projections_RelStructure" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>PROJECTIONs of POINT.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Description" type="MultilingualString" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Further Description of a POINT IN LINK SEQUENCE</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="PointRef"/>
							<xsd:group ref="PointOnRouteGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PointOnRouteIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PointOnRoute_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a POINT ON ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PointInLinkSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:element ref="PointRef"/>
					<xsd:group ref="PointOnRouteGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PointOnRouteGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a POINT ON ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OnwardRouteLinkRef" type="RouteLinkRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional Reference to onward link to use - can be used to disambiguate where there are multiple links between the same point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="routeInstructions" type="routeInstructions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Instructins for following route. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RoutePoint" abstract="false" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation>A POINT used to define the shape of a ROUTE through the network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RoutePoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RoutePointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoutePointIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RoutePoint_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for ROUTE a POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Point_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RoutePointGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RoutePointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a ROUTE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ViaFlag" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether point is a VIA point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BorderCrossing" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ROUTE POINT is a border crossing, that is a point at which an international boundary between two countries may be crossed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RouteLink" abstract="false" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>An oriented link between two ROUTE POINTs allowing the definition of a unique path through the network. Because ROUTE LINKs are directional   there will be separate links for each direction of a route.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RouteLink_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkGroup"/>
						</xsd:sequence>
						<xsd:group ref="RouteLinkGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RouteLinkIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RouteLink_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for ROUTE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Link_VersionStructure">
				<xsd:group ref="RouteLinkGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RouteLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a ROUTE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromPointRef" type="RoutePointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of ROUTE POINT from which Link starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToPointRef" type="RoutePointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of ROUTE POINT at which Link ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OperationalContextRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!--  leave for now
	<xsd:complexType name="routeSections_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of POINTs ON ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="RouteSection" minOccurs="2" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RouteSection" abstract="false" substitutionGroup="Section_">
		<xsd:annotation>
			<xsd:documentation>A shared set of ROUTE LINKS or Route  POINTs. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RouteSection_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RouteSectionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RouteSectionIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RouteSection_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a ROUTE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RouteSectionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RouteSectionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a ROUTE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pointsInSequence" type="pointsOnRoute_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered set of points making up a ROUTE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>  -->
	<!-- ======================================================================= -->
	<xsd:element name="RouteView" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Annotated reference to a ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Route_DerivedViewStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DerivedViewGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RouteViewGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RouteIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of Object of which this is a view.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Route_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ROUTE VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:group ref="RouteViewGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RouteViewGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a ROUTE View.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RouteRef" minOccurs="0"/>
			<xsd:element name="VehicleMode" type="AllVehicleModesOfTransportEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mode of ROUTE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of Link Sequence.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element ref="LineRef" minOccurs="0"/>
				<xsd:element ref="LineView" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="DirectionView" minOccurs="0"/>
			<xsd:element ref="LinkSequenceProjectionRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="DirectionView" abstract="false" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified View of DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Direction_DerivedViewStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DerivedViewGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="DirectionRef" minOccurs="0"/>
							<xsd:element name="Name" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Name of DIRECTION.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DirectionIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of Object of which this is a view.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Direction_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DIRECTION VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="DirectionRef" minOccurs="0"/>
					<xsd:element name="Name" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of DIRECTION.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- TURN STATION NOT USED IN NeTEx

	<xsd:element name="TurnStation" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>TurnStation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="TurnStation_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TurnStation_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Turn Station.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TurnStationGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TurnStationGroup">
		<xsd:annotation>
			<xsd:documentation> Elements for a TURN STATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of LinK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TurnaroundDistance" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Turnaround Distance.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group> -->
	<!-- ======================================================================= -->
</xsd:schema>
