XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_networkInfrastructure_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_networkInfrastructure_version">
	<xsd:include schemaLocation="netex_networkInfrastructure_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLink_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the NETWORK INFRASTRUCTURE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_networkInfrastructure_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, RAILWAY stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and ROAD transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx NETWORK INFRASTRUCTURE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: NETWORK INFRASTUCTURE  Types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="NetworkInfrastuctureInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a NETWORK INFRASTRUCTURE in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="junctions" type="infrastructureJunctionsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Junctions in Network in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="elements" type="infrastructureElementsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Elements (links) in Network in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="infrastructureJunctionsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of INFRASTRUCTURE POINTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="RailwayJunction"/>
					<xsd:element ref="RoadJunction"/>
					<xsd:element ref="WireJunction"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="infrastructureElementsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of INFRASTRUCTURE LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="RailwayElement"/>
					<xsd:element ref="RoadElement"/>
					<xsd:element ref="WireElement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="InfrastructurePoint" type="InfrastructurePoint_VersionStructure" abstract="true" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation>A supertype including all POINTs of the physical network (e.g. RAILWAY JUNCTION).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InfrastructurePoint_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for INFRASTRUCTURE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Point_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="InfrastructurePointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an INFRASTRUCTURE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RailwayJunction" abstract="false" substitutionGroup="InfrastructurePoint">
		<xsd:annotation>
			<xsd:documentation>A type of INFRASTRUCTURE POINT used to describe a RAILWAY network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RailwayJunction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RailwayPointIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of RAILWAY JUNCTION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RailwayJunction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RAILWAY JUNCTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InfrastructurePoint_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="RoadJunction" abstract="false" substitutionGroup="InfrastructurePoint">
		<xsd:annotation>
			<xsd:documentation>A type of INFRASTRUCTURE POINT used to describe a ROAD network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RoadJunction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoadPointIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of ROAD JUNCTION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RoadJunction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ROAD JUNCTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InfrastructurePoint_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="WireJunction" abstract="false" substitutionGroup="InfrastructurePoint">
		<xsd:annotation>
			<xsd:documentation>A type of INFRASTRUCTURE POINT used to describe a WIRE network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="WireJunction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="WirePointIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of WIRE JUNCTION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WireJunction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for WIRE JUNCTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InfrastructurePoint_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ====Links========================================================== -->
	<xsd:element name="InfrastructureLink_" type="Link_VersionStructure" abstract="true" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>A Dummy Supertype for Infrastructure Link Types.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InfrastructureLink" abstract="true" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>A supertype including all LINKs of the physical network (e.g. RAILWAY ELEMENT). Infrastructure  links are directional - there will be separate links for each direction of a network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="InfrastructureLink_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="InfrastructureLink_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for INFRASTRUCTURE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="Link_VersionStructure">
				<xsd:sequence>
					<xsd:sequence>
						<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:group ref="DataManagedObjectGroup"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:group ref="LinkGroup"/>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====Railway ============================================================ -->
	<xsd:element name="RailwayElement" abstract="false" substitutionGroup="InfrastructureLink_">
		<xsd:annotation>
			<xsd:documentation>A type of INFRASTRUCTURE LINK used to describe a RAILWAY network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RailwayElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="LinkGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RailwayElementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RailwayLinkIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RailwayElement_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for RAILWAY ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InfrastructureLink_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RailwayElementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RailwayElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a Type for RAILWAY ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromPointRef" type="RailwayPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of POINT from which Link starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToPointRef" type="RailwayPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of POINT at which Link ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === Road============================================================== -->
	<xsd:element name="RoadElement" substitutionGroup="InfrastructureLink_">
		<xsd:annotation>
			<xsd:documentation>A type of INFRASTRUCTURE LINK used to describe a ROAD network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RoadElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="LinkGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RoadElementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoadLinkIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RoadElement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ROAD ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InfrastructureLink_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RoadElementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RoadElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a Type for ROAD ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromPointRef" type="RoadPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of POINT from which Link starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToPointRef" type="RoadPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of POINT at which Link ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====Wire=============================================================== -->
	<xsd:element name="WireElement" abstract="false" substitutionGroup="InfrastructureLink_">
		<xsd:annotation>
			<xsd:documentation>A type of INFRASTRUCTURE LINK used to describe a WIRE network.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="WireElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="LinkGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="WireElementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="WireLinkIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WireElement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for WIRE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InfrastructureLink_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="WireElementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="WireElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a Type for WIREELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromPointRef" type="WirePointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of POINT from which Link starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToPointRef" type="WirePointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of POINT at which Link ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
