XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_networkRestriction_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_networkRestriction_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data, including Timetables.</p>
					<p>This sub-schema describes the NETWORK RESRICTION types</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_networkRestriction_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, RAILWAY stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and ROAD transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx NETWORK RESTRICTION identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: NETWORK RESTRICTION identifier Types.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== Restriction====================================================== -->
	<xsd:simpleType name="NetworkRestrictionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for Identifier of a NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="NetworkRestrictionRef" type="NetworkRestrictionRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NetworkRestrictionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="NetworkRestrictionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="order" type="xsd:integer" use="optional">
					<xsd:annotation>
						<xsd:documentation>Relative order of ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====Point Restriction====================================================== -->
	<xsd:simpleType name="VehicleTypeAtPointIdType">
		<xsd:annotation>
			<xsd:documentation>Type for Identifier of a VEHICLE TYPE AT POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NetworkRestrictionIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleTypeAtPointRef" type="VehicleTypeAtPointRefStructure" substitutionGroup="NetworkRestrictionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an a VEHICLE TYPE AT POINT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleTypeAtPointRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to  a VEHICLE TYPE AT POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="NetworkRestrictionRefStructure">
				<xsd:attribute name="ref" type="VehicleTypeAtPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====Link Restrictions===================================================== -->
	<xsd:simpleType name="InfrastructureLinkRestrictionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for Identifier of an INFRASTRUCTURE LINK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NetworkRestrictionIdType"/>
	</xsd:simpleType>
	<xsd:element name="InfrastructureLinkRestrictionRef" type="InfrastructureLinkRestrictionRefStructure" substitutionGroup="NetworkRestrictionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an INFRASTRUCTURE LINK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InfrastructureLinkRestrictionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a an INFRASTRUCTURE LINK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="NetworkRestrictionRefStructure">
				<xsd:attribute name="ref" type="InfrastructureLinkRestrictionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RestrictedManoeuvreIdType">
		<xsd:annotation>
			<xsd:documentation>Type for Identifier of a MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InfrastructureLinkRestrictionIdType"/>
	</xsd:simpleType>
	<xsd:element name="RestrictedManoeuvreRef" type="RestrictedManoeuvreRefStructure" substitutionGroup="InfrastructureLinkRestrictionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RestrictedManoeuvreRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InfrastructureLinkRestrictionRefStructure">
				<xsd:attribute name="ref" type="RestrictedManoeuvreIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="MeetingRestrictionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for Identifier of a  MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InfrastructureLinkRestrictionIdType"/>
	</xsd:simpleType>
	<xsd:element name="MeetingRestrictionRef" type="MeetingRestrictionRefStructure" substitutionGroup="InfrastructureLinkRestrictionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MeetingRestrictionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InfrastructureLinkRestrictionRefStructure">
				<xsd:attribute name="ref" type="MeetingRestrictionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="OvertakingPossibilityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for Identifier of an  OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NetworkRestrictionIdType"/>
	</xsd:simpleType>
	<xsd:element name="OvertakingPossibilityRef" type="OvertakingPossibilityRefStructure" substitutionGroup="NetworkRestrictionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an  OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OvertakingPossibilityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to  an  OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="NetworkRestrictionRefStructure">
				<xsd:attribute name="ref" type="OvertakingPossibilityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
