XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_networkInfrastructure_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_networkInfrastructure_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLink_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2019-03-08</Modified>NJSK Fix Make  _InfrastructurePointRef _ and InfrastrucrureLinktRef abstract
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data, including Timetables.</p>
					<p>This sub-schema describes the NETWORK INFRASTRUCTURE types</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_networkInfrastructure_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, RAILWAY stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and ROAD transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx NETWORK INFRASTRUCTURE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: NETWORK INFRASTUCTURE identifier Types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="InfrastructurePointIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of INFRASTRUCTURE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PointIdType"/>
	</xsd:simpleType>
	<xsd:element name="InfrastructurePointRef" type="InfrastructurePointRefStructure" abstract="true" substitutionGroup="PointRef">
		<xsd:annotation>
			<xsd:documentation> Reference to an INFRASTRUCTURE POINT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InfrastructurePointRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to an INFRASTRUCTURE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PointRefStructure">
				<xsd:attribute name="ref" type="InfrastructurePointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RailwayPointIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of RAILWAY POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InfrastructurePointIdType"/>
	</xsd:simpleType>
	<xsd:element name="RailwayPointRef" type="RailwayPointRefStructure" abstract="false" substitutionGroup="InfrastructurePointRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a RAILWAY POINT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RailwayPointRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a RAILWAY POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InfrastructurePointRefStructure">
				<xsd:attribute name="ref" type="RailwayPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RoadPointIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of ROAD POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InfrastructurePointIdType"/>
	</xsd:simpleType>
	<xsd:element name="RoadPointRef" type="RoadPointRefStructure" abstract="false" substitutionGroup="InfrastructurePointRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a ROAD POINT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoadPointRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ROAD POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InfrastructurePointRefStructure">
				<xsd:attribute name="ref" type="RoadPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="WirePointIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of WIRE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InfrastructurePointIdType"/>
	</xsd:simpleType>
	<xsd:element name="WirePointRef" type="WirePointRefStructure" abstract="false" substitutionGroup="InfrastructurePointRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a WIRE POINT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WirePointRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a WIRE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InfrastructurePointRefStructure">
				<xsd:attribute name="ref" type="WirePointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<!-- ====Links========================================================== -->
	<xsd:simpleType name="InfrastructureLinkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of INFRASTRUCTURE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkIdType"/>
	</xsd:simpleType>
	<xsd:element name="InfrastructureLinkRef" type="InfrastructureLinkRefStructure" abstract="true" substitutionGroup="LinkRef">
		<xsd:annotation>
			<xsd:documentation> Reference to an INFRASTRUCTURE LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InfrastructureLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to an INFRASTRUCTURE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkRefStructure">
				<xsd:attribute name="ref" type="InfrastructureLinkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====Railway ============================================================ -->
	<xsd:simpleType name="RailwayLinkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of RAILWAY LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InfrastructureLinkIdType"/>
	</xsd:simpleType>
	<xsd:element name="RailwayLinkRef" type="RailwayLinkRefStructure" abstract="false" substitutionGroup="InfrastructureLinkRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a RAILWAY LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RailwayLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a RAILWAY LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InfrastructureLinkRefStructure">
				<xsd:attribute name="ref" type="RailwayLinkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="RailwayLinkRefByValue" type="RailwayLinkRefByValueStructure" substitutionGroup="LinkRefByValue">
		<xsd:annotation>
			<xsd:documentation>Reference to a RAILWAY LINK BY VALUE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RailwayLinkRefByValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a RAILWAY LINK BY VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="LinkRefByValueStructure">
				<xsd:attribute name="fromPointRef" type="RailwayPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT. at which LINK starts.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="toPointRef" type="RailwayPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT. at which LINK ends.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfPointRefClass" type="NameOfClass" use="optional" fixed="RailwayPoint">
					<xsd:annotation>
						<xsd:documentation>Class of POINT referenced by LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- === Road============================================================== -->
	<xsd:simpleType name="RoadLinkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of ROAD LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InfrastructureLinkIdType"/>
	</xsd:simpleType>
	<xsd:element name="RoadLinkRef" type="RoadLinkRefStructure" abstract="false" substitutionGroup="InfrastructureLinkRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a ROAD LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoadLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ROAD LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InfrastructureLinkRefStructure">
				<xsd:attribute name="ref" type="RoadLinkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="RoadLinkRefByValue" type="RoadLinkRefByValueStructure" substitutionGroup="LinkRefByValue">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROAD LINK BY VALUE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoadLinkRefByValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ROAD LINK BY VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="LinkRefByValueStructure">
				<xsd:attribute name="fromPointRef" type="RoadPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT. at which LINK starts.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="toPointRef" type="RoadPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT. at which LINK ends.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfPointRefClass" type="NameOfClass" use="optional" fixed="RoadPoint">
					<xsd:annotation>
						<xsd:documentation>Class of POINT referenced by LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====Wire=============================================================== -->
	<xsd:simpleType name="WireLinkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of WIRE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InfrastructureLinkIdType"/>
	</xsd:simpleType>
	<xsd:element name="WireLinkRef" type="WireLinkRefStructure" abstract="false" substitutionGroup="InfrastructureLinkRef">
		<xsd:annotation>
			<xsd:documentation> Reference to a WIRE LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WireLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a WIRE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InfrastructureLinkRefStructure">
				<xsd:attribute name="ref" type="WireLinkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="WireLinkRefByValue" type="WireLinkRefByValueStructure" substitutionGroup="LinkRefByValue">
		<xsd:annotation>
			<xsd:documentation>Reference to a WIRE LINK BY VALUE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WireLinkRefByValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a WIRE LINK BY VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="LinkRefByValueStructure">
				<xsd:attribute name="fromPointRef" type="WirePointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT. at which LINK starts.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="toPointRef" type="WirePointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT. at which LINK ends.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfPointRefClass" type="NameOfClass" use="optional" fixed="WirePoint">
					<xsd:annotation>
						<xsd:documentation>Class of POINT referenced by LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
