XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_networkRestriction_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_networkRestriction_version">
	<xsd:include schemaLocation="netex_networkInfrastructure_version.xsd"/>
	<xsd:include schemaLocation="netex_networkRestriction_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2012-06-18</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the NETWORK RESTRICTION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_networkRestriction_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation><Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires> &gt;
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, RAILWAY stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and ROAD transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx NETWORK RESTRICTION types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx  NETWORK RESTRICTION types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<!-- ======================================================================= -->
	<xsd:group name="NetworkDescriptionInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a NETWORK DESCRIPTION in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="NetworkInfrastuctureInFrameGroup"/>
			<xsd:group ref="NetworkRestrictionInFrameGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="NetworkRestrictionInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="restrictions" type="networkRestrictionsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>restrictions on network.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="networkRestrictionsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="NetworkRestriction" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===NETWORK RESTRICTIONs================================================= -->
	<xsd:element name="NetworkRestriction" type="NetworkRestriction_VersionStructure" abstract="true" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>A constraint on use of a network of INFRASTRUCTURE POINTs and INFRASTUCTURE LINKs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NetworkRestriction_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="NetworkRestrictionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="NetworkRestrictionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a NETWORK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Restricted" type="xsd:boolean" default="true">
				<xsd:annotation>
					<xsd:documentation>Whether a NETWORK RESTRICTION is allowed or forbidden. Default is true,, i.e.  this is a restriction..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ====Point Restriction====================================================== -->
	<xsd:element name="VehicleTypeAtPoint" abstract="false" substitutionGroup="NetworkRestriction">
		<xsd:annotation>
			<xsd:documentation>NETWORK RESTRICTION. specifying whether a vehicle of a specified VEHICLE TYPE may visit a point.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleTypeAtPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="VehicleTypeAtPointGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleTypeAtPointIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleTypeAtPoint_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a VEHICLE TYPE AT POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NetworkRestriction_VersionStructure">
				<xsd:group ref="VehicleTypeAtPointGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleTypeAtPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE TYPE AT POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ForVehicleTypeRef" type="VehicleTypeRefStructure">
				<xsd:annotation>
					<xsd:documentation>Type of VEHICLE to which NETWORK RESTRICTION applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Capacity" type="NumberOfVehicles" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of vehicles allowed at a point at a given time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====Link Restrictions===================================================== -->
	<xsd:element name="InfrastructureLinkRestriction" abstract="true" substitutionGroup="NetworkRestriction">
		<xsd:annotation>
			<xsd:documentation>A NETWORK RESTRICTION on movement between any two network links.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="InfrastructureLinkRestriction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="FromLinkRef" type="LinkRefStructure">
								<xsd:annotation>
									<xsd:documentation>Restriction applies to movements starting from INFRASTRUCTURE LINK identified by this Reference.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ToLinkRef" type="LinkRefStructure">
								<xsd:annotation>
									<xsd:documentation>Restriction applies to movements ending on INFRASTRUCTURE LINK identified by this reference.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="NetworkRestrictionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="InfrastructureLinkRestriction_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a NETWORK LINK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NetworkRestriction_VersionStructure">
				<xsd:group ref="InfrastructureLinkRestrictionGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="InfrastructureLinkRestrictionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a NETWORK LINK RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromLinkRef" type="LinkRefStructure">
				<xsd:annotation>
					<xsd:documentation>Restriction applies to movements starting from INFRASTRUCTURE LINK identified by this Reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToLinkRef" type="LinkRefStructure">
				<xsd:annotation>
					<xsd:documentation>Restriction applies to movements ending on INFRASTRUCTURE LINK identified by this reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RestrictedManoeuvre" abstract="false" substitutionGroup="NetworkRestriction">
		<xsd:annotation>
			<xsd:documentation>A specification of a move for a certain type of vehicle. It specifies from which INFRASTRUCTURE LINK to which other (adjacent) INFRASTRUCTURE LINK a certain can or cannot VEHICLE TYPE cannot proceed, due to physical restrictions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RestrictedManoeuvre_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="FromLinkRef" type="LinkRefStructure">
								<xsd:annotation>
									<xsd:documentation>Restriction applies to movements starting from INFRASTRUCTURE LINK identified by this Reference.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ToLinkRef" type="LinkRefStructure">
								<xsd:annotation>
									<xsd:documentation>Restriction applies to movements ending on INFRASTRUCTURE LINK identified by this reference.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:group ref="RestrictedManoeuvreGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RestrictedManoeuvreIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RestrictedManoeuvre_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InfrastructureLinkRestriction_VersionStructure">
				<xsd:group ref="RestrictedManoeuvreGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RestrictedManoeuvreGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MANOEUVRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of TYPE OF VEHICLE making MANOEUVRE. If no Manouevre  applies to all vehicles.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:element name="MeetingRestriction" abstract="false" substitutionGroup="NetworkRestriction">
		<xsd:annotation>
			<xsd:documentation>A pair of INFRASTRUCTURE LINKs where vehicles of specified VEHICLE TYPEs are not allowed to meet.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MeetingRestriction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:group ref="InfrastructureLinkRestrictionGroup"/>
						<xsd:group ref="MeetingRestrictionGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="MeetingRestrictionIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MeetingRestriction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InfrastructureLinkRestriction_VersionStructure">
				<xsd:group ref="MeetingRestrictionGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MeetingRestrictionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MEETING RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ForVehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of vehicle that may use forwards direction of INFRASTRUCTURE LINK. For a meeting restriction this is for the forward sense of the link. For overtaking possibility this is for the overtaking vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AgainstVehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of vehicle that may use backwards direction of INFRASTRUCTURE LINK. For a meeting restriction this is for the vehicle going in the  reveser sense of the link. For overtaking possibility this is for the vehicle being  overtaken.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:element name="OvertakingPossibility" abstract="false" substitutionGroup="NetworkRestriction">
		<xsd:annotation>
			<xsd:documentation>NETWORK RESTRICTION specifying a POINT or a LINK where vehicles of specified VEHICLE TYPEs are or are  not allowed to overtake each other.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OvertakingPossibility_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkRestrictionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:element name="OvertakingWidth" type="LengthType" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Width at overtaking point.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="OvertakingOnLinkRef" type="LinkRefStructure">
									<xsd:annotation>
										<xsd:documentation>Identifier of an INFRASTRUCTURE LINK over which two vehicles of the specified VEHICLE TYPE may pass in the  directions of the link.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="OvertakingAtPointRef" type="PointRefStructure">
									<xsd:annotation>
										<xsd:documentation>Identifier of a point at which two vehicles of the specified VEHICLE TYPE may pass.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="OvertakingVehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>TYPE OF VEHICLE  that may overtake.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="OvertakenVehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>TYPE OF VEHICLE  that may be overtaken.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OvertakingPossibilityIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OvertakingPossibility_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NetworkRestriction_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OvertakingPossibilityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OvertakingPossibilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a OVERTAKING POSSIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OvertakingWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width at overtaking point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OvertakingOnLinkRef" type="LinkRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of an INFRASTRUCTURE LINK over which two vehicles of the specified VEHICLE TYPE may pass in the  directions of the link.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OvertakingAtPointRef" type="PointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of a point at which two vehicles of the specified VEHICLE TYPE may overtake or not overtake.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OvertakingVehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPE OF VEHICLE  that may overtake.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OvertakenVehicleTypeRef" type="VehicleTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPE OF VEHICLE  that may be overtaken.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
