XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_activation_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_activation_version">
	<xsd:include schemaLocation="netex_activation_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLink_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the ACTIVATION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_activation_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx ACTIVATION types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: ACTIVATION types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in INFRASTRUCTURE FRAME)=================================================== -->
	<xsd:group name="ActivationInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACTIVATION in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="trafficControlPoints" type="trafficControlPointsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>points in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="activationPoints" type="activationPointsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>points in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="activationLinks" type="activationLinksInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>links in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="activatedEquipments" type="activatedEquipmentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>equipment in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="trafficControlPointsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TRAFFIC CONTROL POINTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TrafficControlPoint" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="activationLinksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of ACTIVATION LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ActivationLink" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A LINK where a control process is activated when a vehicle passes it.  Activation links are directional - there will be separate links for each direction of a route.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="activationPointsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of ACTIVATION POINTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ActivationPoint_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="activatedEquipmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of ACTIVATION EQUIPMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ActivatedEquipment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==Activation============================================================ -->
	<!-- ======================================================================= -->
	<xsd:element name="ActivatedEquipment" abstract="false">
		<xsd:annotation>
			<xsd:documentation>An EQUIPMENT activated by the passage of a vehicle at an ACTIVATION POINT or on an ACTIVATION LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ActivatedEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActivatedEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ActivatedEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ActivatedEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an ACTIVATED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Equipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ActivatedEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ActivatedEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an ACTIVATED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TrafficControlPointRef" minOccurs="0"/>
			<xsd:element ref="TypeOfActivationRef" minOccurs="0"/>
			<xsd:element name="assignments" type="activationAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>assignments of ACTIVATED EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ================================================================ -->
	<xsd:element name="ActivationPoint_" type="Point_VersionStructure" abstract="true" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation>A POINT where a control process is activated when a vehicle passes it. EQUIPMENT may be needed for the activation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivationPoint" abstract="false" substitutionGroup="ActivationPoint_">
		<xsd:annotation>
			<xsd:documentation>A POINT where a control process is activated when a vehicle passes it. EQUIPMENT may be needed for the activation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ActivationPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActivationPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ActivationPointIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ActivationPoint_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for ACTIVATION POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Point_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ActivationPointGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ActivationPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an ACTIVATION POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ActivationPointNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of ACTIVATION POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of ACTIVATION POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element ref="TypeOfActivationRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ================================================================== -->
	<xsd:element name="BeaconPoint" abstract="false" substitutionGroup="ActivationPoint_">
		<xsd:annotation>
			<xsd:documentation>A POINT where a beacon or similar device to support the automatic detection of vehicles passing by is located.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="BeaconPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActivationPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="BeaconPointIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BeaconPoint_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for BEACON POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ActivationPoint_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TrafficControlPoint" abstract="false" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation>A POINT where the traffic flow can be influenced. Examples are: traffic lights (lanterns), barriers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TrafficControlPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TrafficControlPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TrafficControlPointIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrafficControlPoint_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for TRAFFIC CONTROL POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Point_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TrafficControlPointGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrafficControlPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a TRAFFIC CONTROL POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ActivationLink" abstract="false" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>A LINK where a control process is activated when a vehicle passes it.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ActivationLink_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActivationLinkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ActivationLinkIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ActivationLink_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an ACTIVATION LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Link_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ActivationLinkGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ActivationLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an ACTIVATION LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfActivationRef" minOccurs="0"/>
			<xsd:element name="FromPointRef" type="ActivationPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>ACTIVATION POINT from which ACTIVATION LINK starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToPointRef" type="ActivationPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>ACTIVATION POINT at which ACTIVATION LINK ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="activationAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ACTIVATION ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ActivationAssignmentRef"/>
					<xsd:element ref="ActivationAssignment" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ActivationAssignment" abstract="false" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>An assignment of an ACTIVATION POINT/LINK to an ACTIVATED EQUIPMENT related on its turn to a TRAFFIC CONTROL POINT. The considered ACTIVATION POINT/LINK will be used to influence the control process for that TRAFFIC CONTROL POINT (e.g. to fix priorities as regards the processing of competing requests from different ACTIVATION POINTs/LINKs).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ActivationAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActivationAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ActivationAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ActivationAssignment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an ACTIVATION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ActivationAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ActivationAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an ACTIVATION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="EquipmentRef" type="ActivatedEquipmentRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ACTIVATED EQUIPMENT for which this is the assignment - may be omitted if given by context.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LinkRef" type="ActivationLinkRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ACTIVATION LINK for assignment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PointRef" type="ActivationPointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ACTIVATION POINT for assignment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfActivation" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of real-time processes that are activated when vehicles passes an ACTIVATION POINT or an ACTIVATION LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfActivation_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence/>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfActivationIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfActivation_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF ACTIVATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
