XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_lineNetwork_version.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_lineNetwork_version">
	<xsd:include schemaLocation="netex_lineNetwork_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_section_version.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_line_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Date><Modified>2017-05-25</Modified> Pull Request   Text for Lin Section corrected   No functional alteration.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the LINE NETWORK types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_lineNetwork_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx LINE NETWORK types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: LINE NETWORK Elements.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="LineNetworkInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>LINE NETWORK related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="lineNetworks" type="lineNetworksInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LINE NETWORKs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="lineNetworksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of LINE NETWORK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="LineNetwork" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A description of the connectivity of a line as a set of LINE SECTIONs. This is sufficient to draw a route map for the whole line including branches.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===LINE NETWORK =================================================== -->
	<xsd:element name="LineNetwork" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A description of the topological connectivity of a LINE as a set of LINE SECTIONs. This is sufficient to draw a route map for the whole line including branches and loops.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LineNetwork_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LineNetworkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LineNetworkIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LineNetwork_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a LINE NETWORK restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="LineNetworkGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LineNetworkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LINE NETWORK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of LINE NETWORK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of LINE NETWORK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GroupOfLinesRef" minOccurs="0"/>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element name="sections" type="lineSections_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LINE SECTIONS within the LINE NETWORK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:complexType name="lineSections_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of LINE SECTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="LineSectionRef"/>
					<xsd:element ref="LineSection"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="LineSection" abstract="false" substitutionGroup="Section_">
		<xsd:annotation>
			<xsd:documentation>A section of a LINE NETWORK comprising an edge between two nodes. Not directional.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LineSection_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SectionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LineSectionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LineSectionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LineSection_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a LINE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Section_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="LineSectionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LineSectionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LINE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element name="pointsOnSection" type="pointOnLineSections_RelStructure">
					<xsd:annotation>
						<xsd:documentation>Ordered collection of POINTS used in the SECTION. +v1.1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="members" type="commonSectionPointMembers_RelStructure">
					<xsd:annotation>
						<xsd:documentation>[DEPRECATED: renamed to PointsOnSection - included for backwards comaptibilty - use PointsOnSection instead Ordered collection of POINTS used in the COMMON SECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:element name="reversePointsOnSection" type="pointOnLineSections_RelStructure">
					<xsd:annotation>
						<xsd:documentation>Reverse direction ordered sequence of POINTS Used in the COMMON SECTION. +v1.1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="reverseMembers" type="commonSectionPointMembers_RelStructure">
					<xsd:annotation>
						<xsd:documentation>DEPRECATED - use reversePoibtsOnSection instead Reverse direction ordered sequence of POINTS Used in the COMMON SECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="SectionType" type="SectionTypeEnumeration" default="trunk" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of LINE SECTION. Default is trunK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="pointOnLineSections_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of POINTS ON LINE SECTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PointOnLineSection" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PointOnLineSection" abstract="false" substitutionGroup="PointOnSection_">
		<xsd:annotation>
			<xsd:documentation>Inclusion of a POINT on a LINE SECTION. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PointOnLineSection_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointInLinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:choice>
								<xsd:element ref="PointRef">
									<xsd:annotation>
										<xsd:documentation>Reference to a POINT.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element ref="Point"/>
							</xsd:choice>
							<xsd:element ref="LinkRef" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Reference to a LINK.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Reverse" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether link in SECTION  is navigated in to / from, i.e. reverse direction . Default is false, i.e. from to.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointOnLineSectionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PointOnLineSectionIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PointOnLineSection_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a  POINT on LINE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PointOnSection_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="PointOnLineSectionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PointOnLineSectionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a POINT ON  LINE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LineSectionPointType" type="LineSectionPointTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of Point Member.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShowAsAccessible" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether point is to be shown as Accessible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConnectingVehicleModes" type="VehicleModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Connecting Vehicle Modes to show for Point if different from  point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="LineSectionPointMember" abstract="false" substitutionGroup="CommonSectionPointMember">
		<xsd:annotation>
			<xsd:documentation>[DEPRECATED use POINT ON LINE SECTION INSTEAD ] An ordered set of LINKs for a line.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="PointOnLineSection_VersionedChildStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- ======================================================================= -->
</xsd:schema>
