XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_route_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_route_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLink_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the ROUTE identifer types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_route_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Time utility types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx ROUTE  identifier Types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===Direction=========================================================== -->
	<xsd:element name="DirectionType" type="DirectionTypeEnumeration" default="outbound">
		<xsd:annotation>
			<xsd:documentation>A Direction of a ROUTE. One of a restricted set of values. Default is "Outbound"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="DirectionTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="inbound"/>
			<xsd:enumeration value="outbound"/>
			<xsd:enumeration value="clockwise"/>
			<xsd:enumeration value="anticlockwise"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DirectionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="DirectionRef" type="DirectionRefStructure" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DIRECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DirectionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="DirectionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a DIRECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==Route============================================================ -->
	<xsd:element name="RouteRef" type="RouteRefStructure" substitutionGroup="LinkSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUTE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="RouteIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkSequenceIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="RouteRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkSequenceRefStructure">
				<xsd:attribute name="ref" type="RouteIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ROUTE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="routeRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="RouteRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==RoutePoint======================================================== -->
	<xsd:simpleType name="RoutePointIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUTE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PointIdType"/>
	</xsd:simpleType>
	<xsd:element name="RoutePointRef" type="RoutePointRefStructure" substitutionGroup="PointRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUTE POINT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoutePointRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ROUTE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PointRefStructure">
				<xsd:attribute name="ref" type="RoutePointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ROUTE POINT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==RouteLink======================================================== -->
	<xsd:simpleType name="RouteLinkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUTE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkIdType"/>
	</xsd:simpleType>
	<xsd:element name="RouteLinkRef" type="RouteLinkRefStructure" substitutionGroup="LinkRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUTE LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RouteLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ROUTE LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkRefStructure">
				<xsd:attribute name="ref" type="RouteLinkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ROUTE LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="RouteLinkRefByValue" type="RouteLinkRefByValueStructure" substitutionGroup="LinkRefByValue">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUTE LINK BY VALUE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RouteLinkRefByValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ROUTE LINK BY VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="LinkRefByValueStructure">
				<xsd:attribute name="fromPointRef" type="RoutePointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT. at which LINK starts.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="toPointRef" type="RoutePointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT. at which LINK ends.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfPointRefClass" type="NameOfClass" use="optional" fixed="RoutePoint">
					<xsd:annotation>
						<xsd:documentation>Class of POINT referenced by LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PointOnRouteIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POINT ON ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PointInSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="PointOnRouteRef" type="PointOnRouteRefStructure" substitutionGroup="PointInSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to POINT ON ROUTE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PointOnRouteRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a POINT ON ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PointInSequenceRefStructure">
				<xsd:attribute name="ref" type="PointOnRouteIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT IN SEQUENCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==Route Section=========================================================== -->
	<!-- 
	<xsd:simpleType name="RouteSectionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUTE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SectionIdType"/>
	</xsd:simpleType>
	<xsd:element name="RouteSectionRef" type="RouteSectionRefStructure" abstract="false" substitutionGroup="SectionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUTE SECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RouteSectionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ROUTE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SectionRefStructure">
				<xsd:attribute name="ref" type="RouteSectionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>  -->
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
</xsd:schema>
