XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_vehicleAndCrewPoint_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_vehicleAndCrewPoint_version">
	<xsd:include schemaLocation="netex_vehicleAndCrewPoint_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_address_version.xsd"/>
	<xsd:include schemaLocation="../part1_tacticalPlanning/netex_timingPattern_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Date><Modified>2017-05-25</Modified> Add  cotact telephone number and operator / operators assoicated with Garage. 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE AND CREW POINT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_vehicleAndCrewPoint_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE AND CREW POINT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx  VEHICLE AND CREW POINT types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="VehicleAndCrewInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE and CREW POINTs in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="crewBases" type="crewBasesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Vehicle and CREW POINTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="garages" type="garagesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Vehicle and CREW POINTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicleAndCrewPoints" type="reliefPointsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Vehicle and CREW POINTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="crewBasesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of CREW BASEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="CrewBase" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="garagesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of GARAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Garage" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="reliefPointsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of RELIEF POINTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ReliefPoint_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==Activation============================================================ -->
	<xsd:element name="CrewBase" abstract="false" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A place where operating EMPLOYEEs (e.g. drivers) report on and register their worK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CrewBase_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:group ref="CrewBaseGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="CrewBaseIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of a CREW BASE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CrewBase_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for CREW BASE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:group ref="CrewBaseGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CrewBaseGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a CREW BASE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ReliefPointRef"/>
			<xsd:element name="garages" type="garageRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>garages associated with CREW BASe.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ================================================================== -->
	<xsd:element name="ReliefPoint_" type="TimingPoint_VersionStructure" abstract="true" substitutionGroup="TimingPoint_">
		<xsd:annotation>
			<xsd:documentation>A TIMING POINT where a relief is possible, i.e. a driver may take on or hand over a vehicle. The vehicle may sometimes be left unattended.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReliefPoint" abstract="false" substitutionGroup="ReliefPoint_">
		<xsd:annotation>
			<xsd:documentation>A TIMING POINT where a relief is possible, i.e. a driver may take on or hand over a vehicle. The vehicle may sometimes be left unattended.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ReliefPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingPointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ReliefPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ReliefPointIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of  a RELIEF POINT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ReliefPoint_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RELIEF POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TimingPoint_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ReliefPointGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ReliefPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a RELIEF POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CrewBaseRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ParkingPoint_" type="ReliefPoint_VersionStructure" abstract="true" substitutionGroup="ReliefPoint_">
		<xsd:annotation>
			<xsd:documentation>A TIMING POINT where vehicles may stay unattended for a long time. A vehicle's return to park at a PARKING POINT marks the end of a BLOCK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ParkingPoint" abstract="false" substitutionGroup="ReliefPoint_">
		<xsd:annotation>
			<xsd:documentation>A TIMING POINT where vehicles may stay unattended for a long time. A vehicle's return to park at a PARKING POINT marks the end of a BLOCK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ParkingPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingPointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ReliefPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ParkingPointIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of a PARKING POINT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ParkingPoint_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for PARKING POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReliefPoint_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ParkingPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a PARKING POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="GarageRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="garagePoints_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GARAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GaragePointRef"/>
					<xsd:element ref="GaragePoint"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GaragePoint" abstract="false" substitutionGroup="ParkingPoint_">
		<xsd:annotation>
			<xsd:documentation>A subtype of PARKING POINT located in a GARAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ParkingPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimingPointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ReliefPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GaragePointIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of  GARAGE POINT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GaragePoint_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GARAGE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParkingPoint_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GaragePointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a GARAGE POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="GarageRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="Garage" abstract="false" substitutionGroup="Place">
		<xsd:annotation>
			<xsd:documentation>A facility used for parking and maintaining vehicles. PARKING POINTs in a GARAGE are called GARAGE POINTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Garage_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GarageGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PlaceIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of  GARAGE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Garage_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for GARAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AddressablePlace_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GarageGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GarageGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a GARAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ContactDetails" type="ContactStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact details for GARAGE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OrganisationRef" minOccurs="0"/>
			<xsd:element name="operators" type="transportOrganisationRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OPERATORs assoicated with GARAGE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="garagePoints" type="garagePoints_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GARAGE POINTsin GARAGE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="crewBases" type="crewBaseRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CREW BASEs asspicated with GARAGE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
