XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_flexibleNetwork_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_flexibleNetwork_version">
	<xsd:include schemaLocation="netex_flexibleNetwork_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_utility/netex_utility_contact.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceRestrictions_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_notice_version.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_route_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs"><Aggregation>main schema</Aggregation><Audience>e-service developers</Audience><Contributor>V1.0 Christophe Duquesne</Contributor><Contributor>Nicholas Knowles</Contributor><Coverage>Europe</Coverage><Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator><Date><Created>2010-09-04</Created></Date><Date><Modified>2011-02-05</Modified>Name Space changes
				</Date><Date><Modified>2017-05-25</Modified> Documentation corrected. 
				</Date><Date><Modified>2017-06-11</Modified> Move Booking COntact to shared grou. No functional change
				</Date><Date><Modified>2023-12-18</Modified>FIX: revise the  #525 implementation of BOOKING ARRANGEMENT 
					; move booking arrangements up up to line and deprecate use on FLEXIBLE LINE
				</Date><Description><p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p><p>This sub-schema describes the FLEXIBLE NETWORK types.</p></Description><Format><MediaType>text/xml</MediaType><Syntax>http://www.w3.org/2001/XMLSchema</Syntax><Description>XML schema, W3C Recommendation 2001</Description></Format>&gt;<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_flexibleNetwork_version.xsd</Identifier><Language>[ISO 639-2/B] ENG</Language><Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher><Relation><Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires></Relation><Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2023</Copyright></Rights><Source><ul><li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li></ul></Source><Status>Version 1.0</Status><Subject><Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category><Project>CEN TC278 WG3 SG9.</Project></Subject><Title>NeTEx FLEXIBLE NETWORK types.</Title><Type>Standard</Type></Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX FLEXIBLE NETWORK types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="FlexibleRouteInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Properties of flexible Routes in SERVICE FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="flexiblePointProperties" type="flexiblePointProperties_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FLEXIBLE POINT PROPERTIES in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flexibleLinkProperties" type="flexibleLinkProperties_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FLEXIBLE LINK PROPERTIES in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="FlexibleLine" substitutionGroup="Line_Dummy">
		<xsd:annotation>
			<xsd:documentation>A group of FLEXIBLE ROUTEs of which is generally known to the public by a similar name or number and which have common booking arrangements. DEPRECATED: please use LINE instead. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexibleLine_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LineGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FlexibleLineGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexibleLineIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleLine_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FLEXIBLE LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Line_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FlexibleLineGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexibleLineGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FLEXIBLE LINE. DEPRECATED: please use elements for a LINE instead. -v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FlexibleLineType" type="FlexibleLineTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of FLEXIBLE LINE is DEPRECATED: please use Type of LINE. -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:annotation>
					<xsd:documentation>BookingArrangementGroup direct use is DEPRECATED: please use bookingArrangements on LINE Supertype.</xsd:documentation>
				</xsd:annotation>
				<xsd:group ref="BookingArrangementGroup"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- ==FlexibleRoute============================================================ -->
	<xsd:element name="FlexibleRoute" substitutionGroup="Route_Dummy">
		<xsd:annotation>
			<xsd:documentation>Specialisation of ROUTE for flexible service. May include both point and zonal areas and ordered and unordered sections.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexibleRoute_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RouteGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FlexibleRouteGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexibleRouteIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleRoute_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FLEXIBLE ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Route_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FlexibleRouteGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexibleRouteGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FLEXIBLE ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FlexibleRouteType" type="FlexibleRouteTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of FLEXIBLE ROUTE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="flexibleLinkProperties_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of FLEXIBLE LINK PROPERTies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="FlexibleLinkProperties" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FlexibleLinkProperties" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Flexible properties of a LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexibleLinkProperties_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FlexibleLinkPropertiesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexibleLinkPropertiesIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleLinkProperties_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FLEXIBLE LINK PROPERTies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FlexibleLinkPropertiesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexibleLinkPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FLEXIBLE LINK PROPERTies.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LinkRef" minOccurs="0"/>
			<xsd:element name="MayBeSkipped" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the LINK may be skipped.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OnMainRoute" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the LINK is on the main ROUTE of the LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UnscheduledPath" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether this link is on an unscheduled path route.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FlexibleLinkType" type="FlexibleLinkTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of flexible link.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="flexiblePointProperties_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of FLEXIBLE POINT PROPERTies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="FlexiblePointProperties" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FlexiblePointProperties" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Flexible properties of a POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FlexiblePointProperties_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FlexiblePointPropertiesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FlexiblePointPropertiesIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexiblePointProperties_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FLEXIBLE POINT PROPERTies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FlexiblePointPropertiesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FlexiblePointPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FLEXIBLE POINT PROPERTies. Especially such POINT may stand in for a whole FLEXIBLE ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="PointOnRouteRef"/>
				<xsd:element ref="PointRef"/>
			</xsd:choice>
			<xsd:element name="MayBeSkipped" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the POINT may be skipped.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OnMainRoute" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the POINT is on the main ROUTE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PointStandingForAZone" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the POINT represents a FLEXIBLE ZONE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ZoneContainingStops" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the ZONE is defined by a GROUP of POINT (true) or a geographical zone defined by its boundary.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="FlexibleLineView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>A group of FLEXIBLE ROUTEs of which is generally known to the public by a similar name or number and which have common booking arrangements.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="FlexibleLine_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FlexibleLine_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FLEXIBLE LINE is DEPRECATED: please use Type of LINE. -v2.0.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Line_DerivedViewStructure">
				<xsd:sequence>
					<xsd:element name="FlexibleLineType" type="FlexibleLineTypeEnumeration" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Type of FLEXIBLE LINE is DEPRECATED: please use Type of LINE. -v2.0.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice>
						<xsd:annotation>
							<xsd:documentation>BookingArrangementGroup direct use is DEPRECATED: please use bookingArrangements</xsd:documentation>
						</xsd:annotation>
						<xsd:group ref="BookingArrangementGroup"/>
						<xsd:element name="bookingArrangements" type="bookingArrangements_RelStructure" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Set of possible Booking Arrangements for this LINE.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
