XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_line_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_line_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_grouping_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Date>
					<Modified>2017-07-03</Modified> CR025  add secodaary destination context enum
														CR10 add type of Line Enums and Type of  LineGroup Enums
				</Date>
				<Date>
					<Modified>2017-06-28</Modified>CR014  Add GroupOfLinesType Enum.
				</Date>
				<Date>
					<Modified>2019-03-08</Modified>UK-44 Add additional  groupsOfOperators  to Network.   
							 Also add flexible and urban to LineType enumeration	. Also add tariff and scheduling to GroupOfLinesType enumeration	
							Add UseToExclude flag to GroupOfLines
				</Date>
				<Date>
					<Modified>2019-03-11</Modified>CR-13 Add replacement   to LineType enumeration 
				</Date>
				<Date>
					<Modified>2019-03-127</Modified>CR-10 Add missing  value other   to LineType enumeration 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the LINE identifier  utility types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>&gt;
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_line_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx LINE   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx LINE identifier Type Definitions.</xsd:documentation>
	</xsd:annotation>
	<!-- ==  GROUP OF LINEs ============================================== -->
	<xsd:element name="GroupOfLinesRef" type="GroupOfLinesRefStructure" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP OF LINEs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfLinesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a GROUP OF LINEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="GroupOfLinesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF LINEs.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="GroupOfLinesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF LINEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="GroupOfLinesTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values Classification of GROUP of  LINEs. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="marketing">
				<xsd:annotation>
					<xsd:documentation>Grouping is primarily for marketing purposes.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="administrative">
				<xsd:annotation>
					<xsd:documentation>Grouping is primarily for administrative purposes..</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="scheduling">
				<xsd:annotation>
					<xsd:documentation>Grouping is primarily for creating schedules purposes.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="control">
				<xsd:annotation>
					<xsd:documentation>Grouping is primarily for defining tariff scope.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="tariff">
				<xsd:annotation>
					<xsd:documentation>Grouping is primarily for defining tariff scope.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- == LINE =========================================================== -->
	<xsd:complexType name="lineRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="LineRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="LineIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="LineRef" type="LineRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a LINE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LineRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="LineIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LINE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LineTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values Classification of  LINE. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="local"/>
			<xsd:enumeration value="urban"/>
			<xsd:enumeration value="longDistance"/>
			<xsd:enumeration value="express"/>
			<xsd:enumeration value="seasonal"/>
			<xsd:enumeration value="replacement"/>
			<xsd:enumeration value="flexible"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<!-- == ALLOWED LINE DIRECTION ================================================== -->
	<xsd:complexType name="allowedLineDirectionRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to an ALLOWED LINE DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="AllowedLineDirectionRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AllowedLineDirectionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ALLOWED LINE DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="AllowedLineDirectionRef" type="AllowedLineDirectionRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ALLOWED LINE DIRECTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AllowedLineDirectionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an ALLOWED LINE DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="AllowedLineDirectionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ALLOWED LINE DIRECTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="NetworkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a NETWORK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfLinesIdType"/>
	</xsd:simpleType>
	<xsd:element name="NetworkRef" type="NetworkRefStructure" substitutionGroup="GroupOfLinesRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a NETWORK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NetworkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a NETWORK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfLinesRefStructure">
				<xsd:attribute name="ref" type="NetworkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== DESTINATION DISPLAY ================================== -->
	<xsd:complexType name="destinationDisplayRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="DestinationDisplayRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="DestinationDisplayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="DestinationDisplayRef" type="DestinationDisplayRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DestinationDisplayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="DestinationDisplayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DESTINATION DISPLAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== DESTINATION DISPLAY VARIANT. =============================== -->
	<xsd:complexType name="destinationDisplayVariantRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a DESTINATION DISPLAY VARIANT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="DestinationDisplayVariantRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="DestinationDisplayVariantIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DESTINATION DISPLAY VARIANT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="DestinationDisplayVariantRef" type="DestinationDisplayVariantRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DESTINATION DISPLAY VARIANT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DestinationDisplayVariantRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DESTINATION DISPLAY VARIANT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="DestinationDisplayVariantIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DESTINATION DISPLAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ViaTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values Classification of Via.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="stopPoint"/>
			<xsd:enumeration value="name"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DestinationDisplayContextEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values forr Destination Display Context. +v1.1.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="continueTo"/>
			<xsd:enumeration value="endsAt"/>
			<xsd:enumeration value="transferAt"/>
			<xsd:enumeration value="via"/>
			<xsd:enumeration value="inMessage"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ===== TYPE OF LINE ======================================== -->
	<xsd:simpleType name="TypeOfLineIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfLineRef" type="TypeOfLineRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF LINE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfLineRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfLineIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF LINe.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
