XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_line_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_line_version">
	<xsd:include schemaLocation="../../netex_framework/netex_utility/netex_utility_types.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_modeOfOperation_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_grouping_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_accessibility/netex_acsb_accessibility.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_noticeAssignment_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceRestrictions_version.xsd"/>
	<xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_vehicleJourneyStopAssignment_support.xsd"/>
	<xsd:include schemaLocation="netex_line_support.xsd"/>
	<xsd:include schemaLocation="netex_route_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2011-02-05</Modified> Name Space changes 
				</Date>
				<Date><Modified>2017-03-27</Modified>CR27 Add Submode to Group of lines.
					<Modified>2017-03-27</Modified>CR11 Add Print Presentation to Line.
					<Modified>2017-05-25</Modified>Pullrequest  Correct text on LineDirection.
					<Modified>2017-06-01</Modified>Add Additional Networks to service Frame.
					<Modified>2017-06-28</Modified>CRxx Add LineType and GroupOfLineType.
					<Modified>2017-06-28</Modified>CRxx Add PRESENTATION to Allowed Line Direction.
					<Modified>2017-07-03</Modified>CR25 Add Secondary Name to Destination Display.
				</Date>
				<Date>
					<Modified>2017-04-22 CR16 Timetable pdf links to Line</Modified>
				</Date>
				<Date><Modified>2019-03-08</Modified>UK-44 Add additional  groupsOfOperators  to Network.   
						Also add flexible and urban to LineType enumeration	. 
						Also add tariff and scheduling to GroupOfLinesType enumeration	
						Add UseToExclude flag to GroupOfLines
				</Date>
				<Date><Modified>2019-03-25</Modified>NL-27  CD Add additional  defaults to line for  TypeProductCategory, TypeOfService					 	
						NJSK Review; Move  TypeProductCategory  TypeOfService
						NJSK Review;  Move position of  Line  /TypeProductCategory and  TypeOfService to LineClassificationGroup 
				</Date>
				<Date><Modified>2019-03-12</Modified>EURA-84 (and GTFS)  Add default PaymentMethod, TypesOfPaymentMethods   and Payment Moments attribute to NETWORK, GROUP OF LINES and LINE   
				</Date>
				<Date><Modified>2019-04-18</Modified>Allow PRESENTATION on DestinationDIsplay  
				</Date>
				<Date>
					<Modified>2020-10-05 New modes - add MODE of OPERATION to LINE.</Modified>
				</Date>
				<Date><Modified>2023-11-07</Modified>CR0544 Deprecate PrivateCode.
				</Date>
				<Date>
					<Modified>2023-12-14 #391 Fix linesInDirection to also allow Allowed line diretcion ref. Remove commented out code</Modified>
				</Date>
				<Date><Modified>2023-12-18</Modified>FIX: revise the  #525 implementation of BOOKING ARRANGEMENT 
					; move booking arrangements up up to LINE and deprecate use on FLEXIBLE LINE
					Also delete commented out constraint code - now all in publication.xsd.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the LINE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_line_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2023</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx LINE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX LINE types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="NetworkInFrameGroup">
		<xsd:annotation>
			<xsd:documentation> NETWORK elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Network" minOccurs="0"/>
			<xsd:element name="additionalNetworks" type="networksInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional networks refernced in frame in addition to the primary NETWORK..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LineInFrameGroup">
		<xsd:annotation>
			<xsd:documentation> LINE elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="lines" type="linesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LINEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfLines" type="groupsOfLinesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPs of LINEs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="destinationDisplays" type="destinationDisplaysInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DESTINATION DISPLAYs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="groupsOfLinesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of GROUP OF LINEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfLines" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="networksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of NETWORKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Network" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="purposesOfGroupingInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of PURPOSE OF GROUPING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PurposeOfGrouping" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="destinationDisplaysInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DestinationDisplay" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==GROUP OF LINES============================================================ -->
	<xsd:element name="GroupOfLines" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A grouping of LINEs which will be commonly referenced for a specific purpose.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfLines_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfLinesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfLinesIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfLines_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GROUP OF LINES.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfLinesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfLinesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for GROUP OF LINES.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="UseToExclude" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether contents of Group should be used to exclude (true) from a large list . The default is include (i.e.false)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="members" type="lineRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LINEs in GROUP OF LINEs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MainLineRef" type="LineRefStructure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Primary LINE in GROUP OF LINEs, if relevant.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Primary PUBLIC TRANSPORT MODE of NETWORK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportSubmode" minOccurs="0"/>
			<xsd:element ref="ModeOfOperationRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>+v1.2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GroupOfLinesType" type="GroupOfLinesTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of GROUP OF LINES. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="LinePaymentMethodGroup"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==Line============================================================ -->
	<xsd:complexType name="linesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of LINe.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Line_Dummy" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Line_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Dummy Supertype for LINE &amp; FLEXIBLE LINe.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Line" substitutionGroup="Line_Dummy" id="Line">
		<xsd:annotation>
			<xsd:documentation>A group of ROUTEs which is generally known to the public by a similar name or number.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Line_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LineGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LineIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Line_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="LineGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LineGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="LineDescriptionGroup"/>
			<xsd:group ref="LineCodeGroup"/>
			<xsd:group ref="LinePropertiesGroup">
				<xsd:annotation>
					<xsd:documentation>Properties of a LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LineDescriptionGroup">
		<xsd:annotation>
			<xsd:documentation>Descriptive Elements of a LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString">
				<xsd:annotation>
					<xsd:documentation>Name of LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short name of LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PT MODE of LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportSubmode" minOccurs="0"/>
			<xsd:element name="Url" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Web link for LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LineCodeGroup">
		<xsd:annotation>
			<xsd:documentation>Alternative Code Elements of a LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Public identifier of a LINe.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED - use privateCodes. -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExternalLineRef" type="ExternalObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An alternative code that uniquely identifies the LINE specifically for use in AVMS systems. For VDV compatibility. DEPRECATED - use privateCodes -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LinePropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Property elements of a LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AuthorityRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A line should always have an AUTHORITY, even when the information is provided in a ResponsibilitySet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OperatorRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An OPERATOR should be set, even when the same as the AUTHORITY. In some cases OPERATOR or AUTHORITY are managed through a ResponsibilitySet. However, for compatibility OperatorRef and AuthorityRef still should be filled in. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalOperators" type="transportOrganisationRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional OPERATORs for LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="otherModes" type="modeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional transport MODEs for LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OperationalContextRef" minOccurs="0"/>
			<xsd:group ref="LineClassificationGroup">
				<xsd:annotation>
					<xsd:documentation>Classification Elements of a LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="Monitored" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether real-time data is normally available for LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="routes" type="routeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Routes that follow the LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RepresentedByGroupRef" type="GroupOfLinesRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPS OF LINEs that can be used to represent LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="LinePresentationGroup"/>
			<xsd:group ref="LinePaymentMethodGroup">
				<xsd:annotation>
					<xsd:documentation>Default payment methods supported for LINE or NETWORK+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="ContactDetails" type="ContactStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CantactDetails for Line +V1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
			<xsd:element name="allowedDirections" type="allowedLineDirections_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed directions for routes of LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FACILITies available associated with LINE. It is always recommended to also model accessibility relevant things as equipment on the VEHICLE and physical elements, if real-time information is needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICES assigned to LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentLinks" type="infoLinks_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timetable documents associated with the LINE, e.g pdf files</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bookingArrangements" type="bookingArrangements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Set of possible Booking Arrangements for this LINE. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LineClassificationGroup">
		<xsd:annotation>
			<xsd:documentation>Classification Elements of a LINE. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LineType" type="LineTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of LINE, including flexible options. +v2.0.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfLineRef" minOccurs="0"/>
			<xsd:element name="ExternalProductCategoryRef" type="ExternalObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An default product classification for all journeys of the lin e for use in AVMS systems. For VDV compatibility. +v1.1. DEPRECATED - use privateCodes -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfProductCategoryRef" minOccurs="0"/>
			<xsd:element ref="TypeOfServiceRef" minOccurs="0"/>
			<xsd:element name="AccessModes" type="AccessModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of ACCESS MODEs that are allowed for this line. If not specified means all the usual ones for classic public transport. Can be used for example to indicate in vehicle only access. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RestrictedLine" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the LINE is restricted to special groups of passengers and not open to the general public, or restricted by the access modes supported. Default is false. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UserTypes" type="UserTypeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If only specific user types are allowed on the LINE, they can be indicated in this list. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LinePresentationGroup">
		<xsd:annotation>
			<xsd:documentation>Presentation Elements of a LINE. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Presentation" type="PresentationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Presentation values to use when rendering LINE, such as a colour.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AlternativePresentation" type="PresentationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternative Presentation values to use when rendering LINE, such as a colour.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrintedPresentation" type="PrintPresentationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Presentation values to use in printed material for LINE, such as a colour. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LinePaymentMethodGroup">
		<xsd:annotation>
			<xsd:documentation>Default Payment methods supported for LINE. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PaymentMethods" type="PaymentMethodListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Payment Methods allowed on LINE. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typesOfPaymentMethod" type="TypeOfPaymentMethod_ValueStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPES OF PAYMENT METHOD allowed on LINE. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PurchaseMoment" type="PurchaseMomentListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PURCHASE MOMENT types allowed on LINE. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="Network" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A named grouping of LINEs under which a Transport network is known.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Network_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfLinesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NetworkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="NetworkIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Network_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a NETWORK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfLines_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="NetworkGroup">
						<xsd:annotation>
							<xsd:documentation>Network attributes.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="NetworkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a NETWORK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
			<xsd:element name="groupsOfOperators" type="groupsOfOperatorsRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Groups of OPERATORs AUTHORTies or OPERATORS) (in NETWORK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfLines" type="groupsOfLinesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Groups of LINEs in NETWORK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tariffZones" type="tariffZoneRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TARIFF ZONEs in NETWORK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="DestinationDisplay" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An advertised destination of a specific JOURNEY PATTERN, usually displayed on a head sign or at other on-board locations.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DestinationDisplay_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DestinationDisplayGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DestinationDisplayIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DestinationDisplay_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="DestinationDisplayGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DestinationDisplayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="DestinationDisplayNameGroup"/>
			<xsd:group ref="DestinationDisplayCodeGroup"/>
			<xsd:element name="Presentation" type="PresentationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Preferred presentation attributes to use when rendering destiation on maps, etc. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vias" type="vias_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Headings that distinguish the route by which the service runs to the Destination Name .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="variants" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DESTINATION DISPLAY VARIANT for DESTINATION DISPLAY. Variants may be for use in a specifc context or on a specifc media, or a combination of both.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="destinationDisplayVariants_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DestinationDisplayNameGroup">
		<xsd:annotation>
			<xsd:documentation>Name Elements for a DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of destination on DESTINATION DISPLAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name on DESTINATION DISPLAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SideText" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of destination to show on side of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FrontText" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of destination to show on front of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DriverDisplayText" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Text to show to Driver or Staff for the DESTINATION DISPLAY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DestinationDisplayCodeGroup">
		<xsd:annotation>
			<xsd:documentation>Code Elements for a DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ShortCode" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short code associated with Destination display used vehicle display controller which describes the format of the destination text in the front and side display in the vehicle. (VDV).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Public code to show for Destination.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED - use privateCodes. -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="destinationDisplayVariants_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DESTINATION DISPLAY VARIANTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DestinationDisplayVariant" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DestinationDisplayVariant" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A variant text of a DESTINATION DISPLAY for informational purposes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DestinationDisplayVariant_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DestinationDisplayVariantGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DestinationDisplayVariantIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DestinationDisplayVariant_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DESTINATION DISPLAY VARIANT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="DestinationDisplayVariantGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DestinationDisplayVariantGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DESTINATION DISPLAY VARIANT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DestinationDisplayRef" minOccurs="0"/>
			<xsd:element name="DestinationDisplayContext" type="DestinationDisplayContextEnumeration" default="any" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Context in which to use the secondary name. Default is 'any'+v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DestinationDisplayVariantMediaType" type="DeliveryVariantTypeEnumeration" default="any">
				<xsd:annotation>
					<xsd:documentation>Type of DESTINATION DISPLAY VARIANT. Default is 'any'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="DestinationDisplayNameGroup"/>
			<xsd:element name="Presentation" type="PresentationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Presentation values to use when rendering DESTINATION DISPLAY VARIANT, such as a colour.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vias" type="vias_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destinations that the Service goes via.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="vias_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VIA Names.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice>
					<xsd:element name="None" type="EmptyType">
						<xsd:annotation>
							<xsd:documentation>There are no vias shown. This is the default.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:sequence maxOccurs="1">
						<xsd:element name="Via" type="Via_VersionedChildStructure" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>A secondary heading (e.g. ROUTE POINT or other place) showing intermediate places on the way to a destination.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DestinationViaGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for the destinations of a SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="DestinationDisplayRef"/>
				<xsd:element ref="DestinationDisplayView"/>
			</xsd:choice>
			<xsd:element name="vias" type="vias_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destinations that the SERVICE goes via.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="Via_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>A secondary heading (e.g. ROUTE POINT or other place) showing intermediate places on the way to a destination.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:group ref="ViaGroup"/>
				<xsd:attribute name="order" type="xsd:integer" use="optional">
					<xsd:annotation>
						<xsd:documentation>Relative order of ASSIGNMENT. -v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ViaGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for the destinations of a service.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="DestinationDisplayRef"/>
				<xsd:element ref="DestinationDisplayView"/>
				<xsd:element name="Name" type="MultilingualString">
					<xsd:annotation>
						<xsd:documentation>Arbitrary text name of VIA point. May be place name or other string.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element ref="RoutePointRef" minOccurs="0"/>
			<xsd:element name="ViaType" type="ViaTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of meaning of via:</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==Line============================================================ -->
	<xsd:complexType name="allowedLineDirections_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ALLOWED LINE DIRECTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AllowedLineDirectionRef"/>
					<xsd:element ref="AllowedLineDirection"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AllowedLineDirection" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A set of allowed DIRECTIONs that can be used on a given ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AllowedLineDirection_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AllowedLineDirectionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AllowedLineDirectionIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AllowedLineDirection_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an ALLOWED LINE DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="AllowedLineDirectionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AllowedLineDirectionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an ALLOWED LINE DIRECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element ref="DirectionRef"/>
			<xsd:element name="Presentation" type="PresentationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pesentation to use for DIRECTION. +v1.1..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="linesInDirectionRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of LINEs in a specific DIRECTION</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="LineInDirectionRef">
						<xsd:annotation>
							<xsd:documentation>Reference to a LINE in a specific DIRECTION</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="AllowedLineDirectionRef"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="LineInDirectionRef" type="LineInDirectionRef_Structure">
		<xsd:annotation>
			<xsd:documentation>Reference to LINEs in a specific DIRECTION</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LineInDirectionRef_Structure">
		<xsd:annotation>
			<xsd:documentation>Type for a Reference to a LINE in a specific DIRECTION</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element ref="DirectionRef" minOccurs="0"/>
			<xsd:element name="ExternalLineRef" type="ExternalObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternative LINE Reference for AVMS system. DEPRECATED - v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExternalDirectionRef" type="ExternalObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternative DIRECTION Reference for AVMS system. DEPRECATED -v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="NetworkView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of a NETWORK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Network_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Network_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a NETWORK VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="NetworkRef" minOccurs="0"/>
					<xsd:element name="Name" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of NETWORK.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>PUBLIC TRANSPORT MODE of NETWORK.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="LineView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of a LINE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Line_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Line_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a LINE VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="LineRef" minOccurs="0"/>
					<xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Identifier of LINE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Name" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of LINE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Short name of LINE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>PUBLIC TRANSPORT MODE of LINE.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TransportSubmode" minOccurs="0"/>
					<xsd:element ref="OperatorRef" minOccurs="0"/>
					<xsd:element ref="TypeOfLineRef" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="destinationDisplayViews_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DSETINATION DISPLAY VIEWs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="DestinationDisplayRef"/>
					<xsd:element ref="DestinationDisplayView"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DestinationDisplayView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of a DESTINATION DISPLAY. Includes derived properties of the DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DestinationDisplay_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DestinationDisplay_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Simplified DESTINATION DISPLAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="keyList" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>A list of alternative Key values for an element.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DestinationDisplayRef" minOccurs="0"/>
					<xsd:group ref="DestinationDisplayNameGroup"/>
					<xsd:group ref="DestinationDisplayCodeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfLine" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of a LINE according to its functional purpose. +v1.1.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfLine_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfLineIdType" use="required"/>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfLine_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF LINE. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
