XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_1/part1_networkDescription/netex_activation_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_activation_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the ACTIVATION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_networkDescription}netex_activation_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx ACTIVATION identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: ACTIVATION identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ==Activation============================================================ -->
	<xsd:simpleType name="ActivatedEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ACTIVATED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="ActivatedEquipmentRef" type="ActivatedEquipmentRefStructure" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ACTIVATED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ActivatedEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ACTIVATED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EquipmentRefStructure">
				<xsd:attribute name="ref" type="ActivatedEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ACTIVATED EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ActivationPointIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ACTIVATION POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PointIdType"/>
	</xsd:simpleType>
	<xsd:element name="ActivationPointRef" type="ActivationPointRefStructure" substitutionGroup="PointRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ACTIVATION POINT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ActivationPointRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ACTIVATION POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PointRefStructure">
				<xsd:attribute name="ref" type="ActivationPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ACTIVATION POINT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="BeaconPointIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a BEACON POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ActivationPointIdType"/>
	</xsd:simpleType>
	<xsd:element name="BeaconPointRef" type="BeaconPointRefStructure" substitutionGroup="ActivationPointRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a BEACON POINT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BeaconPointRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a BEACON POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ActivationPointRefStructure">
				<xsd:attribute name="ref" type="BeaconPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of BEACON POINT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TrafficControlPointIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAFFIC CONTROL POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PointIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrafficControlPointRef" type="TrafficControlPointRefStructure" substitutionGroup="PointRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAFFIC CONTROL POINT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrafficControlPointRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRAFFIC CONTROL POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PointRefStructure">
				<xsd:attribute name="ref" type="TrafficControlPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRAFFIC CONTROL POINT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ActivationLinkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ACTIVATION LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkIdType"/>
	</xsd:simpleType>
	<xsd:element name="ActivationLinkRef" type="ActivationLinkRefStructure" substitutionGroup="LinkRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ACTIVATION LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ActivationLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ACTIVATION LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkRefStructure">
				<xsd:attribute name="ref" type="ActivationLinkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ACTIVATION LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ActivationLinkRefByValue" type="ActivationLinkRefByValueStructure" substitutionGroup="LinkRefByValue">
		<xsd:annotation>
			<xsd:documentation>Reference to a ACTIVATION LINK BY VALUE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ActivationLinkRefByValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ACTIVATION LINK BY VALUE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="LinkRefByValueStructure">
				<xsd:attribute name="fromPointRef" type="ActivationPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT  at which LINK starts.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="toPointRef" type="ActivationPointIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT  at which LINK ends.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfPointRefClass" type="NameOfClass" use="optional" fixed="ActivationPoint">
					<xsd:annotation>
						<xsd:documentation>Class of POINT referenced by LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ActivationAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ACTIVATION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="ActivationAssignmentRef" type="ActivationAssignmentRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ACTIVATION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ActivationAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ACTIVATION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="ActivationAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ACTIVATION ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="activationTypeRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF ACTIVATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfActivationRef" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Reference to a TYPE OF ACTIVATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfActivationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF ACTIVATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfActivationRef" type="TypeOfActivationRefStructure" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF ACTIVATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfActivationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF ACTIVATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfActivationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF ACTIVATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
