XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_nd/netex_nm_vehicleServicePlaceAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleServicePlaceAssignment_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-06</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-06</Modified>Add SERVICE PLACE and link
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE SERVICE PLACE ASSIGNMENT identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_nm_vehicleServicePlaceAssignment_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE SERVICE PLACE ASSIGNMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx VEHICLE SERVICE PLACE ASSIGNMENT Identifer types for</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ==== VEHICLE SERVICE PLACE ASSIGNMENT ============================================ -->
	<xsd:complexType name="vehicleServicePlaceAssignmentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE SERVICE PLACE ASSIGNMENTs. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleServicePlaceAssignmentRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="VehicleServicePlaceAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE SERVICE PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleServicePlaceAssignmentRef" type="VehicleServicePlaceAssignmentRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE SERVICE PLACE ASSIGNMENT. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleServicePlaceAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE SERVICE PLACE ASSIGNMENT. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="VehicleServicePlaceAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of VEHICLE SERVICE PLACE ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleServicePlaceAssignmentRefStructureType" default="VehicleServicePlaceAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehicleServicePlaceAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== TAXI VEHICLE SERVICE PLACE ASSIGNMENT ============================================ -->
	<xsd:complexType name="TaxiServicePlaceAssignmentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TAXI SERVICE PLACE ASSIGNMENTs. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TaxiServicePlaceAssignmentRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TaxiServicePlaceAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TAXI SERVICE PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleServicePlaceAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="TaxiServicePlaceAssignmentRef" type="TaxiServicePlaceAssignmentRefStructure" substitutionGroup="VehicleServicePlaceAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TAXI SERVICE PLACE ASSIGNMENT. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TaxiServicePlaceAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TAXI SERVICE PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleServicePlaceAssignmentRefStructure">
				<xsd:attribute name="ref" type="TaxiServicePlaceAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of TAXI SERVICE PLACE ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTaxiServicePlaceAssignmentRefStructureType" default="TaxiServicePlaceAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TaxiServicePlaceAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====  VEHICLE SHARING PLACE ASSIGNMENT ============================================ -->
	<xsd:complexType name="VehicleSharingPlaceAssignmentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE SHARING PLACE ASSIGNMENTs. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleSharingPlaceAssignmentRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="VehicleSharingPlaceAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE SHARING PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleServicePlaceAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleSharingPlaceAssignmentRef" type="VehicleSharingPlaceAssignmentRefStructure" substitutionGroup="VehicleServicePlaceAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE SHARING PLACE ASSIGNMENT. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleSharingPlaceAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE SHARING PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleServicePlaceAssignmentRefStructure">
				<xsd:attribute name="ref" type="VehicleSharingPlaceAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of VEHICLE SHARING PLACE ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleSharingPlaceAssignmentRefStructureType" default="VehicleSharingPlaceAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehicleSharingPlaceAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====  VEHICLE POOLING PLACE ASSIGNMENT ============================================ -->
	<xsd:complexType name="VehiclePoolingPlaceAssignmentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE POOLING PLACE ASSIGNMENTs. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehiclePoolingPlaceAssignmentRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="VehiclePoolingPlaceAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE POOLING PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleServicePlaceAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehiclePoolingPlaceAssignmentRef" type="VehiclePoolingPlaceAssignmentRefStructure" substitutionGroup="VehicleServicePlaceAssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE POOLING PLACE ASSIGNMENT. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingPlaceAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE POOLING PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleServicePlaceAssignmentRefStructure">
				<xsd:attribute name="ref" type="VehiclePoolingPlaceAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of VEHICLE POOLING PLACE ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingPlaceAssignmentRefStructureType" default="VehiclePoolingPlaceAssignment">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehiclePoolingPlaceAssignmentRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
