XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_nd/netex_nm_vehicleServicePlaceAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleServicePlaceAssignment_version">
	<xsd:include schemaLocation="netex_nm_vehicleMeetingPoint_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_vehicleServicePlaceAssignment_support.xsd"/>
	<xsd:include schemaLocation="../part5_rc/netex_nm_mobilityService_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_vehicleMeetingPlace_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_taxiPlace_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-05</Created>Add for New Modes
				</Date>
				<Date><Modified>2021-07-13</Modified>NewModes correction - Allow assignment of Bay 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE SERVICE PLACE ASSIGNMENT  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_nm_vehicleServicePlaceAssignment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2029-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE SERVICE PLACE ASSIGNMENT  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation> VEHICLE SERVICE PLACE ASSIGNMENT data types</xsd:documentation>
	</xsd:annotation>
	<!-- ==== VEHICLE SERVICE PLACE ASSIGNMENT ================================================== -->
	<xsd:complexType name="vehicleServicePlaceAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE SERVICE PLACE ASSIGNMENTs. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleSharingPlaceAssignment"/>
					<xsd:element ref="VehiclePoolingPlaceAssignment"/>
					<xsd:element ref="TaxiServicePlaceAssignment"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleServicePlaceAssignment_Dummy" abstract="true" substitutionGroup="Assignment_Dummy">
		<xsd:annotation>
			<xsd:documentation>Dummy Type to work round SG restrfictions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Assignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleServicePlaceAssignmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE SERVICE PLACE ASSIGNMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VehicleServicePlaceAssignment" substitutionGroup="Assignment_Dummy">
		<xsd:annotation>
			<xsd:documentation>The allocation of a place to a MOBILITY SERVICE. +V1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleServicePlaceAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleServicePlaceAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleServicePlaceAssignmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleServicePlaceAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE SERVICE PLACE ASSIGNMENT restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleServicePlaceAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleServicePlaceAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE SERVICE PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ====== TAXI SERVICE PLACE ASSIGNMENT ========================================== -->
	<xsd:element name="TaxiServicePlaceAssignment" substitutionGroup="Assignment_Dummy">
		<xsd:annotation>
			<xsd:documentation>The allocation of a TAXI SERVICE to a TAXI PARKING or a TAXI STAND. +V1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TaxiServicePlaceAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleServicePlaceAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TaxiServicePlaceAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TaxiServicePlaceAssignmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TaxiServicePlaceAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TAXI SERVICE PLACE ASSIGNMENT restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleServicePlaceAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TaxiServicePlaceAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TaxiServicePlaceAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TAXI SERVICE PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TaxiServiceRef"/>
			<xsd:element ref="TaxiParkingAreaRef" minOccurs="0"/>
			<xsd:element ref="TaxiStandRef" minOccurs="0"/>
			<xsd:element ref="ParkingBayRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== VEHICLE POOLING PLACE ASSIGNMENT ========================================== -->
	<xsd:element name="VehiclePoolingPlaceAssignment" substitutionGroup="Assignment_Dummy">
		<xsd:annotation>
			<xsd:documentation>The allocation of a VEHICLE POOLING SERVICE to a VEHICLE POOLING PARKING AREA or a VEHICLE POOLING MEETING PLACE. +V1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehiclePoolingPlaceAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleServicePlaceAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehiclePoolingPlaceAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehiclePoolingPlaceAssignmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingPlaceAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE POOLING PLACE ASSIGNMENT restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleServicePlaceAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehiclePoolingPlaceAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehiclePoolingPlaceAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE POOLING PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="VehiclePoolingServiceRef"/>
			<xsd:choice>
				<xsd:element ref="VehiclePoolingMeetingPlaceRef"/>
				<xsd:element ref="VehiclePoolingParkingAreaRef"/>
			</xsd:choice>
			<xsd:element ref="ParkingBayRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== VEHICLE POOLING PLACE ASSIGNMENT ========================================== -->
	<xsd:element name="VehicleSharingPlaceAssignment" substitutionGroup="Assignment_Dummy">
		<xsd:annotation>
			<xsd:documentation>The allocation of a VEHICLE SHARING AREA to any vehicle sharing or rental service. +V1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleSharingPlaceAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleServicePlaceAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleSharingPlaceAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleSharingPlaceAssignmentIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleSharingPlaceAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE SHARING PLACE ASSIGNMENT restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleServicePlaceAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleSharingPlaceAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleSharingPlaceAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE SHARING PLACE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CommonVehicleServiceRef"/>
			<xsd:element ref="VehicleSharingParkingAreaRef"/>
			<xsd:element ref="ParkingBayRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
