XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_nd/netex_nm_vehicleMeetingPointAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleMeetingPointAssignment_version">
	<xsd:include schemaLocation="netex_nm_vehicleMeetingPoint_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_vehicleMeetingPointAssignment_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_stopPlace_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_parking_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-05</Created>Add for New Modes
				</Date>
				<Date>
					<Modified>2020-10-05</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE MEETING POINT ASSIGNMENT  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_nm_vehicleMeetingPointAssignment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2029-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE MEETING POINT ASSIGNMENT  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation> VEHICLE MEETING POINT ASSIGNMENT data types</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:complexType name="vehicleMeetingPointAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a VEHICLE MEETING POINT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleMeetingPointAssignment" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== VEHICLE MEETING POINT ASSIGNMENT ================================================== -->
	<xsd:complexType name="vehicleMeetingPointAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a VEHICLE MEETING POINT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleMeetingPointAssignmentRef"/>
					<xsd:element ref="VehicleMeetingPointAssignment" minOccurs="0"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleMeetingPointAssignment_" abstract="false" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>Dummy Type to work round SG restrictions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Assignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleMeetingPointAssignmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE MEETING POINT ASSIGNMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VehicleMeetingPointAssignment" abstract="false" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>The allocation of a VEHICLE MEETING POINT to a SITE COMPONENT  or ADDRESSABLE PLACE (for vehicle pooling or vehicle sharing purposes).  +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleMeetingPointAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleMeetingPointAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleMeetingPointAssignmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleMeetingPointAssignment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE MEETING POINT ASSIGNMENT restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleMeetingPointAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleMeetingPointAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MEETING POINT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="VehicleMeetingPointRef"/>
			<xsd:element ref="AddressablePlaceRef" minOccurs="0"/>
			<xsd:element name="Usage" type="MeetingUsageEnumeration" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== DYNAMIC VEHICLE MEETING POINT ASSIGNMENT ========================================== -->
	<xsd:element name="DynamicVehicleMeetingPointAssignment" abstract="false" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>Dynamic allocation of a VEHICLE MEETING ASSIGNMENT. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DynamicVehicleMeetingPointAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleMeetingPointAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DynamicVehicleMeetingPointAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DynamicVehicleMeetingPointAssignmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DynamicVehicleMeetingPointAssignment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for DYNAMIC VEHICLE MEETING POINT ASSIGNMENT restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleMeetingPointAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DynamicVehicleMeetingPointAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DynamicVehicleMeetingPointAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DYNAMIC VEHICLE MEETING POINT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="VehicleMeetingPointAssignmentRef"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
