XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_nd/netex_nm_vehicleParkingAreaInformation_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleMeetingPlace_version">
	<xsd:include schemaLocation="netex_nm_vehicleParkingAreaInformation_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_vehicleMeetingPlace_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_loggable_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-06</Created>Add for New Modes
				</Date>
				<Date>
					<Modified>2020-10-06</Modified>
				</Date>
				<Date><Modified>2021-10-03</Modified>Add PARKING BAY CONDITION and RENTRAL AVAILABILITY 
				</Date>
				<Date><Modified>2021-07-03</Modified>Add enum to PARKING BAY STATUs as well
				</Date>
				<Date><Modified>2021-09-01</Modified>Make OarkingLog abstract and add frame inline structure.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE PARKING AREA types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_nm_vehicleMeetingPlace_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,   standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE MEETING PLACE  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx NM PARKING BAY STATUS data types</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ParkingLogEntry_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Dummy type for Parking Log ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="parkingLogEntries_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PARKING LOG ENTRYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ParkingBayConditionRef"/>
					<xsd:element ref="RentalAvailabilityRef"/>
					<xsd:element ref="ParkingLogEntry_Dummy">
						<xsd:annotation>
							<xsd:documentation>Dummy type for Parking Log ENTRY. +v1.2.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="parkingLogEntriesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PARKING LOG ENTRYs in a frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ParkingLogEntry_Dummy" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Dummy type for Parking Log ENTRY. +v1.2.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== VEHICLE SHARING PARKING BAY  ============================================================ -->
	<xsd:element name="MonitoredVehicleSharingParkingBay" substitutionGroup="ParkingBay_Dummy">
		<xsd:annotation>
			<xsd:documentation>A spot in the PARKING AREA dedicated to MONITORED VEHICLE SHARING or rental. 	+v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MonitoredVehicleSharingParkingBay_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingBayGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleSharingParkingBayGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MonitoredVehicleSharingParkingBayGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MonitoredVehicleSharingParkingBayIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of MONITORED VEHICLE SHARING PARKING BAY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MonitoredVehicleSharingParkingBay_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MONITORED VEHICLE SHARING PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleSharingParkingBay_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="MonitoredVehicleSharingParkingBayGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MonitoredVehicleSharingParkingBayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MONITORED VEHICLE SHARING PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Status" type="ParkingBayStatusEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Current status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ParkingBayStatusRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== PARKING BAY STATUS ============================================================ -->
	<xsd:element name="ParkingBayStatus" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation> A categorisation of the  availability of the parking spot, such as being temporarily closed, unavailable, available. +v1.2.2

.  +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ParkingBayStatus_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Status" type="ParkingBayStatusEnumeration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Current status</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ParkingBayStatusIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of PARKING BAY STATUS.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ParkingBayStatus_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PARKING BAY STATUS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:group ref="ParkingBayStatusGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ParkingBayStatusGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for aPARKING BAY STATUS.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Status" type="ParkingBayStatusEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Current status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====RENTAL AVAILABILITY ============================================================ -->
	<xsd:element name="RentalAvailability" substitutionGroup="ParkingLogEntry_Dummy">
		<xsd:annotation>
			<xsd:documentation>A summary of the status of the rental at a SITE at a given point on time. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RentalAvailability_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LogEntryGroup"/>
						</xsd:sequence>
						<xsd:group ref="RentalAvailabilityGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RentalAvailabilityIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of RENTAL AVAILABILITYS.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RentalAvailability_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a RENTAL AVAILABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LogEntry_VersionStructure">
				<xsd:group ref="RentalAvailabilityGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RentalAvailabilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a RENTAL AVAILABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ParkingRef"/>
			<xsd:element name="IsOperational" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the parking is zurrently operational.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsRenting" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the parking is currently renting out vehicles.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsAcceptingReturns" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the parking is currently accepting returned vehicles.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AvailableVehicles" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of vehicles available for rental at the site.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DisabledVehicles" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of disabled vehicles not available for rental at the site.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AvailableDocks" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of docks available to accept vehicle returns.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DisabledDocks" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of empty but disabled dock points at the site.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== PARKING BAY STATUS ============================================================ -->
	<xsd:element name="ParkingBayCondition" substitutionGroup="ParkingLogEntry_Dummy">
		<xsd:annotation>
			<xsd:documentation>A record of the status of the PARKING BAY at a given moment in time. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ParkingBayCondition_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LogEntryGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingBayConditionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ParkingBayConditionIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of PARKING BAY STATUS.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ParkingBayCondition_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PARKING BAY CONDITION..</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LogEntry_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ParkingBayConditionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ParkingBayConditionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PARKING BAY CONDITION..</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ParkingBayRef"/>
			<xsd:element name="Status" type="ParkingBayStatusEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Current status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ParkingBayStatusRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
