XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_nd/netex_nm_vehicleMeetingPlace_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleMeetingPlace_version">
	<xsd:include schemaLocation="netex_nm_vehicleMeetingPlace_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_stopPlace_version.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_parking_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-06</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-16</Modified>Add TopographicPlaceRef to VehicleMeetingPlace
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE MEETING PLACE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_nm_vehicleMeetingPlace_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,   standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE MEETING PLACE  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>VEHICLE MEETING PLACE data types</xsd:documentation>
	</xsd:annotation>
	<!-- ====== VEHICLE MEETING PLACE ======================================================== -->
	<xsd:complexType name="vehicleMeetingPlaces_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a VEHICLE MEETING PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleMeetingPlace_Dummy" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleMeetingPlace_Dummy" type="AddressablePlace_VersionStructure" abstract="true" substitutionGroup="Place">
		<xsd:annotation>
			<xsd:documentation>DUMMY type to workaround SG limitation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleMeetingPlace" substitutionGroup="Place">
		<xsd:annotation>
			<xsd:documentation>A place where vehicles/passengers meet to change mode of transportation, for boarding, alighting, pick-up, drop-off, etc. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleMeetingPlace_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleMeetingPlaceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleMeetingPlaceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleMeetingPlace_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE MEETING PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AddressablePlace_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleMeetingPlaceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleMeetingPlaceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MEETING PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TopographicPlaceRef" minOccurs="0"/>
			<xsd:element ref="SiteElementRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== VEHICLE MEETING PLACE ======================================================== -->
	<xsd:element name="VehiclePoolingMeetingPlace" substitutionGroup="VehicleMeetingPlace_Dummy">
		<xsd:annotation>
			<xsd:documentation>A place where vehicles/passengers meet to change mode of transportation, for boarding, alighting, pick-up, drop-off, etc. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehiclePoolingMeetingPlace_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleMeetingPlaceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehiclePoolingMeetingPlaceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingMeetingPlace_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE POOLING MEETING PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleMeetingPlace_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehiclePoolingMeetingPlaceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE POOLING MEETING PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ==== VEHICLE SHARING PARKING AREA  ============================================================ -->
	<xsd:element name="VehicleSharingParkingArea" substitutionGroup="ParkingArea_Dummy">
		<xsd:annotation>
			<xsd:documentation>A dedicated part of the PARKING AREA for vehicle sharing or rental which is composed of one or more VEHICLE SHARING PARKING BAYs. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleSharingParkingArea_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingAreaGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleSharingParkingAreaGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleSharingParkingAreaIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE SHARING PARKING AREA.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleSharingParkingArea_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE SHARING PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParkingArea_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleSharingParkingAreaGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleSharingParkingAreaGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE SHARING PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ==== VEHICLE POOLING PARKING AREA  ============================================================ -->
	<xsd:element name="VehiclePoolingParkingArea" substitutionGroup="ParkingArea_Dummy">
		<xsd:annotation>
			<xsd:documentation> A dedicated space of a PARKING AREA for either vehicles active in a pooling service or vehicles of a pooling service users where vehicles are left for a longer time. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehiclePoolingParkingArea_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingAreaGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehiclePoolingParkingAreaGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehiclePoolingParkingAreaIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE POOLING PARKING AREA.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingParkingArea_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE POOLING PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParkingArea_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehiclePoolingParkingAreaGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehiclePoolingParkingAreaGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE POOLING PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ==== VEHICLE SHARING PARKING BAY  ============================================================ -->
	<xsd:element name="VehicleSharingParkingBay" substitutionGroup="ParkingBay_Dummy">
		<xsd:annotation>
			<xsd:documentation>A spot in the PARKING AREA dedicated to vehicle sharing or rental.	+v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleSharingParkingBay_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingBayGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleSharingParkingBayGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleSharingParkingBayIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE SHARING PARKING BAY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleSharingParkingBay_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE SHARING PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParkingBay_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleSharingParkingBayGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleSharingParkingBayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE SHARING PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ==== VEHICLE POOLING PARKING BAY  ============================================================ -->
	<xsd:element name="VehiclePoolingParkingBay" substitutionGroup="ParkingBay_Dummy">
		<xsd:annotation>
			<xsd:documentation>A dedicated space of a PARKING AREA for either vehicles active in a pooling service or vehicles of a pooling service users where vehicles are left for a longer time. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehiclePoolingParkingBay_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:group ref="PlaceGroup"/>
						<xsd:sequence>
							<xsd:group ref="AddressablePlaceGroup"/>
						</xsd:sequence>
						<xsd:group ref="SiteElementGroup"/>
						<xsd:sequence>
							<xsd:group ref="SiteComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingComponentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingBayGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehiclePoolingParkingBayGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehiclePoolingParkingBayIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of VEHICLE POOLING PARKING BAY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingParkingBay_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE POOLING PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParkingBay_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehiclePoolingParkingBayGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehiclePoolingParkingBayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE POOLING PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
