XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_nd/netex_nm_mobilityServiceConstraintZone_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_mobilityServiceConstraintZone_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_zone_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2021-04-14</Created>NewModes revise AT#9 Add missing enum values allUsesAllowed and noPassThrough to TransportZoneUseEnumeration
				</Date>
				<Date><Created>2020-10-26</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-26</Modified>Revise
				</Date>
				<Date><Modified>2021-05-03</Modified>Add zone rule applicability values
				</Date>
				<Date><Modified>2021-09-01</Modified>NewModes Comments: Add __mustpickupanddropoffInSameZone__ value
					    Add PoolOfVehicles
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the MEETING POINT identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_nm_mobilityServiceConstraintZone_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx MOBILITY SERVICE CONSTRAINT ZONE  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx MOBILITY SERVICE CONSTRAINT ZONE Types</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="mobilityServiceConstraintZoneRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of MOBILITY SERVICE CONSTRAINT ZONEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="MobilityServiceConstraintZoneRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MobilityServiceConstraintZoneIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an MOBILITY SERVICE CONSTRAINT ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ZoneIdType"/>
	</xsd:simpleType>
	<xsd:element name="MobilityServiceConstraintZoneRef" substitutionGroup="ZoneRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an MOBILITY SERVICE CONSTRAINT ZONE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="MobilityServiceConstraintZoneRefStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MobilityServiceConstraintZoneRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to an MOBILITY SERVICE CONSTRAINT ZONE. Left untyped so as to avoid forwards dependency.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ZoneRefStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="vehicleTypeZoneRestrictionRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE TYPE ZONE RESTRICTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleTypeZoneRestrictionRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="VehicleTypeZoneRestrictionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an VEHICLE TYPE ZONE RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleTypeZoneRestrictionRef" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an VEHICLE TYPE ZONE RESTRICTION. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="VehicleTypeZoneRestrictionRefStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleTypeZoneRestrictionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to an VEHICLE TYPE ZONE RESTRICTION. Left untyped so as to avoid forwards dependency.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ZoneRefStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TransportZoneUseEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Zone Use.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="allUsesAllowed"/>
			<xsd:enumeration value="forbiddenZone"/>
			<xsd:enumeration value="cannotPickUpAndDropOffInSameZone"/>
			<xsd:enumeration value="cannotPickUpInZone"/>
			<xsd:enumeration value="cannotDropOffInZone"/>
			<xsd:enumeration value="mustPickUpInZone"/>
			<xsd:enumeration value="mustDropOffInZone"/>
			<xsd:enumeration value="mustPickUpAndDropOffInSameZone"/>
			<xsd:enumeration value="noPassThrough"/>
			<xsd:enumeration value="passThroughUseOnly"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ZoneRuleApplicabilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Zone Rule APplicability.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="inside"/>
			<xsd:enumeration value="outside"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PoolOfVehiclesRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of POOL OF VEHICLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="PoolOfVehiclesRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="PoolOfVehiclesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an POOL OF VEHICLEs</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="PoolOfVehiclesRef" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to an POOL OF VEHICLEs. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="PoolOfVehiclesRefStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PoolOfVehiclesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to an POOL OF VEHICLEs ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntitiesRefStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
