XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_nd/netex_nm_vehicleMeetingPlace_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleMeetingPlace_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_topographicPlace_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_parking_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-05</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-05</Modified>Add meeting point and link
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE MEETING PLACE identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_nm_vehicleMeetingPlace_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE MEETING PLACE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx NM VEHICLE MEETING PLACE identifier types</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ==== VEHICLE MEETING  PLACE ============================================ -->
	<xsd:simpleType name="VehicleMeetingPlaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE MEETING PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AddressablePlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleMeetingPlaceRef" type="VehicleMeetingPlaceRefStructure" substitutionGroup="AddressablePlaceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE MEETING PLACE. v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleMeetingPlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE MEETING PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AddressablePlaceRefStructure">
				<xsd:attribute name="ref" type="AddressablePlaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of VEHICLE MEETING PLACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleMeetingPlaceRefStructureType" default="VehicleMeetingPlace">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehicleMeetingPlaceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== VEHICLE MEETING  PLACE ============================================ -->
	<xsd:simpleType name="VehiclePoolingMeetingPlaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE POOLING MEETING PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleMeetingPlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehiclePoolingMeetingPlaceRef" type="VehiclePoolingMeetingPlaceRefStructure" substitutionGroup="VehicleMeetingPlaceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE POOLING MEETING PLACE. v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingMeetingPlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE POOLING MEETING PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleMeetingPlaceRefStructure">
				<xsd:attribute name="ref" type="AddressablePlaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of VEHICLE POOLING MEETING PLACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingMeetingPlaceRefStructureType" default="VehiclePoolingMeetingPlace">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehiclePoolingMeetingPlaceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ====  VEHICLE SHARING PARKING ================================================== -->
	<xsd:simpleType name="VehicleSharingParkingAreaIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE SHARING PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingAreaIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleSharingParkingAreaRef" type="VehicleSharingParkingAreaRefStructure" substitutionGroup="ParkingAreaRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE SHARING PARKING AREA. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleSharingParkingAreaRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE SHARING PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingAreaRefStructure">
				<xsd:attribute name="ref" type="VehicleSharingParkingAreaIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE SHARING PARKING AREA.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleSharingParkingAreaRefStructureType" default="VehicleSharingParkingArea">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehicleSharingParkingAreaRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====  VEHICLE POOLING PARKING ================================================== -->
	<xsd:simpleType name="VehiclePoolingParkingAreaIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE POOLING PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingAreaIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehiclePoolingParkingAreaRef" type="VehiclePoolingParkingAreaRefStructure" substitutionGroup="ParkingAreaRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE POOLING PARKING AREA. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingParkingAreaRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE POOLING PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingAreaRefStructure">
				<xsd:attribute name="ref" type="VehiclePoolingParkingAreaIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE POOLING PARKING AREA.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingParkingAreaRefStructureType" default="VehiclePoolingParkingArea">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehiclePoolingParkingAreaRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====  VEHICLE SHARING PARKING ================================================== -->
	<xsd:simpleType name="VehicleSharingParkingBayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE SHARING PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingBayIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleSharingParkingBayRef" type="VehicleSharingParkingBayRefStructure" substitutionGroup="ParkingBayRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE SHARING PARKING BAY. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleSharingParkingBayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE SHARING PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingBayRefStructure">
				<xsd:attribute name="ref" type="VehicleSharingParkingBayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE SHARING PARKING BAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleSharingParkingBayRefStructureType" default="VehicleSharingParkingBay">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehicleSharingParkingBayRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====  VEHICLE POOLING PARKING ================================================== -->
	<xsd:simpleType name="VehiclePoolingParkingBayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE POOLING PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ParkingBayIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehiclePoolingParkingBayRef" type="VehiclePoolingParkingBayRefStructure" substitutionGroup="ParkingBayRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE POOLING PARKING BAY. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingParkingBayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE POOLING PARKING BAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ParkingBayRefStructure">
				<xsd:attribute name="ref" type="VehiclePoolingParkingBayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE POOLING PARKING BAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingParkingBayRefStructureType" default="VehiclePoolingParkingBay">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehiclePoolingParkingBayRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
