XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_nd/netex_nm_mobilityServiceConstraintZone_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_mobilityServiceConstraintZone_version">
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_parking_support.xsd"/>
	<xsd:include schemaLocation="../part5_rc/netex_nm_mobilityService_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_mobilityServiceConstraintZone_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicle_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_zone_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs"><Aggregation>main schema</Aggregation><Audience>e-service developers</Audience><Contributor>Nicholas Knowles</Contributor><Contributor>Christophe Duquesne</Contributor><Coverage>Europe</Coverage><Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator><Date><Created>2020-10-05</Created>Add for New Modes
				</Date><Date><Modified>2021-05-03</Modified>Add zone rule applicability inside outside zone 
				</Date>&gt;
				<Date><Modified>2021-09-02</Modified>New Modes country comments MB add must return to same bay attribute to POOL OF VEHICLES.
				</Date><Description><p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p><p>This sub-schema describes the MOBILITY SERVICE CONSTRAINT ZONE. types.</p></Description><Format><MediaType>text/xml</MediaType><Syntax>http://www.w3.org/2001/XMLSchema</Syntax><Description>XML schema, W3C Recommendation 2001</Description></Format><Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_nm_mobilityServiceConstraintZone_version.xsd</Identifier><Language>[ISO 639-2/B] ENG</Language><Publisher>CEN TC278 WG3 SG9</Publisher><Relation><Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires></Relation><Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2021</Copyright>
				</Rights><Source><ul><li>Derived from the Transmodel standard.</li></ul></Source><Status>Version 1.0</Status><Subject><Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category><Project>CEN TC278 WG3 SG9.</Project></Subject><Title>NeTEx MOBILITY SERVICE CONSTRAINT ZONE. types.</Title><Type>Standard</Type></Metadata>
		</xsd:appinfo>
		<xsd:documentation>MOBILITY SERVICE CONSTRAINT ZONE. data types</xsd:documentation>
	</xsd:annotation>
	<!-- ==== MOBILITY SERVICE CONSTRAINT ZONE.  ============================================================ -->
	<xsd:group name="MobilityServiceConstraintsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MOBILITY SERVICE CONSTRAINT ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mobilityServiceConstraintZones" type="mobilityServiceConstraintZonesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Zone use restrictions in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="mobilityServiceConstraintZonesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a MOBILITY SERVICE CONSTRAINT ZONEs. in Frame</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="MobilityServiceConstraintZone" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="mobilityServiceConstraintZones_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a MOBILITY SERVICE CONSTRAINT ZONEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="MobilityServiceConstraintZoneRef"/>
					<xsd:element ref="MobilityServiceConstraintZone"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="MobilityServiceConstraintZone" substitutionGroup="Zone">
		<xsd:annotation>
			<xsd:documentation>ZONE defining a restriction on used of a MOBILITY SERVICE, e.g. no entry, no drop off, etc, etc +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MobilityServiceConstraintZone_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MobilityServiceConstraintZoneGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MobilityServiceConstraintZoneIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MobilityServiceConstraintZone_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MOBILITY SERVICE CONSTRAINT ZONE restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Zone_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="MobilityServiceConstraintZoneGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MobilityServiceConstraintZoneGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MOBILITY SERVICE CONSTRAINT ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RuleApplicability" type="ZoneRuleApplicabilityEnumeration" default="inside" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Applicability of rule inside (defaut) or outside of zone</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ZoneUse" type="TransportZoneUseEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>How ZONE may be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumSpeed" type="SpeedType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum speed in ZONE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MobilityServiceRef" minOccurs="0"/>
			<xsd:element name="vehicleRestrictions" type="vehicleTypeZoneRestrictions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Vehclie restrictions in Zone</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== MOBILITY SERVICE CONSTRAINT ZONE.  ============================================================ -->
	<xsd:complexType name="vehicleTypeZoneRestrictions_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a VEHICLE TYPE ZONE RESTRICTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="VehicleTypeZoneRestriction" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleTypeZoneRestriction" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Restriction on use of a MOBILITY SERVICE CONSTRAINT ZONE for a specific TRANSPORT TYPE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleTypeZoneRestriction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleTypeZoneRestrictionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleTypeZoneRestrictionIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleTypeZoneRestriction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE TYPE ZONE RESTRICTION restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleTypeZoneRestrictionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleTypeZoneRestrictionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE TYPE ZONE RESTRICTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ZoneUse" type="TransportZoneUseEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>How ZONE may be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumSpeed" type="SpeedType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum speed in ZONE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportTypeRef" minOccurs="0"/>
			<xsd:element name="FloatingVehicles" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If false, a vehicle must be picked up / dropped off at a station rather than anywhere in the ZONE. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ==== POOL OF VEHICLEs  ============================================================ -->
	<xsd:complexType name="poolOfVehicles_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a POOL OF VEHICLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="PoolOfVehicles" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation> A set of vehicles assigned to a specific PARKING, PARKING AREAs, PARKING BAYs, p lace  or MOBILITY CONSTRAINT ZONE that must be  picked up and returned to the same area.
.  +v1.2.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PoolOfVehicles" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A set of vehicles assigned to a specific PARKING, PARKING AREAs, PARKING BAYs, p lace  or MOBILITY CONSTRAINT ZONE that must be  picked up and returned to the same area.
  +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PoolOfVehicles_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PoolOfVehiclesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PoolOfVehiclesIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PoolOfVehicles_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for POOL OF VEHICLEs restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PoolOfVehiclesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PoolOfVehiclesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a POOL OF VEHICLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="MobilityServiceRef" minOccurs="0"/>
			<xsd:group ref="PoolOfVehiclesConstraintGroup">
				<xsd:annotation>
					<xsd:documentation>Restcrictions on using POOL OF VEHICLEs.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="vehicles" type="vehicleRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLEs in POOL OF VEHICLEs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PoolOfVehiclesConstraintGroup">
		<xsd:annotation>
			<xsd:documentation>Restriction elements for a POOL OF VEHICLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="MobilityServiceConstraintZoneRef" minOccurs="0"/>
			<xsd:element ref="ParkingRef" minOccurs="0"/>
			<xsd:element name="parkingComponents" type="parkingComponentRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Vehclie restrictions in Zone</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MustReturnToSameBay" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether a VEICLE must be returned to same bay as it was was taken from.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
