XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_nd/netex_nm_vehicleMeetingPoint_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleMeetingPoint_version">
	<xsd:include schemaLocation="netex_nm_vehicleMeetingPoint_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_access_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLink_version.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-05</Created>Add for New Modes
				</Date>
				<Date>
					<Modified>2020-10-05</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FLEET types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_nm_vehicleMeetingPoint_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FLEET types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>MEETING POINT data types</xsd:documentation>
	</xsd:annotation>
	<!-- ==== MEETING POINT  ============================================================ -->
	<xsd:complexType name="vehicleMeetingPointsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a VEHICLE MEETING POINTs. in Frame</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleMeetingPoint" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="vehicleMeetingPoints_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a VEHICLE MEETING POINTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleMeetingPointRef"/>
					<xsd:element ref="VehicleMeetingPoint"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleMeetingPoint" substitutionGroup="Point">
		<xsd:annotation>
			<xsd:documentation> A POINT where passengers can board or alight from vehicles. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleMeetingPoint_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PointGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleMeetingPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleMeetingPointIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleMeetingPoint_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE MEETING POINT restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Point_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleMeetingPointGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleMeetingPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MEETING POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ===== MEETING LINK ======================================================= -->
	<xsd:complexType name="vehicleMeetingLinksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a VEHICLE MEETING LINKs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleMeetingLink" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="VehicleMeetingLink" substitutionGroup="Link">
		<xsd:annotation>
			<xsd:documentation>A LINK between an ordered pair of STOP POINTs. VEHICLE MEETING LINKs are directional - there will be separate links for each direction of a route. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleMeetingLink_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleMeetingLinkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleMeetingLinkIdType" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleMeetingLink_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE MEETING LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Link_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleMeetingLinkGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleMeetingLinkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VEHICLE MEETING LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromPointRef" type="VehicleMeetingPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of VEHICLE MEETING POINT from which Link starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToPointRef" type="VehicleMeetingPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Identifier of VEHICLE MEETING POINT at which Link ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
