XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_utility/netex_utility_types.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_utility_types">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2010-11-05</Modified>
				</Date>
				<Date>
					<Modified>2017-03-27</Modified>CR0011 Add separate support for Printed coloures and fonts.
				</Date>
				<Date>
					<Modified>2017-03-27</Modified>CR0016 Add additional values to InfoLinkType.
				</Date>
				<Date>
					<Modified>2017-11-08</Modified>CR0016 Add additional values  to InfoLinkType.
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>SBB21 CD #56. Add new ColourSystem attribute to Presentationa PrintPresentation. 
					  NJSK Review ColourSystem and ColourName  should be  type xsd:normalizedString, not xsd:string.
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>SBB23 CD #57. Add new BackgroundColour and BackgroundColourName  attributes to Presentation and PrintPresentation  elements. 
					  Add icon to TypeOfIIfolink enum values 
				</Date>
				<Date>
					<Modified>2019-03-30</Modified>FR49 CD #53 Accessibility Changes 
					    NJSK revie: Add FontSizeEnum as a general property
				</Date>
				<Date>
					<Modified>2019-03-30</Modified>Fi
					    NJSK revie: Add dataLicence to infoLink enum values
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines utility base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_utility}netex_utility_types.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
						<Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards revised for NeTEx.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - Base utility types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>documentation</xsd:documentation>
	</xsd:annotation>
	<!--====Basic Types =======================================================================-->
	<xsd:simpleType name="PopulatedStringType">
		<xsd:annotation>
			<xsd:documentation>Type for a restriction of W3C XML Schema's string that requires at least one character of text.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PhoneType">
		<xsd:annotation>
			<xsd:documentation>Type for an International phone number. + Country + MSIDDN e.g. +41 675601 etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmailAddressType">
		<xsd:annotation>
			<xsd:documentation>Email address type a@b.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="PrivateCode" type="PrivateCodeStructure">
		<xsd:annotation>
			<xsd:documentation>A private code that uniquely identifies the element.  May be used for inter-operating with other (legacy) systems.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PrivateCodeStructure">
		<xsd:annotation>
			<xsd:documentation>Type describing a private code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="type" type="xsd:normalizedString">
					<xsd:annotation>
						<xsd:documentation>Nature of code.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="AccountingCode" type="PrivateCodeStructure">
		<xsd:annotation>
			<xsd:documentation>An Accounting code assigned to the Element (TAP TSI)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TimeZoneOffsetType">
		<xsd:annotation>
			<xsd:documentation>Offset from Greenwich in hours. e.g. +5 ,- 2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="DayOffsetType">
		<xsd:annotation>
			<xsd:documentation>Offset in days.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:element name="Locale" type="LocaleStructure">
		<xsd:annotation>
			<xsd:documentation>Common LOCALE dependent properties.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LocaleStructure">
		<xsd:annotation>
			<xsd:documentation>Type describing common locale dependent properties.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TimeZoneOffset" type="TimeZoneOffsetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timezone offset from Greenwich at LOCALE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TimeZone" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timezone name at LOCALE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SummerTimeZoneOffset" type="TimeZoneOffsetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Summer timezone offset if different from Time zone offset.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SummerTimeZone" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Summer Time zone name at LOCALE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultLanguage" type="xsd:language" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default Language for LOCALE. Assume language use is "normally used"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="languages" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Languages supported at LOCALE.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LanguageUsage" type="LanguageUsageStructure" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Language usage.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="LanguageListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of languages.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="xsd:language"/>
	</xsd:simpleType>
	<xsd:simpleType name="LanguageUseEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of Uses of language.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="normallyUsed"/>
			<xsd:enumeration value="understood"/>
			<xsd:enumeration value="native"/>
			<xsd:enumeration value="spoken"/>
			<xsd:enumeration value="written"/>
			<xsd:enumeration value="read"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="allUses"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LanguageUseListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of of Uses of language.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="LanguageUseEnumeration"/>
	</xsd:simpleType>
	<xsd:complexType name="LanguageUsageStructure">
		<xsd:annotation>
			<xsd:documentation>Type describing language usage properties.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Language" type="xsd:language">
				<xsd:annotation>
					<xsd:documentation>Language whose usage is described.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LanguageUse" type="LanguageUseListOfEnumerations">
				<xsd:annotation>
					<xsd:documentation>Usages of language supported. Based on UN terms.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="PresentationStructure">
		<xsd:annotation>
			<xsd:documentation>Types describing common presentation properties for Display.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Colour" type="ColourValueType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default RGB colour value for graphics associated with ENTITY - e.g. for a LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ColourName" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of default colour value for graphics associated with ENTITY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ColourSystem" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of colour system used for ColourName and TextColourName: for example, 
					- RAL, https://en.wikipedia.org/wiki/RAL_colour_standard;
					- DIN 6164 http://www.dtpstudio.de/atlas/farbsysteme/DIN%206164_bs00_3.htm; 
					- Pantone (be aware that Pantone is proprietary), etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BackGroundColour" type="ColourValueType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default RGB background colour value for text and graphics associated with ENTITY - e.g. of a LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BackgroundColourName" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of the background colour (in ColourSystem) for text and graphics associated with entity.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TextColour" type="ColourValueType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default colour value for text associated with ENTITY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TextColourName" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of default colour value (in ColourSystem) for text associated with ENTITY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TextFont" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of font for text.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TextFontName" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of font for text.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TextLanguage" type="xsd:language" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default language for text.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="infoLinks" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Hyperlinks associated with presentation.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="infoLinks_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ColourValueType">
		<xsd:annotation>
			<xsd:documentation>Type for a Colour Value.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:hexBinary">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:complexType name="PrintPresentationStructure">
		<xsd:annotation>
			<xsd:documentation>Types describing common presentation properties for Print.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Colour" type="PrintColourValueType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default colour value for printed  graphics associated with ENTITY - e.g. of a LINE, e.g. CMYK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ColourName" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of default colour value for printed graphics associated with entity., eg Pentone name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ColourSystem" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of colour system used for printed ColourName and TextColourName: for example, 
					- RAL, https://en.wikipedia.org/wiki/RAL_colour_standard;
					- DIN 6164 http://www.dtpstudio.de/atlas/farbsysteme/DIN%206164_bs00_3.htm; 
					- Pantone (be aware that Pantone is proprietary), etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BackGroundColour" type="ColourValueType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default RGB background colour value for printed text and graphics associated with ENTITY - e.g. of a LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BackgroundColourName" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of the backgropund colour value (in ColourSystem) for printed text and graphics associated with entity.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TextColour" type="PrintColourValueType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default colour value for printed text associated with entity. CMYK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TextColourName" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of default colour value for printed  text associated with entity,  in specified ColourSystem.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TextFont" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of font for printed text.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TextFontName" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of font for printed text.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TextLanguage" type="xsd:language" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default language for printed text.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FontSize" type="FontSizeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default language for printed text +v1.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PrintColourValueType">
		<xsd:annotation>
			<xsd:documentation>Type for a PrintColour Value.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString"/>
	</xsd:simpleType>
	<xsd:simpleType name="FontSizeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for size of font. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="verySmall"/>
			<xsd:enumeration value="small"/>
			<xsd:enumeration value="meduim"/>
			<xsd:enumeration value="large"/>
			<xsd:enumeration value="veryLarge"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="CurrencyType">
		<xsd:annotation>
			<xsd:documentation>Type for a Currency . Based on ISO 4717 values.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:pattern value="[A-Z][A-Z][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Currencies.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="CurrencyType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PercentageType">
		<xsd:annotation>
			<xsd:documentation>Type for a Percentage: 0-100 decimal.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfInfolinkEnumeration">
		<xsd:annotation>
			<xsd:documentation>Enumeration of Uses of language.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="contact"/>
			<xsd:enumeration value="resource"/>
			<xsd:enumeration value="info"/>
			<xsd:enumeration value="image"/>
			<xsd:enumeration value="document"/>
			<xsd:enumeration value="timetableDocument"/>
			<xsd:enumeration value="fareSheet"/>
			<xsd:enumeration value="dataLicence"/>
			<xsd:enumeration value="map"/>
			<xsd:enumeration value="icon"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="infoLinks_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for collection of info links.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="InfoLink" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="InfoLink" type="InfoLinkStructure">
		<xsd:annotation>
			<xsd:documentation>A hyperlink to an external web resource.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InfoLinkStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Info LinK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:anyURI">
				<xsd:attribute name="typeOfInfoLink">
					<xsd:simpleType>
						<xsd:list itemType="TypeOfInfolinkEnumeration"/>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
