XmlSchemaClassGenerator.Tests/xsd/netex/netex_framework/netex_genericFramework/netex_accessibility/netex_acsb_passengerMobility.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_acsb_passengerMobility">
	<xsd:include schemaLocation="../../netex_responsibility/netex_responsibility_version.xsd"/>
	<xsd:include schemaLocation="netex_acsb_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2019-03-25</Modified>Fix #41 by Skinkie from 2019.01.07. Fix typo on MobilityList. 
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines common accessibility types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_genericFramework/netex_accessibility}netex_acsb_passengerMobility.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NaPTAN, NOPTIS, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - PASSENGER MOBILITY types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>PASSENGER MOBILITY types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!--======Needs================================================================================-->
	<xsd:element name="PassengerAccessibilityNeeds" type="PassengerAccessibilityNeedsStructure">
		<xsd:annotation>
			<xsd:documentation>A  passenger's requirement for accessibility, comprising one or more USER NEEDs. For example, that he is unable to navigate stairs, or lifts, or has visual or auditory impairments. PASSENGER ACCESSIBILITY NEEDS can be used to derive an accessibility constraint for the passenger, allowing the computation of paths for passengers with specifically constrained mobility. Example: Wheelchair, No Lifts, No Stairs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerAccessibilityNeedsStructure">
		<xsd:annotation>
			<xsd:documentation>Type for accessibility needs. Records the requirements of a passenger that may affect choice of facilities.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AccompaniedByCarer" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the passenger is accompanied by a carer or assistant.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="userNeeds" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mobility needs of a user.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="UserNeed" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="suitabilities" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Suitability needs of a user.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="Suitability" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--======USER Needs================================================================================-->
	<xsd:element name="UserNeed">
		<xsd:annotation>
			<xsd:documentation>A user's need for a particular SUITABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="UserNeed_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UserNeedGroup">
								<xsd:annotation>
									<xsd:documentation>One of the following.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
							<xsd:element name="Excluded" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether user need is included or excluded. Default is included.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="NeedRanking" type="xsd:integer" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Relative ranking of need on a scale 1-5</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="UserNeedIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="UserNeed_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for of a USER NEED.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="UserNeedGroup">
						<xsd:annotation>
							<xsd:documentation>One of the following.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
					<xsd:element name="Excluded" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether user need is included or excluded. Default is included.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="NeedRanking" type="xsd:integer" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Relative ranking of need on a scale 1-5</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="UserNeedGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a USER NEED.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="MobilityNeed" type="MobilityEnumeration">
				<xsd:annotation>
					<xsd:documentation>A specific USER NEED, i.e. a constraint of a passenger as regards his mobility, e.g. wheelchair, assisted wheelchair, etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PsychosensoryNeed" type="PyschosensoryNeedEnumeration">
				<xsd:annotation>
					<xsd:documentation>Passenger pyschosensory need for which a  suitability specified.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MedicalNeed">
				<xsd:annotation>
					<xsd:documentation>A specific USER NEED, i.e. a requirement of a passenger as regards medical constraint (e.g. allergy) to access public transport.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="MedicalNeedEnumeration"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EncumbranceNeed" type="EncumbranceEnumeration">
				<xsd:annotation>
					<xsd:documentation>Passenger encumbrance need for which suitability is specified.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:group>
	<!--======USEr need types=====================================================================================-->
	<xsd:simpleType name="MobilityList">
		<xsd:annotation>
			<xsd:documentation>List of Allowed values for of mobility needs.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="MobilityEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="MobilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for of mobility needs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="wheelchair"/>
			<xsd:enumeration value="assistedWheelchair"/>
			<xsd:enumeration value="motorizedWheelchair"/>
			<xsd:enumeration value="mobilityScooter"/>
			<xsd:enumeration value="roadMobilityScooter"/>
			<xsd:enumeration value="walkingFrame"/>
			<xsd:enumeration value="restrictedMobility"/>
			<xsd:enumeration value="otherMobilityNeed"/>
			<xsd:enumeration value="normal"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PyschosensoryNeedEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for specific psychosensory needs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="visualImpairment"/>
			<xsd:enumeration value="auditoryImpairment"/>
			<xsd:enumeration value="cognitiveInputImpairment"/>
			<xsd:enumeration value="averseToLifts"/>
			<xsd:enumeration value="averseToEscalators"/>
			<xsd:enumeration value="averseToConfinedSpaces"/>
			<xsd:enumeration value="averseToCrowds"/>
			<xsd:enumeration value="otherPsychosensoryNeed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MedicalNeedEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for specific Medical needs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="allergic"/>
			<xsd:enumeration value="heartCondition"/>
			<xsd:enumeration value="otherMedicalNeed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EncumbranceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for specific encumbrances.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="luggageEncumbered"/>
			<xsd:enumeration value="pushchair"/>
			<xsd:enumeration value="baggageTrolley"/>
			<xsd:enumeration value="oversizeBaggage"/>
			<xsd:enumeration value="guideDog"/>
			<xsd:enumeration value="otherAnimal"/>
			<xsd:enumeration value="otherEncumbranceNeed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--======Suitability==================================================================================-->
	<xsd:complexType name="suitabilities_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SUITABILITies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Suitability" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Suitability">
		<xsd:annotation>
			<xsd:documentation>The SUITABILTY of a component to meet a specific USER NEED.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Suitability_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UserNeedGroup">
								<xsd:annotation>
									<xsd:documentation>One of the following.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
							<xsd:element name="Excluded" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether user need is included or excluded. Default is included.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="NeedRanking" type="xsd:integer" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Relative ranking of need on a scale 1-5</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Suitable" type="SuitableEnumeration">
								<xsd:annotation>
									<xsd:documentation>Whether the facility is suitable.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SuitabilityIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Suitability_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SUITABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UserNeed_VersionedChildStructure">
				<xsd:sequence>
					<xsd:element name="Suitable" type="SuitableEnumeration">
						<xsd:annotation>
							<xsd:documentation>Whether the facility is suitable.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SuitableEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for a SUITABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="suitable"/>
			<xsd:enumeration value="notSuitable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--======Point=======================================================================================-->
</xsd:schema>
