XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_monitoring/netex_monitoredPassingTimes_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_monitoredPassingTimes_version">
	<xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_datedPassingTimes_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Date><Modified>2017-06-28</Modified>Add separate Arrival and Departure Day Offsets
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the MONITORED PASSING TIME types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_monitoring}nnetex_monitoredPassingTimes_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx MONITORED PASSING TIME    types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: MONITORED PASSING TIME types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===Observed================================================= -->
	<xsd:complexType name="observedPassingTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of OBSERVED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ObservedPassingTime" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ObservedPassingTime" abstract="false" substitutionGroup="DatedPassingTime">
		<xsd:annotation>
			<xsd:documentation>OBSERVED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ObservedPassingTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassingTimeGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DatedPassingTimeGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ObservedPassingTimeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ObservedPassingTimeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="ObservedTimesAtStopGroup">
		<xsd:annotation>
			<xsd:documentation>Times at stop elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ActualArrivalTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Actual Arrival time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ArrivalDayOffset" type="DayOffsetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Arrival Day Offset from start of JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ActualDepartureTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Actual departure time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DepartureDayOffset" type="DayOffsetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Departure Day Offset from start of JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ActualWaitingTime" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Actual waiting interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="ObservedPassingTime_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for OBSERVED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DatedPassingTime_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="ObservedPassingTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ObservedPassingTimeGroup">
		<xsd:annotation>
			<xsd:documentation>OBSERVED PASSING TIME  elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:group ref="ObservedTimesAtStopGroup">
					<xsd:annotation>
						<xsd:documentation>Actual Times at stop.</xsd:documentation>
					</xsd:annotation>
				</xsd:group>
				<xsd:sequence>
					<xsd:element name="ActualNonstopPassingTime" type="xsd:time" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Actual PASSING TIME if doesn't stop at TIMING POINT.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PassingTimeDayOffset" type="DayOffsetType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>PASSING TIME Day Offset from start of JOURNEY.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="ActualHeadway" type="HeadwayIntervalStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Actual Frequency of service as a set of intervals.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===Observed================================================= -->
	<xsd:complexType name="estimatedPassingTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ESTIMATED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="EstimatedPassingTime" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EstimatedPassingTime" abstract="false" substitutionGroup="DatedPassingTime">
		<xsd:annotation>
			<xsd:documentation>Estimated PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="EstimatedPassingTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassingTimeGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DatedPassingTimeGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EstimatedPassingTimeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="EstimatedPassingTimeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="EstimatedTimesAtStopGroup">
		<xsd:annotation>
			<xsd:documentation>Times at stop elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ExpectedArrivalTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Expected Arrival time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ArrivalDayOffset" type="DayOffsetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Arrival Day Offset from start of JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExpectedDepartureTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Expected departure time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DepartureDayOffset" type="DayOffsetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Departure Day Offset from start of JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExpectedWaitingTime" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Expected waiting interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="EstimatedPassingTime_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Estimate.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DatedPassingTime_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="EstimatedPassingTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="EstimatedPassingTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Estimate  elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:group ref="EstimatedTimesAtStopGroup">
					<xsd:annotation>
						<xsd:documentation>Expected Times at stop.</xsd:documentation>
					</xsd:annotation>
				</xsd:group>
				<xsd:sequence>
					<xsd:element name="ExpectedNonstopPassingTime" type="xsd:time" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expected PASSING TIME if doesn't stop at TIMING POINT.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PassingTimeDayOffset" type="DayOffsetType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>PASSING TIME Day Offset from start of JOURNEY.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="ExpectedHeadway" type="HeadwayIntervalStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Expected Frequency of service.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===Observed================================================= -->
	<xsd:element name="ObservedPassingTimeView" type="ObservedPassingTime_ViewStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Simplified OBSERVED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ObservedPassingTime_ViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Simplified  OBSERVED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassingTime_ViewStructure">
				<xsd:sequence>
					<xsd:group ref="ObservedPassingTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EstimatedPassingTimeView" type="EstimatedPassingTime_ViewStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Simplified ESTIMATED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EstimatedPassingTime_ViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Simplified  ESTIMATED PASSING TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassingTime_ViewStructure">
				<xsd:sequence>
					<xsd:group ref="EstimatedPassingTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
