XmlSchemaClassGenerator.Tests/xsd/time/time.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://hic.gov.au/hiconline/medicare/version-4">
    
    <xsd:complexType name="Service">
        <xsd:attribute name="dateOfService" type="xsd:dateTime" />
        <xsd:attribute name="timeOfService" type="xsd:time" />
    </xsd:complexType>
</xsd:schema>