XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_parkingTariff/netex_parkingTariff_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_parkingTariff_version">
	<xsd:include schemaLocation="netex_parkingTariff_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_parking_version.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_fareStructureElement_version.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_timeStructureFactor_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date>
					<Modified>2017-06-28</Modified> CR047 Drop ParkingTaxRate as now covered by chained rules
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines PARKING TARIFF elements</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part3/part3_parkingTariff}netex_parkingTariff_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Created for the Ifopt standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - PARKING types </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>PARKING TARIFF elements for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="ParkingTariffInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Properties of PARKING TARIFFs in FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="parkingTariffs" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PARKING TARIFFs in frame.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="parkingTariffsInFrame_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="parkingTariffsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of PARKING TARIFFs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ParkingTariff" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A designated path between two PLACEs. May include an Ordered sequence of references to PATH LINKS.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:element name="ParkingTariff" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A set of parking CHARGE BANDS that describe the cost if using a PARKING or PARKING AREA.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ParkingTariff_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingTariffGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ParkingTariffIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ParkingTariff_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PARKING TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="ParkingTariffGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ParkingTariffGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a PARKING TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="TariffDescriptionGroup"/>
			<xsd:group ref="TariffOrganisationGroup" minOccurs="0"/>
			<xsd:group ref="TariffTimeGroup">
				<xsd:annotation>
					<xsd:documentation>Time Elements for TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="TariffQualityGroup"/>
			<xsd:group ref="ParkingClassificationGroup">
				<xsd:annotation>
					<xsd:documentation>Classification elements of a PARKING TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element ref="TypeOfTariffRef" minOccurs="0"/>
			<xsd:element name="AdditionalTax" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether additional tax is charged.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parkingChargeBands" type="parkingChargeBands_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Charge bands for parking.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="TariffPriceGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ParkingClassificationGroup">
		<xsd:annotation>
			<xsd:documentation>ClassificationElements of a PARKING TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ParkingUserType" type="ParkingUserEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of users: disabled, all etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ParkingStayType" type="ParkingStayEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of stay allowed in PARKING.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ParkingVehicleTypes" type="ParkingVehicleListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Vehicle for which PARKING TARIFF applies.  Fixed values.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicleTypes" type="vehicleTypeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Opnen specifcation of VEHICLE TYPEs + v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="appliesTo" type="parkingRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PaARKIMNGs to which this tariff applies</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="parkingChargeBands_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PARKING TARIFF CHARGE BANDs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ParkingChargeBandRef"/>
					<xsd:element ref="ParkingChargeBand">
						<xsd:annotation>
							<xsd:documentation>An area within a Site. May be connected to Quays by PATH LINKs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ParkingChargeBand" substitutionGroup="PriceableObject">
		<xsd:annotation>
			<xsd:documentation>Parking charges that describe the cost of using a PARKING or PARKING AREA for a given period.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ParkingChargeBand_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="PrivateCode" minOccurs="0"/>
							<xsd:element ref="TypeOfFareStructureFactorRef" minOccurs="0"/>
							<xsd:element name="Factor" type="xsd:anyType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Factor value assoictaed with init.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeStructureFactorGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingChargeBandGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ParkingChargeBandIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ParkingChargeBand_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PARKING TARIFF CHARGE BAND.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TimeStructureFactor_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ParkingChargeBandGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ParkingChargeBandGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a PARKING TARIFF CHARGE BAND.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ParkingPropertiesRef" minOccurs="0"/>
			<xsd:element name="ParkingVehicleType" type="ParkingVehicleEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of vehicle for which this is the PARKING TARIFF CHARGE BAND.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
			<xsd:element name="MaximumStay" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum allowed stay duration for tariff amount.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="farePrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prices for PARKING TARIFF CHARGE BAND.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- == PARKING TARIFPRICE.================================ -->
	<xsd:complexType name="parkingPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PARKING TARIFF PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ParkingPriceRef"/>
					<xsd:element ref="CellRef_"/>
					<xsd:element name="ParkingPrice" type="ParkingPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a PARKING TARIFF ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ParkingPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a PARKING TARIFF ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ParkingPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ParkingPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ParkingPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ParkingPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PARKING TARIFF PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="ParkingPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ParkingPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="ParkingTariffRef" minOccurs="0"/>
			<xsd:element ref="ParkingChargeBand" minOccurs="0"/>
		</xsd:choice>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
</xsd:schema>
