XmlSchemaClassGenerator.Tests/xsd/nullable/optional.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="HasOptionalProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="HasOptionalAttribute">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"  />
    </xs:complexType>
  </xs:element>
</xs:schema>
