XmlSchemaClassGenerator.Tests/xsd/is24/offer/realestates-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema
	xmlns="http://rest.immobilienscout24.de/schema/offer/realestates/1.0"
	targetNamespace="http://rest.immobilienscout24.de/schema/offer/realestates/1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://rest.immobilienscout24.de/schema/common/1.0"
    xmlns:listelement="http://rest.immobilienscout24.de/schema/offer/listelement/1.0"
	elementFormDefault="unqualified"
	attributeFormDefault="unqualified"
	version="1.0">

	<xs:import namespace="http://rest.immobilienscout24.de/schema/common/1.0"/>
    <xs:import namespace="http://www.w3.org/1999/xlink" />
    <xs:import namespace="http://rest.immobilienscout24.de/schema/offer/listelement/1.0" schemaLocation="offerListElement-1.0.xsd" />
    
    <xs:element name="realEstate" type="RealEstate" />
    <xs:element name="houseBuy" type="HouseBuy" />
    <xs:element name="houseRent" type="HouseRent" />
    <xs:element name="garageRent" type="GarageRent" />
    <xs:element name="garageBuy" type="GarageBuy" />
    <xs:element name="seniorCare" type="SeniorCare" />
    <xs:element name="assistedLiving" type="AssistedLiving" />
    <xs:element name="apartmentRent" type="ApartmentRent" />
    <xs:element name="apartmentBuy" type="ApartmentBuy" />
    <xs:element name="compulsoryAuction" type="CompulsoryAuction" />
    <xs:element name="shortTermAccommodation" type="ShortTermAccommodation" />
    <xs:element name="investment" type="Investment" />
    <xs:element name="office" type="Office" />
    <xs:element name="store" type="Store" />
    <xs:element name="gastronomy" type="Gastronomy" />
    <xs:element name="industry" type="Industry" />
    <xs:element name="specialPurpose" type="SpecialPurpose" />
    <xs:element name="livingBuySite" type="LivingBuySite" />
    <xs:element name="livingRentSite" type="LivingRentSite" />
    <xs:element name="tradeSite" type="TradeSite" />
    <xs:element name="houseType" type="HouseType" />
    <xs:element name="flatShareRoom" type="FlatShareRoom" />

	<xs:element name="realEstates">
		<xs:annotation>
			<xs:documentation xml:lang="en">List of all realEstates of a customer.</xs:documentation>
			<xs:documentation xml:lang="de-DE">Liste aller Objekte eines Benutzers.</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element type="common:Paging" name="Paging"/>
                <xs:element type="listelement:realEstateList" name="realEstateList"/>
            </xs:sequence>
       </xs:complexType>
    </xs:element>

   

    <xs:complexType name="RealEstate" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">General elements for all
				real estates within the search context. </xs:documentation>
			<xs:documentation xml:lang="de-DE">Allgemeine Elemente für
				alle Immobilienarten.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:AbstractRealEstate">
				<xs:sequence>				
					<xs:element name="showAddress" type="xs:boolean" default="false">
						<xs:annotation>
							<xs:documentation xml:lang="en">Determines if the
								address may be shown.</xs:documentation>
							<xs:documentation xml:lang="de-DE">Bestimmt, ob die
								Adresse angezeigt werden darf.</xs:documentation>
						</xs:annotation>
					</xs:element>
			        <xs:element name="contact" minOccurs="0" maxOccurs="1">
			        <xs:complexType>
			          <xs:annotation>
			            <xs:documentation xml:lang="en">Reference to a realtor contact.</xs:documentation>
			            <xs:documentation xml:lang="de-DE">Verweis auf einen Anbieterkontakt.</xs:documentation>
			          </xs:annotation>
			          <xs:attribute name="id" type="xs:long">
									<xs:annotation>
									  <xs:documentation xml:lang="en">Id of entity entry.</xs:documentation>
									  <xs:documentation xml:lang="de-DE">Id des Elements.</xs:documentation>
									</xs:annotation>
   					</xs:attribute>
			          <xs:attribute name="externalId" type="common:TextField">
									<xs:annotation>
									  <xs:documentation xml:lang="en">id of entity entry from customer system.</xs:documentation>
									  <xs:documentation xml:lang="de-DE">Id des Elements im Kundensystem.</xs:documentation>
									</xs:annotation>
   					</xs:attribute>
												
			        </xs:complexType>
		      	  </xs:element>
			     <xs:element ref="common:publishChannels" minOccurs="0"/>      	  					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
  <xs:complexType name="HouseBuy">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the
        House-Buy realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den
        Haus-Kauf Immobilientyp</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedHouseBuyGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the
                House Buy type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den
                Hauskauftyp</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HouseRent">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the
        House-Rent realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den
        Haus-Miete Immobilientyp</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedHouseRentGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the
                House rent type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den
                Hausmiettyp</xs:documentation>
            </xs:annotation>
          </xs:group>
          <xs:element name="builtInKitchen" type="xs:boolean" minOccurs="0"></xs:element>          
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="GarageRent">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the
        Garage-Rent realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den
        Garagen-Miet Immobilientyp</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedGarageRentGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the
                Garage Rent type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den
                Geragenmietetyp</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GarageBuy">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the
        Garage-Buy realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den
        Garagen-Kauf Immobilientyp</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedGarageBuyGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the
                Garage Buy type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den
                Geragenmietetyp</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SeniorCare">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the senior care realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp Altenpflege</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedSeniorCareGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the senior care real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp Altenpflege</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AssistedLiving">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the assisted living realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Seniorenwohnen"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedAssistedLivingGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the assisted living real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Seniorenwohnen"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ApartmentRent">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the appartment rent realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Wohnung-Miete"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedApartmentRentGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the apartment rent real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Wohnung-Miete"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ApartmentBuy">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the appartment buy realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Wohnung-Kauf"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedApartmentBuyGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the apartment buy real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Wohnung-Kauf"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CompulsoryAuction">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the compulsory auction realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Zwangsversteigerungsobjekte"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedCompulsoryAuctionGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the compulsory auction real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Zwangsversteigerungsobjekte"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ShortTermAccommodation">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the short term accommodation realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Wohnen auf Zeit"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedShortTermAccommodationGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the short term accommodation real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Wohnen auf Zeit"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Investment">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the investment realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Anlage" (Investment)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedInvestmentGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the investment real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Anlage" (Investment)</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Office">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the office realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Buero"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedOfficeGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the office real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Buero"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Store">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the store realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Einzelhandel"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedStoreGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the store real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Einzelhandel"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Gastronomy">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the gastronomy realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Gastronomie"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedGastronomyGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the gastronomy real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Gastronomie"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Industry">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the industry realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp Industrie (Hallen/Produktion)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedIndustryGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the industry real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp Industrie (Hallen/Produktion)</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SpecialPurpose">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the special purpose realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp Spezialgewerbe</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedSpecialPurposeGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the special purpose real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp Spezialgewerbe</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LivingBuySite">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the "Living Site Buy" realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Wohngrundstück zum Kauf"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedLivingBuySiteGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the "Living Site Buy" real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Wohngrundstück zum Kauf"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LivingRentSite">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the "Living Site Rent" realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Wohngrundstück zur Miete"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedLivingRentSiteGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the "Living Site Rent" real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Wohngrundstück zur Miete"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TradeSite">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the Trade Site realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Grundstueck-Gewerbe"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedTradeSiteGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the Trade Site real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp Grundstueck-Gewerbe</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HouseType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the "House Types" realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Typenhäuser"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedHouseTypeGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the "House Types" real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "Typenhäuser"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FlatShareRoom">
    <xs:annotation>
      <xs:documentation xml:lang="en">Elements for the "shared apartment" realestate type</xs:documentation>
      <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "WG-Zimmer"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RealEstate">
        <xs:sequence>
          <xs:group ref="common:ExtendedFlatShareRoomGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Elements for the "shared apartment" real estate type.</xs:documentation>
              <xs:documentation xml:lang="de-DE">Eigenschaften für den Immobilientyp "WG-Zimmer"</xs:documentation>
            </xs:annotation>
          </xs:group>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


</xs:schema>