XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_usageParameterCharging_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_usageParameterCharging_support">
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes 
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA-75 Add TravelBillingPolicyEnumeration
				 billAsYouGo - Bill for use immediately on incurring
				 billOnThreshold - Only raise when threshold is reached 
				 billAFareDayEnd - Bill at end of evey fare day.
				 billAtPeriodEnd - Bill at end of period			
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the Charging USAGE PARAMETER   types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterCharging_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/fares/netex_usageParameterEligibility_support</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9</Project>
				</Subject>
				<Title>NeTEx Charging USAGE PARAMETER identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: Charging USAGE PARAMETER identifier types.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
	<!-- ======================================================================= -->
	<!-- === CHARGING POLICY PARAMETER============================================== -->
	<xsd:simpleType name="ChargingPolicyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CHARGING POLICY usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="ChargingPolicyRef" type="ChargingPolicyRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CHARGING POLICY usage parameter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChargingPolicyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CHARGING POLICY usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="ChargingPolicyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CHARGING POLICY PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TravelCreditPolicyEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for  Credit Policy.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="allowTravel">
				<xsd:annotation>
					<xsd:documentation>Policy if credit threhsold is exceeded is still to allow further travel.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="blockAllTravel">
				<xsd:annotation>
					<xsd:documentation>Policy if credit threhsold is exceeded is to block all travel bu yuser.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="blockPayAsYouGoTravel">
				<xsd:annotation>
					<xsd:documentation>Policy if credit threhsold is exceeded is to block on demand travel, but still permit period pass travel.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TravelBillingPolicyEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for  Billing Policy.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="billAsYouGo">
				<xsd:annotation>
					<xsd:documentation>Bill for use immediately on incurring travel.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="billOnThreshold">
				<xsd:annotation>
					<xsd:documentation>Only raise bill when threshold is reached</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="billAtFareDayEnd">
				<xsd:annotation>
					<xsd:documentation>Bill at end of evey fare day.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="billAtPeriodEnd">
				<xsd:annotation>
					<xsd:documentation>Bill at end of a specified period.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === PENALTY POLICY PARAMETER============================================== -->
	<xsd:simpleType name="PenaltyPolicyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PENALTY POLICY usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="PenaltyPolicyRef" type="PenaltyPolicyRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PENALTY POLICY usage parameter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PenaltyPolicyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PENALTY POLICY usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="PenaltyPolicyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PENALTY POLICY PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="SameStationReentryPolicyEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Same Station Rentry Policy.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="blocked"/>
			<xsd:enumeration value="newFare"/>
			<xsd:enumeration value="maximumFare"/>
			<xsd:enumeration value="allowed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PenaltyPolicyTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Penlaty Policy Ypye.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="noTicket"/>
			<xsd:enumeration value="noCheckin"/>
			<xsd:enumeration value="noCheckOut"/>
			<xsd:enumeration value="noValidation"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === SUBSCRIBING PARAMETER============================================== -->
	<xsd:simpleType name="SubscribingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SUBSCRIBING usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="SubscribingRef" type="SubscribingRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SUBSCRIBING usage parameter. +v1.1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SubscribingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SUBSCRIBING usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="SubscribingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SUBSCRIBING usage parameter.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SubscriptionTermTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for  Billing Policy.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="fixed">
				<xsd:annotation>
					<xsd:documentation>Subscription must be for a fixed term.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="variable">
				<xsd:annotation>
					<xsd:documentation>Subscription can be for  an arbitray term,</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="openEnded">
				<xsd:annotation>
					<xsd:documentation>Subscription term is open ended. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriptionRenewalPolicyEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for SUBSCRIBING Renewal Policy.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="automatic">
				<xsd:annotation>
					<xsd:documentation>Renew automatcally at end of term.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="manual">
				<xsd:annotation>
					<xsd:documentation>Renew on request.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="automaticOnConfirmation">
				<xsd:annotation>
					<xsd:documentation>Confirm and renew automatcally at end of  subscription term.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="none">
				<xsd:annotation>
					<xsd:documentation>No renewal allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
</xsd:schema>
