XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_usageParameterEligibility_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_usageParameterEligibility_support">
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes 
				</Date>
				<Date>
					<Modified>2018-04-20</Modified> FIX: make CompanionProfileRef a type of UserProfileRef.
				</Date>
				<Date>
					<Modified>2019-03-03</Modified> EURA-89: allow a list of proof of identities,   Alsoadd birthCertificate, to  proof of identitie  enum values
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA-47,  UK-32: Add new ResidenceType attribute to ResidenceQualification with enumerated values;  live , work, study, born 
						Also EURA -62:  Add a CompanionRelationshipType attribute to CompanionProfile with enumerated values anyone, grandparent, parent, child, grandchild, colleague, family, legalRelative,   spouse, partner, colleague, teacher, pupil
						Also EURA-89 add birthCertifcate, emailAccount to ProofOfIdentity enumeration 
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA-68,  Add new GroupSizeChanges enumeration to GroupTicket   with enumerated values;  		 none,  free,  charged, steppedCharge 
			 	</Date>
				<Date>
					<Modified>2019-03-14</Modified>EURA-29  Add EligibilityChange usage parameter with t BecomesEligiblePolicy and CeasesToBeEligiblePolicy  
OnBecomingEnumeration

* automatic - If user becomes eligible, automatically apply additional user profile benefits to user, e.g. apply student or senior discounts.
* invite - If user becomes eligible, invite user to take up eligible products. e.g. Invite to buy Senior railcard.
* noAction - If user becomes eligible,, no automatic measures are taken.
* other 

OnCeasingEnumeration - Allowed values  
 
* immediateTermination - If user ceases to be eligible, automatically terminate validity of an  elibility dependent product.
* useUntilExpiry - If user ceases to be eligible, they may go on using the product until it  expires..
* terminateAfterGracePeriod - If user ceases to be eligible,  termination  take place after the end of a grace period
* _automaticallySubstituteProduct_ - If user ceases to be eligible, assign them an appropiate  replacement product. 
* noAction - If user ceases to be eligible, take no action.
* other 					
					
				</Date>
				<Date>
					<Modified>2019-04-04</Modified>UK-45   Add  constraint mechanism  to Entitlements so that supplements and dependent products have same parameters  
					  ad list of userProfiles structure
			 	</Date>				
				
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the ELIGIBILITY USAGE PARAMETER    types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterEligibility_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/fares/netex_usageParameterProduct_support</Requires>
				</Relation>
				<Rights>Unclassified
					<Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9</Project>
				</Subject>
				<Title>NeTEx   ELIGIBILITY USAGE PARAMETER identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: Eligibility USAGE PARAMETER identifier types.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
	<!-- === PROFILE  USAGE PARAMETERS=================================== -->
	<xsd:group name="ProfileRefsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Profile types.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CommercialProfileRef" minOccurs="0"/>
			<xsd:element ref="GroupTicketRef" minOccurs="0"/>
			<xsd:element ref="UserProfileRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="UsageParameterProductRefGroup">
		<xsd:annotation>
			<xsd:documentation>USAGE PARAMETER Elements for CELL.Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CommercialProfileRef" type="CommercialProfileRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a COMMERCIAL PROFILE usage parameter</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GroupTicketRef" type="GroupTicketRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a GROUP TICKET usage parameter</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UserProfileRef" type="UserProfileRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a USER PROFILE usage parameter</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="ProfileParameterRef" type="UsageParameterRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PROFILE usage parameter</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- === USER PROFILE PARAMETER======================================= -->
	<xsd:complexType name="userProfileRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of USAGE PROFILEs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="UserProfileRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="UserProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a USER PROFILE usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="UserProfileRef" type="UserProfileRefStructure" substitutionGroup="ProfileParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a USER PROFILE usage parameter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UserProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a USER PROFILE usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="UserProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a USER PROFILE usage parameter</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="UserTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for USER TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="adult"/>
			<xsd:enumeration value="child"/>
			<xsd:enumeration value="infant"/>
			<xsd:enumeration value="senior"/>
			<xsd:enumeration value="student"/>
			<xsd:enumeration value="youngPerson"/>
			<xsd:enumeration value="schoolPupil"/>
			<xsd:enumeration value="military"/>
			<xsd:enumeration value="disabled"/>
			<xsd:enumeration value="disabledCompanion"/>
			<xsd:enumeration value="jobSeeker"/>
			<xsd:enumeration value="employee"/>
			<xsd:enumeration value="animal"/>
			<xsd:enumeration value="anyone"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === COMMERCIAL PROFILE ===================================================== -->
	<xsd:simpleType name="CommercialProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a COMMERCIAL PROFILE usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="CommercialProfileRef" type="CommercialProfileRefStructure" substitutionGroup="ProfileParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a COMMERCIAL PROFILE usage parameter</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CommercialProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a COMMERCIAL PROFILE usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="CommercialProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a COMMERCIAL PROFILE usage parameter</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CommercialProfileTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for COMMERCIAL PROFILE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unlimited"/>
			<xsd:enumeration value="limited"/>
			<xsd:enumeration value="single"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === GROUP TICKET PARAMETER====================================================== -->
	<xsd:simpleType name="GroupTicketIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP TICKET usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="GroupTicketRef" type="GroupTicketRefStructure" substitutionGroup="ProfileParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP TICKET usage parameter</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupTicketRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GROUP TICKET usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="GroupTicketIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP TICKET usage parameter</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="GroupTicketingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for GROUP TICKETING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="allOnOneTicket"/>
			<xsd:enumeration value="separateTickets"/>
			<xsd:enumeration value="ticketWithCoupons"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GroupCheckInEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for GROUP CHECK IN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="required"/>
			<xsd:enumeration value="allowed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GroupSizeChangesEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for GROUP SIZE CHANGE. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="noChanges">
				<xsd:annotation>
					<xsd:documentation>Group size cannot be changed..</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="free">
				<xsd:annotation>
					<xsd:documentation>No charge to change group size.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="charge">
				<xsd:annotation>
					<xsd:documentation>Group size can be changed for a fee (as specified by a EXCHANGING usage parameter).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="purchaseWindowSteppedCharge">
				<xsd:annotation>
					<xsd:documentation>Group size can be changed, charges are according to a sliding scale according to  the length of time before travel (as specified by several  EXCHANGING parameters).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="numberOfPassengersSteppedCharge">
				<xsd:annotation>
					<xsd:documentation>Group size can be changed, charges are according to a sliding scale according to  the number of passengers changed.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === COMPANION PROFILE ============================================== -->
	<xsd:simpleType name="CompanionProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a COMPANION PROFILE usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UserProfileIdType"/>
	</xsd:simpleType>
	<xsd:element name="CompanionProfileRef" type="CompanionProfileRefStructure" substitutionGroup="UserProfileRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a COMPANION PROFILE usage parameter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CompanionProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a COMPANION PROFILE usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UserProfileRefStructure">
				<xsd:attribute name="ref" type="CompanionProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a COMPANION PROFILE usage parameter</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CompanionRelationshipEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for COMPANION RELATIONSHIP TYPE Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="anyone"/>
			<xsd:enumeration value="parent"/>
			<xsd:enumeration value="grandparent"/>
			<xsd:enumeration value="child"/>
			<xsd:enumeration value="grandchild"/>
			<xsd:enumeration value="family"/>
			<xsd:enumeration value="spouse"/>
			<xsd:enumeration value="partner"/>
			<xsd:enumeration value="dependent"/>
			<xsd:enumeration value="colleague"/>
			<xsd:enumeration value="pupil"/>
			<xsd:enumeration value="teacher"/>
			<xsd:enumeration value="carer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GroupDiscountBasisEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for GROUP DISCOUNT BASIS.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="free"/>
			<xsd:enumeration value="discountForFirstPersonOnly"/>
			<xsd:enumeration value="discountForSecondAndSubsequentPersons"/>
			<xsd:enumeration value="stepDiscount"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProofOfIdentityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PROOF REQUIIRED Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="noneRequired"/>
			<xsd:enumeration value="creditCard"/>
			<xsd:enumeration value="passport"/>
			<xsd:enumeration value="drivingLicence"/>
			<xsd:enumeration value="birthCertificate"/>
			<xsd:enumeration value="membershipCard"/>
			<xsd:enumeration value="identityDocument"/>
			<xsd:enumeration value="medicalDocument"/>
			<xsd:enumeration value="studentCard"/>
			<xsd:enumeration value="letterWIthAddress"/>
			<xsd:enumeration value="mobileDevice"/>
			<xsd:enumeration value="emailAccount"/>
			<xsd:enumeration value="measurement"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProofOfIdentityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of values for  PROOF REQUIIRED </xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ProofOfIdentityEnumeration"/>
	</xsd:simpleType>
	<!-- ===  RESIDENTIAL QUALIFICATION ============================================== -->
	<xsd:simpleType name="ResidentialQualificationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a RESIDENTIAL QUALIFICATION usage parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="ResidentialQualificationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a RESIDENTIAL QUALIFICATION usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="ResidentialQualificationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RESIDENTIAL QUALIFICATION usage parameter</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="ResidentialQualificationRef" type="ResidentialQualificationRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a RESIDENTIAL QUALIFICATION usage parameter</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ResidenceTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for RESIDENCE TYPE</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="live"/>
			<xsd:enumeration value="work"/>
			<xsd:enumeration value="study"/>
			<xsd:enumeration value="exchange"/>
			<xsd:enumeration value="born"/>
			<xsd:enumeration value="nonResident"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ===  ELIGIBILITY CHANGE ============================================== -->
	<xsd:complexType name="EligibilityChangePolicyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to an ELIGIBILITY CHANGE POLICY usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="EligibilityChangePolicyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ELIGIBILITY CHANGE POLICY usage parameter.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="EligibilityChangePolicyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ELIGIBILITY CHANGE POLICY usage parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="EligibilityChangePolicyRef" type="EligibilityChangePolicyRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to anELIGIBILITY CHANGE POLICY usage parameter. +v1.1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="OnBecomingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Becoming Eiiigble + v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="automatic">
				<xsd:annotation>
					<xsd:documentation>If user becomes eligible, automatically apply additional user profile benefits to user, e.g. apply student or senior discounts.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="invite">
				<xsd:annotation>
					<xsd:documentation>If user becomes eligible, invite user to take up eligible products. e.g. Invite to buy Senior railcard.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="noAction">
				<xsd:annotation>
					<xsd:documentation>If user becomes eligible,, no automatic measures are taken.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OnCeasingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Ceasing  to be Eligible + v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="immediateTermination">
				<xsd:annotation>
					<xsd:documentation>If user ceases to be eligible, automatically terminate validity of an  elibility dependent product.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="useUntilExpiry">
				<xsd:annotation>
					<xsd:documentation>If user ceases to be eligible, they may go on using the product until it  expires..</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="terminateAfterGracePeriod">
				<xsd:annotation>
					<xsd:documentation>If user ceases to be eligible,  termination  take place after the end of a grace period </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="automaticallySubstituteProduct"/>
			<xsd:enumeration value="noAction">
				<xsd:annotation>
					<xsd:documentation>If user ceases to be eligible, automatically substitute them with an appropiate  replacement product.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
