XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_fareTable_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_fareTable_support">
	<xsd:include schemaLocation="netex_farePrice_support.xsd"/>
	<xsd:include schemaLocation="netex_fareProduct_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2014-04-13</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes 
				</Date>
				<Date>
					<Modified>2019-03-14</Modified>UK-69 Scaleability of    large sets add  new TypeOfOfFareTable element
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FARE TABLE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_fareTable_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE TABLE identifier  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: FARE TABLE identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- === FARE TABLE PRIC EGROUP==================================================== -->
	<xsd:complexType name="fareTableRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to  FARE FARE TABLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="FareTableRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="FareTableIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE TABLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareTableRef" type="FareTableRefStructure" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE TABLE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareTableRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE FARE TABLEs</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="FareTableIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF ENTITies.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === FARE TABLE PRIC EGROUP==================================================== -->
	<xsd:complexType name="StandardFareTableRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE STANDARD FARE TABLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="StandardFareTableRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="StandardFareTableIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STANDARD FARE TABLEs</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareTableIdType"/>
	</xsd:simpleType>
	<xsd:element name="StandardFareTableRef" type="StandardFareTableRefStructure" substitutionGroup="FareTableRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STANDARD FARE TABLE </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StandardFareTableRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE STANDARD FARE TABLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareTableRefStructure">
				<xsd:attribute name="ref" type="StandardFareTableIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF ENTITies.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === CELL ====================================================== -->
	<xsd:complexType name="cellRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE CELLs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="CellRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CellIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CELL.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="CellRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CELL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="CellIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE TABLE COLUMN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="CellRef" type="CellRefStructure" substitutionGroup="CellRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to a CELL.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- === FARE TABLE COLUMN  PRICE====================================================== -->
	<xsd:simpleType name="FareTableColumnIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE TABLE COLUMN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="FareTableColumnRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE FARE TABLE COLUMN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="FareTableColumnIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE TABLE COLUMN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="FareTableColumnRef" type="FareTableColumnRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE TABLE COLUMN.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- === FARE TABLE ROW  ====================================================== -->
	<xsd:simpleType name="FareTableRowIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE TABLE ROW.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareTableRowRef" type="FareTableRowRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE TABLE ROW.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareTableRowRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE FARE TABLE ROW.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="FareTableRowIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE TABLE COLUMN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF FARE TABLE ================================================= -->
	<xsd:simpleType name="TypeOfFareTableIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF FARE TABLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfFareTableRef" type="TypeOfFareTableRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF FARE TABLE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfFareTableRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF FARE TABLE. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfFareTableIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF FARE TABLE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
