XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_usageParameterEligibility_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_usageParameterEligibility_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_topographicPlace_support.xsd"/>
	<xsd:include schemaLocation="netex_usageParameterEligibility_support.xsd"/>
	<xsd:include schemaLocation="netex_usageParameter_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes 
				</Date>
				<Date>
					<Modified>2019-05-10</Modified> EURA-89: allow a list of proof of identities
				</Date>
				<Date>
					<Modified>2019-05-03</Modified> FIX: allow a list of proof of identities
				</Date>
				<Date>
					<Modified>2019-03-10</Modified> UK-32: Add new ResidenceType attribute to ResidenceQualification with enumerated values;  live , work, stuudy, born.
							Also EURA -62:  Add a CompanionRelationshipType attribute to CompanionProfile with enumerated values legalRelative, grandparent, parent, child, grandchild, colleague,  spouse, partner, anyone.
				</Date>
				<Date>
					<Modified>2019-03-10</Modified> EURA-68: Add new OneForN parameter to GroupTicket. Add  new enumvalue  toneForN to DiscountBasis enumerationo  
				</Date>
				<Date>
					<Modified>2019-03-10</Modified> Fix add missing Tickting element Reoraise groups of elements
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the ELIGIBILITY USAGE PARAMETER    types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterEligibility_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/fares/netex_usageParameterProduct_support</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9</Project>
				</Subject>
				<Title>NeTEx  ELIGIBILITY USAGE PARAMETER  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: Eligibility USAGE PARAMETER   types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====USER PROFILE================================================= -->
	<xsd:element name="UserProfile" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The social profile of a passenger, based on age group, education, profession, social status, sex etc., often used for allowing discounts: 18-40 years old, graduates, drivers, unemployed, women etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="UserProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UserProfileGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="UserProfileIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="UserProfile_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for USER PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="UserProfileGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="UserProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for USER PROFILE Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BaseUserProfileRef" type="UserProfileRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Base Profile on which this User profile is based. Assume all properties from base that are not explicitly stated on subprofile.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfConcessionRef" minOccurs="0"/>
			<xsd:element name="UserType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of user profile.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="UserTypeEnumeration"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:group ref="UserProfileQualificationGroup"/>
			<xsd:element ref="GenderLimitation" minOccurs="0"/>
			<xsd:element name="ProofRequired" type="ProofOfIdentityListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of document accepted as proof of eligibility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DiscountBasis" type="DiscountBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of discount for this profile.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="companionProfiles" type="companionProfiles_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum and maximum numbers of users in each category  allowed on GROUP TICKET.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="UserProfileQualificationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for USER PROFILE Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MinimumAge" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum age to be eligible for profile.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumAge" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum age to be eligible for profile.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MonthDayOnWhichAgeApplies" type="xsd:gMonthDay" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date on which Age Applies, if fixed annually.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumHeight" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum height to be eligible for profile.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumHeight" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum height to be eligible for profile.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LocalResident" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether user must be Local Resident.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="resides" type="residentialQualifications_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum and maximum numbers of users in each category  allowed on GROUP TICKET.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====COMMERCIAL PROFILE=================================================== -->
	<xsd:element name="CommercialProfile" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>A category of users depending on their commercial relations with the operator (frequency of use, amount of purchase etc.), often used for allowing discounts.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CommercialProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CommercialProfileGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CommercialProfileIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CommercialProfile_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for COMMERCIAL PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="CommercialProfileGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CommercialProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for COMMERCIAL PROFILE Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfConcessionRef" minOccurs="0"/>
			<xsd:element name="ConsumptionAmount" type="CurrencyAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Financial Factor.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConsumptionUnits" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Consumption Factor.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GeneralGroupOfEntitiesRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====GROUP TICKET=================================================== -->
	<xsd:element name="GroupTicket" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The number and characteristics of persons entitled to travel in addition to the holder of an access right.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupTicket_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupTicketGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupTicketIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupTicket_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GROUP TICKET.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupTicketGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupTicketGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for GROUP TICKET Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfConcessionRef" minOccurs="0"/>
			<xsd:group ref="GroupTicketSizeGroup"/>
			<xsd:group ref="GroupTicketCalculationGroup"/>
			<xsd:group ref="GroupTicketBookingGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="GroupTicketSizeGroup">
		<xsd:annotation>
			<xsd:documentation>Group size elements for GROUP TICKET Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MinimumNumberOfPersons" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of persons overall allowed on GROUP TICKET.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfPersons" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of persons overall allowed on GROUP TICKET.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumNumberOfCardHolders" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minium number of card holders needed on GROUP TICKET, if any.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="companionProfiles" type="companionProfiles_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum and maximum numbers of users in each category  allowed on GROUP TICKET.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="GroupTicketCalculationGroup">
		<xsd:annotation>
			<xsd:documentation>Calculation elements for GROUP TICKET Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PricingBasis" type="PerBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether pricing is per person or for whole group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumPersonsFree" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of free people allowed on ticket.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumPersonsDiscounted" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of discounted persons allowed on GROUP TICKET.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DiscountOnlyForFirstPerson" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is only a discount for the first person in the group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OneForNPersons" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Discount is given as one free place for  n people. Intermediate numbers are rounded down.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GroupSizeChanges" type="GroupSizeChangesEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Possibilities for changiing the numbe of people in the group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="GroupTicketBookingGroup">
		<xsd:annotation>
			<xsd:documentation>Booking related elements for GROUP TICKET Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Ticketing" type="GroupTicketingEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Natute of tickets issued for group</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="JointCheckIn" type="GroupCheckInEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the group must check in together.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GroupBookingFacility" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====COMPANION PROFILE =================================================== -->
	<xsd:complexType name="companionProfiles_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for  a list of COMPANION PROFILEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="CompanionProfileRef"/>
					<xsd:element ref="CompanionProfile">
						<xsd:annotation>
							<xsd:documentation>The number and characteristics of a category of users allowed on the ticket.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CompanionProfile" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The number and characteristics (weight, volume) of luggage that a holder of an access right is entitled to carry.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CompanionProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CompanionProfileGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CompanionProfileIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CompanionProfile_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for COMPANION PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="CompanionProfileGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CompanionProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for COMPANION PROFILE Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ParentRef" type="UsageParameterRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parent USER PROFILE or GROUP TICKET for which this  specifes the member rules.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="UserProfileRef" minOccurs="0"/>
			<xsd:element name="CompanionRelationshipType" type="CompanionRelationshipEnumeration" default="anyone" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Required Relationship of companion to eliigble user +V1.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumNumberOfPersons" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of persons of this type allowed as companions..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfPersons" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of persons of this type allowed as companions.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DiscountBasis" type="DiscountBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of discount for this profile.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== RESIDENTIAL QUALIFICATION. ================================================== -->
	<xsd:complexType name="residentialQualifications_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for  a list of RESIDENTIAL QUALIFICATIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ResidentialQualificationRef"/>
					<xsd:element ref="ResidentialQualification">
						<xsd:annotation>
							<xsd:documentation>The number and characteristics of a category of users allowed on the ticket.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ResidentialQualification" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>The number and characteristics (weight, volume) of luggage that a holder of an access right is entitled to carry.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ResidentialQualification_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ResidentialQualificationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ResidentialQualificationIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ResidentialQualification_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RESIDENTIAL QUALIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="ResidentialQualificationGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ResidentialQualificationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESIDENTIAL QUALIFICATION Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of RESIDENTIAL QUALIFICATIO.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of RESIDENTIAL QUALIFICATIO.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ParentRef" type="UsageParameterRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parent USER PROFILE  or GROUP TICKET for which this  specifes the member rules.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MustReside" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whthere the user must reside or must not reside in given place.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TopographicPlaceRef" minOccurs="0"/>
			<xsd:element name="ResidenceType" type="ResidenceTypeEnumeration" default="live" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classifcation of type of residence required, e.g. live, work, study.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum period of residency needed to qualify.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TYPE OF CONCESSION======================================== -->
	<xsd:complexType name="typeOfConcessions_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF CONCESSIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfConcessionRef"/>
					<xsd:element ref="TypeOfConcession">
						<xsd:annotation>
							<xsd:documentation>A TYPE OF CONCESSION specifying access rights for the FARE STRUCTURE ELEMENTs within the range of this UNIT: 0-5 km, 4-6 zones etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfConcession" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Category of concession user</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfConcession_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfConcessionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfConcessionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfConcession_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TYPE OF CONCESSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TypeOfConcessionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TypeOfConcessionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TYPE OF CONCESSION Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternative names for value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ==== ELIGIBILITY CHANGE POLICY QUALIFICATION. ================================================== -->
	<xsd:element name="EligibilityChangePolicy" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The policy to apply  if ta user's eligibility as a USER PROFILE changes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="EligibilityChangePolicy_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EligibilityChangePolicyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="EligibilityChangePolicyIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="EligibilityChangePolicy_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ELIGIBILITY CHANGE POLICY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="EligibilityChangePolicyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="EligibilityChangePolicyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ELIGIBILITY CHANGE POLICY Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OnBecomingEligiblePolicy" type="OnBecomingEnumeration" default="noAction" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Policy to apply onproduct holder  becoming eligible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OnCeasingToBeEligiblePolicy" type="OnCeasingEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Policy to apply on product holder  ceasing to be eligible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
