XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_accessRightParameter_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_accessRightParameter_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceCalendar_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleSeating_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_site_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_pointOfInterest_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_line_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_route_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_vehicleJourney_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_fareZone_support.xsd"/>
	<xsd:include schemaLocation="netex_validableElement_support.xsd"/>
	<xsd:include schemaLocation="netex_fareStructureElement_support.xsd"/>
	<xsd:include schemaLocation="netex_qualityStructureFactor_support.xsd"/>
	<xsd:include schemaLocation="netex_timeStructureFactor_support.xsd"/>
	<xsd:include schemaLocation="netex_distanceMatrixElement_support.xsd"/>
	<xsd:include schemaLocation="netex_usageParametersAll_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_serviceJourney_support.xsd"/>
	<xsd:include schemaLocation="netex_fareProduct_support.xsd"/>
	<xsd:include schemaLocation="netex_salesDistribution_support.xsd"/>
	<xsd:include schemaLocation="netex_salesOfferPackageEntitlement_support.xsd"/>
	<xsd:include schemaLocation="netex_salesOfferPackage_support.xsd"/>
	<xsd:include schemaLocation="netex_typeOfTravelDocument_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_distanceMatrixElement_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_submode_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_accessRightParameter_support.xsd"/>
	<xsd:include schemaLocation="netex_usageParameter_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes 
				</Date>
				<Date>
					<Modified>2017-03-28</Modified> CR019 Make ValidityParameter Assignment not abstract and fix ambiguity with Generic Parameter
				</Date>
				<Date>
					<Modified>2017-10-10</Modified> Fix Add TypeOfTravelDocument to ProductValidityParametersGroup.
						* Allow DistanceMatrixElement view so that origin and Destination can be referenced 
				</Date>
				<Date>
					<Modified>2017-10-10</Modified> Fix Add TimeIntervalRef TimeStructureFactorRef to GeographicalIntervalRef   GeographicalStructureFactorRef to be referenced 
				</Date>
				<Date>
					<Modified>2019-03-01</Modified>EURA-(nk) Add DistanceMatrixInverseRef for backwards direction of reference to a DIstance Matrix Element
				</Date>
				<Date>
					<Modified>2019-03-01</Modified>Add missing elements to GenericParameterAssignment 
					    *	UK-33 Add TariffRef	as a GenericParameterAssignment parameter	
					   *	UK80 TypeOfConcession, TypeOfUsageParameter,  VehicleType   TypeOfLineRef as GenericParameterAssignment parameters					 
				</Date>
				<Date>
					<Modified>2019-03-01</Modified>EURA-88 Add ServiceMatch Attributes : Exact | next | previous | timebands  to GenericParameterAssignmen
				</Date>
				<Date>
					<Modified>2019-03-01</Modified>UK-41 Add an additional functional operator to GenericParameterAssignment  to clarify use of groups :  oneOf /  someOf/  allOf
				</Date>
				<Date>
					<Modified>2019-03-09</Modified>EURA-54 Add a PassengerSeatRef to 
				</Date>
				<Date>
					<Modified>2019-03-14</Modified>UK-41  Also LimitationSelectionType Add an additional functional operator to GenericParameterAssignment  to clarify use of groups :  oneOf /  someOf/  allOf
					
					* Add  new ___FareStructureValidityParametersGroup___ to validity paarmaters with new attributes   ___TypeOfTariffRef___,   ___TypeOfFareStructureFactor___,  ___TypeOfFarFresStructureFactorRef___,   
					  * Extend  ___FareProduct ValidityParametersGroup___  to validity paramaters  with new attributes   ___TypeOfPriceingRuleRef___,   ___ChargingMethodRef___, ___TypeOfPaymentMethodRef___, ___TypeOfMachineReadability___, ___TypeOfFareTableRef.___  TypeofMachineReadabilityRef.
					  * Add  new ___SeatingValidityParametersGroup___ with new attributes   ___TrainElementRef___,    ___TrainComponentLabelAssignmentRef___.  
					 * Also add OperatingPeriod Ref to Temporal  validity Parameters 
					 * Also Fix change choice of TrainNumber etc to selection, 
				</Date>
				<Date>
					<Modified>2019-03-26</Modified>NL-27 CD #58 Add default TypeOfProductCategory and TypeOfService to Line:
					Move TypeOfProductCategory amnd TypeOfService from netex_journey_version  to  Framework reusable components (netex_travelRights_version)  so they are visible from part 1	
		  	Can  therefore drop include of netex_travelRights_version from 	  netex_accessRightParameter_version.xsd  .
				</Date>
				<Date>
					<Modified>2019-04-18</Modified>FIX  - SUpport Place to Place travel (ADDRESS and TOPOGRAPHICAL PLACE) : Add AddressRef ,  TopoographiPlaceRef and PlaceUseEnum.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FARE ACCESS RIGHT PARAMETER types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_accessRightParameter_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Fare ACCESS RIGHT PARAMETER types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx  ACCESS RIGHT ASSIGNMENT  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="accessRightParameterAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>The assignment of a fare collection parameter (referring to geography, time, quality or usage) to an element of a fare system (access right, validated access, control mean, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:choice>
					<xsd:element ref="AccessRightParameterAssignment_" maxOccurs="unbounded"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="validityParameterAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>The assignment of a fare collection parameter (referring to geography, time, quality or usage) to an element of a fare system (access right, validated access, control mean, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="ValidityParameterAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====VALIDITY PARAMETER ASSIGNMENT=================================================== -->
	<xsd:complexType name="accessRightParameterAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE ACCESS RIGHT PARAMETERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="AccessRightParameterAssignment_" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A sequence or set of CONTROLLABLE ELEMENTs to which rules for limitation of access rights and calculation of prices (fare structure) are applied.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AccessRightParameterAssignment_" type="DataManagedObjectStructure" abstract="true" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>The assignment of a fare parameter (referring to geography, time, quality or usage) to an element of a fare system (access right, validated access, control mean, etc.).
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccessRightParameterAssignment" type="AccessRightParameterAssignment_VersionStructure" abstract="false" substitutionGroup="AccessRightParameterAssignment_">
		<xsd:annotation>
			<xsd:documentation>The assignment of a fare parameter (referring to geography, time, quality or usage) to an element of a fare system (access right, validated access, control mean, etc.).
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccessRightParameterAssignment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AccessRightParameterAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessRightParameterAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="AccessRightParameterAssignmentPropertiesGroup"/>
			<xsd:group ref="ParameterAssignmentScopeGroup">
				<xsd:annotation>
					<xsd:documentation>Elements for fare structure assignments of an ACCESS RIGHT PARAMETER ASSIGNMENT, i.e elements to which assignment is made.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="UsageValidityParameterGroup">
				<xsd:annotation>
					<xsd:documentation>USAGE PARAMETERs to which assignment restricts.  Values are Logically ANDed together.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="AccessRightParameterValidityParameterGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessRightParameterAssignmentPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Property Elements for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsAllowed" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether values are allowed ro forbiden. Defaullt is allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfAccessRightAssignmentRef" minOccurs="0"/>
			<xsd:element name="ChargingBasis" type="ChargingBasisEnumeration" default="any" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ACCESS RIGHT ASSIGNMENT is chargable or not.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ParameterAssignmentScopeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for fare structure scope of an OF ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ValidableElementRef" minOccurs="0"/>
			<xsd:element ref="ControllableElementRef" minOccurs="0"/>
			<xsd:group ref="FareProductRefGroup" minOccurs="0"/>
			<xsd:element ref="TariffRef" minOccurs="0"/>
			<xsd:element ref="FareStructureElementRef" minOccurs="0"/>
			<xsd:element ref="FareElementInSequenceRef" minOccurs="0"/>
			<xsd:element ref="DistanceMatrixElementRef" minOccurs="0"/>
			<xsd:element ref="DistanceMatrixElementInverseRef" minOccurs="0"/>
			<xsd:element ref="DistanceMatrixElementView" minOccurs="0"/>
			<xsd:element ref="SalesOfferPackageRef" minOccurs="0"/>
			<xsd:element ref="GroupOfDistanceMatrixElementsRef" minOccurs="0"/>
			<xsd:element ref="GroupOfSalesOfferPackagesRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="UsageValidityParameterGroup">
		<xsd:annotation>
			<xsd:documentation>Limiting USAGE PARAMETER Elements or ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LimitationGroupingType" type="BooleanOperatorEnumeration" default="AND" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Operator for Grouping Scope Elements: logical OR, AND, NOT. Default is AND.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LimitationSetSelectionType" type="SetOperatorEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>where parameter is a group (GROUP of xxx) , operator for distinguishing between whole set and item interpretation of elements which are sets of elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="limitations" type="usageParameters_RelStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessRightParameterValidityParameterGroup">
		<xsd:annotation>
			<xsd:documentation>Validity parametersfor ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ValidityParameterAssignmentType" type="RelativeOperatorEnumeration" default="EQ" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Comparison Operator for comparing Validity Erlements valeus. Defalut is EQ.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ValidityParameterGroupingType" type="BooleanOperatorEnumeration" default="AND" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Operator for Grouping Scope Elements: logical OR, AND, NOT. Default is AND.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ValidityParameterSetSelectionType" type="SetOperatorEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Where one or more  parameter is a group  containing multiple elements, (GROUP OF xxx) , set operator for distinguishing between whole set and item interpretation of elements which are sets of elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="temporalValidityParameters" type="temporalValidityParameters_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Temporal Validity parameters for the assignment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validityParameters" type="validityParameters_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Validity parameters for the assignment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====VALIDITY PARAMETER ASSIGNMENT=================================================== -->
	<xsd:complexType name="temporalValidityParameters_RelStructure">
		<xsd:annotation>
			<xsd:documentation>One to many Relationship for temporal validity parameters.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:group ref="TemporalValidityParametersGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TemporalValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>Temporal validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DayTypeRef" minOccurs="0"/>
			<xsd:element ref="GroupOfTimebandsRef" minOccurs="0"/>
			<xsd:element ref="OperatingDayRef" minOccurs="0"/>
			<xsd:element ref="OperatingPeriodRef" minOccurs="0"/>
			<xsd:element ref="ValidityConditionRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="validityParameters_RelStructure">
		<xsd:annotation>
			<xsd:documentation>One to many Relationship for scoping validity parameters.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence maxOccurs="unbounded">
					<xsd:group ref="ScopingValidityParametersGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ScopingValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>Scoping validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="OrganisationValidityParametersGroup"/>
			<xsd:group ref="NetworkValidityParametersGroup">
				<xsd:annotation>
					<xsd:documentation>Network validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="RouteValidityParametersGroup">
				<xsd:annotation>
					<xsd:documentation>Route validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="ServiceValidityParametersGroup">
				<xsd:annotation>
					<xsd:documentation>Service validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="FareValidityParametersGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="OrganisationValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>ORGANISATION validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleModes" type="VehicleModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Vehicel Modes to which ACCESS RIGHTs  apply.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportSubmode" minOccurs="0"/>
			<xsd:element ref="GroupOfOperatorsRef" minOccurs="0"/>
			<xsd:group ref="OneOrAllOperatorsRefGroup" minOccurs="0"/>
			<xsd:group ref="OneOrAllAuthoritiesRefGroup" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="NetworkValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>Network validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="GroupOfLinesRef" minOccurs="0"/>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element ref="TypeOfLineRef" minOccurs="0"/>
			<xsd:element ref="TariffZoneRef" minOccurs="0"/>
			<xsd:element ref="FareZoneRef" minOccurs="0"/>
			<xsd:element ref="FareSectionRef" minOccurs="0"/>
			<xsd:element ref="ScheduledStopPointRef" minOccurs="0"/>
			<xsd:group ref="PlaceValidityParametersGroup"/>
			<xsd:group ref="SiteValidityParametersGroup">
				<xsd:annotation>
					<xsd:documentation>Site validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SiteValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>SITE validity parametersfor ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SiteElementRef" minOccurs="0"/>
			<xsd:element ref="PointOfInterestClassificationRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PlaceValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>PLACEvalidity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PlaceUse" type="PlaceUseEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use of PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TopographicPlaceRef" minOccurs="0"/>
			<xsd:element ref="AddressRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="RouteValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>ROUTE validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RoutingType" type="RoutingTypeEnumeration" default="both" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether this is a direct i.e. no changes required point to point or indirect.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Directions" type="RelativeDirectionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether use SERIES, or FARE SECTION in forwards, backwards or both directions.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SeriesConstraintRef" minOccurs="0"/>
			<xsd:element ref="ServiceJourneyPatternRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ServiceValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>Service validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="ClassOfUseValidityParametersGroup"/>
			<xsd:group ref="FacilityValidityParametersGroup">
				<xsd:annotation>
					<xsd:documentation>FACILITY elements for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element ref="TypeOfProductCategoryRef" minOccurs="0"/>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="ServiceJourneyRef" minOccurs="0"/>
				<xsd:element ref="TrainNumberRef" minOccurs="0"/>
				<xsd:element ref="GroupOfServicesRef" minOccurs="0"/>
			</xsd:sequence>
			<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
			<xsd:element ref="TypeOfServiceRef" minOccurs="0"/>
			<xsd:group ref="SeatingValidityParametersGroup">
				<xsd:annotation>
					<xsd:documentation>Seating validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SeatingValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>Seating validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TrainElementRef" minOccurs="0"/>
			<xsd:element ref="TrainComponentLabelAssignmentRef" minOccurs="0"/>
			<xsd:element ref="PassengerSeatRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ClassOfUseValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>CLASS OF USE validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ClassOfUseRef" minOccurs="0"/>
			<xsd:element ref="FareClass" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="FacilityValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>FACILITY validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FacilitySetRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="FareValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>Fare validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="TariffValidityParametersGroup"/>
			<xsd:group ref="ProductValidityParametersGroup"/>
			<xsd:group ref="SalesOfferValidityParametersGroup"/>
			<xsd:group ref="DistributionParametersGroup">
				<xsd:annotation>
					<xsd:documentation>Product distribution validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT. </xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>TARIFF related  validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfFareStructureFactorRef" minOccurs="0"/>
			<xsd:element ref="TypeOfFareStructureElementRef" minOccurs="0"/>
			<xsd:element ref="TypeOfTariffRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ProductValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>FARE PRODUCT related validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PricingRuleRef" minOccurs="0"/>
			<xsd:element ref="TypeOfPricingRuleRef" minOccurs="0"/>
			<xsd:element ref="ChargingMomentRef" minOccurs="0"/>
			<xsd:element ref="TypeOfFareProductRef" minOccurs="0"/>
			<xsd:element ref="TypeOfUsageParameterRef" minOccurs="0"/>
			<xsd:element ref="TypeOfConcessionRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SalesOfferValidityParametersGroup">
		<xsd:annotation>
			<xsd:documentation>SALES OFFER PACKAGE  related validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfSalesOfferPackageRef" minOccurs="0"/>
			<xsd:element ref="TypeOfTravelDocumentRef" minOccurs="0"/>
			<xsd:element ref="TypeOfMachineReadabilityRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DistributionParametersGroup">
		<xsd:annotation>
			<xsd:documentation>Product distribution validity parameters for ACCESS RIGHT PARAMETER ASSIGNMENT. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="DistributionChannelRef" minOccurs="0"/>
				<xsd:element ref="GroupOfDistributionChannelsRef" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="FulfilmentMethodRef" minOccurs="0"/>
			<xsd:element ref="TypeOfPaymentMethodRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====VALIDITY PARAMETER ASSIGNMENT=================================================== -->
	<xsd:complexType name="validityParameterAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VALIDITY PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="AccessRightParameterAssignment_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ValidityParameterAssignment" abstract="false" substitutionGroup="AccessRightParameterAssignment_">
		<xsd:annotation>
			<xsd:documentation>An ACCESS RIGHT PARAMETER ASSIGNMENT relating a fare collection parameter to a theoretical FARE PRODUCT (or one of its components) or a SALES OFFER PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ValidityParameterAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessRightParameterAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ValidityParameterAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ValidityParameterAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ValidityParameterAssignment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for VALIDITY PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessRightParameterAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ValidityParameterAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ValidityParameterAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VALIDITY PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="TimeIntervalRef"/>
				<xsd:element ref="TimeStructureFactorRef"/>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:element ref="GeographicalIntervalRef"/>
				<xsd:element ref="GeographicalStructureFactorRef"/>
			</xsd:choice>
			<xsd:element ref="QualityStructureFactorRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== SPECIFIC PARAMETER ASSIGNMENT=================================================== -->
	<xsd:group name="OptimisedOneManyAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Optimised GENERIC PARAMETER ASSIGNMENT GROUP. ALlows a single Parameter to be given without a wrapper tag.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="validityParameterAssignments" type="genericParameterAssignments_RelStructure">
				<xsd:annotation>
					<xsd:documentation>VALIDITY PARAMETR ASSIGNMENTss for an element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GenericParameterAssignment">
				<xsd:annotation>
					<xsd:documentation>Optimisation: A single instance of a A VALIDITY PARAMETER ASSIGNMENT specifying practical parameters during a TRAVEL GenericATION, within a given fare structure (e.g. the origin or destination zone in a zone-counting system).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GenericParameterAssignmentInContext">
				<xsd:annotation>
					<xsd:documentation>Optimisation: Can be used without identity constraint A VALIDITY PARAMETER ASSIGNMENT specifying practical parameters during a TRAVEL GenericATION, within a given fare structure (e.g. the origin or destination zone in a zone-counting system).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="genericParameterAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE ACCESS RIGHT PARAMETERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GenericParameterAssignment"/>
					<xsd:element ref="GenericParameterAssignmentInContext"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GenericParameterAssignment" abstract="false" substitutionGroup="AccessRightParameterAssignment_">
		<xsd:annotation>
			<xsd:documentation>A VALIDITY PARAMETER ASSIGNMENT specifying practical parameters during a TRAVEL GenericATION, within a given fare structure (e.g. the origin or destination zone in a zone-counting system).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GenericParameterAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessRightParameterAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ValidityParameterAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GenericParameterAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GenericParameterAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GenericParameterAssignment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for Generic PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ValidityParameterAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GenericParameterAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GenericParameterAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for GENERIC PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="GenericParameterAssignmentIncludesGroup">
				<xsd:annotation>
					<xsd:documentation>Elements for compound GENERIC PARAMETER ASSIGNMENT.  May only be compounded with parameters fo the same type.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="GenericParameterAssignmentIncludesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for compound GENERIC PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IncludesGroupingType" type="BooleanOperatorEnumeration" default="OR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Operator for Grouping Scope Elements. Default is OR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="includes" type="genericParameterAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Assignments Logically  included in this group. Groups are combined acording to the Operator.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="GenericParameterAssignmentInContext" abstract="false" substitutionGroup="AccessRightParameterAssignment_">
		<xsd:annotation>
			<xsd:documentation>Optimisation: Can be used without id constraintA VALIDITY PARAMETER ASSIGNMENT specifying practical parameters during a TRAVEL GenericATION, within a given fare structure (e.g. the origin or destination zone in a zone-counting system).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GenericParameterAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessRightParameterAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ValidityParameterAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GenericParameterAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GenericParameterAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- ====TYPE OF TRAVEL DOCUMENT======================================== -->
	<xsd:complexType name="TypeOfAccessRightAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF ACCESS RIGHT ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfAccessRightAssignmentRef"/>
					<xsd:element ref="TypeOfAccessRightAssignment">
						<xsd:annotation>
							<xsd:documentation>A TYPE OF ACCESS RIGHT ASSIGNMENT specifying access rights for the ACCESS RIGHT ASSIGNMENT ELEMENTs within the range of this UNIT: 0-5 km, 4-6 zones etc.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfAccessRightAssignment" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of ACCESS RIGHT ASSIGNMENTs expressing their general functionalities and local functional characteristics specific to the operator. Types of ACCESS RIGHT ASSIGNMENTs like e.g. throw-away ticket, throw-away ticket unit, value card, electronic purse allowing access, public transport credit card etc. may be used to define these categories.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfAccessRightAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfAccessRightAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfAccessRightAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TYPE OF ACCESS RIGHT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
