XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_usageParameterAfterSales_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_usageParameterAfterSales_version">
	<xsd:include schemaLocation="netex_usageParameterAfterSales_support.xsd"/>
	<xsd:include schemaLocation="netex_timeStructureFactor_support.xsd"/>
	<xsd:include schemaLocation="netex_usageParameter_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2013-04-14</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes 
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA 65 - Add a SharedUsage attribute to Transferability  to specify whether multiple users may use a product at the same time.
				</Date>
				<Date>
					<Modified>2019-03-11</Modified>EURA-87 partial cancellations add RefundPolicy attribute 
					    Add RefundBasis  atribute to Refunding  unusedDays unusedWeeks unusedMonths,  
						On Exchanging, add ExchangableFromPercentUse and ExchangableUntilPercentUse
						 Subscriptions  - Add withinSpecified window value to PurchaseWhen enumeration attribute  
						Also UK-46- Add typesOfPaymentMethods /TypeOfPaymentRef and move PaymentMethods up hierarchy with new name (Old attribute on REFUNDING  deprecated)
					   Aadd unused and earlyTermination to RefundTypeEnumeration	
					    Also Add Cancellation Notice Period to Refunding
					    Add EffectiveFrom to Reselllng  anytime, nextInterval, nextInstallment, never
				</Date>
				<Date>
					<Modified>2019-03-26</Modified>NL-27 CD #58 Add default TypeOfProductCategory and TypeOfService to Line:
					Move TypeOfProductCategory amnd TypeOfService from netex_journey_version  to  Framework reusable components (netex_travelRights_version)  so they are visible from part 1	
		  	Can  therefore drop include of netex_travelRights_version from  File netex_usageParameterAfterSales_version.xsd.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the After Sales USAGE PARAMETER types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterAfterSales_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE After Sales USAGE PARAMETER   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: After Sales USAGE PARAMETER  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====RESELLING=================================================== -->
	<xsd:element name="Reselling" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Common resale conditions (i.e. for exchange or refund)  attaching to the product</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Reselling_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ResellingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ResellingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Reselling_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RESELLING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ResellingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ResellingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESELLING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Allowed" type="ResellTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ticket can be resold (ie refunded or exchanged respectively)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CanChangeClass" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether transaction to change class of ticket is allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UnusedTicketsOnly" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether only full tickets can be resold.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OnlyAtCertainDistributionPoints" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether refund/Exchaneg can only be done in ceratin places.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="ResellingPeriodGroup"/>
			<xsd:group ref="ResellingCalculationGroup"/>
			<xsd:group ref="ResellingPaymentGroup">
				<xsd:annotation>
					<xsd:documentation>Elements for making payments fo RESELLING Group.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ResellingPeriodGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESELLING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ResellWhen" type="ResellWhenEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Event marking  when the  is exchangable status of the ticket changes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element name="ExchangableFromAnyTime" type="EmptyType">
					<xsd:annotation>
						<xsd:documentation>Special value Can be exhanged from Purchase onwards.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ExchangableFromDuration" type="xsd:duration">
					<xsd:annotation>
						<xsd:documentation>Duration to start of period before (negative) or after (positive) the trigger point (i.e. either Start of Validity or First Use ) or that ticket.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ExchangableFromPercentUse" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation>Can be exchanged once a certain percentage of duration or use has been achieved. +v1.1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="ExchangableFromIntervalRef" type="TimeIntervalRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Period to start of period before (negative) or after (positive) the trigger point- as arbitrary interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element name="ExchangableUntilAnyTime" type="EmptyType">
					<xsd:annotation>
						<xsd:documentation>Can be exchanged anyTime.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ExchangableUntilDuration" type="xsd:duration">
					<xsd:annotation>
						<xsd:documentation>Duration to end of period before (negative) or after (positive) the trigger point (i.e. either Start of Validity or First Use ) or that ticket.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ExchangableUntilPercentUse" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation>Can be exchanged until a certain percentage of duration or use has been achieved. +v1.1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="ExchangableUntilIntervalRef" type="TimeIntervalRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Period to endof period before (negative) or after (positive) the trigger point- as arbitrary interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EffectiveFrom" type="EffectiveFromEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Constraint on when change can be made +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NotificationPeriod" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Notice period  needed before transaction can be made. + v1.1
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ResellingCalculationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESELLING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HasFee" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether othere is a fee  for reselling.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RefundBasis" type="PerBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a fee for reselling.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ResellingPaymentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESELLING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PaymentMethods" type="PaymentMethodListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PAYMENT METHODs allowed to pay fee or to make refund.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typesOfPaymentMethodRef" type="TypeOfPaymentMethodRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>POther AYMENT METHODs allowd to pay fee or to make refund.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====EXCHANGING=================================================== -->
	<xsd:element name="Exchanging" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The number and characteristics of persons entitled to use the public transport service instead of the original customer.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Exchanging_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ResellingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ExchangingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ExchangingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Exchanging_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for EXCHANGING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Reselling_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ExchangingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ExchangingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for EXCHANGING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberOfExchangesAllowed" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of exchanges allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToFareClass" type="FareClassEnumeration" default="any" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fare class to which can exchange, if specifically limited.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToClassOfUseRef" type="ClassOfUseRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fare class to which can exchange, if specifically limited.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExchangableTo" type="ExchangableToEnumeration" default="anyProduct" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of fare for which product can be exchanged.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== REFUNDING================================================= -->
	<xsd:element name="Refunding" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Whether and how the product may be refunded.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Refunding_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ResellingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RefundingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RefundingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Refunding_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for REFUNDING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Reselling_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RefundingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RefundingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for REFUNDING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RefundType" type="RefundTypeEnumeration" default="unused" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Refund.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RefundPolicy" type="RefundPolicyListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reasons for giving refunds. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PartialRefundBasis" type="PartialRefundBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Basis on which partial refunds of period passes etc are calculated. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PaymentMethod" type="PaymentMethodListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED - use  PaymentMethods on RESELLING</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ==== REPLACING ================================================== -->
	<xsd:element name="Replacing" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Whether the product can be replaced if lost or stolen.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Replacing_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ResellingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ReplacingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ReplacingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Replacing_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for REPLACING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Reselling_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ReplacingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ReplacingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for REPLACING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ====TRANSFERABILITY=================================================== -->
	<xsd:element name="Transferability" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The number and characteristics of persons entitled to use the public transport service instead of the original customer.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Transferability_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransferabilityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TransferabilityIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Transferability_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TRANSFERABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TransferabilityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TransferabilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TRANSFERABILITY Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CanTransfer" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ticket can be transferred to another.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfNamedTransferees" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If product can be used by a named group , eg  parents of a family, maximum number of named holders allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasTransferFee" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a fee for transferring ticket or travel document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SharedUsage" type="SharedUsageEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates the nature of the permitted sharing, if any,  of products that can be shared, e.g.  trips from a multi-trip carnet. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
