XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_fareStructureElement_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_fareStructureElement_version">
	<xsd:include schemaLocation="netex_fareStructureElement_support.xsd"/>
	<xsd:include schemaLocation="netex_validableElement_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_timeStructureFactor_version.xsd"/>
	<xsd:include schemaLocation="netex_distanceMatrixElement_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Date>
					<Modified>2017-10-10</Modified>Fix Allow multime   timeIntervals and GeographicIntervals in FareStructureElement as per UML
				</Date>
				<Date>
					<Modified>2017-10-10</Modified> Add Tariff notices, , document links and Line as Tariff info
				</Date>
				<Date>
					<Modified>2019-03-11</Modified>UK-55 Add new TypeOfFareStructureElement.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FARE STRUCTURE ELEMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_fareStructureElement_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE STRUCTURE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX FARE STRUCTURE ELEMENT  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME==== ================================================== -->
	<xsd:group name="FareFactorsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Fare factors in FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="GeographicFactorsInFrameGroup"/>
			<xsd:group ref="TimeFactorsInFrameGroup"/>
			<xsd:group ref="QualityFactorsInFrameGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="FareStructureElementsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Fare Structure elements in FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fareStructureElements" type="fareStructureElementsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FARE STRUCTURE ELEMENTs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tariffs" type="tariffsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TARIFFs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="fareStructureElementsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of FARE STUCTURE ELEMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="FareStructureElement" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tariffsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="Tariff" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====FARE STRUCTURE=================================================== -->
	<xsd:element name="Tariff" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A particular tariff, described by a combination of parameters.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Tariff_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TariffGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TariffIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Tariff_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TariffGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TariffGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="TariffDescriptionGroup"/>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:group ref="TariffOrganisationGroup" minOccurs="0"/>
			<xsd:group ref="TariffApplicabilityGroup" minOccurs="0"/>
			<xsd:group ref="TariffCalculationGroup"/>
			<xsd:group ref="TariffGeographicalGroup">
				<xsd:annotation>
					<xsd:documentation>Geographical Elements for TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="TariffTimeGroup">
				<xsd:annotation>
					<xsd:documentation>Time Elements for TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="TariffQualityGroup"/>
			<xsd:group ref="TariffStructureGroup"/>
			<xsd:group ref="TariffPriceGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffDescriptionGroup">
		<xsd:annotation>
			<xsd:documentation>Description Elements for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ATERNATIVE NAMEs for TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICE explaining TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentLinks" type="infoLinks_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timetable documents associated with the Tariff  e.g pdf files +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffCalculationGroup">
		<xsd:annotation>
			<xsd:documentation>Calculation Elements for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfTariffRef" minOccurs="0"/>
			<xsd:element name="TariffBasis" type="TariffBasisEnumeration" default="route" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of  Tariff Butasis. Defaut is Route (Tap TSI)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReturnFareTwiceSingle" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether return fare is  normally twice single fare. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffOrganisationGroup">
		<xsd:annotation>
			<xsd:documentation>Calculation Elements for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="OrganisationRef"/>
			<xsd:element ref="GroupOfOperatorsRef"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="TariffApplicabilityGroup">
		<xsd:annotation>
			<xsd:documentation>Applicability Elements for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="LineRef"/>
			<xsd:element ref="GroupOfLinesRef"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="TariffGeographicalGroup">
		<xsd:annotation>
			<xsd:documentation>Geographical Elements for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="GeographicalUnitRef" minOccurs="0"/>
			<xsd:element name="geographicalIntervals" type="geographicalIntervals_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GEOGRAPHICAL INTERVALs  making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geographicalStructureFactors" type="geographicalStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GEOGRAPHICAL STRUCTURE FACTORs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Time Elements for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimeUnitRef" minOccurs="0"/>
			<xsd:element name="timeIntervals" type="timeIntervals_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY PARAMETER ASSIGNMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStructureFactors" type="timeStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME STRUCTURE FACTORs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffQualityGroup">
		<xsd:annotation>
			<xsd:documentation>Quality Elements for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="qualityStructureFactors" type="qualityStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>QUALITY STRUCTURE ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffStructureGroup">
		<xsd:annotation>
			<xsd:documentation>Structure Elements for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fareStructureElements" type="fareStructureElements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FARE STRUCTURE ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="distanceMatrixElements" type="distanceMatrixElements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DISTANCE MATRIX ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfDistanceMatrixElements" type="groupsOfDistanceMatrixElements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPs of DISTANCE MATRIX ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Price Elements for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PriceUnitRef" minOccurs="0"/>
			<xsd:element name="priceGroups" type="priceGroups_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>QUALITY STRUCTURE ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fareTables" type="fareTables_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>QUALITY STRUCTURE ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==TYPE OF TARIFF======================================================= -->
	<xsd:element name="TypeOfTariff" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of TARIFFs according to their functional purpose.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfTariff_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfTariffIdType"/>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional" fixed="Tariff">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfTariff_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====FARE STRUCTURE ELEMENT.============================================= -->
	<xsd:complexType name="fareStructureElements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE STRUCTURE ELEMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareStructureElementRef"/>
					<xsd:element ref="FareStructureElement">
						<xsd:annotation>
							<xsd:documentation>A sequence or set of CONTROLLABLE ELEMENTs to which rules for limitation of access rights and calculation of prices (fare structure) are applied.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareStructureElement" abstract="false" substitutionGroup="PriceableObject">
		<xsd:annotation>
			<xsd:documentation>A sequence or set of CONTROLLABLE ELEMENTs to which rules for limitation of access rights and calculation of prices (fare structure) are applied.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareStructureElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureElementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareStructureElementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareStructureElement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PriceableObject_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FareStructureElementGroup"/>
				</xsd:sequence>
				<xsd:attribute name="nameOfClassOfUnit" type="NameOfClass">
					<xsd:annotation>
						<xsd:documentation>Name of  class associated with FARE STRUCTURE ELEMENT, eg DistanceMatrixElement, Series, UserProfile, ClassOfUSe.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareStructureElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TariffBasis" type="TariffBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Basis for tariff using element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfFareStructureElementRef" minOccurs="0"/>
			<xsd:group ref="FareStructureElementFactorGroup">
				<xsd:annotation>
					<xsd:documentation>FARE STRUCTURE FACTOR Elements for a FARE STRUCTURE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="FareStructureComponentGroup"/>
			<xsd:element name="prices" type="fareStructureElementPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs of FARE STRUCTURE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="FareStructureElementFactorGroup">
		<xsd:annotation>
			<xsd:documentation>FARE STRCUTURE FACTOR Elements for a FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="GeographicalIntervalRef"/>
				<xsd:element name="geographicalIntervals" type="geographicalIntervals_RelStructure">
					<xsd:annotation>
						<xsd:documentation>References to GEOGRAPHICAL INTERVALS  pertaining to FARE STRUCTURE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="geographicalStructureFactors" type="geographicalStructureFactors_RelStructure" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>References to GEOGRAPHICAL STRUCTURE FACTORs pertaining to FARE STRUCTURE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:element ref="TimeIntervalRef" minOccurs="0"/>
				<xsd:element name="timeIntervals" type="timeIntervals_RelStructure" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>References to TIME INTERVALS pertaining to FARE STRUCTURE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="timeStructureFactors" type="timeStructureFactors_RelStructure" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>References to TIME STRUCTURE FACTORs pertaining to FARE STRUCTURE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:element ref="QualityStructureFactorRef" minOccurs="0"/>
				<xsd:element name="qualityStructureFactors" type="qualityStructureFactors_RelStructure" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>References to QUALITY STRUCTURE FACTORs pertaining to FARE STRUCTURE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:element ref="DistanceMatrixElementRef"/>
				<xsd:element name="distanceMatrixElements" type="distanceMatrixElements_RelStructure">
					<xsd:annotation>
						<xsd:documentation>DiISTANCE MATRIX ELEMENTS IN FARE STRUCTURE.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="GroupOfDistanceMatrixElementsRef"/>
				<xsd:element ref="GroupOfDistanceMatrixElements" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="FareStructureComponentGroup">
		<xsd:annotation>
			<xsd:documentation>Component Elements for a FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fareStructureElementsInSequence" type="fareStructureElementsInSequence_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use of FARESTRUCTURE ELEMENTs in a particular sequence.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="OptimisedOneManyAssignmentGroup" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====FARE STRUCTURE ELEMENT IN SEQUENCE.============================= -->
	<xsd:complexType name="fareStructureElementsInSequence_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE STRUCTURE ELEMENT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareStructureElementInSequence"/>
					<xsd:element ref="ControllableElementInSequence"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareStructureElementInSequence" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>A FARE STRUCTURE ELEMENT as a part of a VALIDABLE ELEMENT, including its possible order in the sequence of FARE STRUCTURE ELEMENTs forming that VALIDABLE ELEMENT, and its possible quantitative limitation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareStructureElementInSequence_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareElementInSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureElementInSequenceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareStructureElementInSequenceIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareStructureElementInSequence_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareElementInSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FareStructureElementInSequenceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareStructureElementInSequenceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareStructureElementRef" minOccurs="0"/>
			<xsd:element ref="ValidableElementRef" minOccurs="0"/>
			<xsd:group ref="OptimisedOneManyAssignmentGroup" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- == FARE STRUCTURE ELEMENT PRICE.================================ -->
	<xsd:complexType name="fareStructureElementPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE STRUCTURE ELEMENT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareStructureElementPriceRef"/>
					<xsd:element name="FareStructureElementPrice" type="FareStructureElementPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a FARE STRUCTURE ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CellRef_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareStructureElementPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a FARE STRUCTURE ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareStructureElementPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureElementPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareStructureElementPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareStructureElementPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FARE STRUCTURE ELEMENT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FareStructureElementPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareStructureElementPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareStructureElementRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TYPE OF FARE STRUCTURE ELEMENT======================================= -->
	<xsd:element name="TypeOfFareStructureElement" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of FARE STRUCTURE ELEMENTs expressing their general functionalities .
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfFareStructureElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence/>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfFareStructureElementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfFareStructureElement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TYPE OF FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure">
				<xsd:group ref="TypeOfFareStructureElementGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TypeOfFareStructureElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TYPE OF FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
