XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_usageParameterAfterSales_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_usageParameterAfterSales_support">
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2013-04-14</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA-91 Add sameProductLongerJourney and sameProductShorterJourney to enumerated values for TypeOfExchange. attribute on   Exchanging element.
									Also EURA 68 -  add canTypeOfExchange.  changeGroupSize value	,  , and On RefundingElement  changeOfGroupSize to RefundTypeENumeration 				
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA 65 - Add a SharedUsage attribute to Transferability  to specify whether multiple users may use a product at the same time. oneAtATime, severalAtATime, severalSpecifiedCompanionsAtATime
				</Date>
				<Date>
					<Modified>2019-03-11</Modified>EURA-87 partial cancellations 
					   * Add RefundPolicy enum with values , illnes, redunancy, maternity, etc
					   * Add Effective from   enum with values 
					  * Add and RefundBasis  enum with values  unuseddays, unsuedweeks, unused, months, other
						 Subscriptions  - Add withinSpecified window value to PurchaseWhen enumeration attribute 
					     EURA-40 Suubscribing add unused and earlyTermination to RefundTypeEnumeration
					     
				</Date>
				<Date>
					<Modified>2019-03-12</Modified>NORWAY-102 *FARES*   Add  new enum values to  Exchanging  \  ExchangeableTo
						 * Values _upgradeToSpecifiedFare_, _downgradeToSpecifedFare_, _equivalentProduct_ ( 
				</Date>
				<Date>
					<Modified>2019-03-12</Modified>NORWAY-103 *FARES*   Add purchaseGracePeriod  new enum value   to  Reselling  \  ResellWhen 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the After Sales  USAGE PARAMETER types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterAfterSales_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
				 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE After Sales  USAGE PARAMETER identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: After Sales  USAGE PARAMETER identifier types.</xsd:documentation>
	</xsd:annotation>
	<xsd:group name="UsageParameterAfterSalesRefGroup">
		<xsd:annotation>
			<xsd:documentation>USAGE PARAMETER Elements forCELL.Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ExchangingRef" minOccurs="0"/>
			<xsd:element ref="RefundingRef" minOccurs="0"/>
			<xsd:element ref="ReplacingRef" minOccurs="0"/>
			<xsd:element name="TransferabilityRef" type="TransferabilityRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a TRANSFERABILITY PARAMETER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === RESELLING PARAMETER====================================================== -->
	<xsd:simpleType name="ResellingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a RESELLING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="ResellingRef" type="ResellingRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a RESELLING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ResellingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a RESELLING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="ResellingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a RESELLING USAGE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ResellTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ResellType.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="partial"/>
			<xsd:enumeration value="slidingScale"/>
			<xsd:enumeration value="full"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResellWhenEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Resell When.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="never"/>
			<xsd:enumeration value="withinPurchaseGracePeriod"/>
			<xsd:enumeration value="beforeStartOfValidity"/>
			<xsd:enumeration value="afterStartOfValidity"/>
			<xsd:enumeration value="afterEndOfValidity"/>
			<xsd:enumeration value="beforeFirstUse"/>
			<xsd:enumeration value="afterFirstUse"/>
			<xsd:enumeration value="beforeValidation"/>
			<xsd:enumeration value="afterValidation"/>
			<xsd:enumeration value="withinSpecifiedWindow"/>
			<xsd:enumeration value="anyTime"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EffectiveFromEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for EffectiveFrom</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="never"/>
			<xsd:enumeration value="nextInterval"/>
			<xsd:enumeration value="nextInstallment"/>
			<xsd:enumeration value="anyTime"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === EXCHANGING PARAMETER====================================================== -->
	<xsd:simpleType name="ExchangingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a EXCHANGING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ResellingIdType"/>
	</xsd:simpleType>
	<xsd:element name="ExchangingRef" type="ExchangingRefStructure" substitutionGroup="ResellingRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a EXCHANGING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ExchangingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a EXCHANGING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ResellingRefStructure">
				<xsd:attribute name="ref" type="ExchangingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a EXCHANGING USAGE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ExchangableToEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Exchangeable to.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="anyProduct"/>
			<xsd:enumeration value="sameProductSameDay"/>
			<xsd:enumeration value="sameProductAnyDay"/>
			<xsd:enumeration value="sameProductLongerJourney"/>
			<xsd:enumeration value="sameProductShorterJourney"/>
			<xsd:enumeration value="upgradeToStandardFare"/>
			<xsd:enumeration value="upgradeToSpecifiedFare"/>
			<xsd:enumeration value="downgradeToSpecifiedFare"/>
			<xsd:enumeration value="equivalentProduct"/>
			<xsd:enumeration value="changeGroupSize"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === REFUNDING PARAMETER====================================================== -->
	<xsd:simpleType name="RefundingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a REFUNDING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ResellingIdType"/>
	</xsd:simpleType>
	<xsd:element name="RefundingRef" type="RefundingRefStructure" substitutionGroup="ResellingRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a REFUNDING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RefundingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a REFUNDING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ResellingRefStructure">
				<xsd:attribute name="ref" type="RefundingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a REFUNDING USAGE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="RefundTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Refunding Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="unused">
				<xsd:annotation>
					<xsd:documentation>Refund for unused ticket or pass.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="delay">
				<xsd:annotation>
					<xsd:documentation>Refund is for delayed journey.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="cancellation">
				<xsd:annotation>
					<xsd:documentation>Refund is for cancelled journey.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="partialJourney">
				<xsd:annotation>
					<xsd:documentation>Refund is for unusued section of a journey.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="earlyTermination">
				<xsd:annotation>
					<xsd:documentation>Partial refund is for  early termination of a period pass or season ticket.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="changeOfGroupSize">
				<xsd:annotation>
					<xsd:documentation>Refund for change of group size.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RefundPolicyEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Refund Policy</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="illness"/>
			<xsd:enumeration value="death"/>
			<xsd:enumeration value="maternity"/>
			<xsd:enumeration value="redundancy"/>
			<xsd:enumeration value="changeOfEmployment"/>
			<xsd:enumeration value="changeOfResidence"/>
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RefundPolicyListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Refund Policy values.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="RefundPolicyEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="PartialRefundBasisEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Refund Basis.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="unusedDays">
				<xsd:annotation>
					<xsd:documentation>Refund is given for any unused days. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="unusedWeeks">
				<xsd:annotation>
					<xsd:documentation>Refund is given for any unused weeks </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="unusedMonths">
				<xsd:annotation>
					<xsd:documentation>Refund is given for any unused months</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="unusedSemesters"/>
			<xsd:enumeration value="other">
				<xsd:annotation>
					<xsd:documentation>Other basis. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === REPLACING PARAMETER====================================================== -->
	<xsd:simpleType name="ReplacingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a REPLACING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ResellingIdType"/>
	</xsd:simpleType>
	<xsd:element name="ReplacingRef" type="ReplacingRefStructure" substitutionGroup="ResellingRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a REPLACING PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ReplacingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a REPLACING USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ResellingRefStructure">
				<xsd:attribute name="ref" type="ReplacingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a REPLACING USAGE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === TRANSFERABILITY PARAMETER====================================================== -->
	<xsd:simpleType name="TransferabilityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRANSFERABILITY USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="TransferabilityRef" type="TransferabilityRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRANSFERABILITY USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TransferabilityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TRANSFERABILITY USAGE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="TransferabilityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRANSFERABILITY USAGE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SharedUsageEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Shared Usage.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="singleUser">
				<xsd:annotation>
					<xsd:documentation>Only one user may use the product at a time. E.g. a mobile app carnet of tickets may only restricted to  be used by the mobile device  holder. </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="concurrentUsers">
				<xsd:annotation>
					<xsd:documentation>Several users  may use the same product at a time. E.g. a carnet of tickets may be shared with several  users other than the purchaser.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="concurrentDesignatedUsers">
				<xsd:annotation>
					<xsd:documentation>Several users (but only of a specifed type of companion) may use the same product at a time. E.g.  a mobile app carnet of tickets may be shared with children but not others.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
