XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_qualityStructureFactor_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_qualityStructureFactor_version">
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_timeDemandType_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_support.xsd"/>
	<xsd:include schemaLocation="netex_qualityStructureFactor_support.xsd"/>
	<xsd:include schemaLocation="netex_distanceMatrixElement_support.xsd"/>
	<xsd:include schemaLocation="netex_fareStructure_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_fareStructure_version.xsd"/>
	<xsd:include schemaLocation="netex_farePrice_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date>
					<Modified>2019-03-11</Modified>EURA-72 Add arrivalTtime to TimeAtAstop and indicate into / out of / through constraint.. 
					 Also Make Start Time at STop Optional
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the QUALIY STRUCTURE FACTOR types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_qualityStructureFactor_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
						<Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx QUALITY STRUCTURE FACTOR types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: QUALITY STRUCTURE FACTOR  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="QualityFactorsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Quality factors in FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="qualityStructureFactors" type="qualityStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>QUALITY STRUCTURE FACTORS in  Frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== QUALITY STRUCTURE FACTOR.============================= -->
	<xsd:complexType name="qualityStructureFactors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of QUALITY STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="QualityStructureFactorRef"/>
					<xsd:element ref="QualityStructureFactor_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="QualityStructureFactor_" type="DataManagedObjectStructure" abstract="true" substitutionGroup="PriceableObject_">
		<xsd:annotation>
			<xsd:documentation>Dummy type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualityStructureFactor" abstract="false" substitutionGroup="QualityStructureFactor_">
		<xsd:annotation>
			<xsd:documentation>The value of a QUALITY INTERVAL or a DISTANCE MATRIX ELEMENT expressed by a QUALITY UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="QualityStructureFactor_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="PrivateCode" minOccurs="0"/>
							<xsd:element ref="TypeOfFareStructureFactorRef" minOccurs="0"/>
							<xsd:element name="Factor" type="xsd:anyType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Factor value associated with QUALITY STRUCTURE FACTOR.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="QualityStructureFactorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="QualityStructureFactorIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="QualityStructureFactor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for QUALITY STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareStructureFactor_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="QualityStructureFactorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="QualityStructureFactorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a QUALITY STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Value" type="xsd:anyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Value associated with QUALITY STRUCTURE FACTOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="qualityStructureFactorPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs for QUALITY STRUCTURE FACTOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==  QULAITY STRUCTURE FACTOR PRICE.================================ -->
	<xsd:complexType name="qualityStructureFactorPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of QUALITY STRUCTURE FACTOR PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="QualityStructureFactorPriceRef"/>
					<xsd:element name="QualityStructureFactorPrice" type="QualityStructureFactorPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a QUALITY STRUCTURE FACTOR : default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CellRef_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="QualityStructureFactorPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a QUALITY STRUCTURE FACTOR: default total price etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="QualityStructureFactorPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="QualityStructureFactorPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="QualityStructureFactorPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="QualityStructureFactorPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a QUALITY STRUCTURE FACTOR PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="QualityStructureFactorPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="QualityStructureFactorPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="QualityStructureFactorRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== FARE DEMAND  FACTOR.============================= -->
	<xsd:complexType name="fareDemandFactors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE DEMAND FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareDemandFactorRef"/>
					<xsd:element ref="FareDemandFactor"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareDemandFactor" abstract="false" substitutionGroup="QualityStructureFactor_">
		<xsd:annotation>
			<xsd:documentation>The value of a QUALITY INTERVAL or a DISTANCE MATRIX ELEMENT expressed by a QUALITY UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareDemandFactor_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="PrivateCode" minOccurs="0"/>
							<xsd:element ref="TypeOfFareStructureFactorRef" minOccurs="0"/>
							<xsd:element name="Factor" type="xsd:anyType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Factor value associated with FARE EDMAND FACTOR.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="QualityStructureFactorGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareDemandFactorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareDemandFactorIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareDemandFactor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE DEMAND FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="QualityStructureFactor_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FareDemandFactorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareDemandFactorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE DEMAND FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FareDemandType" type="FareDemandTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of demand using standard allowed values.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TimeDemandTypeRef" minOccurs="0"/>
			<xsd:element name="StopUseConstraint" type="StopUseConstraintEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of constraint on uses of stop</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startTimesAtStopPoints" type="startTimeAtStopPoints_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start times at SCHEDULED STOP POINTS refining  FARE DEMAND FACTOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== FARE DEMAND  FACTOR.============================= -->
	<xsd:complexType name="fareQuotaFactors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE QUOTA FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareQuotaFactorRef"/>
					<xsd:element ref="FareQuotaFactor"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareQuotaFactor" abstract="false" substitutionGroup="QualityStructureFactor_">
		<xsd:annotation>
			<xsd:documentation>A named set of parameters defining the number of quota fares available. of a given denomination.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareQuotaFactor_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="PrivateCode" minOccurs="0"/>
							<xsd:element ref="TypeOfFareStructureFactorRef" minOccurs="0"/>
							<xsd:element name="Factor" type="xsd:anyType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Factor value associated with FARE QUOTA FACTOR</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="QualityStructureFactorGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareQuotaFactorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareQuotaFactorIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareQuotaFactor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE QUOTA FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="QualityStructureFactor_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FareQuotaFactorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareQuotaFactorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE QUOTA FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberOfUnits" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of units available of product at a given price.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====START TIME AT STOP (For FARE DEMAD FACTOR) .============================= -->
	<xsd:complexType name="startTimeAtStopPoints_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of START TIME AT STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="StartTimeAtStopPointRef"/>
					<xsd:element ref="StartTimeAtStopPoint"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="StartTimeAtStopPoint" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>A time at which a Fare demand  time band ( peak, off peak, etc  ) is deemed to begin  or end for trips at a particular SCHEDULED STOP POINT.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="StartTimeAtStopPoint_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StartTimeAtStopPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="StartTimeAtStopPointIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="StartTimeAtStopPoint_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for START TIME AT STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="StartTimeAtStopPointGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="StartTimeAtStopPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a START TIME AT STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareDemandFactorRef" minOccurs="0"/>
			<xsd:element ref="ScheduledStopPointRef"/>
			<xsd:element name="StartTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time at stop at which FARE DEMAND PERIOD starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time at stop at whichARE DEMAND PERIODends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayOffset" type="DayOffsetType" default="0" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Day Offset for end time from start time. 0= same day.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
