XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_accessRightParameter_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_accessRightParameter_support">
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_farePrice_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date>
					<Modified>2019-04-18</Modified>FIX  - SUpport Place to Place travel (ADDRESS and TOPOGRAPHICAL PLACE) : Add PlaceUse enum 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FARE ACCESS RIGHT ASSIGNMENT identifier types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_accessRightParameter_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Fare ACCESS RIGHT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx  ACCESS RIGHT ASSIGNMENT identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====ACCESS RIGHT PARAMETER ASSIGNMENT======================================================== -->
	<xsd:simpleType name="AccessRightParameterAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="AccessRightParameterAssignmentRefStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to an ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="AccessRightParameterAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ChargingBasisEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TariffBasis.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="normalFare"/>
			<xsd:enumeration value="discounted"/>
			<xsd:enumeration value="free"/>
			<xsd:enumeration value="various"/>
			<xsd:enumeration value="any"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PlaceUseEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for PlaceUsage</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="startAt"/>
			<xsd:enumeration value="endAt"/>
			<xsd:enumeration value="via"/>
			<xsd:enumeration value="restrictTo"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === VALIDITY PARAMETER====================================================== -->
	<xsd:simpleType name="ValidityParameterAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VALIDITY PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessRightParameterAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="ValidityParameterAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a VALIDITY PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessRightParameterAssignmentRefStructure">
				<xsd:attribute name="ref" type="ValidityParameterAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VALIDITY PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === GENERIC PARAMETER====================================================== -->
	<xsd:simpleType name="GenericParameterAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GENERIC PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ValidityParameterAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="GenericParameterAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GENERIC PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ValidityParameterAssignmentRefStructure">
				<xsd:attribute name="ref" type="GenericParameterAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GENERIC PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === VALIDITY PARAMETER====================================================== -->
	<xsd:simpleType name="ControlParameterAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CONTROL PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessRightParameterAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="ControlParameterAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CONTROL PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessRightParameterAssignmentRefStructure">
				<xsd:attribute name="ref" type="ControlParameterAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CONTROL PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === DEVICE PARAMETER====================================================== -->
	<xsd:simpleType name="DeviceParameterAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DEVICE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccessRightParameterAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="DeviceParameterAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a DEVICE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccessRightParameterAssignmentRefStructure">
				<xsd:attribute name="ref" type="DeviceParameterAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DEVICE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF ACCESS RIGHT ASSIGNMENT ================================================== -->
	<xsd:complexType name="TypeOfAccessRightAssignmentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF ACCESS RIGHT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfAccessRightAssignmentRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfAccessRightAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF ACCESS RIGHT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfAccessRightAssignmentRef" type="TypeOfAccessRightAssignmentRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF ACCESS RIGHT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfAccessRightAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF ACCESS RIGHT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfAccessRightAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF ACCESS RIGHT ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
