XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_trip_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_trip_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.022EN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2021-05-14</Created>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the component of the TRIP model types.</p>
					<p>Note that the TRIP model is not in itself part of NeTEx (but is fully defined by Transmodel): this file is here to allow external 
		references to TRIPs and TRIP LEGs while keeping a strong typing. TRIPs and TRIP LEGs themselves are expected to be defined in external files and outside of NeTEx.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_trip_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_usageParameterTravel_support.xsd</Requires>
				</Relation>
				<Rights>Unclassified
				 <Copyright>CEN, Crown Copyright 2009-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,   standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE Travel USAGE PARAMETER types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: Trip identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===  TRIP PATTERN ====================================================== -->
	<xsd:simpleType name="TripPatternIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRIP PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="TripPatternTripRef" type="TripPatternRefStructure" substitutionGroup="LinkSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRIP PATTERN.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TripPatternRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TRIP PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkSequenceRefStructure">
				<xsd:attribute name="ref" type="TripPatternIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRIP PATTERN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===  TRIP ====================================================== -->
	<xsd:simpleType name="TripIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRIP.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="TripRef" type="TripRefStructure" substitutionGroup="LinkSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRIP.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TripRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TRIP.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkSequenceRefStructure">
				<xsd:attribute name="ref" type="TripIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRIP.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===  TRIP PATTERN ====================================================== -->
	<xsd:simpleType name="TripLegIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRIP LEG.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="TripLegRef" type="TripLegRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRIP LEG.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TripLegRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TRIP LEG.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionOfObjectRefStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- === TRIP  P ====================================================== -->
</xsd:schema>
