XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_usageParameterTravel_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_usageParameterTravel_support">
	<xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Modified>2017-04-10</Modified>
					Add extra value to FrequencyOfUseENum
				</Date>
				<Date>
					<Created>2013-04-14</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified> Name Space changes 
				</Date>
				<Date>
					<Modified>2019-03-09</Modified> EURA 051 Add  enumeration values to RoundTripType  returnOut returnBack  so as to disstinguish legs . ALso add documentation  annotations
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA-073 Add an UsageStartConstraintTypeEnumeration for UsageStartConstraintType attribute for  UsageValidityPeriod  to specify  if start is floating or fixed. 
							  * Also add enrolment and  reservation enum value to UsageTriggerEnumeration
							  * Also add eligibilityExpiry and deregistration enum value to UsageEndEnumeration
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA-094   * Add networks, operators and countries to enum values for StepLimit 
				</Date>
				<Date>
					<Modified>2019-03-11</Modified>EURA-073 Add StartConstraintType enumeration  for UsageValidityPeriod  StartConstraintType attribute to UsageValidityPeriod  to specify  if start is floating or fixed.   
					   * EURA-78 Add fixedWindow enum values 
					   * NORWAY-98 Add activation to UsageTriggerEnumeration
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA-40 Support Suspension    U  
					 * Add __SubscriptionSuspensionPolicyEnumeration___ attribute with enumeration   values:  
								* _none_ - Suspension not allowed.
								* _forCertifiedIllness_ - Suspension allowed for illness.
								* _forParentalLeave_ - Suspension allowed for parental leave.
								* _forHoliday_ - Suspension allowed for Holiday.
							* _forAnyReason_ - Suspension allowed for any reason   
				</Date>
				<Date>
					<Modified>2019-03-12</Modified>EURA-093 Add  new attribute RegisterBreakOfJourney  to Interchanging with values    none,   markByStaff,  markByValidator,  markByMobileApp , 		
	 						EURA-085  Add  new attribute ActivationMeans  with values  none required,, checkIn,  useOfValidato useOfMobileDevice, automaticByTime,  automaticByProximity, other				
				</Date>
				<Date>
					<Modified>2019-04-02</Modified>Doc tidy Add  new vale _cap_ to  UsageValidityType			
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the Travel USAGE PARAMETER  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterTravel_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_usageParameterTravel_support.xsd</Requires>
				</Relation>
				<Rights>Unclassified
				 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE Travel USAGE PARAMETER types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: Travel USAGE PARAMETER identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- === TRAVEL=========================================== -->
	<xsd:group name="UsageParameterTravelRefGroup">
		<xsd:annotation>
			<xsd:documentation>USAGE PARAMETER Elements forCELL.Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="InterchangingRef" minOccurs="0"/>
			<xsd:element name="FrequencyOfUseRef" type="FrequencyOfUseRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a FREQUENCY OF USE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MinimumStayRef" minOccurs="0"/>
			<xsd:element name="RoundTripRef" type="RoundTripRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a ROUND TRIP PARAMETER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RoutingRef" minOccurs="0"/>
			<xsd:element name="UsageValidityPeriodRef" type="UsageValidityPeriodRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === ROUND TRIP PARAMETER====================================================== -->
	<xsd:simpleType name="RoundTripIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUND TRIP PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="RoundTripRef" type="RoundTripRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUND TRIP PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoundTripRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ROUND TRIP PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="RoundTripIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ROUND TRIP PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="RoutingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUTING PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:simpleType name="RoundTripTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ROUND TRIP Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="single">
				<xsd:annotation>
					<xsd:documentation>Single trip</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="return">
				<xsd:annotation>
					<xsd:documentation>Return trip between the same origin and destination </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="returnOut">
				<xsd:annotation>
					<xsd:documentation>Outward part of a return trip.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="returnBack">
				<xsd:annotation>
					<xsd:documentation>Return part of a return trip.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="returnOnly"/>
			<xsd:enumeration value="multiple">
				<xsd:annotation>
					<xsd:documentation>Multtrip carnet.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === ROUTING PARAMETER====================================================== -->
	<xsd:element name="RoutingRef" type="RoutingRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUTING PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoutingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ROUTING PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="RoutingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ROUTING PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === STEP LIMIT PARAMETER====================================================== -->
	<xsd:simpleType name="StepLimitIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STEP LIMIT PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="StepLimitRef" type="StepLimitRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STEP LIMIT PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StepLimitRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a STEP LIMIT PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="StepLimitIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STEP LIMIT PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="StepLimitUnitEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for STEP LIMIT UNIT Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="stops"/>
			<xsd:enumeration value="stopsIncludingPassThroughStops"/>
			<xsd:enumeration value="sections"/>
			<xsd:enumeration value="zones"/>
			<xsd:enumeration value="networks"/>
			<xsd:enumeration value="operators"/>
			<xsd:enumeration value="countries"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === USAGE VALIDITY PERIOD  PARAMETER====================================================== -->
	<xsd:simpleType name="UsageValidityPeriodIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a USAGE VALIDITY PERIOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="UsageValidityPeriodRef" type="UsageValidityPeriodRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a USAGE VALIDITY PERIOD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UsageValidityPeriodRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a USAGE VALIDITY PERIOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="UsageValidityPeriodIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a USAGE VALIDITY PERIOD.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="UsageValidityTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Usage Validity Period Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="singleRide"/>
			<xsd:enumeration value="singleTrip"/>
			<xsd:enumeration value="returnTrip"/>
			<xsd:enumeration value="carnet"/>
			<xsd:enumeration value="dayPass"/>
			<xsd:enumeration value="weeklyPass"/>
			<xsd:enumeration value="weekendPass"/>
			<xsd:enumeration value="monthlyPass"/>
			<xsd:enumeration value="annualPass"/>
			<xsd:enumeration value="seasonTicket"/>
			<xsd:enumeration value="profileMembership"/>
			<xsd:enumeration value="subscription"/>
			<xsd:enumeration value="openEnded"/>
			<xsd:enumeration value="cap"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BlackoutStartEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for BlackoutStart event.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="mayTravelAnytime"/>
			<xsd:enumeration value="noTravelWithinPeriod"/>
			<xsd:enumeration value="noTravelWithinTimeband"/>
			<xsd:enumeration value="mayCompleteIfStartedBefore"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UsageTriggerEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Usage Trigger.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="enrolment">
				<xsd:annotation>
					<xsd:documentation>Validity period starts when user registers (e.g. creates a customer account).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="reservation">
				<xsd:annotation>
					<xsd:documentation>Validity period starts when user makes a reservation.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="purchase">
				<xsd:annotation>
					<xsd:documentation>Validity period starts when user makes a purchase.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="fulfilment">
				<xsd:annotation>
					<xsd:documentation>Validity period starts when user collects their travel documents.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="activation">
				<xsd:annotation>
					<xsd:documentation>Validity period starts when user activates a product.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="specifiedStartDate">
				<xsd:annotation>
					<xsd:documentation>Validity period starts on date specified on produc..</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="startOutboundRide">
				<xsd:annotation>
					<xsd:documentation>Validity period starts on commencement of outbound trip.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="endOutboundRide">
				<xsd:annotation>
					<xsd:documentation>Validity period starts on completion of outbound trip of a return or multi-part trip.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="startReturnRide">
				<xsd:annotation>
					<xsd:documentation>Validity period starts on commencement of return trip.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="startOfPeriod">
				<xsd:annotation>
					<xsd:documentation>Validity period starts at beginning of interval specified for product   (e.g.  every month  for a monthly pass that renews automatically).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="dayOffsetBeforeCalendarPeriod">
				<xsd:annotation>
					<xsd:documentation>Validity period starts a specifed number of days before  beginning of specified start date .</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActivationMeansEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Activation Means</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="noneRequired"/>
			<xsd:enumeration value="checkIn"/>
			<xsd:enumeration value="useOfValidator"/>
			<xsd:enumeration value="useOfMobileDevice"/>
			<xsd:enumeration value="automaticByTime"/>
			<xsd:enumeration value="automaticByProximity"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UsageEndEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Usage End.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="standardDuration"/>
			<xsd:enumeration value="endOfCalendarPeriod"/>
			<xsd:enumeration value="endOfRide"/>
			<xsd:enumeration value="endOfTrip"/>
			<xsd:enumeration value="endOfFareDay"/>
			<xsd:enumeration value="endOfFarePeriod"/>
			<xsd:enumeration value="productExpiry"/>
			<xsd:enumeration value="profileExpiry"/>
			<xsd:enumeration value="deregistration"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UsageStartConstraintTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Usage Validity Period Start constraint.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="variable">
				<xsd:annotation>
					<xsd:documentation>Validity start date can be chosen by user.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="fixed">
				<xsd:annotation>
					<xsd:documentation>Validity start date is constrained. For a pass to certain days of week, month or year. For a trip to a specific train.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="fixedWindow">
				<xsd:annotation>
					<xsd:documentation>Validity start date for a trip  is constrained relative to  start of booked service, eg may catch previous train as well.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === SUSPENDING  PARAMETER====================================================== -->
	<xsd:simpleType name="SuspendingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SUSPENDING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="SuspendingRef" type="SuspendingRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SUSPENDING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SuspendingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SUSPENDING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="SuspendingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SUSPENDING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SuspensionPolicyEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Suspension Policy.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none">
				<xsd:annotation>
					<xsd:documentation>Suspension not allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="forCertifiedIllness">
				<xsd:annotation>
					<xsd:documentation>Suspension allowed for illness.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="forParentalLeave">
				<xsd:annotation>
					<xsd:documentation>Suspension allowed  for parental leave.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="forHoliday">
				<xsd:annotation>
					<xsd:documentation>Suspension allowed  for holiday.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="forAnyReason">
				<xsd:annotation>
					<xsd:documentation>Suspension allowed  for any reason.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SuspensionPolicyListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of  Suspension Policiy values</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="SuspensionPolicyEnumeration"/>
	</xsd:simpleType>
	<!-- === FREQUENCY OF USE PARAMETER====================================================== -->
	<xsd:simpleType name="FrequencyOfUseTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for FREQUENCY OF USE Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none">
				<xsd:annotation>
					<xsd:documentation>Product may not be used within allowed period.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="unlimited">
				<xsd:annotation>
					<xsd:documentation>Unlimted use may be made of the product within allowed period.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="limited">
				<xsd:annotation>
					<xsd:documentation>Product may be used up to  a limited amount within allowed period.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="twiceADay">
				<xsd:annotation>
					<xsd:documentation>Product may be used twice a day within allowed period.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="single">
				<xsd:annotation>
					<xsd:documentation>Product may  be used once within allowed period.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FrequencyOfUseIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FREQUENCY OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="FrequencyOfUseRef" type="FrequencyOfUseRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FREQUENCY OF USE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FrequencyOfUseRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FREQUENCY OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="FrequencyOfUseIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FREQUENCY OF USE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===  INTERCHANGING PARAMETER====================================================== -->
	<xsd:simpleType name="InterchangingTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for INTERCHANGING Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unlimited"/>
			<xsd:enumeration value="limited"/>
			<xsd:enumeration value="single"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InterchangingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a INTERCHANGING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="InterchangingRef" type="InterchangingRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a INTERCHANGING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InterchangingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a INTERCHANGING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="InterchangingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a INTERCHANGING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="RegisterBreakOfJourneyEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Register Break of Journey.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none">
				<xsd:annotation>
					<xsd:documentation>No action needed.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="markByStaff">
				<xsd:annotation>
					<xsd:documentation>JourneyBreak must be marked by operator staff.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="markByValidator">
				<xsd:annotation>
					<xsd:documentation>Journey Break must be marked by validator.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="markByMobileApp">
				<xsd:annotation>
					<xsd:documentation>Journey Break must be marked using mobile application.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other">
				<xsd:annotation>
					<xsd:documentation>Journey Break must be marked by othermeans.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RegisterBreakOfJourneyListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of  Register Break of Journey. values</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="SuspensionPolicyEnumeration"/>
	</xsd:simpleType>
	<!-- === MINIMUM STAY  PARAMETER====================================================== -->
	<xsd:simpleType name="MinimumStayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MINIMUM STAY PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="MinimumStayRef" type="MinimumStayRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MINIMUM STAY PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MinimumStayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a MINIMUM STAY PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="MinimumStayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a MINIMUM STAY PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="MinimumStayTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for MINIMUM STAY Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="specifiedNightsAway"/>
			<xsd:enumeration value="countNightsAway"/>
			<xsd:enumeration value="both"/>
			<xsd:enumeration value="either"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
