XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_usageParameterEntitlement_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_usageParameterEntitlement_support">
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes  
				</Date>
				<Date>
					<Modified>2019-03-12</Modified>UK-45 	Add support for constrints on dependent products 		
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the ENTITLEMENT USAGE PARAMETER    types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterEntitlement_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/fares/netex_usageParameterEntitlement_support</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9</Project>
				</Subject>
				<Title>NeTEx FARE Entitlement USAGE PARAMETER identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: Entitlement USAGE PARAMETER identifier types.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
	<!-- === ENTTITLEMENT REQUIRED PARAMETER======================================= -->
	<xsd:complexType name="entitlementRequiredRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for references to a ENTITLEMENT REQUIRED PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="EntitlementRequiredRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="EntitlementRequiredIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ENTITLEMENT REQUIRED PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="EntitlementRequiredRef" type="EntitlementRequiredRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ENTITLEMENT REQUIRED PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EntitlementRequiredRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ENTITLEMENT REQUIRED PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="EntitlementRequiredIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ENTITLEMENT REQUIRED PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === ENTTITLEMENT GIven PARAMETER======================================= -->
	<xsd:complexType name="entitlementGivenRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for references to a ENTITLEMENT GIVEN PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="EntitlementGivenRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="EntitlementGivenIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ENTITLEMENT GIVEN PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="EntitlementGivenRef" type="EntitlementGivenRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ENTITLEMENT GIVEN PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EntitlementGivenRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ENTITLEMENT GIVEN PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="EntitlementGivenIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ENTITLEMENT GIVEN PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === ENTTITLEMENT ENUMERATIONS====================================== -->
	<xsd:simpleType name="EntitlementTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ENTITLEMENT TYPE Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="purchase"/>
			<xsd:enumeration value="purchaseAtDiscount"/>
			<xsd:enumeration value="use"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SamePeriodEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Period ENTITLEMENT CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="samePeriod"/>
			<xsd:enumeration value="withinSamePeriod"/>
			<xsd:enumeration value="sameDay"/>
			<xsd:enumeration value="sameDayOfReturn"/>
			<xsd:enumeration value="sameFareDay"/>
			<xsd:enumeration value="nextDay"/>
			<xsd:enumeration value="different"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SameStopEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Stop ENTITLEMENT CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="sameAsOrigin"/>
			<xsd:enumeration value="sameAsDestination"/>
			<xsd:enumeration value="sameAsOriginOrDestination"/>
			<xsd:enumeration value="anyStopOnRoute"/>
			<xsd:enumeration value="anyStopInZone"/>
			<xsd:enumeration value="different"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SameZoneEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Zone ENTITLEMENT CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="same"/>
			<xsd:enumeration value="sameAsOrigin"/>
			<xsd:enumeration value="sameAsDestination"/>
			<xsd:enumeration value="sameAsOriginOrDestination"/>
			<xsd:enumeration value="within"/>
			<xsd:enumeration value="containing"/>
			<xsd:enumeration value="equivalent"/>
			<xsd:enumeration value="different"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SameRouteEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Route ENTITLEMENT CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="same"/>
			<xsd:enumeration value="oppositeDirection"/>
			<xsd:enumeration value="different"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SameOperatorEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Operator ENTITLEMENT CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="same"/>
			<xsd:enumeration value="participating"/>
			<xsd:enumeration value="different"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SameClassOfUseEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Class of Use ENTITLEMENT CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="same"/>
			<xsd:enumeration value="sameOrEquivalent"/>
			<xsd:enumeration value="different"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SameJourneyEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Journey ENTITLEMENT CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="same"/>
			<xsd:enumeration value="similar"/>
			<xsd:enumeration value="different"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SameTypeOfProductCategoryEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Type of Product category ENTITLEMENT CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="same"/>
			<xsd:enumeration value="sameOrEquivalent"/>
			<xsd:enumeration value="different"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SameTypeOfTravelDocumentEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Type of Trave lDocument ENTITLEMENT CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="same"/>
			<xsd:enumeration value="sameMedia"/>
			<xsd:enumeration value="sameSmartcard"/>
			<xsd:enumeration value="sameMobileApp"/>
			<xsd:enumeration value="different"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SameUserEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for User ENTITLEMENT CONSTRAINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="samePerson"/>
			<xsd:enumeration value="differentPerson"/> 
			<xsd:enumeration value="anyOne"/>
			<xsd:enumeration value="specific"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
