XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_salesDistribution_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_salesDistribution_support">
	<xsd:include schemaLocation="netex_farePrice_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2013-04-10</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes 
				</Date>
				<Date>
					<Modified>2019-03-07</Modified>EURA-40 Subscriptions Add onlineAccount to enumerations  of  DistributionChannelType
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA-67 Add courier value to FulfilmentMethod  enumeration.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SALES DISTRIBUTION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_salesDistribution_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
				 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SALES DISTRIBUTION identifier  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx SALES DISTRIBUTION identifier  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====FULFILMENT METHOD.=============================================== -->
	<xsd:complexType name="fulfilmentMethodRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a FULFILMENT METHOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="FulfilmentMethodRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="FulfilmentMethodIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FULFILMENT METHOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PriceableObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FulfilmentMethodRef" type="FulfilmentMethodRefStructure" substitutionGroup="PriceableObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FULFILMENT METHOD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FulfilmentMethodRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FULFILMENT METHOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PriceableObjectRefStructure">
				<xsd:attribute name="ref" type="FulfilmentMethodIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FULFILMENT METHOD.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="FulfilmentMethodTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for FULFILMENT METHOD. Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="ticketOffice"/>
			<xsd:enumeration value="ticketMachine"/>
			<xsd:enumeration value="conductor"/>
			<xsd:enumeration value="agent"/>
			<xsd:enumeration value="post"/>
			<xsd:enumeration value="courier"/>
			<xsd:enumeration value="selfprint"/>
			<xsd:enumeration value="sms"/>
			<xsd:enumeration value="email"/>
			<xsd:enumeration value="topUpDevice"/>
			<xsd:enumeration value="validator"/>
			<xsd:enumeration value="mobileApp"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FulfilmentMethodListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of values for FULFILMENT METHODS.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="FulfilmentMethodTypeEnumeration"/>
	</xsd:simpleType>
	<!-- ====DISTRIBUTION CHANNEL.======================================================== -->
	<xsd:complexType name="distributionChannelRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a DISTRIBUTION CHANNEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="DistributionChannelRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="DistributionChannelIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DISTRIBUTION CHANNEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="DistributionChannelRef" type="DistributionChannelRefStructureElement" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DISTRIBUTION CHANNEL.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DistributionChannelRefStructureElement">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a DISTRIBUTION CHANNEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="DistributionChannelIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DISTRIBUTION CHANNEL.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DistributionChannelTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for DISTRIBUTION CHANNEL TYPE Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="atStop"/>
			<xsd:enumeration value="onBoard"/>
			<xsd:enumeration value="online"/>
			<xsd:enumeration value="onlineAccount"/>
			<xsd:enumeration value="telephone"/>
			<xsd:enumeration value="electronicPass"/>
			<xsd:enumeration value="postal"/>
			<xsd:enumeration value="mobileDevice"/>
			<xsd:enumeration value="agency"/>
			<xsd:enumeration value="tourOperator"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="AllDistributionChannelsRef" type="AllDistributionChannelsRefStructureElement" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to   All DISTRIBUTION CHANNELs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AllDistributionChannelsRefStructureElement">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a DISTRIBUTION CHANNEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="DistributionChannelIdType" use="required" fixed="All">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF VALUE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====GROUP OF DISTRIBUTION CHANNELs.======================================================== -->
	<xsd:simpleType name="GroupOfDistributionChannelsIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF DISTRIBUTION CHANNELs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="GroupOfDistributionChannelsRef" type="GroupOfDistributionChannelsRefStructure" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP OF DISTRIBUTION CHANNELs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfDistributionChannelsRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GROUP OF DISTRIBUTION CHANNELs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="GroupOfDistributionChannelsIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF DISTRIBUTION CHANNELs.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:group name="OneAllOrSomeDistributionChannelsRefGroup">
		<xsd:annotation>
			<xsd:documentation>Selection of DISTRIBUTION CHANNELs.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AllDistributionChannelsRef"/>
			<xsd:element ref="GroupOfDistributionChannelsRef"/>
			<xsd:element ref="DistributionChannelRef"/>
		</xsd:choice>
	</xsd:group>
	<!-- ==== FULFILMENT METHOD PRICE======================================================== -->
	<xsd:simpleType name="FulfilmentMethodPriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FULFILMENT METHOD PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FarePriceIdType"/>
	</xsd:simpleType>
	<xsd:element name="FulfilmentMethodPriceRef" type="FulfilmentMethodPriceRefStructure" substitutionGroup="FarePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FULFILMENT METHOD PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FulfilmentMethodPriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FULFILMENT METHOD PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FarePriceRefStructure">
				<xsd:attribute name="ref" type="FulfilmentMethodPriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FULFILMENT METHOD PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =============================================================== -->
	<xsd:simpleType name="DistributionRightsEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for DISTRIBUTION RIGHTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="sell"/>
			<xsd:enumeration value="exchange"/>
			<xsd:enumeration value="refund"/>
			<xsd:enumeration value="inform"/>
			<xsd:enumeration value="private"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DistributionRightsListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of values for DISTRIBUTION RIGHTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="DistributionRightsEnumeration"/>
	</xsd:simpleType>
</xsd:schema>
