XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_typeOfTravelDocument_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_typeOfTravelDocument_version">
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_typeOfValue_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_alternativeName_version.xsd"/>
	<xsd:include schemaLocation="netex_typeOfTravelDocument_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-19-05</Created> typeOfTravelDocumen
				</Date>
				<Date>
					<Modified>2010-19-05</Modified>
				</Date>
				<Date>
					<Modified>2018-02-25</Modified>UK-34 Remove TravelDocument from Fareframe: Asd separate TypeOfTravelDocumentInFrame for use in FareFrame.
					    ALso correct name of TypeOfTravelDocumentGroup 
				</Date>
				<Date>
					<Modified>2019-02-25</Modified>UK-57 Add Allow list of MachineReadable  enumerations, add open ended TYPE OF MACHINE  READABILITY
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the fare TYPE OF TRAVEL DOCUMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_typeOfTravelDocument_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TYPE OF   TRAVEL DOCUMENT   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: TYPE OF TRAVEL DOCUMENT  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="TypesOfTravelDocumentsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TYPES of TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="typesOfTravelDocuments" type="typesOfTravelDocumentInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPE OF TRAVEL DOCUMENTs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="typesOfTravelDocumentInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TYPE OF TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfTravelDocument" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====TYPE OF TRAVEL DOCUMENT======================================== -->
	<xsd:complexType name="typesOfTravelDocuments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF TRAVEL DOCUMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfTravelDocumentRef"/>
					<xsd:element ref="TypeOfTravelDocument">
						<xsd:annotation>
							<xsd:documentation>A TYPE OF TRAVEL DOCUMENT specifying access rights for the TRAVEL DOCUMENT ELEMENTs within the range of this UNIT: 0-5 km, 4-6 zones etc.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfTravelDocument" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of TRAVEL DOCUMENTs expressing their general functionalities and local functional characteristics specific to the operator. Types of TRAVEL DOCUMENTs like e.g. throw-away ticket, throw-away ticket unit, value card, electronic purse allowing access, public transport credit card etc. may be used to define these categories.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfTravelDocument_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="IsCard" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether  the  TRAVEL DOCUMENT is a card.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="IsSmartCard" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether  the  TRAVEL DOCUMENT can contain applications and or stored value.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="HasPhoto" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether the  TRAVEL DOCUMENT has a photo.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="MediaType" type="MediaTypeEnumeration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Classification of the TRAVEL DOCUMENT by Media Type.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="MachineReadable" type="MachineReadableListOfEnumerations" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Classification of the TRAVEL DOCUMENT by Machine Readable mechanism.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="typesOfMachineReadabilities" type="typesOfMachineReadabilities_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Openended classiifcation of  machine readable capabilties compatible with TRAVEL DOCUMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>ALTERNATIVE NAMES for TRAVEL DOCUMENT.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfTravelDocumentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfTravelDocument_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TYPE OF TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure">
				<xsd:group ref="TypeOfTravelDocumentGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TypeOfTravelDocumentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TYPE OF TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsCard" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether  the  MACHINE READABILITY is a card.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsSmartCard" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether  the  MACHINE READABILITY can contain applications and or stored value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasPhoto" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the  MACHINE READABILITY has a photo.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MediaType" type="MediaTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of the MACHINE READABILITY by Media Type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MachineReadable" type="MachineReadableListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of the MACHINE READABILITY by Machine Readable mechanism.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typesOfMachineReadabilities" type="typesOfMachineReadabilities_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Openended classiifcation of  machine readable capabilties compatible with TRAVEL DOCUMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ALTERNATIVE NAMES for MACHINE READABILITY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TYPE OF TRAVEL DOCUMENT======================================== -->
	<xsd:complexType name="typesOfMachineReadabilities_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF MACHINE READABILITies</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfMachineReadabilityRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfMachineReadability" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A classification of MACHINE REDABILITY capabailities, used for example to indicate how a TRAVEL DOCUMENT may be read. 
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfMachineReadability_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfMachineReadabilityIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfMachineReadability_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TYPE OF MACHINE READABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
