XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_geographicStructureFactor_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_geographicStructureFactor_version">
	<xsd:include schemaLocation="netex_geographicStructureFactor_support.xsd"/>
	<xsd:include schemaLocation="netex_distanceMatrixElement_support.xsd"/>
	<xsd:include schemaLocation="netex_fareStructureElement_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_farePrice_version.xsd"/>
	<xsd:include schemaLocation="netex_fareStructure_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes 
				</Date>
				<Date>
					<Modified>2013-02-013</Modified>Fixe toadd TYPE OF FARE STRCUTURE  FACTOR and TYPE FO INTERVAL
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the GEOGRAPHCIAL STRUCTURE FACTOR types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_geographicalStructureFactor_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx GEOGRAPHICAL STRUCTURE STRUCTURE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: GEOGRAPHICAL STRUCTURE FACTOR  types.</xsd:documentation>
	</xsd:annotation>
	<!-- === ENTIITY IN VERSION IN FRAME= === ================================================== -->
	<xsd:group name="GeographicFactorsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Geographic factors in FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="geographicalUnits" type="geographicalUnits_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GEOGRAPHICAL UNITs in  Frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geographicalIntervals" type="geographicalIntervals_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GEOGRAPHICAL INTERVALs in  Frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geographicalStructureFactors" type="geographicalStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GEOGRAPHICAL STRUCTURE FACTORS in  Frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====GEOGRAPHICAL UNIT======================================== -->
	<xsd:complexType name="geographicalUnits_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GEOGRAPHICAL UNITs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GeographicalUnitRef"/>
					<xsd:element ref="GeographicalUnit">
						<xsd:annotation>
							<xsd:documentation>A geographical UNIT specifying access rights for the FARE STRUCTURE ELEMENTs within the range of this UNIT: 0-5 km, 4-6 zones etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GeographicalUnit" abstract="false" substitutionGroup="PriceableObject">
		<xsd:annotation>
			<xsd:documentation>A factor influencing access rights definition or calculation of prices.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeographicalUnit_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Distance" type="DistanceType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Distance of unit in SI meters.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:group ref="GeographicalUnitGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeographicalUnitIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of a GEOGRAPHICAL UNIT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeographicalUnit_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GEOGRAPHICAL UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareUnit_VersionStructure">
				<xsd:sequence>
					<xsd:element name="Distance" type="DistanceType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distance of unit in SI meters.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="GeographicalUnitGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeographicalUnitGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a GEOGRAPHICAL UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="prices" type="geographicalUnitPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs of GEOGRAPHICAL UNIT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====GEOGRAPHICAL INTERVAL ========================================== -->
	<xsd:complexType name="geographicalIntervals_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GEOGRAPHICAL INTERVALs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GeographicalIntervalRef"/>
					<xsd:element ref="GeographicalInterval">
						<xsd:annotation>
							<xsd:documentation>A geographical interval specifying access rights for the FARE STRUCTURE ELEMENTs within the range of this interval: 0-5 km, 4-6 zones etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GeographicalInterval" abstract="false" substitutionGroup="PriceableObject_">
		<xsd:annotation>
			<xsd:documentation>A factor influencing access rights definition or calculation of prices.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeographicalInterval_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeographicalIntervalGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeographicalIntervalIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeographicalInterval_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GEOGRAPHICAL INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareInterval_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GeographicalIntervalGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeographicalIntervalGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a GEOGRAPHICAL INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StartGeographicalValue" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start value for Geographic Interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndGeographicalValue" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End value for Geographic Interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfUnits" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of units in Interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IntervalType" type="IntervalTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>nature of Interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GeographicalUnitRef" minOccurs="0"/>
			<xsd:element name="prices" type="geographicalIntervalPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs of GEOGRAPHICAL INTERVAL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====FARE STRUCTURE ELEMENT.============================================= -->
	<!-- ==== GEOGRAPHICAL STRUCTURE FACTOR.============================= -->
	<xsd:complexType name="geographicalStructureFactors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GEOGRAPHICAL STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GeographicalStructureFactorRef"/>
					<xsd:element ref="GeographicalStructureFactor" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GeographicalStructureFactor" abstract="false" substitutionGroup="PriceableObject">
		<xsd:annotation>
			<xsd:documentation>The value of a GEOGRAPHICAL INTERVAL or a DISTANCE MATRIX ELEMENT expressed by a GEOGRAPHICAL UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeographicalStructureFactor_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="PrivateCode" minOccurs="0"/>
							<xsd:element ref="TypeOfFareStructureFactorRef" minOccurs="0"/>
							<xsd:element name="Factor" type="xsd:anyType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Factor value assoictaed with init.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeographicalStructureFactorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeographicalStructureFactorIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeographicalStructureFactor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GEOGRAPHICAL STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareStructureFactor_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GeographicalStructureFactorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeographicalStructureFactorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a GEOGRAPHICAL STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TariffRef" minOccurs="0"/>
			<xsd:element ref="GeographicalIntervalRef" minOccurs="0"/>
			<xsd:element ref="DistanceMatrixElementRef" minOccurs="0"/>
			<xsd:element ref="GeographicalUnitRef" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element name="NumberOfUnits" type="xsd:integer">
					<xsd:annotation>
						<xsd:documentation>Number of units of.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AmountFactor" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation>Arbitrary Amount for calculation.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- == GEOGRAPHICAL INTERVAL PRICE.================================ -->
	<xsd:complexType name="geographicalUnitPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GEOGRAPHICAL UNIT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GeographicalUnitPriceRef"/>
					<xsd:element name="GeographicalUnitPrice" type="GeographicalUnitPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a GEOGRAPHICAL UNIT : default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CellRef_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GeographicalUnitPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a GEOGRAPHICAL UNIT: default total price etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeographicalUnitPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeographicalUnitPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeographicalUnitPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeographicalUnitPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a GEOGRAPHICAL UNIT PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="GeographicalUnitPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeographicalUnitPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a GEOGRAPHICAL UNIT PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="GeographicalUnitRef" minOccurs="0"/>
			<xsd:element name="prices" type="geographicalUnitPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prices for GEOGRAPHICAL UNIT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- == GEOGRAPHICAL INTERVAL PRICE.================================ -->
	<xsd:complexType name="geographicalIntervalPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GEOGRAPHICAL INTERVAL PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GeographicalIntervalPriceRef"/>
					<xsd:element name="GeographicalIntervalPrice" type="GeographicalIntervalPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a GEOGRAPHICAL INTERVAL : default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CellRef_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GeographicalIntervalPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a GEOGRAPHICAL INTERVAL: default total price etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeographicalIntervalPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeographicalIntervalPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeographicalIntervalPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeographicalIntervalPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a GEOGRAPHICAL INTERVAL PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="GeographicalIntervalPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeographicalIntervalPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a GEOGRAPHICAL INTERVAL PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="GeographicalIntervalRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
