XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_salesDistribution_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_salesDistribution_version">
	<xsd:include schemaLocation="netex_salesDistribution_support.xsd"/>
	<xsd:include schemaLocation="netex_typeOfTravelDocument_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_typeOfValue_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_country_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_equipmentTicketing_version.xsd"/>
	<xsd:include schemaLocation="netex_farePrice_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2013-04-10</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified> Name Space changes
				</Date>
				<Date>
					<Modified>2019-03-02</Modified>UK-24 Add open   PaymentMethod as first class object  so that user defined methods can be added
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SALES DISTRIBUTION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_salesDistribution_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SALES DISTRIBUTION identifier  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx SALES DISTRIBUTION  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="SalesDistributionInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Distribution properties of a FARE FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="distributionChannels" type="distributionChannelsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DISTRIBUTION CHANNELS in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfDistributionChannels" type="groupsOfDistributionChannelsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DISTRIBUTION CHANNELS in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fulfilmentMethods" type="fulfilmentMethodsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FULFILMENT METHODS  in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="distributionChannelsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DISTRIBUTION CHANNEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="DistributionChannel" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="groupsOfDistributionChannelsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DISTRIBUTION CHANNEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfDistributionChannels" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fulfilmentMethodsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of FULFILMENT METHOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="FulfilmentMethod" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====DISTRIBUTION CHANNEL=================================================== -->
	<xsd:element name="DistributionChannel" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A type of outlet for selling a product.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DistributionChannel_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DistributionChannelGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DistributionChannelIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DistributionChannel_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DISTRIBUTION CHANNEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DistributionChannelGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DistributionChannelGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for DISTRIBUTION CHANNEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SALES TRANSACTIONs in DISTRIBUTION CHANNEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistributionChannelType" type="DistributionChannelTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of  DISTRIBUTION CHANNEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsObligatory" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether use of the channel is obligatory.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresEmailAddress" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether use of the channel requries the pruchaser to have an email address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContactDetails" type="ContactStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact details for distribution channel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OrganisationRef" minOccurs="0"/>
			<xsd:element name="PaymentMethods" type="PaymentMethodListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Payment methods allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typesOfPaymentMethod" type="TypeOfPaymentMethodRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional methods for paymen + v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistributionRights" type="DistributionRightsListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defaut distribution Rigts allowed by DISTRIBUTION CHANNEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="distributionPoints" type="pointRefs_RelStructure" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>List of specified points to which distribution is restricted, if any.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DistributionGroupRef" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Prefined Group of specified points to which  distribution is restricted, if any.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:restriction base="GeneralGroupOfEntitiesRefStructure">
								<xsd:attribute name="nameOfMemberClass" type="NameOfClass" use="optional">
									<xsd:annotation>
										<xsd:documentation>Name of member class if homogeneous.</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:restriction>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- ====GROUP OF DISTRIBUTION CHANNELs=================================================== -->
	<xsd:element name="GroupOfDistributionChannels" abstract="false" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A package to be sold as a whole, consisting of one or several FARE PRODUCTs materialised thanks to one or several TRAVEL DOCUMENTs. The FARE PRODUCTs may be either directly attached to the TRAVEL DOCUMENTs, or may be reloadable on the TRAVEL DOCUMENTs.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfDistributionChannels_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfDistributionChannelsGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfDistributionChannelsIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfDistributionChannels_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GROUP OF DISTRIBUTION CHANNELs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfDistributionChannelsGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfDistributionChannelsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for GROUP OF DISTRIBUTION CHANNELs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="members" type="distributionChannelRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DISTRIBUTION CHANNELs in Group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====FULFILMENT METHOD ELEMENT.============================================= -->
	<xsd:complexType name="fulfilmentMethods_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FULFILMENT METHODs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FulfilmentMethodRef"/>
					<xsd:element ref="FulfilmentMethod">
						<xsd:annotation>
							<xsd:documentation>A sequence or set of CONTROLLABLE ELEMENTs to which rules for limitation of access rights and calculation of prices (DISTRIBUTION CHANNEL) are applied.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FulfilmentMethod" abstract="false" substitutionGroup="PriceableObject_">
		<xsd:annotation>
			<xsd:documentation>The means by which the ticket is delivered to the Customer. e.g. online, collection, etc.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FulfilmentMethod_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FulfilmentMethodGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FulfilmentMethodIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FulfilmentMethod_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FULFILMENT METHOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PriceableObject_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FulfilmentMethodGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FulfilmentMethodGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for FULFILMENT METHOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FulfilmentMethodType" type="FulfilmentMethodTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of fulfilment method.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresCard" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether use of of the method requires a credit or debit card.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresBookingReference" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether use of of the method requires  a booking reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typesOfTravelDocument" type="TypeOfTravelDocumentRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPES OF TRAVEL DOCUMENT associated with method.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="fulfilmentMethodPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prices for FULFILMENT METHOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- == FULFILMENT PRICEs.============================= -->
	<xsd:complexType name="fulfilmentMethodPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FULFILMENT METHOD PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FulfilmentMethodPriceRef"/>
					<xsd:element name="FulfilmentMethodPrice" type="FulfilmentMethodPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a FARE STRUCTURE ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CellRef_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FulfilmentMethodPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a FULFILMENT METHOD: default total price, discount in value or percentage etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FulfilmentMethodPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FulfilmentMethodPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FulfilmentMethodPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FulfilmentMethodPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FULFILMENT METHOD PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FulfilmentMethodPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FulfilmentMethodPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Pricing Elements for a FULFILMENT METHOD PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FulfilmentMethodRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
