XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_fareConditionSummary_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_fareConditionSummary_version">
	<xsd:include schemaLocation="netex_fareConditionSummary_support.xsd"/>
	<xsd:include schemaLocation="netex_fareStructureElement_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2015-11-24</Modified>Add  RequiresAccount id to CardConditions
				</Date>
				<Date>
					<Modified>2018-06-07</Modified>Correct typo on enum ZoneSequence
				</Date>
				<Date>
					<Modified>2013-02-13</Modified>Add  Charging summary options. PenaltyIfWithoutTicket and AvailableOnSubscription.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the   CONDITION SUMMARY types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_fareConditionSummary_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx ONDITION SUMMARY    types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx CONDITION SUMMARY  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ConditionSummary================================================== -->
	<xsd:element name="ConditionSummary" type="ConditionSummaryStructure">
		<xsd:annotation>
			<xsd:documentation>Summary description of PRODUCT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ConditionSummaryStructure">
		<xsd:annotation>
			<xsd:documentation>Type for condition summary.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FareStructureType" type="FareStructureTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TypeOfFareCondition.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TariffBasis" type="TariffBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Basis used to compute  fares.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasNotices" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product has NOTICEs associated with it.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="ConditionSummaryCardGroup"/>
			<xsd:group ref="ConditionSummaryEntitlementGroup"/>
			<xsd:group ref="ConditionSummaryTravelGroup"/>
			<xsd:group ref="ConditionSummaryCommercialGroup"/>
			<xsd:group ref="ConditionSummaryReservationGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="ConditionSummaryCardGroup">
		<xsd:annotation>
			<xsd:documentation>Elements relating to Cards on  CONDITION SUMMARY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProvidesCard" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product provdies a card  with it.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GoesOnCard" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product requires a card to fulfil it.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsPersonal" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product is personaised or anonymous.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresPhoto" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product  requires a photo.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MustCarry" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product  requires the card to be carried by the user.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresAccount" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product  requires the user to register for an account for billing. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ConditionSummaryEntitlementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements relating to Entitlements on  CONDITION SUMMARY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsSupplement" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product is a supplement to another product.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresEntitlement" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product requires ENTITLEMENT REQUIRED other products.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GivesEntitlement" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product grants ENTITLEMENT REQUIRED other products.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ConditionSummaryTravelGroup">
		<xsd:annotation>
			<xsd:documentation>Elements relating to Travel restrictions on  CONDITION SUMMARY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HasOperatorRestrictions" type="OperatorRestrictionsEnumeration" default="anyTrain" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Restictions on which OPERATOR's services can be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasTravelTimeRestrictions" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are restictions on which routes can be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasRouteRestrictions" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are restictions on which routes can be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TrainRestrictions" type="TrainRestrictionsEnumeration" default="anyTrain" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Restictions on which trains can be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasZoneRestrictions" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are restictions on which zones can be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CanBreakJourney" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the journey can be interrupted by a stay at an intermediate station.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReturnTripsOnly" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the return trip must also be purchased.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NightTrain" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the trip uses a night Train.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ConditionSummaryCommercialGroup">
		<xsd:annotation>
			<xsd:documentation>Elements relating to Commercial restrictions on  CONDITION SUMMARY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CanChangeClass" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the class of usage can  subsequently be changed on a ticket.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsRefundable" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the ticket can be refunded.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsExchangable" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the ticket can be exchanged.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasExchangeFee" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a charge for exchanges.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasDiscountedFares" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are any types of discounted fare for the FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllowAdditionalDiscounts" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product allows discounts to be compounded.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllowCompanionDiscounts" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product allows a companion discountt for eligible users.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasMinimumPrice" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether a minimum price applies to FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresPositiveBalance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether if combined with  other products on the same smart card, requires an overall balance for any product to work. Eg a Travel Pass may be disabled if the Pay as you go for other areas in in arrears.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ConditionSummaryReservationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements relating to Reservation restrictions on  CONDITION SUMMARY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HasPurchaseConditions" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the  product has purchase conditions.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasDynamicPricing" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is dynamic i.e. yield managed pricing for the product.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresReservation" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product requires a reservation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasReservationFee" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a charge for reservations.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasQuota" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product has  quotas.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ConditionSummaryChargingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements relating to Charging for   CONDITION SUMMARY. +V1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PenaltyIfWithoutTicket" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a penalty for travelling without a ticket, i.e. tickets can not be bought on-board. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AvailableOnSubscription" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the product is available on subscription. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
