XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_fareStructureElement_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_fareStuctureElement_support">
	<xsd:include schemaLocation="netex_fareStructure_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified> Name Space changes
				</Date>
				<Date>
					<Modified>2019-02-25</Modified>Add TariffRefs  so that FareTable cols and rows may reference an object. Also needs constraint 
				</Date>
				<Date>
					<Modified>2019-03-09</Modified>UK-74 Add enumerations to TariffBasis  zoneToZone pointToPoint discount. Also add documentation annotations   to existing annotations
				</Date>
				<Date>
					<Modified>2019-03-11</Modified>UK-55 Add new TypeOfFareStructureElement.
				</Date>
				<Date>
					<Modified>2019-04-04</Modified>Fix: move TariffBasis gere from fareConditionSummary
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FARE STRUCTURE ELEMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_fareStructureElement_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE STRUCTURE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX FARE STRUCTURE ELEMENT identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====FARE STRUCTURE.======================================================== -->
	<xsd:complexType name="tariffRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TariffRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TariffIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="TariffRef" type="TariffRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TARIFF.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TariffRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="TariffIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TARIFF.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TariffBasisEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TariffBasis.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="flat">
				<xsd:annotation>
					<xsd:documentation>Tariff is flat, i.e. not based on spatial elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="distance">
				<xsd:annotation>
					<xsd:documentation>Tariff is based on spatial distance.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="unitSection"/>
			<xsd:enumeration value="zone">
				<xsd:annotation>
					<xsd:documentation>Tariff is based on use of specified zones.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="zoneToZone">
				<xsd:annotation>
					<xsd:documentation>Tariff is based on specified zone to zone transitions.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="pointToPoint">
				<xsd:annotation>
					<xsd:documentation>Tariff is based on specified point to point transitions.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="route">
				<xsd:annotation>
					<xsd:documentation>Tariff is based on specific routes, eg. for SERIES CONSTRAINTs.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="tour">
				<xsd:annotation>
					<xsd:documentation>Tariff is based on a specific tour.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="group">
				<xsd:annotation>
					<xsd:documentation>Tariff is based on size of group.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="discount">
				<xsd:annotation>
					<xsd:documentation>Tariff is for discount rates.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="period">
				<xsd:annotation>
					<xsd:documentation>Tariff is based on temporal durtaions, e.g minutes or days of travel.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
					<xsd:enumeration value="free">
				<xsd:annotation>
					<xsd:documentation>Tariff is free to user.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other">
				<xsd:annotation>
					<xsd:documentation>Other Tariff Basis.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ===== TYPE OF TARIFF ======================================== -->
	<xsd:simpleType name="TypeOfTariffIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfTariffRef" type="TypeOfTariffRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF TARIFF. (TAP TSI)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfTariffRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfTariffIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF TARIFF.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====FARE STRUCTURE ELEMENT.======================================================== -->
	<xsd:complexType name="fareStructureElementRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a  FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="FareStructureElementRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="FareStructureElementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PriceableObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareStructureElementRef" type="FareStructureElementRefStructure" substitutionGroup="PriceableObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareStructureElementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PriceableObjectRefStructure">
				<xsd:attribute name="ref" type="FareStructureElementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE STRUCTURE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === FARE STRUCTURE ELEMENT PRICE====================================================== -->
	<xsd:simpleType name="FareStructureElementPriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE STRUCTURE ELEMENT PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FarePriceIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareStructureElementPriceRef" type="FareStructureElementPriceRefStructure" substitutionGroup="FarePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE STRUCTURE ELEMENT PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareStructureElementPriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE STRUCTURE ELEMENT PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FarePriceRefStructure">
				<xsd:attribute name="ref" type="FareStructureElementPriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE STRUCTURE ELEMENT PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====FARE STRUCTURE ELEMENT IN SEQUENCE======================================================== -->
	<xsd:simpleType name="FareStructureElementInSequenceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareElementInSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareStructureElementInSequenceRef" type="FareStructureElementInSequenceRefStructure" substitutionGroup="FareElementInSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ===== TYPE OF FARE STRUCTURE ELEMENT ======================================== -->
	<xsd:simpleType name="TypeOfFareStructureElementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF FARE STRUCTURE ELEMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfFareStructureElementRef" type="TypeOfFareStructureElementRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfFareStructureElementRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfFareStructureElementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF FARE STRUCTURE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== TYPE OF TARIFF ======================================== -->
	<xsd:complexType name="FareStructureElementInSequenceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareElementInSequenceRefStructure">
				<xsd:attribute name="ref" type="FareStructureElementInSequenceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====  TARIFF OBJECT======================================== -->
	<xsd:element name="TariffObjectRef" type="VersionOfObjectRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an object used in a TARIFF.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
