XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_timeStructureFactor_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_timeStuctureFactor_version">
	<xsd:include schemaLocation="netex_timeStructureFactor_support.xsd"/>
	<xsd:include schemaLocation="netex_fareStructure_support.xsd"/>
	<xsd:include schemaLocation="netex_fareStructureElement_support.xsd"/>
	<xsd:include schemaLocation="netex_qualityStructureFactor_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes >
				</Date>
				<Date>
					<Modified>2011-03-12</Modified>NORWAY-105 Add MinimumDuration to TimeInterval.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the TIME STRUCTURE FACTOR types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_timeStructureFactor_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TIME STRUCTURE FACTOR   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: TIME STRUCTURE FACTOR   types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME==== ================================================== -->
	<xsd:group name="TimeFactorsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Time factors in FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timeUnits" type="timeUnits_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME UNITs in  Frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeIntervals" type="timeIntervals_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME INTERVALs in  Frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStructureFactors" type="timeStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME STRUCTURE FACTORS in  Frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TIME UNIT======================================== -->
	<xsd:complexType name="timeUnits_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIME UNITs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TimeUnitRef"/>
					<xsd:element ref="TimeUnit">
						<xsd:annotation>
							<xsd:documentation>A time UNIT specifying access rights for the FARE STRUCTURE ELEMENTs within the range of this UNIT: 0-5 km, 4-6 zones etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimeUnit" abstract="false" substitutionGroup="PriceableObject">
		<xsd:annotation>
			<xsd:documentation>A factor influencing access rights definition or calculation of prices.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeUnit_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Type" type="xsd:NCName" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Name of Class associated with uit, e.g. gDay, gTime, etc.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Duration" type="xsd:duration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Duration of Unit, eg   P1D,  P1S, etc.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="prices" type="timeUnitPrices_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>PRICEs of TIME UNIT.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeUnitIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimeUnit_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TIME UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareUnit_VersionStructure">
				<xsd:group ref="TimeUnitlGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeUnitlGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIME UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Type" type="xsd:NCName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of Class associated with uit, e.g. gDay, gTime, etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Duration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Duration of Unit, eg   P1D,  P1S, etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="timeUnitPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs of TIME UNIT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TIME INTERVAL ========================================== -->
	<xsd:complexType name="timeIntervals_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIME INTERVALs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TimeIntervalRef"/>
					<xsd:element ref="TimeInterval">
						<xsd:annotation>
							<xsd:documentation>A time interval specifying access rights for the FARE STRUCTURE ELEMENTs within the range of this interval: 0-5 km, 4-6 zones etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimeInterval" abstract="false" substitutionGroup="PriceableObject_">
		<xsd:annotation>
			<xsd:documentation>A factor influencing access rights definition or calculation of prices.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeInterval_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeIntervalGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeIntervalIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimeInterval_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TIME INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareInterval_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TimeIntervalGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeIntervalGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIME INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StartTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start time for TIME INTERVAL if restricted to a specific time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End value for TIME INTERVAL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayOffset" type="DayOffsetType" default="0" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Day Offset for end time from start time. 0= same day.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Duration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MaximumDuration for TIME INTERVAL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum Duration for TIME INTERVAL. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="timeIntervalPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs of TIME INTERVAL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStructureFactors" type="timeStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME STRUCTURE FACTORs associated with this element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="timeStructureFactors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIME STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TimeStructureFactorRef"/>
					<xsd:element ref="TimeStructureFactor" maxOccurs="unbounded"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimeStructureFactor" abstract="false" substitutionGroup="PriceableObject">
		<xsd:annotation>
			<xsd:documentation>The value of a TIME INTERVAL or a DISTANCE MATRIX ELEMENT expressed by a TIME UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeStructureFactor_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="PrivateCode" minOccurs="0"/>
							<xsd:element ref="TypeOfFareStructureFactorRef" minOccurs="0"/>
							<xsd:element name="Factor" type="xsd:anyType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Factor value assoictaed with init.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeStructureFactorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeStructureFactorIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- ==== TIME STRUCTURE FACTOR.============================= -->
	<xsd:complexType name="TimeStructureFactor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TIME STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareStructureFactor_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TimeStructureFactorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeStructureFactorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TIME STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TariffRef" minOccurs="0"/>
			<xsd:element ref="TimeIntervalRef" minOccurs="0"/>
			<xsd:element ref="TimeUnitRef" minOccurs="0"/>
			<xsd:element ref="QualityStructureFactorRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- == TIME UNIT PRICE.================================ -->
	<xsd:element name="TimeUnitPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a TIME UNIT: default total price etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeUnitPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeUnitPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeUnitPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="timeUnitPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIME UNIT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TimeUnitPriceRef"/>
					<xsd:element name="TimeUnitPrice" type="TimeUnitPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a TIME UNIT : default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CellRef_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TimeUnitPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TIME UNIT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="TimeUnitPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeUnitPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimeUnitRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- == TIME INTERVAL PRICE.================================ -->
	<xsd:element name="TimeIntervalPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a TIME INTERVAL: default total price etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeIntervalPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeIntervalPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeIntervalPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="timeIntervalPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIME INTERVAL PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TimeIntervalPriceRef"/>
					<xsd:element name="TimeIntervalPrice" type="TimeIntervalPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a TIME INTERVAL : default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CellRef_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TimeIntervalPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TIME INTERVAL PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="TimeIntervalPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeIntervalPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimeIntervalRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
