XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_calculationParameters_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_calculationParameters_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_relationship_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2013-04-14</Created>
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>NORMWAY-101 Add new  TypeOfTaxRate element 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FARE PRICING PARAMETER SET types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_calculationParameters_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE Calculation parameter  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: PRICING PARAMATER SET identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- === PRICING PARAMETERS =================================================== -->
	<xsd:simpleType name="PricingParameterSetIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PRICING PARAMETERS.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="PricingParameterSetRef" type="PricingParameterSetRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PRICING PARAMETERS.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PricingParameterSetRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PRICING PARAMETERS.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="PricingParameterSetIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PRICING PARAMETERS.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== PRICE UNIT ================================================== -->
	<xsd:complexType name="priceUnitRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PRICE UNITs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="PriceUnitRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="PriceUnitIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PRICE UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="PriceUnitRef" type="PriceUnitRefStructure" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PRICE UNIT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PriceUnitRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PRICE UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="PriceUnitIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PRICE UNIT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === ROUNDING====================================================== -->
	<xsd:simpleType name="RoundingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUNDING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="RoundingRef" type="RoundingRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUNDING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoundingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ROUNDING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="RoundingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ROUNDING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====ROUNDING STEP======================================================== -->
	<xsd:simpleType name="RoundingStepIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUNDING STEP.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="RoundingStepRef" type="RoundingStepRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUNDING STEP.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoundingStepRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ROUNDING STEP.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="RoundingStepIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ROUNDING STEP.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RoundingMethodEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ROUNDING METHOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="down"/>
			<xsd:enumeration value="up"/>
			<xsd:enumeration value="split"/>
			<xsd:enumeration value="stepTable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === FARE DAY-->
	<xsd:simpleType name="FareDayTypeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DayTypeIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareDayTypeRef" type="FareDayTypeRefStructure" substitutionGroup="DayTypeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE DAY TYPE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareDayTypeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="DayTypeRefStructure">
				<xsd:attribute name="ref" type="FareDayTypeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE DAY TYPE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === PRICING SERVICE ================================================== -->
	<xsd:simpleType name="PricingServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PRICING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="PricingServiceRef" type="PricingServiceRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PRICING SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PricingServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PRICING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="PricingServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PRICING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === PRICING RULE====================================================== -->
	<xsd:simpleType name="PricingRuleIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PRICING RULE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="PricingRuleRef" type="PricingRuleRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PRICING RULE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PricingRuleRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PRICING RULE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="PricingRuleIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PRICING RULE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === PRICING RULE====================================================== -->
	<xsd:simpleType name="DiscountingRuleIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DISCOUNTING RULE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PricingRuleIdType"/>
	</xsd:simpleType>
	<xsd:element name="DiscountingRuleRef" type="DiscountingRuleRefStructure" substitutionGroup="PricingRuleRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DISCOUNTING RULE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DiscountingRuleRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a DISCOUNTING RULE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PricingRuleRefStructure">
				<xsd:attribute name="ref" type="DiscountingRuleIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DISCOUNTING RULE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === LIMITING RULE====================================================== -->
	<xsd:simpleType name="LimitingRuleIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LIMITING RULE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DiscountingRuleIdType"/>
	</xsd:simpleType>
	<xsd:element name="LimitingRuleRef" type="LimitingRuleRefStructure" substitutionGroup="DiscountingRuleRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a LIMITING RULE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LimitingRuleRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a LIMITING RULE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="DiscountingRuleRefStructure">
				<xsd:attribute name="ref" type="LimitingRuleIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LIMITING RULE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === MONTH VALIDITY OFFSET ================================================== -->
	<xsd:simpleType name="MonthValidityOffsetIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MONTH VALIDITY OFFSET.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="MonthValidityOffsetRef" type="MonthValidityOffsetRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MONTH VALIDITY OFFSET.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MonthValidityOffsetRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a MONTH VALIDITY OFFSET.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="MonthValidityOffsetIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a MONTH VALIDITY OFFSET.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF PRICING RULE  ================================================== -->
	<xsd:complexType name="TypeOfPricingRuleRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF PRICING RULE.  </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfPricingRuleRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfPricingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TypeOf Prcing Ruke +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="valueAddedTax"/>
			<xsd:enumeration value="salesTax"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TaxCategoryEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Tax categories +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="exempt"/>
			<xsd:enumeration value="general"/>
			<xsd:enumeration value="transportation"/>
			<xsd:enumeration value="parking"/>
			<xsd:enumeration value="food"/>
			<xsd:enumeration value="alcoholicBeverage"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeOfPricingRuleIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF PRICING RULE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfPricingRuleRef" type="TypeOfPricingRuleRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF PRICING RULE. +v1.1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfPricingRuleRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF PRICING RULE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfPricingRuleIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF PRICING RULE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
