XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_usageParameterTravel_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_usageParameterTravel_version">
	<xsd:include schemaLocation="netex_usageParameterTravel_support.xsd"/>
	<xsd:include schemaLocation="netex_timeStructureFactor_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_support.xsd"/>
	<xsd:include schemaLocation="netex_usageParameter_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2013-04-14</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes 
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA-73 Add a new StartConstraintType attribute to UsageValidityPeriod  to specify  if start is floating or fixed. 
						Also Add  new startOnlyOn  DayTypes  so that any required day of week, day of month, month of year can be indicated.,  eg specific days at start of each month or each quarter .
						Also EURA-78   add new FixedStartWindow	attribute to UsageValidityPeriod			
				</Date>
				<Date>
					<Modified>2019-03-12</Modified>EURA-093 Add  new attribute RegisterBreakOfJourney  to Interchanging with   values  none,   markByStaff,  markByValidator,  markByMobileApp , 					
		 	 						EURA-085  Add  new attribute ActivationMeans  with values  none required,, checkIn,  useOfValidato useOfMobileDevice, automaticByTime,  automaticByProximity, other				
				</Date>
				<Date>
				<Modified>2019-03-31</Modified>EURA-52, EURA40 *FARES*  Support Suspension
					 Separate out Suspending as separate usage parameter with attributes __SuspensionPolicy, QualificatioPeriod, QualificatioPercent,  MinimumSuspensionPeriod, MaximumSuspensionPeriod, MaximumNumberOfSuspensionsPermTer
				</Date>
				<Date>
				<Modified>2019-04-01</Modified>EURA-52, EURA40 *FARES*  Add   attribute ActivationMeans to UsageValidityPeriod as previously intended.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the Travel USAGE PARAMETER  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterTravel_versionv1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_usageParameterTravel_support.xsd</Requires>
				</Relation>
				<Rights>Unclassified
				 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE Travel USAGE PARAMETER types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: Travel USAGE PARAMETER  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== ROUND TRIP ================================================ -->
	<xsd:element name="RoundTrip" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Properties relating to single or return trip use of a fare.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RoundTrip_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RoundTripGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoundTripIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RoundTrip_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ROUND TRIP.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RoundTripGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RoundTripGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ROUND TRIP Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TripType" type="RoundTripTypeEnumeration" default="single" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of trip. (Single, return, return only). default is single.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DoubleSingleFare" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether fare for return trip is simply double the single fare.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortTrip" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether trip is classified as a short trip for fare calculation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsRequired" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether return trip is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== ROUTING ================================================ -->
	<xsd:element name="Routing" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Limitations on routing of a fare.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Routing_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RoutingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoutingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Routing_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ROUTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RoutingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RoutingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ROUTING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsRestricted" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether restricted to certain toutes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReturnRouteIdentical" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether return must be same as outward.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForwardsOnly" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Passenger may only take routes that proceed in a single direction. (They may not use product to achieve a return trip for the cost of a single trip by purchasing a circular route and a making a journe break).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CrossBorder" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether route crosses a border.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== STEP LIMIT ================================================ -->
	<xsd:element name="StepLimit" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Geographical parameter limiting the access rights by counts of stops, sections or zones.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="StepLimit_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StepLimitGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="StepLimitIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="StepLimit_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for STEP LIMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="StepLimitGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="StepLimitGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for STEP LIMIT Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Restricted" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether restricted to a number of stops.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AdjustmentUnits" type="StepLimitUnitEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Units in which steps atre counted.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumNumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of steps allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Miaxmum number of steps allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfTrips" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Miaxmum number of Overall trips allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== FREQUENCY OF USE ================================================= -->
	<xsd:element name="FrequencyOfUse" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The limits of usage frequency for a FARE PRODUCT (or one of its components) or a SALES OFFER PACKAGE during a specific VALIDITY PERIOD. There may be different tariffs depending on how often the right is consumed during the period.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FrequencyOfUse_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FrequencyOfUseGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FrequencyOfUseIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FrequencyOfUse_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FREQUENCY OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FrequencyOfUseGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FrequencyOfUseGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for FREQUENCY OF USE Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FrequencyOfUseType" type="FrequencyOfUseTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of FREQUENCY OF USE Transfers.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimalFrequency" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of times product can be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximalFrequency" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of times  product can be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FrequencyInterval" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Interval within which frequency is measured. If absent forever.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TimeIntervalRef" minOccurs="0"/>
			<xsd:element name="DiscountBasis" type="DiscountBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of discount for this profile.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====USAGE VALIDITY PERIOD.================================================ -->
	<xsd:element name="UsageValidityPeriod" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>A time limitation for validity of a FARE PRODUCT or a SALES OFFER PACKAGE. It may be composed of a standard duration (e.g. 3 days, 1 month) and/or fixed start/end dates and times.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="UsageValidityPeriod_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageValidityPeriodGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="UsageValidityPeriodIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="UsageValidityPeriod_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for USAGE VALIDITY PERIOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="UsageValidityPeriodGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="UsageValidityPeriodGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for USAGE VALIDITY PERIOD Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ValidityPeriodType" type="UsageValidityTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UsageTrigger" type="UsageTriggerEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Event triggering usage period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UsageEnd" type="UsageEndEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Event triggering end of usage period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StandardDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Duration of  USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ActivationMeans" type="ActivationMeansEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Means of activatiing start of period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="UsageValidityPeriodFixedPeriodGroup">
				<xsd:annotation>
					<xsd:documentation>Elements defining a validtiy period in terms of an absolute calendar date </xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="UsageValidityPeriodStartConstraintGroup">
				<xsd:annotation>
					<xsd:documentation>Elements defining a permitted  validitiy period in terms of an calendar date </xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="BlackoutUse" type="BlackoutStartEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Interaction with blackout periods.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="UsageValidityPeriodFixedPeriodGroup">
		<xsd:annotation>
			<xsd:documentation>Elements to specify a fixed period.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start date of  USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start time of  USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End Date of  USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End time of  USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="UsageValidityPeriodStartConstraintGroup">
		<xsd:annotation>
			<xsd:documentation>Elements to specify specify constraints on start of  USAGE VALIDITY PERIOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="UsageStartConstraintType" type="UsageStartConstraintTypeEnumeration" default="variable" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether start type of trip or pass  is  variable or fixed. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startOnlyOn" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If UsageStartConstraintType is "fixed", then allowed days to start on can be indicated by a DAY TYPE, for example Monday, 1st of Month, Start of Quarter, etc. (Applies mainly  to Passes.)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="dayTypes_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FixedStartWindow" type="FixedStartWindowStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If UsageStartConstraintType is "fixedWindow" , then can specify a window relative to booked train for alternative services that may be used. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="FixedStartWindowStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Fiexd Start WIndow.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MaximumServicesBefore" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If UsageStartConstraintType is "fixedWindow", maximum number of services before the booked train that may also be used. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FlexiblePeriodBefore" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If UsageStartConstraintType is "fixedWindow", maximum period before the booked train during which other trains may also be caught. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumServicesAfter" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If UsageStartConstraintType is "fixedWindow", maximum number of services after the booked train that may also be used. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FlexiblePeriodAfter" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If UsageStartConstraintType is "fixedWindow", maximum period after the booked train during which other trains may also be caught. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ====SUSPENDING.================================================ -->
	<xsd:element name="Suspending" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Conditions governing suspension of a FARE PRODUCT, e.g.  period pass or subscription.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Suspending_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SuspendingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SuspendingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Suspending_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SUSPENDING </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SuspendingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SuspendingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SUSPENDING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SuspensionPolicy" type="SuspensionPolicyListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed policies for suspending term of product.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="QualificationPeriod" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum duration that must have occurred before a suspension is allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="QualificationPercent" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum proportion of term that must  have occurred before a suspension is allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumSuspensionPeriod" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum duration allowed for a suspension.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumSuspensionPeriod" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum duration allowed for a suspension.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfSuspensionsPerTerm" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum duration allowed for a suspension. with the term of the fare product or subscription.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== INTERCHANGING ================================================ -->
	<xsd:element name="Interchanging" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Limitations on making changes within a trip.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Interchanging_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="InterchangingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="InterchangingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Interchanging_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for INTERCHANGING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="InterchangingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="InterchangingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for INTERCHANGING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CanInterchange" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether an Jinterchange can be made.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FromMode" type="VehicleModeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mode from which interchange is made.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToMode" type="VehicleModeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mode to which interchange is made.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfInterchanges" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of  interhanges between SERVICE JOURNEYs that can be made in a single TRIP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumTimeToMakeATransfer" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether fare for return trip is simply double the single fare.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CanBreakJourney" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the Journey can be interrupted, i.e. leave stop point and return.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CrossBorder" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether interchanging crosses a border.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegisterBreakOfJourney" type="RegisterBreakOfJourneyEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the Journey can be interrupted, i.e. leave stop point and return. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== MINIMUM STAY ================================================ -->
	<xsd:element name="MinimumStay" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Details of any minimum stay at the destination  required  to use the product.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MinimumStay_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MinimumStayGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MinimumStayIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MinimumStay_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MINIMUM STAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="MinimumStayGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MinimumStayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for MINIMUM STAY Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MinimumStayType" type="MinimumStayTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of minimum stay  requirement.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresNightsAway" type="DaysOfWeekListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Days of Week that must be away.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumNumberOfNightsAway" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of nighst away that must be spent.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfNightsAway" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of nighst that can be spent away on trip.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
