XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_fares/netex_salesOfferPackage_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_salesOfferPackage_version">
	<xsd:include schemaLocation="netex_salesOfferPackage_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_topographicPlace_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_salesDistribution_version.xsd"/>
	<xsd:include schemaLocation="netex_fareProduct_version.xsd"/>
	<xsd:include schemaLocation="netex_salesOfferPackageEntitlement_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date>
					<Modified>2017-12-20</Modified>Rename Sales Package to Sales OFFER PACKAGE
				</Date>
				<Date>
					<Modified>2018-04-04</Modified>Fix:  SalesOfferPackageXXXXXs  should be salesOfferPackageXXXXXs   
				</Date>
				<Date>
					<Modified>2018-06-02</Modified>Fix:  GroupOfsalesOfferPackages  should be GroupOSalesOfferPackages   
				</Date>
				<Date>
					<Modified>2018-06-02</Modified>EURA-78 Allow more than one refernece a  GroupsOfSalesOfferPackageRef  from  SalesOfferPackage (ie make relationship many to many)
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>EURA-78 Allow more than one refernece a  GroupsOfSalesOfferPackageRef  from  SalesOfferPackage (ie make relationship many to many)
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SALES OFFER PACKAGE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_salesOfferPackage_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
				 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SALES OFFER PACKAGE   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: SALES OFFER PACKAGE  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="SalesOfferPackageInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>SALES OFFER PACKAGEs of a FARE FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="salesOfferPackages" type="salesOfferPackagesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SALES OFFER PACKAGEs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="salesOfferPackageElements" type="salesOfferPackageElementsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SALES OFFER PACKAGEs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="salesOfferPackageSubstitutions" type="salesOfferPackageSubstitutionsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SALES OFFER PACKAGEs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfSalesOfferPackages" type="groupsOfSalesOfferPackagesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPS OF SALES OFFER PACKAGEs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="distributionAssignments" type="distributionAssignmentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DISTRIBUTION ASSIGNMENTS in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="salesOfferPackagesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of SALES OFFER PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="SalesOfferPackage" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="salesOfferPackageElementsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of SALES OFFER PACKAGE Element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="SalesOfferPackageElement" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="salesOfferPackageSubstitutionsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of SALES OFFER PACKAGE SUBSTITUTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="SalesOfferPackageSubstitution" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="groupsOfSalesOfferPackagesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of GROUPs OF SALES OFFER PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfSalesOfferPackages" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="distributionAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DISTRIBUTION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="DistributionAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====SALES OFFER PACKAGE=================================================== -->
	<xsd:element name="SalesOfferPackage" abstract="false" substitutionGroup="PriceableObject_">
		<xsd:annotation>
			<xsd:documentation>A package to be sold as a whole, consisting of one or several FARE PRODUCTs materialised thanks to one or several TRAVEL DOCUMENTs. The FARE PRODUCTs may be either directly attached to the TRAVEL DOCUMENTs, or may be reloadable on the TRAVEL DOCUMENTs.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SalesOfferPackage_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SalesOfferPackageGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SalesOfferPackageIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SalesOfferPackage_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SALES OFFER PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PriceableObject_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SalesOfferPackageGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SalesOfferPackageGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES OFFER PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:group ref="SalesOfferPackageCommonGroup"/>
			<xsd:choice minOccurs="0">
				<xsd:element ref="GroupOfSalesOfferPackagesRef"/>
				<xsd:element name="groupsOfSaleOfferPackages" type="groupOfSalesOfferPackageRefs_RelStructure">
					<xsd:annotation>
						<xsd:documentation>Reference to multiple GROUP of SALES OFFER PACKAGEs with whicj this SALES OFFER PACKAGE shares properties. </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="salesOfferPackageSubstitutions" type="salesOfferPackageSubstitutions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SALES TRANSACTIONs in SALES OFFER PACKAGE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SalesOfferPackageCommonGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES OFFER PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfSalesOfferPackageRef" minOccurs="0"/>
			<xsd:element ref="ConditionSummary" minOccurs="0"/>
			<xsd:element name="validityParameterAssignments" type="genericParameterAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICE ASSIGNMENTs for  SALES OFFER PACKAGE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="distributionAssignments" type="distributionAssignments_RelStructure" minOccurs="0"/>
			<xsd:group ref="SalesOfferPackagePricingGroup"/>
			<xsd:element name="salesOfferPackageElements" type="salesOfferPackageElements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SALES OFFER PACKAGE ELEMENTs in SALES OFFER PACKAGE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SalesOfferPackagePricingGroup">
		<xsd:annotation>
			<xsd:documentation>Pricing Elements for SALES OFFER PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RoundingRef" minOccurs="0"/>
			<xsd:element name="prices" type="salesOfferPackagePrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs of SALES OFFER PACKAGE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====SALES OFFER PACKAGE ELEMENT================================================= -->
	<xsd:complexType name="salesOfferPackageElements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SALES OFFER PACKAGE ELEMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="SalesOfferPackageElementRef"/>
					<xsd:element ref="SalesOfferPackageElement">
						<xsd:annotation>
							<xsd:documentation>A sequence or set of CONTROLLABLE ELEMENTs to which rules for limitation of access rights and calculation of prices (SALES OFFER PACKAGE) are applied.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SalesOfferPackageElement" abstract="false" substitutionGroup="PriceableObject">
		<xsd:annotation>
			<xsd:documentation>The assignment of a FARE PRODUCT to a TYPE OF TRAVEL DOCUMENT in order to define a SALES OFFER PACKAGE, realised as a fixed assignment (printing, magnetic storage etc.) or by the possibility for the FARE PRODUCT to be reloaded on the TYPE OF TRAVEL DOCUMENT.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SalesOfferPackageElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SalesOfferPackageElementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SalesOfferPackageElementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SalesOfferPackageElement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SALES OFFER PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PriceableObject_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SalesOfferPackageElementGroup"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:integer">
					<xsd:annotation>
						<xsd:documentation>Relative order of element.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SalesOfferPackageElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES OFFER PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RequiresValidation" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether element requires validation  before it can be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ConditionSummary" minOccurs="0"/>
			<xsd:element ref="SalesOfferPackageRef" minOccurs="0"/>
			<xsd:element ref="TypeOfTravelDocumentRef" minOccurs="0"/>
			<xsd:element ref="FareProductRef" minOccurs="0"/>
			<xsd:element name="validityParameterAssignments" type="genericParameterAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY PARAMETER ASSIGNMENTs associated with SALES OFFER PACKAGE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="salesOfferPackagePrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs of SALES OFFER PACKAGE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- == SALES OFFER PACKAGE PRICE.================================ -->
	<xsd:complexType name="salesOfferPackagePrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SALES OFFER PACKAGE PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="SalesOfferPackagePriceRef"/>
					<xsd:element name="SalesOfferPackagePrice" type="SalesOfferPackagePrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a SALES OFFER PACKAGE ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="CellRef_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SalesOfferPackagePrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a SALES OFFER PACKAGE ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SalesOfferPackagePrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SalesOfferPackagePriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SalesOfferPackagePriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SalesOfferPackagePrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SALES OFFER PACKAGE PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="SalesOfferPackagePriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SalesOfferPackagePriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="SalesOfferPackageRef" minOccurs="0"/>
			<xsd:element ref="SalesOfferPackageElementRef" minOccurs="0"/>
		</xsd:choice>
	</xsd:group>
	<!-- ====SALES OFFER PACKAGE SUBSTITUTIOIN================================= -->
	<xsd:complexType name="salesOfferPackageSubstitutions_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SALES OFFER PACKAGE SUBSTITUTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="SalesOfferPackageSubstitutionRef"/>
					<xsd:element ref="SalesOfferPackageSubstitution"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SalesOfferPackageSubstitution" abstract="false" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>A particular tariff, described by a combination of parameters.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SalesOfferPackageSubstitution_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SalesOfferPackageSubstitutionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SalesOfferPackageSubstitutionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SalesOfferPackageSubstitution_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SALES OFFER PACKAGE SUBSTITUTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SalesOfferPackageSubstitutionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SalesOfferPackageSubstitutionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES OFFER PACKAGE SUBSTITUTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SalesOfferPackageRef" minOccurs="0"/>
			<xsd:element name="WithSalesOfferPackageRef" type="SalesOfferPackageRefStructure">
				<xsd:annotation>
					<xsd:documentation>SALES OFFER PACKAGE  that may be used to subsitute base SALES OFFER PACKAGE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====GROUP OF SALES OFFER PACKAGEs=================================================== -->
	<xsd:element name="GroupOfSalesOfferPackages" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A package to be sold as a whole, consisting of one or several FARE PRODUCTs materialised thanks to one or several TRAVEL DOCUMENTs. The FARE PRODUCTs may be either directly attached to the TRAVEL DOCUMENTs, or may be reloadable on the TRAVEL DOCUMENTs.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfSalesOfferPackages_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfSalesOfferPackagesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfSalesOfferPackagesIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfSalesOfferPackages_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GROUP OF SALES OFFER PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfSalesOfferPackagesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfSalesOfferPackagesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for GROUP OF SALES OFFER PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ALTERNATIVE NAMEs for PRICEABLE OBJECT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICE ASSIGNMENTs for PRICEABLE OBJECT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="PriceableObjectPricingGroup"/>
			<xsd:group ref="PriceableObjectPricesGroup"/>
			<xsd:group ref="SalesOfferPackageCommonGroup"/>
			<xsd:element name="members" type="salesOfferPackageRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SALES OFFER PACKAGEs in Group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====SALES NOTICE ASSIGNMENT ================================================= -->
	<xsd:element name="SalesNoticeAssignment" abstract="false" substitutionGroup="NoticeAssignment_">
		<xsd:annotation>
			<xsd:documentation>The assignment of a NOTICE to a SALES OFFER PACKAGE or a GROUP OF SALES OFFER PACKAGEs.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SalesNoticeAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="NoticeAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SalesNoticeAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SalesNoticeAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SalesNoticeAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SALES NOTICE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NoticeAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SalesNoticeAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SalesNoticeAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES NOTICE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CountryRef" minOccurs="0"/>
			<xsd:element ref="SalesOfferPackageRef" minOccurs="0"/>
			<xsd:element ref="GroupOfSalesOfferPackagesRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====DISTRIBUTION ASSIGNMENT =================================================== -->
	<xsd:complexType name="distributionAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DISTRIBUTION ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="DistributionAssignmentRef"/>
					<xsd:element ref="DistributionAssignment"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DistributionAssignment" abstract="false" substitutionGroup="Assignment_">
		<xsd:annotation>
			<xsd:documentation>An assignment  of the  COUNTRY and/or  DISTRIBUTION CHANNEL through which a product may or may not be distributed.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DistributionAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DistributionAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DistributionAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DistributionAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DISTRIBUTION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Assignment_VersionStructure_">
				<xsd:sequence>
					<xsd:group ref="DistributionAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DistributionAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for DISTRIBUTION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="DistributionProductsGroup"/>
			<xsd:element name="DistributionRights" type="DistributionRightsListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Override the folloing   rights allowed by channel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="DistributionThroughGroup"/>
			<xsd:group ref="DistributionByGroup">
				<xsd:annotation>
					<xsd:documentation>Elements for whom may distribute.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="DistributionDetailsGroup"/>
			<xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICEs for  SALES PACKAGe.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DistributionProductsGroup">
		<xsd:annotation>
			<xsd:documentation>Assignable Elements for DISTRIBUTION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ServiceAccessRightRef" minOccurs="0"/>
			<xsd:element ref="SalesOfferPackageRef" minOccurs="0"/>
			<xsd:element ref="GroupOfSalesOfferPackagesRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DistributionThroughGroup">
		<xsd:annotation>
			<xsd:documentation>Distribution Elements for DISTRIBUTION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="AllCountriesRef"/>
				<xsd:element ref="CountryRef"/>
			</xsd:choice>
			<xsd:element name="AllowedInCountry" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether distribution is allowed or forbidden for given country.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TopographicPlaceRef" minOccurs="0"/>
			<xsd:group ref="OneAllOrSomeDistributionChannelsRefGroup" minOccurs="0"/>
			<xsd:element name="DistributionChannelType" type="DistributionChannelTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of  DISTRIBUTION CHANNEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllowedInChannel" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether distribution is allowed or forbidden for given channel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RestrictedToChannel" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether distribution is restricted to a given country and / or channel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MandatoryProduct" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether product is mandatory, i.e.  must be provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DistributionByGroup">
		<xsd:annotation>
			<xsd:documentation>Agent Elements for DISTRIBUTION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="InitialCarrier" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Wehther initial carrer has rights.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransitCarrier" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whther intremediate transit carrier has rights.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FinalCarrier" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whetehr final carrier has rights.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="OneOrAllOrganisationsRefGroup" minOccurs="0"/>
			<xsd:element ref="ResponsibilitySetRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DistributionDetailsGroup">
		<xsd:annotation>
			<xsd:documentation>Product Elements for DISTRIBUTION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TicketingServiceFacilityList" minOccurs="0"/>
			<xsd:element name="PaymentMethods" type="PaymentMethodListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Payment methods allowed. May override Channel to be more specific.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresRegistration" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whetee fDistribution requires the user to register.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="FulfilmentMethodRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TYPE OF SALES OFFER PACKAGE ======================================== -->
	<xsd:complexType name="typesOfSalesOfferPackage_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF SALES OFFER PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfSalesOfferPackageRef"/>
					<xsd:element ref="TypeOfSalesOfferPackage">
						<xsd:annotation>
							<xsd:documentation>A TYPE OF SALES OFFER PACKAGE specifying access rights for the SALES OFFER PACKAGE ELEMENTs within the range of this UNIT: 0-5 km, 4-6 zones etc.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfSalesOfferPackage" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of SALES OFFER PACKAGEs expressing their general functionalities and local functional characteristics specific to the operator. Types of SALES OFFER PACKAGEs like e.g. throw-away ticket, throw-away ticket unit, value card, electronic purse allowing access, public transport credit card etc. may be used to define these categories.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfSalesOfferPackage_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfSalesOfferPackageIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfSalesOfferPackage_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TYPE OF SALES OFFER PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
