XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_salesTransactions/netex_salesContract_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_salesContract_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_securityList_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_loggable_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes 
				</Date>
				<Date>
					<Modified>2017-08-06</Modified>Generalise Blacklist to be a type of SecurityList, move to different package. 
				</Date>
				<Date>
					<Modified>2018-03-10</Modified>Add AccountStatusType   with values  		 unused,active, dormant, suspended, archived, closed 
				</Date>
				<Date>
					<Modified>2017-08-10</Modified> Align with TM6
					Make FareContractEvent a type of LogEntry.
					Rename FareContractEvent to FareContractEntry.
					Add Customer Account 
				</Date>
				<Date>
					<Modified>2017-08-10</Modified> Align with TM6
					Rename Passenger Contract   to FareContract.
					Rename Passenger Contract Event to FareContractEntry.
					Rename Type of Passenger Contract  to TypeOfFareContract.
					Adjust References in Dependent packages. 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SALES FARE CONTRACT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransactions}netex_salesContract_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SALES FARE CONTRACT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx SALES CONTRACT identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====CUSTOMER.======================================================== -->
	<xsd:complexType name="customerRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to CUSTOMER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="CustomerRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CustomerIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerRef" type="CustomerRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="CustomerIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AccountStatusTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Account Status.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="unused"/>
			<xsd:enumeration value="active"/>
			<xsd:enumeration value="dormant"/>
			<xsd:enumeration value="suspended"/>
			<xsd:enumeration value="archived"/>
			<xsd:enumeration value="closed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ====  CUSTOMER SECURITY LISTING .======================================================== -->
	<xsd:complexType name="CustomerSecurityListingRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of CUSTOMER SECURITY LISTING.s.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="CustomerSecurityListingRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CustomerSecurityListingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER SECURITY LISTING..</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SecurityListingIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerSecurityListingRef" type="CustomerSecurityListingRefStructure" substitutionGroup="SecurityListingRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER SECURITY LISTING..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerSecurityListingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER SECURITY LISTING..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SecurityListingRefStructure">
				<xsd:attribute name="ref" type="CustomerSecurityListingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER SECURITY LISTING..</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =============================================================== -->
	<!-- ==== FARE CONTRACT.======================================================== -->
	<xsd:complexType name="contractRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to FARE CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="FareContractRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="FareContractIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareContractRef" type="FareContractRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE CONTRACT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareContractRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="FareContractIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE CONTRACT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF FARE CONTRACT  -->
	<xsd:complexType name="typeOfFareContractRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF FARE CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfFareContractRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfFareContractIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF FARE CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfFareContractRef" type="TypeOfFareContractRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF FARE CONTRACT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfFareContractRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF FARE CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfFareContractIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF FARE CONTRACT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== FARE CONTRACT SECURITY LISTING .======================================================== -->
	<xsd:complexType name="FareContractSecurityListingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE CONTRACT SECURITY LISTING..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SecurityListingRefStructure">
				<xsd:attribute name="ref" type="FareContractSecurityListingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE CONTRACT SECURITY LISTING..</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="FareContractSecurityListingRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE CONTRACT SECURITY LISTING.s.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="FareContractSecurityListingRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="FareContractSecurityListingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE CONTRACT SECURITY LISTING..</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SecurityListingIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareContractSecurityListingRef" type="FareContractSecurityListingRefStructure" substitutionGroup="SecurityListingRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE CONTRACT SECURITY LISTING..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ====FARE CONTRACT ENTRY.======================================================== -->
	<xsd:simpleType name="FareContractEntryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE CONTRACT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LogEntryIdType"/>
	</xsd:simpleType>
	<xsd:element name="FareContractEntryRef" type="FareContractEntryRefStructure" substitutionGroup="LogEntryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE CONTRACT ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FareContractEntryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE CONTRACT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LogEntryRefStructure">
				<xsd:attribute name="ref" type="FareContractEntryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE CONTRACT ENTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF FARE CONTRACT ENTRY================================================== -->
	<xsd:complexType name="typeOfFareContractEntryRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF FARE CONTRACT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfFareContractEntryRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfFareContractEntryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF FARE CONTRACT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfFareContractEntryRef" type="TypeOfFareContractEntryRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF FARE CONTRACT ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfFareContractEntryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF FARE CONTRACT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfFareContractEntryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF FARE CONTRACT ENTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== CUSTOMER ACCOUNT.======================================================== -->
	<xsd:complexType name="customerAccountRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to CUSTOMER ACCOUNT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="CustomerAccountRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CustomerAccountIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER ACCOUNT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerAccountRef" type="CustomerAccountRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER ACCOUNT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerAccountRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER ACCOUNT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="CustomerAccountIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER ACCOUNT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== CUSTOMER ACCOUNT SECURITY LISTING .======================================================== -->
	<xsd:complexType name="customerAccountSecurityListingRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of CUSTOMER ACCOUNT SECURITY LISTING.s.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="CustomerAccountSecurityListingRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomerAccountSecurityListingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER ACCOUNT SECURITY LISTING..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SecurityListingRefStructure">
				<xsd:attribute name="ref" type="CustomerAccountSecurityListingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER ACCOUNT SECURITY LISTING..</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CustomerAccountSecurityListingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER ACCOUNT SECURITY LISTING..</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SecurityListingIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerAccountSecurityListingRef" type="CustomerAccountSecurityListingRefStructure" substitutionGroup="SecurityListingRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER ACCOUNT SECURITY LISTING..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ====TYPE OF CUSTOMER ACCOUNT ================================================== -->
	<xsd:complexType name="typeOfCustomerAccountRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF CUSTOMER ACCOUNT .</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfCustomerAccountRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfCustomerAccountIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF CUSTOMER ACCOUNT .</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfCustomerAccountRef" type="TypeOfCustomerAccountRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF CUSTOMER ACCOUNT .</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfCustomerAccountRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF CUSTOMER ACCOUNT .</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfCustomerAccountIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF CUSTOMER ACCOUNT .</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== CUSTOMER ACCOUNT STATUS ================================================== -->
	<xsd:complexType name="customerAccountStatusRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of CUSTOMER ACCOUNT STATUSES.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="CustomerAccountStatusRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CustomerAccountStatusIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER ACCOUNT STATUS .</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerAccountStatusRef" type="CustomerAccountStatusRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER ACCOUNT STATUS .</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerAccountStatusRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER ACCOUNT STATUS .</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="CustomerAccountStatusIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER ACCOUNT STATUS .</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
