XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_salesTransactions/netex_travelDocument_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_typesOfTravelDocument">
	<xsd:include schemaLocation="netex_travelDocument_support.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_typeOfTravelDocument_version.xsd"/>
	<xsd:include schemaLocation="../part3_salesTransactions/netex_customerPurchasePackage_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_securityList_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2017-06-28</Modified>CR048 Add Travel Document  Security Listing 
				</Date>
				<Date>
					<Modified>2017-10-10</Modified>FIX add Type Of TravelDocument  to SalesTransaction frame 
				</Date>
				<Date>
					<Modified>2018-02-25</Modified>UK-34 Remove TravelDocument from Fareframe: Asd separatr TypeOfTravelDocumentInFrame for use in FareFrame.
					    Also correct name of TypeOfTravelDocumentGroup 
				</Date>
				<Date>
					<Modified>2019-02-25</Modified>UK-57 Add Allow list of MachineReadable  enumerations, add open ended TYPE OF MACHINE  READABILITY
				</Date>
				<Date>
					<Modified>2019-03-14</Modified>UK-57 Add new attribute  CustomerPurchasePackageRef to TravelDocument
				</Date>
				<Date>
					<Modified>2019-03-127</Modified>UK-57 Add new attribute  MarkedAs to TravelDocument
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the fare TRAVEL DOCUMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_travelDocument_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TRAVEL DOCUMENT   types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: TRAVEL DOCUMENT  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="TravelDocumentsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="typesOfTravelDocuments" type="typesOfTravelDocumentInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPE OF TRAVEL DOCUMENTs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="travelDocuments" type="travelDocumentsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRAVEL DOCUMENTs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="travelDocumentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="TravelDocument" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====TRAVEL DOCUMENT=================================================== -->
	<xsd:complexType name="travelDocuments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TravelDocumentRef"/>
					<xsd:element ref="TravelDocument"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TravelDocument" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A particular physical support (ticket, card...) to be held by a customer, allowing the right to travel or to consume joint-services, to proof a payment (including possible discount rights), to store a subset of the FARE CONTRACT liabilities or a combination of those.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TravelDocument_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TravelDocumentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TravelDocumentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TravelDocument_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TravelDocumentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TravelDocumentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of TRAVEL DOCUMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of TRAVEL DOCUMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element ref="TypeOfTravelDocumentRef" minOccurs="0"/>
			<xsd:element ref="CustomerPurchasePackageRef" minOccurs="0"/>
			<xsd:element name="MarkedAs" type="MarkedAsEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Usage status of the TRAVEL DOCUMENT+v1.1 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====FARE CONTRACT SECURITY LISTING ======================================== -->
	<xsd:element name="TravelDocumentSecurityListing" abstract="false" substitutionGroup="SecurityListing_">
		<xsd:annotation>
			<xsd:documentation>A listing of a TRAVEL DOCUMENT on a SECURITY LIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TravelDocumentSecurityListing_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SecurityListingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TravelDocumentSecurityListingGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for TRAVEL DOCUMENT  SECURITY LISTING</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TravelDocumentSecurityListingIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TravelDocumentSecurityListing_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TRAVEL DOCUMENT SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SecurityListing_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="TravelDocumentSecurityListingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TravelDocumentSecurityListingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TRAVEL DOCUMENT  SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TravelDocumentRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
