XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_salesTransactions/netex_customerEligibility_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_customerEligibility_version">
	<xsd:include schemaLocation="netex_customerEligibility_support.xsd"/>
	<xsd:include schemaLocation="netex_salesContract_support.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_usageParameterEligibility_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2017-08-10</Created>
				</Date>
				<Date>
					<Modified>2017-08-10</Modified>Align with TM6
					  Make FareContractEvent a type of LogEntry.
					  Rename FareContractEvent to FareContractEntry.
					  Add Customer Account
					  Add Customer Eligibilities 
				</Date>
				<Date>
					<Modified>2017-08-10</Modified> Align with TM6
					  Rename Passenger Contract Event to FareContractEntry.
					  Rename Type of Passenger Contract  to TypeOfFareContract.
					  Adjust References in Dependent packages. 
				</Date>9
				
				 <Date>
					<Modified>2017-04-140</Modified>UK-32  Add  new  ___REsidenceType___, ___StartDate___ and ___EndDate___ attributes to ___ResidentialEligibility___. 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables and fares.</p>
					<p>This sub-schema describes the CUSTOMER ELIGIBILITY types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransactions}netex_salesContract_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Steam Intellect, London N1 1JS </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx CUSTOMER ELIGIBILITY  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx CUSTOMER ELIGIBILITY types.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== CUSTOMER-->
	<xsd:complexType name="customerEligibilities_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of CUSTOMER ELIGIBILITY.s.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="CustomerEligibility_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CustomerEligibility_" type="VersionedChildStructure" abstract="true" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Dummy Type for Customer Eligibility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerEligibility" abstract="false" substitutionGroup="CustomerEligibility_">
		<xsd:annotation>
			<xsd:documentation>Whether a specific TRANSPORT CUSTOMER is eligible for a FARE PRODUCT with a specific validity Parameter. This may be subject to a particular VALIDITY CONDITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CustomerEligibility_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CustomerEligibilityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CustomerEligibilityIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of CUSTOMER ELIGIBILITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CustomerEligibility_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for CUSTOMER ELIGIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="CustomerEligibilityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CustomerEligibilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for CUSTOMER ELIGIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of CUSTOMER ELIGIBILITY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CustomerRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== USER PROFILE ELIGIBILITY ======================================== -->
	<xsd:element name="UserProfileEligibility" abstract="false" substitutionGroup="CustomerEligibility_">
		<xsd:annotation>
			<xsd:documentation>Whether a specific TRANSPORT CUSTOMER is eligible for a FARE PRODUCT with a specific USER PROFILE as a validity parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="UserProfileEligibility_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CustomerEligibilityGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UserProfileEligibilityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="UserProfileEligibilityIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of USER PROFILE ELIGIBILITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="UserProfileEligibility_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for USER PROFILE ELIGIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CustomerEligibility_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="UserProfileEligibilityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="UserProfileEligibilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for USER PROFILE ELIGIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="UserProfileRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== COMMERCIAL PROFILE ELIGIBILITY ======================================== -->
	<xsd:element name="CommercialProfileEligibility" abstract="false" substitutionGroup="CustomerEligibility_">
		<xsd:annotation>
			<xsd:documentation>Whether a specific TRANSPORT CUSTOMER is eligible for a FARE PRODUCT with a specific COMMERCIAL PROFILE as a validity parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CommercialProfileEligibility_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CustomerEligibilityGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CommercialProfileEligibilityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CommercialProfileEligibilityIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of COMMERCIAL PROFILE ELIGIBILITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CommercialProfileEligibility_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for COMMERCIAL PROFILE ELIGIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CustomerEligibility_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="CommercialProfileEligibilityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CommercialProfileEligibilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for COMMERCIAL PROFILE ELIGIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CommercialProfileRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== RESIDENTIAL QUALIFICATION ELIGIBILITY ======================================== -->
	<xsd:element name="ResidentialQualificationEligibility" abstract="false" substitutionGroup="CustomerEligibility_">
		<xsd:annotation>
			<xsd:documentation>Whether a specific TRANSPORT CUSTOMER is eligible for a FARE PRODUCT with a specific RESIDENTIAL QUALIFICATION as a validity parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ResidentialQualificationEligibility_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CustomerEligibilityGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ResidentialQualificationEligibilityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ResidentialQualificationEligibilityIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of RESIDENTIAL QUALIFICATION ELIGIBILITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ResidentialQualificationEligibility_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RESIDENTIAL QUALIFICATION ELIGIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CustomerEligibility_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="ResidentialQualificationEligibilityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ResidentialQualificationEligibilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESIDENTIAL QUALIFICATION ELIGIBILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ResidentialQualificationRef" minOccurs="0"/>
			<xsd:element name="ResidencyType" type="ResidenceTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Residency. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date residence started. +v1.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date residence started +v1.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
