XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_salesTransactions/netex_retailConsortium_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_retailConsortium_version">
	<xsd:include schemaLocation="netex_retailConsortium_support.xsd"/>
	<xsd:include schemaLocation="netex_salesContract_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_organisation_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_securityList_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_address_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified> Name Space changes
				</Date>
				<Date>
					<Modified>2017-06-20</Modified>  CR047 Add Whitelists 
				</Date>
						<Date>
					<Modified>2019-02-23</Modified>  Doc only corrections
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the RETAIL CONSORTIUM types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransactions}netex_retailConsortium_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					<Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx RETAIL CONSORTIUM    types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: RETAIL CONSORTIUM  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="RetailConsortiumInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RETAIL CONSORTIUM in Frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="retailConsortiums" type="retailConsortiumsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CUSTOMERs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="retailDevices" type="retailDevicesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>RETAIL CONSORTIUMS in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="retailDevicesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of CUSTOMERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="RetailDevice" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="retailConsortiumsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  RETAIL CONSORTIUMs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="RetailConsortium" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== CUSTOMER-->
	<xsd:complexType name="retailConsortiums_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of RETAIL CONSORTIUMs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="RetailConsortiumRef"/>
					<xsd:element ref="RetailConsortium"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RetailConsortium" abstract="false" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>A group of ORGANISATIONs formally incorporated as a retailer of fare products.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RetailConsortium_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup">
								<xsd:annotation>
									<xsd:documentation>Details for Organisation.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RetailConsortiumGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RetailConsortiumIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of RETAIL CONSORTIUM.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RetailConsortium_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RETAIL CONSORTIUM.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Organisation_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RetailConsortiumGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RetailConsortiumGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RETAIL CONSORTIUM.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PostalAddress" minOccurs="0"/>
			<xsd:element name="members" type="organisationRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>RETAIL DEVICEs used by to RETAIL CONSORTIUM.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="blacklistRefs" type="blacklistRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>BLACKLISTs used by RETAIL CONSORTIUM.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="whitelistRefs" type="whitelistRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>WHITELISTs used by RETAIL CONSORTIUM.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="retailDevices" type="RetailDevices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>RETAIL DEVICEs used by RETAIL CONSORTIUM.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== RETAIL DEVICE =================-->
	<xsd:complexType name="RetailDevices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of RETAIL DEVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="RetailDeviceRef"/>
					<xsd:element ref="RetailDevice"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RetailDevice" abstract="false" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>A retail device used to sell fare products. Can be used to record fulfilment.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RetailDevice_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RetailDeviceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RetailDeviceIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of RETAIL DEVICE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RetailDevice_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RETAIL DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RetailDeviceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RetailDeviceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RETAIL DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Status" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Status of Retail device.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OrganisationRef" minOccurs="0"/>
			<xsd:element ref="TypeOfRetailDeviceRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TYPE OF FARE CONTRACT ======================================== -->
	<xsd:complexType name="typesOfRetailDevice_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF RETAIL DEVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfRetailDeviceRef"/>
					<xsd:element ref="TypeOfRetailDevice"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeOfRetailDevice_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TYPE OF RETAIL DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfRetailDevice" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of RETAIL DEVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfRetailDevice_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfRetailDeviceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- ====CUSTOMER SECURITY LISTING ======================================== -->
	<xsd:element name="RetailDeviceSecurityListing" abstract="false" substitutionGroup="SecurityListing_">
		<xsd:annotation>
			<xsd:documentation>A listing of a RETAIL DEVICE on a sSECURITY LIST.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RetailDeviceSecurityListing_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SecurityListingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RetailDeviceSecurityListingGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for RETAIL DEVICE SECURITY LISTING</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RetailDeviceSecurityListingIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of RETAIL DEVICE SECURITY LISTING.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RetailDeviceSecurityListing_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for  RETAIL DEVICE SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SecurityListing_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="RetailDeviceSecurityListingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RetailDeviceSecurityListingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RETAIL DEVICE SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RetailDeviceRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
