XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_salesTransactions/netex_customerPurchasePackage_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_customerPurchasePackage_support">
	<xsd:include schemaLocation="../part3_fares/netex_accessRightParameter_support.xsd"/>
	<xsd:include schemaLocation="netex_salesContract_support.xsd"/>
	<!-- =============================================================== -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.1 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2017-08-10</Created>
				</Date>
				<Date>
					<Modified>2017-02-05</Modified>Name Space changes  
				</Date>
				<Date>
					<Modified>2019-03-01</Modified>Fix: Correct case on customerPurchasePackageRefs				 
				</Date>
				<Date>
					<Modified>2019-03-15</Modified>EURA-(nk)  Allow marking of use of CustomerPurchasePackage
						Add MarkedAsEnumeration   attribute with values unused, activated, marked and used 
						Add new CustomerPurchasePackageElementAccess element
				</Date>
				<Date>
					<Modified>2019-04-06</Modified>Align with TM6  Move TravelSpecication to this package and  Add new elements RequestedTravelSpecification and OfferedTravelSpecifcation 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the CUSTOMER PURCHASE PACKAGE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransaction}netex_CustomerPurchasePackage_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Steam Intellect, London N1 1JS </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx CUSTOMER PURCHASE PACKAGE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: CUSTOMER PURCHASE PACKAGE identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====TRAVEL SPECIFICATION.======================================================== -->
	<xsd:complexType name="travelSpecificationRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TravelSpecificationRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TravelSpecificationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareContractEntryIdType"/>
	</xsd:simpleType>
	<xsd:element name="TravelSpecificationRef" type="TravelSpecificationRefStructure" abstract="false" substitutionGroup="FareContractEntryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TravelSpecificationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareContractEntryRefStructure">
				<xsd:attribute name="ref" type="TravelSpecificationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRAVEL SPECIFICATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== REQUESTED TRAVEL SPECIFICATION. =============== ========================= -->
	<xsd:simpleType name="RequestedTravelSpecificationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a REQUESTED TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TravelSpecificationIdType"/>
	</xsd:simpleType>
	<xsd:element name="RequestedTravelSpecificationRef" type="RequestedTravelSpecificationRefStructure" abstract="false" substitutionGroup="TravelSpecificationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a REQUESTED TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RequestedTravelSpecificationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a REQUESTED TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TravelSpecificationRefStructure">
				<xsd:attribute name="ref" type="RequestedTravelSpecificationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a REQUESTED TRAVEL SPECIFICATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====OFFERED TRAVEL SPECIFICATION. ========================================= -->
	<xsd:simpleType name="OfferedTravelSpecificationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an OFFERED TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TravelSpecificationIdType"/>
	</xsd:simpleType>
	<xsd:element name="OfferedTravelSpecificationRef" type="OfferedTravelSpecificationRefStructure" abstract="false" substitutionGroup="TravelSpecificationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an OFFERED TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OfferedTravelSpecificationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to an OFFERED TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TravelSpecificationRefStructure">
				<xsd:attribute name="ref" type="OfferedTravelSpecificationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a OFFERED TRAVEL SPECIFICATION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === SPECIFIC PARAMETER====================================================== -->
	<xsd:simpleType name="SpecificParameterAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SPECIFIC PARAMETER.ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ValidityParameterAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="SpecificParameterAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SPECIFIC PARAMETER ASIGNMENT..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ValidityParameterAssignmentRefStructure">
				<xsd:attribute name="ref" type="SpecificParameterAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SPECIFIC PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====CUSTOMER PURCHASE PACKAGE.======================================================== -->
	<xsd:complexType name="customerPurchasePackageRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="CustomerPurchasePackageRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CustomerPurchasePackageIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PriceableObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerPurchasePackageRef" type="CustomerPurchasePackageRefStructure" substitutionGroup="PriceableObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerPurchasePackageRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PriceableObjectRefStructure">
				<xsd:attribute name="ref" type="CustomerPurchasePackageIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====CUSTOMER PURCHASE PACKAGE ELEMENT.======================================================== -->
	<xsd:simpleType name="CustomerPurchasePackageElementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER PURCHASE PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PriceableObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerPurchasePackageElementRef" type="CustomerPurchasePackageElementRefStructure" substitutionGroup="PriceableObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER PURCHASE PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerPurchasePackageElementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER PURCHASE PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PriceableObjectRefStructure">
				<xsd:attribute name="ref" type="CustomerPurchasePackageElementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER PURCHASE PACKAGE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CustomerPurchasePackageStatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for CUSTOMER PURCHASE PACKAGE  Status. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="reserved">
				<xsd:annotation>
					<xsd:documentation>Reserved but not paid for.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ordered">
				<xsd:annotation>
					<xsd:documentation>Purchased but not paid for.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="paidFor">
				<xsd:annotation>
					<xsd:documentation>Paid for.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="unused">
				<xsd:annotation>
					<xsd:documentation>Fulfilled but has not yet been used.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="activated">
				<xsd:annotation>
					<xsd:documentation>Activated for use.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="partiallyUsed">
				<xsd:annotation>
					<xsd:documentation>Partially used.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="used">
				<xsd:annotation>
					<xsd:documentation>Fully used.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="archived">
				<xsd:annotation>
					<xsd:documentation>Archived.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other">
				<xsd:annotation>
					<xsd:documentation>Other status.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MarkedAsEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for MarkedAs Status.++ +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="unused"/>
			<xsd:enumeration value="activated"/>
			<xsd:enumeration value="marked"/>
			<xsd:enumeration value="used"/>
			<xsd:enumeration value="expired"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === CUSTOMER PURCHASE PACKAGE PRICE====================================================== -->
	<xsd:simpleType name="CustomerPurchasePackagePriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER PURCHASE PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FarePriceIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerPurchasePackagePriceRef" type="CustomerPurchasePackagePriceRefStructure" substitutionGroup="FarePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER PURCHASE PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerPurchasePackagePriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER PURCHASE PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FarePriceRefStructure">
				<xsd:attribute name="ref" type="CustomerPurchasePackagePriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER PURCHASE PACKAGE PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====GROUP OF CUSTOMER PURCHASE PACKAGEs.======================================================== -->
	<xsd:complexType name="groupOfcustomerPurchasePackageRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfCustomerPurchasePackagesRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="GroupOfCustomerPurchasePackagesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF CUSTOMER PURCHASE PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="GroupOfCustomerPurchasePackagesRef" type="GroupOfCustomerPurchasePackagesRefStructure" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP OF CUSTOMER PURCHASE PACKAGEs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfCustomerPurchasePackagesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GROUP OF CUSTOMER PURCHASE PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="GroupOfCustomerPurchasePackagesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF CUSTOMER PURCHASE PACKAGEs.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === CUSTOME PURCHASE PACKAGE PARAMETER ASSIGNMENT====================================================== -->
	<xsd:simpleType name="CustomerPurchaseParameterAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER PURCHASE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ValidityParameterAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="CustomerPurchaseParameterAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER PURCHASE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ValidityParameterAssignmentRefStructure">
				<xsd:attribute name="ref" type="CustomerPurchaseParameterAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER PURCHASE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === CUSTOMER PURCHASE PACKAGE ELEMENT ACCESS. ====================================================== -->
	<xsd:simpleType name="CustomerPurchasePackageElementAccessIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER PURCHASE PACKAGE ELEMENT ACCESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="CustomerPurchasePackageElementAccessRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER PURCHASE PACKAGE ELEMENT ACCESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="CustomerPurchasePackageElementAccessIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER PURCHASE PACKAGE ELEMENT ACCESS.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =============================================================== -->
</xsd:schema>
