XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_salesTransactions/netex_mediumApplication_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_mediumApplication_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_securityList_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-06</Created>Add for New Modes
				</Date>
				<Date><Modified>2020-10-06</Modified>Add SERVICE PLACE and link
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the MEDIUM ACCESS DEVICE identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_mediumApplication_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx MEDIUM ACCESS DEVICE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx  MEDIUM ACCESS DEVICE Identifer types for </xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ====  MEDIUM ACCESS DEVICE ============================================ -->
	<xsd:complexType name="mediumAccessDeviceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of MEDIUM ACCESS DEVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="MediumAccessDeviceRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MediumAccessDeviceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MEDIUM ACCESS DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="MediumAccessDeviceRef" type="MediumAccessDeviceRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MEDIUM ACCESS DEVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MediumAccessDeviceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a MEDIUM ACCESS DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="MediumAccessDeviceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of MEDIUM ACCESS DEVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== SMARTCARD  ============================================ -->
	<xsd:simpleType name="SmartcardIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SMARTCARD.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="MediumAccessDeviceIdType"/>
	</xsd:simpleType>
	<xsd:element name="SmartcardRef" type="SmartcardRefStructure" substitutionGroup="MediumAccessDeviceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SMARTCARD. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SmartcardRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SMARTCARD. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="MediumAccessDeviceRefStructure">
				<xsd:attribute name="ref" type="SmartcardIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of SMARTCARD.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== EMV CARD  ============================================ -->
	<xsd:simpleType name="EmvCardIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a EMV CARD (EMV for Europay International, MasterCard and VISA).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="MediumAccessDeviceIdType"/>
	</xsd:simpleType>
	<xsd:element name="EmvCardRef" type="EmvCardRefStructure" substitutionGroup="MediumAccessDeviceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a EMV CARD. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EmvCardRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a EMV CARD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="MediumAccessDeviceRefStructure">
				<xsd:attribute name="ref" type="EmvCardIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of EMV CARD.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== MOBILE DEVICE  ============================================ -->
	<xsd:simpleType name="MobileDeviceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MOBILE DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="MediumAccessDeviceIdType"/>
	</xsd:simpleType>
	<xsd:element name="MobileDeviceRef" type="MobileDeviceRefStructure" substitutionGroup="MediumAccessDeviceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MOBILE DEVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MobileDeviceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a MOBILE DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="MediumAccessDeviceRefStructure">
				<xsd:attribute name="ref" type="MobileDeviceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of MOBILE DEVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====  MEDIUM APPLICATION INSTANCE ============================================ -->
	<xsd:complexType name="mediumApplicationInstanceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of MEDIUM APPLICATION INSTANCEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="MediumApplicationInstanceRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MediumApplicationInstanceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MEDIUM APPLICATION INSTANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="MediumApplicationInstanceRef" type="MediumApplicationInstanceRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MEDIUM APPLICATION INSTANCE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MediumApplicationInstanceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a MEDIUM APPLICATION INSTANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="MediumApplicationInstanceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of MEDIUM APPLICATION INSTANCE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== TYPE OF MEDIUM ACCESS DEVICE. ================================================== -->
	<xsd:simpleType name="TypeOfMediumAccessDeviceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF MEDIUM ACCESS DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfMediumAccessDeviceRef" type="TypeOfMediumAccessDeviceRefStructure" abstract="false" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF MEDIUM ACCESS DEVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfMediumAccessDeviceRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF MEDIUM ACCESS DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfMediumAccessDeviceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF MEDIUM ACCESS DEVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====  MEDIUM ACCESS DEVICE SECURITY LISTING .======================================================== -->
	<xsd:complexType name="mediumAccessDeviceSecurityListingRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of MEDIUM ACCESS DEVICE SECURITY LISTING.s.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="MediumAccessDeviceSecurityListingRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MediumAccessDeviceSecurityListingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MEDIUM ACCESS DEVICE SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SecurityListingIdType"/>
	</xsd:simpleType>
	<xsd:element name="MediumAccessDeviceSecurityListingRef" type="MediumAccessDeviceSecurityListingRefStructure" substitutionGroup="SecurityListingRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MEDIUM ACCESS DEVICE SECURITY LISTING. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MediumAccessDeviceSecurityListingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a MEDIUM ACCESS DEVICE SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SecurityListingRefStructure">
				<xsd:attribute name="ref" type="MediumAccessDeviceSecurityListingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a MEDIUM ACCESS DEVICE SECURITY LISTING..</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
