XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_salesTransactions/netex_customerPaymentMeans_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex__version">
	<xsd:include schemaLocation="netex_mediumApplication_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceRestrictions_support.xsd"/>
	<xsd:include schemaLocation="netex_customerPaymentMeans_support.xsd"/>
	<xsd:include schemaLocation="../part3_salesTransactions/netex_salesContract_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-07</Created>Add for New Modes
				</Date>
				<Date>
					<Modified>2020-10-07</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the MEDIUM APPLICATION   types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_customerPaymentMeans_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx MEDIUM APPLICATION types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>MEDIUM APPLICATION data types</xsd:documentation>
	</xsd:annotation>
	<!-- ====== MEDIUM APPLICATION INSTANCE ========================================== -->
	<xsd:complexType name="customerPaymentMeans_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of a CUSTOMER PAYMENT MEANSs in Sequence</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="CustomerPaymentMeans" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A component (mobile phone, smart card, etc) with the necessary facilities (hardware and software) to host a CUSTOMER PAYMENT MEANS and communicate with a control device.
 +v1.2.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CustomerPaymentMeans" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>A registered means with which a TRANSPORT CUSTOMER wishes to make payments for a CUSTOMER ACCOUNT, e.g. by nominated EMV card. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CustomerPaymentMeans_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CustomerPaymentMeansGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CustomerPaymentMeansIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CustomerPaymentMeans_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for CUSTOMER PAYMENT MEANS restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="CustomerPaymentMeansGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CustomerPaymentMeansGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CUSTOMER PAYMENT MEANS</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of PAYMENT MEANS.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CustomerAccountRef" minOccurs="0"/>
			<xsd:element ref="MediumAccessDeviceRef" minOccurs="0"/>
			<xsd:element name="PaymentMethod" type="PaymentMethodEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Method of payment used,</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfPaymentMethodRef" minOccurs="0"/>
			<xsd:element name="LastVerifiedDate" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Dat that means was last verified by an authentication process.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
