XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_salesTransactions/netex_mediumApplication_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_mediumApplication_version">
	<xsd:include schemaLocation="netex_mediumApplication_support.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_typeOfTravelDocument_support.xsd"/>
	<xsd:include schemaLocation="netex_travelDocument_support.xsd"/>
	<xsd:include schemaLocation="netex_salesContract_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:group name="MediumAccessDevicesInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>MEDIUM ACCESS DEVICEs In Frame +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mediumAccessDevices" type="mediumAccessDevicesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MEDIUM ACCESS DEVICES s in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="mediumAccessDevicesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Use explicit choice as workaround for SG issues</xsd:documentation>
					</xsd:annotation>
					<xsd:element ref="EmvCard"/>
					<xsd:element ref="Smartcard"/>
					<xsd:element ref="MobileDevice" maxOccurs="unbounded"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Contributor>Christophe Duquesne</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-07</Created>Add for New Modes
				</Date>
				<Date>
					<Modified>2020-10-07</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the MEDIUM APPLICATION   types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_newModes}netex_mediumAPplication_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx MEDIUM APPLICATION types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>MEDIUM APPLICATION data types</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="MediumAccessDevice_Dummy" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A component (mobile phone, smart card, etc) with the necessary facilities (hardware and software) to host a MEDIUM APPLICATION INSTANCE and communicate with a control device. +v1.2.2.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DataManagedObjectStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- ====== MEDIUM ACCESS DEVICE ========================================== -->
	<xsd:element name="MediumAccessDevice" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A component (mobile phone, smart card, etc) with the necessary facilities (hardware and software) to host a MEDIUM APPLICATION INSTANCE and communicate with a control device. +v1.2.2.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MediumAccessDevice_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MediumAccessDeviceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MediumAccessDeviceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MediumAccessDevice_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MEDIUM ACCESS DEVICE restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="MediumAccessDeviceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MediumAccessDeviceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MEDIUM ACCESS DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name for device</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CustomerRef" minOccurs="0"/>
			<xsd:element name="IdentityToken" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Secure token used to identify MEDIUM ACCESS DEVICE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfMediumAccessDeviceRef" minOccurs="0"/>
			<xsd:element name="applicationInstances" type="mediumApplicationInstance_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MEDIUM APPLICATION INSTANCES for device.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== MOBILE DEVICE ========================================== -->
	<xsd:element name="MobileDevice" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A mobile device (mobile phone, tablet, etc) with the necessary facilities (hardware and software) to host a MEDIUM APPLICATION INSTANCE and communicate with a control device.
  +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MobileDevice_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MediumAccessDeviceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MobileDeviceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MobileDevice_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MOBILE DEVICE restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MediumAccessDevice_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====== EMV CARD ========================================== -->
	<xsd:element name="EmvCard" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A standardised payment card (Europay MasterCard Visa etc) , capable of being used as token for an ABT system +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="EmvCard_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MediumAccessDeviceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="EmvCardIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="EmvCard_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for EMV CARD restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MediumAccessDevice_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====== SMART CARD ========================================== -->
	<xsd:element name="Smartcard" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A smart card with the necessary facilities (hardware and software) are) to host a MEDIUM APPLICATION INSTANCE and communicate with a control device. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Smartcard_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MediumAccessDeviceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SmartCardGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SmartcardIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Smartcard_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SMARTCARD restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MediumAccessDevice_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SmartCardGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SmartCardGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SMART CARD GROUP</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ====== MEDIUM APPLICATION INSTANCE ========================================== -->
	<xsd:complexType name="mediumApplicationInstance_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of a MEDIUM APPLICATION INSTANCEs in Sequence</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="MediumApplicationInstance" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A component (mobile phone, smart card, etc) with the necessary facilities (hardware and software) to host a MEDIUM APPLICATION INSTANCE and communicate with a control device.
 +v1.2.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="MediumApplicationInstance" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Initialized instance of a software application that runs on a MEDIUM ACCESS DEVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MediumApplicationInstance_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MediumApplicationInstanceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MediumApplicationInstanceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MediumApplicationInstance_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MEDIUM APPLICATION INSTANCE restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="MediumApplicationInstanceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MediumApplicationInstanceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MEDIUM APPLICATION INSTANCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name for application instance.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IdentityToken" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Secure token used to identify MEDIUM APPLICATION INSTANCE DEVICE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MediumAccessDeviceRef" minOccurs="0"/>
			<xsd:element ref="CustomerAccountRef" minOccurs="0"/>
			<xsd:element ref="TypeOfTravelDocumentRef" minOccurs="0"/>
			<xsd:element ref="TravelDocumentRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====  MEDIUM ACCESS DEVICE SECURITY LISTING ======================================== -->
	<xsd:element name="MediumAccessDeviceSecurityListing" substitutionGroup="SecurityListing_Dummy">
		<xsd:annotation>
			<xsd:documentation>A listing of a MEDIUM ACCESS DEVICE on a SECURITY LIST. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MediumAccessDeviceSecurityListing_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SecurityListingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MediumAccessDeviceSecurityListingGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for PASSENGER SECURITY LISTING</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MediumAccessDeviceSecurityListingIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MediumAccessDeviceSecurityListing_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MEDIUM ACCESS DEVICE SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SecurityListing_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="MediumAccessDeviceSecurityListingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MediumAccessDeviceSecurityListingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for MEDIUM ACCESS DEVICE SECURITY LISTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="MediumAccessDeviceRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== TYPE OF MEDIUM ACCESS DEVICE ============================================================ -->
	<xsd:element name="TypeOfMediumAccessDevice" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A classification for a TYPE OF MEDIUM ACCESS DEVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfMediumAccessDevice_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfMediumAccessDeviceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfMediumAccessDeviceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of TYPE OF MEDIUM ACCESS DEVICE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfMediumAccessDevice_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF MEDIUM ACCESS DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TypeOfMediumAccessDeviceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TypeOfMediumAccessDeviceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TYPE OF MEDIUM ACCESS DEVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfMachineReadabilityRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
