XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_salesTransactions/netex_travelSpecificationSummary_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_travelSpecificationSummary_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleSeating_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_stopPlace_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_version.xsd"/>
	<xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_serviceJourney_support.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_fareSeries_support.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_fareProduct_support.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_usageParameterEligibility_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2019-03-12</Created>From TravelSpecifcation
				</Date>
				<Date>
					<Modified>2019-03-12</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the TRAVEL SPECIFICATION SUMMARY VIEW types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransactions}netex_travelSpecificationSummary_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TRAVEL SPECIFICATION  SUMMARY VIEW  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: TRAVEL SPECIFICATION  SUMMARY VIEW types.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceRestrictions_support.xsd"/>
	<xsd:element name="TravelSpecificationSummaryView" type="TravelSpecificationSummaryViewStructure">
		<xsd:annotation>
			<xsd:documentation>Summary of key aspects of TRAVEL SPECIFICATION. +V1.1. This data should all be derivable from the PARAMATER ASSIGMENTs.  v+1.1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TravelSpecificationSummaryViewStructure">
		<xsd:annotation>
			<xsd:documentation>Summary of key aspects of TRAVEL SPECIFICATION. +V1.1. This data should all be derivable from the detailed specification. v+1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Origin" type="TravelSpecificationSummaryEndpointStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Origin of Travel.  Note that for a point-to-point TARIFF the origin is assigned with a DISTANCE MATRIX ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Destination" type="TravelSpecificationSummaryEndpointStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destination of Travel. Note that for a point-to-point TARIFF the origin is assigned with a DISTANCE MATRIX ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="TravelSpecificationSummaryJourneyGroup">
				<xsd:annotation>
					<xsd:documentation>Travel lements for TRAVEL SPECIFICATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="TravelSpecificationSummaryFareGroup"/>
			<xsd:group ref="TravelSpecificationSummarySeatingGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TravelSpecificationSummaryEndpointStructure">
		<xsd:annotation>
			<xsd:documentation>Origin or destnation elements for TRAVEL SPECIFICATION Summary View.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="TravelSpecificationSummaryEndPointPlaceGroup"/>
			<xsd:element ref="ScheduledStopPointView" minOccurs="0"/>
			<xsd:element ref="QuayRef" minOccurs="0"/>
			<xsd:element ref="BoardingPositionRef" minOccurs="0"/>
			<xsd:element ref="TariffZoneRef" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="TravelSpecificationSummaryEndPointPlaceGroup">
		<xsd:annotation>
			<xsd:documentation>Place elements for TRAVEL SPECIFICATION Summary View.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TopographicPlaceView" minOccurs="0"/>
			<xsd:element ref="AddressRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TravelSpecificationSummaryJourneyGroup">
		<xsd:annotation>
			<xsd:documentation>Journey elements for TRAVEL SPECIFICATION Summary View.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Start" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start tiem for trip or pass.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="End" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End time for trip or pass.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Duration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DUration for trip or pass</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="journeys" type="travelSpecificationJourneyRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specified journeys for trip.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="seriesConstraints" type="seriesConstraintRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Routig for trip</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element ref="OperatorRef"/>
				<xsd:element ref="GroupOfOperatorsRef"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="travelSpecificationJourneyRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:sequence>
						<xsd:element ref="ServiceJourneyRef" minOccurs="0"/>
						<xsd:element ref="TrainNumberRef" minOccurs="0"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TravelSpecificationSummaryFareGroup">
		<xsd:annotation>
			<xsd:documentation>Fare elements for TRAVEL SPECIFICATION.  Summary View.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfProductCategoryRef" minOccurs="0"/>
			<xsd:element ref="TypeOfFareProductRef" minOccurs="0"/>
			<xsd:element ref="FareClass" minOccurs="0"/>
			<xsd:element ref="ClassOfUseRef" minOccurs="0"/>
			<xsd:element ref="UserProfileRef" minOccurs="0"/>
			<xsd:element ref="GroupTicketRef" minOccurs="0"/>
			<xsd:element name="MaximumNumberOfUsers" type="NumberOfPassengers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maimum number of users on a GROUP TICKET.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TravelSpecificationSummarySeatingGroup">
		<xsd:annotation>
			<xsd:documentation>Seating elements for TRAVEL SPECIFICATION.  Summary View.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TrainElementRef" minOccurs="0"/>
			<xsd:element ref="TrainComponentLabelAssignmentRef" minOccurs="0"/>
			<xsd:element ref="PassengerSeatRef" minOccurs="0"/>
			<xsd:element ref="ServiceFacilitySet" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
