XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_3/part3_salesTransactions/netex_spotAllocation_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_spotAllocation_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2025-04-26</Created>
				</Date>
				<Date><Modified>2025-04-26</Modified>U 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables and fares.</p>
					<p>This sub-schema describes the SPOT ALLOCATION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransactions}netex_spotAllocation_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Steam Intellect, London N1 1JS </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2023-2025</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SPOT ALLOCATION types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx SPOT ALLOCATION types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_seatingPlan_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleSeating_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_datedVehicleJourney_support.xsd"/>
	<xsd:include schemaLocation="netex_spotAllocation_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_deckPlan_support.xsd"/>
	<xsd:include schemaLocation="netex_salesContract_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:group name="SpotAllocationsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation> SPOT ALLOCATION in a FARE FRAME. +V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="vehicleJourneySpotAllocations" type="vehicleJourneySpotAllocations_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE JOURNEY SPOT ALLOCATIONs In frame +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== VEHICLE JOURNEY SPOT ALLOCATION  ==== -->
	<xsd:element name="VehicleJourneySpotAllocation" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An identified person or organisation involved in a fare process. There may be a FARE CONTRACT between the VEHICLE JOURNEY SPOT ALLOCATION and the OPERATOR or the AUTHORITY ruling the consumption of services. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleJourneySpotAllocation_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VehicleJourneySpotGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleJourneySpotAllocationIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="vehicleJourneySpotAllocations_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE JOURNEY SPOT ALLOCATIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="VehicleJourneySpotAllocation"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleJourneySpotAllocation_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE JOURNEY SPOT ALLOCATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleJourneySpotGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleJourneySpotGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VEHICLE JOURNEY SPOT ALLOCATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DatedVehicleJourneyRef" minOccurs="0"/>
			<xsd:element name="SeatAllocationMethod" type="SeatAllocationMethodEnumeration" default="autoAssigned" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Method used to allocate seat. Defult is autoassigned</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SpotAllocationMethodRef" minOccurs="0"/>
			<xsd:element name="passengerSpotAllocations" type="passengerSpotAllocations_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FARE CONTRACTs belonging to VEHICLE JOURNEY SPOT ALLOCATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== PASSENGER SPOT ALLOCATION ===========================-->
	<xsd:complexType name="passengerSpotAllocations_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER SPOT ALLOCATIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="PassengerSpotAllocation" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerSpotAllocation" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Whether a specific TRANSPORT CUSTOMER is eligible for a FARE PRODUCT with a specific validity Parameter. This may be subject to a particular VALIDITY CONDITION. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerSpotAllocation_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerSpotAllocationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerSpotAllocationIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of PASSENGER SPOT ALLOCATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerSpotAllocation_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for PASSENGER SPOT ALLOCATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerSpotAllocationGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerSpotAllocationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for PASSENGER SPOT ALLOCATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LastUpdated" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Time that allocations were last updated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="SpotGroup"/>
			<xsd:element ref="FacilitySetRef" minOccurs="0"/>
			<xsd:element name="PrimaryOrientation" type="ComponentOrientationEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Notional orientation of seat to travel (e.g. forwards facing, backwards facing, etc.); may not necessarily hold for all parts of journey. See allowed values.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="AllocatedToPassengerGroup">
				<xsd:annotation>
					<xsd:documentation>Elements describing who the allocation is for.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SpotGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for PASSENGER SPOT ALLOCATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DeckRef" minOccurs="0"/>
			<xsd:element ref="DeckSpaceRef" minOccurs="0"/>
			<xsd:element ref="LocatableSpotRef"/>
			<xsd:element name="Label" type="MultilingualString">
				<xsd:annotation>
					<xsd:documentation>Label of SPOT</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of PASSENGER SPOT ALLOCATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AllocatedToPassengerGroup">
		<xsd:annotation>
			<xsd:documentation>Elements Allocation on PASSENGER SPOT ALLOCATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StartStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start Stop Point for SPOT ALLOCATION</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End Stop Point for SPOT ALLOCATION</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CustomerRef" minOccurs="0"/>
			<xsd:element name="SpotAvailabilityStatus" type="SpotAvailabilityStatusEnumeration" default="free" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Availability status of spot. Default is free</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SeatAllocationMethod" type="SeatAllocationMethodEnumeration" default="autoAssigned" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Method used to allocate seat. Default is autoassigned</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
