XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_rc/netex_nm_onlineService_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_onlineService_version">
	<xsd:include schemaLocation="netex_nm_onlineService_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_mobilityService_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.2.2 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date><Created>2020-10-05</Created>Added for New modes
				</Date>
				<Date>
					<Modified>2020-10-05</Modified>
				</Date>
				<Date><Modified>2020-11-27</Modified>Revise to be Organisation not transport Oranisation
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines ONLINE SERVICE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_rc}netex_nm_onlineService_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ONLINE SERVICE  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>ONLINE SERVICE types for NeTEx New Modes</xsd:documentation>
	</xsd:annotation>
	<!-- ==== ONLINE SERVICE OPERATOR ========================================================= -->
	<xsd:element name="OnlineServiceOperator" substitutionGroup="TransportOrganisation_Dummy">
		<xsd:annotation>
			<xsd:documentation>An organisation that provides online access to an ONLINE SERVICE without operating transportation services of travellers. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OnlineServiceOperator_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup">
								<xsd:annotation>
									<xsd:documentation>Details for Organisation.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OnlineServiceOperatorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OnlineServiceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of ONLINE SERVICE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OnlineServiceOperator_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an ONLINE SERVICE OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Organisation_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OnlineServiceOperatorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OnlineServiceOperatorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an ONLINE SERVICE OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CountryRef" minOccurs="0"/>
			<xsd:element name="Address" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Address of TRANSPORT ORGANISATION.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="PostalAddress_VersionStructure">
							<xsd:sequence>
								<xsd:sequence>
									<xsd:group ref="GroupOfEntitiesGroup"/>
								</xsd:sequence>
								<xsd:sequence>
									<xsd:group ref="ZoneGroup"/>
								</xsd:sequence>
								<xsd:group ref="PlaceGroup"/>
								<xsd:sequence>
									<xsd:group ref="AddressGroup"/>
								</xsd:sequence>
								<xsd:sequence>
									<xsd:group ref="PostalAddressGroup"/>
									<xsd:element name="RoadAddressRef" type="AddressRefStructure" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Road on which address lies.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="services" type="onlineServiceRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ONLINE SERVICES managed by ONLINE OPERATOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== MOBILITY SERVICE ================================================================ -->
	<!-- ===== ONLINE SERVICE ============================================= -->
	<xsd:complexType name="onlineServices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of MOBILITY SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="OnlineService" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OnlineService" substitutionGroup="MobilityService_Dummy">
		<xsd:annotation>
			<xsd:documentation>Any remotely accessible service providing access to any mode of transportation and/or information related to transportation services. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OnlineService_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MobilityServiceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OnlineServiceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OnlineServiceIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Identifier of an ONLINE SERVICE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OnlineService_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ONLINE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MobilityService_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OnlineServiceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OnlineServiceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ONLINE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LogInRequired" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether login is required to use service.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="proposingServices" type="mobilityServiceRefs_RelStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
