XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_rc/netex_nm_mobilityService_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_mobilityService_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.2.2 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2020-10-05</Created>
				</Date>
				<Date>
					<Modified>2020-10-05</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines MOBILITY SERVICE types </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_rc}netex_nm_mobilityService_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - MOBILITY SERVICE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>MOBILITY SERVICE identifier types for NeTEx New Modes.</xsd:documentation>
	</xsd:annotation>
	<!-- ===== MOBILITY SERVICE===================================================== -->
	<xsd:complexType name="mobilityServiceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of refernces to MOBILITY SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice minOccurs="0">
					<xsd:element ref="MobilityServiceRef" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="MobilityServiceRef" type="MobilityServiceRefStructure" abstract="true" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MOBILITY SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MobilityServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a MOBILITY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EquipmentRefStructure">
				<xsd:attribute name="ref" type="MobilityServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassMobilityServiceRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for MobilityServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="MobilityServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MOBILITY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EquipmentIdType"/>
	</xsd:simpleType>
	<!-- ===== COMMON VEHICLE SERVICE =========================================== -->
	<xsd:complexType name="commonVehicleServiceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of COMMON VEHICLE SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="CommonVehicleServiceRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CommonVehicleServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a COMMON VEHICLE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="MobilityServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="CommonVehicleServiceRef" type="CommonVehicleServiceRefStructure" abstract="true" substitutionGroup="MobilityServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an COMMON VEHICLE SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CommonVehicleServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an COMMON VEHICLE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="MobilityServiceRefStructure">
				<xsd:attribute name="ref" type="CommonVehicleServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassCommonVehicleServiceRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for CommonVehicleServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====  VEHICLE POOLING SERVICE =========================================== -->
	<xsd:simpleType name="VehiclePoolingServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE POOLING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CommonVehicleServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehiclePoolingServiceRef" type="VehiclePoolingServiceRefStructure" abstract="true" substitutionGroup="CommonVehicleServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an VEHICLE POOLING SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehiclePoolingServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an VEHICLE POOLING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="CommonVehicleServiceRefStructure">
				<xsd:attribute name="ref" type="VehiclePoolingServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingServiceRefStructureType">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehiclePoolingServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====  GENERAL POOLING SERVICE =========================================== -->
	<xsd:simpleType name="CarPoolingServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CAR POOLING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehiclePoolingServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="CarPoolingServiceRef" type="CarPoolingServiceRefStructure" substitutionGroup="VehiclePoolingServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an CAR POOLING SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CarPoolingServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an CAR POOLING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehiclePoolingServiceRefStructure">
				<xsd:attribute name="ref" type="CarPoolingServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassCarPoolingServiceRefStructureType" default="CarPoolingService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for CarPoolingServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====  TAXI SERVICE =========================================== -->
	<xsd:simpleType name="TaxiServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TAXI SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehiclePoolingServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="TaxiServiceRef" type="TaxiServiceRefStructure" substitutionGroup="VehiclePoolingServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an TAXI SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TaxiServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an TAXI SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehiclePoolingServiceRefStructure">
				<xsd:attribute name="ref" type="TaxiServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTaxiServiceRefStructureType" default="TaxiService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TaxiServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====  CHAUFFEURED VEHICLE SERVICE =========================================== -->
	<xsd:simpleType name="ChauffeuredVehicleServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CHAUFFEURED VEHICLE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehiclePoolingServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="ChauffeuredVehicleServiceRef" type="ChauffeuredVehicleServiceRefStructure" substitutionGroup="VehiclePoolingServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an CHAUFFEURED VEHICLE SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ChauffeuredVehicleServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an CHAUFFEURED VEHICLE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehiclePoolingServiceRefStructure">
				<xsd:attribute name="ref" type="ChauffeuredVehicleServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassChauffeuredVehicleServiceRefStructureType" default="ChauffeuredVehicleService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for ChauffeuredVehicleServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====  VEHICLE SHARING SERVICE =========================================== -->
	<xsd:simpleType name="VehicleSharingServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE SHARING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CommonVehicleServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleSharingServiceRef" type="VehicleSharingServiceRefStructure" substitutionGroup="CommonVehicleServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an VEHICLE SHARING SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleSharingServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an VEHICLE SHARING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="CommonVehicleServiceRefStructure">
				<xsd:attribute name="ref" type="VehicleSharingServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleSharingServiceRefStructureType" default="VehicleSharingService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehicleSharingServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =====  VEHICLE RENTAL SERVICE =========================================== -->
	<xsd:simpleType name="VehicleRentalServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE RENTAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CommonVehicleServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleRentalServiceRef" type="VehicleRentalServiceRefStructure" substitutionGroup="CommonVehicleServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an VEHICLE RENTAL SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleRentalServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an VEHICLE RENTAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="CommonVehicleServiceRefStructure">
				<xsd:attribute name="ref" type="VehicleRentalServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleRentalServiceRefStructureType" default="VehicleRentalService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for VehicleRentalServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfMobilityServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF MOBILITY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfMobilityServiceRef" type="TypeOfMobilityServiceRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF MobilityService. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfMobilityServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF MOBILITY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfMobilityServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a MOBILITY SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfMobilityServiceRefStructureType" default="TypeOfMobilityService">
					<xsd:annotation>
						<xsd:documentation>Automatic reference class for TypeOfMobilityServiceRefStructure</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="modification" type="ModificationEnumeration" use="optional">
					<xsd:annotation>
						<xsd:documentation>Nature of last modification: new, revise, delete, unchanged.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="versionRef" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Identifier of version of referenced entity. For use when reference is External and a specific version is required. Mutually exclusive with version</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Location of the external entity. +v2.0</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
