XmlSchemaClassGenerator.Tests/xsd/netex/netex_part_5/part5_rc/netex_nm_onlineService_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_onlineService_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_mobilityService_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.2.2CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2020-10-05</Created>
				</Date>
				<Date>
					<Modified>2020-10-05</Modified>
				</Date>
				<Date><Modified>2020-11-27</Modified>Revise to be Organisation not transport Oranisation
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines ONLINE SERVICE types </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_5/netex_rc}netex_nm_onlineService_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>CEN TC278 WG3 SG9</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ONLINE SERVICE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>ONLINE SERVICE identifier types for NeTEx New Modes.</xsd:documentation>
	</xsd:annotation>
	<!-- ====  ONLINE SERVICE OPERATOR ======================================================= -->
	<xsd:complexType name="onlineServiceOperatorRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ONLINE SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="OnlineServiceRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="OnlineServiceOperatorIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ONLINE SERVICE OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="OrganisationIdType"/>
	</xsd:simpleType>
	<xsd:element name="OnlineServiceOperatorRef" type="OnlineServiceOperatorRefStructure" substitutionGroup="OrganisationRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to an ONLINE SERVICE OPERATOR. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OnlineServiceOperatorRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ONLINE SERVICE OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="OrganisationRefStructure">
				<xsd:attribute name="ref" type="OnlineServiceOperatorIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ONLINE SERVICE OPERATOR.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====== ONLINE SERVICE ================================= -->
	<xsd:complexType name="onlineServiceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ONLINE SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="OnlineServiceRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="OnlineServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ONLINE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="MobilityServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="OnlineServiceRef" type="OnlineServiceRefStructure" substitutionGroup="MobilityServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an ONLINE SERVICE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OnlineServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ONLINE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="MobilityServiceRefStructure">
				<xsd:attribute name="ref" type="OnlineServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ONLINE SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
