XmlSchemaClassGenerator.Tests/xsd/iata/BaggageAllowanceRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/EDIST/2017.2" targetNamespace="http://www.iata.org/IATA/EDIST/2017.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.002" id="IATA2017.2">
	<xsd:include schemaLocation="edist_commontypes.xsd"/>
	<xsd:include schemaLocation="aidm_commontypes.xsd"/>
	<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
   B A G G A G E  A L L O W A N C E    R E Q U E S T   B U S I N E S S   O B J E C T
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	<xsd:element name="BaggageAllowanceRQ">
		<xsd:annotation>
			<xsd:documentation source="DESCRIPTION" xml:lang="en">The BaggageAllowance transaction set provides checked and carry-on baggage allowance details. Request qualifiers may include Traveler, origin/ destination, point of sale, flight-specific and ticketed fare information. 

The response returns the baggage allowance, whether or not IATA Reso 302 or DOT rules are applicable, baggage weight, dimensions and size information by origin/ destination pair. Implementers may also obtain an additional catalog of applicable embargoes and charges within the same origin and destination pair.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PointOfSale" minOccurs="0"/>
				<xsd:element ref="Document"/>
				<xsd:element ref="Party"/>
				<xsd:element name="Parameters" type="BagAllowReqParamsType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Parameters that influence overall message results.

Note: These capabilities may not be supported by all NDC-enabled systems or may be supported by bilateral agreement only. The technical implementation of this capability is not dictated by this specification. </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TicketIdentification" type="TicketIdentificationType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Ticket identification group, can be associated per Traveler.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:choice>
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Choice between entering: 
1) Cached Shopping Offer IDs
2) Detailed Query Parameters</xsd:documentation>
					</xsd:annotation>
					<xsd:element ref="ShoppingResponseID"/>
					<xsd:element name="Query">
						<xsd:annotation>
							<xsd:documentation source="Description" xml:lang="en">Core query parameters.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:choice>
								<xsd:element name="OriginDestination" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Origin and Destination.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="FlightType"/>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Flight" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Flight origin/ destination information.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="FlightOnlyType"/>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="OfferID" type="ItemID_Type">
									<xsd:annotation>
										<xsd:documentation>Globally unique Offer instance ID. It is not recommended to exceed 64, and it is not recommended to use dashes. Example: QWASZXERDFCVTYGHBNUIJKNMF67D5F9GHR567SWER41SD458F9456FMDIRTN34DF</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:element name="Preference" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Contains Shopping Preference choices, ie allowing to specify Airline, Alliance, Flight, Transfer and other shopping preferences.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="AirlinePreferences" minOccurs="0"/>
							<xsd:element ref="AlliancePreferences" minOccurs="0"/>
							<xsd:element ref="FarePreferences" minOccurs="0"/>
							<xsd:element ref="FlightPreferences" minOccurs="0"/>
							<xsd:element ref="PricingMethodPreference" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Contains information to identify how reservation was re-priced to obtain best published fare (Eg. best fare in same cabin, best fare in all cabins, other parameters to select best fare).</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="SegMaxTimePreferences" minOccurs="0"/>
							<xsd:element ref="ServicePricingOnlyPreference" minOccurs="0"/>
							<xsd:element ref="TransferPreferences" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Qualifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Qualifier choices.

These capabilities may not be supported by all NDC-enabled systems or may be supported by bilateral agreement only. If supported, the technical implementation of the capability is not dictated by this specification. </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="BaggagePricingQualifier" minOccurs="0"/>
							<xsd:element ref="ExistingOrderQualifier" minOccurs="0"/>
							<xsd:element ref="PaymentCardQualifiers" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Contains card type, and Issuer Identification Number. </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="ProgramQualifiers" minOccurs="0"/>
							<xsd:element ref="PromotionQualifiers" minOccurs="0"/>
							<xsd:element ref="SeatQualifier" minOccurs="0"/>
							<xsd:element ref="ServiceQualifier" minOccurs="0"/>
							<xsd:element ref="SocialMediaQualifiers" minOccurs="0"/>
							<xsd:element ref="SpecialFareQualifiers" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Contains elements identifying eligibility for special pricing, which may be private or negotiated.

Notes:
1. Supports pricing discounts and/ or other benefits for Travelers affiliated with companies with private fare and/ or negotiated rate contracts.

2. Private Fares apply to ALL Travelers.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="SpecialNeedQualifiers" minOccurs="0"/>
							<xsd:element ref="TripPurposeQualifier" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="JourneyData" type="ItineraryType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Existing Flight Itinerary Information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DataLists" minOccurs="0">
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Common NDC Data List choices.</xsd:documentation>
						</xsd:annotation>
						<xsd:sequence>
							<xsd:element name="PassengerList" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Passenger data list definition.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Passenger" type="PassengerType" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Any person except members of the crew carried or to be carried with the consent of the carrier, on board of any transport vehicle such as aircraft, train, bus, ship.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ContactList" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Contact data list definition.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ContactInformation" type="ContactInformationType" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Metadata" type="BagAllowReqMetadataType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Metadata List(s).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Policies" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Message Policy information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BagAllowReqParamsType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Baggage Allowance Request Parameters definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MessageParamsBaseType">
				<xsd:sequence>
					<xsd:element name="ServiceFilters" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Group and subgroup code(s) that specify the requested categories of Optional Services to be returned in the results.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="AssociatedObjectBaseType">
									<xsd:sequence>
										<xsd:element name="ServiceFilter" type="ServiceFilterType" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">Service group and subgroup code(s).</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Pricing" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Pricing Parameters, including Simple Pricing, Award Travel, Auto Exchange, Override Currency and Fee Exemption.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="OverrideCurrency" type="CurrencySimpleType" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Requested override currency code for pricing.
Example: EUR</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="FeeExemption" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Fee exemption application for Offer pricing.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="AssociatedObjectBaseType">
												<xsd:sequence>
													<xsd:element name="Fee" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Exemption(s) based on tax codes plus (optional) tax types within a tax code.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Code">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Exempt tax code.
Example: YQ/YR</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string">
																				<xsd:attribute name="CollectionPoint" use="optional">
																					<xsd:annotation>
																						<xsd:documentation source="description" xml:lang="en">Airport code location for exempt ZP or XF taxes.
Example: MIA</xsd:documentation>
																						<xsd:documentation source="ENCODING" xml:lang="en">For maximum interoperability, it is recommended that IATA (three character) Airport/ City Code values be used. Use an IATA code or a proprietary string value.

http://www.iata.org/publications/Pages/code-search.aspx</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="TaxType" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Tax type(s) within the tax code. Examples: I, C</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
															<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
														</xsd:complexType>
													</xsd:element>
													<xsd:element ref="CountryCode" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element name="ProvinceCode" type="ProperNameSimpleType" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Exempt province(s).</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="GovernmentBody" type="ProperNameSimpleType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Entity name.</xsd:documentation>
															<xsd:documentation source="Guidelines" xml:lang="en">=notes=:
1. This must be provided for certain exemptions in the Canadian market.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:extension>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="AutoExchangeInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When true, this request is to be handled by an auto-exchange process .</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="AwardIncludedInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When true, award eligible in addition to priced offers and fares is requested.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="AwardOnlyInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When true, only award eligible offers/ fares are requested.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="SimpleInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When true, Simple Pricing  for flight offers is requested.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="BaggageDeterminingCarrier" type="BaggageDeterminingCarrierType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Baggage Determining Carrier as defined in resolution 722 (f), and who’s baggage rules apply.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BagAllowReqMetadataType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Baggage Allowance Request Metadata definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Shopping" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Shopping Query-Related Metadata.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="ShopMetadataGroup"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Passenger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Passenger Metadata List(s).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="PassengerMetadata"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Other" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="description" xml:lang="en">Other Metadata Lists(s).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OtherMetadata" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation source="description" xml:lang="en">Other Metadata List.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:choice>
									<xsd:element ref="AircraftMetadatas"/>
									<xsd:element ref="AirportMetadatas"/>
									<xsd:element ref="CityMetadatas"/>
									<xsd:element ref="CodesetMetadatas"/>
									<xsd:element ref="ContactMetadatas"/>
									<xsd:element ref="CountryMetadatas"/>
									<xsd:element ref="CurrencyMetadatas"/>
									<xsd:element ref="DescriptionMetadatas"/>
									<xsd:element ref="EquivalentID_Metadatas"/>
									<xsd:element ref="LanguageMetadatas"/>
									<xsd:element ref="PaymentCardMetadatas"/>
									<xsd:element ref="PaymentFormMetadatas"/>
									<xsd:element ref="PriceMetadatas"/>
									<xsd:element ref="RuleMetadatas"/>
									<xsd:element ref="StateProvMetadatas"/>
									<xsd:element ref="ZoneMetadatas"/>
									<xsd:element ref="AddressMetadatas"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
