XmlSchemaClassGenerator.Tests/xsd/iata/OrderListRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/EDIST/2017.2" targetNamespace="http://www.iata.org/IATA/EDIST/2017.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.000" id="IATA2017.2">
	<xsd:include schemaLocation="edist_commontypes.xsd"/>
	<xsd:include schemaLocation="aidm_commontypes.xsd"/>
	<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =

    O R D E R   L I S T   R E S P O N S E   B U S I N E S S   O B J E C T

= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	<xsd:element name="OrderListRS">
		<xsd:annotation>
			<xsd:documentation source="DESCRIPTION" xml:lang="en">The OrderList transaction set retrieves a list of Orders that match one or more search criteria.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Document"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element name="Success" type="SuccessType">
							<xsd:annotation>
								<xsd:documentation>The presence of the empty Success element explicitly indicates that the message succeeded.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Warnings" type="WarningsType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Used in conjunction with the Success element to define one or more business errors.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Response">
							<xsd:annotation>
								<xsd:documentation>Query Results.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="OrderListProcessing" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Transaction Processing Results, including processing status, alerts, notices, business warnings, supplemental marketing messages and policy.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Orders" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Matched Order(s).</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Order" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Matched Order.</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="Agency" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Agency.</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element ref="AgencyID" minOccurs="0"/>
																		<xsd:element name="Name" type="ProperNameSimpleType" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Agency Seller Name.  Example: Carson Travel</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="IATA_Number" type="IATA_NbrSimpleType" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Agency Seller IATA number. Example: 98417900</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="CreationDate" type="xsd:date" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Order Creation Date.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="Departure" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Departure Airport.</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="AirportCode">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Departure Airport Location code. Example: TPA

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="AirportCitySimpleType">
																						<xsd:attributeGroup ref="RadiusAttrGroup">
																							<xsd:annotation>
																								<xsd:documentation source="description" xml:lang="en">Search Radius for specified Airport or City code.</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attributeGroup>
																					</xsd:extension>
																				</xsd:simpleContent>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="Date" type="xsd:date">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Departure date. Example: 2017-01-13

Encoding Scheme: ISO 8601 Date Format (YYYY-MM-DD)</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="Arrival" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Arrival Airport.</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="AirportCode">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Arrival Airport Location code. Example: TPA

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="AirportCitySimpleType">
																						<xsd:attributeGroup ref="RadiusAttrGroup">
																							<xsd:annotation>
																								<xsd:documentation source="description" xml:lang="en">Search Radius for specified Airport or City code.</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attributeGroup>
																					</xsd:extension>
																				</xsd:simpleContent>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="Date" type="xsd:date">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Arrival date. Example: 2017-01-13

Encoding Scheme: ISO 8601 Date Format (YYYY-MM-DD)</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="NbrInParty" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation source="description" xml:lang="en">Number in Party. Example: 2</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:simpleContent>
																		<xsd:extension base="xsd:positiveInteger">
																			<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																		</xsd:extension>
																	</xsd:simpleContent>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="Passengers" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation source="description" xml:lang="en">Passenger and Group information.</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:choice>
																		<xsd:element name="Group" type="GroupType">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Group Information.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="FullName" maxOccurs="unbounded">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Passenger Full Name. Example: JOHN SMITH</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="ProperNameSimpleType">
																						<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																					</xsd:extension>
																				</xsd:simpleContent>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:choice>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="TicketingStatus" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Ticketing Status. Examples: Requested, Ticketed, Other</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:simpleContent>
																		<xsd:extension base="TicketDesigAppListType">
																			<xsd:attribute name="Context" type="ContextSimpleType" use="optional">
																				<xsd:annotation>
																					<xsd:documentation>Context.</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																		</xsd:extension>
																	</xsd:simpleContent>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="OrderID" type="xsd:string">
																<xsd:annotation>
																	<xsd:documentation>Order Identificatio</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="Status" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Current status of the Order Item and related indicators. </xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="StatusCode" type="IATA_CodeType">
																			<xsd:annotation>
																				<xsd:documentation>
                            Current Order Item status. Example: OK (Confirmed) Encoding Scheme: IATA Padis Codeset - List for data element 4405 (Status, coded)
                          </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:attribute name="ChangeOfGaugeInd" type="xsd:boolean" use="optional">
																		<xsd:annotation>
																			<xsd:documentation>
                          When true, the order item cannot be fulfilled due to an aircraft change.
                        </xsd:documentation>
																		</xsd:annotation>
																	</xsd:attribute>
																	<xsd:attribute name="ScheduleChangeInd" type="xsd:boolean" use="optional">
																		<xsd:annotation>
																			<xsd:documentation>
                          When true, the order item cannot be fulfilled due to a flight schedule change.
                        </xsd:documentation>
																		</xsd:annotation>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:element ref="Errors"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderListProcessing" type="OrderListProcessType">
		<xsd:annotation>
			<xsd:documentation>Transaction Processing Results, including processing status, alerts, business warnings, supplemental marketing messages and policy.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OrderListProcessType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Response Message Processing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OrderProcessResultType">
				<xsd:sequence>
					<xsd:element ref="Notices" minOccurs="0"/>
					<xsd:element ref="Remarks" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
